.imcms-loop-item {
	height: 6%;
    cursor: pointer;
    display: flex;
    overflow: hidden;
	padding: 0;
    position: relative;
    width: 100%;
	flex-shrink: 0;
	margin: 0.1% 0 0.1% 0;
}

.imcms-loop-item__info {
    cursor: pointer;
    height: 45px;
    line-height: 45px;
    text-transform: none;
    text-align: left;
    float: left;
	padding: 0 0 0 1%;
	font-weight: normal;
}
.imcms-loop-item__info--id {
	text-align: right;
}

.imcms-loop-item__info--image-container {
	text-align: center;
}
.imcms-loop-item__info--image {
	height: 100%;
}

.imcms-loop-item__info--content {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.imcms-loop-item__info--control {

}

.imcms-loop-item__controls {
    display: none;
	margin-top:  13px;
    position: absolute;
    top: 0;
    right: 27px;
    float: right;
}

.imcms-loop-item:hover {
    background: #d0e9f9;
}

.imcms-loop-item:after {
    content: "";
    display: block;
    clear: both;
}

.imcms-loop-item:hover .imcms-loop-item__controls {
    display: block;
}

.imcms-loop-item__info.imcms-checkbox .imcms-checkbox__label:before {
    top: 15px;
}

.imcms-label.imcms-checkbox__label{
}
