.imcms-menu-editor__body .imcms-loop-list__items {
	height: -webkit-calc(100% - 25px);
	height: -moz-calc(100% - 25px);
	height: -ms-calc(100% - 25px);
	height: -o-calc(100% - 25px);
	height: calc(100% - 25px);
}

.imcms-loop-list__items {
	height: -webkit-calc(100% - 25px);
	height: -moz-calc(100% - 25px);
	height: -ms-calc(100% - 25px);
	height: -o-calc(100% - 25px);
	height: calc(100% - 25px);
	display: flex;
	width: 100%;
	flex-direction: column;
	overflow: auto;
	flex-shrink: 0;
}
.imcms-loop-items-list__item{
	display: flex;
	min-height: 45px;
}
.imcms-loop-items-list__item-dragging{
	opacity: .3;
}