.imcms-menu-editor__body .imcms-loop-list__items {
    height: -webkit-calc(100% - 25px);
    height: -moz-calc(100% - 25px);
    height: -ms-calc(100% - 25px);
    height: -o-calc(100% - 25px);
    height: calc(100% - 25px);
}

.imcms-loop-editor .imcms-document-list__items {
    height: -webkit-calc(100% - 80px);
    height: -moz-calc(100% - 80px);
    height: -ms-calc(100% - 80px);
    height: -o-calc(100% - 80px);
    height: calc(100% - 80px);
}

.imcms-loop-editor .imcms-document-item .imcms-checkbox label:before {
    top: 15px;
}
