.imcms-loop-list__titles {
    padding: 0 27px 0 70px;
    width: 100%;
    border-bottom: 1px solid #d3d8de;
}

.imcms-loop-list__title, .imcms-loop-list-titles__title {
    color: #2e3f47;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

.imcms-loop-list__titles:after {
    content: "";
    display: block;
    clear: both;
}

.imcms-loop-list {
    display: block;
    width: 100%;
    height: 100%;
}
.imcms-loop-list__titles {
	display: flex;
	width: 100%;
	padding: 0 1% 0 1%;
	justify-content: space-between;
}

.imcms-loop-list-titles__title {
	background: rgba(56, 158, 207, 0.2);
	color: #2e3f47;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	font-weight: 600;
	line-height: 24px;
	text-transform: uppercase;
	align-items: center;
	padding: 0 5px;
	margin: 0 1px;
}