.imcms-grid-section {
    width: 100%;
}

.imcms-grid-section:after {
    content: "";
    display: block;
    clear: both;
}

.imcms-document-editor-head-tools__tool--grid-col-2,
.imcms-document-editor-head-tools__tool--grid-col-3,
.imcms-document-editor-head-tools__tool--grid-col-4,
.imcms-document-item__info--col-1,
.imcms-document-item__info--col-2,
.imcms-document-item__info--col-3,
.imcms-document-item__info--col-4,
.imcms-document-item__info--col-5,
.imcms-document-list-titles__title--col-1,
.imcms-document-list-titles__title--col-2,
.imcms-document-list-titles__title--col-3,
.imcms-document-list-titles__title--col-4,
.imcms-document-list-titles__title--col-5,
.imcms-loop-list-titles__title--col-1,
.imcms-loop-list-titles__title--col-2,
.imcms-loop-list-titles__title--col-3,
.imcms-loop-list-titles__title--col-4,
.imcms-loop-list-titles__title--col-5,
.imcms-loop-list-titles__title--col-6,
.imcms-loop-list-titles__title--col-7,
.imcms-loop-list-titles__title--col-8,
.imcms-loop-list-titles__title--col-9,
.imcms-loop-list-titles__title--col-10,
.imcms-loop-list-titles__title--col-11,
.imcms-loop-list-titles__title--col-12,
.imcms-loop-item__info--col-1,
.imcms-loop-item__info--col-2,
.imcms-loop-item__info--col-3,
.imcms-loop-item__info--col-4,
.imcms-loop-item__info--col-5,
.imcms-loop-item__info--col-6,
.imcms-loop-item__info--col-7,
.imcms-loop-item__info--col-8,
.imcms-loop-item__info--col-9,
.imcms-loop-item__info--col-10,
.imcms-loop-item__info--col-11,
.imcms-loop-item__info--col-12,
.imcms-grid-coll-1,
.imcms-grid-coll-2,
.imcms-grid-coll-3,
.imcms-grid-coll-4,
.imcms-grid-coll-5,
.imcms-grid-coll-6,
.imcms-grid-coll-7,
.imcms-grid-coll-8,
.imcms-grid-coll-9,
.imcms-grid-coll-10,
.imcms-grid-coll-11,
.imcms-grid-coll-12 {
    float: left;
}

.imcms-document-list-titles__title--col-1,
.imcms-loop-list-titles__title--col-1,
.imcms-document-item__info--col-1,
.imcms-loop-item__info--col-1,
.imcms-grid-coll-1 {
    width: 8.33%;
}

.imcms-document-editor-head-tools__tool--grid-col-2,
.imcms-document-list-titles__title--col-2,
.imcms-document-item__info--col-2,
.imcms-loop-list-titles__title--col-2,
.imcms-loop-item__info--col-2,
.imcms-grid-coll-2 {
    width: 16.66%;
}

.imcms-document-list-titles__title--col-6 {
    width: 10%;
}

.imcms-document-editor-head-tools__tool--grid-col-3,
.imcms-document-list-titles__title--col-3,
.imcms-document-item__info--col-3,
.imcms-loop-list-titles__title--col-3,
.imcms-loop-item__info--col-3,
.imcms-grid-coll-3 {
    width: 25%;
}

.imcms-document-editor-head-tools__tool--grid-col-4,
.imcms-document-list-titles__title--col-4,
.imcms-document-item__info--col-4,
.imcms-loop-list-titles__title--col-4,
.imcms-loop-item__info--col-4,
.imcms-grid-coll-4 {
    width: 33.33%;
}

.imcms-document-list-titles__title--col-5,
.imcms-loop-list-titles__title--col-5,
.imcms-document-item__info--col-5,
.imcms-loop-item__info--col-5,
.imcms-grid-coll-5 {
    width: 31.66%;
}

.imcms-loop-list-titles__title--col-6,
.imcms-loop-item__info--col-6,
.imcms-grid-coll-6 {
    width: 50%;
}

.imcms-loop-list-titles__title--col-7,
.imcms-loop-item__info--col-7,
.imcms-grid-coll-7 {
    width: 58.33%;
}

.imcms-loop-list-titles__title--col-8,
.imcms-loop-item__info--col-8 {
    width: 66.66%;
}

.imcms-grid-coll-8 {
    width: 58%;
}

.imcms-loop-list-titles__title--col-9,
.imcms-loop-item__info--col-9,
.imcms-grid-coll-9 {
    width: 75%;
}

.imcms-loop-list-titles__title--col-10,
.imcms-loop-item__info--col-10,
.imcms-grid-coll-10 {
    width: 83.33%;
}

.imcms-loop-list-titles__title--col-11,
.imcms-loop-item__info--col-11,
.imcms-grid-coll-11 {
    width: 91.66%;
}

.imcms-loop-list-titles__title--col-12,
.imcms-loop-item__info--col-12,
.imcms-grid-coll-12 {
    width: 100%;
}

.imcms-grid-coll-13,
.imcms-grid-coll-14 {
    width: 12%;
}

.imcms-grid-coll-15 {
    width: 10%;
}

.imcms-grid-coll-16 {
    width: 35%;
}

.imcms-grid-coll-17 {
    width: 14%;
}

