/* *******************************************************************************************
 *         FOR THE CHAT                                                                      *
 ******************************************************************************************* */

	/* Base Fonts */

.chatFont              { font-family: Verdana,Geneva,sans-serif; }
.chatFontNormal        { font-family: Verdana,Geneva,sans-serif; color:#000000; }
.chatFontSystemMessage { font-family: Verdana,Geneva,sans-serif; color:#006600; font-style: italic; }
.chatFontWhisperTo     { font-family: Verdana,Geneva,sans-serif; color:#9999cc; }
.chatFontWhisperFrom   { font-family: Verdana,Geneva,sans-serif; color:#99cc99; }

	/* Special */

.chatControlBody { background-color:#f0f0ff; }
.chatControlBodyTopline { background-color:#000099; }
.chatControlBodyMidline { background-color:#000099; }


.chatSelectBox, .chatInputField, .chatTextarea, .chatControlFont {
	font: 11px Verdana,Geneva,sans-serif; color:#000000;
}

.chatButton, .chatButtonAbort, .chatButtonAdmin, .chatButtonSettings, .chatButtonKickout {
	font: 11px Verdana,Geneva,sans-serif; color:#000000;
	cursor: pointer;
}

.chatButtonSend {
	font: bold 11px Verdana,Geneva,sans-serif; color:#000000;
	cursor: pointer;
}


B { font-weight: bold; }