<html>
<head>
<!--IMSCRIPT-->
<title>#metaHeadline# - Powered by imCode imCMS</title>
<!--/IMSCRIPT-->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<!--IMSCRIPT-->
<center>
#changePage#
<br>
<?imcms:include url="http://localhost/imcms/servlet/HelloWorld"?>

<?imcms:image no="1"?>
<?imcms:text  no="1"?>

<br>
<br>
<?imcms:menu no="1"?>
<table>
<?imcms:menuloop?>
<b>#menuitemimage##menuitemlink##menuitemheadline##/menuitemlink#</b>
<br>#menuitemtext#
<?/imcms:menuloop?>
</table>
<?/imcms:menu?>
<br>

<br>
<?imcms:image no="2"?>
<?imcms:text no="2"?>
<br>
<?imcms:image no="3"?>
<br>
#adminMode#
</center>
<!--/IMSCRIPT-->

</body>
</html>
