<!--IMSCRIPT-->
<html>
<head>
<title>#metaHeadline# - Powered by imCode imCMS</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<STYLE TYPE="text/css">
<!-- 
TD { font: x-small Verdana,Geneva,sans-serif; color:#000000; }
.small { font: xx-small Verdana,Geneva,sans-serif; color:#666666; }
TT { font: x-small "Courier New", Courier, monospace; color:#888888; }
-->
</STYLE>

</head>
<body bgcolor="#FFFFFF">

<div align="center">#adminMode#</div>

<table border="0" cellspacing="0" cellpadding="0">
<tr>
	<td><?imcms:include no="1" label='<? text/1.html/3 ?> 1'?></td>
</tr>
</table>

<table border="0" cellspacing="0" cellpadding="0" width="620" align="center">
<tr>
	<td>
	<?imcms:image no='1' label='<? text/1.html/1 ?> 1'?>
	<?imcms:text no='1' label='Text 1' post='<br><br>'?>
	
	
	<?imcms:menu no="1" label='<? text/1.html/2 ?> 1'?>
	<table border="0" cellspacing="0" cellpadding="3">
	<?imcms:menuloop?>
	<tr valign="top">
		<td>#menuitemimage#</td>
		<td align="right"><tt>#menuitemtreesortkey# [#menuitemlinkonly##menuitemmetaid##/menuitemlinkonly#]</tt></td>
		<td class="small">#menuitemlink##menuitemheadline##/menuitemlink#<div>#menuitemtext#</div></td>
	</tr>
	<?/imcms:menuloop?>
	</table><br>
	<?/imcms:menu?>
	
	<?imcms:text no='2' label='Text 2' pre='<br>'?>
	<?imcms:image no='2' label='<? text/1.html/1 ?> 2' post='<br>'?>
	
	<?imcms:image no="3" label='<? text/1.html/1 ?> 3'?>
	
	<br clear="all">
	<b>Info <?imcms:metaid?>:</b>
#metaHeadline# - Powered by imCode imCMS
	
	<div align="center">#changePage##adminMode#</div></td>
</tr>
</table>

</body>
</html>
<!--/IMSCRIPT-->
