<html>
<head>
<!--IMSCRIPT-->
<title>#metaHeadline# - Powered by imCode imCMS</title>
<!--/IMSCRIPT-->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<!--IMSCRIPT-->
<center>
#changePage#
<br>

#img1#
#txt1#

<br>
#addDoc1#
<br>

#saveSortStart1#
<br>
<table>
<!-- Den känsliga biten kommer här -->
menu no=1 rows=2 table_col=2
<b>#metaImage#<a href=#getChildRef#>#childMetaHeadline#</a></b>
<br>#childMetaText#
<!-- Den känsliga biten är slut -->
</table>
<br>
#saveSortStop1#

<br>
#img2#
#txt2#
<br>
#img3#
<br>
#adminMode#
</center>
<!--/IMSCRIPT-->

</body>
</html>
