<html>
<head>
<title><? sv/postcard/bekraftelse.html/1 ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#FFFFFF" vlink="#FFFFFF" alink="#FFFFFF">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr align="left" valign="top"> 
    <td><img src="@imcmsimageurllang@/105/1x1.gif" width="30" height="20"></td>
    <td>&nbsp;</td>
    <td><img src="@imcmsimageurllang@/105/1x1.gif" width="30" height="20"></td>
  </tr>
  <tr align="left" valign="top"> 
    <td>&nbsp;</td>
    <td>
        <table width="230" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td align="left" valign="top"><img src="@imcmsimageurllang@/105/rub_citat.gif" width="227" height="33"><br>
              <img src="@imcmsimageurllang@/105/1x1.gif" width="5" height="8"> </td>
          </tr>
          <tr> 
            <td align="left" valign="top" class="rubbe12ej"><img src="@imcmsimageurllang@/105/1x1.gif" width="5" height="8"></td>
          </tr>
          <tr> 
            <td align="left" valign="top"><? sv/postcard/bekraftelse.html/2 ?></td>
          </tr>
          <tr> 
            <td align="left" valign="top"><img src="@imcmsimageurllang@/105/1x1.gif" width="5" height="8"></td>
          </tr>
          <tr> 
            <td align="left" valign="top"> <a href="javascript: window.close();"><img src="@imcmsimageurllang@/105/kn_stang.gif" width="49" height="15" border="0" alt="<? sv/postcard/bekraftelse.html/2001 ?>"></a></td>
          </tr>
        </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr align="left" valign="top"> 
    <td><img src="@imcmsimageurllang@/105/1x1.gif" width="30" height="15"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>

</body>
</html>