<html>
<head>
<title>M&aring;Bra</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="@cssurl@/mabra.css" type="text/css">
</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#FFFFFF" vlink="#FFFFFF" alink="#FFFFFF">

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr align="left" valign="top"> 
    <td><img src="@imageurl@/transpix.gif" width="30" height="20"></td>
    <td>&nbsp;</td>
    <td><img src="@imageurl@/transpix.gif" width="30" height="20"></td>
  </tr>
  <tr align="left" valign="top"> 
    <td>&nbsp;</td>
    <td>
        <table width="230" border="0" cellspacing="0" cellpadding="0">
        <form name="form1" method="post" action="">
        <input type="hidden" name="mailSubject" value="">
        <input type="hidden" name="mailTemplate" value="mail_body_postcard.html">
          <tr> 
            <td align="left" valign="top"><img src="@imageurl@/rub_citat.gif" width="227" height="33"><br>
              <img src="@imageurl@/transpix.gif" width="5" height="8"> </td>
          </tr>
          <tr> 
            <td align="left" valign="top"> 
              <table width="230" border="0" cellspacing="0" cellpadding="0">
                <tr align="left" valign="top"><!--IMSCRIPT--> 
                  <td><?imcms:image no="1"?></td>
                  <td><img src="@imageurl@/transpix.gif" width="10" height="10"></td>
                  <td><?imcms:image no="2"?></td>
                </tr><!--/IMSCRIPT-->
                <tr align="left" valign="top"> 
                  <td valign="middle"> 
                    <table width="110" border="0" cellspacing="0" cellpadding="0">
                      <tr align="left" valign="top"> 
                        <td width="10"> 
                          <input type="radio" name="vykort" value="">
                        </td>
                        <td>Bild 1</td>
                      </tr>
                    </table>
                    
                  </td>
                  <td>&nbsp;</td>
                  <td> 
                    <table width="110" border="0" cellspacing="0" cellpadding="0">
                      <tr align="left" valign="top"> 
                        <td width="10"> 
                          <input type="radio" name="vykort" value="">
                        </td>
                        <td>Bild 2</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr align="left" valign="top"> 
                  <td colspan="3"><img src="@imageurl@/transpix.gif" width="10" height="10"></td>
                </tr><!--IMSCRIPT-->
                <tr align="left" valign="top"> 
                  <td><?imcms:image no="3"?></td>
                  <td><img src="@imageurl@/transpix.gif" width="10" height="10"></td>
                  <td><?imcms:image no="4"?></td>
                </tr><!--/IMSCRIPT-->
                <tr align="left" valign="top">
                  <td> 
                    <table width="110" border="0" cellspacing="0" cellpadding="0">
                      <tr align="left" valign="top"> 
                        <td width="10"> 
                          <input type="radio" name="vykort" value="" checked>
                        </td>
                        <td>Bild 3</td>
                      </tr>
                    </table>
                  </td>
                  <td>&nbsp;</td>
                  <td> 
                    <table width="110" border="0" cellspacing="0" cellpadding="0">
                      <tr align="left" valign="top"> 
                        <td width="10"> 
                          <input type="radio" name="vykort" value="">
                        </td>
                        <td>Bild 4</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr align="left" valign="top"> 
                  <td colspan="3"><img src="@imageurl@/transpix.gif" width="10" height="8"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr><!--IMSCRIPT-->
            <td align="left" valign="top" class="rubbe12ej">#param#</td>
          </tr>
          <tr> 
            <td align="left" valign="top"><img src="@imageurl@/transpix.gif" width="5" height="8"></td>
          </tr>
          <tr> 
            <td align="left" valign="top"><?imcms:text no="2"?></td>
          </tr>
          <tr> 
            <td align="left" valign="top"><img src="@imageurl@/transpix.gif" width="5" height="5"></td>
          </tr><!--/IMSCRIPT-->
          <tr> 
            <td align="left" valign="top">V&auml;nnens namn<br>
            <input type="text" name="mailText0" size="30" maxlength="50" value=""></td>
          </tr>
          <tr> 
            <td align="left" valign="top">V&auml;nnens epostadress<br>
            <input type="text" name="mailTo" size="30" maxlength="50" value=""></td>
          </tr>
          <tr> 
            <td align="left" valign="top">Ditt namn<br>
              <input type="text" name="mailText1" size="30" maxlength="50" value=""></td>
          </tr>
          <tr> 
            <td align="left" valign="top">Ditt meddelande<br>
              <textarea cols="30" rows="4" name="mailText2" wrap="soft"></textarea></td>
          </tr>
          <tr>
            <td align="left" valign="top"><img src="@imageurl@/transpix.gif" width="5" height="8"></td>
          </tr>
          <tr> <!-- PostcardServlet?action=preview -->
            <td align="right" valign="top"><a href="preview.html"><img src="@imageurl@/kn_titta_vykort.gif" width="130" height="15" border="0" alt="Titta p&aring; vykortet"></a></td>
          </tr>
        </form>
        </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr align="left" valign="top"> 
    <td><img src="@imageurl@/transpix.gif" width="30" height="15"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<!--IMSCRIPT-->
#adminMode# #changePage# 
<!--/IMSCRIPT-->
</body>
</html>