<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title>Mail Error</title>
</head>

<body>
<table width="760" border="0" cellspacing="0" cellpadding="0">
  <tr align="left" valign="top"> 
    <td colspan="14"><img src="@imcmsimageurllang@/106/1x1.gif" width="15" height="15"></td>
  </tr>
  <tr align="left" valign="top"> 
    <td>&nbsp;</td>
    <td colspan="5"> 
      <table width="420" border="0" cellspacing="0" cellpadding="0">
        <tr align="left" valign="top"> 
          <td> 
            
          <table width="257" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td><img src="@imcmsimageurllang@/106/1x1.gif" width="1" height="15" border="0"></td>
          </tr>
          <tr> 
            <td><SPAN STYLE="color:#CC0000">
<? sv/postcard/mail_error.html/2 ?></SPAN><? sv/postcard/mail_error.html/3 ?></td>
          </tr>
          <tr> 
            <td><img src="@imcmsimageurllang@/106/1x1.gif" width="1" height="10"></td>
          </tr>
          <tr> 
            <td><a href="javascript:history.go(-2);"><img src="@imcmsimageurllang@/106/kn_tillbaka.gif" width="72" height="15" border="0"></a></td>
          </tr>
        </table>


</body>
</html>
