<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title>Mail Error</title>
</head>

<body>
<table width="760" border="0" cellspacing="0" cellpadding="0">
  <tr align="left" valign="top"> 
    <td colspan="14"><img src="@imageurl@/transpix.gif" width="15" height="15"></td>
  </tr>
  <tr align="left" valign="top"> 
    <td>&nbsp;</td>
    <td colspan="5"> 
      <table width="420" border="0" cellspacing="0" cellpadding="0">
        <tr align="left" valign="top"> 
          <td> 
            
          <table width="257" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td><img src="@imageurl@/1x1.gif" width="1" height="15" border="0"></td>
          </tr>
          <tr> 
            <td><SPAN STYLE="color:#CC0000">
<b>Ett fel uppstod!</b></SPAN><br><br>

Antingen har du fyllt i uppgifterna fel, eller ocks&aring; &auml;r det n&aring;got fel i systemet f&ouml;r tillf&auml;llet.<br><br>

G&aring; tillbaka och r&auml;tta ev. fel och f&ouml;rs&ouml;k igen.</td>
          </tr>
          <tr> 
            <td><img src="@imageurl@/transpix.gif" width="1" height="10"></td>
          </tr>
          <tr> 
            <td><a href="javascript:history.go(-2);"><img src="@imageurl@/kn_tillbaka.gif" width="72" height="15" border="0"></a></td>
          </tr>
        </table>


</body>
</html>
