<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title>Untitled</title>
</head>

<body>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
	<td align="center">
  <table border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td height="30"><a href="javascript:history.go(-1)" target="_top"><img src="@imcmsimageurllang@/admin/kn_andra_vykort.gif" width="62" height="15" border="0" alt="&Auml;ndra vykort"></a></td>
    <td><img src="@imcmsimageurllang@/admin/transpix.gif" width="20" height="1"></td>
    <td align="right"><a href="PostcardServlet?action=sendmail" target="_top"><img src="@imcmsimageurllang@/admin/kn_skicka.gif" width="60" height="15" border="0" alt="Skicka iv&auml;g vykort "></a></td>
  </tr>
  </table></td>
</tr>
</table>


</body>
</html>
