.imcms-image-characteristic {
    line-height: 64px;
}

.imcms-image-characteristics__img-title {
    float: left;
}

.imcms-image-characteristics__img-origin-size {
    font-weight: 400;
    float: right;
    margin-right: 5%;
}

.imcms-img-origin-size {
    font-weight: 400;
    line-height: 64px;
    float: left;
    margin-left: 5px;
}

.imcms-image-characteristic__origin-size {
    float: right;
}

.imcms-image-characteristic__origin-size * {
    font-weight: 400;

}

.imcms-image-characteristics__img-url {
    font-weight: 400;
    float: right;
    height: 64px;
}

.imcms-image-characteristics__img-url span {
    margin-left: 5px;
}

.imcms-image-characteristics__button {
    line-height: 64px;
    display: none;
}

.imcms-image-characteristics__button--toolbar {
    float: left;
    margin-right: 2%;
}

.imcms-image-characteristics__button--right-panel {
    float: right;
    margin-left: 2%;
}

@media screen and (max-width: 790px) {
    .imcms-image-characteristics__img-origin-size {
        margin-right: 1%;
    }
}
