.imcms-editable-img-area {
    display: block;
    overflow: auto;
    position: relative;
    width: 100%;
    height: 85%;
    height: -webkit-calc(100% - 125px);
    height: -moz-calc(100% - 125px);
    height: -o-calc(100% - 125px);
    height: calc(100% - 125px);
    z-index: 15;
}

.imcms-editable-img {
    background: 0 0 no-repeat;
    display: block;
    position: relative;
    z-index: 20;
}

.imcms-editable-img-area__layout {
    background: rgba(37, 34, 34, .5);
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 30;
}

.imcms-preview-img-area {
    background-color: #f3f3fc;
    display: none;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    height: -webkit-calc(100% - 125px);
    height: -moz-calc(100% - 125px);
    height: -o-calc(100% - 125px);
    height: calc(100% - 125px);
    z-index: 10;
}

.imcms-preview-img-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10003;
}

.imcms-preview-img {
    max-width: none;
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
}