#set ( $basepath = "sql/base/$targetDatabase" )
#set ( $dbprops = $properties.load("sql/base/$targetDatabase/db.props") )
#set ( $fname= "sql/base/$targetDatabase/table.vm" )
#set ( $fnamekeys= "sql/base/$targetDatabase/tablefk.vm" )
#set ( $idname = "sql/id-table/idtable.$targetDatabase" )
#set ( $database = $dataModels.get(0).database )
/*
    Tables
*/

#foreach ($tbl in $database.tables)#if (!$tbl.isSkipSql())$generator.parse($fname,"","table",$tbl)#end#end

/*
    Foreign keys
*/

#foreach ($tbl in $database.tables)#if (!$tbl.isSkipSql())$generator.parse($fnamekeys,"","tablefk",$tbl)#end#end    
