/* *******************************************************************************************
 *         Tests                                                                             *
 ******************************************************************************************* */

.imcmsAdmHeadingTop { font: bold 17px Tahoma,Arial,Verdana,sans-serif; color:#ffffff; }
.imcmsAdmHeading    { font: bold 11px Tahoma,Arial,sans-serif; color:#20568D; }

.imcmsAdmText, .imcmsAdmTable TD, INPUT, SELECT, TEXTAREA, .imcmsAdmForm {
	font: 11px Tahoma,Arial,sans-serif; color:#000000; }

.imcmsAdmComment, .imcmsAdmTable .imcmsAdmComment, .imcmsAdmTextSmall, .imcmsAdmTable .imcmsAdmTextSmall {
	font: 10px Tahoma,Arial,sans-serif; color:#000000; }
.imcmsAdmDim, .imcmsAdmTable .imcmsAdmDim {
	font: 10px Tahoma,Arial,sans-serif; color:#999999; }

  /* DocFoot notations */

.imNote             { font: 10px Tahoma,Arial,sans-serif; color:#cc0000; }
.imNoteComment      { font: 10px Tahoma,Arial,sans-serif; color:#999999; }

/* *******************************************************************************************
 *         BG Colors                                                                         *
 ******************************************************************************************* */

.imcmsAdmBgHead { background-color:#20568D; color:#ffffff; }
.imcmsAdmBgCont { background-color:#f5f5f7; color:#000000; }
.imcmsAdmBorder { background-color:#e1ded9; }

/* *******************************************************************************************
 *         Buttons                                                                           *
 ******************************************************************************************* */

.imcmsFormBtn {
	background-color: #20568D;
	color: #ffffff;
	font: 11px Tahoma, Arial, sans-serif;
	border: 2px outset #668DB6;
	border-color: #668DB6 #000000 #000000 #668DB6;
	cursor:hand;
	height:24;
	padding: 2 8; }

.imcmsFormBtnSmall {
	background-color: #20568D;
	color: #ffffff;
	font: 10px Tahoma, Arial, sans-serif;
	border: 2px outset #668DB6;
	border-color: #668DB6 #000000 #000000 #668DB6;
	cursor:hand;
	height:18;
	padding: 0 2; }

/* *******************************************************************************************
 *         Misc                                                                              *
 ******************************************************************************************* */

.red   { color:#cc0000; }
.white { color:#ffffff; }

BODY { margin: 30 10; background-color:#efece7; }
B    { font-weight:bold; }
I    { font-style:italic; }

