/* *******************************************************************************************
 *         Texts                                                                             *
 ******************************************************************************************* */

.imcmsAdmHeadingTop { font: bold 18px Tahoma,Arial,Verdana,sans-serif; color:#ffffff; }
.imcmsAdmHeading    { font: bold 12px Tahoma,Arial,sans-serif; color:#20568D; }

.imcmsAdmText, .imcmsAdmTable TD, INPUT, SELECT, TEXTAREA, .imcmsAdmForm {
	font: 12px Tahoma,Arial,sans-serif; color:#000000; }

.imcmsAdmComment, .imcmsAdmTable .imcmsAdmComment, .imcmsAdmTextSmall, .imcmsAdmTable .imcmsAdmTextSmall {
	font: 11px Tahoma,Arial,sans-serif; color:#000000; }
.imcmsAdmDim, .imcmsAdmTable TD .imcmsAdmDim {
	font: 11px Tahoma,Arial,sans-serif; color:#999999; }

  /* DocFoot notations */

.imNote             { font: 11px Tahoma,Arial,sans-serif; color:#cc0000; }
.imNoteComment      { font: 11px Tahoma,Arial,sans-serif; color:#999999; }

/* *******************************************************************************************
 *         BG Colors                                                                         *
 ******************************************************************************************* */

.imcmsAdmBgHead { background-color:#20568D; color:#ffffff; }
.imcmsAdmBgCont { background-color:#f5f5f7; color:#000000; }
.imcmsAdmBorder { background-color:#e1ded9; }

/* *******************************************************************************************
 *         Forms                                                                             *
 ******************************************************************************************* */

.imcmsFormBtn, .imcmsAdmTable TD .imcmsFormBtn {
	color: #ffffff;
	font: 12px Tahoma, Arial, sans-serif;
}

.imcmsFormBtnSmall {
	color: #ffffff;
	font: 11px Tahoma, Arial, sans-serif;
}

/* *******************************************************************************************
 *         Misc                                                                              *
 ******************************************************************************************* */

.red   { color:#cc0000; }
.white { color:#ffffff; }

BODY { margin: 30 10; background-color:#efece7 }
B { font-weight:bold; }
I { font-style:italic; }

