<FORM METHOD=POST ACTION="#servlet_url#AddDoc">
<HR width=150>
  <TABLE BORDER = 0>
	<TR> 
	  <TD><font size="2" face="Verdana, Arial, Helvetica, sans-serif"> Create: </font></TD>
	  <TD>&nbsp;</TD>
	</TR>
	<TR> 
	  <TD> 
		<SELECT NAME=edit_menu SIZE=1>
		  #doc_types#
		</SELECT> 
		<INPUT TYPE=SUBMIT VALUE="OK" NAME="submit">&nbsp; <a href="javascript:openHelp('79');"><img src="@imageurl@/se/helpimages/btn_help_round_white-bg.gif" width="19" height="21" border="0" alt="Open Help"></a></NOBR>
	  </TD>
	  <SCRIPT language=JavaScript>
		<!--
		function openHelp(id){
			window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');
		}
		//-->
		</SCRIPT>
	</TR>
	<INPUT TYPE=HIDDEN NAME=meta_id VALUE="#getMetaId#">
	<INPUT TYPE=HIDDEN NAME=doc_menu_no VALUE="#doc_menu_no#">
	<INPUT TYPE=HIDDEN NAME=txt_max VALUE="9">
	<INPUT TYPE=HIDDEN NAME=img_max VALUE="9">
  </TABLE>
</FORM>
