<html>
<head>
<title>Add/edit users</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language=JavaScript>
<!--

function evalPrepareAdd() {
  // Lets check that those fields which are mandatory 
	var valFieldsOk 
	valFielsOk = true

	if( document.UserInfo.login_name.value == "" ) valFieldsOk = false  	
	//if( document.UserInfo.password1.value == "" ) valFieldsOk = false  	
	//if( document.UserInfo.password2.value == "" ) valFieldsOk = false  	
	if( document.UserInfo.first_name.value == "" ) valFieldsOk = false  	
	if( document.UserInfo.last_name.value == "" ) valFieldsOk = false  	

	if(valFieldsOk == "") {
		var msg = "You have not filled in an obligatory field! Please fill in all obligatory information fields."
		alert(msg)
		return false	
	}


	var userType 
	userType = document.UserInfo.user_type.selectedIndex 
	
// Lets check if the user has make a choice
	if(userType == "-1") {
		var msg = "You have not selected a type of user! Please choose a user type. "
		alert(msg)
		return false	
	}

	var userRole 
	userRole = document.UserInfo.roles.selectedIndex 
	if(userRole == "-1") {
		var msg = "You have not selected a role for the user! Please choose which role(s) "
		msg += "the user should have."
		alert(msg)
		return false	
	}

	return true
}

//-->
</SCRIPT>
</head>

<body bgcolor="#FFFFFF">
<form method="post" action="#SERVLET_URL#AdminUserProps" name="UserInfo">
  <input type="hidden" name="CURR_USER_ID" value="#CURR_USER_ID#">
  <input type="hidden" name="adminTask" value="#ADMIN_TASK#">
  <table width="40%" border="0" cellspacing="0">
    <tr bgcolor="#333366"> 
      <td width="5%">&nbsp;</td>
      <td colspan="3"> 
        <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Add 
          /edit user</font></b></div>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td colspan="3"><font size="2"> <font face="Verdana, Arial, Helvetica, sans-serif">Please 
        note that all of the fields must be filled in so that the user can be 
        created! </font></font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Name 
        of user</font></td>
      <td width="4%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">*</font></td>
      <td width="66%"> <font size="2"> 
        <input type="text" name="login_name" size="25" value="#LOGIN_NAME#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Password:</font></td>
      <td width="4%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">*</font></td>
      <td width="66%"> <font size="2"> 
        <input type="password" name="password1" size="25" value="#PWD1#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Please 
        verify password:</font></td>
      <td width="4%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">*</font></td>
      <td width="66%"> <font size="2"> 
        <input type="password" name="password2" size="25" value="#PWD2#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Given 
        name:</font></td>
      <td width="4%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">*</font></td>
      <td width="66%"> <font size="2"> 
        <input type="text" name="first_name" size="25" value="#FIRST_NAME#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Family 
        name:</font></td>
      <td width="4%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">*</font></td>
      <td width="66%"> <font size="2"> 
        <input type="text" name="last_name" size="25" value="#LAST_NAME#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Street 
        address:</font></td>
      <td width="4%"><font size="2">&nbsp;</font></td>
      <td width="66%"> <font size="2"> 
        <input type="text" name="address" size="25" value="#ADDRESS#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Postal 
        code(zip/pin):</font></td>
      <td width="4%"><font size="2">&nbsp;</font></td>
      <td width="66%"> <font size="2"> 
        <input type="text" name="zip" size="25" value="#ZIP#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
        Town:</font></td>
      <td width="4%"><font size="2">&nbsp;</font></td>
      <td width="66%"> <font size="2"> 
        <input type="text" name="city" size="25" value="#CITY#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">County:</font></td>
      <td width="4%"><font size="2">&nbsp;</font></td>
      <td width="66%"> <font size="2"> 
        <input type="text" name="country_council" size="25" value="#COUNTRY_COUNCIL#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Country:</font></td>
      <td width="4%"><font size="2">&nbsp;</font></td>
      <td width="66%"> <font size="2"> 
        <input type="text" name="country" size="25" value="#COUNTRY#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">E-mail:</font></td>
      <td width="4%"><font size="2">&nbsp;</font></td>
      <td width="66%"> <font size="2"> 
        <input type="text" name="email" size="25" value="#EMAIL#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Language:</font></td>
      <td width="4%">&nbsp;</td>
      <td width="66%"><font size="2"><font face="Verdana, Arial, Helvetica, sans-serif"> 
        <select name="lang_id" size="2">
           #LANG_TYPES#
		</select>
        </font></font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%">&nbsp;</td>
      <td width="4%">&nbsp;</td>
      <td width="66%"><font size="2"> </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font></td>
      <td width="20%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Telephone 
        number:</font></td>
      <td width="4%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font></td>
      <td width="66%"><font size="2"> 
        <select name="user_phones" multiple size="1">
          #PHONES_MENU#
        </select>
        <input type="submit" name="edit_phones" value="Edit">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Activated:</font></td>
      <td width="4%"><font size="2">&nbsp;</font></td>
      <td width="66%"> <font size="2"> 
        <input type="checkbox" name="active" value="#ACTIVE#" #ACTIVE_FLAG#>
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Date 
        created:</font></td>
      <td width="4%"><font size="2">&nbsp;</font></td>
      <td width="66%"> <font size="2"> <font face="Verdana, Arial, Helvetica, sans-serif">#USER_CREATE_DATE# 
        &nbsp;</font></font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">User 
        type: </font></td>
      <td width="4%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">*</font></td>
      <td width="66%"><font size="2"><font face="Verdana, Arial, Helvetica, sans-serif"> 
        <select name="user_type">
           #USER_TYPES#
             
		</select>
        </font><font size="2"><font face="Verdana, Arial, Helvetica, sans-serif"> 
        <!--Anonymous users: users which are not logged into the system.<br--></font></font><font face="Verdana, Arial, Helvetica, sans-serif"> 
        </font></font><font size="2"> <font face="Verdana, Arial, Helvetica, sans-serif"> 
        Authenticated users: users logged into the system using their assigned 
        user name and password. <br>
        </font></font><font size="2"><font face="Verdana, Arial, Helvetica, sans-serif">Conference 
        users: users who sign into the system on their own.</font></font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Roles: 
        </font></td>
      <td width="4%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">*</font></td>
      <td width="66%"> <font size="2"> 
        <select name="roles" multiple size="5">
          #ROLES_MENU#
        </select>
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2">&nbsp;</font> </td>
      <td width="4%"><font size="2">&nbsp;</font></td>
      <td width="66%"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif">* 
        means that that field must be filled in. </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td colspan="3"> 
        <p> 
          <input type="submit" name="SAVE_USER" value="Save" onClick="if(evalPrepareAdd()==false)return false; return true;">
          <input type="reset" name="Reset" value="Reset">
          <input type="submit" name="GO_BACK" value="Cancel">
        </p>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td colspan="3">&nbsp;</td>
      <td width="5%">&nbsp;</td>
    </tr>
  </table>
  </form>
<p>&nbsp; </p>
</body>
</html>
