<html>
<head>
<title>imCMS Administration Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language="Javascript">
<!--

function openHelp(id){
	window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');
}

-->
</SCRIPT>

</head>

<body bgcolor="#FFFFFF">
<form method="post" action="AdminManager" name="AdminManager">
  <table width="40%" border="0" cellspacing="0">
	<tr bgcolor="#333366">
      <td width="5%">&nbsp;</td>
      <td colspan="2">
	<div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Administration Menu</font></b></div>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa">
      <td width="5%">&nbsp;</td>
      <td colspan="2">
		<div align="left"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Select an
		  administrator function.</font></div>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa">
      <td width="5%">&nbsp;</td>
      <td colspan="2">
	<select name="AdminTask">
	  <option value="No_Choice" selected>-- Select an administrator function --</option>
	  <option value="ListDocs">          Changed documents                     </option>
	  <option value="UrlDocTest">        Check internet links                  </option>
	  <option value="AdminConference">   Conferences                           </option>
	  <option value="CounterStart">      Counter                               </option>
	  <option value="FileAdmin">         File manager                          </option>
	  <option value="IP-access">         IP-access                             </option>
	  <option value="MetaAdmin">         List all documents                    </option>
	  <option value="AdminQuestions">    Polls                                 </option>
	  <option value="AdminRandomTexts">  Random/timed image/text               </option>
	  <option value="DeleteDocs">        Remove a document                     </option>
	  <option value="AdminRoles">        Roles                                 </option>
	  <option value="AdminSection">      Sections                              </option>
	  <option value="SystemMessage">     System settings                       </option>
	  <option value="AddTemplates">      Templates                             </option>
	  <option value="UserStart">         Users                                 </option>
	</select>
	<input type="submit" name="submit" value="Go to Admin page">&nbsp; <a href="GetDoc?meta_id=228" target="_blank" onClick="openHelp('228'); return false;"><img src="@imcmsimageurl@/en/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="Open help page"></a>
</td>



      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa">
      <td width="5%">&nbsp;</td>
      <td colspan="2">&nbsp;</td>
      <td width="5%">&nbsp;</td>
    </tr>
  </table>
  <p><a href="StartDoc">Back to start page</a></p>
  </form>
</body>
</html>
