<html>
<head>
<title>imCMS Adminstrator Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language="Javascript">
<!--
function openHelp(id){
	window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');
}
//-->
</SCRIPT>

</head>

<body bgcolor="#FFFFFF">
<table width="60%" border="0" cellspacing="0">
  <tr bgcolor="#333366"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">System Information</font></b></div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <div align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><b>Select
		a system message</b></font></div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td colspan="2"> 
	  <div align="left"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">The current message from the System Administrator appears in the text field below.</font></div>
	</td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td colspan="2"> 
	  <form method="post" action="#SERVLET_URL#AdminSystemInfo">
		<font size="2"> </font> 
		<table width="100%" border="0">
		  <tr> 
			<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Current
			  system message:</font></td>
			<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#SYSTEM_MESSAGE#</font></td>
		  </tr>
		  <tr> 
			<td width="32%" height="8"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Change 
			  system message:</font></td>
			<td width="68%" height="8"> 
			  <textarea name="SYSTEM_MESSAGE" cols="40" rows="4">#SYSTEM_MESSAGE#</textarea>
			  <input type="submit" name="SetSystemMsg" value="Submit">
			</td>
		  </tr>
		</table>
		<font size="2"> </font> 
	  </form>
	</td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <hr>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <div align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><b>Insert 
		Server Master</b></font></div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td colspan="2"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Below is the name of the technician responsible for this system. 
	   
	  </font></td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td colspan="2"> 
	  <form method="post" action="#SERVLET_URL#AdminSystemInfo">
		<table width="100%" border="0">
		  <tr> 
			<td width="32%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Current 
			  Server Master:</font></td>
			<td width="68%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#SERVER_MASTER#</font></td>
		  </tr>
		  <tr> 
			<td width="32%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Change 
			  Server Master:</font></td>
			<td width="68%"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
			  <input type="text" name="SERVER_MASTER" value="#SERVER_MASTER#" maxlength="80" size="40">
			  </font></td>
		  </tr>
		  <tr> 
			<td width="32%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Current 
			  Server Master's e-mail:</font></td>
			<td width="68%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#SERVER_MASTER_EMAIL#</font></td>
		  </tr>
		  <tr> 
			<td width="32%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Change 
			  Server Master's e-mail:</font></td>
			<td width="68%"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
			  <input type="text" name="SERVER_MASTER_EMAIL" value="#SERVER_MASTER_EMAIL#" maxlength="80" size="40">
			  <input type="submit" name="SetServerMasterInfo" value="Submit">
			  </font></td>
		  </tr>
		</table>
		<font size="2"><br>
		</font> 
	  </form>
	</td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <hr>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <div align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><b>Insert 
		Web Master</b></font></div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td colspan="2"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Below is the person responsible for layout within the system. 
	  </font></td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <form method="post" action="#SERVLET_URL#AdminSystemInfo">
		<table width="100%" border="0">
		  <tr> 
			<td width="33%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Current 
			  Web Master:</font></td>
			<td width="67%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#WEB_MASTER#</font></td>
		  </tr>
		  <tr> 
			<td width="33%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Change 
			  Web Master:</font></td>
			<td width="67%"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
			  <input type="text" name="WEB_MASTER" value="#WEB_MASTER#" maxlength="80" size="40">
			  </font></td>
		  </tr>
		  <tr> 
			<td width="33%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Current 
			  Web Master's e-mail:</font></td>
			<td width="67%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#WEB_MASTER_EMAIL#</font></td>
		  </tr>
		  <tr> 
			<td width="33%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Change 
			  Web Master's e-mail:</font></td>
			<td width="67%"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
			  <input type="text" name="WEB_MASTER_EMAIL" value="#WEB_MASTER_EMAIL#" maxlength="80" size="40">
			  <input type="submit" name="SetWebMasterInfo" value="Submit">
			  </font></td>
		  </tr>
		</table>
		<br>
	  </form>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <div align="center"> 
		<form method="get" action="#SERVLET_URL#AdminManager">
		  <div align="left"> 
			<input type="submit" name="submit" value="Back">&nbsp; <a href="javascript:openHelp('35');"><img src="@imageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="Open Help></a>
		  </div>
		</form>
	  </div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
</table>
  </body>
</html>
