  <tr>
    
  <td><a name="#META_ID#" target="_blank" href="/servlet/AdminDoc?meta_id=#META_ID#"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FF0000">#META_ID#</font></a></td>
    <td><a name="#META_ID#" target="_blank" href="/servlet/GetDoc?meta_id=#META_ID#"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">#HEADER#</font></a></td>
    <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2">#DOC_TYPE#</font></td>
    <td nowrap><font face="Verdana, Arial, Helvetica, sans-serif" size="2">#DATE#</font></td>
  </tr>
