<html>
<head>
<title>Create new or change users</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language="Javascript">
<!--

function closeThisWindow() {
	window.close();
} //END FUNCTION CloseThisWindow

function confirmDeleteUser(){
	if(confirm("Warning! The user will be removed from the system! Continue?"))
		return true
	else 
		return false
}

function evalEditUser() {
	var userId
	userId = document.argumentForm.user_Id.selectedIndex
	if(userId == "-1" ) {
		alert("Please select a user first!")
		return false
	} else
		return true
}

function openHelp(id){
	window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');
}
//-->
</SCRIPT>
</head>
<body bgcolor="#FFFFFF">
<table width="40%" border="0" cellspacing="0">
  <tr bgcolor="#333366"> 
	<td width="5%">&nbsp;</td>
	<td width="90%"> 
	  <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Create new or change user</font></b></div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td width="90%"> <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Mark the user whose attributes you wish to change, and then push "edit".</font></td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td width="90%">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td width="90%"> 
	  <form method="get" action="AdminUser" name="user_categoriesForm">
		<font face="Verdana, Arial, Helvetica, sans-serif" size="2">User category: 
		<br>
		<select name="user_categories">
           #USER_TYPES#
          
        </select>
		<br>
		<br>
		<input type="submit" name="showUsers" value="Show users" >
		</font> 
	  </form>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td width="90%"> <font size="2">&nbsp; </font> </td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td width="90%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">User</font></td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%" height="24">&nbsp;</td>
	<td width="90%" height="24"> 
	  <form method="post" action="AdminUser" name="argumentForm" target="_top">
		<select name="user_Id" size="5">
          #USERS_MENU#
        </select>
		<br>
		<br>
		<input type="submit" name="ADD_USER" value="New user">
		<input type="submit" name="CHANGE_USER" value="Edit" onClick="if(evalEditUser()==false)return false; return true;">
		<input type="submit" name="GO_BACK" value="Back">&nbsp; <a href="GetDoc?meta_id=238" target="_blank" onClick="openHelp('238'); return false;"><img src="@imageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="Open help"></a>
	  </form>
	  &nbsp; <font size="2"> </font> </td>
	<td width="5%" height="24">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td width="90%"> <font size="2">&nbsp; </font> </td>
	<td width="5%">&nbsp;</td>
  </tr>
</table>
</body>
</html>
