<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html40/strict.dtd">
<html>
<head>
<title>Administrate roles </title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language="Javascript">
<!--
function openHelp(id){
	window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');
}
//-->
</SCRIPT>

</head>

<body bgcolor="#FFFFFF">
<form method="post" action="AdminRoleBelongings" name="UserInfo">
  <table width="40%" border="0" cellspacing="0">
	<tr bgcolor="#333366"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Administrate 
          users and roles</font></b></div>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
      <font face="Verdana, Arial, Helvetica, sans-serif">
        <input type="HIDDEN" name="CURENT_ROLE_ID" value="#CURENT_ROLE_ID#">
        Current role: #CURENT_ROLE_NAME#
          </font>
        </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
        <table width="100%" border="0">
          <tr> 
            <td width="50%"><font face="Verdana, Arial, Helvetica, sans-serif">Users:</font></td>
            <td width="50%"><font face="Verdana, Arial, Helvetica, sans-serif">Roles:</font></td>
          </tr>
          <tr> 
            <td width="50%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
              <select name="USER_ID" size="10" multiple>
          #USER_MENU#
              </select>
              </font></td>
            <td width="50%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
              <select name="ROLE_ID" size="10">
          #ROLES_MENU#
              </select>
              </font></td>
          </tr>
        </table>
      </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%">&nbsp;</td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
        <input type="submit" name="BELONGING_ADD_ROLE" value="Add" >
        <input type="submit" name="BELONGING_REMOVE_ROLE" value="Remove" >
        <input type="submit" name="BELONGING_MOVE_ROLE" value="Move" >
        <input type="submit" name="BELONGING_CANCEL" value="Cancel">&nbsp; <a href="GetDoc?meta_id=204" target="_blank" onClick="openHelp('204'); return false;"><img src="@imageurl@/en/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
      </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp; </td>
	  <td width="90%">&nbsp; </td>
	  <td width="5%">&nbsp; </td>
	</tr>
  </table>
  </form>
</body>
</html>
