
<table width="81%" border="1" height="69">
  <tr> 
    <td width="19%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Submit</font></td>
    <td width="24%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Country code</font></td>
    <td width="9%"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Area code</font></td>
    <td width="18%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Telephone number</font></td>
  </tr>
  <tr> 
    <td width="19%"> <font face="Arial, Helvetica, sans-serif" size="1"> 
      <input type="hidden" name="PHONE_ID_#RECORD_COUNTER#" value="#PHONE_ID#">
      <input type="hidden" name="PHONE_USER_ID_#RECORD_COUNTER#" value="#USER_ID#">
      <input type="checkbox" name="EDIT_PHONE_ID" value="#RECORD_COUNTER#">
      </font></td>
    <td width="24%"> <font face="Arial, Helvetica, sans-serif" size="1"> 
      <input type="text" name="COUNTRY_CODE_#RECORD_COUNTER#" value="#COUNTRY_CODE#" size="12" maxlength="15">
      </font></td>
    <td width="9%"><font face="Arial, Helvetica, sans-serif" size="1"> 
      <input type="text" name="AREA_CODE_#RECORD_COUNTER#" value="#AREA_CODE#" size="12" maxlength="15">
      </font></td>
    <td width="18%"> <font face="Arial, Helvetica, sans-serif" size="1"> 
      <input type="text" name="NUMBER_#RECORD_COUNTER#" value="#NUMBER#" size="12" maxlength="15">
      </font></td>
  </tr>
</table>
  