<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html40/strict.dtd">
<html>
<head>
<title>Administrate role membership</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>

<body bgcolor="#FFFFFF">
<table width="100%" border="0">
  <tr> 
    <td><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Meta ID</font></b></td>
    <td><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Page type</font></b></td>
    <td><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Header</font></b></td>
    <td><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Text</font></b></td>
    <td><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Modified</font></b></td>
    <td><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Modified by</font></b></td>
  </tr>
  <tr> 
    #LIST_DOCUMENT#
  </tr>
</table>
</body>
</html>
