<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html40/strict.dtd">
<html>
<head>
<title>Administrate roles</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language="Javascript">
<!--
function openHelp(id){
	window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');
}
//-->
</SCRIPT>

</head>

<body bgcolor="#FFFFFF">
<form method="post" action="AdminRoleBelongings" name="UserInfo">
  <table width="40%" border="0" cellspacing="0">
	<tr bgcolor="#333366"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Administrate 
          users and roles</font></b></div>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%">&nbsp; </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<font size="2" face="Verdana, Arial, Helvetica, sans-serif">select a role/all: 
          <select name="ROLE_ID" size="3">
            <option value="ALL_USERS" selected>All</option>
            #ROLES_MENU#
          </select>
		  </font></p>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%">&nbsp;</td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
        <input type="submit" name="VIEW_USER_BELONGING_ROLE" value="Administrate" >
        <input type="submit" name="VIEW_USER_ACTIVATE" value="De-/Activate" >
        <input type="submit" name="CANCEL" value="Back">&nbsp; <a href="GetDoc?meta_id=229" target="_blank" onClick="openHelp('229'); return false;"><img src="@imcmsimageurl@/en/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
      </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp; </td>
	  <td width="90%">&nbsp; </td>
	  <td width="5%">&nbsp; </td>
	</tr>
  </table>
  </form>
</body>
</html>
