<html>
<head>
<title>Administrate telephone numbers</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language=JavaScript>
<!--

function closeThisWindow() {
	window.close();
} //END FUNCTION CloseThisWindow

function confirmDeletetion(){
	if(confirm("Warning! You are about to remove IP accesses! Do you wish to continue?"))
		return true
	else 
		return false
}

function evalEditUser() {
	var userId
	userId = document.argumentForm.user_Id.selectedIndex
	if(userId == "-1" ) {
		alert("You must select a user first!")
		return false
	} else
		return true
}

//-->
</SCRIPT>
</head>
<body bgcolor="#FFFFFF">
<form method="post" action="#SERVLET_URL#AdminUserPhones" name="argumentForm">
  <table width="40%" border="0" cellspacing="0">
	<tr bgcolor="#333366"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"> 
        <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Administrate
          telephone numbers </font></b></div>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%">
        <input type="hidden" name="CURR_USER_FIELD" value="#USER_ID#">
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Below 
        are the telephone numbers of the users.</font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"><font face="Arial, Helvetica, sans-serif" size="1"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">User: 
        #USER_NAME#</font></font> </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">#ALL_USER_PHONES# 
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%" height="23">&nbsp; </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%" height="26"> 
        <input type="submit" name="ADD_NEW_PHONE_PAGE" value="Add">
        <input type="submit" name="RESAVE_PHONES" value="Save" >
        <input type="submit" name="DELETE_PHONES" value="Delete">
        <input type="submit" name="CANCEL_PHONE" value="Back" >
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%">&nbsp;</td>
      <td width="5%">&nbsp;</td>
    </tr>
  </table>
  </form>
</body>
</html>
