<html>
<head>
<title>Administrate roles</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language=JavaScript>
<!--

function evalPrepareAdd() {
  // Lets check that those fields which are mandatory 
	var valFieldsOk 
	valFielsOk = true

	if( document.UserInfo.login_name.value == "" ) valFieldsOk = false  	
	if( document.UserInfo.password1.value == "" ) valFieldsOk = false  	
	if( document.UserInfo.password2.value == "" ) valFieldsOk = false  	
	if( document.UserInfo.first_name.value == "" ) valFieldsOk = false  	
	if( document.UserInfo.last_name.value == "" ) valFieldsOk = false  	

	if(valFieldsOk == "") {
		var msg = "You have not filled in an obligatory information field! Please fill in all obligatory fields!"
		alert(msg)
		return false	
	}


	var userType 
	userType = document.UserInfo.user_type.selectedIndex 
	
// Lets check if the user has make a choice
	if(userType == "-1") {
		var msg = "You have not selected type of user! Please choose a user type "
		alert(msg)
		return false	
	}

	var userRole 
	userRole = document.UserInfo.roles.selectedIndex 
	if(userRole == "-1") {
		var msg = "You have not chosen a role for the user! Select which role(s)"
		msg += "the user should have."
		alert(msg)
		return false	
	}

	return true
}

//-->
</SCRIPT>
</head>

<body bgcolor="#FFFFFF">
<form method="post" action="#SERVLET_URL#AdminRoles" name="UserInfo">
  <table width="40%" border="0" cellspacing="0">
	<tr bgcolor="#333366"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Administrate 
		  roles</font></b></div>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%">&nbsp; </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<p><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Existing
		  roles: 
		  <select name="ROLE_ID" size="3">
          #ROLES_MENU#
          </select>
		  </font></p>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%">&nbsp;</td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<input type="submit" name="VIEW_ADD_NEW_ROLE" value="Add a new role" >
		<input type="submit" name="VIEW_RENAME_ROLE" value="Change name" >
        <input type="submit" name="VIEW_EDIT_ROLE" value="Edit">
		<input type="submit" name="VIEW_DELETE_ROLE" value=" Delete role">
        <input type="submit" name="CANCEL_ROLE_ADMIN" value="Back">
      </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp; </td>
	  <td width="90%">&nbsp; </td>
	  <td width="5%">&nbsp; </td>
	</tr>
  </table>
  </form>
</body>
</html>
