<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html40/loose.dtd">
<html>
<head>
<title>Administrate conferences</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>

<body bgcolor="#FFFFFF">
<form method="post" action="AdminConference">
  <table width="40%" border="0" cellspacing="0">
    <tr bgcolor="#333366"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"> 
        <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Administrate conferences</font></b></div>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%">&nbsp;</td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"> 
        <input type="submit" name="VIEW_CONF_LIST_TOOL" value="Show conferances" >
        <input type="submit" name="CANCEL" value="Back">
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp; </td>
      <td width="90%">&nbsp; </td>
      <td width="5%">&nbsp; </td>
    </tr>
  </table>
  </form>
</body>
</html>
