<HTML><HEAD><TITLE>Admin - Edit page info</TITLE></HEAD>
<body bgcolor="#FFFFFF">
<FORM METHOD="POST" ACTION="SaveMeta">
  <table border="1" cellspacing="0" cellpadding="2" width="450" align="center">
    <tr valign="middle" bgcolor="#333366"> 
      <td colspan="2">&nbsp;<b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Edit page info
 </font></b></td>
    </tr>
    <!--tr valign="middle" bgcolor="#333366"> 
      <td colspan="2">&nbsp;<font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF">Description
        <font size="1">(seen only here!):</font></font><font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
        </font><font size="2"--> 
        <input type="HIDDEN" name="description" size="30" value="" oldvalue="#description#">
        <!--/font></td>
    </tr-->
    <tr valign="middle"> 
      <td width="61" bgcolor="#BABABA" valign="middle">&nbsp;<font size="2"><font face="Verdana, Arial, Helvetica, sans-serif">Header<b><br>
        &nbsp;</b><font size="1">(in link menu)</font></font></font><br>
      </td>
      <td valign="middle" bgcolor="#BABABA"> <font size="2"></font> 
        <input type="TEXT" name="meta_headline" size="60" value="#meta_headline#">
        <font size="2"><br>
        <input type="CHECKBOX" name="show_meta" value="1" #show_meta#>
		<font face="Verdana, Arial, Helvetica, sans-serif"></font></font><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Show page link to unauthorised users</font> </td>
    </tr>
    <tr> 
      <td width="61" valign="middle" bgcolor="#BABABA">&nbsp;<font size="2" face="Verdana, Arial, Helvetica, sans-serif">Text 
        <b><br>
        &nbsp;</b><font size="1">(in link menu)</font></font><br>
      </td>
      <td valign="middle" bgcolor="#BABABA"> 
        <textarea name="meta_text" cols="60" rows="3">#meta_text#</textarea>
      </td>
    <tr valign="middle"> 
      <td width="61" bgcolor="#BABABA">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Image &nbsp;icon</font> 
        <br>
        &nbsp;<font size="1" face="Verdana, Arial, Helvetica, sans-serif">(in link menu)</font><br>
      </td>
      <td valign="middle" bgcolor="#BABABA"> 
        <input type="TEXT" name=meta_image size="60" value="#meta_image#">
      </td>
    </tr>
    <tr> 
      <td width="61" valign="middle" bgcolor="#BABABA">&nbsp;<font size="2" face="Verdana, Arial, Helvetica, sans-serif">Categories<br>
        &nbsp;for &nbsp;searches</font> </td>
      <td valign="middle" bgcolor="#BABABA"> 
        <input type="TEXT" name="classification" size="60" value="#classification#" >
        <font size="2"> <br>
	</font><font face="Verdana, Arial, Helvetica, sans-serif" size="1">&nbsp;Search words
          must be separated by semicolons, for example: A02BC02; A03FA02;dog;cat;bird;foo;bar;baz</font><font size="2"> 
          </font><font size="2"> <br>
        <input type="CHECKBOX" name="disable_search" value="1" #disable_search#>
        <font face="Verdana, Arial, Helvetica, sans-serif">Block searches from finding this page</font></font> 
      </td>
    </tr>
    <tr> <!--   <td width="88" valign="middle" bgcolor="#BABABA" height="101">Page &nbsp;Authority</font><font size="2"><font face="Verdana, Arial, Helvetica, sans-serif"> 
        (users) </font></font></td>
      <td valign="top" bgcolor="#BABABA" align="center" width="144" height="101">#user_rights#</td>
    </tr> --> <!--<TR><TD><B>Category</TD><TD>
<SELECT NAME=category SIZE=3 MULTIPLE>#getAllCategories#</SELECT></TD></TR>--> 
    <tr> 
      <td width="88" valign="middle" bgcolor="#BABABA" height="101"><font face="Verdana, Arial, Helvetica, sans-serif"><font size="2">Page&nbsp;<br>Authority<font size="2"><font face="Verdana, Arial, Helvetica, sans-serif"> 
        (Roles) </font></font></td>
      <td valign="top" bgcolor="#BABABA" align="center" width="144" height="101"> 
        <p>#roles_rights#</p>
        </td>
    </tr>
    <tr> 
      <td width="88" valign="middle" bgcolor="#BABABA"><font face="Verdana, Arial, Helvetica, sans-serif"><font size="2">Created by</font></td>
      <td valign="middle" bgcolor="#BABABA"> (#owner#)<b><font size="2"> </font></b><font size="2"> 
        <input type="CHECKBOX" name="shared" value="1" #shared#>
        <font face="Verdana, Arial, Helvetica, sans-serif">Allow unauthorised local links to this page</font></font><b> 
        </b></td>
    </tr>
    <!--<TR><TD><B>Processing</B></TD><TD>
<SELECT NAME=processing SIZE=1>#getAllProcessings#</SELECT></TD></TR>--> <!--<TR><TD><B>Language</B></TD><TD>
<SELECT NAME=lang_prefix SIZE=1>#getLanguages#</SELECT></TD></TR>--> <!--<TR><TD><B>Expand</B></TD><TD>
<INPUT type="CHECKBOX" NAME=expanded VALUE="1" ></TD></TR>--> 
    <tr valign="middle"> 
      <td width="61" height="14" bgcolor="#BABABA">&nbsp;<font size="2" face="Verdana, Arial, Helvetica, sans-serif">Modified</font></td>
      <td width="*" valign="middle" height="14" bgcolor="#BABABA"><font size="2"> 
		<input type="TEXT" name="date_modified" size="13" value="#date_today#" >
		&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif"> Modified: 
		#date_modified#&nbsp; 
		<input type="HIDDEN" name="date_modified" value="#date_modified#">
		&nbsp;&nbsp;Created: &nbsp; 
		<input type="TEXT" name="date_created" size="13" value="#date_created#">
		</font></font></td>
    </tr>
    <tr valign="middle"> 
      <td width="61" height="14" bgcolor="#BABABA">&nbsp;<font size="2" face="Verdana, Arial, Helvetica, sans-serif">Publish 
        &nbsp;from</font></td>
      <td width="*" valign="middle" height="14" bgcolor="#BABABA"><font size="2"> 
        <input type="TEXT" name="activated_date" size="13" value="#activated_date#" >
		<font face="Verdana, Arial, Helvetica, sans-serif"> <font size="1">(YYYY-MM-DD)</font> 
		&nbsp;&nbsp;&nbsp;&nbsp;Time:</font> 
		<input type="TEXT" name="activated_time" size="7" maxlength="5" value="#activated_time#" >
		<font face="Verdana, Arial, Helvetica, sans-serif" size="1">(HH:MM)</font></font></td>
    </tr>
    <tr valign="middle"> 
      <td width="61" height="14" bgcolor="#BABABA">&nbsp;<font size="2" face="Verdana, Arial, Helvetica, sans-serif">To the &nbsp;archives</font></td>
      <td width="*" valign="middle" height="14" bgcolor="#BABABA"><font size="2"> 
        <input type="TEXT" name="archived_date" size="13" value="#archived_date#" >
		<font face="Verdana, Arial, Helvetica, sans-serif"> <font size="1">(YYYY-MM-DD)</font> 
		&nbsp;&nbsp;&nbsp;&nbsp;Time:</font> 
		<input type="TEXT" name="archived_time" size="7" maxlength="5" value="#archived_time#">
		<font face="Verdana, Arial, Helvetica, sans-serif" size="1">(HH:MM)</font> 
		&nbsp;&nbsp;&nbsp; 
		<input type="CHECKBOX" name="archive" value="1" #archive#>
        <font face="Verdana, Arial, Helvetica, sans-serif">Archive now!</font></font></td>
    </tr>
    <tr valign="middle"> 
      <td width="61" height=2 bgcolor="#BABABA">&nbsp;<font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Display &nbsp;in</font></td>
      <td width="*" valign="middle" height=14 bgcolor="#BABABA">&nbsp;<font size="2">
		<input type="radio" name="target" value="_self" #_self#>
		</font><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Same 
		frame</font><font size="2"> 
		<input type="radio" name="target" value="_new" #_new#>
		<font face="Verdana, Arial, Helvetica, sans-serif">New window</font> 
		<font size="2"> 
		<input type="radio" name="target" value="_top" #_top#>
		</font><font face="Verdana, Arial, Helvetica, sans-serif">Full window
		</font><font face="Verdana, Arial, Helvetica, sans-serif"><br>
		&nbsp;</font><font size="2">
		<input type="radio" name="target" value="_other" #_other#>
		</font><font face="Verdana, Arial, Helvetica, sans-serif">Other frame:</font>
<input type="TEXT" name="frame_name" size="20" value="#frame_name#">
		</font></td>
    </tr>
    <tr> 
      <td width="61" valign="top" height="8" bgcolor="#BABABA">&nbsp;</td>
      <td valign="middle" height="8" bgcolor="#BABABA" align="center"> 
		<div align="left">
		  <input type="submit" value="Save" name="ok">
		  <input type="reset" value="Reset" name="reset">
		  <input type="submit" value="Cancel" name="cancel">
		  <font size="2"> </font> </div>
	  </td>
    </tr>
    <!--<TR><TD><B>Format template</B></TD><TD><B>Current template:</B>
#template# &nbsp;
<INPUT TYPE=SUBMIT VALUE="change format" NAME="submit">
</TD></TR>
<TR><TD><B>Menyns textformat<BR>(Enbart om meny)</B></TD><TD><B>Current
template:</B> #text_template# &nbsp;
<INPUT TYPE=SUBMIT VALUE="Change text format" NAME="submit">
</TD></TR>--> <!--<TR><TD><B>Hjälptext</B></TD><TD>
<SELECT NAME=list_help_text SIZE=1>#getHelpTexts#</SELECT></TD></TR>--> 
	<input type="HIDDEN" name="doc_type" value="#doc_type#">
	<input type="HIDDEN" name="parent_meta_id" value="#parent_meta_id#">
	<input type="HIDDEN" name="meta_id" value="#meta_id#">
#checks#
</table>
</FORM>
</BODY></HTML>