<HTML><HEAD><TITLE>Admin - Add a new page</TITLE></HEAD>
<body bgcolor="#FFFFFF">
<FORM METHOD=POST ACTION="SaveNewMeta">
  <table border="1" cellspacing="0" cellpadding="2" width="450" align="center">
	<tr valign="middle" bgcolor="#FFFFFF"> 
	  <td colspan="2"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">To create a new page, carry out the following two steps:<br>
		Step 1 - Fill in the header and any other data to be presented at links to the page.<br>
		Click OK</font></td>
	</tr>
	<tr valign="middle" bgcolor="#333366"> 
	  <td colspan="2">&nbsp;<b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Create page 
		<input type=HIDDEN name=doc_type value="#doc_type#">
		<input type=HIDDEN name=doc_menu_no value="#doc_menu_no#">
		<input type=HIDDEN name=parent_meta_id value="#parent_meta_id#">
		#checks#</font></b></td>
	</tr>
	<input type=hidden name=description size=30 value="" oldvalue="#description#">
	<tr valign="middle"> 
	  <td width="61" bgcolor="#BABABA" valign="middle"><font size="2"><font face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Header<br>
		<font size="1">&nbsp;(in link<br>&nbsp;menu)</font></font></font><br>
	  </td>
	  <td valign="middle" bgcolor="#BABABA"> <font size="2"></font> 
		<input type=TEXT name=meta_headline size=60 maxlength="255">
	  </td>
	</tr>
	<tr> 
	  <td width="61" valign="middle" bgcolor="#BABABA"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Text 
		<br>
		<font size="1">&nbsp;(in link<br>&nbsp;menu)</font></font></td>
	  <td valign="middle" bgcolor="#BABABA"> 
		<textarea name=meta_text cols="50" rows="3" maxlength="100"></textarea>
	<input type="CHECKBOX" name="copyMetaHeader" value="1" checked>
		<font size="2" face="Verdana, Arial, Helvetica, sans-serif">Copy header/text 
		to text 1 and text 2 respectively</font> </td>  </td>
	
	<tr valign="middle"> 
	  <td width="61" bgcolor="#BABABA"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;Image &nbsp;icon</font> 
		<br>
		<font size="1" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;(in link<br>&nbsp;menu)</font><br>
	  </td>
	  <td valign="middle" bgcolor="#BABABA"> 
		<input type=TEXT name=meta_image size=60 value="#meta_image#">
	  </td>
	</tr>
	<tr> 
	  <td width="61" valign="top" height="8" bgcolor="#BABABA">&nbsp;</td>
	  <td valign="middle" height="8" bgcolor="#BABABA" align="center"> 
		<div align="left"> 
		  <input type=submit value="OK" name="ok">
		  <input type=reset value="Reset" name="reset">
		  <input type=submit value="Cancel" name="cancel">&nbsp; <a href="javascript:openHelp('90');"><img src="@imageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="Open help page"></a>
		  <font size="2"></font></div>
	  </td>
	</tr>
	<tr> 
	  <td colspan="2" valign="top" height="8" bgcolor="#FFFFFF"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
		Step 2 - Add content to the page, i e text, images, links, 
		file uploads, etc.<br>
		Click OK</font> </td>
	</tr>
  </table>
<br>
<br>
<br>
  <table border="1" cellspacing="0" cellpadding="2" width="450" align="center">
	<tr valign="middle" bgcolor="#333366"> 
	  <td colspan="2" height="22">&nbsp;<b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Advanced 
		(change when necessary)</font></b></td>
	</tr>
	<tr> 
	  <td width="61" valign="middle" bgcolor="#BABABA"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Categories &nbsp;for &nbsp;searches</font></td>
	  <td valign="middle" bgcolor="#BABABA"> 
		<input type=TEXT name=classification size=50 value="#classification#" >
		<font size="2"> <br>
		</font><font face="Verdana, Arial, Helvetica, sans-serif" size="1">&nbsp;Search words 
        must be separated by semicolons, for example: A02BC02; A03FA02; dog; cat; bird; foo; bar; baz</font><font size="2"> 
		</font><font size="2"> <br>
		<input type=CHECKBOX name=disable_search value="1" #disable_search#>
		<font face="Verdana, Arial, Helvetica, sans-serif">Block searches from finding this page</font></font> 
	  </td>
	</tr>
<tr> 
	  <td width="61" valign="middle" bgcolor="#BABABA"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Site &nbsp;section</font></td>
	  <td valign="middle" bgcolor="#BABABA"> 		
	  	<input type="Hidden" name="current_section_id" value="#current_section_id#">
		<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Current: #current_section_name# <br>
		Change to:&nbsp; 
		<SELECT NAME="change_section" size="1">
			<option value="-1">No section</option>			  
			#section_option_list#		
		</SELECT>		
		</font><br>		
	  </td>
	</tr>	<tr> 
	  <td width="88" valign="middle" bgcolor="#BABABA"><font size="2"><font face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Share</font></font></td>
	  <td valign="middle" bgcolor="#BABABA"><font size="2"> 
		<input type=CHECKBOX name=show_meta value="1" #show_meta#>
		<font size="2" face="Verdana, Arial, Helvetica, sans-serif">Show page link to unauthorised users<br>
		</font> 
		<input type=CHECKBOX name=shared value="1" #shared#>
		<font face="Verdana, Arial, Helvetica, sans-serif">Allow unauthorised local links to this page</font></font></td>
	</tr>
	<tr valign="middle"> 
	  <td width="61" height="14" bgcolor="#BABABA"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Publish &nbsp;from</font></td>
	  <td width="*" valign="middle" height="14" bgcolor="#BABABA"><font size="2"> 
		<input type=TEXT name=activated_date size=13 value="#activated_date#" maxlength="10" >
		<font face="Verdana, Arial, Helvetica, sans-serif"> <font size="1">(YYYY-MM-DD)</font> 
		Time:</font> 
		<input type=TEXT name=activated_time size=7 maxlength="5" value="#activated_time#" >
		<font face="Verdana, Arial, Helvetica, sans-serif" size="1">(HH:MM)</font></font></td>
	</tr>
	<tr valign="middle"> 
	  <td width="61" height="14" bgcolor="#BABABA"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;To the &nbsp;archives</font></td>
	  <td width="*" valign="middle" height="14" bgcolor="#BABABA"><font size="2"> 
		<input type=TEXT name=archived_date size=13 maxlength="10" >
		<font face="Verdana, Arial, Helvetica, sans-serif"> <font size="1">(YYYY-MM-DD)</font> 
		Time:</font> 
		<input type=TEXT name=archived_time size=7 maxlength="5">
		<font face="Verdana, Arial, Helvetica, sans-serif" size="1">(HH:MM)<br>
		</font> 
		<input type=CHECKBOX name=archive value="1" #archive#>
		<font face="Verdana, Arial, Helvetica, sans-serif">Archive now!</font></font></td>
	</tr>
	<tr valign="middle"> 
	  <td width="61" height=2 bgcolor="#BABABA"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Display
		&nbsp;in </font></td>
	  <td width="*" valign="middle" height=14 bgcolor="#BABABA"><font size="2"> 
		<input type="radio" name="target" value="_self" #_self#>
		</font><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Same 
		frame</font><font size="2"> 
		<input type="radio" name="target" value="_blank" #_blank#>
		<font face="Verdana, Arial, Helvetica, sans-serif">New window</font> 
		<font size="2"> 
		<input type="radio" name="target" value="_top" #_top#>
		</font><font face="Verdana, Arial, Helvetica, sans-serif">Replace all 
		</font><font face="Verdana, Arial, Helvetica, sans-serif"></font><font size="2"> 
		<br>
		<input type="radio" name="target" value="_other" #_other#>
		</font><font face="Verdana, Arial, Helvetica, sans-serif">Other frame</font> 
		<input type=text name="frame_name" size=20 value="#frame_name#">
		</font></td>
	</tr>
	<tr> 
	  <td width="61" valign="top" height="8" bgcolor="#BABABA">&nbsp;</td>
	  <td valign="middle" height="8" bgcolor="#BABABA" align="center"> 
		<div align="left"> 
		  <input type=submit value="OK" name="ok">
		  <input type=reset value="Reset" name="reset">
		  <input type=submit value="Cancel" name="cancel">&nbsp; <a href="javascript:openHelp('290');"><img src="@imageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="Open help page"></a>
		</div>
	  </td>
	</tr>
  </table>
</FORM>
<!-- Focuses on textfield if browser supports javascript -->
<script language="JavaScript">
	<!--
	document.forms[0].meta_headline.focus();
	//-->
</script>
</BODY></HTML>
