<HTML><HEAD>
<TITLE>Edit pageinfo</TITLE>
</HEAD>
<body bgcolor="#FFFFFF">
<FORM METHOD=POST ACTION="SaveMeta">
    <table border="1" cellspacing="0" cellpadding="2" width="450" align="center">
		<tr valign="middle" bgcolor="#333366"> 
			<td colspan="2">&nbsp;<b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Edit 
				page info 
				<input type=HIDDEN name=doc_type value="#doc_type#">
				<input type=HIDDEN name=doc_menu_no value="#doc_menu_no#">
				<input type=HIDDEN name=parent_meta_id value="#parent_meta_id#">
				<input type=HIDDEN name=meta_id value="#meta_id#">
				#checks#</font></b></td>
		</tr>
		<input type=hidden name=description size=30 value="" oldvalue="#description#">
		<tr valign="middle"> 
			<td width="61" bgcolor="#BABABA" valign="middle"><font size="2"><font face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Header 
				(in link menu) </font></font><br>
			</td>
			<td valign="middle" bgcolor="#BABABA"> <font size="2"></font> 
				<input type=TEXT name=meta_headline size=60 maxlength="255" value="#meta_headline#">
			</td>
		</tr>
		<tr> 
			<td width="61" valign="middle" bgcolor="#BABABA"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Text 
				(in link menu)</font></td>
			<td valign="middle" bgcolor="#BABABA"> 
				<textarea name=meta_text cols="50" rows="3" maxlength="100">#meta_text#</textarea>
			</td>
		<tr valign="middle"> 
			<td width="61" bgcolor="#BABABA"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;Image 
				icon&nbsp; (in link menu) </font><br>
			</td>
			<td valign="middle" bgcolor="#BABABA"> 
				<input type=TEXT name=meta_image size=60 value="#meta_image#">
			</td>
		</tr>
		<tr> 
			<td width="61" valign="top" height="8" bgcolor="#BABABA">&nbsp;</td>
			<td valign="middle" height="8" bgcolor="#BABABA" align="center"> 
				<div align="left"> 
					<input type=submit value="OK" name="ok">
					<input type=reset value="Reset" name="cancel">
					<font size="2"></font></div>
			</td>
		</tr>
	</table>
<br>
<br>
<br>
    <table border="1" cellspacing="0" cellpadding="2" width="450" align="center">
		<tr valign="middle" bgcolor="#333366"> 
			<td colspan="2" height="22">&nbsp;<b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Advanced 
				(change when necessary)</font></b></td>
		</tr>
		<tr> 
			<td width="61" valign="middle" bgcolor="#BABABA"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;Created 
				</font></td>
			<td valign="middle" bgcolor="#BABABA"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">#date_created# 
				by #owner#</font></td>
		</tr>
		<tr> 
			<td width="61" valign="middle" bgcolor="#BABABA"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;Modified 
				</font></td>
			<td valign="middle" bgcolor="#BABABA"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">#date_modified#</font></td>
		</tr>
		<tr> 
			<td width="61" valign="middle" bgcolor="#BABABA"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Keywords 
				(for searches)</font></td>
			<td valign="middle" bgcolor="#BABABA"> 
				<input type=TEXT name=classification size=50 value="#classification#" >
				<font size="2"> <br>
				</font><font face="Verdana, Arial, Helvetica, sans-serif" size="1">&nbsp;Search 
				words must be separated by semicolons, for example: AO3FAO2;AO3BC02&quot;dog;cat;bird&quot;foo; 
				bar; baz&quot;</font><font size="2"><br>
				<input type=CHECKBOX name=disable_search value="1" #disable_search#>
				<font face="Verdana, Arial, Helvetica, sans-serif">Block searches 
				from finding this page</font></font> </td>
		</tr>
		<tr> 
			<td width="88" valign="middle" bgcolor="#BABABA"><font size="2"><font face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Share</font></font></td>
			<td valign="middle" bgcolor="#BABABA"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
				<input type=CHECKBOX name=show_meta value="1" #show_meta#>
				Show this page link to unauthorised users<br>
				<input type=CHECKBOX name=shared value="1" #shared#>
				Allow unauthorised local links to this page </font></td>
		</tr>
		<tr valign="middle"> 
			<td width="61" height="14" bgcolor="#BABABA"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Publish 
				from </font></td>
			<td width="*" valign="middle" height="14" bgcolor="#BABABA"><font size="2"> 
				<input type=TEXT name=activated_date size=13 value="#activated_date#" maxlength="10" >
				<font face="Verdana, Arial, Helvetica, sans-serif"> <font size="1">(YYYY-MM-DD)</font> 
				&nbsp;&nbsp;&nbsp;&nbsp;Time:</font> 
				<input type=TEXT name=activated_time size=7 maxlength="5" value="#activated_time#" >
				<font face="Verdana, Arial, Helvetica, sans-serif" size="1">(HH:MM)</font></font></td>
		</tr>
		<tr valign="middle"> 
			<td width="61" height="14" bgcolor="#BABABA"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;To 
				the archives:</font></td>
			<td width="*" valign="middle" height="14" bgcolor="#BABABA"><font size="2"> 
				<input type=TEXT name=archived_date size=13 maxlength="10" value="#archived_date#" >
				<font face="Verdana, Arial, Helvetica, sans-serif"> <font size="1">(YYYY-MM-DD)</font> 
				&nbsp;&nbsp;&nbsp;&nbsp;Time:</font> 
				<input type=TEXT name=archived_time size=7 maxlength="5" value="#archived_time#">
				<font face="Verdana, Arial, Helvetica, sans-serif" size="1">(HH:MM)<br>
				</font> 
				<input type=CHECKBOX name=archive value="1" #archive#>
				<font face="Verdana, Arial, Helvetica, sans-serif">Archive now</font></font></td>
		</tr>
		<tr valign="middle"> 
			<td width="61" height=2 bgcolor="#BABABA"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Display 
				in </font></td>
			<td width="*" valign="middle" height=14 bgcolor="#BABABA"><font size="2"> 
				<input type="radio" name="target" value="_self" #_self#>
				</font><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Same 
				frame</font><font size="2"> 
				<input type="radio" name="target" value="_blank" #_blank#>
				<font face="Verdana, Arial, Helvetica, sans-serif">New window</font> 
				<font size="2"> 
				<input type="radio" name="target" value="_top" #_top#>
				</font><font face="Verdana, Arial, Helvetica, sans-serif">Full 
				window </font><font size="2"> <br>
				<input type="radio" name="target" value="_other" #_other#>
				</font><font face="Verdana, Arial, Helvetica, sans-serif">Other 
				frame</font> 
				<input type=text name="frame_name" size=20 value="#frame_name#">
				</font></td>
		</tr>
		<tr> 
			<td width="61" valign="top" height="8" bgcolor="#BABABA">&nbsp;</td>
			<td valign="middle" height="8" bgcolor="#BABABA" align="center"> 
				<div align="left"> 
					<input type=submit value="OK" name="ok">
					<input type=reset value="Reset" name="cancel">
				</div>
			</td>
		</tr>
	</table>
    <center>
		<br>
		#adminMode# 
	</center>
</FORM>
</BODY></HTML>