<HTML><HEAD><TITLE>Admin</TITLE></HEAD><BODY  bgcolor="#FFFFFF">
<H3> 
  <FORM METHOD=POST ENCTYPE="multipart/form-data" ACTION="#servlet_url#SaveFileUpload">
	<CENTER>
	  <TABLE BORDER="1" cellpadding="2" cellspacing="0" align="center" width="250">
		<TR bgcolor="#333366"> 
		  <TD><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b><font color="#FFFFFF">&nbsp;Select 
			file</font></b></font></TD>
		</TR>
		<TR> 
		  <TD bgcolor="#BABABA"> 
			<div align="center"> 
			  <table width="50%" border="0">
				<tr> 
				  <td width="29%">New file:</td>
				  <td width="71%"> 
					<input type="file" name="file" value="#file#">
				  </td>
				</tr>
				<tr> 
				  <td width="29%">Mime type:</td>
				  <td width="71%"> 
					<select name="mime">
						<option></option>

					</select>
				  </td>
				</tr>
				<tr> 
				  <td width="29%">Other:</td>
				  <td width="71%"> 
					<input type="text" name="other" value="#other#">
				  </td>
				</tr>
				<tr> 
				  <td width="29%">Existing file:</td>
				  <td width="71%"> 
					<center>
					  &quot;#file#&quot; 
					</center>
				  </td>
				</tr>
			  </table>
			</div>
		  </TD>
		</TR>
		<TR> 
		  <TD bgcolor="#BABABA"> 
			<CENTER>
			  <INPUT TYPE=SUBMIT VALUE="Save" NAME="ok">
			</center>
		  </TD>
		</TR>
		<INPUT TYPE=HIDDEN NAME=meta_id VALUE=#meta_id#>
		<INPUT TYPE=HIDDEN NAME="parent_meta_id" VALUE="#parent_meta_id#">
	  </TABLE>
	#adminMode#
	</center>
  </FORM>
</h3>
</BODY></HTML>