<html>

	<head>
		<title>Admin</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT LANGUAGE="JavaScript">
<!--
function doClear(){
  var f = document.forms.imgProp;
	f.imageref.value = '';
  f.image_name.value = '';
  f.image_width.value = '';
  f.image_height.value = '';
  f.image_border.value = '';
  f.keepAspectRatio.checked = 1;
  f.image_align.selectedIndex = 0;
  f.alt_text.value = '';
  f.low_scr.value = '';
  f.v_space.value = '';
  f.h_space.value = '';
  f.imageref_link.value = '';
  f.target.selectedIndex = 0;
  f.target_name.value = '';
}

function openHelp(id){
	window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');
}
//-->
</SCRIPT>

</head>

	<body bgcolor="#FFFFFF">
		<center>
			<table width="450" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<form action="ImageUpload" enctype="multipart/form-data" method="POST">
						<center>
							<table border="1" width="450" align="center" cellpadding="3" cellspacing="0">
								<tr bgcolor="#333366" valign="middle">
									<td colspan="2">&nbsp;<font color="#000000"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Add image</font></b></font></td>
								</tr>
								<tr>
									<td valign="middle" bgcolor="#BABABA">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Image:</font></td>
									<td bgcolor="#BABABA" valign="middle">&nbsp;&nbsp; <input type="file" name="file" size="50"></td>
								</tr>
								<tr>
									<td align="center" valign="top" bgcolor="#BABABA" colspan="2">
										<input type="submit" name="ok" value="Add">
										<input type="HIDDEN" name="meta_id" value="#getMetaId#"> <input type="HIDDEN" name="img_no" value="#img_no#">
										&nbsp;<select name="folder" size="1">
												#folders#
											</select>&nbsp; <a href="GetDoc?meta_id=272" target="_blank" onClick="openHelp('272'); return false;"><img src="@imageurl@/en/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
                  </td>
								</tr>
							</table>
						</center>
						<br>
						</form>
				<form name="imgbr" action="ImageBrowse">
				
          <input type="submit" name="browse_images" value="Image Archive">
         		<INPUT TYPE="HIDDEN" NAME="meta_id" VALUE="#getMetaId#">
        		<INPUT TYPE="HIDDEN" NAME="img_no" VALUE="#img_no#">
          
        		</form>
						<form method="POST" action="/servlet/SaveImage">
						<center>
							<table border="1" align="center" width="450" cellpadding="3" cellspacing="0">
								<tr bgcolor="#333366">
									<td colspan="2">&nbsp;<b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Edit image data</font><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> </font></b></td>
								</tr>
								<tr bgcolor="#333366">
									<td valign="middle" colspan="2">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Meta ID</font><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">#getMetaId#</font></font></td>
								</tr>
								<tr>
									<td colspan="2" align="center"><img src="#imgUrl##imgRef#" width="#imgWidth#" height="#imgHeight#" border="#imgBorder#"></td>
								</tr>
								<tr>
									<td bgcolor="#BABABA" valign="middle">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Image:&nbsp;#img_no#</font></td>
									<td bgcolor="#BABABA" valign="middle">&nbsp;&nbsp; 
                  <input type="TEXT" name="imageref" value="#imgRef#" size="40" maxlength="255">
                  <br>
										&nbsp;&nbsp;&nbsp;<input type="SUBMIT" value="Preview image" name="show_img">
                  <font face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
                  </font></td>
								</tr>
								<tr>
									<td valign="middle" bgcolor="#BABABA">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Image name</font></td>
									<td valign="middle" bgcolor="#BABABA">&nbsp;&nbsp;
                  <input type="TEXT" name="image_name" size="40" maxlength="255" value="#imgName#">
                </td>
								</tr>
								<tr>
									<td bgcolor="#BABABA" valign="middle">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Format</font></td>
									
                <td bgcolor="#BABABA" valign="middle" align="center"> 
                  <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Original size: 
                    (#origW# x #origH#)<br>If you are using a 800 x 600 pixel resolution, a 400 x 300 pixel image will occupy 25% of your screen.</font></p>
                  <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Width:&nbsp;</font> 
                    <input type="TEXT" name="image_width" size="4" maxlength="4" value="#imgWidth#">
                    &nbsp; <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Height:</font>&nbsp; 
                    <input type="TEXT" name="image_height" size="4" maxlength="4" value="#imgHeight#">
                    &nbsp; <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Border:</font>&nbsp; 
                    <input type="TEXT" name="image_border" size="4" maxlength="4" value="#imgBorder#">
                  </p>
                  <p> 
                    <input type="checkbox" name="keepAspectRatio" value="yes" #keep_aspect#>
                    <font face="Verdana, Arial, Helvetica, sans-serif" size="1">Retain 
                    the image's original proportions</font></p>
                </td>
								</tr>
								<tr>
									<td valign="middle" bgcolor="#BABABA">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Alignment of next text</font></td>
									<td valign="middle" bgcolor="#BABABA">&nbsp; <select name="image_align" size="1">
											<option value="none" #none_selected#>None
											<option value="baseline" #baseline_selected#>Baseline
											<option value="top" #top_selected#>Top
											<option value="middle" #middle_selected#>Middle
											<option value="bottom" #bottom_selected#>Bottom
											<option value="texttop" #texttop_selected#>Texttop
											<option value="absmiddle" #absmiddle_selected#>Absmiddle
											<option value="absbottom" #absbottom_selected#>Absbottom
											<option value="left" #left_selected#>Pic left
											<option value="right" #right_selected#>Pic right
										</select></td>
								</tr>
								<tr>
									<td bgcolor="#BABABA" valign="middle">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Image text while loading</font></td>
									<td bgcolor="#BABABA" valign="middle">&nbsp;&nbsp;<input type="TEXT" name="alt_text" size="50" maxlength="255" value="#imgAltText#"></td>
								</tr>
								<tr>
									<td valign="middle" bgcolor="#BABABA">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Alt image while loading</font></td>
									<td valign="middle" bgcolor="#BABABA">&nbsp;&nbsp;<input type="TEXT" name="low_scr" size="50" maxlength="255" value="#imgLowScr#"></td>
								</tr>
								<tr>
									<td bgcolor="#BABABA" valign="middle">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Space around image</font></td>
									<td bgcolor="#BABABA" align="center" valign="middle"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Vertical Space:</font>&nbsp; <input type="TEXT" name="v_space" size="4" maxlength="4" value="#imgVerticalSpace#"> &nbsp;&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2"> <br>Horizontal Space:</font>&nbsp; <input type="TEXT" name="h_space" size="4" maxlength="4" value="#imgHorizontalSpace#"> &nbsp;</td>
								</tr>
								<tr>
									<td valign="middle" bgcolor="#BABABA">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Linked to URL<b></b></font></td>
									<td valign="middle" bgcolor="#BABABA">&nbsp;&nbsp;<input type="TEXT" name="imageref_link" value="#imgRefLink#" size="50" maxlength="255"></td>
								</tr>
								<tr>
									<td bgcolor="#BABABA" valign="middle">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Link shown in </font></td>
									<td bgcolor="#BABABA" valign="middle">&nbsp; <select name="target" size="1">
											<option value="_Top" #top_checked#>Current window
											<option value="_Blank" #blank_checked#>New window
											<option value="_Parent" #parent_checked#>Parent frame
											<option value="_Self" #self_checked#>Same frame
											<option value="_Other" #other_checked#>Other frame 
										</select> &nbsp;&nbsp;&nbsp;<input type="TEXT" name="target_name" value="#target_name#"></td>
								</tr>
								<tr>
									<td bgcolor="#BABABA" colspan="2">
										<center>
											<input type="SUBMIT" value="OK" name="ok"> <input type="RESET" value="Reset"> <input type="SUBMIT" value="Cancel" name="cancel"></center>
									</td>
								</tr>
								<input type="HIDDEN" name="meta_id" value="#getMetaId#"> <input type="HIDDEN" name="img_no" value="#img_no#">
							</table>
						</center>
<input type="HIDDEN" name="origW" value="#origW#">
<input type="HIDDEN" name="origH" value="#origH#">
						</form>
					</td>
				</tr>
			</table>
		</center>
	</body>

</html>
