<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language=JavaScript>
<!--
function openHelp(id){
	window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');
}
//-->
</SCRIPT>

</head>

<body bgcolor="#FFFFFF">
<form method=POST action="SaveFrameset">
  <BR><BR><div align="center">
    <table 0 cellspacing=0 width="450" cellpadding="2" border="1" align="center">
      <tr bgcolor="#333366" > 
        <td valign="TOP"><B><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">&nbsp;Change 
          HTML code </font></B></td>
      </tr>
      <tr bgcolor="#BABABA">
        <td valign="middle" align="center">
          <div align="left">NB: Always begin with &lt;HTML&gt; 
            and end with &lt;/HTML&gt;</div>
        </td>
      </tr>
      <tr bgcolor="#BABABA"> 
        <td valign="middle" align="center"> 
          <textarea name="frame_set" cols=70 rows=16>#frame_set#</textarea>
        </td>
      </tr>
      <div align="center"> 
        <TR bgcolor="#BABABA"> 
          <TD valign="middle" align="center"> 
            <CENTER>
              <INPUT TYPE=SUBMIT VALUE="Save" NAME="ok">&nbsp; <a href="javascript:openHelp('76');"><img src="@imageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
            </center>
          </TD>
        </TR>
        <INPUT TYPE=HIDDEN NAME=meta_id VALUE=#getMetaId#>
        <INPUT TYPE=HIDDEN NAME=parent_meta_id VALUE=#getParentMetaId#>
      </div>
    </table>
      
      #adminMode#
    </div>
  
  
</form>
</body>
</html>