<table border="0" cellspacing="0" width="10%">
    <tr bgcolor="#333366">
	<td width="5%">&nbsp;</td>
	<td align="center">
	    <font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Include</font>
        </td>
	<td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#BABABA">
	<td width="5%">&nbsp;</td>
	<td align="center">
	    <form action="SaveInclude" method="POST">
	        <input type="HIDDEN" name="meta_id" value="#meta_id#">
		<input type="text" name="include_meta_id" value="#include_meta_id#" size="6" maxlength="6">
		<input type="HIDDEN" name="include_id" value="#include_id#">
		<input type="submit" name="ok" value="OK">
	    </form>
	</td>
	<td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#BABABA">
	<td width="5%">&nbsp;</td>
	<td align="center">
	    <a href="GetDoc?meta_id=#include_meta_id#" target="_blank">Edit</a>&nbsp; <a href="javascript:openHelp('253');"><img src="@imageurl@/en/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="Open help page" align="absmiddle"></a>
	</td>
	<td width="5%">&nbsp;<SCRIPT language="Javascript">
<!--
function openHelp(id){
	window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');
}
//-->
</SCRIPT></td>
    </tr>
</table>
