<HTML>
<HEAD>
<TITLE>Edit text</TITLE>
</HEAD>
<BODY bgcolor="#FFFFFF">
  <FORM METHOD="POST" ACTION="SaveText">
    <TABLE align="center" cellpadding="2" cellspacing="0" border="0">
	<TR bgcolor="#333366">
	  <td width="5%">&nbsp;</td>
	  <TD align="left" width="90%">
	    <font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><B>&nbsp;Edit text</B> #txt_no# <B>in page</B> #meta_id#</font>
	  </TD>
	  <td width="5%">&nbsp;</td>
	</TR>
	<tr bgcolor="#BABABA">
	  <td width="5%">&nbsp;</td>
	  <td width="90%">&nbsp;</td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<TR bgcolor="#BABABA">
	  <td width="5%">&nbsp;</td>
	  <TD bgcolor="#BABABA" width="90%">
	    <textarea name="text" cols="70" rows="25" wrap="VIRTUAL">
#txt#</textarea>
	  </TD>
	  <td width="5%">&nbsp;</td>
	</TR>
	<TR bgcolor="#BABABA">
	  <td width="5%">&nbsp;</td>
	  <TD valign="middle" align="left" bgcolor="#BABABA" width="90%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;Format:</font>
	    <table border="0" width="100%">
	      <tr>
		<td align="left">
		  <INPUT type="RADIO" NAME="type"  VALUE="0" #!html#><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Plain text</font>&nbsp;&nbsp;
		  <INPUT type="RADIO" NAME="type"  VALUE="1" #html#><font face="Verdana, Arial, Helvetica, sans-serif" size="2">HTML</font>
		</td>
		<td align="right">
		  <INPUT TYPE="RESET" VALUE="&Aring;terst&auml;ll">
		</td>
	      </tr>
	    </table>
	  </TD>
	  <td width="5%">&nbsp;</td>
	</TR>
	<TR bgcolor="#BABABA">
	  <td width="5%">&nbsp;</td>
	  <TD valign="middle" align="left" bgcolor="#BABABA" width="90%">
	    <table border="0">
		<tr>
		    <td>
			<INPUT TYPE="SUBMIT" VALUE="  OK  " NAME="ok">
		    </td>
		    <td>
			<INPUT TYPE="SUBMIT" VALUE="Cancel" NAME="cancel">
		    </td>
		</tr>
	    </table>
	  </TD>
	  <td width="5%">&nbsp;</td>
	</TR>
	<tr bgcolor="#BABABA">
	  <td width="5%">&nbsp;</td>
	  <td width="90%">&nbsp;</td>
	  <td width="5%">&nbsp;</td>
	</tr>
    </TABLE>
    <INPUT TYPE="HIDDEN" NAME="meta_id" VALUE="#meta_id#">
    <INPUT TYPE="HIDDEN" NAME="txt_no" VALUE="#txt_no#">
</FORM>
<SCRIPT language='JavaScript'>
<!--
function openHelp(id){
	window.open("GetDoc?meta_id=" + id,"help","scrollbars=yes,width=650,height=570");
}
//-->
</SCRIPT>
<!-- Focuses on textfield if browser supports javascript -->
<script language="JavaScript">
<!--
document.forms[0].text.focus();
//-->
</script>
</BODY></HTML>
