<HTML><HEAD><TITLE>Admin - Edit page info</TITLE>
<SCRIPT language="Javascript">
<!--
function openHelp(id){
	window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');
}
//-->
</SCRIPT>

</HEAD>
<body bgcolor="#FFFFFF">
<FORM METHOD="POST" ACTION="SaveMeta">
  <div align="center">
        <table border="1" cellspacing="0" cellpadding="2" width="450" align="center">
			<tr valign="middle" bgcolor="#333366"> 
				<td colspan="2">&nbsp;<b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Edit page info
					<!--input type=HIDDEN name=flags value="4"--> 
					<input type="HIDDEN" name="doc_type" value="#doc_type#">
					<input type="HIDDEN" name="parent_meta_id" value="#parent_meta_id#">
					<input type="HIDDEN" name="meta_id" value="#meta_id#">
					#checks# </font></b></td>
			</tr>
			<!--tr valign="middle" bgcolor="#333366"> 
      <td colspan="2">&nbsp;<font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF">Description
        <font size="1">(seen only here):</font></font><font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
        </font><font size="2"--> <!--/font></td>
    </tr--> 
			<tr valign="middle"> 
				<td width="61" bgcolor="#BABABA" valign="middle"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;Header<b><br>
					&nbsp;</b>(in link menu)<br>
					</font></td>
				<td valign="middle" bgcolor="#BABABA"> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
					<input type="TEXT" name="meta_headline" size="60" value="#meta_headline#">
					<br>
					<input type="CHECKBOX" name="show_meta" value="1" #show_meta#>
					Show page link to unauthorised users</font> 
				</td>
			</tr>
			<tr> 
				<td width="88" valign="middle" bgcolor="#BABABA" height="101"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;Authority 
					&nbsp;(Roles) </font></td>
				<td valign="top" bgcolor="#BABABA" align="center" width="144" height="101"> 
					<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">#roles_rights#</font></p>
				</td>
			</tr>
			<tr>
				<td width="88" valign="middle" bgcolor="#BABABA"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;Roles
					without<br>
					&nbsp;authority</font></td>
				<td valign="middle" bgcolor="#BABABA"> 
					<input type="submit" name="add_roles" value="Add roles">
					<br>
					<select name="roles_no_rights" size="5" multiple>
					#roles_no_rights#
					</select>
				</td>
			</tr>
			#define_sets# 
			<tr> 
				<td width="88" valign="middle" bgcolor="#BABABA"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;Created by 
					</font></td>
				<td valign="middle" bgcolor="#BABABA">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">(#owner#)<b> 
					</b> 
					<input type="CHECKBOX" name="shared" value="1" #shared#>
					Allow non-authorised links to this page<b> </b></font></td>
			</tr>
			<tr> 
				<td width="61" valign="top" height="8" bgcolor="#BABABA">&nbsp;</td>
				<td valign="middle" height="8" bgcolor="#BABABA" align="center"> 
					<div align="left"> 
						<input type="submit" value="Save" name="ok">
						<input type="reset" value="Reset" name="reset">&nbsp; <a href="GetDoc?meta_id=284" target="_blank" onClick="openHelp('284'); return false;"><img src="@imageurl@/en/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="Open Help"></a>
						<font size="2"> </font> </div>
				</td>
			</tr>
		</table>
    <br>
    <table width="90%" border="0">
      <tr> 
        <td> 
          <div align="center">#adminMode# </div>
        </td>
      </tr>
    </table>
  </div>
</FORM>
</BODY></HTML>