<html>
<head><title>Browser capabilities test page</title></head>
<body bgcolor=white text=white>
<font color=black>
<h2>Browser Capabilities Test Page</h2>
The following is information on your web browser's
capabilities<br>
as detected by BrowserHawk4J
<p> User agent: #USERAGENT#
<p>
</font>
<table bgcolor="#336699" BORDER="1" CELLPADDING="3" WIDTH="350">
  <TR> 
    <TD BGCOLOR="#336699" COLSPAN="2" ALIGN=CENTER> <FONT SIZE=+2>Browser: #BROWSERNAME#</FONT></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="663366"><B>&nbsp;Property</B></TD>
    <TD BGCOLOR="663366"><B>&nbsp;Value</B></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;Majorver</TD>
    <TD BGCOLOR="#336699">&nbsp;#MAJORVER#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;Minorver</TD>
    <TD BGCOLOR="#663366">&nbsp;#MINORVER#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;Minorverlet</TD>
    <TD BGCOLOR="#336699">&nbsp;#MINORVERLET#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;Version</TD>
    <TD BGCOLOR="#663366">&nbsp;#VERSION#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;Fullversion</TD>
    <TD BGCOLOR="#336699">&nbsp;#FULLVERSION#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;Browser</TD>
    <TD BGCOLOR="#663366">&nbsp;#BROWSERNAME#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;Frames</TD>
    <TD BGCOLOR="#336699">&nbsp;#FRAMES#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;Tables</TD>
    <TD BGCOLOR="#663366">&nbsp;#TABLES#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;Cookies</TD>
    <TD BGCOLOR="#336699">&nbsp;#COOKIES#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;BackgroundSounds</TD>
    <TD BGCOLOR="#663366">&nbsp;#BACKGROUNDSOUNDS#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;VBScript</TD>
    <TD BGCOLOR="#336699">&nbsp;#VBSCRIPT#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;JavaScript</TD>
    <TD BGCOLOR="#663366">&nbsp;#JAVASCRIPT#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;JavaApplets</TD>
    <TD BGCOLOR="#336699">&nbsp;#JAVAAPPLETS#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;ActiveXControls</TD>
    <TD BGCOLOR="#663366">&nbsp;#ACTIVEXCONTROLS#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;AOL</TD>
    <TD BGCOLOR="#336699">&nbsp;#AOL#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;Beta</TD>
    <TD BGCOLOR="#663366">&nbsp;#BETA#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;Win16</TD>
    <TD BGCOLOR="#336699">&nbsp;#WIN16#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;Crawler</TD>
    <TD BGCOLOR="#663366">&nbsp;#CRAWLER#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;CDF</TD>
    <TD BGCOLOR="#336699">&nbsp;#CDF#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;Platform</TD>
    <TD BGCOLOR="#663366">&nbsp;#PLATFORM#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;Language</TD>
    <TD BGCOLOR="#336699">&nbsp;#LANGUAGE#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;SSL</TD>
    <TD BGCOLOR="#663366">&nbsp;#SSL#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;AuthenticodeUpdate</TD>
    <TD BGCOLOR="#336699">&nbsp;#AUTHENTICODEUPDATE#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;StyleSheets</TD>
    <TD BGCOLOR="#663366">&nbsp;#STYLESHEETS#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;Proxy</TD>
    <TD BGCOLOR="#336699">&nbsp;#PROXY#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;OSDetails</TD>
    <TD BGCOLOR="#663366">&nbsp;#OSDETAILS#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;MSN</TD>
    <TD BGCOLOR="#336699">&nbsp;#MSN#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;Gold</TD>
    <TD BGCOLOR="#663366">&nbsp;#GOLD#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;DHTML</TD>
    <TD BGCOLOR="#336699">&nbsp;#DHTML#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;FileUpload</TD>
    <TD BGCOLOR="#663366">&nbsp;#FILEUPLOAD#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;MouseOver</TD>
    <TD BGCOLOR="#336699">&nbsp;#MOUSEOVER#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;PNG</TD>
    <TD BGCOLOR="#663366">&nbsp;#PNG#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;FontColor</TD>
    <TD BGCOLOR="#336699">&nbsp;#FONTCOLOR#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;FontSize</TD>
    <TD BGCOLOR="#663366">&nbsp;#FONTSIZE#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;TableBGColor</TD>
    <TD BGCOLOR="#336699">&nbsp;#TABLEBGCOLOR#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;JavaScriptVer</TD>
    <TD BGCOLOR="#663366">&nbsp;#JAVASCRIPTVER#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;IPAddr</TD>
    <TD BGCOLOR="#336699">&nbsp;#IPADDR#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;SSLActive</TD>
    <TD BGCOLOR="#663366">&nbsp;#SSLACTIVE#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;SSLCipherSuite</TD>
    <TD BGCOLOR="#336699">&nbsp;#SSLCIPHERSIUTE#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;SSLKeySize</TD>
    <TD BGCOLOR="#663366">&nbsp;#SSLKEYSIZE#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;TableBGImage</TD>
    <TD BGCOLOR="#336699">&nbsp;#TABLEBGIMAGE#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;CompressGZip</TD>
    <TD BGCOLOR="#663366">&nbsp;#COPRESSGZIP#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbspWAP</TD>
    <TD BGCOLOR="#336699">&nbsp;#WAP#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;WapDeviceModel</TD>
    <TD BGCOLOR="#663366">&nbsp;#WAPDEVICEMODEL#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;WapGateway</TD>
    <TD BGCOLOR="#336699">&nbsp;#WAPGATEWAY</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;WapMaxDeckSize</TD>
    <TD BGCOLOR="#663366">&nbsp;#WAPMAXDECKSIZE#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">WapSubscriberId</TD>
    <TD BGCOLOR="#336699">#WAPSUBSCRIBERID#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">Versionpos</TD>
    <TD BGCOLOR="#663366">#VERSIONPOS#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">HDML</TD>
    <TD BGCOLOR="#336699">#HDML#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">AOLVersion</TD>
    <TD BGCOLOR="#663366">#AOLVER#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">MSN</TD>
    <TD BGCOLOR="#336699">#MSN#</TD>
  </TR>
  <TR>
    <TD BGCOLOR="#336699">PDA</TD>
    <TD BGCOLOR="#336699">#PDA#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;XML</TD>
    <TD BGCOLOR="#336699">&nbsp;#XML#</TD>
  </TR>
</TABLE>
<P>
<font color=black>
Click <a href="GetBrowserInfo">here</a>
to test again.
<BR>
  </font> 
</body>
</html>