<HTML><HEAD><TITLE>Admin - Browser-sensitive switch</TITLE>

<SCRIPT language="Javascript">
<!--
function openHelp(id){
	window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');
}
//-->
</SCRIPT>

</HEAD>
<BODY  bgcolor="#FFFFFF">
<FORM METHOD="POST" ACTION="SaveNewBrowserDoc">
  <CENTER>
    <table border = "1" cellspacing="0" cellpadding="2" width="430" align="center" >
	  <tr bgcolor="#333366" valign="middle"> 
		<td colspan="3"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Browser-sensitive switch</font></b></td>
	  </tr>
	  <tr> 
		<td valign="middle" bgcolor="#BABABA">
		  <div align="center"> 
			<center>
			  <select name="new_browsers" size="7" multiple>
				#new_browsers#
                 
			  </select>
			</center>
		  </div>
		</td>
		<td valign="middle" bgcolor="#BABABA">
		  <input type="submit" name="add_browsers" value="Add page -->">
		</td>
		<td valign="middle" bgcolor="#BABABA">#browsers# </td>
	  </tr>
	  <tr> 
		<td colspan="3" valign="middle" bgcolor="#BABABA">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif"> 
		  <font size="1">Three steps to automatic switching to pages designed for specific browsers:</font> <br>
		  &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="1">1. Select 
		  a browser, browser version or computer environment  </font> <br>
		  &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="1">2. Enter page meta ID number for page to be shown in
		  the specified environment.</font> <br>
		  &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="1">3. Enter default page - which will be used for all other browsers than those specified here.</font></td>
	  </tr>
	  #getDocType# #DocMenuNo# 
	  <tr bgcolor="#BABABA"> 
		<td colspan="3" valign="middle" align="center"> 
		  <input type="submit" value="OK" name="ok">
		  <input type="reset" value="Reset" name="reset">
		  <input type="submit" value="Cancel" name="cancel">&nbsp; <a href="javascript:openHelp('246');"><img src="@imageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
		</td>
	  </tr>
	  <input type="HIDDEN" name="meta_id" value="#getMetaId#">
	  <INPUT TYPE="HIDDEN" NAME="new_meta_id" VALUE="#new_meta_id#">
	</table>
  </CENTER>
</FORM>
</BODY></HTML>