<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html40/strict.dtd">
<html>
<head>
<title>Password via e-mail</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language="Javascript">
<!--
function openHelp(id){
	window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');
}
//-->
</SCRIPT>

</head>

<body bgcolor="#FFFFFF">
<div align="center"> <b><font face="Verdana, Arial, Helvetica, sans-serif">Password
  via e-mail</font></b> <br>
  <font face="Verdana, Arial, Helvetica, sans-serif" color="#FF0000" size="1">#errorininput#</font> 
  <form method="post" name="requset_password" action="PasswordMailReminder">
  <table border="1">
    <tr>
      <td>
        <table>
          <tr>
              <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;User name:</font></td>
          </tr>
          <tr>
            <td><input type="text" name="login_name"></td>
          </tr>
        </table>
      </td>
	<tr>
      <td><input type="submit" value="Send">&nbsp; <a href="GetDoc?meta_id=252" target="_blank" onClick="openHelp('252'); return false;"><img src="@imageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a></td>
    </tr>
  </table>
</form>
<br>
  &nbsp; <font face="Verdana, Arial, Helvetica, sans-serif"><a href="StartDoc">Back
  to Start Page</a></font> </div>
</body>
</html>