<table border=0 width="75%" align="center">
  <tr> 
    <td height="15"> 
      <form name="form1" action="#SERVLET_URL#SearchDocs" method="post" >
        <input type="submit" name="search_prev" value="&lt;--Previous">
        <input type="hidden" name="question_field" value="#QUEST#">
        <input type="hidden" name="start" value="#START#">
        <input type="hidden" name="search_type" value="#SEARCH_TYPE#">
        <input type="hidden" name="string_match" value="#STRING_MATCH#">
        <input type="hidden" name="search_area" value="#SEARCH_AREA#">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      </form>
    </td>
  </tr>
</table>
