<html>
<head>
<title>Search results</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<h2> 
  <center>
    Search results <br>
    <font face="Verdana, Arial, Helvetica, sans-serif" size="1"> </font> 
  </center>
</h2>
<div align="center"><a href="#SERVLET_URL#SearchDocs">New search</a> </div>
<table border=0 width="90%" align="center">
  <tr> 
    <td colspan="3"><font size="2"><b><font size="2"><b><font face="Verdana, Arial, Helvetica, sans-serif">&nbsp;No. 
      </font></b></font> <font size="2"><b><font size="2"><b><font face="Verdana, Arial, Helvetica, sans-serif"> 
      </font></b></font> <font face="Verdana, Arial, Helvetica, sans-serif"></font></b></font><font size="2"><b><font face="Verdana, Arial, Helvetica, sans-serif"> 
      </font></b></font> <font face="Verdana, Arial, Helvetica, sans-serif"></font><font face="Verdana, Arial, Helvetica, sans-serif">Header</font></b></font></td>
    <td width="13%"><font size="2"><b><font face="Verdana, Arial, Helvetica, sans-serif">Date</font></b></font></td>
  </tr>
  <tr> 
    <td colspan="4"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">#ONE_RECORD#</font></td>
  </tr>
  <tr> 
    <td colspan="4"><font face="Verdana, Arial, Helvetica, sans-serif">&nbsp;</font></td>
  </tr>
  <tr> 
    <td colspan="3"> 
      <div align="right"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#PREV_PAGE##NEXT_PAGE# 
        </font></div>
    </td>
    <td width="13%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
      </font></td>
  </tr>
  <tr> 
    <td colspan="4"> 
      <div align="left"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#HITS_SUMMARY#</font></div>
    </td>
  </tr>
</table>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Start: #START# 
  <br>
  Search_type: #SEARCH_TYPE#<br>
  String_match: #STRING_MATCH#<br>
  Search_area: #SEARCH_AREA#<br>
  Questionfield: #QUEST# </font><br>
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp; </p>
</body>
</html>
