<html>
<head>
<title>Warning!</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<form method="get" action="TemplateAdmin">
  <table width="62%" border="0" cellspacing="0">
	<tr bgcolor="#333366"> 
	  <td width="5%" height="32">&nbsp;</td>
	  <td width="90%" height="32"> 
		<div align="center"><b><font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif" size="2">Warning!</font></b></div>
	  </td>
	  <td width="5%" height="32">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Unfortunately you are not allowed to load files larger than<i>#uploadsize#</i> bytes. This limit has been set to avoid slowing down the server with large up- and downloads. Please contact the System Administrator 
		if you need this limit raised.</font></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<input type="submit" name="add_template" value="Back">
		<input type="hidden" name="language" value="#language#">
		<input type="hidden" name="add_template" value="Back">
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%">&nbsp;</td>
	  <td width="5%">&nbsp;</td>
	</tr>
  </table>
</form>
</body>
</html>
