<html>
<head>
<title>Rename format directory</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<form method="post" action="TemplateChange">
  <table width="40%" border="0" cellpadding="0" cellspacing="0">
	<tr bgcolor="#333366"> 
	  <td width="5%">&nbsp;</td>
	  <td> 
		<div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">
		  Rename format directory</font></b></div>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Current directories: 
		<select name="templategroup">
			#templategroups#
        </select>
		</font> </td>
	  <td width="5%">&nbsp; </td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2">New name: 
		<input type="text" name="name" maxlength="255" size="25">
		</font></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<!--tr bgcolor="#bababa"> 
      <td width="5%" height="31">&nbsp;</td>
      <td colspan="2" height="31"> 
        <p> 
          <input type="checkbox" name="checkbox" value="checkbox">
          Show this directory even for persons with limited system authority</p>
      </td>
    </tr--> 
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td> 
		<input type="submit" name="group_rename" value="OK">
		<input type="submit" name="cancel" value="Back">
		<input type="hidden" name="group_rename" value="OK">
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td>&nbsp;</td>
	  <td width="5%">&nbsp;</td>
	</tr>
  </table>
</form>
</body>
</html>
