<html>
<head>
<title>Warning!</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<form method="post" action="TemplateAdmin">
  <table width="40%" border="0" cellspacing="0">
	<tr bgcolor="#333366"> 
	  <td width="5%">&nbsp;</td>
	  <td> 
		<div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Warning!</font></b></div>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td> <font size="2" face="Verdana, Arial, Helvetica, sans-serif">Oops! You forgot to enter a name. Please try again. </font></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td> 
		<p> 
		  <input type="submit" name="add_group" value="Back">
		  <input type="hidden" name="add_group" value="Back">
		</p>
		</td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td>&nbsp;</td>
	  <td width="5%">&nbsp;</td>
	</tr>
  </table>
</form>
</body>
</html>
