<html>
<head>
<title>Show design template</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language="Javascript">
<!--
function openHelp(id){
	window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');
}
//-->
</SCRIPT>

</head>

<body bgcolor="#FFFFFF">
<form method="post" action="TemplateChange">
  <table width="40%" border="0" cellspacing="0">
	<tr bgcolor="#333366"> 
	  <td width="5%">&nbsp;</td>
	  <td colspan="3"> 
		<center>
		  <font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif"><b><font size="2">Show 
		  design template </font></b></font> 
		</center>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="30%"> 
		<select name="template" size="10">
			#template_list#
		   
		</select>
	  </td>
	  <td width="30%"> 
		<input type="submit" name="list_templates_docs" value="List pages--&gt;">
	  </td>
	  <td width="30%"> 
		<select name="templates_doc" size="10">#templates_docs#
		</select>
	  </td>
	  <td width="5%">&nbsp; </td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="30%"> 
		<input type="submit" name="cancel" value="Back">
		<input type="HIDDEN" name="language" value="#language#">
	  </td>
	  <td width="30%">&nbsp;</td>
	  <td width="30%"> 
		<input type="submit" name="show_doc" value="Show page">&nbsp; <a href="GetDoc?meta_id=227" target="_blank" onClick="openHelp('227'); return false;"><img src="@imcmsimageurl@/en/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="Open help page"></a>
	  </td>
	  <td width="5%">&nbsp; </td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="30%">&nbsp;</td>
	  <td width="30%">&nbsp;</td>
	  <td width="30%">&nbsp;</td>
	  <td width="5%">&nbsp;</td>
	</tr>
  </table>
</form>
</body>
</html>
