<html>
<head>
<title>Remove format directory</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<form method="post" action="TemplateChange">
  <table width="40%" cellspacing="0" cellpadding="0" border="0">
	<tr bgcolor="#333366"> 
	  <td width="5%">&nbsp;</td>
	  <td><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF"></font> 
		<div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF"><b><font size="2">Remove 
		  format directory</font></b></font></div>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td> 
		<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Format directories: 
		  </font> 
		  <select name="templategroup">
			#templategroups#
          </select>
		</p>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td> 
		<input type="submit" name="group_delete_check" value="Remove">
		<input type="submit" name="cancel" value="Back">
		<input type="hidden" name="cancel" value="Back">
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa">
	  <td width="5%">&nbsp;</td>
	  <td>&nbsp;</td>
	  <td width="5%">&nbsp;</td>
	</tr>
  </table>
</form>
</body>
</html>
