<html>
<head>
<title>Create template directory</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language="Javascript">
<!--
function openHelp(id){
	window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');
}
//-->
</SCRIPT>

</head>

<body bgcolor="#FFFFFF">
<form method="post" action="TemplateChange">
  <table width="40%" border="0" cellspacing="0">
	<tr bgcolor="#333366"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Create 
		  template directory</font></b></div>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Name: 
		</font> 
		<input type="text" name="name" maxlength="255" size="25">
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<!-- tr bgcolor="#bababa"> 
      <td width="5%" height="31">&nbsp;</td>
      <td width="91%" height="31"> 
        <p>Sorteringsordning: 
          <input type="radio" name="radiobutton" value="radiobutton" checked>
          Bokstav 
          <input type="radio" name="radiobutton" value="radiobutton">
          Datum 
          <input type="radio" name="radiobutton" value="radiobutton">
          Manuell 
          <input type="text" name="textfield2" size="4" value="">
        </p>
        <p> 
          <input type="checkbox" name="checkbox" value="checkbox">
          Show this directory even to administrators with only dynamic authority 1 and 2 </p>
      </td>
      <td width="4%" height="31">&nbsp;</td>
    </tr--> 
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<input type="submit" name="group_add" value="Create">
		<input type="submit" name="cancel" value="Back">
		<input type="HIDDEN" name="group_add" value="OK">&nbsp; <a href="GetDoc?meta_id=211" target="_blank" onClick="openHelp('211'); return false;"><img src="@imcmsimageurl@/en/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="Open help page"></a>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa">
	  <td width="5%">&nbsp;</td>
	  <td width="90%">&nbsp;</td>
	  <td width="5%">&nbsp;</td>
	</tr>
  </table>
</form>
</body>
</html>
