<html>
<head>
<title>Radera formatmall</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<p align="center">Radera formatmall:</p>
<form method="post" action="TemplateDelete">
  <center>
    <table width="50%" border="0">
      <tr>
        <td width="25%">
          <div align="right">Mallfil:</div>
        </td>
        <td width="25%"> 
          <div align="right"></div>
        </td>
        <td width="50%"> 
          <select name="templatefiles">
			#templatefiles#
          </select>
        </td>
      </tr>
    </table>
    <br>
    <input type="submit" name="OK" value="OK">
  </center>
</form>
</body>
</html>
