<html>
<head>
<SCRIPT language="JavaScript">
<!--
function openHelp(id){
	window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');
}
//-->
</SCRIPT>
</head>
<body>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">A status test of URL pages linked to the system is in progress. 
  This can take some time so please be patient...</font></p>
<form method="get" action="AdminManager" >
  <input type="submit" name="Submit" value="Back">&nbsp; <a href="GetDoc?meta_id=218" target="_blank" onClick="openHelp('218'); return false;"><img src="@imcmsimageurl@/en/helpimages/btn_help_round_white-bg.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
</form>
<br><hr>
<table border="1" cellspacing="0" cellpadding="1">
  <tr bgcolor="#000099"> 
	<th width="10%"><font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif" size="2">Meta ID</font></th>
	<th width="60%"><font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif" size="2">URL</font></th>
	<th width="10%"><font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif" size="2">Server found</font></th>
	<th width="10%"><font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif" size="2">Server accessible</font></th>
	<th width="10%"><font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif" size="2">Page found</font></th>
  </tr>