<HTML>
<head>
<TITLE>Login</TITLE>

<SCRIPT language="JavaScript">
<!--
function openHelp(id){
	window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');
}
//-->
</SCRIPT>
</head>
<BODY bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

    
<table width="743" border="0" cellspacing="0" cellpadding="0" height="100%">
      <tr> 
        
    <td valign="top" align="center"><BR> 
      <FORM ACTION="UserChangePrefs" METHOD="POST" name="login">
        <TABLE BORDER="1" cellpadding="0" cellspacing="0" width="200">
          <TR bgcolor="#333366"> 
            <TD COLSPAN="2" align="center"> <font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif" size="3"><b>Welcome 
              </b></font> </TD>
          </TR>
 <TR bgcolor="#333366"> 
        <TD COLSPAN="2" align="center"><font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif" size="2">
            Enter your user name and password<br>
              to be able to edit your personal settings. </font> 
            </TD>
          </TR>

<TR>
            <TD bgcolor="#bababa" valign="middle"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Name:</font><b> 
              </b> </TD>
            <TD bgcolor="#bababa" valign="middle" align="center"> 
              <INPUT TYPE="TEXT" NAME="login_name" VALUE="" SIZE="15">
            </TD>
      </TR>

<TR>
            <TD bgcolor="#bababa" valign="middle"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Password:</font> 
            </TD>
            <TD bgcolor="#bababa" valign="middle" align="center"> 
              <INPUT TYPE="PASSWORD" NAME="password" VALUE="" SIZE="15">
            </TD>
      </TR>

      <TR bgcolor="#bababa" valign="middle"> 
        <TD COLSPAN=2> 
          <CENTER>
                <INPUT TYPE="SUBMIT" VALUE="  OK   " name="verifyUser">&nbsp; <a href="javascript:openHelp('54');"><img src="@imageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="Open help page"></a></TD>
          </CENTER>
</TD></TR>
</TABLE>
</form>
</td>
    <td width="25">&nbsp;</td>
      </tr>
    </table>
</BODY></HTML>
