<!DOCTYPE html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>S&ouml;k</TITLE>
<SCRIPT language=JavaScript>
<!--
function openHelp(id) {
	window.open("GetDoc?meta_id=" + id,"help","scrollbars=yes,width=650,height=570");
}
//-->
</SCRIPT>
</HEAD>
<BODY bgcolor="#ffffff" link="#333399" vlink="#333399" alink="#999999">
<FORM method="post" action="SearchDocuments">
	<table cellpadding="2" cellspacing="0" align="center" border="1" width="600">
		<TR bgcolor="#333366">
			<TD colspan="2"><B><FONT face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#ffffff">			
			Skriv in din fr&aring;ga nedan:			
</FONT></B>
			</TD>
		</TR>
		<TR bgcolor="#bababa">
			<TD height="35" colspan="2">
				<INPUT type="Text" name="question_field" size="65">
				<INPUT type="submit" name="search" value="S&ouml;k">
				&nbsp; <a href="GetDoc?meta_id=101" target="_blank" onClick="openHelp('101'); return false;"><img src="@imageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
			</TD>
		</TR>
		
		<TR bgcolor="#bababa">
			<TD height="51">
				<SELECT name="no_of_hits" size="1">
					<OPTION value="10">10</OPTION>
					<OPTION value="20">20</OPTION>
					<OPTION value="30">30</OPTION>
					<OPTION value="40">40</OPTION>
					<OPTION value="50" selected>50</OPTION>
					<OPTION value="60">60</OPTION>
					<OPTION value="70">70</OPTION>
					<OPTION value="80">80</OPTION>
					<OPTION value="90">90</OPTION>
					<OPTION value="100">100</OPTION>				
				</SELECT><FONT face="Verdana, Arial, Helvetica, sans-serif" size="2">
				Antal tr&auml;ffar per sida.</FONT>
			</TD>
		</TR>
	</TABLE><BR>
</FORM>
	#search_hit_list#
</BODY>
</HTML>
