<!DOCTYPE html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<TITLE>S&ouml;k avancerad</TITLE>
	<SCRIPT language=JavaScript>
<!--
function openHelp(id) {
	window.open("GetDoc?meta_id=" + id,"help","scrollbars=yes,width=650,height=570");
}
//-->
</SCRIPT>
</HEAD>
<BODY bgcolor="#ffffff" link="#333399" vlink="#333399" alink="#999999">
<FORM METHOD="post" ACTION="SearchDocuments">
	<input type="hidden" name="mode" value="adv">
  <CENTER>
    <TABLE cellpadding="2" cellspacing="0" align="center" border="1" width="631" height="1">
      <TR bgcolor="#333366" valign="middle"> 
        <TD bgcolor="#333366" width="623" height="26" colspan="2">           
          <font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
          &nbsp;S&ouml;kord: 
          <input type="text" name="question_field" size="65" value="">          
          </font></TD>
      </TR>
	  <TR bgcolor="#BABABA"> 
	  	<td width="50%">Sök bland avdelningar:</td>
	  	<td>
			<select name="section">
				<OPTION value="-1">Alla</OPTION>
					#section_list#				
			</select>
		</td>
		
	  </TR>      
	  
	  <TR bgcolor="#BABABA"> 
        <TD colspan="2">    
             <input type="submit" name="search" value="S&ouml;k">
			 &nbsp; <a href="GetDoc?meta_id=102" target="_blank" onClick="openHelp('102'); return false;"><img src="@imageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
        </TD>
      </TR>
    </TABLE>
	
	




    <font face="Verdana, Arial, Helvetica, sans-serif" size="1">
		&nbsp;#search_hit_list#&nbsp;
	</font>

</center>
</FORM>
</BODY>
</HTML>
