
<table cellpadding="2" cellspacing="0" align="center" border="0" width="600">
	<TR bgcolor="#333366">
		<TD colspan="3"><B><FONT face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#ffffff">			
			Träffar:	</FONT></B>
		</TD>
	</TR>
  	 
   			#hit_list#
  
  	
</table>
<table cellpadding="2" cellspacing="0" align="center" border="0" width="600">
	<tr bgcolor="#bababa"> 			
    	<td width="300" align="center"> 
      		#prev_page#
    	</td>
		<td width="300" align="center"> 
      		#nex_page# 
    	</td>			
  </tr>  
</table>
