#gui_start_of_page( "<? templates/sv/AdminManager_adminTask_element.htm/13 ?>" "AdminManager" "" "97" "" )

<table width="600">
    <form method="post" action="AdminRandomTexts" name="AdminRandomTexts">
    <tr>
        <td><? templates/sv/fortunes/admin_random_texts.html/3 ?></td>
    </tr>
    <tr>
        <td colspan="2" nowrap>
            <select name="AdminFile">
            #options#</select> &nbsp;
            <input type="submit" class="imcmsFormBtnSmall" name="edit" value="<? templates/sv/fortunes/admin_random_texts.html/2001 ?>">
        </td>
    </tr>
    </form>
</table>

#gui_end_of_page()

