#gui_start_of_page( "<? templates/sv/AdminManager_adminTask_element.htm/4 ?>" "AdminManager" "" "96" "" )

<table width="300">
    <form method="post" action="AdminQuestions" name="AdminQuestions">
    <tr>
        <td colspan="2"><? templates/sv/fortunes/admin_questions.html/3 ?></td>
    </tr>
    <tr>
        <td colspan="2" nowrap>
            <select name="AdminFile">#options#</select>
            &nbsp;
            <input type="submit"  class="imcmsFormBtnSmall" name="edit" value="<? templates/sv/fortunes/admin_questions.html/2001 ?>">
            <input type="submit"  class="imcmsFormBtnSmall" name="result" value="<? templates/sv/fortunes/admin_questions.html/2002 ?>">
        </td>
    </tr>
    </form>
</table>

#gui_end_of_page()

