<html>

<head>

<title><? templates/sv/fortunes/admin_questions.html/1 ?></title>



</head>

<body bgcolor="#FFFFFF">

<form method="post" action="AdminQuestions" name="AdminQuestions">

  <table width="46%" border="0" cellspacing="0">
    <tr bgcolor="#333366"> 
      <td width="2%">&nbsp;</td>
      <td colspan="2"> 
        <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2"><? templates/sv/fortunes/admin_questions.html/2 ?> </font></b></div>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="2%">&nbsp;</td>
      <td colspan="3"> 
        <hr>
      </td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="2%">&nbsp;</td>
      <td colspan="2"> 
        <div align="left"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/fortunes/admin_questions.html/3 ?></font></div>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="2%">&nbsp;</td>
      <td colspan="2" nowrap>  
        <select name="AdminFile">
          #options#
        </select>
        &nbsp; 
        <input type="submit" name="edit" value="<? templates/sv/fortunes/admin_questions.html/2001 ?>">
        <input type="submit" name="result" value="<? templates/sv/fortunes/admin_questions.html/2002 ?>">
         </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="2%" rowspan="2">&nbsp;</td>
      <td colspan="3"> 
        <hr>
      </td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td colspan="2" align="right"> 
        <input type="submit" name="back" value="<? templates/sv/fortunes/admin_questions.html/2003 ?>">
        <a href="@documentationurl@/GetDoc?meta_id=96" target="_blank"><img src="$contextPath/imcms/$language/images/admin/btn_help_round.gif" width="21" height="21" border="0" alt="<? templates/sv/fortunes/admin_questions.html/2004 ?>"></a>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="2%">&nbsp;</td>
      <td colspan="2">&nbsp;</td>
      <td width="5%">&nbsp;</td>
    </tr>
  </table>

  <p>&nbsp;</p>

  </form>

</body>

</html>

