#gui_start_of_page( "<? global/edit ?> <? templates/sv/AdminManager_adminTask_element.htm/13 ?>, #file#" "AdminRandomTextsFile" "back" 99 "" )

<form method="post" id="addForm" action="AdminRandomTextsFile" name="AdminRandomTextsFile">

  <table width="500">
    <tr>
      <td>
        <? templates/sv/fortunes/admin_random_texts_file.html/4 ?>
        <input type="text" name="date1" id="dateFrom" size="6" value="#date1#">
      </td>
    </tr>
    <tr>
      <td colspan="2" >
        <? templates/sv/fortunes/admin_random_texts_file.html/1001 ?>
        <input type="text" name="date2" id="dateTo" size="6" value="#date2#">
      </td>
    </tr>
    <tr>
      <td>
        <? templates/sv/fortunes/admin_random_texts_file.html/5 ?>
      </td>
    </tr>
    <tr>
      <td >
        <textarea cols="40" rows="5" name="text">#text#</textarea> </td>
    </tr>
    <tr>
      <td align="center" > <input type="Hidden" name="add" value="">
        <input type="button" class="imcmsFormBtnSmall" name="addButton" value="<? templates/sv/fortunes/admin_random_texts_file.html/2001 ?>" onclick="checkInput()">
      </td>
    </tr>
    <tr>
      <td colspan="6">#gui_hr( "blue" )</td>
    </tr>
    <tr>
      <td > <select name="AdminFile" size="5" multiple>
         #options#
        </select> </td>
    </tr>
    <tr>

      <td align="center" nowrap> <input type="submit" class="imcmsFormBtnSmall" name="edit" value="<? templates/sv/fortunes/admin_random_texts_file.html/2002 ?>">
        <input type="submit" class="imcmsFormBtnSmall" name="remove" value="<? templates/sv/fortunes/admin_random_texts_file.html/2003 ?>">
      </td>
    </tr>
    <tr>
      <td colspan="6">#gui_hr( "blue" )</td>
    </tr>
    <tr>
      <td align="center" >
        <input type="submit" class="imcmsFormBtnSmall" name="save" value="<? templates/sv/fortunes/admin_random_texts_file.html/2004 ?>">
        <input type="submit" class="imcmsFormBtnSmall" name="back" value="<? global/cancel ?>" >
      </td>
    </tr>
  </table>

 </form>

    <script language="JavaScript">
    <!--
    function checkInput(){
       var f = document.getElementById("addForm");
       var date1 = document.getElementById("dateFrom").value;
       var date2 = document.getElementById("dateTo").value;
       if(date1>date2){
           alert('<? templates/sv/fortunes/admin_random_texts_file.html/2 ?>') ;
       }
       else{
           f.add.value='add';
           f.submit();
       }
    }
    -->
    </script>

#gui_end_of_page()

