<html>
<head>
<title><? templates/sv/fortunes/show_questions.html/2 ?></title>
    <link rel="stylesheet" type="text/css" href="$contextPath/imcms/css/imcms_admin.css.jsp">
    <script src="$contextPath/imcms/$language/scripts/imcms_admin.js" type="text/javascript"></script>
</head>
<body>

#gui_outer_start()
#gui_head( "<? templates/sv/fortunes/show_questions.html/2 ?>" )
#gui_head_help_and_back_buttons( 100  "AdminQuestionsFile" "back" "back" )
#gui_mid()

<form method="post" action="AdminQuestionsFile" name="AdminQuestionsFile">
  <table>
    <tr>
      <td colspan="2" >
        <select name="AdminFile" size="5" multiple>
          #options#
        </select>
      </td>
    </tr>
  </table>
</form>

#gui_bottom()
#gui_outer_end()

</body>
</html>

