.imcms-choose-img-wrap {
    cursor: pointer;
    display: block;
    float: left;
    width: 11%;
    min-width: 146px;
    margin-left: .75%;
    margin-right: .75%;
    padding: 14px;
    max-height: 290px;
}

.imcms-choose-img {
    background: #e4e4f2 no-repeat center;
    background-size: contain;
    width: 100%;
    height: 146px;
}

.imcms-choose-img-description {
    padding: 7px;
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    max-height: 100px;
}

.imcms-choose-img-description__date {
    color: #587380;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: left;
    padding-bottom: 3px;
}

.imcms-choose-img-description__button {
    display: none;
    position: absolute;
    top: 10px;
    right: -5px;
}

.imcms-choose-img-description .imcms-control--warning {
    right: -5px;
    position: absolute;
}

.imcms-choose-img-description__img-title {
    font-size: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: 17px;
    line-height: 17px;
}

.imcms-choose-img-description__img-size {
    color: #587380;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
}

.imcms-choose-img-wrap:hover {
    background-color: #fff;
}

.imcms-choose-img-wrap.image-chosen {
    background-color: #95e298;
}

.imcms-choose-img-wrap.image-chosen:hover {
    background-color: #7fe282;
}

.image-chosen,
.imcms-choose-img-wrap:hover {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.07);
}

.image-chosen .imcms-choose-img,
.imcms-choose-img-wrap:hover .imcms-choose-img {
    background-color: #fff;
}

.imcms-choose-img-wrap:hover .imcms-choose-img-description__button {
    display: block;
}

.imcms-choose-img-wrap--active {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.07);
    margin-bottom: 51px;
    width: 12%;
    margin-right: .25%;
    margin-left: .25%;
}

.imcms-choose-img-wrap--active .imcms-choose-img {
    background-color: #fff;
}

.imcms-choose-img-wrap--active .imcms-choose-img-description__button {
    display: block;
}

.imcms-choose-img-description .imcms-choose-img-description__open-image {
    height: 18px;
    width: 18px;
    background-size: 18px;
    border: none;
    border-radius: 0;
    background-color: transparent;
}
