.imcms-menu-editor__head {
    position: absolute;
	overflow: hidden;
	white-space: nowrap;
}

.imcms-menu-editor__body {
    background-color: #f3f3fc;
    overflow: hidden;
    padding-top: 42px;
    width: 100%;
    height: 93%;
}

.imcms-menu-editor-body__left-side {
    width: 45%;
}

.imcms-menu-editor-body__right-side {
    width: 55%;
}

.imcms-menu-editor-body__left-side,
.imcms-menu-editor-body__right-side {
    border-bottom: 1px solid #d3d8de;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    float: left;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.imcms-menu-editor-body__left-side {
    padding-bottom: 0;
}

.imcms-menu-new-button__button {
    padding: 10px 0;
    width: 100%;
    font-size: 30px !important;
}

.imcms-menu-editor-body__left-side .imcms-switch-block__active-info {
    margin-right: 5px;
	text-align: center;
}

.imcms-menu-editor-head__new-button {
    margin-right: auto;
}

.imcms-menu-sort__type-sort{
	width: 100%;
}

.imcms-menu-sort__type-sort-numbering {
	position: absolute;
	top: 11%;
	margin-top: 5px;
}

.imcms-menu-head-row__type-sort-block{
	width: 75%;
display: flex;
	margin-right: 2%;
}
.imcms-menu-head-row__switch-multi-delete {
    display: flex;
	flex-direction: column;
	place-items: center;
	width: 25%;
}

.imcms-menu-editor-head {
	display: flex;
	justify-content: space-between;
	height: 11%;
}

.imcms-menu-head-row {
    display: flex;
    align-items: center;
}

.imcms-menu-editor-head__first-line {
	width: 10%;
	margin: 0 1% 0 1%;
}

.imcms-menu-editor-head__second-line {
	width: 90%;
	justify-content: space-between;
	/*margin-left: 5%;*/
}

.imcms-menu-editor-head .imcms-field .imcms-select__label {
    margin-bottom: 5px;
}

.imcms-menu-editor-body__right-side {
    border-left: 1px solid #d3d8de;
    padding-bottom: 0;
}

.imcms-menu-editor__footer {
	position: absolute;
	bottom: 0;
	height: 7%;
	width: 100%;
	padding: 7px 27px;
	background-color: #f3f3fc;
}

.imcms-document-editor-head__error-search {
    padding-left: 20%;
	height: 18px;
}

.imcms-menu-list {
    -webkit-user-select: none;
    -moz-user-select: none;
}

.imcms-menu-items--frame {
    background-color: #e9e9f5;
    position: absolute;
    z-index: 11001;
    width: 40%;
}

.imcms-menu-editor .imcms-document-list__items .imcms-document-items-list__document-items .imcms-document-items__document-item > .imcms-document-item__controls:first-child {
	right: auto;
	left: 0;
}

.imcms-menu-editor .imcms-document-item:hover .imcms-document-item__controls {
	display: block;
}

.imcms-menu-editor .imcms-document-item__controls {
	display: none;
	visibility: visible;
	width: auto;
	margin: 0;
	padding: 14px 0;
	position: absolute;
	top: 0;
	right: 15px;
	float: right;
}

.imcms-menu-editor .imcms-document-item__multi-remove-controls {
	display: block;
	padding: 14px 0;
	width: auto;
	position: absolute;
	top: 0;
	right: 7px;
	float: right;
}

.imcms-menu-items--frame .imcms-document-item:hover .imcms-document-item__controls {
    right: auto;
    left: 0;
}

.imcms-menu-items--frame .imcms-document-item:hover .imcms-document-item__controls:last-child {
    display: none;
}

.imcms-menu-items--frame .imcms-document-item .imcms-document-item__multi-remove-controls:last-child {
    display: block;
}

.imcms-document-list-titles__multi-remove {
    width: 78px;
    margin-right: 5px;
    padding: 0;
}

.imcms-menu-item .imcms-control--move {
    display: none;
}

.imcms-last-saved-mode {
    color: #b40d4c;
}

.imcms-document-list__titles.imcms-menu-list-titles{
	padding-right: 0;
}

@media screen and (max-width: 1500px) {
	.imcms-text-box.imcms-flex--m-auto.imcms-document-item__sort-order,
	.imcms-menu-list-titles__title--sort-order.imcms-document-list-titles__title--sort-order.imcms-document-list-titles__title {
		width: 3.5rem;
	}
	.imcms-menu-head-row__type-sort-block{
	}
	.imcms-document-list__titles.imcms-menu-list-titles,
	.imcms-menu-items .imcms-menu-item{
		padding-left: 30px;
	}

	.imcms-menu-items .imcms-menu-item{
		padding-right: 73px !important;
	}

    .imcms-menu-editor *,
    .imcms-menu-editor *::placeholder {
        font-size: 12px;
    }

    .imcms-menu-editor .imcms-document-item__info--id,
    .imcms-menu-editor .imcms-document-list-titles__title--id {
    }

    .imcms-menu-editor .imcms-document-item__info--date,
    .imcms-menu-editor .imcms-document-list-titles__title--date {
        min-width: 65px;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
    }

	.imcms-menu-editor .imcms-document-item .imcms-controls__control{
		margin-left: 3px;
	}
	.imcms-menu-editor .imcms-document-list-titles__multi-remove{
		width: 65px;
	}
	.imcms-text-box.imcms-document-item__sort-order>input{
		padding: 8px 5px;
	}
}

@media screen and (max-width: 1400px) {
	.imcms-menu-head-row__type-sort-block {
		width: 74%;
	}
	.imcms-menu-head-row__switch-multi-delete{
		width: 26%;
	}
}

@media screen and (max-width: 1400px) {
	.imcms-menu-head-row__type-sort-block {
		width: 69%;
	}
	.imcms-menu-head-row__switch-multi-delete{
		width: 31%;
	}
}

@media screen and (max-width: 1140px) {
	.imcms-menu-head-row__type-sort-block {
		width: 60%;
	}
	.imcms-menu-head-row__switch-multi-delete{
		width: 40%;
	}
}

@media screen and (max-width: 905px) {
	.imcms-menu-head-row__type-sort-block {
		width: 57%;
	}
	.imcms-menu-head-row__switch-multi-delete{
		width: 43%;
	}
	.imcms-grid-col-1.imcms-document-item__info--currentVersion.imcms-document-item__info{
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.imcms-document-item__info--currentVersion, .imcms-document-list-titles__title--currentVersion{
	}

	 .imcms-menu-items .imcms-menu-items[data-menu-items-lvl="2"] .imcms-menu-item {
		padding-left: 35px;
	}

	.imcms-document-items .imcms-menu-items[data-menu-items-lvl="2"] .imcms-document-item__btn {
		left: 25px;
	}

	.imcms-menu-items .imcms-menu-items[data-menu-items-lvl="3"] .imcms-menu-item {
		padding-left: 40px;
	}

	.imcms-document-items .imcms-menu-items[data-menu-items-lvl="3"] .imcms-document-item__btn {
		left: 30px;
	}

	.imcms-menu-items .imcms-menu-items[data-menu-items-lvl="4"] .imcms-menu-item {
		padding-left: 45px;
	}

	.imcms-document-items .imcms-menu-items[data-menu-items-lvl="4"] .imcms-document-item__btn {
		left: 35px;
	}

	.imcms-menu-items .imcms-menu-items[data-menu-items-lvl="5"] .imcms-menu-item {
		padding-left: 55px;
	}

	.imcms-document-items .imcms-menu-items[data-menu-items-lvl="5"] .imcms-document-item__btn {
		left: 45px;
	}
}

@media screen and (max-width: 815px) {
	.imcms-menu-head-row__type-sort-block {
		width: 50%;
	}
	.imcms-menu-head-row__switch-multi-delete{
		width: 50%;
	}
	.imcms-menu-list .imcms-document-item__controls:last-child,
	.imcms-menu-list .imcms-document-item__multi-remove-controls:last-child {
		padding-left: 0;
		padding-right: 0;
	}
	.imcms-grid-col-13.imcms-title.imcms-document-item__info--status.imcms-document-item__info{
		min-width: 3em;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.imcms-menu-editor__head {
		padding-left: 5%;
	}
}

@media screen and (max-width: 750px) {
	.imcms-menu-editor__head {
		padding-left: 15%;
	}
}

@media screen and (max-width: 720px) {
	.imcms-text-box.imcms-flex--m-auto.imcms-document-item__sort-order,
	.imcms-menu-list-titles__title--sort-order.imcms-document-list-titles__title--sort-order.imcms-document-list-titles__title {
		width: 2.6rem;
	}
}
@media screen and (max-width: 700px) {
	.imcms-menu-head-row__type-sort-block {
		width: 45%;
	}
	.imcms-menu-head-row__switch-multi-delete{
		width: 55%;
	}
}

@media screen and (max-width: 645px) {
	.imcms-menu-head-row__switch-multi-delete{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

@media screen and (max-width: 600px) {
	.imcms-menu-editor__head {
		padding-left: 20%;
	}
}

@media screen and (max-height: 800px) {
    .imcms-menu-editor__footer {
        padding: 15px 27px;
    }
}

@media screen and (max-height: 650px) {
    .imcms-menu-editor__footer {
        padding: 10px 27px;
    }
}

@media screen and (max-height: 570px) {
    .imcms-menu-editor__footer {
        padding: 5px 27px;
    }
}

@media screen and (max-height: 515px) {
    .imcms-menu-editor__footer {
        padding: 0 27px;
    }
}

@media screen and (max-height: 460px) {
    .imcms-menu-editor {
        min-height: 460px;
    }
}
