.imcms-menu-item {
    padding-left: 35px !important;
    padding-right: 88px !important;
}

.imcms-document-item__btn {
    background: url("/imcms/images/controls/icon_sub_close_dark.png") no-repeat center;
}

.imcms-document-item__btn {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 20px;
    left: 30px;
    width: 10px;
    height: 10px;
}

.imcms-document-item__btn--open {
    background: url("/imcms/images/controls/icon_sub_open_dark.png") no-repeat center;
}

.imcms-menu-items--is-drag {
    background: #d0e9f9;
    opacity: .5;
}