.imcms-menu-item {
    padding-left: 35px !important;
    padding-right: 88px !important;
}

.imcms-text-box__input[name=numbering-sort] {
    width: -webkit-fill-available;
    width: -moz-available;
    width: available;
    height: 25px;
}

.imcms-document-item__sort-control {
    width: 4.5em;
}

.imcms-document-item__btn {
    background: url("/imcms/images/controls/icon_sub_close_dark.png") no-repeat center;
}

.imcms-document-item__btn {
    cursor: pointer;
    display: block;
    width: 10px;
    margin-left: 5px;
}

.imcms-document-item__btn--open {
    background: url("/imcms/images/controls/icon_sub_open_dark.png") no-repeat center;
}

.imcms-menu-items--is-drag {
    background: #d0e9f9;
    opacity: .5;
}