.imcms-menu-editor__head {
    position: absolute;
}

.imcms-menu-editor__body {
    background-color: #f3f3fc;
    overflow: hidden;
    padding-top: 42px;
    width: 100%;
    height: 90%;
}

.imcms-menu-editor-body__left-side {
    width: 40%;
}

.imcms-menu-editor-body__right-side {
    width: 60%;
}

.imcms-menu-editor-body__left-side,
.imcms-menu-editor-body__right-side {
    border-bottom: 1px solid #d3d8de;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    float: left;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.imcms-menu-editor-body__left-side {
    padding-bottom: 0;
}

.imcms-menu-editor-body__left-side .imcms-menu-new-button .imcms-menu-sort-container {
    padding: 0 27px 16px 14px;
    display: block;
}

.imcms-menu-editor-body__left-side .imcms-menu-new-button__button {
    padding: 10px 0;
    width: 35px;
    font-size: 30px;
}

.imcms-menu-editor-body__left-side .imcms-switch-block__active-info {
    margin-right: 5px;
}

.imcms-menu-editor-head__new-button {
    margin-right: auto;
}

.imcms-menu-sort__type-sort-numbering {
    margin-top: 13px;
    margin-left: 10px;
}

.imcms-menu-head-row__type-sort-block,
.imcms-menu-head-row__switch-multi-delete {
    display: flex;
    align-items: center;
}

.imcms-menu-editor-head {
    padding: 7px 30px 0 0;
}

.imcms-menu-head-row {
    display: flex;
    align-items: center;
}

.imcms-menu-editor-head__first-line {
    padding-left: 10px;
}

.imcms-menu-editor-head__second-line {
    padding-left: 50px;
}

.imcms-menu-editor-head .imcms-field .imcms-select__label {
    margin-bottom: 5px;
}

.imcms-menu-editor-body__right-side {
    border-left: 1px solid #d3d8de;
    padding-bottom: 0;
}

.imcms-menu-editor__footer {
    background-color: #f3f3fc;
    width: 100%;
    height: 10%;
}

.imcms-document-editor-head__error-search {
    padding-left: 20%;
}

.imcms-menu-list {
    -webkit-user-select: none;
    -moz-user-select: none;
}

.imcms-menu-items--frame {
    background-color: #e9e9f5;
    position: absolute;
    z-index: 11001;
    width: 40%;
}

.imcms-menu-items--frame .imcms-document-item:hover .imcms-document-item__controls {
    right: auto;
    left: 0;
}

.imcms-menu-items--frame .imcms-document-item:hover .imcms-document-item__controls:last-child {
    display: none;
}

.imcms-menu-items--frame .imcms-document-item .imcms-document-item__multi-remove-controls:last-child {
    display: block;
}

.imcms-document-list-titles__multi-remove {
    display: none;
    width: 78px;
    margin: 0 5px;
    padding: 0;
}

.imcms-menu-item .imcms-control--move {
    display: none;
}

@media screen and (max-width: 1500px) {
    .imcms-menu-editor *,
    .imcms-menu-editor *::placeholder {
        font-size: 13px;
    }

    .imcms-menu-editor .imcms-document-item__info--id,
    .imcms-menu-editor .imcms-document-list-titles__title--id {
        min-width: 51px;
    }

    .imcms-menu-editor .imcms-document-item__info--date,
    .imcms-menu-editor .imcms-document-list-titles__title--date {
        min-width: 105px;
    }

    .imcms-menu-editor .imcms-document-item__info--type,
    .imcms-menu-editor .imcms-document-list-titles__title--type {
        min-width: 30px;
    }

    .imcms-menu-editor .imcms-document-item__info--status,
    .imcms-menu-editor .imcms-document-list-titles__title--status {
        min-width: 125px;
    }
}

@media screen and (max-height: 800px) {
    .imcms-menu-editor__footer {
        padding: 15px 27px;
    }
}

@media screen and (max-height: 650px) {
    .imcms-menu-editor__footer {
        padding: 10px 27px;
    }
}

@media screen and (max-height: 570px) {
    .imcms-menu-editor__footer {
        padding: 5px 27px;
    }
}

@media screen and (max-height: 515px) {
    .imcms-menu-editor__footer {
        padding: 0 27px;
    }
}

@media screen and (max-height: 460px) {
    .imcms-menu-editor {
        min-height: 460px;
    }
}
