.imcms-submenu-items--close {
    display: none;
}

.imcms-menu-items[data-menu-items-lvl="2"] .imcms-menu-item {
    padding-left: 65px;
}

.imcms-menu-items[data-menu-items-lvl="2"] .imcms-document-item__btn {
    left: 50px;
}

.imcms-menu-items[data-menu-items-lvl="3"] .imcms-menu-item {
    padding-left: 80px;
}

.imcms-menu-items[data-menu-items-lvl="3"] .imcms-document-item__btn {
    left: 65px;
}

.imcms-menu-items[data-menu-items-lvl="4"] .imcms-menu-item {
    padding-left: 95px;
}

.imcms-menu-items[data-menu-items-lvl="4"] .imcms-document-item__btn {
    left: 80px;
}

.imcms-menu-items[data-menu-items-lvl="5"] .imcms-menu-item {
    padding-left: 110px;
}

.imcms-menu-items[data-menu-items-lvl="5"] .imcms-document-item__btn {
    left: 95px;
}
