.imcms-menu-items .imcms-menu-item {
	padding-right: 86px;
}

.imcms-document-item__sort-order input {
    width: -webkit-fill-available;
    width: -moz-available;
    width: available;
    height: 25px;
}

.imcms-button--disabled-click {
    cursor: not-allowed;
}

.imcms-menu-incorrect-data-light {
    background-color: #e8958c;
    border-color: #e8958c;
}

.imcms-border-light {
    width: max-content;
    background: linear-gradient(90deg, #070500 50%, transparent 50%), linear-gradient(90deg, #070500 50%, transparent 50%), linear-gradient(0deg, #070500 50%, transparent 50%), linear-gradient(0deg, #070500 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 10px 2px, 10px 2px, 2px 10px, 2px 10px;
    animation: border-dance 25s infinite linear;
}

@keyframes border-dance {
    0% {
        background-position: 0 0, 100% 100%, 0 100%, 100% 0;
    }
    100% {
        background-position: 100% 0, 0 100%, 0 0, 100% 100%;
    }
}

.imcms-document-item__btn {
    background: url("/imcms/images/controls/icon_sub_close_dark.png") no-repeat center;
    cursor: pointer;
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: calc(50% - 5px);
    left: 20px;
}

.imcms-document-item__btn--open {
    background-image: url("/imcms/images/controls/icon_sub_open_dark.png");
}

.imcms-menu-items--is-drag {
    background: #d0e9f9;
    opacity: .5;
}