.imcms-menu-editor-body__right-side .imcms-menu-list {
    height: 92%;
    height: -webkit-calc(100% - 55px);
    height: -moz-calc(100% - 55px);
    height: -ms-calc(100% - 55px);
    height: -o-calc(100% - 55px);
    height: calc(100% - 55px);
}
