/* tables */
table.tablesorter {
	border-spacing:0;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: gray;
	font-size: 8pt;
	padding: 5px 5px 5px 5px;
}

table.tablesorter thead tr th.header, table.tablesorter tfoot tr th.header {
    padding: 5px 20px 5px 5px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 5px 20px 5px 5px;
	background-color: #FFF;
	vertical-align: middle;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
