<html>
<head>
<title><? templates/sv/postcard/vykort.html/1 ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#FFFFFF" vlink="#FFFFFF" alink="#FFFFFF">

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr align="left" valign="top"> 
    <td><img src="@imcmsimageurl@/105/1x1.gif" width="30" height="20"></td>
    <td>&nbsp;</td>
    <td><img src="@imcmsimageurl@/105/1x1.gif" width="30" height="20"></td>
  </tr>
  <tr align="left" valign="top"> 
    <td>&nbsp;</td>
    <td align="center">
        <table align="center" width="230" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td align="left" valign="top"><img src="@imcmsimageurl@/105/rub_citat.gif" width="227" height="33"><br>
              <img src="@imcmsimageurl@/105/1x1.gif" width="5" height="8"> </td>
          </tr>
          <tr> 
            <td align="left" valign="top"> 
              <table width="230" border="0" cellspacing="0" cellpadding="0">
                <tr align="left" valign="top"> 
                  <td><img src="#imageUrl#" border="0"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr> 
            <td align="left" valign="top" class="rubbe12ej"><img src="@imcmsimageurl@/105/1x1.gif" width="5" height="8"></td>
          </tr>
          <tr> 
            <td align="left" valign="top" class="rubbe12ej">#citat#</td>
          </tr>
          <tr> 
            <td align="left" valign="top"><img src="@imcmsimageurl@/105/1x1.gif" width="5" height="8"></td>
          </tr>
          <tr> 
            <td align="left" valign="top"> 
              <p><img src="@imcmsimageurl@/105/230.gif" width="230" height="11"></p>
            </td>
          </tr>
          <tr> 
            <td align="left" valign="top"><img src="@imcmsimageurl@/105/1x1.gif" width="5" height="8"></td>
          </tr>
          <tr> 
            <td align="left" valign="top"><? templates/sv/postcard/vykort.html/3 ?></td>
          </tr>
          <tr> 
            <td align="left" valign="top"><img src="@imcmsimageurl@/105/1x1.gif" width="5" height="8"></td>
          </tr>
          <tr> 
            <td align="left" valign="top"><? templates/sv/postcard/vykort.html/4 ?></td>
          </tr>
          <tr> 
            <td align="left" valign="top"><img src="@imcmsimageurl@/105/1x1.gif" width="5" height="8"></td>
          </tr>
          <tr> 
            <td align="left" valign="top">#cont4#</td>
          </tr>
          <tr> 
            <td align="left" valign="top"><img src="@imcmsimageurl@/105/1x1.gif" width="5" height="8"></td>
          </tr>
        </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr align="left" valign="top"> 
    <td colspan="3"><img src="@imcmsimageurl@/105/1x1.gif" width="30" height="15"></td>
  </tr>
</table>

</body>
</html>