<?xml version="1.0" encoding="UTF-8"?>
<!--
There are two ways to associate custom imCMS roles with a LDAP entries:
  1.An imCMS role can be mapped to any LDAP user's context attribute.
    An imCMS role specified in <role-to-attribute> will be assigned to an imCMS user at the login time if
    user's LDAP context contains attribute with matching name-value pair.

  2.An imCMS role can me mapped to any Active Directory group.
    An imCMS role specified in <role-to-ad-group> will be assigned to an imCMS user at the login time if
    LDAP service provider is Active Directory and the user is a (direct or indirect) member of a group
    with matching distinguished name.
-->
<server>
    <ldap>
        <mapped-roles>
            <!--<role-to-attribute role-name="LDAP-EMERGENCY" attribute-name="phone" attribute-value="112"/>-->
            <!--<role-to-attribute role-name="LDAP-MANAGER" attribute-name="title" attribute-value="manager"/>-->
            <!--<role-to-attribute role-name="LDAP-SPECIAL" attribute-name="primaryGroupID" attribute-value="513"/>-->

            <!--<role-to-ad-group role-name="imGrpLocSec" group-dn="CN=imGrpLocalSec,CN=Users,DC=d01,DC=imcode,DC=com"/>-->
            <!--<role-to-ad-group role-name="imGrpGloSec" group-dn="CN=imGrpGlobalSec,CN=Users,DC=d01,DC=imcode,DC=com"/>-->
            <!--<role-to-ad-group role-name="imGrpUniSec" group-dn="CN=imGrpUniversalSec,CN=Users,DC=d01,DC=imcode,DC=com"/>-->
            <!--<role-to-ad-group role-name="imGrpLocDist" group-dn="CN=imGrpLocalDistribution,CN=Users,DC=d01,DC=imcode,DC=com"/>-->
            <!--<role-to-ad-group role-name="imGrpGloDist" group-dn="CN=imGrpGlobalDistribution,CN=Users,DC=d01,DC=imcode,DC=com"/>-->
            <!--<role-to-ad-group role-name="imGrpUniDist" group-dn="CN=imGrpUniversalDistribution,CN=Users,DC=d01,DC=imcode,DC=com"/>-->
        </mapped-roles>
    </ldap>
</server>