.imcms-menu {
    display: block;
    float: right;
}

.imcms-menu__items {
    display: block;
    height: 100%;
    min-width: 880px;
}

.imcms-menu__item {
    background: no-repeat 50% 11px;
    color: #2f4047;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    float: left;
    padding-top: 41px;
    position: relative;
    min-width: 110px;
    height: 100%;
}

.imcms-menu__item:last-child {
    background: none;
    cursor: default;
    text-align: center;
    padding-top: 0;
    width: 155px;
}

.imcms-menu__item--active:before,
.imcms-menu__item:hover:before {
    content: "";
    background-color: #0b94d8;
    display: block;
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 100%;
    height: 3px;
}

.imcms-menu__item:last-child:hover:before {
    display: none;
}

.imcms-menu__item:nth-of-type(4):after,
.imcms-menu__item:nth-of-type(5):after,
.imcms-menu__item:nth-of-type(6):after,
.imcms-menu__item:nth-of-type(7):after {
    content: "";
    background-color: #d3d8de;
    display: block;
    position: absolute;
    top: -17px;
    right: -1px;
    height: 90px;
    width: 1px;
}

.imcms-menu__item:last-of-type button {
    margin: 5px auto;
}

.imcms-menu__item--versioning-off {
    display: none;
}

.imcms-menu__item--admin {
    background-image: url("../../images_new/admin_panel/icon_admin.png");
}

.imcms-menu__item--document {
    background-image: url("../../images_new/admin_panel/icon_doc.png");
}

.imcms-menu__item--page-info {
    background-image: url("../../images_new/admin_panel/icon_pageinfo.png");
}

.imcms-menu__item--publish-of {
    background-image: url("../../images_new/admin_panel/icon_publish.png");
}

.imcms-menu__item--preview {
    background-image: url("../../images_new/admin_panel/icon_preview.png");
}

.imcms-menu__item--edit {
    background-image: url("../../images_new/admin_panel/icon_edit.png");
}

.imcms-menu__item--public {
    background-image: url("../../images_new/admin_panel/icon_public.png");
}

/**/

.imcms-menu__item--admin:hover {
    background-image: url("../../images_new/admin_panel/icon_admin_active.png");
}

.imcms-menu__item--document:hover {
    background-image: url("../../images_new/admin_panel/icon_doc_active.png");
}

.imcms-menu__item--page-info:hover {
    background-image: url("../../images_new/admin_panel/icon_pageinfo_active.png");
}

.imcms-menu__item--publish-of:hover {
    background-image: url("../../images_new/admin_panel/icon_publish_active.png");
}

.imcms-menu__item--preview:hover {
    background-image: url("../../images_new/admin_panel/icon_preview_active.png");
}

.imcms-menu__item--edit:hover {
    background-image: url("../../images_new/admin_panel/icon_edit_active.png");
}

.imcms-menu__item--public:hover {
    background-image: url("../../images_new/admin_panel/icon_public_active.png");
}

@media screen and (max-width: 1600px) {
    .imcms-menu__items {
        min-width: 0;
    }

    .imcms-menu__item {
        background-position: 50% 0;
        background-size: 15px;
        padding-top: 23px;
        min-width: 80px;
    }

    .imcms-menu__item:last-child {
        width: 100px;
    }

    .imcms-menu__item:last-of-type button {
        margin: 0 auto;
        padding: 10px 15px;
    }
}

@media screen and (max-width: 1600px) {
    .imcms-menu__item {
        font-size: 10px;
        min-width: 60px;
    }
}

@media screen and (max-width: 580px) {
    .imcms-menu__item:nth-of-type(4):after,
    .imcms-menu__item:nth-of-type(5):after,
    .imcms-menu__item:nth-of-type(6):after,
    .imcms-menu__item:nth-of-type(7):after {
        display: none;
    }

    .imcms-menu__items {
        width: 100%;
    }

    .imcms-menu__item:last-child {
        width: 12.5%;
    }

    .imcms-menu__item:last-of-type button {
        font-size: 10px;
        padding: 5px 10px;
    }

    .imcms-menu__item {
        width: 12.5%;
    }
}
