<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <property name="hibernate.dialect">@hibernate-dialect@</property>

        <mapping class="com.imcode.imcms.api.Meta"/>
        
        <mapping class="com.imcode.imcms.mapping.orm.TemplateNames"/> 
        <mapping class="com.imcode.imcms.mapping.orm.Include"/>
        <mapping class="com.imcode.imcms.mapping.orm.FileReference"/>
        <mapping class="com.imcode.imcms.mapping.orm.HtmlReference"/>
        <mapping class="com.imcode.imcms.mapping.orm.UrlReference"/>
        <mapping class="com.imcode.imcms.mapping.orm.DefaultDocumentVersion"/>

        <mapping class="com.imcode.imcms.api.SystemProperty"/>
        <mapping class="com.imcode.imcms.api.DocumentLabels"/>
        <mapping class="com.imcode.imcms.api.I18nLanguage"/>
        <mapping class="com.imcode.imcms.api.TextHistory"/>
        <mapping class="com.imcode.imcms.api.ImageHistory"/>
        <mapping class="com.imcode.imcms.api.MenuHistory"/>


        <mapping class="com.imcode.imcms.api.DocumentVersion"/>
        <mapping class="com.imcode.imcms.api.DocumentProperty"/>
        <mapping class="com.imcode.imcms.api.ContentLoop"/>
        
        <mapping class="imcode.server.document.textdocument.ImageDomainObject"/>
        <mapping class="imcode.server.document.textdocument.TextDomainObject"/>
        <mapping class="imcode.server.document.textdocument.MenuDomainObject"/>
        <mapping class="imcode.server.document.textdocument.ImageCacheDomainObject"/>
        
        <mapping class="imcode.server.document.CategoryTypeDomainObject"/>
        <mapping class="imcode.server.document.CategoryDomainObject"/>
        
        <mapping class="com.imcode.imcms.addon.imagearchive.entity.Images"/>
        <mapping class="com.imcode.imcms.addon.imagearchive.entity.ExifPK"/>
        <mapping class="com.imcode.imcms.addon.imagearchive.entity.Exif"/>
        <mapping class="com.imcode.imcms.addon.imagearchive.entity.Roles"/>
        <mapping class="com.imcode.imcms.addon.imagearchive.entity.CategoryTypes"/>
        <mapping class="com.imcode.imcms.addon.imagearchive.entity.Categories"/>
        <mapping class="com.imcode.imcms.addon.imagearchive.entity.CategoryRolesPK"/>
        <mapping class="com.imcode.imcms.addon.imagearchive.entity.CategoryRoles"/>
        <mapping class="com.imcode.imcms.addon.imagearchive.entity.ImageCategoriesPK"/>
        <mapping class="com.imcode.imcms.addon.imagearchive.entity.ImageCategories"/>
        <mapping class="com.imcode.imcms.addon.imagearchive.entity.Keywords"/>
        <mapping class="com.imcode.imcms.addon.imagearchive.entity.ImageKeywordsPK"/>
        <mapping class="com.imcode.imcms.addon.imagearchive.entity.ImageKeywords"/>
        <mapping class="com.imcode.imcms.addon.imagearchive.entity.Libraries"/>
        <mapping class="com.imcode.imcms.addon.imagearchive.entity.LibraryRolesPK"/>
        <mapping class="com.imcode.imcms.addon.imagearchive.entity.LibraryRoles"/>
        
        <!-- Named queries -->
        <mapping resource="Document.hbm.xml"/>
        <mapping resource="ContentLoop.hbm.xml"/>
        <mapping resource="Text.hbm.xml"/>
        <mapping resource="Image.hbm.xml"/>
        <mapping resource="I18nLanguage.hbm.xml"/>
        <mapping resource="TextDocument.hbm.xml"/>
        <mapping resource="ImageCache.hbm.xml"/>
        
        <mapping resource="com/imcode/imcms/addon/imagearchive/hbm/Images.hbm.xml"/>
        <mapping resource="com/imcode/imcms/addon/imagearchive/hbm/Roles.hbm.xml"/>
        <mapping resource="com/imcode/imcms/addon/imagearchive/hbm/Libraries.hbm.xml"/>
    </session-factory>
    
</hibernate-configuration>