<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
         <!--temp-->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/imcms?characterEncoding=utf8</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>

        <!--<property name="hibernate.jdbc.batch_versioned_data">true</property>-->



        <mapping class="com.imcode.imcms.api.Meta"/>
        
        <mapping class="com.imcode.imcms.mapping.orm.TemplateNames"/> 
        <mapping class="com.imcode.imcms.mapping.orm.Include"/>
        <mapping class="com.imcode.imcms.mapping.orm.FileReference"/>
        <mapping class="com.imcode.imcms.mapping.orm.HtmlReference"/>
        <mapping class="com.imcode.imcms.mapping.orm.UrlReference"/>
        <mapping class="com.imcode.imcms.mapping.orm.DefaultDocumentVersion"/>

        <mapping class="com.imcode.imcms.api.SystemProperty"/>
        <mapping class="com.imcode.imcms.api.DocumentLabels"/>
        <mapping class="com.imcode.imcms.api.I18nLanguage"/>
        <mapping class="com.imcode.imcms.api.TextHistory"/>
        <mapping class="com.imcode.imcms.api.ImageHistory"/>
        <mapping class="com.imcode.imcms.api.MenuHistory"/>


        <mapping class="com.imcode.imcms.api.DocumentVersion"/>
        <mapping class="com.imcode.imcms.api.DocumentProperty"/>
        <mapping class="com.imcode.imcms.api.ContentLoop"/>
        
        <mapping class="imcode.server.document.textdocument.ImageDomainObject"/>
        <mapping class="imcode.server.document.textdocument.TextDomainObject"/>
        <mapping class="imcode.server.document.textdocument.MenuDomainObject"/>
        
        <mapping class="imcode.server.document.CategoryTypeDomainObject"/>
        <mapping class="imcode.server.document.CategoryDomainObject"/>
        
        <!-- Named queries -->
        <mapping resource="Document.hbm.xml"/>
        <mapping resource="I18nLanguage.hbm.xml"/>
        <mapping resource="TextDocument.hbm.xml"/>
    </session-factory>
    
</hibernate-configuration>