<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <mapping class="com.imcode.imcms.api.Meta"/>
        
        <mapping class="com.imcode.imcms.mapping.orm.TemplateNames"/> 
        <mapping class="com.imcode.imcms.mapping.orm.Include"/>
        <mapping class="com.imcode.imcms.mapping.orm.FileReference"/>
        <mapping class="com.imcode.imcms.mapping.orm.HtmlReference"/>
        <mapping class="com.imcode.imcms.mapping.orm.UrlReference"/>
            
        <mapping class="com.imcode.imcms.api.I18nMeta"/>
        <mapping class="com.imcode.imcms.api.I18nLanguage"/>

        <mapping class="com.imcode.imcms.api.DocumentVersion"/>
        <mapping class="com.imcode.imcms.api.DocumentProperty"/>

        <mapping class="com.imcode.imcms.api.Content"/>
        <mapping class="com.imcode.imcms.api.ContentLoop"/>
        
        <mapping class="imcode.server.document.textdocument.ImageDomainObject"/>
        <mapping class="imcode.server.document.textdocument.TextDomainObject"/>
        <mapping class="imcode.server.document.textdocument.MenuDomainObject"/>
        
        <mapping class="imcode.server.document.CategoryTypeDomainObject"/>
        <mapping class="imcode.server.document.CategoryDomainObject"/>
        
        <!-- Named queries -->
        <mapping resource="Document.hbm.xml"/>
        <mapping resource="I18nLanguage.hbm.xml"/>
        <mapping resource="TextDocument.hbm.xml"/>
    </session-factory>
    
</hibernate-configuration>