<?xml version="1.0" encoding="UTF-8"?>
<beans 
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	 
  <tx:annotation-driven transaction-manager="txManager" proxy-target-class="true"/>
  
  <bean id="properties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    <property name="ignoreResourceNotFound" value="true"/>  
    <property name="locations">
      <list>
        <value>classpath:server.properties</value>
        <value>WEB-INF/conf/server.properties</value>
      </list>
    </property>
  </bean>
    
  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="ignoreResourceNotFound" value="true"/> 
    <property name="locations">
      <list>
        <value>classpath:server.properties</value>
        <value>WEB-INF/conf/server.properties</value>
      </list>
    </property>  
  </bean>  
	 
  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="${JdbcDriver}"/>
    <property name="url" value="${JdbcUrl}"/>
    <property name="username" value="${User}"/>
    <property name="password" value="${Password}"/>
    <property name="testOnBorrow" value="true"/>
    <property name="validationQuery" value="select 1"/>    
    <property name="defaultAutoCommit" value="false"/>
    <property name="maxActive" value="${MaxConnectionCount}"/>
  </bean>
  
  <bean id="dataSourceWithAutoCommit" parent="dataSource">  
    <property name="defaultAutoCommit" value="true"/>
  </bean>   
  
  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
    <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
    
    <property name="dataSource" ref="dataSource"/>

    <property name="hibernateProperties">
      <ref bean="properties"/>
    </property>
  </bean>  
  
  <bean id="localeResolver" class="com.imcode.imcms.web.util.ImcmsLocaleResolver"/>
  
  <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
    <property name="basenames">
      <list>
        <value>/WEB-INF/locale/imcms</value>
      </list>
    </property>
    
    <property name="useCodeAsDefaultMessage" value="true"/> 
  </bean>
    
  <bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>  
  
  <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>  
  
  <bean id="metaDao" class="com.imcode.imcms.dao.MetaDao">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  
  <bean id="languageDao" class="com.imcode.imcms.dao.LanguageDao">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>  
  
  <bean id="imageDao" class="com.imcode.imcms.dao.ImageDao">
    <property name="sessionFactory" ref="sessionFactory"/>
    <property name="languageDao" ref="languageDao"/>
  </bean> 
  
  <bean id="textDao" class="com.imcode.imcms.dao.TextDao">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  
  <bean id="categoryMapper" class="com.imcode.imcms.mapping.CategoryMapper">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>  

  <bean id="contentLoopDao" class="com.imcode.imcms.dao.ContentLoopDao">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean> 
  
  <bean id="nativeQueriesDao" class="com.imcode.imcms.dao.NativeQueriesDao">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>         
  
  <bean id="menuDao" class="com.imcode.imcms.dao.MenuDao">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean id="documentVersionDao" class="com.imcode.imcms.dao.DocumentVersionDao">
      <property name="sessionFactory" ref="sessionFactory"/>
      </bean>
  
  <bean id="documentSaver" class="com.imcode.imcms.mapping.DocumentSaver">
    <property name="metaDao" ref="metaDao"/>
    <property name="contentLoopDao" ref="contentLoopDao"/>
    <property name="documentVersionDao" ref="documentVersionDao"/>
    <property name="textDao" ref="textDao"/>
    <property name="imageDao" ref="imageDao"/>
    <property name="menuDao" ref="menuDao"/>
  </bean>
  
  <bean id="documentLoader" class="com.imcode.imcms.mapping.DocumentLoader">
    <property name="metaDao" ref="metaDao"/>
      <property name="documentVersionDao" ref="documentVersionDao"/>
    <property name="documentInitializingVisitor" ref="documentInitializingVisitor"/>
  </bean> 
  
  <bean id="textDocumentInitializer" class="com.imcode.imcms.mapping.TextDocumentInitializer">
    <property name="metaDao" ref="metaDao"/>
    <property name="textDao" ref="textDao"/>
    <property name="imageDao" ref="imageDao"/>
    <property name="menuDao" ref="menuDao"/>
    <property name="contentLoopDao" ref="contentLoopDao"/>
  </bean>
  
  <bean id="documentInitializingVisitor" class="com.imcode.imcms.mapping.DocumentInitializingVisitor">
    <property name="metaDao" ref="metaDao"/>
    <property name="textDocumentInitializer" ref="textDocumentInitializer"/>
  </bean>  
    
</beans>