<?xml version="1.0" encoding="UTF-8"?>
<!--default-lazy-init="true"-->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/data/jpa
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

	<import resource="./configContext.xml"/>
	<import resource="./beansContext.xml"/>


	<context:annotation-config/>
	<tx:annotation-driven proxy-target-class="false"/>
	<aop:config proxy-target-class="false"/>

	<jpa:repositories base-package="com.imcode.imcms.mapping.jpa" entity-manager-factory-ref="myEmf"/>

	<context:component-scan base-package="com.imcode.imcms.mapping, com.imcode.imcms.imagearchive, com.imcode.imcms.api.linker"/>
	<context:property-placeholder location="/WEB-INF/conf/server.properties" system-properties-mode="NEVER"
								  ignore-resource-not-found="true"/>

	<bean id="myEmf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="persistenceUnitName" value="com.imcode.imcms"/>
		<property name="persistenceUnitManager" ref="pum"/>
		<property name="packagesToScan"
				  value="com.imcode.imcms.mapping, com.imcode.imcms.imagearchive, com.imcode.imcms.mapping.jpa"/>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
		</property>
		<property name="loadTimeWeaver">
			<bean
					class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver"/>
		</property>
		<property name="jpaProperties">
			<props>
				<!--prop key="hibernate.hbm2ddl.auto">create-drop</prop-->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
			</props>
		</property>
	</bean>

	<bean id="pum" class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<property name="persistenceXmlLocations">
			<list>
				<value>classpath:META-INF/persistence.xml</value>
			</list>
		</property>
		<property name="dataSources">
			<map>
				<entry key="localDataSource" value-ref="dataSource"/>
				<entry key="remoteDataSource" value-ref="dataSource"/>
			</map>
		</property>
		<!-- if no datasource is specified, use this one -->
		<property name="defaultDataSource" ref="dataSource"/>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="myEmf"/>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager"/>

	<bean id="persistenceExceptionTranslationPostProcessor"
		  class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>


	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>/WEB-INF/locale/imcms</value>
				<value>/WEB-INF/locale/image_archive</value>
			</list>
		</property>
		<property name="fallbackToSystemLocale" value="false"/>
		<property name="useCodeAsDefaultMessage" value="true"/>
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close"
		  p:driverClassName="${JdbcDriver}"
		  p:url="${JdbcUrl}"
		  p:username="${User}"
		  p:password="${Password}"
		  p:testOnBorrow="true"
		  p:validationQuery="select 1"
		  p:defaultAutoCommit="false"
		  p:maxTotal="${MaxConnectionCount}"/>

	<!--
		Legacy code support:
		Imcms.getApiDataSource returns DataSource with autocommit;
		com.imcode.db.DataSourceDatabase requires DataSource with autocommit;
	-->
	<bean id="dataSourceWithAutoCommit" parent="dataSource"
		  p:defaultAutoCommit="true"/>
</beans>