<?xml version="1.0" encoding="UTF-8"?>
<!--default-lazy-init="true"-->
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <import resource="./configContext.xml"/>
    <import resource="./beansContext.xml"/>

    <context:annotation-config/>
    <context:component-scan base-package="com.imcode.imcms.mapping, com.imcode.imcms.addon.imagearchive"/>
    <context:property-placeholder location="/WEB-INF/conf/server.properties" system-properties-mode="NEVER" ignore-resource-not-found="true"/>
    <!--ignore-unresolvable="true"-->

    <tx:annotation-driven transaction-manager="txManager" proxy-target-class="true"/>

    <bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <!--<property name="entityManagerFactory" ref="entityManagerFactory"/>-->
    </bean>
    <!-- fixme: set data-source-->
    <bean id="entityManager" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean"/>
          <!--p:configLocation="classpath:hibernate.cfg.xml"-->
          <!--p:dataSource-ref="dataSource"/>-->


    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
        <property name="defaultLocale" value="sv"/>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>/WEB-INF/locale/imcms</value>
                <value>/WEB-INF/locale/image_archive</value>
            </list>
        </property>
        <property name="fallbackToSystemLocale" value="false"/>
        <property name="useCodeAsDefaultMessage" value="true"/>
    </bean>

    <bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp.BasicDataSource" destroy-method="close"
          p:driverClassName="${JdbcDriver}"
          p:url="${JdbcUrl}"
          p:username="${User}"
          p:password="${Password}"
          p:testOnBorrow="true"
          p:validationQuery="select 1"
          p:defaultAutoCommit="false"
          p:maxActive="${MaxConnectionCount}"/>

    <!--
        Legacy code support:
        Imcms.getApiDataSource returns DataSource with autocommit;
        com.imcode.db.DataSourceDatabase requires DataSource with autocommit;
    -->
    <bean id="dataSourceWithAutoCommit" parent="dataSource"
          p:defaultAutoCommit="true"/>
</beans>