<html>
<head>
<title>Rights for Dynamic Authority</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<form method="post" action="SavePermissions">
  <table border="0" cellspacing="0" cellpadding="2" width="450" align="center">
	<tr valign="middle" bgcolor="#333366"> 
	  <td colspan=5> <font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;<b><font color="#FFFFFF">Rights 
		for Dynamic Authority #set_id#, for new sub-pages 
		<input type=HIDDEN name=set_id value="#set_id#">
		<input type=HIDDEN name=meta_id value="#meta_id#">
		<input type=hidden value="new" name="new">
		</font><font color="#FFFFFF"> </font></b></font> </td>
	</tr>
#1#
#2#
#4#	
#doc_rights# 
	<tr> 
	  <td valign="top" height="8" bgcolor="#BABABA" width="5%">&nbsp;</td>
	  <td valign="top" height="8" bgcolor="#BABABA">&nbsp;</td>
	  <td valign="middle" height="8" bgcolor="#BABABA" align="center" colspan="2">&nbsp;</td>
	  <td valign="middle" height="8" bgcolor="#BABABA" align="center" width="5%">&nbsp;</td>
	</tr>
	<tr> 
	  <td valign="top" height="8" bgcolor="#BABABA" width="5%">&nbsp; </td>
	  <td valign="top" height="8" bgcolor="#BABABA"> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
		<input type=submit value="OK" name="ok">
		<input type="reset" name="Reset" value="Reset">
		<input type=submit value="Cancel" name="cancel">
		</font></td>
	  <td valign="middle" height="8" bgcolor="#BABABA" align="center" colspan="2">&nbsp; 
	  </td>
	  <td valign="middle" height="8" bgcolor="#BABABA" align="center" width="5%">&nbsp; 
	  </td>
	</tr>
	<tr> 
	  <td valign="top" height="8" bgcolor="#BABABA" width="5%">&nbsp; </td>
	  <td valign="top" height="8" bgcolor="#BABABA">&nbsp; </td>
	  <td valign="middle" height="8" bgcolor="#BABABA" align="center" colspan="2">&nbsp; 
	  </td>
	  <td valign="middle" height="8" bgcolor="#BABABA" align="center" width="5%">&nbsp; 
	  </td>
	</tr>
  </table>
  </form>
</body>
</html>
