<html>
<head>
<title><? templates/sv/diagram/NewDiagramCoordinator.htm/1 ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript">
<!--
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->
</script>
</head>

<body bgcolor="#FFFFFF" onLoad="MM_openBrWindow('#NEW_DIAGRAM_URL#','','')">
<form method="post" action="#SERVER_URL#ChangeExternalDoc2" name="">
  <table border="1" width="400" align="center" cellpadding="0" cellspacing="0">
    <tr bgcolor="#333366"> 
      <td align="center" valign="middle" colspan="2" height="29"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b><font size="3" color="#FFFFFF"><? templates/sv/diagram/NewDiagramCoordinator.htm/2 ?></font></b></font></td>
    </tr>
    <tr> 
      <td align="center" valign="middle" width="50%" bgcolor="#333366"><font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF"><? templates/sv/diagram/NewDiagramCoordinator.htm/3 ?></font> </td>
      <td align="center" valign="middle" width="50%" bgcolor="#333366"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><? templates/sv/diagram/NewDiagramCoordinator.htm/4 ?></font></td>
    </tr>
    <tr> 
      <td align="center" valign="middle" width="50%" bgcolor="#BABABA"> 
        <input type="submit" name="metadata" value="<? templates/sv/diagram/NewDiagramCoordinator.htm/2001 ?>">
      </td>
      <td align="center" valign="middle" width="50%" bgcolor="#BABABA"> 
        <input type="submit" name="cancel" value="<? templates/sv/diagram/NewDiagramCoordinator.htm/2002 ?>">
      </td>
    </tr>
  </table>
  <input type=HIDDEN name=meta_id value="#META_ID#">
  <input type=HIDDEN name=parent_meta_id value=#PARENT_META_ID#>
  <input type="hidden" name="cookie_id" value="#COOKIE_ID#">
</form>
</body>
</html>

