
<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form method="post" action="GetExistingDoc">
<input type="HIDDEN" name="meta_id_value" value="#meta_id#">
<input type="HIDDEN" name="doc_menu_no" value="#doc_menu_no#">
<tr> 
	<td>#gui_heading( "<? templates/sv/existing_doc_res.html/1/1 ?>" )</td>
</tr>
<tr>
	<td>
	<table border="0" cellspacing="0" cellpadding="2" width="100%">
	<tr>

        <td class="imcmsAdmText"><b><? templates/sv/existing_doc_res.html/2 ?></b></td>
        <td class="imcmsAdmText"><b><? global/Page_alias ?></b></td>
        <td class="imcmsAdmText"><b><? web/imcms/lang/jsp/heading_status ?></b></td>
        <td class="imcmsAdmText"><b><? templates/sv/existing_doc_res.html/3 ?></b></td>
		<td class="imcmsAdmText"><b><? templates/sv/existing_doc_res.html/4 ?></b></td>
		<td class="imcmsAdmText"><b><? templates/sv/existing_doc_res.html/5 ?></b></td>
        <td class="imcmsAdmText"><b><? templates/sv/existing_doc_res.html/6 ?></b></td>
		<td class="imcmsAdmText"><b><? templates/sv/existing_doc_res.html/7 ?></b></td>
		<td class="imcmsAdmText"><b><? templates/sv/existing_doc_res.html/8 ?></b></td>
	</tr>#searchResults#
	</table></td>
</tr>
<tr> 
	<td>#gui_hr( "blue" )</td>
</tr>
<tr>
	<td align="right">
	<input type="submit" class="imcmsFormBtn" value="<? templates/sv/existing_doc_res.html/2001 ?>" name="addExistingDocs">
	<input type="submit" class="imcmsFormBtn" value="<? templates/sv/existing_doc_res.html/2002 ?>" name="cancel"></td>
</tr>
</form>
</table>
