<html>
<head>
<title><? templates/sv/templatedemo_upload_done.html/1 ?></title>

<link rel="stylesheet" type="text/css" href="$contextPath/imcms/css/imcms_admin.css.jsp">



</head>
<body bgcolor="#FFFFFF">

#gui_outer_start()
#gui_head( "<? templates/sv/templatedemo_upload_done.html/1 ?>" )
<table border="0" cellpadding="0" cellspacing="0">
<form>
<tr>
	<td><input type="button" value="<? templates/sv/templatedemo_upload_done.html/2001 ?>" class="imcmsFormBtn" onClick="history.go(-1); return false"></td>
</tr>
</form>
</table>
#gui_mid()

<table border="0" cellspacing="0" cellpadding="2" width="310">
<tr>
	<td align="center" class="imcmsAdmText">
	<? templates/sv/templatedemo_upload_done.html/4 ?></td>
</tr>
</table>
#gui_bottom()
#gui_outer_end()


</body>
</html>
