<style type="text/css">
<!--
/*

/* IMCMS SPECIFIC */

/* imCMS label. Ändra utseende om så önskas. */

.imcms_label, .imcms_label:link, .imcms_label:visited { font: 10px Verdana; color:#c00000; text-decoration:none; background-color:#ffffcc }
.imcms_label:active, .imcms_label:hover { font: 10px Verdana; color:#000099; text-decoration:underline; background-color:#ffffcc }

/* adminMode */

#adminPanelDiv      { padding: 15 0 10 0; }
 .adminPanelTable    { border: 2px outset; background-color:#d6d3ce; }
  .adminPanelTd1      { padding:1px; }
    #adminPanelTd1_1  { }
      .adminPanelLogo  { font: bold 11px Verdana,Geneva,sans-serif; color:#a6a3be; letter-spacing:-1px; }
    #adminPanelTd1_2  {  }
      .adminPanelText  { font: 11px Verdana,Geneva,sans-serif; color:#000000; }
    #adminPanelTd1_3  {  }
  .adminPanelTd2      { padding:3px; height:32; vertical-align:top; }

  .adminPanelTd2 A IMG { filter: }
  .adminPanelTd2 A:hover IMG {
     filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=0, xray=0, mirror=0, invert=0, opacity=0.5, rotation=0);
     position:relative; top:+1; left:+1; }
-->
</style>
<div id="adminPanelDiv">
<table border="0" cellspacing="0" cellpadding="2" class="adminPanelTable">
<tr>
	<td class="adminPanelTd1">
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td id="adminPanelTd1_1" width="25%">
		<font face="Verdana, Arial, Helvetica, sans-serif" size="2" class="adminPanelLogo"><? sv/adminbuttons/adminbuttons.html/1 ?></font></td>
		<td id="adminPanelTd1_2" width="50%" align="center" nowrap>
		<font face="Verdana, Arial, Helvetica, sans-serif" size="2" class="adminPanelText">
		<? sv/adminbuttons/adminbuttons.html/1001 ?></font></td>
		<td id="adminPanelTd1_3" width="25%">&nbsp;</td>
	</tr>
	</table></td>
</tr>
<tr>
	<td class="adminPanelTd2" align="center">
	<a href="BackDoc" id="admHrefBackdoc"><img src="@adminbuttonsurl@/foregaende.gif" alt="<? sv/adminbuttons/adminbuttons.html/2001 ?>" id="admBtnBackdoc" border="0"></a>#doc_buttons##1##4#<a href="LogOut" id="admHrefLoggaut"><img src="@adminbuttonsurl@/loggaut.gif" alt="<? sv/adminbuttons/adminbuttons.html/2002 ?>" id="admBtnLoggaut" border="0"></a>#superadmin#<a href="@documentationurl@/GetDoc?meta_id=1" target="_blank"  id="admHrefHelp"><img src="@adminbuttonsurl@/help.gif" alt="<? sv/adminbuttons/adminbuttons.html/2003 ?>" id="admBtnHelp" border="0"></a></td>
</tr>
</table></div>
<SCRIPT language=JavaScript>
<!--
function openHelpW(id){
	window.open("@documentationurl@/GetDoc?meta_id=" + id,"help");
}
//-->
</SCRIPT>
