
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="4">Administrationssida 
	för annons/anslagstavla.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif">Angående knapparna nedan:</font></p>
<ul>
	<li><font face="Verdana, Arial, Helvetica, sans-serif"><b>Normal</b> tillåter Dig att besöka annons/anslagstavlan.</font>
	<li><font face="Verdana, Arial, Helvetica, sans-serif"><b>Föregående</b> tar Dig 
		tillbaka till senast besökt sida. </font></li>
</ul>
<p><font face="Verdana, Arial, Helvetica, sans-serif">De andra knapparna fungerar som vanligt.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif"><b>OBS! Om Du önskar 
	återbesöka denna administrationssida, klicka på länk-knappen och sedan på den röda pilen bredvid den aktuella länken.</b></font></p>