<style type="text/css">
<!--
/* adminMode */

#adminPanelDiv      { padding: 15 0 10 0; }
 .adminPanelTable    { border: 2px outset; background-color:#d6d3ce; }
  .adminPanelTd1      { padding:1px; }
    #adminPanelTd1_1  { }
      .adminPanelLogo  { font: bold 11px Verdana,Geneva,sans-serif; color:#a6a3be; letter-spacing:-1px; }
    #adminPanelTd1_2  {  }
      .adminPanelText  { font: 11px Verdana,Geneva,sans-serif; color:#000000; }
    #adminPanelTd1_3  {  }
  .adminPanelTd2      { padding:3px; height:32; vertical-align:top; }

  .adminPanelTd2 A IMG { filter: }
  .adminPanelTd2 A:hover IMG {
     filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=0, xray=0, mirror=0, invert=0, opacity=0.5, rotation=0);
     position:relative; top:+1; left:+1; }
-->
</style>
<div id="adminPanelDiv">
<table border="0" cellspacing="0" cellpadding="2" class="adminPanelTable">
<tr>
	<td class="adminPanelTd1">
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td id="adminPanelTd1_1" width="25%">
		<font face="Verdana, Arial, Helvetica, sans-serif" size="2" class="adminPanelLogo"><b>imCMS</b></font></td>
		<td id="adminPanelTd1_2" width="50%" align="center" nowrap>
		<font face="Verdana, Arial, Helvetica, sans-serif" size="2" class="adminPanelText">
		<b>Id:</b> #getMetaId# &nbsp; <b>Typ:</b> #doc_type#</font></td>
		<td id="adminPanelTd1_3" width="25%">&nbsp;</td>
	</tr>
	</table></td>
</tr>
<tr>
	<td class="adminPanelTd2" align="center">
	<a href="BackDoc" id="admHrefBackdoc"><img src="@adminbuttonsurl@/sv/foregaende.gif" alt="Föregående" id="admBtnBackdoc" border="0"></a>#doc_buttons##1##4#<a href="LogOut" id="admHrefLoggaut"><img src="@adminbuttonsurl@/sv/loggaut.gif" alt="Logga ut" id="admBtnLoggaut" border="0"></a>#superadmin#<a href="GetDoc?meta_id=55" target="_blank" onClick="openHelpW('55'); return false;" id="admHrefHelp"><img src="@adminbuttonsurl@/sv/help.gif" alt="&Ouml;ppna hj&auml;lpsidan" id="admBtnHelp" border="0"></a></td>
</tr>
</table></div>
<SCRIPT language=JavaScript>
<!--
function openHelpW(id){
	window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');
}
//-->
</SCRIPT>
