
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="4">Administrationssida 
	f&ouml;r internet-l&auml;nken.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif">Ang&aring;ende knapparna nedan:</font></p>
<ul>
	<li><font face="Verdana, Arial, Helvetica, sans-serif"><b>Normal</b> f&ouml;ljer l&auml;nken till den externa webbsidan</font></li>
	<li><font face="Verdana, Arial, Helvetica, sans-serif"><b>Redigera</b> till&aring;ter 
		Dig att ers&auml;tta den nuvarande l&auml;nken (URL) med en ny URL-adress.</font></li>
	<li><font face="Verdana, Arial, Helvetica, sans-serif"><b>Tillbaka</b> tar Dig 
		tillbaka till senast bes&ouml;kt sida. </font></li>
</ul>
<p><font face="Verdana, Arial, Helvetica, sans-serif">De andra knapparna fungerar som vanligt.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif"><b>OBS! Om Du &ouml;nskar 
	&aring;terbes&ouml;ka denna administrationssida, klicka på l&auml;nk-knappen och sedan på den r&ouml;da pilen bredvid den aktuella l&auml;nken.</b></font></p>

