
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="4">Administrationssida 
	f&ouml;r "browser control" dokumentet.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif">Ang&aring;ende knapparna nedan:</font></p>
<ul>
	<li><font face="Verdana, Arial, Helvetica, sans-serif"><b>Normal</b> till&aring;ter Dig att g&aring; genom B-C dokumentet till den sidan Du definerade för Din webbl&auml;sare.</font></li>
	<li><font face="Verdana, Arial, Helvetica, sans-serif"><b>Redigera</b> till&aring;ter 
		Dig att redigera B-C dokumentet.</font></li>
	<li><font face="Verdana, Arial, Helvetica, sans-serif"><b>Föregående</b> tar Dig 
		tillbaka till senast bes&ouml;kt sida. </font></li>
</ul>
<p><font face="Verdana, Arial, Helvetica, sans-serif">De andra knapparna fungerar som vanligt.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif"><b>OBS! Om Du &ouml;nskar 
	&aring;terbes&ouml;ka denna administrationssida, klicka på l&auml;nk-knappen och sedan på den r&ouml;da pilen bredvid den aktuella l&auml;nken.</b></font></p>
