
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="4">Administration 
	page for the html-document.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif">Regarding the buttons below:</font></p>
<ul>
	<li><font face="Verdana, Arial, Helvetica, sans-serif"><b>Normal</b> allows 
		you to view the document.</font></li>
	<li><font face="Verdana, Arial, Helvetica, sans-serif"><b>Edit</b> allows 
		you to edit the document.</font></li>
	<li><font face="Verdana, Arial, Helvetica, sans-serif"><b>Back</b> takes you 
		back to the last textdocument visited. </font></li>
</ul>
<p><font face="Verdana, Arial, Helvetica, sans-serif">The other buttons work as 
	usual.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif"><b>NB! If you wish to return 
	to this administration page later on, click on New links and then on the small 
	red arrow by the link to this document.</b></font></p>
