
<table border="0" cellspacing="0" cellpadding="2" width="400" align="center">
<tr>
	<td><script>imcHeading("Administrationssida för internet-länken",396);</script></td>
</tr>
<tr>
	<td>
	Angående knapparna nedan:
	<ul>
		<li><big><b>&#171;</b></big> (Föregående) tar dig tillbaka till senast besökt sida.</li>
		<li><b>Normal</b> följer länken till den externa webbsidan.</li>
		<li><b>Redigera</b> tillåter dig att ersätta den nuvarande länken (URL) med en ny URL-adress.</li>
	</ul>
	De andra knapparna fungerar som vanligt.<br><br>
	<b>OBS! Om du önskar återbesöka denna administrationssida, klicka på länk-knappen och sedan på den röda pilen bredvid den aktuella länken.</b></td>
</tr>
</table>