.imcms-choose-img-wrap {
    cursor: pointer;
    display: block;
    float: left;
    width: 11%;
    min-width: 146px;
    margin-left: .75%;
    margin-right: .75%;
    padding: 14px;
	min-height: 41%;
    max-height: 290px;
	border: 2px transparent solid;
}

.imcms-choose-img {
    background: #e4e4f2 no-repeat center;
    object-fit: contain;
    width: 100%;
    height: 146px;
}

.imcms-choose-img-description {
    padding: 7px 3px;
    position: relative;
    width: 100%;
    margin-bottom: 0;
    max-height: 100px;
}

.imcms-choose-img-description__date {
    color: #587380;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: left;
    padding: 0 4px 3px 0;
}

.imcms-choose-img-description__button {
    display: none;
    position: absolute;
    top: 8px;
    right: -5px;
}

.imcms-choose-img-description .imcms-control--warning {
    right: 5px;
	top: 67px;
    position: absolute;
}

.imcms-choose-img-description__img-title {
    font-size: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
	white-space: nowrap;
    width: 100%;
    height: 17px;
    line-height: 17px;
}

.imcms-choose-img-description__img-size {
    color: #587380;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
}

.imcms-choose-img-wrap:hover {
    background-color: #fff;
}

.imcms-choose-img-wrap.imcms-last-added-img {
    background-color: #d0e9f9;
}

.imcms-choose-img-wrap.imcms-last-added-img:hover {
    background-color: #bee4fd;
}

.imcms-choose-img-wrap.image-chosen {
    background-color: #95e298;
    position: relative;
    z-index: 1;
}

.imcms-choose-img-wrap.image-chosen:hover {
    background-color: #7fe282;
}

.image-chosen,
.imcms-last-added-img,
.imcms-choose-img-wrap:hover {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.07);
}

.image-chosen .imcms-choose-img,
.imcms-choose-img-wrap:hover .imcms-choose-img {
    background-color: #fff;
}

.imcms-choose-img-wrap:hover .imcms-choose-img-description__button {
    display: block;
}

.imcms-choose-img-wrap--active {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.07);
    margin-bottom: 51px;
    width: 12%;
    margin-right: .25%;
    margin-left: .25%;
}

.imcms-choose-img-wrap--active .imcms-choose-img {
    background-color: #fff;
}

.imcms-choose-img-wrap--active .imcms-choose-img-description__button {
    display: block;
}

.imcms-choose-img-description .imcms-choose-img-description__open-image,
.imcms-choose-img-description .imcms-choose-img-description__edit-metadata {
    display: inline-block;
    height: 18px;
    width: 18px;
    background-size: 18px;
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.imcms-choose-img-description .imcms-choose-img-description__edit-metadata {
    height: 18px;
    width: 18px;
    background-size: 16px;
}

 .imcms-choose-img-description .loading-animation{
	left: 103px;
	top: 25px;
	width: 20px;
	height: 20px;
}

 .imcms-choose-img-description .loading-animation:before{
	width: 50%;
	height: 50%;
	border-width: 3px;
	border-radius: 50%;

}