@import "../variables";

.imcms-folder {
    cursor: pointer;
    display: block;
    overflow: hidden;;
    padding: 25px 35px 25px 70px;
    position: relative;
    width: 100%;
	border: 2px transparent solid;
}

.imcms-folder__btn {
    padding-left: 70px;
    background: url("#{$context-path}/imcms/images/controls/icon_sub_close.png") no-repeat center;
}

.imcms-folder--active {
    background-color: #f3f3fc;
}

.imcms-folder--active .imcms-main-folders-controls__name,
.imcms-folder--active .imcms-folder__name {
    color: #2f4047;
}

.imcms-folder__btn {
    cursor: pointer;
    display: block;
    padding: 10px;
    position: absolute;
    left: 37px;
    width: 10px;
    height: 10px;
}

.imcms-folder-btn--open {
    background: url("#{$context-path}/imcms/images/controls/icon_sub_open.png") no-repeat center;
}

.imcms-folder--active .imcms-folder__btn {
    background-image: url("#{$context-path}/imcms/images/controls/icon_sub_close_dark.png");
}

.imcms-folder--active .imcms-folder-btn--open {
    background-image: url("#{$context-path}/imcms/images/controls/icon_sub_open_dark.png");
}

.imcms-folder__name {
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    text-align: left;
    float: left;
}

.imcms-folders .imcms-folder .imcms-folder__name{
	user-select: none;
}

.imcms-main-folders-controls:hover,
.imcms-folder:hover {
    background: #4b5366;
}

.imcms-folder:hover .imcms-folder__controls {
    display: block;
}

.imcms-folder--active:hover .imcms-folder__btn.imcms-folder-btn--open {
    background-image: url("#{$context-path}/imcms/images/controls/icon_sub_open.png");
}

.imcms-folder--active:hover .imcms-folder__btn {
    background-image: url("#{$context-path}/imcms/images/controls/icon_sub_close.png");
}

.imcms-folder--active:hover .imcms-main-folders-controls__name,
.imcms-folder--active:hover .imcms-folder__name {
    color: #fff;
}
