.imcms-folders {
    display: block;
    position: relative;
    width: 100%;
}

.imcms-folders:before {
    content: "";
    display: block;
    clear: both;
}

.imcms-folders--close,
.imcms-folders__subfolder {
    display: none;
}

.imcms-folders[data-folders-lvl="2"] .imcms-folder {
    padding-left: 59px;
}

.imcms-folders[data-folders-lvl="2"] .imcms-folder__btn {
    left: 36px;
}

.imcms-folders[data-folders-lvl="3"] .imcms-folder {
    padding-left: 79px;
}

.imcms-folders[data-folders-lvl="3"] .imcms-folder__btn {
    left: 56px;
}

.imcms-folders[data-folders-lvl="4"] .imcms-folder {
    padding-left: 99px;
}

.imcms-folders[data-folders-lvl="4"] .imcms-folder__btn {
    left: 76px;
}

.imcms-folders[data-folders-lvl="5"] .imcms-folder {
    padding-left: 119px;
}

.imcms-folders[data-folders-lvl="5"] .imcms-folder__btn {
    left: 96px;
}
