.imcms-image-metadata-editor{
    z-index: 10005;
}

.imcms-image-metadata-editor + .imcms-modal-layout{
    z-index: 10004;
}

.imcms-image-main-info{
    background-color: #f3f5f7;
    height: 80%;
    width: 35%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    float: left;
    padding: 15px 10px 0 20px;
    overflow: hidden;
    text-align: center;
}

.imcms-image-main-info img{
    max-width: 100%;
    max-height: 40%;
}

.imcms-info-field{
    display: flex;
}

.imcms-image-main-info__name{
    font-size: 17px;
    padding: 10px 0;
}

.imcms-image-main-info__name,
.imcms-image-main-info .imcms-info-field__value{
    color: black;
}

.imcms-image-main-info .imcms-info-field__name,
.imcms-image-main-info .imcms-info-field__value{
    width: 50%;
    text-align: left;
}

.imcms-image-metadata {
     display: block;
     float: left;
     padding: 0 20px 0 10px;
     width: 65%;
     height: 80%;
 }

.imcms-license-period__range{
    display: flex;
    align-items: center;
}

.imcms-license-period__range .imcms-delimeter{
    padding: 0 10px;
}

.imcms-image-metadata-editor .imcms-footer{
    width: 100%;
}
