
<hr align="center">
<div align="center">
  <form method="post" action="CalenderManager">
  <font face="Garamond, Exocet, Arial"><b><font color="#993333"><? sv/calender/adminpanel.html/1 ?></font></b></font> 
    <table width="100" border="3">
      <tr> 
        <td> 
          <input type="submit" name="addPlayer" value="<? sv/calender/adminpanel.html/2001 ?>">
        </td>
      </tr>
      <tr> 
        <td> 
          <input type="submit" name="removePlayer" value="<? sv/calender/adminpanel.html/2002 ?>">
        </td>
      </tr>
      <tr> 
        <td> 
          <input type="submit" name="editTitle" value="<? sv/calender/adminpanel.html/2003 ?>">
        </td>
      </tr>
    </table>    <input type="hidden" name="action" value="view">
    <input type="hidden" name="view" value="admin">
  </form>
</div>
