
<div align="center">
  <table width="136" align="center" cellpadding="0" cellspacing="0">
    <tr> 
      <td width="52"> 
        <div align="center"><font color="#993333"><b><font face="Garamond, Exocet, Arial" size="+1">
		<? sv/calender/main_menu.html/1 ?></font></b></font></div>
      </td>
      <td width="14"><font color="#993333"></font> </td>
      <td width="54"> 
        <div align="center"><font color="#993333"><b><font face="Garamond, Exocet, Arial" size="+1"><? sv/calender/main_menu.html/2 ?></font></b></font></div>
      </td>
    </tr>
  </table>
  <table border="3" cellpadding="0" cellspacing="0" align="center">
    <tr> 
      <td> 
        <table width="133" border="0" height="118" cellpadding="0" cellspacing="0" bgcolor="#333333" align="center">
          <tr> 
            <th nowrap><font face="Garamond, Arial, Courier" size="-1" color="#FF0000"></font></th>
            <th nowrap><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000"><? sv/calender/main_menu.html/3 ?></font></th>
            <th nowrap><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000"><? sv/calender/main_menu.html/4 ?></font></th>
            <th nowrap><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000"><? sv/calender/main_menu.html/5 ?></font></th>
            <th nowrap><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000"><? sv/calender/main_menu.html/6 ?></font></th>
            <th nowrap><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000"><? sv/calender/main_menu.html/7 ?></font></th>
            <th nowrap><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000"><? sv/calender/main_menu.html/8 ?></font></th>
            <th nowrap><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000"><? sv/calender/main_menu.html/9 ?></font></th>
          </tr>
          <tr> 
            <th nowrap><font face="Garamond, Arial, Courier" size="-1" color="#FF0000"><? sv/calender/main_menu.html/10 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/11 ?></font></th>
            <th nowrap><font face="Garamond, Arial, Courier" size="-1"><? sv/calender/main_menu.html/12 ?></font></th>
            <th nowrap><font face="Garamond, Arial, Courier" size="-1"><? sv/calender/main_menu.html/13 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/14 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/15 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/16 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/17 ?></font></th>
          </tr>
          <tr> 
            <th nowrap><font face="Garamond, Arial, Courier" size="-1" color="#FF0000"><? sv/calender/main_menu.html/18 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/19 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/20 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/21 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/22 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/23 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/24 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/25 ?></font></th>
          </tr>
          <tr> 
            <th nowrap><font face="Garamond, Arial, Courier" size="-1" color="#FF0000"><? sv/calender/main_menu.html/26 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/27 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/28 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/29 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/30 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/31 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/32 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/33 ?></font></th>
          </tr>
          <tr> 
            <th nowrap><font face="Garamond, Arial, Courier" size="-1" color="#FF0000"><? sv/calender/main_menu.html/34 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/35 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/36 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/37 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/38 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/39 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/40 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/41 ?></font></th>
          </tr>
          <tr> 
            <th nowrap><font face="Garamond, Arial, Courier" size="-1" color="#FF0000"><? sv/calender/main_menu.html/42 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/43 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/44 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/45 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/46 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/47 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/48 ?></font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/49 ?></font></th>
          </tr>
          <tr> 
            <th nowrap><font size="-1" color="#FF0000" face="Garamond, Arial, Courier"><? sv/calender/main_menu.html/50 ?></font></th>
            <th nowrap><font face="Garamond, Arial, Courier" size="-1"><? sv/calender/main_menu.html/51 ?></font></th>
            <th nowrap><font face="Garamond, Arial, Courier" size="-1"><? sv/calender/main_menu.html/52 ?></font></th>
            <th nowrap><font face="Garamond, Arial, Courier" size="-1"><? sv/calender/main_menu.html/53 ?></font></th>
            <th nowrap><font face="Garamond, Arial, Courier" size="-1"><? sv/calender/main_menu.html/54 ?></font></th>
            <th nowrap><font face="Garamond, Arial, Courier" size="-1"><? sv/calender/main_menu.html/55 ?></font></th>
            <th nowrap><font face="Garamond, Arial, Courier" size="-1"><? sv/calender/main_menu.html/56 ?></font></th>
            <th nowrap><font face="Garamond, Arial, Courier" size="-1"><? sv/calender/main_menu.html/57 ?></font></th>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table width="100" border="0" align="center" cellpadding="0" cellspacing="1">
    <tr> 
      <td width="24"> 
        <div align="center"><a href="#BACKLINK#"><img src="#BACKPIC#" width="15" border="0" height="15"></a></div>
      </td>
      <th width="47"> 
        <div align="center"><font face="Garamond, Exocet, Arial"><? sv/calender/main_menu.html/58 ?></font></div>
      </th>
      <td width="25"> 
        <div align="center"><a href="#NEXTLINK#"><img src="#NEXTPIC#" width="15" border="0" height="15"></a></div>
      </td>
    </tr>
    <tr> 
      <td width="24">&nbsp;</td>
      <th width="47"> 
        <div align="center"><? sv/calender/main_menu.html/59 ?></div>
      </th>
      <td width="25">&nbsp;</td>
    </tr>
  </table>
</div>
<p align="center">&nbsp; 
  <form method="POST" action="CalenderManager">
<p align="center"><font face="Courier New, Courier, mono">
	<? sv/calender/main_menu.html/60 ?>
    </font>
</p>
</form>
  
<form method="post" action="CalenderManager">
  <p align="center"><font face="Garamond, Exocet, Arial" color="#993333"><? sv/calender/main_menu.html/61 ?>
    <select name="players_menu" "#SIZE#>
<? sv/calender/main_menu.html/62 ?>
    </select>
    <input type="hidden" name="action" value="view">
    <input type="hidden" name="view" value="month">
    </b></font></p>
<p align="center"><font face="Garamond, Exocet, Arial"><font face="Garamond, Exocet, Arial" color="#993333"><b> 
    <input type="submit" name="btn_updateAll" value="Change user">
  </b></font></font> </p>
</form>
<div align="center">
<p>&nbsp;</p>
</div>

