
<p>&nbsp;</p>
<table width="98%">
  <tr>
    <td width="33">&nbsp;</td>
    <td width="1002"> 
      <p><font face="Exocet" size="+3"><b>#TITEL#</b></font></p>
      <p align="left"><font face="Garamond, Exocet, Arial" size="+3"><b>#DATE#</b></font></p>
</td>
  </tr>
</table>
<p align="left">&nbsp;</p>
<table width="98%" align="left">
  <tr> 
    <td width="33" nowrap><font face="Garamond, Exocet, Arial"></font></td>
    <td colspan="3" nowrap align="left"><b><font face="Garamond, Exocet, Arial" size="+2" color="#993333">Appointments 
      - #PLAYER#</font></b></td>
  </tr>
#APPOINTMENTS# 
  <tr> 
    <td width="33" nowrap><font face="Garamond, Exocet, Arial"></font></td>
    <th width="87" nowrap align="left">&nbsp;</th>
    <td width="104" nowrap align="left"><font face="Garamond, Exocet, Arial"></font></td>
    <td width="797"><font face="Garamond, Exocet, Arial"></font></td>
  </tr>
</table>
<p>&nbsp;</p>

