
<p align="center"><font face="Garamond, Arial, Courier"><b><font size="+5" color="#9999FF"><? templates/sv/calender/overview_default.html/1 ?></font></b></font></p>
<p align="center"><font face="Garamond, Arial, Courier" size="+2"><? templates/sv/calender/overview_default.html/2 ?></font></p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<table width="75%" align="right">
  <tr align="right"> 
    <td><font face="Garamond, Arial, Courier"><? templates/sv/calender/overview_default.html/3 ?></font></td>
  </tr>
</table>
<p align="center">&nbsp;</p>
