<html> 
<div align="center">
  <p><b><font face="Garamond, Arial, Courier" size="+3">#HEADER# </font></b></p>
  <form method="post" action="CalenderManager?">
  <table border="3">
    <tr>
      <td>
          <table>
            <tr> 
              <td>&nbsp;</td>
              <td><font face="Garamond, Arial, Courier"><b>ID</b></font></td>
              <td><font face="Garamond, Arial, Courier"><b>Title</b></font></td>
              <td><font face="Garamond, Arial, Courier"><b>First Name</b></font></td>
              <td><font face="Garamond, Arial, Courier"><b>Last Name</b></font></td>
              <td><font face="Garamond, Arial, Courier"><b>Email</b></font></td>
            </tr>
			#USER#
          </table>
      </td>
    </tr>
  </table>
    <p> 
      <input type="submit" name="usersubmit" value="V&auml;lj">
      <input type="hidden" name="player_action" value="#PLAYERACTION#">
      <input type="hidden" name="action" value="view">
      <input type="hidden" name="view" value="newapp">
    </p>
  </form>
  <p>&nbsp; </p>
</div>
</html>
