
<p align="center"><font face="Exocet" size="+3"><b>#TITEL#</b></font> </p>
<p align="center"><font face="Garamond, Exocet, Arial" size="+2"><b>#PLAYER# - 
  #MONTH# #YEAR#</b></font></p>
<table width="97%" border="1" cellpadding="3" cellspacing="0" align="center">
  <tr bgcolor="#333333"> 
    <th height="2"> 
      <div align="center"><font face="Garamond, Exocet, Arial" color="#FF0000"> 
        &nbsp; </font></div>
    </th>
    <td height="2"> 
      <div align="center"><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000">Monday</font></div>
    </td>
    <td height="2"> 
      <div align="center"><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000">Tuesday</font></div>
    </td>
    <td height="2"> 
      <div align="center"><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000">Wednesday</font></div>
    </td>
    <td height="2"> 
      <div align="center"><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000">Thursday</font></div>
    </td>
    <td height="2"> 
      <div align="center"><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000">Friday</font></div>
    </td>
    <td height="2"> 
      <div align="center"><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000">Saturday</font></div>
    </td>
    <td height="2"> 
      <div align="center"><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000">Sunday</font></div>
    </td>
  </tr>
  <tr> 
    <th bgcolor="#333333"> 
      <div align="center"><font face="Garamond, Arial, Courier" color="#FF0000">#w1#</font></div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#1#<br>
        <font size="-2">#a1#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#2#&nbsp; <br>
        <font size="-2">#a2#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#3#<br>
        <font size="-2">#a3#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#4#<br>
        <i><font size="-2">#a4#</font></i></div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#5#<br>
        <font size="-2">#a5#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#6#<br>
        <font size="-2">#a6#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#7#<br>
        <font size="-2">#a7#</font> </div>
    </th>
  </tr>
  <tr> 
    <th bgcolor="#333333"> 
      <div align="center"><font face="Garamond, Arial, Courier" color="#FF0000">#w2#</font></div>
    </th>
    <th align="left" valign="top" width="14%" height="60">#8#<br>
      <font size="-2">#a8#</font> </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#9#<br>
        <font size="-2">#a9#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60">#10#<br>
      <font size="-2">#a10#</font> </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#11#<br>
        <font size="-2">#a11#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#12#<br>
        <font size="-2">#a12#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#13#<br>
        <font size="-2">#a13#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#14#<br>
        <font size="-2">#a14#</font> </div>
    </th>
  </tr>
  <tr> 
    <th bgcolor="#333333"> 
      <div align="center"><font face="Garamond, Arial, Courier" color="#FF0000">#w3#</font></div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#15#<br>
        <font size="-2">#a15#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#16#<br>
        <font size="-2">#a16#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#17#<br>
        <font size="-2">#a17#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#18#<br>
        <font size="-2">#a18#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#19#<br>
        <font size="-2">#a19#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#20#<br>
        <font size="-2">#a20#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#21#<br>
        <font size="-2">#a21#</font> </div>
    </th>
  </tr>
  <tr> 
    <th bgcolor="#333333"> 
      <div align="center"><font face="Garamond, Arial, Courier" color="#FF0000">#w4#</font></div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#22#<br>
        <font size="-2">#a22#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#23#<br>
        <font size="-2">#a23#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#24#<br>
        <font size="-2">#a24#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#25#<br>
        <font size="-2">#a25#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#26#<br>
        <font size="-2">#a26#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#27#<br>
        <font size="-2">#a27#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#28#<br>
        <font size="-2">#a28#</font> </div>
    </th>
  </tr>
  <tr> 
    <th bgcolor="#333333"> 
      <div align="center"><font face="Garamond, Arial, Courier" color="#FF0000">#w5#</font></div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#29#<br>
        <font size="-2">#a29#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#30#<br>
        <font size="-2">#a30#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#31#<br>
        <font size="-2">#a31#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#32#<br>
        <font size="-2">#a32#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#33#<br>
        <font size="-2">#a33#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60"> 
      <div align="left">#34#<br>
        <font size="-2">#a34#</font> </div>
    </th>
    <th align="left" valign="top" width="14%" height="60">#35#<br>
      <font size="-2">#a35#</font> </th>
  </tr>
  <tr> 
    <th bgcolor="#333333"><font face="Garamond, Arial, Courier" color="#FF0000">#w6#</font></th>
    <th align="left" valign="top" width="14%" height="60">#36#<br>
      <font size="-2">#a36#</font> </th>
    <th align="left" valign="top" width="14%" height="60">#37#<br>
      <font size="-2">#a37#</font> </th>
    <th align="left" valign="top" width="14%" height="60">#38#<br>
      <font size="-2">#a38#</font> </th>
    <th align="left" valign="top" width="14%" height="60">#39#<br>
      <font size="-2">#a39#</font> </th>
    <th align="left" valign="top" width="14%" height="60">#40#<br>
      <font size="-2">#a40#</font> </th>
    <th align="left" valign="top" width="14%" height="60">#41#<br>
      <font size="-2">#a41#</font> </th>
    <th align="left" valign="top" width="14%" height="60">#42#<br>
      <font size="-2">#a42#</font> </th>
  </tr>
</table>
<br>
