<html> 
<div align="center">
  <p><b><font face="Garamond, Arial, Courier" size="+3">#HEADER# </font></b></p>
  <form method="post" action="CalenderManager?">
  <table border="3">
    <tr>
      <td>
          <table>
            <tr> 
              <td>&nbsp;</td>
              <td><font face="Garamond, Arial, Courier"><? templates/sv/calender/overview_listplayers.html/2 ?></font></td>
              <td><font face="Garamond, Arial, Courier"><? templates/sv/calender/overview_listplayers.html/3 ?></font></td>
              <td><font face="Garamond, Arial, Courier"><? templates/sv/calender/overview_listplayers.html/4 ?></font></td>
              <td><font face="Garamond, Arial, Courier"><? templates/sv/calender/overview_listplayers.html/5 ?></font></td>
              <td><font face="Garamond, Arial, Courier"><? templates/sv/calender/overview_listplayers.html/6 ?></font></td>
            </tr>
			#USER#
          </table>
      </td>
    </tr>
  </table>
    <p> 
      <input type="submit" name="usersubmit" value="<? templates/sv/calender/overview_listplayers.html/2001 ?>">
      <input type="hidden" name="player_action" value="#PLAYERACTION#">
      <input type="hidden" name="action" value="view">
      <input type="hidden" name="view" value="newapp">
    </p>
  </form>
  <p>&nbsp; </p>
</div>
</html>
