html, body {
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

body > .container {
    padding: 0;
    margin: 0;
    min-height: 100%;
    position: relative;
}

body {
    font-family: "Open Sans", "Helvetica", "Arial", "FreeSans", "Verdana", "Tahoma", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
    font-size: 12pt;
}

form {
    margin: 0;
    padding: 0;
}

body > .container > .header, body > .container > .content, body > .container > .footer-placeholder, body > .container > .footer-placeholder > .footer {
    width: 100%;
}

body > .container > .header {
    height: 40px;
    padding: 0;
    background-color: #fafafa;
    position: fixed;
    z-index: 99;
    top: 0;
}

body > .container > .header .menu {
    float: left;
}

body > .container > .header .menu ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body > .container > .header .menu ul > li {
    float: left;
    display: block;
}

body > .container > .header .menu ul > li a {
    text-decoration: none;
    line-height: 20px;
    padding: 10px;
    display: block;
}

body > .container > .header .auth {
    float: right;
}

body > .container > .header .auth .tabs > section {
    float: left;
}

body > .container > .header .auth .tabs > section:hover > .page {
    display: block;
}

body > .container > .header .menu ul > li:hover,
body > .container > .header .menu ul > li:hover *,
body > .container > .header .auth .tabs > section:hover > .tab {
    background-color: #0091e1;
    color: #fff;
}

body > .container > .header .auth .tabs > section > .tab {
    padding: 10px;
    line-height: 20px;
}

body > .container > .header .auth .tabs > section > .page {
    display: none;
    position: fixed;
    width: auto;
    right: 0;
    top: 40px;
    background-color: #0091e1;
    padding: 10px 20px 20px 20px;
    color: #fff;
}

body > .container > .header .auth .info > .user-name {
    padding: 10px;
    background-color: #0091e1;
    color: #fff;
    float: left;
    line-height: 20px;
}

body > .container > .header .auth .info > .sign-out {
    padding: 10px;
    float: left;
}

body > .container > .header .auth .tabs > section .page .field {
    clear: both;
    padding-top: 10px;
}

body > .container > .header .auth .tabs > section .page .field label {
    display: block;
    margin-bottom: 2px;
}

body > .container > .header .auth .tabs > section .page .field select,
body > .container > .header .auth .tabs > section .page .field input {
    font-family: "Open Sans", "Helvetica", "Arial", "FreeSans", "Verdana", "Tahoma", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
    font-size: 12pt;
    background: #fff;
    border: none;
    padding: 5px 10px;
    width: 260px;
    outline: none;
    height: 20px;
    resize: none;
}

body > .container > .header .auth .tabs > section .page .field .positive {
    font-family: "Open Sans", "Helvetica", "Arial", "FreeSans", "Verdana", "Tahoma", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
    font-size: 12pt;
    background: #0080ce;
    border: none;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    padding: 0 20px;
    margin-top: 10px;
    height: 30px;
}

body > .container > .header .auth .tabs > section .page .field .positive:hover {
    background: #003FF1;
}

body > .container > * > .wrapper {
    padding: 0 10px;
}

body > .container > .content > .wrapper {
    padding: 50px 20px 80px 20px;
}

body > .container > .footer-placeholder {
    position: absolute;
    top: 100%;
    height: 0;
    max-height: 0;
    left: 0;
    width: 100%;
}

body > .container > .footer-placeholder > .footer {
    height: 60px;
    background-color: #fafafa;
    position: absolute;
    width: 100%;
    left: 0;
    top: -60px;
}

body > .container > .footer-placeholder > .footer .additional {
    float: left;
    padding: 10px 20px;
    line-height: 40px;
}

body > .container > .footer-placeholder > .footer .additional * {
    margin: 0;
    padding: 0;
}

body > .container > .footer-placeholder > .footer .logo {
    float: right;
    padding: 0 20px;
}

