@import "../variables";

.imcms-page-error {
    background-color: #f3f5f7;
    -webkit-box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    display: block;
    margin-left: -320px;
    overflow: hidden;
    position: fixed;
    width: 640px;
    min-height: 250px;
    top: 100px;
    left: 50%;
    z-index: 10005;
    font-family: 'Source Sans Pro', sans-serif;
}

.imcms-page-error-head {
    background-color: #389ecf;
    text-align: center;
    display: block;
    position: relative;
    width: 100%;
    height: 42px;
}

.imcms-login__logo {
    background: url("#{$context-path}/imcms/images/icon_logo_main_white.png") no-repeat 0 0;
    background-size: contain;
    text-indent: -99999px;
    display: block;
    position: absolute;
    top: 7px;
    left: 20px;
    height: 100%;
    width: 69px;
}

.imcms-page-error-body {
    display: block;
    padding: 20px;
    width: 100%;
}

.imcms-page-error-body__form {
    display: inline-block;
    margin-bottom: 0;
}

.imcms-page-error-body__button {
    display: inline-block;
    margin-right: 10px;
}

.imcms-page-error a {
    color: #0b94d8;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    transition: color .3s;
}
.imcms-page-error a:hover {
    color: #0b65a2;
}

.imcms-page-error .imcms-title {
    text-align: center;
}
