#macro( gui_head $heading )
        <!-- gui_head -->
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="imcmsAdmBgHead" colspan="6"><img
			src="$contextPath/imcms/$language/images/admin/1x1.gif" width="1" height="20"></td>
		</tr>
		<tr class="imcmsAdmBgHead">
			<td colspan="2"><img src="$contextPath/imcms/$language/images/admin/1x1.gif" width="1" height="1"></td>
			<td nowrap><span class="imcmsAdmHeadingTop">$heading</span></td>
			<td align="right"><a href="http://www.imcms.net/" target="_blank"><img src="$contextPath/imcms/$language/images/admin/logo_imcms_admin.gif" width="100" height="20" alt="www.imcms.net" border="0"></a></td>
			<td colspan="2"><img src="$contextPath/imcms/$language/images/admin/1x1.gif" width="1" height="1"></td>
		</tr>
		<tr>
			<td colspan="6" class="imcmsAdmBgHead"><img
			src="$contextPath/imcms/$language/images/admin/1x1.gif" width="1" height="20"></td>
		</tr>
		<tr class="imcmsAdmBgHead">
			<td colspan="2"><img src="$contextPath/imcms/$language/images/admin/1x1.gif" width="1" height="1"></td>
			<td colspan="2">
        <!-- /gui_head -->
#end

#macro( gui_mid )
        <!-- gui_mid -->
        </td>
        <td colspan="2"><img
				src="$contextPath/imcms/$language/images/admin/1x1.gif" width="1" height="1"></td>
    </tr>
    <tr>
        <td class="imcmsAdmBgHead" colspan="6"><img
				src="$contextPath/imcms/$language/images/admin/1x1.gif" width="1" height="20"></td>
    </tr>
    <tr>
        <td height="10" class="imcmsAdmBorder"><img
				src="$contextPath/imcms/$language/images/admin/1x1.gif" width="1" height="1"></td>
        <td class="imcmsAdmBgCont" colspan="4"><img
				src="$contextPath/imcms/$language/images/admin/1x1.gif" width="1" height="1"></td>
        <td class="imcmsAdmBorder"><img
				src="$contextPath/imcms/$language/images/admin/1x1.gif" width="1" height="1"></td>
    </tr>
    <tr class="imcmsAdmBgCont">
        <td class="imcmsAdmBorder"><img
				src="$contextPath/imcms/$language/images/admin/1x1.gif" width="1" height="1"></td>
        <td><img
				src="$contextPath/imcms/$language/images/admin/1x1.gif" width="1" height="1"></td>
        <td colspan="2">
        <!-- /gui_mid -->
#end


#macro( gui_hr $wantedcolor )
    <!-- gui_hr $wantedcolor -->
#if( 'blue' == $wantedcolor )
    #set( $color = '20568d' )
#else
    #set( $color = $wantedcolor )
#end
<img src="$contextPath/imcms/$language/images/admin/1x1_${color}.gif" width="100%" height="1" vspace="8">
    <!-- /gui_hr $wantedcolor -->
#end

#macro( gui_heading $heading )
    <!-- gui_heading -->
<span class="imcmsAdmHeading">$heading</span><br>
#gui_hr( 'blue' )
    <!-- /gui_heading -->
#end

#macro( gui_start_of_page $titleAndHeading $backServlet $action $helpDocName $bodyOnLoad )
<!-- gui_start_of_page -->
<html>
<head>
<title>$titleAndHeading</title>

<link rel="stylesheet" type="text/css" href="$contextPath/imcms/css/imcms_admin.css.jsp">
<script src="$contextPath/js/imcms/imcms_admin.js.jsp" type="text/javascript"></script>

</head>
<body onLoad="$bodyOnLoad">
<ui:imcms_gui_outer_start/>
	#gui_head( "$titleAndHeading" )
	#gui_mid()
    <!-- /gui_start_of_page -->
#end
