#macro( gui_heading $heading )
    <!-- gui_heading -->
<span class="imcmsAdmHeading">$heading</span><br>
<ui:imcms_gui_hr wantedcolor="blue"/>
    <!-- /gui_heading -->
#end

#macro( gui_start_of_page $titleAndHeading $backServlet $action $helpDocName $bodyOnLoad )
<!-- gui_start_of_page -->
<html>
<head>
<title>$titleAndHeading</title>

<link rel="stylesheet" type="text/css" href="$contextPath/imcms/css/imcms_admin.css.jsp">
<script src="$contextPath/js/imcms/imcms_admin.js.jsp" type="text/javascript"></script>

</head>
<body onLoad="$bodyOnLoad">
<ui:imcms_gui_outer_start/>
<c:set var="heading">
    <fmt:message key="$titleAndHeading"/>
</c:set>
<ui:imcms_gui_head heading="${heading}"/>
<ui:imcms_gui_mid/>
    <!-- /gui_start_of_page -->
#end
