<FORM METHOD=POST ACTION="#servlet_url#AddDoc">
<HR width=150>
  <TABLE BORDER = 0>
	<TR> 
	  <TD><font size="1" face="Verdana, Arial, Helvetica, sans-serif"> L&auml;gg 
		till l&auml;nk:</font></TD>
	</TR>
	<TR> 
	  <TD> 
		<NOBR><SELECT NAME=edit_menu SIZE=1>		  #doc_types#		</SELECT><INPUT TYPE=SUBMIT VALUE="OK" NAME="submit"></NOBR>
	  </TD>
	</TR>
	<INPUT TYPE=HIDDEN NAME=meta_id VALUE="#getMetaId#">
	<INPUT TYPE=HIDDEN NAME=doc_menu_no VALUE="#doc_menu_no#">
	<INPUT TYPE=HIDDEN NAME=txt_max VALUE="9">
	<INPUT TYPE=HIDDEN NAME=img_max VALUE="9">
  </TABLE>
</FORM>
