
<html>
<head>
<title>Ändra användaregenskaper</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language=JavaScript>
<!--

function closeThisWindow() {
	window.close();
} //END FUNCTION CloseThisWindow

function confirmDeleteUser(){
	if(confirm("Varning! Användaren kommer att tas bort från systemet! Fortsätta?"))
		return true
	else 
		return false
}

function evalEditUser() {
	var userId
	userId = document.argumentForm.user_Id.selectedIndex
	if(userId == "-1" ) {
		alert("Du måste först välja en användare!")
		return false
	} else
		return true
}

function evalShowUser() {
	if ( document.user_categoriesForm.searchstring.value.length < 1 ) {
		alert ( " Skriv in minst ett tecken i användarnamnet som du vill visa ")
		return false
	}else 
		return true
}

function openHelp(id){
	window.open("GetDoc?meta_id=" + id,"help","scrollbars=yes,width=650,height=570");
}
//-->
</SCRIPT>
</head>
<body bgcolor="#FFFFFF">
<table width="40%" border="0" cellspacing="0">
  <tr bgcolor="#333366"> 
	<td width="5%">&nbsp;</td>
	<td width="90%"> 
	  <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">&Auml;ndra 
		anv&auml;ndaregenskaper</font></b></div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td width="90%"> <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Välj önskad användarkategori och skriv in minst ett tecken i användarens namn och tryck på Visa anv&auml;ndare. Markera sedan den anv&auml;ndare vars egenskaper skall &auml;ndras</font></td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td width="90%">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td width="90%"> 
	  <form method="post" action="AdminUser" name="user_categoriesForm">
		<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Anv&auml;ndarkategori: 
		<br>
		<select name="user_categories" style="WIDTH: 200px">
			<option value="All_Choice" selected>-- Alla kategorier --</option>	
           #USER_TYPES#
          
        </select>
		<br>
		<br>
		<input type="text" name="searchstring" size="15" maxlength="20"> (Ange minst ett tecken!)
		<br><br>
		<input type="submit" name="showUsers" value="Visa anv&auml;ndare" onClick="if(evalShowUser()==false) return false; return true;">
		</font> 
	  </form>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td width="90%"> <font size="2">&nbsp; </font> </td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td width="90%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Anv&auml;ndare</font></td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%" height="24">&nbsp;</td>
	<td width="90%" height="24"> 
	  <form method="post" action="AdminUser" name="argumentForm" target="_top">
		<select name="user_Id" size="5" style="WIDTH: 200px">
          #USERS_MENU#
        </select>
		<br>
		<br>
		<input type="submit" name="ADD_USER" value="L&auml;gg till">
		<input type="submit" name="CHANGE_USER" value="Redigera " onClick="if(evalEditUser()==false)return false; return true;">
		<input type="submit" name="GO_BACK" value="Tillbaka">&nbsp; <a href="GetDoc?meta_id=38" target="_blank" onClick="openHelp('38'); return false;"><img src="@imageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
	  </form>
	  &nbsp; <font size="2"> </font> </td>
	<td width="5%" height="24">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td width="90%"> <font size="2">&nbsp; </font> </td>
	<td width="5%">&nbsp;</td>
  </tr>
</table>
</body>
</html>
