<tr>
	<td colspan="2"><script><? sv/AdminUserResp_superadmin_part.htm/1 ?></script></td>
</tr>
<tr>
	<td class="imcmsAdmText"><? sv/AdminUserResp_superadmin_part.htm/2 ?></td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><input type="checkbox" name="active" value="#ACTIVE#" #ACTIVE_FLAG#></td>
		<td class="imcmsAdmText" nowrap>&nbsp;<script language="JavaScript">
<!--
var sDate = "#USER_CREATE_DATE#" ;
if (/\d+/.test(sDate)) document.writeln(" &nbsp; Inläggningsdatum &nbsp; " + sDate);
//-->
</script></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td colspan="2">&nbsp;<br><script><? sv/AdminUserResp_superadmin_part.htm/3 ?></script></td>
</tr>
<tr>
	<td class="imcmsAdmText"><? sv/AdminUserResp_superadmin_part.htm/4 ?></td>
	<td>
	<select name="user_type">
	<? sv/AdminUserResp_superadmin_part.htm/5 ?>
	</select></td>
</tr>
<tr>
	<td colspan="2"><script><? sv/AdminUserResp_superadmin_part.htm/6 ?></script></td>
</tr>
<tr valign="top">
	<td class="imcmsAdmText" nowrap>
	<? sv/AdminUserResp_superadmin_part.htm/1001 ?> &nbsp;</td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr valign="top">
		<td>
		<select name="roles" size="5" multiple onchange="activateUseradmin_roles(); return true;">
		<? sv/AdminUserResp_superadmin_part.htm/7 ?>
		</select></td>
		<td>&nbsp;</td>
		<td class="imcmsAdmText" nowrap><? sv/AdminUserResp_superadmin_part.htm/8 ?></td>
		<td>&nbsp;</td>
		<td>
		<select name="useradmin_roles" size="5" multiple>
		<? sv/AdminUserResp_superadmin_part.htm/9 ?>
		</select></td>
	</tr>
	<tr valign="top">
		<td class="imcmsAdmDim"><? sv/AdminUserResp_superadmin_part.htm/10 ?></td>
		<td colspan="3">&nbsp;</td>
		<td class="imcmsAdmDim"><? sv/AdminUserResp_superadmin_part.htm/11 ?></td>
	</tr>
	</table></td>
</tr>
