<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html40/loose.dtd">
<html>
<head>
<title><? sv/AdminRoles_Edit.html/1 ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>

<body bgcolor="#FFFFFF">
<form method="post" action="AdminRoles" name="editRole">
  <table width="40%" border="0" cellspacing="0">
    <tr bgcolor="#333366"> 
      <td width="2%">&nbsp;</td>
      <td> 
        <div align="center"> <b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2"><? sv/AdminRoles_Edit.html/2 ?>
          </font></b> </div>
      </td>
      <td width="4%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="2%">&nbsp;</td>
      <td width="80%"> 
        <div align="center"> 
          <input type="HIDDEN" name="ROLE_ID" value="#CURRENT_ROLE_ID#">
          <b><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><? sv/AdminRoles_Edit.html/3 ?></font></b></div>
      </td>
      <td width="4%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="2%">&nbsp;</td>
      <td width="80%"><? sv/AdminRoles_Edit.html/4 ?> </td>
      <td width="4%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa">
      <td width="2%">&nbsp;</td>
      <td width="80%">&nbsp;</td>
      <td width="4%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="2%">&nbsp;</td>
      <td width="80%"> 
        <input type="submit" name="UPDATE_ROLE_PERMISSIONS" value="Spara">
        <input type="submit" name="CANCEL_ROLE" value="Avbryt">&nbsp; <a href="@documentationurl@/GetDoc?meta_id=33" target="_blank"><img src="@imcmsimageurllang@/admin/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
      </td>
      <td width="4%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="2%">&nbsp;</td>
      <td width="80%">&nbsp; </td>
      <td width="4%">&nbsp;</td>
    </tr>
  </table>
  </form>
</body>
</html>
