
<html>
<head>
<title>Lägg till/redigera användare</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language=javascript><!--
function evalPrepareAdd() {
	// Lets check that those fields which are mandatory
	var valFieldsOk = true;
	if( document.forms[0].login_name.value == "" ) valFieldsOk = false
	//if( document.forms[0].password1.value == "" ) valFieldsOk = false
	//if( document.forms[0].password2.value == "" ) valFieldsOk = false
	if( document.forms[0].first_name.value == "" ) valFieldsOk = false
	if( document.forms[0].last_name.value == "" ) valFieldsOk = false	
	
	if(!valFieldsOk) {
		var msg = "Du har inte fyllt i ett obligatoriskt fält! Fyll i alla obligatoriska fält"
		alert(msg)
		return false
	}
	
	if(document.forms[0].password1.value != document.forms[0].password2.value){
		var msg = "Obs! Verifieringen av lösenordet misslyckades!"
		document.forms[0].password1.value = "" 
		document.forms[0].password2.value = ""
		document.forms[0].password1.focus()
		alert(msg)		
		return false
	}
	var userType
	userType = document.forms[0].user_type.selectedIndex
	// Lets check if the user has make a choice
	if(userType == "-1") {
		var msg = "Du har inte valt användartyp! Välj en användartyp "
		alert(msg)
		return false
	}
	
	var userRole
	userRole = document.forms[0].roles.selectedIndex
	if(userRole == "-1") {
		var msg = "Du har inte valt roll för användaren! Välj vilken/vilka roller "
		msg += "användaren skall ha."
		alert(msg)
		return false
	}
	return true
}

function openHelp(id){
	window.open("GetDoc?meta_id=" + id,"help","scrollbars=yes,width=650,height=570");
}

function activateUseradmin_roles(){
	var list = document.forms[0].roles;
	document.forms[0].useradmin_roles.disabled = true;
	for ( i = 0 ; i < list.length ; i++ ){
		if ( list.options[i].text == "Useradmin"  && list.options[i].selected ){
			document.forms[0].useradmin_roles.disabled = false;
		}
	}
}


//-->
</script>
</head>
<body bgcolor="#ffffff" onload="activateUseradmin_roles(); return true;">


<form method="post" action="AdminUserProps">
<input type="HIDDEN" name="CURR_USER_ID" value="#CURR_USER_ID#">
<input type="HIDDEN" name="adminTask" value="#ADMIN_TASK#">
<input type="HIDDEN" name="phone_id" value="#PHONE_ID#">
<input type="HIDDEN" name="go_back" value="#BACK#">
<input type="HIDDEN" name="new_pwd1" value="#NEW_PWD1#">
<input type="HIDDEN" name="new_pwd2" value="#NEW_PWD2#">

<table width="550" border="0" cellspacing="0" bgcolor="#bababa">
<tr bgcolor="#333366">
	<td width="5%">&nbsp;</td>
	<td colspan="3" align="center">
	<font face="Verdana, Arial, Helvetica, sans-serif" color="#ffffff" size="2"><b>Lägg till / redigera användare</font></b></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td colspan="5">&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td colspan="3"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Observera att samtliga fält måste vara ifyllda för att en användare skall kunna skapas!</font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td colspan="3"><hr></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Användarnamn</font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">*</font></td>
	<td nowrap><font size="2"><input name="login_name" size="25" value="#LOGIN_NAME#" maxlength="15"></font>
	<font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;(Max 15 tecken!)</font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Lösenord:</font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">*</font></td>
	<td nowrap><font size="2"><input type="password" name="password1" size="25" value="#PWD1#" maxlength="15"></font>
	<font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;(Max 15 tecken!)</font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Verifiera lösenord:</font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">*</font></td>
	<td><font size="2"><input type="password" name="password2" size="25" value="#PWD2#"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Förnamn:</font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">*</font></td>
	<td><font size="2"><input name="first_name" size="25" value="#FIRST_NAME#"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Efternamn:</font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">*</font></td>
	<td><font size="2"><input name="last_name" size="25" value="#LAST_NAME#"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Titel:</font></td>
	<td>&nbsp;</td>
	<td><font size="2"><input name="title" size="25" value="#TITLE#"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Arbetsplats:</font></td>
	<td>&nbsp;</td>
	<td><font size="2"><input name="company" size="25" value="#COMPANY#"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Gatuadress:</font></td>
	<td><font size="2">&nbsp;</font></td>
	<td><font size="2"><input name="address" size="25" value="#ADDRESS#"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Postnummer:</font></td>
	<td><font size="2">&nbsp;</font></td>
	<td><font size="2"><input name="zip" size="25" value="#ZIP#"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Postort:</font></td>
	<td><font size="2">&nbsp;</font></td>
	<td><font size="2"><input name="city" size="25" value="#CITY#"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Telefonnummer:</font></td>
	<td>&nbsp;</td>
	<td><select name="phonetype" size="1" >
	#PHONETYPES_MENU#
</select>
	<input name="local_code" size="16" value="#NUMBER#">
	<input type="submit" value="OK" name="ok_phones"></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td><font face="Verdana, Arial, Helvetica, sans-serif">
	<select size="1" name="user_phones">
	#PHONES_MENU#
	</select></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td><font size="2"><input type="submit" name="edit_phones" value="Ändra">
	<input type="submit" value="Ta bort" name="delete_phones"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Län:</font></td>
	<td><font size="2">&nbsp;</font></td>
	<td><font size="2"><input name="country_council" size="25" value="#COUNTRY_COUNCIL#"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Land:</font></td>
	<td><font size="2">&nbsp;</font></td>
	<td><font size="2"><input name="country" size="25" value="#COUNTRY#"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Email:</font></td>
	<td><font size="2">&nbsp;</font></td>
	<td><font size="2"><input name="email" size="25" value="#EMAIL#"></font></td>
	<td>&nbsp;</td>
</tr>

	#ADMIN_PART#

<tr>
	<td>&nbsp;</td>
	<td width="449" colspan="3"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
	&nbsp;* Innebär att fältet är obligatoriskt</font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td colspan="3"><hr></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td colspan="3">
	<input type="submit" name="SAVE_USER" value="Spara" onClick="if(evalPrepareAdd()==false)return false; return true;">
	<input type="submit" name="RESET_FORM" value="Återställ">
	<input type="submit" name="GO_BACK" value="Avbryt">&nbsp; <a href="GetDoc?meta_id=71" target="_blank" onClick="openHelp('71'); return false;"><img src="@imageurl@/se/helpimages/btn_help_round.gif" width="19" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td colspan="5">&nbsp;</td>
</tr>
</table>
</form>
<p></p>
</body>
</html>

