  <tr>
    
  <td><a name="#META_ID#" target="_blank" href="AdminDoc?meta_id=#META_ID#"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FF0000"><? sv/AdminListDocs_doclList_element.html/1 ?></font></a></td>
    <td><a name="#META_ID#" target="_blank" href="GetDoc?meta_id=#META_ID#"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><? sv/AdminListDocs_doclList_element.html/2 ?></font></a></td>
    <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><? sv/AdminListDocs_doclList_element.html/3 ?></font></td>
    <td nowrap><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><? sv/AdminListDocs_doclList_element.html/4 ?></font></td>
  </tr>
