<html>
<head>
<title>L&auml;gg till ny roll</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language=JavaScript>
<!--
function openHelp(id){
	window.open("GetDoc?meta_id=" + id,"help","scrollbars=yes,width=650,height=570");
}
//-->
</SCRIPT>

</head>

<body bgcolor="#FFFFFF">
<form method="post" action="AdminRoles" name="addIP">
  <table width="40%" border="0" cellspacing="0">
    <tr bgcolor="#333366"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"> 
        <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">L&auml;gg 
          till ny roll</font></b></div>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%">&nbsp; </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Ange 
        det nya rollnamnet: </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"> 
        <p> 
          <input type="text" name="ROLE_NAME" maxlength="25">
        </p>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa">
      <td width="5%">&nbsp;</td>
      <td width="90%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">#ROLE_PERMISSIONS#</font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%">
        <input type="submit" name="ADD_NEW_ROLE" value="Spara">
        <input type="submit" name="CANCEL_ROLE" value="Avbryt">&nbsp; <a href="GetDoc?meta_id=32" target="_blank" onClick="openHelp('32'); return false;"><img src="@imcmsimageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%">&nbsp; </td>
      <td width="5%">&nbsp;</td>
    </tr>
  </table>
  </form>
</body>
</html>
