<html>
<head>
<title><? sv/AdminIpAccess_Add.htm/1 ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</SCRIPT>

</head>

<body bgcolor="#FFFFFF">
<form method="post" action="AdminIpAccess" name="addIP">
  <table width="40%" border="0" cellspacing="0">
	<tr bgcolor="#333366"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2"><? sv/AdminIpAccess_Add.htm/2 ?></font></b></div>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%">&nbsp; </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><? sv/AdminIpAccess_Add.htm/3 ?></font></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%">&nbsp;</td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><? sv/AdminIpAccess_Add.htm/4 ?> 
		<select name="USER_ID" size="1">
	#USERS_LIST#
        </select>
		</font></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%" height="23"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><? sv/AdminIpAccess_Add.htm/6 ?> 
		<input type="text" name="IP_START" size="12">
		</font></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%" height="26"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
		<? sv/AdminIpAccess_Add.htm/7 ?> 
		<input type="text" name="IP_END" size="12">
		</font></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/AdminIpAccess_Add.htm/8 ?></font></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%">&nbsp;</td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<input type="submit" name="ADD_NEW_IP_ACCESS" value="<? sv/AdminIpAccess_Add.htm/2001 ?>">
		<input type="submit" name="CANCEL_ADD_IP" value="<? sv/AdminIpAccess_Add.htm/2002 ?>">&nbsp; <a href="@documentationurl@/GetDoc?meta_id=15" target="_blank"><img src="@imcmsimageurllang@/admin/btn_help_round.gif" width="19" height="21" border="0" alt="<? sv/AdminIpAccess_Add.htm/2003 ?>"></a>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa">
	  <td width="5%">&nbsp;</td>
	  <td width="90%">&nbsp;</td>
	  <td width="5%">&nbsp;</td>
	</tr>
  </table>
</form>
  </body>
</html>
