<tr>
	<td colspan="2"><script>hr("100%",656,"blue");</script></td>
</tr>
<tr>
	<td class="imcmsAdmText">Aktiverad</td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><input type="checkbox" name="active" value="#ACTIVE#" #ACTIVE_FLAG#></td>
		<td class="imcmsAdmText" nowrap>&nbsp;<script language="JavaScript">
<!--
var sDate = "#USER_CREATE_DATE#" ;
if (/\d+/.test(sDate)) document.writeln(" &nbsp; Inläggningsdatum &nbsp; " + sDate);
//-->
</script></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td colspan="2">&nbsp;<br><script>imcHeading("Rolltillhörighet",656);</script></td>
</tr>
<tr>
	<td class="imcmsAdmText">Användartyp <b class="red">*</b></td>
	<td>
	<select name="user_type">
	#USER_TYPES#
	</select></td>
</tr>
<tr>
	<td colspan="2"><script>hr("100%",656,"cccccc");</script></td>
</tr>
<tr valign="top">
	<td class="imcmsAdmText" nowrap>
	Användarens Roller <b class="red">*</b> &nbsp;</td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
		<select name="roles" size="5" multiple onchange="activateUseradmin_roles(); return true;">
		#ROLES_MENU#
		</select></td>
	</tr>
	<tr>
		<td class="imcmsAdmDim">Välj vilka roller användaren<br>skall tillhöra.</td>
	</tr>
	</table></td>
</tr>
#ROLES_MENU_USERADMIN#
	
