<!--
Template: AdminChangeUser.htm
-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<title><? sv/AdminChangeUser.htm/1 ?></title>

<link rel="stylesheet" href="@imcmscssurl@/imcms_admin_ns.css" type="text/css">
<script src="@imcmsscripturl@/imcms_admin.js" type="text/javascript"></script>

<SCRIPT language="JavaScript">
<!--

function closeThisWindow() {
	window.close();
} //END FUNCTION CloseThisWindow

function confirmDeleteUser(){
	if(confirm("Varning! Användaren kommer att tas bort från systemet! Fortsätta?")) {
		return true;
	} else {
		return false;
	}
}

function evalEditUser() {
	var userId = document.forms.argumentForm.user_Id.selectedIndex;
	if( userId == -1 ) {
		alert("Du måste först välja en användare!");
		return false;
	} else {
		return true;
	}
}


//-->
</SCRIPT>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(1,'searchstring')">

<script>
imcmsGui("outer_start", null);
imcmsGui("head", null);
</script>
<table border="0" cellspacing="0" cellpadding="0">
<form method="post" action="AdminUser" name="abortForm">
<input type="hidden" name="user_Id" value="">
<tr>
	<td><input type="submit" class="imcmsFormBtn" name="GO_BACK" value="<? sv/AdminChangeUser.htm/2001 ?>"></td>
	<td>&nbsp;</td>
    <td><input type="button" value="<? sv/AdminChangeUser.htm/2002 ?>" title="<? sv/AdminChangeUser.htm/2003 ?>" class="imcmsFormBtn" onClick="openHelpW(38)"></td>
</tr>
</form>
</table>
<script>
imcmsGui("mid", null);
</script>
<table border="0" cellspacing="0" cellpadding="0" width="400" align="center">
<form name="user_categoriesForm" action="AdminUser" method="post">
<tr>
	<td colspan="2"><script><? sv/AdminChangeUser.htm/4 ?></script></td>
</tr>
<tr>
	<td colspan="2" class="imcmsAdmText">
	<? sv/AdminChangeUser.htm/5 ?></td>
</tr>
<tr>
	<td colspan="2"><script>hr("100%",396,"cccccc");</script></td>
</tr>
<tr>
	<td class="imcmsAdmText"><? sv/AdminChangeUser.htm/7 ?></td>
	<td>
	<select name="user_categories"  style="WIDTH: 200px">
		<option value="All_Choice" selected><? sv/AdminChangeUser.htm/8 ?></option>
		#USER_TYPES#
	</select></td>
</tr>
<tr>
	<td class="imcmsAdmText"><? sv/AdminChangeUser.htm/10 ?></td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><script>
writeFormField("TEXT","searchstring",20,20,null,"#searchstring#");
</script></td>
		<td class="imcmsAdmDim">&nbsp; <? sv/AdminChangeUser.htm/1001 ?></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td class="imcmsAdmText">&nbsp;</td>
	<td><input type="checkbox" name="active" value="0" #active#> <? sv/AdminChangeUser.htm/12 ?></td>
</tr>
<tr>
	<td colspan="2"><script>hr("100%",396,"cccccc");</script></td>
</tr>
<tr>
	<td class="imcmsAdmText">&nbsp;</td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><input type="submit" class="imcmsFormBtnSmall" name="showUsers" value="<? sv/AdminChangeUser.htm/2004 ?>"></td>
	</tr>
	</table>
</td>
</tr>
</form>
<tr>
	<td colspan="2" class="imcmsAdmText"><? sv/AdminChangeUser.htm/14 ?></td>
</tr>
<form name="argumentForm" action="AdminUser" method="post" target="_top">
<tr>
	<td colspan="2">
	<table border="0" cellspacing="0" cellpadding="0">
	<tr valign="top">
		<td>
		<select name="user_Id" size="15" style="width:300">
			#USERS_MENU#
		</select></td>
		<td>&nbsp;</td>
		<td>
		<input type="submit" class="imcmsFormBtnSmall" name="ADD_USER" value="<? sv/AdminChangeUser.htm/2005 ?>" style="width:80"><br>
		<img src="@imcmsimageurllang@/admin/1x1.gif" width="1" height="3"><br>
		<input type="submit" class="imcmsFormBtnSmall" name="CHANGE_USER" value=" <? sv/AdminChangeUser.htm/2006 ?> " onClick="if(!evalEditUser()) return false;" style="width:80"></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td colspan="2"><script>hr("100%",396,"blue");</script></td>
</tr>
<tr>
	<td colspan="2" align="right"><input type="submit" class="imcmsFormBtn" name="GO_BACK" value="<? sv/AdminChangeUser.htm/2007 ?>"></td>
</tr>
</form>
</table>
<script>
imcmsGui("bottom", null);
imcmsGui("outer_end", null);
</script>

<script language="JavaScript">
<!--
var sSearch = unescape(getParam("search")) ;
if (sSearch != "" && sSearch != " ") document.forms[1].searchstring.value = sSearch ;
//-->
</script>

</body>
</html>
