<html>
<head>
<title><? sv/AdminUserPhone.htm/1 ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language=JavaScript>
<!--

function closeThisWindow() {
	window.close();
} //END FUNCTION CloseThisWindow

function confirmDeletetion(){
	if(confirm("Varning! Du är på väg att ta bort IP-accesser! Vill du fortsätta?"))
		return true
	else 
		return false
}

function evalEditUser() {
	var userId
	userId = document.argumentForm.user_Id.selectedIndex
	if(userId == "-1" ) {
		alert("Du måste först välja en användare!")
		return false
	} else
		return true
}

//-->
</SCRIPT>
</head>
<body bgcolor="#FFFFFF">
<form method="post" action="AdminUserPhones" name="argumentForm">
  <table width="40%" border="0" cellspacing="0">
	<tr bgcolor="#333366"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"> 
        <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2"><? sv/AdminUserPhone.htm/2 ?> </font></b></div>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%">
        <input type="HIDDEN" name="CURR_USER_FIELD" value="#USER_ID#">
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><? sv/AdminUserPhone.htm/3 ?></font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"><font face="Arial, Helvetica, sans-serif" size="1"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><? sv/AdminUserPhone.htm/4 ?></font></font> </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><? sv/AdminUserPhone.htm/5 ?> 
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%" height="23">&nbsp; </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%" height="26"> 
        <input type="submit" name="ADD_NEW_PHONE_PAGE" value="<? sv/AdminUserPhone.htm/2001 ?>">
        <input type="submit" name="RESAVE_PHONES" value="<? sv/AdminUserPhone.htm/2002 ?>">
        <input type="submit" name="DELETE_PHONES" value="<? sv/AdminUserPhone.htm/2003 ?>">
        <input type="submit" name="CANCEL_PHONE" value="<? sv/AdminUserPhone.htm/2004 ?>">
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%">&nbsp;</td>
      <td width="5%">&nbsp;</td>
    </tr>
  </table>
  </form>
</body>
</html>
