<html>
<head>
<title>imCMS Adminstrat&ouml;rsida</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language=JavaScript>
<!--
function openHelp(id){
	window.open("GetDoc?meta_id=" + id,"help","scrollbars=yes,width=650,height=570");
}
//-->
</SCRIPT>

</head>

<body bgcolor="#FFFFFF">
<table width="60%" border="0" cellspacing="0">
  <tr bgcolor="#333366"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Systeminformation</font></b></div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <div align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><b>Ange 
		system meddelande</b></font></div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td colspan="2"> 
	  <div align="left"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">I 
		textrutan nedan anges det aktuella meddelandet fr&aring;n systemadministrat&ouml;ren.</font></div>
	</td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td colspan="2"> 
	  <form method="post" action="AdminSystemInfo">
		<font size="2"> </font> 
		<table width="100%" border="0">
		  <tr> 
			<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Aktuellt 
			  systemmeddelande:</font></td>
			<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#SYSTEM_MESSAGE#</font></td>
		  </tr>
		  <tr> 
			<td width="32%" height="8"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&Auml;ndra 
			  systemmeddelande:</font></td>
			<td width="68%" height="8"> 
			  <textarea name="SYSTEM_MESSAGE" cols="40" rows="4">#SYSTEM_MESSAGE#</textarea>
			  <input type="submit" name="SetSystemMsg" value="Uppdatera">
			</td>
		  </tr>
		</table>
		<font size="2"> </font> 
	  </form>
	</td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <hr>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <div align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><b>Ange 
		servermaster</b></font></div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td colspan="2"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">I 
	  textrutan nedan anges den person som &auml;r teknikansvarig f&ouml;r systemet. 
	  </font></td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td colspan="2"> 
	  <form method="post" action="AdminSystemInfo">
		<table width="100%" border="0">
		  <tr> 
			<td width="32%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Aktuell 
			  servermaster:</font></td>
			<td width="68%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#SERVER_MASTER#</font></td>
		  </tr>
		  <tr> 
			<td width="32%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&Auml;ndra 
			  servermaster:</font></td>
			<td width="68%"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
			  <input type="text" name="SERVER_MASTER" value="#SERVER_MASTER#" maxlength="80" size="40">
			  </font></td>
		  </tr>
		  <tr> 
			<td width="32%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Aktuell 
			  servermaster email:</font></td>
			<td width="68%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#SERVER_MASTER_EMAIL#</font></td>
		  </tr>
		  <tr> 
			<td width="32%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&Auml;ndra 
			  servermaster email:</font></td>
			<td width="68%"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
			  <input type="text" name="SERVER_MASTER_EMAIL" value="#SERVER_MASTER_EMAIL#" maxlength="80" size="40">
			  <input type="submit" name="SetServerMasterInfo" value="Uppdatera">
			  </font></td>
		  </tr>
		</table>
		<font size="2"><br>
		</font> 
	  </form>
	</td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <hr>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <div align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><b>Ange 
		webmaster</b></font></div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td colspan="2"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">I 
	  textrutan nedan anges den person som &auml;r layoutansvarig f&ouml;r systemet. 
	  </font></td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <form method="post" action="AdminSystemInfo">
		<table width="100%" border="0">
		  <tr> 
			<td width="33%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Aktuell 
			  webmaster:</font></td>
			<td width="67%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#WEB_MASTER#</font></td>
		  </tr>
		  <tr> 
			<td width="33%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&Auml;ndra 
			  webmaster:</font></td>
			<td width="67%"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
			  <input type="text" name="WEB_MASTER" value="#WEB_MASTER#" maxlength="80" size="40">
			  </font></td>
		  </tr>
		  <tr> 
			<td width="33%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Aktuell 
			  webmaster email:</font></td>
			<td width="67%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#WEB_MASTER_EMAIL#</font></td>
		  </tr>
		  <tr> 
			<td width="33%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&Auml;ndra 
			  webmaster email:</font></td>
			<td width="67%"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
			  <input type="text" name="WEB_MASTER_EMAIL" value="#WEB_MASTER_EMAIL#" maxlength="80" size="40">
			  <input type="submit" name="SetWebMasterInfo" value="Uppdatera">
			  </font></td>
		  </tr>
		</table>
		<br>
	  </form>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <div align="center"> 
		<form method="get" action="AdminManager">
		  <div align="left"> 
			<input type="submit" name="submit" value="Tillbaka">&nbsp; <a href="javascript:openHelp("35");"><img src="@imageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
		  </div>
		</form>
	  </div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
</table>
  </body>
</html>
