<html>
<head>
<title><? sv/AdminRoles_Delete1.htm/1 ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>

<body bgcolor="#FFFFFF">
<form method="post" action="AdminRoles" name="adminRoles">
  <table width="40%" border="0" cellspacing="0">
	<tr bgcolor="#333366"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2"><? sv/AdminRoles_Delete1.htm/2 ?></font></b></div>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/AdminRoles_Delete1.htm/3 ?> 
		<input type="HIDDEN" name="ROLE_ID" value="#CURRENT_ROLE_ID#">
		</font> </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<hr>
		<font size="2"> <font face="Verdana, Arial, Helvetica, sans-serif"><? sv/AdminRoles_Delete1.htm/4 ?></font></font></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<select name="select2" size="4">
		<? sv/AdminRoles_Delete1.htm/5 ?>
        </select>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<hr>
		<font size="2"> <font face="Verdana, Arial, Helvetica, sans-serif"><? sv/AdminRoles_Delete1.htm/6 ?></font></font></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<p> 
		  <select name="select" size="4">
		<? sv/AdminRoles_Delete1.htm/7 ?>
          </select>
		</p>
		<hr>
		<input type="submit" name="WARN_DELETE_ROLE" value="<? sv/AdminRoles_Delete1.htm/2001 ?>">
		<input type="submit" name="CANCEL_ROLE" value="<? sv/AdminRoles_Delete1.htm/2002 ?>">&nbsp; <a href="@documentationurl@/GetDoc?meta_id=34" target="_blank"><img src="@imcmsimageurllang@/admin/btn_help_round.gif" width="19" height="21" border="0" alt="<? sv/AdminRoles_Delete1.htm/2003 ?>"></a>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%">&nbsp;</td>
	  <td width="5%">&nbsp;</td>
	</tr>
  </table>
</form>
</body>
</html>
