<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<title>SuperAdmin</title>

<link rel="stylesheet" href="@imcmscssurl@/imcms_admin_ns.css" type="text/css">
<script src="@imcmsscripturl@/imcms_admin.js" type="text/javascript"></script>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(1,'AdminTask')">

<script>
imcmsGui("outer_start", null);
imcmsGui("head", "imCMS Administratörsmeny");
</script>
<table border="0" cellspacing="0" cellpadding="0">
<form action="StartDoc">
<tr>
	<td><input type="submit" class="imcmsFormBtn" value="Till startsidan"></td>
	<td>&nbsp;</td>
    <td><input type="button" value="Hjälp" title="Öppna hjälpsidan" class="imcmsFormBtn" onClick="openHelpW(28)"></td>
</tr>
</form>
</table>
<script>
imcmsGui("mid", null);
</script>
<form method="post" action="AdminManager" name="AdminManager">
<table border="0" cellspacing="0" cellpadding="2" width="400" align="center">
<tr>
	<td><script>imcHeading("Välj administrationsfunktion",396);</script></td>
</tr>
<tr>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>#ADMIN_TASK#</td>
		<td>&nbsp;</td>
		<td><input type="submit" class="imcmsFormBtnSmall" name="submit" value="Gå till Adminsida"></td>
	</tr>
	</table></td>
</tr>
</form>
</table>
<script>
imcmsGui("bottom", null);
imcmsGui("outer_end", null);
</script>

</body>
</html>
