<html>
<head>
<title>Lägg till/redigera användare</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language=JavaScript>
<!--

function evalPrepareAdd() {
  // Lets check that those fields which are mandatory 
	var valFieldsOk 
	valFielsOk = true

	if( document.UserInfo.login_name.value == "" ) valFieldsOk = false  	
	//if( document.UserInfo.password1.value == "" ) valFieldsOk = false  	
	//if( document.UserInfo.password2.value == "" ) valFieldsOk = false  	
	if( document.UserInfo.first_name.value == "" ) valFieldsOk = false  	
	if( document.UserInfo.last_name.value == "" ) valFieldsOk = false  	

	if(valFieldsOk == "") {
		var msg = "Du har inte fyllt i ett obligatoriskt fält! Fyll i alla obligatoriska fält"
		alert(msg)
		return false	
	}


	var userType 
	userType = document.UserInfo.user_type.selectedIndex 
	
// Lets check if the user has make a choice
	if(userType == "-1") {
		var msg = "Du har inte valt användartyp! Välj en användartyp "
		alert(msg)
		return false	
	}

	var userRole 
	userRole = document.UserInfo.roles.selectedIndex 
	if(userRole == "-1") {
		var msg = "Du har inte valt roll för användaren! Välj vilken/vilka roller "
		msg += "användaren skall ha."
		alert(msg)
		return false	
	}

	return true
}

//-->
</SCRIPT>
</head>

<body bgcolor="#FFFFFF">
<form method="post" action="#SERVLET_URL#AdminUserProps" name="UserInfo">
  <input type="hidden" name="CURR_USER_ID" value="#CURR_USER_ID#">
  <input type="hidden" name="adminTask" value="#ADMIN_TASK#">
  <table width="40%" border="0" cellspacing="0">
    <tr bgcolor="#333366"> 
      <td width="5%">&nbsp;</td>
      <td colspan="3"> 
        <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">L&auml;gg 
          till /redigera anv&auml;ndare</font></b></div>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td colspan="3"><font size="2"> <font face="Verdana, Arial, Helvetica, sans-serif">Observera 
        att samtliga f&auml;lt m&aring;ste vara ifyllda f&ouml;r att en anv&auml;ndare 
        skall kunna skapas! </font></font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Anv&auml;ndarnamn</font></td>
      <td width="4%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">*</font></td>
      <td width="66%"> <font size="2"> 
        <input type="text" name="login_name" size="25" value="#LOGIN_NAME#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">L&ouml;senord:</font></td>
      <td width="4%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">*</font></td>
      <td width="66%"> <font size="2"> 
        <input type="password" name="password1" size="25" value="#PWD1#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Verifiera 
        l&ouml;senord:</font></td>
      <td width="4%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">*</font></td>
      <td width="66%"> <font size="2"> 
        <input type="password" name="password2" size="25" value="#PWD2#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">F&ouml;rnamn:</font></td>
      <td width="4%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">*</font></td>
      <td width="66%"> <font size="2"> 
        <input type="text" name="first_name" size="25" value="#FIRST_NAME#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Efternamn:</font></td>
      <td width="4%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">*</font></td>
      <td width="66%"> <font size="2"> 
        <input type="text" name="last_name" size="25" value="#LAST_NAME#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Titel:</font></td>
      <td width="4%">&nbsp;</td>
      <td width="66%"><font size="2"> 
        <input type="text" name="title" size="25" value="#TITLE#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Arbetsplats:</font></td>
      <td width="4%">&nbsp;</td>
      <td width="66%"><font size="2"> 
        <input type="text" name="company" size="25" value="#COMPANY#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Gatuadress:</font></td>
      <td width="4%"><font size="2">&nbsp;</font></td>
      <td width="66%"> <font size="2"> 
        <input type="text" name="address" size="25" value="#ADDRESS#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Postnummer:</font></td>
      <td width="4%"><font size="2">&nbsp;</font></td>
      <td width="66%"> <font size="2"> 
        <input type="text" name="zip" size="25" value="#ZIP#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Postnummer 
        ort:</font></td>
      <td width="4%"><font size="2">&nbsp;</font></td>
      <td width="66%"> <font size="2"> 
        <input type="text" name="city" size="25" value="#CITY#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">L&auml;n:</font></td>
      <td width="4%"><font size="2">&nbsp;</font></td>
      <td width="66%"> <font size="2"> 
        <input type="text" name="country_council" size="25" value="#COUNTRY_COUNCIL#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Land:</font></td>
      <td width="4%"><font size="2">&nbsp;</font></td>
      <td width="66%"> <font size="2"> 
        <input type="text" name="country" size="25" value="#COUNTRY#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Email:</font></td>
      <td width="4%"><font size="2">&nbsp;</font></td>
      <td width="66%"> <font size="2"> 
        <input type="text" name="email" size="25" value="#EMAIL#">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa">
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Spr&aring;k:</font></td>
      <td width="4%">&nbsp;</td>
      <td width="66%"><font size="2"><font face="Verdana, Arial, Helvetica, sans-serif">
        <select name="lang_id" size="2">
           #LANG_TYPES#
		</select>
        </font></font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%">&nbsp;</td>
      <td width="4%">&nbsp;</td>
      <td width="66%"><font size="2"> </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font></td>
      <td width="20%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Telefonnummer:</font></td>
      <td width="4%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"></font></td>
      <td width="66%"><font size="2"> 
        <select name="user_phones" multiple size="1">
          #PHONES_MENU#
        </select>
        <input type="submit" name="edit_phones" value="Redigera">
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Aktiverad:</font></td>
      <td width="4%"><font size="2">&nbsp;</font></td>
      <td width="66%"> <font size="2"> 
        <input type="checkbox" name="active" value="#ACTIVE#" #ACTIVE_FLAG#>
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Inl&auml;ggningsdatum:</font></td>
      <td width="4%"><font size="2">&nbsp;</font></td>
      <td width="66%"> <font size="2"> <font face="Verdana, Arial, Helvetica, sans-serif">#USER_CREATE_DATE# 
        &nbsp;</font></font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Anv&auml;ndartyp: 
        </font></td>
      <td width="4%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">*</font></td>
      <td width="66%"><font size="2"><font face="Verdana, Arial, Helvetica, sans-serif"> 
        <select name="user_type">
           #USER_TYPES#
             
		</select>
        </font><font size="2"><font face="Verdana, Arial, Helvetica, sans-serif"> 
        <!--Anonyma anv&auml;ndare: Anv&auml;ndare som inte loggar in sig i systemet.<br--></font></font><font face="Verdana, Arial, Helvetica, sans-serif"> 
        </font></font><font size="2"> <font face="Verdana, Arial, Helvetica, sans-serif"> 
        Autentiserade anv&auml;ndare: Anv&auml;ndare som loggar in i systemet 
        med hj&auml;lp av sitt anv&auml;ndarnamn och l&ouml;senord. <br>
        </font></font><font size="2"><font face="Verdana, Arial, Helvetica, sans-serif">Konferensanv&auml;ndare: 
        Anv&auml;ndare som l&auml;gger in sig sj&auml;lva i systemet.</font></font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Roller: 
        </font></td>
      <td width="4%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">*</font></td>
      <td width="66%"> <font size="2"> 
        <select name="roles" multiple size="5">
          #ROLES_MENU#
        </select>
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="20%"><font size="2">&nbsp;</font> </td>
      <td width="4%"><font size="2">&nbsp;</font></td>
      <td width="66%"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif">* 
        Inneb&auml;r att f&auml;ltet &auml;r obligatoriskt </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td colspan="3"> 
        <p> 
          <input type="submit" name="SAVE_USER" value="Spara" onClick="if(evalPrepareAdd()==false)return false; return true;">
          <input type="reset" name="Reset" value="&Aring;terst&auml;ll">
          <input type="submit" name="GO_BACK" value="Avbryt">
        </p>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td colspan="3">&nbsp;</td>
      <td width="5%">&nbsp;</td>
    </tr>
  </table>
  </form>
<p>&nbsp; </p>
</body>
</html>
