<html>
<head>
<title><? templates/sv/AdminSystemMessage.htm/1 ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>

<body bgcolor="#FFFFFF">
<table width="60%" border="0" cellspacing="0">
  <tr bgcolor="#333366"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2"><? templates/sv/AdminSystemMessage.htm/2 ?></font></b></div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>

  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <div align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/3 ?></font></div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td colspan="2"> 
	  <div align="left"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/4 ?></font></div>
	</td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td colspan="2"> 
	  <form method="post" action="AdminSystemInfo">
		<table width="100%" border="0">
		  <tr> 
			<td width="32%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/5 ?></font></td>
			<td width="68%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#STARTDOCUMENT#</font></td>
		  </tr>
		  <tr> 
			<td width="32%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/7 ?></font></td>
			<td width="68%"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
			  <input type="text" name="STARTDOCUMENT" value="#STARTDOCUMENT#" maxlength="10" size="5">
  			  <input type="submit" name="SetStartDoc" value="<? templates/sv/AdminSystemMessage.htm/2001 ?>">
			  </font>
			</td>
		  </tr>
		</table>
		<font size="2"><br>
		</font> 
	  </form>
	</td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <hr>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <div align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/8 ?></font></div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td colspan="2"> 
	  <div align="left"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/9 ?></font>
	  </div>
	</td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td colspan="2"> 
	  <form method="post" action="AdminSystemInfo">
		<font size="2"> </font> 
		<table width="100%" border="0">
		  <tr> 
			<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/10 ?></font></td>
			<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#SYSTEM_MESSAGE#</font></td>
		  </tr>
		  <tr> 
			<td width="32%" height="8"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/12 ?></font></td>
			<td width="68%" height="8"> 
			  <textarea name="SYSTEM_MESSAGE" cols="40" rows="4">#SYSTEM_MESSAGE#</textarea>
			  <input type="submit" name="SetSystemMsg" value="<? templates/sv/AdminSystemMessage.htm/2002 ?>">
			</td>
		  </tr>
		</table>
		<font size="2"> </font> 
	  </form>
	</td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <hr>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <div align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/14 ?></font></div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td colspan="2"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/15 ?> 
	  </font></td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td colspan="2"> 
	  <form method="post" action="AdminSystemInfo">
		<table width="100%" border="0">
		  <tr> 
			<td width="32%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/16 ?></font></td>
			<td width="68%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#SERVER_MASTER#</font></td>
		  </tr>
		  <tr> 
			<td width="32%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/18 ?></font></td>
			<td width="68%"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
			  <input type="text" name="SERVER_MASTER" value="#SERVER_MASTER#" maxlength="80" size="40">
			  </font></td>
		  </tr>
		  <tr> 
			<td width="32%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/19 ?></font></td>
			<td width="68%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#SERVER_MASTER_EMAIL#</font></td>
		  </tr>
		  <tr> 
			<td width="32%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/21 ?></font></td>
			<td width="68%"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
			  <input type="text" name="SERVER_MASTER_EMAIL" value="#SERVER_MASTER_EMAIL#" maxlength="80" size="40">
			  <input type="submit" name="SetServerMasterInfo" value="<? templates/sv/AdminSystemMessage.htm/2003 ?>">
			  </font></td>
		  </tr>
		</table>
		<font size="2"><br>
		</font> 
	  </form>
	</td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <hr>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <div align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/22 ?></font></div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td colspan="2"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/23 ?> 
	  </font></td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <form method="post" action="AdminSystemInfo">
		<table width="100%" border="0">
		  <tr> 
			<td width="33%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/24 ?></font></td>
			<td width="67%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#WEB_MASTER#</font></td>
		  </tr>
		  <tr> 
			<td width="33%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/26 ?></font></td>
			<td width="67%"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
			  <input type="text" name="WEB_MASTER" value="#WEB_MASTER#" maxlength="80" size="40">
			  </font></td>
		  </tr>
		  <tr> 
			<td width="33%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/27 ?></font></td>
			<td width="67%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#WEB_MASTER_EMAIL#</font></td>
		  </tr>
		  <tr> 
			<td width="33%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminSystemMessage.htm/29 ?></font></td>
			<td width="67%"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
			  <input type="text" name="WEB_MASTER_EMAIL" value="#WEB_MASTER_EMAIL#" maxlength="80" size="40">
			  <input type="submit" name="SetWebMasterInfo" value="<? templates/sv/AdminSystemMessage.htm/2004 ?>">
			  </font></td>
		  </tr>
		</table>
		<br>
	  </form>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2"> 
	  <div align="center"> 
		<form method="get" action="AdminManager">
		  <div align="left"> 
			<input type="submit" name="submit" value="<? templates/sv/AdminSystemMessage.htm/2005 ?>">&nbsp; <a href="@documentationurl@/GetDoc?meta_id=35" target="_blank"><img src="@imcmsimageurl@/admin/btn_help_round.gif" width="19" height="21" border="0" alt="<? templates/sv/AdminSystemMessage.htm/2006 ?>"></a>
		  </div>
		</form>
	  </div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td colspan="2">&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
</table>
  </body>
</html>
