
<table width="62%" border="1">
  <tr> 
	<td width="18%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><? sv/AdminIpAccessList.htm/1 ?></font></td>
	<td width="22%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
	  <? sv/AdminIpAccessList.htm/2 ?> </font></td>
	<td width="20%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><? sv/AdminIpAccessList.htm/3 ?> </font></td>
	<td width="40%"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><? sv/AdminIpAccessList.htm/4 ?></font></td>
  </tr>
  <tr> 
	<td width="18%"> <font face="Arial, Helvetica, sans-serif" size="1"> 
	  <input type="HIDDEN" name="IP_ACCESS_ID_#RECORD_COUNTER#" value="#IP_ACCESS_ID#">
	  <input type="checkbox" name="EDIT_IP_ACCESS" value="#RECORD_COUNTER#">
	  </font></td>
	<td width="22%"> <font face="Arial, Helvetica, sans-serif" size="1"> 
	  <input type="HIDDEN" name="IP_USER_ID_#RECORD_COUNTER#" value="#USER_ID#">
	  <font face="Verdana, Arial, Helvetica, sans-serif">#LOGIN_NAME#</font></font></td>
	<td width="20%"> <font face="Arial, Helvetica, sans-serif" size="1"> 
	  <input type="text" name="IP_START_#RECORD_COUNTER#" value="#IP_START#" size="12" maxlength="15">
	  </font></td>
	<td width="40%"> <font face="Arial, Helvetica, sans-serif" size="1"> 
	  <input type="text" name="IP_END_#RECORD_COUNTER#" value="#IP_END#" size="12" maxlength="15">
	  </font></td>
  </tr>
</table>
  