<!--
Template: AdminUserResp.htm
-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<title>Lägg till/redigera användare</title>

<link rel="stylesheet" href="@imcmscssurl@/imcms_admin_ns.css" type="text/css">
<script src="@imcmsscripturl@/imcms_admin.js" type="text/javascript"></script>

<script language=javascript>
<!--
function evalPrepareAdd() {
	// Lets check that those fields which are mandatory
	var valFieldsOk = true;
	if( document.forms[0].login_name.value == "" ) valFieldsOk = false
	//if( document.forms[0].password1.value == "" ) valFieldsOk = false
	//if( document.forms[0].password2.value == "" ) valFieldsOk = false
	if( document.forms[0].first_name.value == "" ) valFieldsOk = false
	if( document.forms[0].last_name.value == "" ) valFieldsOk = false	
	
	if(!valFieldsOk) {
		var msg = "Du har inte fyllt i ett obligatoriskt fält! Fyll i alla obligatoriska fält"
		alert(msg)
		return false
	}
	
	if(document.forms[0].password1.value != document.forms[0].password2.value){
		var msg = "Obs! Verifieringen av lösenordet misslyckades!"
		document.forms[0].password1.value = "" 
		document.forms[0].password2.value = ""
		document.forms[0].password1.focus()
		alert(msg)		
		return false
	}
	var userType
	userType = document.forms[0].user_type.selectedIndex
	// Lets check if the user has make a choice
	if(userType == "-1") {
		var msg = "Du har inte valt användartyp! Välj en användartyp "
		alert(msg)
		return false
	}
	
	var userRole
	userRole = document.forms[0].roles.selectedIndex
	if(userRole == "-1") {
		var msg = "Du har inte valt roll för användaren! Välj vilken/vilka roller "
		msg += "användaren skall ha."
		alert(msg)
		return false
	}

	// ( only neded for ns4) 
	if ( document.forms[0].useradmin_roles ){
		var index = document.forms[0].useradmin_roles.selectedIndex;
		if ( index > -1 ){
			var list = document.forms[0].roles;
			for ( i = 0 ; i < list.length ; i++ ){
				if ( list.options[i].text == "Useradmin"  &&  !list.options[i].selected ){
					var msg = "Du har valt roller för useradmin utan att dela ut rollen 'Useradmin' !\n";
					msg += "Valda roller för Useradmin kommer EJ att sparas!"; 
					alert(msg); 
				}
			}
		}
	}

	return true
}

function openHelp(id){
	window.open("GetDoc?meta_id=" + id,"help","scrollbars=yes,width=650,height=570");
}


function activateUseradmin_roles(){
	if ( document.forms[0].useradmin_roles ){
		var list = document.forms[0].roles;
		document.forms[0].useradmin_roles.disabled = true;
		for ( i = 0 ; i < list.length ; i++ ){
			if ( list.options[i].text == "Useradmin"  && list.options[i].selected ){
				document.forms[0].useradmin_roles.disabled = false;
			}
		}
	}
}


//-->
</script>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(0,'login_name'); activateUseradmin_roles(); return true">


<script>
imcmsGui("outer_start", null);
imcmsGui("head", null);
</script>
<table border="0" cellspacing="0" cellpadding="0">
<form method="post" action="AdminUserProps">
<input type="HIDDEN" name="CURR_USER_ID" value="#CURR_USER_ID#">
<input type="HIDDEN" name="adminTask" value="#ADMIN_TASK#">
<input type="HIDDEN" name="phone_id" value="#PHONE_ID#">
<input type="HIDDEN" name="nextUrl" value="#NEXT_URL#">
<input type="HIDDEN" name="new_pwd1" value="#NEW_PWD1#">
<input type="HIDDEN" name="new_pwd2" value="#NEW_PWD2#">
<tr>
	<td><input type="submit" class="imcmsFormBtn" name="CANCEL" value="Tillbaka"></td>
</tr>
</table>
<script>
imcmsGui("mid", null);
</script>
<table border="0" cellspacing="0" cellpadding="0" width="660" align="center">
<tr> 
	<td colspan="2"><script>imcHeading("Lägg till / redigera användare",656);</script></td>
</tr>
<tr> 
	<td colspan="2" class="imcmsAdmText">
	Observera att samtliga obligatoriska fält måste vara ifyllda 
	för att en användare skall kunna skapas!</td>
</tr>
<tr> 
	<td colspan="2"><script>hr("100%",656,"cccccc");</script></td>
</tr>
<tr> 
	<td class="imcmsAdmText">Användarnamn <b class="red">*</b></td>
	<td><script>
writeFormField("TEXT","login_name",25,50,null,"#LOGIN_NAME#");
</script></td>
</tr>
<tr> 
	<td class="imcmsAdmText" nowrap>Lösenord <b class="red">*</b> <span class="imcmsAdmDim">(Max 15 tkn)</span> &nbsp;</td>
	<td> 
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><script>
writeFormField("PASSWORD","password1",16,15,null,"#PWD1#");
</script></td>
		<td class="imcmsAdmText" nowrap>&nbsp; Verifiera lösenord <b class="red">*</b> &nbsp;</td>
		<td><script>
writeFormField("PASSWORD","password2",16,15,null,"#PWD2#");
</script></td>
	</tr>
	</table></td>
</tr>
<tr> 
	<td class="imcmsAdmText">Förnamn <b class="red">*</b></td>
	<td><script>
writeFormField("TEXT","first_name",25,25,null,"#FIRST_NAME#");
</script></td>
</tr>
<tr> 
	<td class="imcmsAdmText">Efternamn <b class="red">*</b></td>
	<td><script>
writeFormField("TEXT","last_name",25,30,null,"#LAST_NAME#");
</script></td>
</tr>
<tr> 
	<td class="imcmsAdmText">Titel</td>
	<td><script>
writeFormField("TEXT","title",25,30,null,"#TITLE#");
</script></td>
</tr>
<tr> 
	<td class="imcmsAdmText">Arbetsplats</td>
	<td><script>
writeFormField("TEXT","company",25,30,null,"#COMPANY#");
</script></td>
</tr>
<tr> 
	<td class="imcmsAdmText">Gatuadress</td>
	<td><script>
writeFormField("TEXT","address",25,30,null,"#ADDRESS#");
</script></td>
</tr>
<tr> 
	<td class="imcmsAdmText">Postnummer / ort</td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><script>
writeFormField("TEXT","zip",7,30,null,"#ZIP#");
</script></td>
		<td>&nbsp;</td>
		<td><script>
writeFormField("TEXT","city",25,30,null,"#CITY#");
</script></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td class="imcmsAdmText">Län</td>
	<td><script>
writeFormField("TEXT","country_council",25,30,null,"#COUNTRY_COUNCIL#");
</script></td>
</tr>
<tr>
	<td class="imcmsAdmText">Land</td>
	<td><script>
writeFormField("TEXT","country",25,30,null,"#COUNTRY#");
</script></td>
</tr>
<tr>
	<td colspan="2"><script>hr("100%",656,"cccccc");</script></td>
</tr>
<tr> 
	<td class="imcmsAdmText">Telefonnummer</td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
	  <select name="phonetype" size="1" >
			#PHONETYPES_MENU#
	  </select></td>
		<td>&nbsp;</td>
		<td><script>
writeFormField("TEXT","local_code",16,25,null,"#NUMBER#");
</script></td>
		<td>&nbsp;</td>
		<td><input type="submit" class="imcmsFormBtnSmall" value="Lägg till" name="ok_phones"></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td class="imcmsAdmText">&nbsp;</td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
		<select size="1" name="user_phones">
		#PHONES_MENU#
		</select></td>
		<td>&nbsp;</td>
		<td><input type="submit" class="imcmsFormBtnSmall" name="edit_phones" value="Ändra"></td>
		<td>&nbsp;</td>
		<td><input type="submit" class="imcmsFormBtnSmall" name="delete_phones" value="Ta bort"></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td class="imcmsAdmText">Email</td>
	<td><script>
writeFormField("TEXT","email",50,50,null,"#EMAIL#");
</script></td>
</tr>
#ADMIN_PART#
<tr>
	<td colspan="2"><script>hr("100%",656,"blue");</script></td>
</tr>
<tr>
	<td colspan="2">
	<table border="0" cellspacing="0" cellpadding="0" width="656">
	<tr>
		<td class="imcmsAdmComment"><b class="red">*</b> Innebär att fältet är obligatoriskt</td>
		<td align="right">
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td><input type="submit" class="imcmsFormBtn" name="SAVE_USER" value="Spara" onClick="if( !evalPrepareAdd() ) return false;"></td>
			<td>&nbsp;</td>
			<td><input type="submit" class="imcmsFormBtn" name="RESET_FORM" value="Återställ"></td>
			<td>&nbsp;</td>
			<td><input type="submit" class="imcmsFormBtn" name="CANCEL" value="Avbryt"></td>
		</tr>
		</table></td>
	</tr>
	</table></td>
</tr>
</form>
</table>
<script>
imcmsGui("bottom", null);
imcmsGui("outer_end", null);
</script>

</body>
</html>

