<select name="AdminTask">
	  <option value="No_Choice" selected><? sv/AdminManager_adminTask_element.htm/1 ?></option>
		
	  <option value="UserStart">         <? sv/AdminManager_adminTask_element.htm/2 ?></option>
	  <option value="AdminRoles">        <? sv/AdminManager_adminTask_element.htm/11 ?></option>
	  <option value="IP-access">         <? sv/AdminManager_adminTask_element.htm/7 ?></option>
		
	  <option value="No_Choice">-------------------------------------</option>
		
	  <option value="ListDocs">          <? sv/AdminManager_adminTask_element.htm/6 ?></option>
	  <option value="MetaAdmin">         <? sv/AdminManager_adminTask_element.htm/16 ?></option>
	  <option value="DeleteDocs">        <? sv/AdminManager_adminTask_element.htm/15 ?></option>
		
	  <option value="No_Choice">-------------------------------------</option>
		
	  <option value="AddTemplates">      <? sv/AdminManager_adminTask_element.htm/10 ?></option>
	  <option value="FileAdmin">         <? sv/AdminManager_adminTask_element.htm/5 ?></option>
		
	  <option value="No_Choice">-------------------------------------</option>
		
	  <option value="UrlDocTest">        <? sv/AdminManager_adminTask_element.htm/9 ?></option>
	  <option value="AdminSection">      <? sv/AdminManager_adminTask_element.htm/3 ?></option>
	  <option value="CounterStart">      <? sv/AdminManager_adminTask_element.htm/12 ?></option>
	  <option value="SystemMessage">     <? sv/AdminManager_adminTask_element.htm/14 ?></option>
		
	  <option value="No_Choice">-------------------------------------</option>
		
	  <option value="AdminQuestions">    <? sv/AdminManager_adminTask_element.htm/4 ?></option>
	  <option value="AdminRandomTexts">  <? sv/AdminManager_adminTask_element.htm/13 ?></option>
	  <option value="AdminConference">   <? sv/AdminManager_adminTask_element.htm/8 ?></option>
</select>