<select name="AdminTask">
	  <option value="No_Choice" selected>-- V&auml;lj Administrat&ouml;rsfunktion --</option>
	  <option value="UserStart">         Anv&auml;ndare                             </option>
	  <option value="AdminSection">      Avdelningar                                </option>
	  <option value="AdminQuestions">    Enk&auml;ter                               </option>
	  <option value="FileAdmin">         Filhantering                               </option>
	  <option value="ListDocs">          F&ouml;r&auml;ndrade dokument              </option>
	  <option value="IP-access">         IP-accesser                                </option>
	  <option value="AdminConference">   Konferenser                                </option>
	  <option value="UrlDocTest">        Kontrollera internetl&auml;nkar            </option>
	  <option value="AddTemplates">      Mallar                                     </option>
	  <option value="AdminRoles">        Roller                                     </option>
	  <option value="CounterStart">      R&auml;knare                               </option>
	  <option value="AdminRandomTexts">  Slump/tidstyrd bild/text                   </option>
	  <option value="SystemMessage">     Systeminställningar                        </option>
	  <option value="DeleteDocs">        Ta bort ett dokument                       </option>
	  <option value="MetaAdmin">         Visa alla dokument                         </option>
</select>