<html>
<head>
<title>L&auml;gg till IP- Access</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<form method="post" action="#SERVLET_URL#AdminUserPhones" name="addPhone">
  <table width="40%" border="0" cellspacing="0">
    <tr bgcolor="#333366"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"> 
        <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">L&auml;gg 
          till nytt telefonnummer</font></b></div>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%">&nbsp; </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%">&nbsp;</td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%" height="23"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">1 
        Ange landskod, riktnummerkod, telefonnummer </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"> 
        <table width="100%" border="0">
          <tr> 
            <td>Landskod</td>
            <td>Riktnummer</td>
            <td>Telefonnummer</td>
          </tr>
          <tr> 
            <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
              <input type="text" name="country_code" size="4">
              </font></td>
            <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
              <input type="text" name="area_code" size="8">
              </font></td>
            <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
              <input type="text" name="local_code" size="25">
              </font></td>
          </tr>
        </table>
        <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%">&nbsp;</td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"> 
        <input type="submit" name="ADD_PHONE_NBR" value="Spara">
        <input type="submit" name="CANCEL_ADD_PHONE" value="Avbryt">
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%">&nbsp;</td>
      <td width="5%">&nbsp;</td>
    </tr>
  </table>
</form>
  </body>
</html>
