<html>
<head>
<title>Admin - L&auml;gga till nytt dokument</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<script language="javascript">
<!--
function openHelp(id){
	window.open("GetDoc?meta_id=" + id,"help","scrollbars=yes,width=650,height=570");
}
//-->
</script>

</head>
<body bgcolor="#FFFFFF">

<form method="POST" action="SaveMeta">
<input type="HIDDEN" name="doc_type" value="#doc_type#">
<input type="HIDDEN" name="doc_menu_no" value="#doc_menu_no#">
<input type="HIDDEN" name="meta_id" value="#meta_id#">
<input type="HIDDEN" name="description" size="30" value="" oldvalue="#description#">
<input type="HIDDEN" name="current_section_id" value="#current_section_id#">
<table width="750" border="0" cellspacing="0" bgcolor="#bababa" align="center">
<tr bgcolor="#333366">
	<td width="5%">&nbsp;</td>
	<td align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#ffffff"><b>&Auml;ndra dokinfo #checks#</b></font></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td colspan="3">&nbsp;</td>
</tr>
<tr>
	<td width="5%">&nbsp;</td>
	<td>
	<table border="0" cellspacing="0" cellpadding="2" width="100%">
	<tr> 
		<td width="90"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
		&nbsp;Rubrik<br><font size="1">&nbsp;(i&nbsp;meny)</font></font></td>
		<td><input type="TEXT" name="meta_headline" size="67" maxlength="255" value="#meta_headline#" style="width:100%"></td>
	</tr>
	<tr> 
		<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
		&nbsp;Text<br><font size="1">&nbsp;(i&nbsp;meny)</font></font></td>
		<td><textarea name="meta_text" cols="65" rows="3" maxlength="100" wrap="virtual" style="width:100%">
#meta_text#</textarea></td>
	<tr> 
		<td><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
		&nbsp;Bild<br><font size="1">&nbsp;(i&nbsp;meny)</font></font></td>
		<td><input type="TEXT" name="meta_image" size="67" value="#meta_image#" maxlength="255" style="width:100%"></td>
	</tr>
	<tr>
		<td colspan="2"><hr></td>
	</tr>
	<tr> 
		<td>&nbsp;</td>
		<td>
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td><input TYPE="SUBMIT" value=" OK " name="ok"></td>
			<td>&nbsp;</td>
			<td><input TYPE="RESET" value="Återställ" name="reset"></td>
			<td>&nbsp;</td>
			<td><input TYPE="BUTTON" value="Avbryt" name="abort" onClick="document.forms.abortForm.submit(); return false"></td>
			<td>&nbsp;</td>
			<td><a href="GetDoc?meta_id=39" target="_blank" onClick="openHelp('39'); return false;"><img src="@imcmsimageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a></td>
		</tr>
		</table></td>
	</tr>
	</table></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td colspan="3">&nbsp;</td>
</tr>
<tr>
	<td colspan="3" bgcolor="#ffffff">&nbsp;</td>
</tr>
<tr bgcolor="#333366">
	<td width="5%">&nbsp;</td>
	<td align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#ffffff">
	<b>Avancerat (&auml;ndra vid behov)</b></font></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td colspan="3">&nbsp;</td>
</tr>
<tr>
	<td width="5%">&nbsp;</td>
	<td>
	<table border="0" cellspacing="0" cellpadding="2" width="100%">
	<tr>
		<td width="90"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Skapad</font></td>
		<td><font size="2"><input type="TEXT" name="date_created" size="11" value="#date_created#" maxlength="10" >
		<font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;kl:</font>
		<input type="TEXT" name="created_time" size="7" maxlength="5" value="#created_time#"> av #owner#</font></td>
	</tr>
	<tr>
		<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;&Auml;ndrad</font></td>
		<td><font size="2"><input type="TEXT" name="date_modified" size="11" value="#date_modified#" maxlength="10" >
		<font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;kl:</font>
		<input type="TEXT" name="modified_time" size="7" maxlength="5" value="#modified_time#"></font></td>
	</tr>
	<tr>
		<td colspan="2"><hr></td>
	</tr>
	<tr> 
		<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;S&ouml;kord</font></td>
		<td><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
		<input type="TEXT" name="classification" size="67" value="#classification#" maxlength="200" style="width:100%">
		<font size="1">&nbsp;S&ouml;kord skall anges separerade med kommatecken. &nbsp;Ex:soppa, blomkål<br></font>
		<input type="CHECKBOX" name="disable_search" value="1" #disable_search#> Blockera s&ouml;kning</font></td>
	</tr>
	<tr>
		<td colspan="2"><hr></td>
	</tr>
	<tr> 
		<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Avdelning</font></td>
		<td> 		
		<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Nuvarande: #current_section_name# <br>
		Byt till:&nbsp; 
		<select name="change_section" size="1">
			<option value="-1">Ingen avdelning</option>			  
			#section_option_list#		
		</select></font>
		</td>
    </tr>
	<tr>
		<td colspan="2"><hr></td>
	</tr>
    <tr>
		<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Spr&aring;k</font></td>
        <td>
		<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Nuvarande: #current_language# <br>
		Byt till:&nbsp;
		<select name="lang_prefix" size="1">
		    #lang_prefix#
		</select></font>
		</td>
	</tr>
	<tr>
		<td colspan="2"><hr></td>
	</tr>
	<tr> 
		<td><font size="2"><font face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Dela ut</font></font></td>
		<td><font size="2">
		<input type="CHECKBOX" name="show_meta" value="1" #show_meta#>
		<font size="2" face="Verdana, Arial, Helvetica, sans-serif">Visa 
		dokumentet &auml;ven f&ouml;r obeh&ouml;riga anv&auml;ndare<br></font> 
		<input type="CHECKBOX" name="shared" value="1" #shared#>
		<font face="Verdana, Arial, Helvetica, sans-serif">
		Dela ut dokumentet f&ouml;r andra administrat&ouml;rer</font></font> </td>
	</tr>
	<tr>
		<td colspan="2"><hr></td>
	</tr>
	<tr> 
		<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Publicera</font></td>
		<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
		<input type="TEXT" name="activated_date" size="13" value="#activated_date#" maxlength="10" >
		<font size="1">(&Aring;&Aring;&Aring;&Aring;-MM-DD)</font>
		&nbsp;&nbsp;&nbsp;&nbsp;kl:
		<input type="TEXT" name="activated_time" size="7" maxlength="5" value="#activated_time#" >
		<font size="1">(HH:MM)</font></font></td>
	</tr>
	<tr> 
		<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Arkivera</font></td>
		<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
		<input type="TEXT" name="archived_date" size="13" maxlength="10" value="#archived_date#" >
		<font size="1">(&Aring;&Aring;&Aring;&Aring;-MM-DD)</font>
		&nbsp;&nbsp;&nbsp;&nbsp;kl:
		<input type="TEXT" name="archived_time" size="7" maxlength="5" value="#archived_time#">
		<font size="1">(HH:MM)</font>&nbsp; <input type="CHECKBOX" name="archive" value="1" #archive#> Arkivera nu</font></td>
	</tr>
	<tr>
		<td colspan="2"><hr></td>
	</tr>
	<tr> 
		<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">&nbsp;Visa i</font></td>
		<td nowrap><font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
		<input type="radio" name="target" style="background-color:#bababa" value="_self" #_self#> Samma frame
		<input type="radio" name="target" style="background-color:#bababa" value="_blank" #_blank#> Nytt f&ouml;nster
		<input type="radio" name="target" style="background-color:#bababa" value="_top" #_top#> Ers&auml;tt allt
		<input type="radio" name="target" style="background-color:#bababa" value="_other" #_other#> Annan frame
		<input type="TEXT" name="frame_name" size="15" value="#frame_name#" maxlength="20"></font></td>
	</tr>
	<tr>
		<td colspan="2"><hr></td>
	</tr>
	<tr> 
		<td><table border="0" cellspacing="0" cellpadding="0" width="90"><tr><td>&nbsp;</td></tr></table></td>
		<td>
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td><input TYPE="SUBMIT" value=" OK " name="ok"></td>
			<td>&nbsp;</td>
			<td><input TYPE="RESET" value="Återställ" name="reset"></td>
			<td></form><form name="abortForm" action="GetDoc"><input type="hidden" name="meta_id" value="#meta_id#">&nbsp;</td>
			<td><input TYPE="button" value="Avbryt" onClick="document.forms.abortForm.submit(); return false"></td>
			<td></form>&nbsp;</td>
			<td><a href="GetDoc?meta_id=39" target="_blank" onClick="openHelp('39'); return false;"><img src="@imcmsimageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a></td>
		</tr>
		</table></td>
	</tr>
	</table></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td colspan="3">&nbsp;</td>
</tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" align="center">
<tr> 
	<td>#adminMode#</td>
</tr>
</table>


</body>
</html>
