<HTML><HEAD><TITLE>Admin - l&auml;gg till dokument</TITLE></HEAD>
<BODY  bgcolor="#FFFFFF">
<FORM METHOD=POST ACTION="#servlet_url#SaveBrowserDoc" name="">
  <CENTER>
    <table border = 1 cellspacing="0" cellpadding="2" width="430" align="center">
	  <tr bgcolor="#333366" valign="middle"> 
		<td colspan="3" align="left"> &nbsp;<b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">V&auml;lj 
		  webbl&auml;sare / datormilj&ouml;</font></b></td>
	  </tr>
	  <tr bgcolor="#BABABA"> 
		<td valign="middle" align="left"> 
		  <div align="center">
			<center>
			  <p>
				<select name="new_browsers" size="7" multiple>
				#new_browsers#
                
		   		</select>
			  </p>
			  </center>
		  </div>
		</td>
		<td valign="middle" align="left"> 
		  <input type="submit" name="add_browsers" value="L&auml;gg till --&gt;">
		</td>
		<td valign="middle" align="left"> #browsers# </td>
	  </tr>
	  <tr bgcolor="#BABABA"> 
		<td colspan="3" valign="middle" align="left"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif"> 
		  <font size="1">Fyll i dokumentnummer f&ouml;r dokument som ska visas 
		  i resp milj&ouml;.</font></font> <br>
		  &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="1"> Ange 
		  alltid &ouml;vriga - visas i alla webbl&auml;sare som inte specificerats 
		  separat.</font> </td>
	  </tr>
	  #getDocType# 
	  <tr bgcolor="#BABABA"> 
		<td colspan="3" valign="middle" align="center"> 
		  <input type=submit value="Spara" name="ok">
		</td>
	  </tr>
	  <input type=HIDDEN name=meta_id value="#getMetaId#">
	  <INPUT TYPE=HIDDEN name=parent_meta_id value="#getParentMetaId#">
	</table>
	#adminMode#  
</CENTER>
</FORM>
</BODY></HTML>