<html>
<head>
<title>Redigera text</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<link rel="stylesheet" href="@imcmscssurl@/imcms_admin_ns.css" type="text/css">
<script src="@imcmsscripturl@/imcms_admin.js" type="text/javascript"></script>

<script language="JavaScript">
<!--
/* HTML-EDITOR - OPEN FUNCTION */

function openEditor(metaId,txtNr) {
	if(isIE55) {
		var sLabel = document.getElementById("theLabel").innerText;
		sLabel = sLabel.replace(/^\s*(.*)\s*$/g, "$1");
		var sUrl = "/htmleditor/editor.html?meta_id=" + metaId + "&txt=" + txtNr + "&label=" + sLabel;
		var iWidth = 680;
		var iHeight = 495;
		var sMenu = 0;
		var sScroll = 0;
		var sStatus = 0;
		var window_width = iWidth;
		var window_height = iHeight;
		if(screen.height < 700){
			var window_top = 0;
			var window_left = (screen.width-window_width)/2;
		} else {
			var window_top = (screen.height-window_height)/2;
			var window_left = (screen.width-window_width)/2;
		}
		sUrl = (location.search.indexOf("admin") != -1) ? sUrl + "?admin=1" : sUrl;
		var popWindow = window.open(sUrl,"Editor","resizable=no,menubar=" + sMenu + ",scrollbars=" + sScroll + ",status=" + sStatus + ",width=" + window_width + ",height=" + window_height + ",top=" + window_top + ",left=" + window_left + ",location=0,directories=0");
		if (popWindow) popWindow.focus();
	} else {
		var sMess = "Du måste ha ";
		sMess += (isMac) ? "Windows och " : "";
		sMess += "Internet Explorer 5.5+ för att kunna använda Text-editorn.";
		alert(sMess);
	}
}

function openLinkEditor() {
	popWinOpen(450,395,"@imcmshtmlurl@/link_editor.html","linkEditorWin",1,0) ;
}
//-->
</script>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(0,'text'); checkMode();">

<script>
imcmsGui("outer_start", null);
imcmsGui("head", null);
</script>
<table border="0" cellspacing="0" cellpadding="0">
<form method="POST" action="SaveText">
<input type="hidden" name="meta_id"  value="#meta_id#">
<input type="hidden" name="txt_no"   value="#txt_no#">
<input type="hidden" name="type"     value="#type#">
<tr>
	<td><input type="SUBMIT" value="Tillbaka" name="cancel" class="imcmsFormBtn"></td>
	<td>&nbsp;</td>
	<td><input type="button" value="Text-editor" title="Öppna Text-editorn." name="editorBtn" class="imcmsFormBtn" onClick="openEditor('#meta_id#','#txt_no#')"></td>
</tr>
</table>
<script>
imcmsGui("mid", null);
</script>
<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<tr>
	<td colspan="2"><script>imcHeading("Redigera text #txt_no# på sida #meta_id#","656");</script><div id="theLabel" class="imcmsAdmText"><i>#label#</i></div></td>
</tr>
<tr>
	<td colspan="2" class="imcmsAdmForm"><script>
writeFormField("TEXTAREA","text\" id=\"txtCont",125,18,"100%",null);
</script>
#txt#</textarea></td>
</tr>
<tr>
	<td colspan="2">
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td>
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td class="imcmsAdmText">&nbsp;Format:&nbsp;</td>
			<td><input type="RADIO" name="format_type"  value="0" onClick="checkMode()" onChange="checkMode()" #!html#></td>
			<td class="imcmsAdmText">&nbsp;Vanlig text&nbsp;&nbsp;</td>
			<td><input type="RADIO" name="format_type"  value="1" onClick="checkMode()" onChange="checkMode()" #html#></td>
			<td class="imcmsAdmText">&nbsp;HTML</td>
		</tr>
		</table></td>
		<td align="right">
		<input type="SUBMIT" value="  Spara  " name="ok" class="imcmsFormBtn">
		<input type="RESET" value="Återställ" class="imcmsFormBtn">
		<input type="SUBMIT" value=" Avbryt " name="cancel" class="imcmsFormBtn"></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td colspan="2">&nbsp;<br><script>imcHeading("Övriga funktioner <span class=\"imcmsAdmDim\">(Gäller HTML-format)</span>",656);</script></td>
</tr>
<tr>
	<td class="imcmsAdmText">Byt ut radbrytningar mot &lt;BR&gt;</td>
	<td align="right"><input type="button" value="Koda radbrytningar" name="replaceBreakBtn" onclick="replaceBreaks();" width="120" style="width:120" class="imcmsFormBtnSmall"></td>
</tr>
<tr>
	<td class="imcmsAdmText">Skapa en länk med länk-editorn</td>
	<td align="right"><input type="button" value="Skapa länk" name="createLinkBtn" onclick="openLinkEditor();" width="120" style="width:120" class="imcmsFormBtnSmall"></td>
</tr>
</form>
</table>
<script>
imcmsGui("bottom", null);
imcmsGui("outer_end", null);
</script>




<script language="javascript">
<!--
if (isMoz) {
	document.getElementById("txtCont").style.width    = 656;
	document.getElementById("txtCont").style.overflow = "auto";
}

function checkMode() {
	var f = document.forms[0] ;
	var elFormatRadio = (f.format_type) ? f.format_type : f.type ;
	if (elFormatRadio) {
		var replaceBreakBtn = f.replaceBreakBtn ;
		var createLinkBtn   = f.createLinkBtn ;
		if (elFormatRadio[1].checked) { // HTML
			replaceBreakBtn.disabled = 0 ;
			createLinkBtn.disabled   = 0 ;
		} else { // Text
			replaceBreakBtn.disabled = 1 ;
			createLinkBtn.disabled   = 1 ;
		}
	}
}

function replaceBreaks() {
	var f = document.forms[0];
	var theText = f.text.value;
	if (!(f.format_type[1].checked == 1)) {
		if(confirm("Du måste välja HTML läge för att\nlägga in \"Break-taggar\" i texten!\n\nVill du göra detta nu?")){
			f.format_type[1].checked = 1;
			doReplaceBreaks();
		}
	} else {
		doReplaceBreaks();
	}
}

function doReplaceBreaks() {
	var f = document.forms[0];
	var theText = f.text.value;
	var tempText = theText.toUpperCase();
	var reFr = (isMoz && !isIE) ? /\n/g : /\r/g;
	var reTo = (isMoz && !isIE) ? "<BR>\n" : "<BR>\r";
	if (tempText.indexOf("<BR>") < 0) {
		theText = theText.replace(reFr,reTo);
		f.text.value = theText;
	} else {
		if (confirm("Du har redan \"<BR>\" i texten!\nRadbrytningar kommer att läggas in\noberoende av dessa, vid varje radslut.\n\nVill du göra det?")) {
			theText = theText.replace(reFr,reTo);
			f.text.value = theText;
		}
	}
}
//-->
</script>
</body>
</html>
