<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<title>Välj webläsare för browserkontroll</title>

<link rel="stylesheet" href="@rooturl@/imcms/css/imcms_admin_ns.css" type="text/css">
<script src="@rooturl@/imcms/scripts/imcms_admin.js" type="text/javascript"></script>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(1,'new_browsers')">

<script>
imcmsGui("outer_start", null);
imcmsGui("head", null);
</script>
<table border="0" cellspacing="0" cellpadding="0">
<form action="BackDoc">
<tr>
	<td><input type="submit" class="imcmsFormBtn" value="Tillbaka"></td>
</tr>
</form>
</table>
<script>
imcmsGui("mid", null);
</script>
<table border="0" cellspacing="0" cellpadding="2" width="660">
<form method="POST" action="SaveBrowserDoc">
<input type="HIDDEN" name="meta_id" value="#getMetaId#">
<input type="HIDDEN" name="parent_meta_id" value="#getParentMetaId#">
<tr> 
	<td colspan="3"><script>imcHeading("Välj webbläsare / datormiljö",656);</script></td>
</tr>
<tr> 
	<td align="right">
	<select name="new_browsers" size="7" multiple>
		#new_browsers#
	</select></td>
	<td align="center"><input type="submit" class="imcmsFormBtnSmall" name="add_browsers" value="Lägg till &gt;&gt;"></td>
	<td>#browsers#</td>
</tr>
<tr> 
	<td colspan="3">Fyll i dokumentnummer för dokument som ska visas i resp miljö.<br>
	Ange alltid övriga - visas i alla webbläsare som inte specificerats separat. </td>
</tr>
#getDocType#
<tr> 
	<td colspan="3"><script>hr("100%",656,"blue");</script></td>
</tr>
<tr> 
	<td colspan="3" align="right">
	<input type="submit" class="imcmsFormBtn" value="Spara" name="ok">
	<input type="button" class="imcmsFormBtn" value="Avbryt" name="abort" onClick="top.location = 'BackDoc'; return false"></td>
</tr>
</form>
</table>
<script>
imcmsGui("bottom", null);
imcmsGui("outer_end", null);
</script>

<script language="JavaScript">
<!--
var el = eval("document.forms[1].elements");
if (el) {
	for (var i = 0; i < el.length; i++) {
		if (el[i].type.toUpperCase() == "TEXT" && el[i].name.indexOf("bid") != -1) el[i].size = 5;
	}
}
//-->
</script>

<div align="center">#adminMode#</div>  

</body>
</html>
