<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<title><? sv/change_browser_doc.html/1 ?></title>

<link rel="stylesheet" href="@imcmscssurl@/imcms_admin_ns.css" type="text/css">
<script src="@imcmsscripturl@/imcms_admin.js" type="text/javascript"></script>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(1,'new_browsers')">

<script>
<? sv/change_browser_doc.html/2 ?>
</script>
<table border="0" cellspacing="0" cellpadding="0">
<form action="BackDoc">
<tr>
	<td><input type="submit" class="imcmsFormBtn" value="Tillbaka"></td>
	<td>&nbsp;</td>
    <td><input type="button" value="Hjälp" title="Öppna hjälpsidan" class="imcmsFormBtn" onClick="openHelpW(46)"></td>
</tr>
</form>
</table>
<script>
<? sv/change_browser_doc.html/3 ?>
</script>
<table border="0" cellspacing="0" cellpadding="2" width="660">
<form method="POST" action="SaveBrowserDoc">
<input type="HIDDEN" name="meta_id" value="#getMetaId#">
<input type="HIDDEN" name="parent_meta_id" value="#getParentMetaId#">
<tr> 
	<td colspan="3"><script><? sv/change_browser_doc.html/4 ?></script></td>
</tr>
<tr> 
	<td align="right">
	<select name="new_browsers" size="7" multiple>
		<? sv/change_browser_doc.html/5 ?>
	</select></td>
	<td align="center"><input type="submit" class="imcmsFormBtnSmall" name="add_browsers" value="Lägg till &gt;&gt;"></td>
	<td><? sv/change_browser_doc.html/6 ?></td>
</tr>
<tr> 
	<td colspan="3"><? sv/change_browser_doc.html/7 ?> </td>
</tr>
<? sv/change_browser_doc.html/8 ?>
<tr> 
	<td colspan="3"><script><? sv/change_browser_doc.html/9 ?></script></td>
</tr>
<tr> 
	<td colspan="3" align="right">
	<input type="submit" class="imcmsFormBtn" value="Spara" name="ok">
	<input type="button" class="imcmsFormBtn" value="Avbryt" name="abort" onClick="top.location = 'BackDoc'; return false"></td>
</tr>
<input TYPE="hidden" NAME="meta_id" value="#getMetaId#">
<input TYPE="hidden" name="parent_meta_id" value="#getParentMetaId#">
</form>
</table>
<script>
<? sv/change_browser_doc.html/10 ?>
</script>

<script language="JavaScript">
<!--
var el = eval("document.forms[1].elements");
if (el) {
	for (var i = 0; i < el.length; i++) {
		if (el[i].type.toUpperCase() == "TEXT" && el[i].name.indexOf("bid") != -1) el[i].size = 5;
	}
}
//-->
</script>

<div align="center"><? sv/change_browser_doc.html/11 ?></div>  

</body>
</html>