<html>
<head>
<title><? sv/change_img.html/1 ?></title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<link rel="stylesheet" href="@imcmscssurl@/imcms_admin_ns.css" type="text/css">
<script src="@imcmsscripturl@/imcms_admin.js" type="text/javascript"></script>

<script language="JavaScript">
<!--
var re     = /[a-z0-9\(\)\[\]_-]/i ; // ImageName check
var reInfo = "a-z A-Z 0-9 ( ) [ ] _ -" ; // For alertBox

function doClear(){
	var f = document.forms.imgProp;
	f.imageref.value            = "";
	f.image_name.value          = "";
	f.image_width.value         = "";
	f.image_height.value        = "";
	f.image_border.value        = "";
	f.keepAspectRatio.checked   = 1;
	f.image_align.selectedIndex = 0;
	f.alt_text.value            = "";
	f.low_scr.value             = "";
	f.v_space.value             = "";
	f.h_space.value             = "";
	f.imageref_link.value       = "";
	f.target.selectedIndex      = 0;
	f.target_name.value         = "";
	if (isMoz) document.getElementById("imgTable").style.display = "none";
}

function setDef() {
	var f = document.forms.imgProp;
	if (!isNS && f.imageref.value == "") f.image_align.selectedIndex = 0;
}

function checkFileName() {
	var f = document.forms.ImageUploadForm ;
	var thePath = f.file.value ;
	var theFile = thePath;
	var isValid = true ;
    theFile = theFile.substring(theFile.lastIndexOf("/") + 1) ;
	theFile = theFile.substring(theFile.lastIndexOf("\\") + 1) ;
	theFile = theFile.substring(0, theFile.lastIndexOf(".")) ;
	theFile = unescape(theFile) ;
	for (var i = 0; i < theFile.length; i++) {
		if (!re.test(theFile.charAt(i).toString())) {
			isValid = false ;
		}
	}
	if (theFile == "") {
		alert("Du har inte valt någon bild!") ;
		return false;
	} else if (!isValid) {
		var str = "Du får inte ha mellanslag, svenska bokstäver\neller konstiga tecken i filnamnet!\nBilden kommer då inte synas i alla webläsare.\n\nDu får bara använda dessa tecken i filnamnet:\n" + reInfo + "\n\nByt namn på bilden innan du lägger upp den." ;
		alert(str);
		return false;
	} else {
		return true;
	}
}
//-->
</script>

<!-- script src="/javascript/imcms.js" type="text/javascript"></script -->

</head>
<body bgcolor="#FFFFFF" onLoad="focusField('ImageUploadForm','file'); setDef();"
>
<!-- 
<body bgcolor="#FFFFFF" onLoad="focusField('ImageUpload','file'); setDef(); openImageHelp();" onUnLoad="closeImageHelp();">
 -->
<script>
<? sv/change_img.html/2 ?>
</script>
<table border="0" cellspacing="0" cellpadding="0">
<tr>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<form name="backForm" action="AdminDoc">
	<input type="hidden" name="meta_id" value="#getMetaId#">
	<input type="hidden" name="flags" value="131072">
	<tr>
		<td><input type="submit" class="imcmsFormBtn" value="Tillbaka"></td>
	    <td>&nbsp;</td>
        <td><input type="button" value="Hjälp" title="Öppna hjälpsidan" class="imcmsFormBtn" onClick="openHelpW(72)"></td>

	</tr>
	</form>
	</table></td>
	<td>&nbsp;</td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<form name="imgbr" method="get" action="ImageBrowse">
	<input type="hidden" name="meta_id" value="#getMetaId#">
	<input type="hidden" name="img_no" value="#img_no#">
	<input type="hidden" name="label" value="#label#">
	<tr>
		<td><input type="submit" class="imcmsFormBtn" value="Välj från bildarkiv"></td>
	</tr>
	</form>
	</table></td>
</tr>
</table>
<script>
<? sv/change_img.html/3 ?>
</script>
<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form name="ImageUploadForm" action="ImageUpload" enctype="multipart/form-data" method="POST" onSubmit="return (checkFileName()); return false">
<input type="HIDDEN" name="meta_id" value="#getMetaId#">
<input type="HIDDEN" name="img_no" value="#img_no#">
<input type="hidden" name="label" value="#label#">
<tr>
	<td colspan="2"><script><? sv/change_img.html/4 ?></script></td>
</tr>
<tr>
	<td><? sv/change_img.html/5 ?></td>
	<td><script>
<? sv/change_img.html/6 ?>
</script></td>
</tr>
<tr>
	<td><? sv/change_img.html/7 ?></td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td>
		<select name="folder" size="1">
			<? sv/change_img.html/8 ?>
		</select></td>
		<td align="right"><input type="submit" class="imcmsFormBtnSmall" name="ok" value="Ladda upp" style="width:110"></td>
	</tr>
	</table></td>
</tr>
</form>
<form name="imgProp" method="POST" action="SaveImage">
<input type="HIDDEN" name="meta_id" value="#getMetaId#">
<input type="HIDDEN" name="img_no" value="#img_no#">
<input type="HIDDEN" name="origW" value="#origW#">
<input type="HIDDEN" name="origH" value="#origH#">
<input type="HIDDEN" name="oldW" value="#imgWidth#">
<input type="HIDDEN" name="oldH" value="#imgHeight#">
<input type="hidden" name="label" value="#label#">
<tr>
	<td colspan="2">&nbsp;<br>
	<script><? sv/change_img.html/9 ?></script><div id="theLabel" class="imcmsAdmText"><? sv/change_img.html/10 ?></div></td>
</tr>
<tr>
	<td colspan="2">
<script language="JavaScript">
<? sv/change_img.html/11 ?>
</script></td>
</tr>
<tr>
	<td nowrap><? sv/change_img.html/12 ?></td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td><script>
<? sv/change_img.html/13 ?>
</script></td>
		<td align="right"><input type="SUBMIT" class="imcmsFormBtnSmall" name="show_img" value="Förhandsgranska" style="width:110"></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td nowrap><? sv/change_img.html/14 ?></td>
	<td><script>
<? sv/change_img.html/15 ?>
</script></td>
</tr>
<tr>
	<td nowrap><? sv/change_img.html/16 ?></td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><? sv/change_img.html/17 ?></td>
		<td>&nbsp;</td>
		<td><? sv/change_img.html/18 ?></td>
		<td>&nbsp;</td>
		<td><? sv/change_img.html/19 ?></td>
		<td colspan="3">&nbsp;</td>
	<tr>
		<td height="20">&nbsp;#origW#</td>
		<td>&nbsp;X&nbsp;</td>
		<td>&nbsp;#origH#</td>
		<td>&nbsp;</td>
		<td>&nbsp;#imgBorder#</td>
		<td>&nbsp;</td>
		<td colspan="2"><? sv/change_img.html/20 ?></td>
	</tr>
	<tr>
		<td><script>
<? sv/change_img.html/21 ?>
</script></td>
		<td>&nbsp;X&nbsp;</td>
		<td><script>
<? sv/change_img.html/22 ?>
</script></td>
		<td>&nbsp;</td>
		<td><script>
<? sv/change_img.html/23 ?>
</script></td>
		<td>&nbsp;</td>
		<td><input type="checkbox" name="keepAspectRatio" value="yes" #keep_aspect#></td>
		<td> <? sv/change_img.html/24 ?></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td nowrap><? sv/change_img.html/25 ?></td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><script>
<? sv/change_img.html/26 ?>
</script></td>
		<td>&nbsp;</td>
		<td><? sv/change_img.html/27 ?></td>
		<td>&nbsp; &nbsp;</td>
		<td><script>
<? sv/change_img.html/28 ?>
</script></td>
		<td>&nbsp;</td>
		<td><? sv/change_img.html/29 ?></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td nowrap><? sv/change_img.html/30 ?></td>
	<td>
	<select name="image_align" size="1">
		<option value="none" #none_selected#><? sv/change_img.html/31 ?>
		<option value="baseline" #baseline_selected#><? sv/change_img.html/32 ?>
		<option value="top" #top_selected#><? sv/change_img.html/33 ?>
		<option value="middle" #middle_selected#><? sv/change_img.html/34 ?>
		<option value="bottom" #bottom_selected#><? sv/change_img.html/35 ?>
		<option value="texttop" #texttop_selected#><? sv/change_img.html/36 ?>
		<option value="absmiddle" #absmiddle_selected#><? sv/change_img.html/37 ?>
		<option value="absbottom" #absbottom_selected#><? sv/change_img.html/38 ?>
		<option value="left" #left_selected#><? sv/change_img.html/39 ?>
		<option value="right" #right_selected#><? sv/change_img.html/40 ?>
	</select></td>
</tr>
<tr>
	<td nowrap><? sv/change_img.html/41 ?></td>
	<td><script>
<? sv/change_img.html/42 ?>
</script></td>
</tr>
<tr>
	<td colspan="2">&nbsp;<br><script><? sv/change_img.html/43 ?></script></td>
</tr>
<tr>
	<td nowrap><? sv/change_img.html/44 ?></td>
	<td><script>
<? sv/change_img.html/45 ?>
</script></td>
</tr>
<tr>
	<td nowrap><? sv/change_img.html/46 ?></td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
		<select name="target" size="1" onChange="document.forms.imgProp.target_name.value = document.forms.imgProp.target.options[document.forms.imgProp.target.selectedIndex].value">
			<option value="_top" #top_checked#><? sv/change_img.html/47 ?>
			<option value="_blank" #blank_checked#><? sv/change_img.html/48 ?>
			<option value="_parent" #parent_checked#><? sv/change_img.html/49 ?>
			<option value="_self" #self_checked#><? sv/change_img.html/50 ?>
			<option value="_other" #other_checked#><? sv/change_img.html/51 ?> 
		</select></td>
		<td>&nbsp;&nbsp;</td>
		<td><script>
<? sv/change_img.html/52 ?>
</script></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td colspan="2"><script><? sv/change_img.html/53 ?></script></td>
</tr>
<tr>
	<td colspan="2" align="right">
	<input type="SUBMIT" class="imcmsFormBtn" name="ok" value="  Spara  ">
	<input type="SUBMIT" class="imcmsFormBtn" name="cancel" value=" Avbryt ">
	<input type="button" class="imcmsFormBtn" name="Rensa" value="  Rensa  " onClick="doClear();"></td>
</tr>
<tr>
	<td><img src="@imcmsimageurllang@/admin/1x1.gif" width="156" height="1"></td>
	<td><img src="@imcmsimageurllang@/admin/1x1.gif" width="1" height="1"></td>
</tr>
<input type="hidden" name="low_scr" value="#imgLowScr#">
</form>
</table>
<script>
<? sv/change_img.html/54 ?>
</script>

</body>
</html>
