<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language=JavaScript>
<!--
function openHelp(id){
	window.open("GetDoc?meta_id=" + id,"help","scrollbars=yes,width=650,height=570");
}
//-->
</SCRIPT>

</head>

<body bgcolor="#FFFFFF">
<form METHOD="POST" action="SaveUrlDoc">
  <BR><BR><div align="center">
    <table 0 cellspacing="0" width="450" cellpadding="2" align="center" border="1">
	  <tr bgcolor="#333366" > 
		<td width="84%" valign="middle" height="14"><B><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">&nbsp;&Auml;ndra 
		  URL</font></B></td>
	  </tr>
	  <tr bgcolor="#333366" > 
		<td width="84%" valign="middle" height="14"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">&nbsp;MetaId&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#getMetaId#</font></td>
	  </tr>
	  <tr  bgcolor="#A1A1A1"> 
		<td width="84%" valign="middle" height=28 bgcolor="#BABABA" align="left"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;Url 
		  </font>&nbsp;&nbsp;&nbsp; 
		  <input type="TEXT" name="url_ref" value="#url_doc_ref#" SIZE="60" MAXLENGTH="255">
		</td>
	  </tr>
	  <TR bgcolor="#A1A1DE">
		<TD width="84%" bgcolor="#BABABA" valign="middle" align="center">&nbsp;<font size="2"> 
		  <input type="radio" name="target" value="_self" #_self#>
		  </font><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Samma 
		  frame</font><font size="2"> 
		  <input type="radio" name="target" value="_blank" #_blank#>
		  <font face="Verdana, Arial, Helvetica, sans-serif">Nytt f&ouml;nster</font> 
		  <font size="2"> 
		  <input type="radio" name="target" value="_top" #_top#>
		  </font><font face="Verdana, Arial, Helvetica, sans-serif">Ers&auml;tt 
		  allt</font><font face="Verdana, Arial, Helvetica, sans-serif"><br>
		  &nbsp;</font><font size="2"> 
		  <input type="radio" name="target" value="_other" #_other#>
		  </font><font face="Verdana, Arial, Helvetica, sans-serif">Annan frame:</font> 
		  <input TYPE="TEXT" name="frame_name" SIZE="20" value="#frame_name#">
		  </font></TD>
	  </TR>
	  <div align="center"> 
		<TR bgcolor="#A1A1DE"> 
		  <TD width="84%" bgcolor="#BABABA" valign="middle" align="center"> 
			<INPUT TYPE="SUBMIT" VALUE="Spara" NAME="ok">&nbsp; <a href="GetDoc?meta_id=82" target="_blank" onClick="openHelp('82'); return false;"><img src="@imageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
		  </TD>
		</TR>
		<INPUT TYPE="HIDDEN" NAME="meta_id" VALUE="#getMetaId#">
		<INPUT TYPE="HIDDEN" name="parent_meta_id" VALUE="#getParentMetaId#">
	  </div>
	</table>
      
      #adminMode#
    </div>
  
  
</form>
</body>
</html>