<HTML>
<HEAD>
<TITLE>Admin</TITLE>
<style type="text/css">
<!--
.hide {  visibility: HIDDEN; }
.show {  visibility: visible; }
-->
</style>
</HEAD>
<BODY  bgcolor="#FFFFFF"><H3>
  <FORM METHOD="POST" ACTION="SaveText" name="">
    <TABLE width="430" align="center" cellpadding="2" cellspacing="0" border="1">
      <CENTER>
        <TR bgcolor="#333366" > 
          <TD align="left"><B><font face="Verdana, Arial, Helvetica, sans-serif" size="3" color="#FFFFFF">&nbsp;<font size="2">Ändra 
            Text</font>&nbsp;</font><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">&nbsp;&nbsp;&nbsp;</font></B><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Txt#txt_no#</font></TD>
</TR>
        <TR bgcolor="#333366"> 
          <TD><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">&nbsp;MetaId&nbsp;&nbsp;&nbsp;&nbsp;#meta_id#</font></TD>
        </TR>
        <TR > 
          <TD bgcolor="#BABABA"> 
            <textarea name=text cols="70" rows=15 wrap="VIRTUAL">
#txt#</textarea>
          </TD>
        </TR>
        <TR> 
          <TD valign="middle" align="left" bgcolor="#BABABA"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;Format:&nbsp;&nbsp;&nbsp;&nbsp;</font> 
            <INPUT type="RADIO" NAME="type"  VALUE="0" #!html#><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Vanlig text</font>&nbsp;&nbsp; 
            <INPUT type="RADIO" NAME="type"  VALUE="1" #html#><font face="Verdana, Arial, Helvetica, sans-serif" size="2">HTML</font></TD>
        </TR>
        <TR> 
          <TD valign="middle" align="center" bgcolor="#BABABA"> 
	    <table border="0">
		<tr>
		    <td>
	                <INPUT TYPE="SUBMIT" VALUE="OK" NAME="ok">
		    </td>
		    <td>
		        <INPUT TYPE="RESET" VALUE="&Aring;terst&auml;ll">
		    </td>
		    <td>
	                <INPUT TYPE="SUBMIT" VALUE="Avbryt" NAME="cancel">
		    </td>
		    <td>
	                <div id="three" style="visibility:HIDDEN"> 
	        	    <input type="button" name="rensa" value="Rensa" onClick="document.forms[0].text.value="""><a href="javascript:openHelp('36');">&nbsp;<img src="@imageurl@/se/helpimages/btn_help_round_white-bg.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
	                </div>
		    </td>
		</tr>
	    </table>
          </TD>
        </TR>
      </CENTER>
    </TABLE>
    <INPUT TYPE="HIDDEN" NAME="meta_id" VALUE="#meta_id#">
    <INPUT TYPE="HIDDEN" NAME="txt_no" VALUE="#txt_no#">
</FORM>
</H3>
<SCRIPT language=JavaScript>
<!--
function openHelp(id){
	window.open("GetDoc?meta_id=" + id,"help","scrollbars=yes,width=650,height=570");
}
//-->
</SCRIPT>
<!-- Focuses on textfield if browser supports javascript -->
<script language="JavaScript">
<!--
document.forms[0].text.focus();
if (document.all) document.all.three.style.visibility = "visible";
//-->
</script>
</BODY></HTML>
