<html>
<head>
<title>Admin - L&auml;gga till nytt dokument</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language=JavaScript>
<!--
function openHelp(id){
	window.open("GetDoc?meta_id=" + id,"help","scrollbars=yes,width=650,height=570");
}
//-->
</SCRIPT>

</head>
<body bgcolor="#FFFFFF">

<FORM METHOD="POST" ACTION="SaveMeta">
<input TYPE="HIDDEN" name="doc_type" value="#doc_type#">
<input TYPE="HIDDEN" name="doc_menu_no" value="#doc_menu_no#">
<input TYPE="HIDDEN" NAME="meta_id" value="#meta_id#">
<input TYPE="HIDDEN" name="description" SIZE="30" value="" oldvalue="#description#">
<table width="750" border="0" cellspacing="0" bgcolor="#bababa" align="center">
<tr bgcolor="#333366">
	<td width="5%">&nbsp;</td>
	<td align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#ffffff"><b>&Auml;ndra dokinfo #checks#</b></font></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td colspan="3">&nbsp;</td>
</tr>
<tr>
	<td width="5%">&nbsp;</td>
	<td>
	<table border="0" cellspacing="0" cellpadding="2" width="100%">
	<tr> 
		<td width="90"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
		&nbsp;Rubrik<br><font size="1">&nbsp;(i&nbsp;meny)</font></font></td>
		<td><input TYPE="TEXT" name="meta_headline" SIZE="65" maxlength="255" value="#meta_headline#" style="width:100%"></td>
	</tr>
	<tr> 
		<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
		&nbsp;Text<br><font size="1">&nbsp;(i&nbsp;meny)</font></font></td>
		<td><textarea name="meta_text" cols="64" rows="3" maxlength="100" wrap="virtual" style="width:100%">
#meta_text#</textarea></td>
	<tr> 
		<td><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
		&nbsp;Bild<br><font size="1">&nbsp;(i&nbsp;meny)</font></font></td>
		<td><input TYPE="TEXT" name="meta_image" SIZE="65" value="#meta_image#" maxlength="255" style="width:100%"></td>
	</tr>
	<tr>
		<td colspan="2"><hr></td>
	</tr>
	<tr> 
		<td>&nbsp;</td>
		<td>
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td><input TYPE="SUBMIT" value=" OK " name="ok"></td>
			<td>&nbsp;</td>
			<td><input TYPE="RESET" value="Återställ" name="reset"></td>
			<td></form><form name="abortForm" action="GetDoc"><input type="hidden" name="meta_id" value="#meta_id#">&nbsp;</td>
			<td><input TYPE="button" value="Avbryt" onClick="document.forms.abortForm.submit(); return false"></td>
			<td></form>&nbsp;</td>
			<td><a href="GetDoc?meta_id=39" target="_blank" onClick="openHelp('39'); return false;"><img src="@imageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a></td>
		</tr>
		</table></td>
	</tr>
	</table></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td colspan="3">&nbsp;</td>
</tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" align="center">
<tr> 
	<td>#adminMode#</td>
</tr>
</table>

</body>
</html>
