<html>

	<head>
		<title>Admin</title>
	</head>

	<body bgcolor="#FFFFFF">
		<center>
			<table width="450" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<form action="ImageUpload" enctype="multipart/form-data" method="POST">
						<center>
							<table border="1" width="450" align="center" cellpadding="3" cellspacing="0">
								<tr bgcolor="#333366" valign="middle">
									<td colspan="2">&nbsp;<font color="#000000"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">L&auml;gg till bild</font></b></font></td>
								</tr>
								<tr>
									<td valign="middle" bgcolor="#BABABA">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Bild:</font></td>
									<td bgcolor="#BABABA" valign="middle">&nbsp;&nbsp; <input type="file" name="file" size="50"></td>
								</tr>
								<tr>
									<td align="center" valign="top" bgcolor="#BABABA" colspan="2">
										<input type="submit" name="ok" value="L&auml;gg till">
										<input type="HIDDEN" name="meta_id" value="#getMetaId#"> <input type="HIDDEN" name="img_no" value="#img_no#"></td>
								</tr>
							</table>
						</center>
						<br>
						</form>
				<form name="imgbr" action="@servleturl@/ImageBrowse">
				
          <input type="submit" name="browse_images" value="Bildarkiv">
         		<INPUT TYPE=HIDDEN NAME=meta_id VALUE=#getMetaId#>
        		<INPUT TYPE=HIDDEN NAME=img_no VALUE=#img_no#>
          
        		</form>
						<form method="POST" action="@servleturl@/SaveImage">
						<center>
							<table border="1" align="center" width="450" cellpadding="3" cellspacing="0">
								<tr bgcolor="#333366">
									<td colspan="2">&nbsp;<b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Ändra bilddata</font><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> </font></b></td>
								</tr>
								<tr bgcolor="#333366">
									<td valign="middle" colspan="2">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">MetaId</font><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">#getMetaId#</font></font></td>
								</tr>
								<tr>
									<td colspan="2" align="center"><img src="#imgUrl##imgRef#" width="#imgWidth#" height="#imgHeight#" border="#imgBorder#"></td>
								</tr>
								<tr>
									<td bgcolor="#BABABA" valign="middle">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Bild&nbsp;#img_no#</font></td>
									<td bgcolor="#BABABA" valign="middle">&nbsp;&nbsp; 
                  <input type="TEXT" name="imageref" value="#imgRef#" size="40" maxlength="255">
                  <br>
										&nbsp;&nbsp;&nbsp;<input type="SUBMIT" value="Förhandsgranska bilden" name="show_img">
                  <font face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
                  </font></td>
								</tr>
								<tr>
									<td valign="middle" bgcolor="#BABABA">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Bildnamn</font></td>
									<td valign="middle" bgcolor="#BABABA">&nbsp;&nbsp;
                  <input type="TEXT" name="image_name" size="40" maxlength="255" value="#imgName#">
                </td>
								</tr>
								<tr>
									<td bgcolor="#BABABA" valign="middle">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Format</font></td>
									
                <td bgcolor="#BABABA" valign="middle" align="center"> 
                  <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Originalstorlek: 
                    (#origW# x #origH#)<br>Om Du anv&auml;nder sk&auml;rmuppl&ouml;sning 800 x 600 kommer <br>400 x 300 pixlar att ta upp 25% av Din sk&auml;rm.</font></p>
                  <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Bredd:&nbsp;</font> 
                    <input type="TEXT" name="image_width" size="4" maxlength="4" value="#imgWidth#">
                    &nbsp; <font face="Verdana, Arial, Helvetica, sans-serif" size="2">H&ouml;jd:</font>&nbsp; 
                    <input type="TEXT" name="image_height" size="4" maxlength="4" value="#imgHeight#">
                    &nbsp; <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Kant:</font>&nbsp; 
                    <input type="TEXT" name="image_border" size="4" maxlength="4" value="#imgBorder#">
                  </p>
                  <p> 
                    <input type="checkbox" name="keepAspectRatio" value="yes" #keep_aspect#>
                    <font face="Verdana, Arial, Helvetica, sans-serif" size="1">Beh&aring;ll 
                    bildens proportioner</font></p>
                </td>
								</tr>
								<tr>
									<td valign="middle" bgcolor="#BABABA">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">N&auml;sta <br>textf&auml;lts <br>placering</font></td>
									<td valign="middle" bgcolor="#BABABA">&nbsp; <select name="image_align" size="1">
											<option value="none" #none_selected#>Ingen
											<option value="baseline" #baseline_selected#>Baslinje
											<option value="top" #top_selected#>Toppen
											<option value="middle" #middle_selected#>Mitten
											<option value="bottom" #bottom_selected#>Botten
											<option value="texttop" #texttop_selected#>Texttoppen
											<option value="absmiddle" #absmiddle_selected#>Exakt mitten
											<option value="absbottom" #absbottom_selected#>L&auml;ngst ner
											<option value="left" #left_selected#>Bild v&auml;nster
											<option value="right" #right_selected#>Bild h&ouml;ger
										</select></td>
								</tr>
								<tr>
									<td bgcolor="#BABABA" valign="middle">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Bildtext under uppladdning</font></td>
									<td bgcolor="#BABABA" valign="middle">&nbsp;&nbsp;<input type="TEXT" name="alt_text" size="50" maxlength="255" value="#imgAltText#"></td>
								</tr>
								<tr>
									<td valign="middle" bgcolor="#BABABA">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Alt bild under uppladdning</font></td>
									<td valign="middle" bgcolor="#BABABA">&nbsp;&nbsp;<input type="TEXT" name="low_scr" size="50" maxlength="255" value="#imgLowScr#"></td>
								</tr>
								<tr>
									<td bgcolor="#BABABA" valign="middle">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">"Luft" kring bilden</font></td>
									<td bgcolor="#BABABA" align="center" valign="middle"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Vertikalt utrymme:</font>&nbsp; <input type="TEXT" name="v_space" size="4" maxlength="4" value="#imgVerticalSpace#"> &nbsp;&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2"> <br>Horisontellt utrymme:</font>&nbsp; <input type="TEXT" name="h_space" size="4" maxlength="4" value="#imgHorizontalSpace#"> &nbsp;</td>
								</tr>
								<tr>
									<td valign="middle" bgcolor="#BABABA">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">L&auml;nkad till www<b></b></font></td>
									<td valign="middle" bgcolor="#BABABA">&nbsp;&nbsp;<input type="TEXT" name="imageref_link" value="#imgRefLink#" size="50" maxlength="255"></td>
								</tr>
								<tr>
									<td bgcolor="#BABABA" valign="middle">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">L&auml;nk &ouml;ppnas i</font></td>
									<td bgcolor="#BABABA" valign="middle">&nbsp; <select name="target" size="1">
											<option value="_top" #top_checked#>Aktuellt f&ouml;nster
											<option value="_blank" #blank_checked#>Nytt f&ouml;nster
											<option value="_parent" #parent_checked#>Moderram
											<option value="_self" #self_checked#>Samma ram
											<option value="_other" #other_checked#>Annan ram 
										</select> &nbsp;&nbsp;&nbsp;<input type="TEXT" name="target_name" value="#target_name#"></td>
								</tr>
								<tr>
									<td bgcolor="#BABABA" colspan="2">
										<center>
											<input type="SUBMIT" value="OK" name="ok"> <input type="RESET" value="Rensa"> <input type="SUBMIT" value="Avbryt" name="cancel"></center>
									</td>
								</tr>
								<input type="HIDDEN" name="meta_id" value="#getMetaId#"> <input type="HIDDEN" name="img_no" value="#img_no#">
							</table>
						</center>
<input type="hidden" name="origW" value="#origW#">
<input type="hidden" name="origH" value="#origH#">
						</form>
					</td>
				</tr>
			</table>
		</center>
	</body>

</html>
