<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<title><? sv/change_url_doc.html/1 ?></title>

<link rel="stylesheet" href="@imcmscssurl@/imcms_admin_ns.css" type="text/css">
<script src="@imcmsscripturl@/imcms_admin.js" type="text/javascript"></script>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(1,'url_ref')">

<script>
imcmsGui("outer_start", null);
imcmsGui("head", null);
</script>
<table border="0" cellspacing="0" cellpadding="0">
<form action="BackDoc">
<tr>
	<td><input type="submit" class="imcmsFormBtn" value="<? sv/change_url_doc.html/2001 ?>"></td>
	<td>&nbsp;</td>
    <td><input type="button" value="<? sv/change_url_doc.html/2002 ?>" title="<? sv/change_url_doc.html/2003 ?>" class="imcmsFormBtn" onClick="openHelpW(82)"></td>
</tr>
</form>
</table>
<script>
imcmsGui("mid", null);
</script>
<table border="0" cellspacing="0" cellpadding="2" width="400">
<form method="POST" action="SaveUrlDoc">
<input type="HIDDEN" name="meta_id" value="#getMetaId#">
<input type="HIDDEN" name="parent_meta_id" value="#getParentMetaId#">
<tr> 
	<td colspan="2"><script><? sv/change_url_doc.html/4 ?></script></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? sv/change_url_doc.html/1001 ?>&nbsp;</td>
	<td><script>
writeFormField("TEXT","url_ref",62,255,null,"#url_doc_ref#");
</script></td>
</tr>
<tr>
	<td colspan="2"><script>hr("100%",396,"cccccc");</script></td>
</tr>
<tr>
	<td class="imcmsAdmText"><? sv/change_url_doc.html/1002 ?><img src="@imcmsimageurllang@/admin/1x1.gif" width="1" height="22"></td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><input type="radio" name="target" value="_self" #_self#></td>
		<td class="imcmsAdmText" nowrap>&nbsp;<? sv/change_url_doc.html/1003 ?> &nbsp;</td>
		<td><input type="radio" name="target" value="_blank" #_blank#></td>
		<td class="imcmsAdmText" nowrap>&nbsp;<? sv/change_url_doc.html/1004 ?> &nbsp;</td>
		<td><input type="radio" name="target" value="_top" #_top#></td>
		<td class="imcmsAdmText" nowrap>&nbsp;<? sv/change_url_doc.html/1005 ?> &nbsp;</td>
	</tr>
	<tr>
		<td><input type="radio" name="target" value="_other" #_other#></td>
		<td class="imcmsAdmText" nowrap>&nbsp;<? sv/change_url_doc.html/1006 ?> &nbsp;</td>
		<td colspan="4"><script>
writeFormField("TEXT","frame_name",17,50,null,"#frame_name#");
</script></td>
	</tr>
	</table></td>
</tr>
<tr> 
	<td colspan="2"><script>hr("100%",396,"blue");</script></td>
</tr>
<tr> 
	<td colspan="2" align="right"><input type="submit" class="imcmsFormBtn" value="<? sv/change_url_doc.html/2004 ?>" name="ok"></td>
</tr>
</form>
</table>
<script>
imcmsGui("bottom", null);
imcmsGui("outer_end", null);
</script>

<div align="center">#adminMode#</div>

</body>
</html>
