<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head>
  <title>Varning!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff">
<form method="GET" action="AdminDoc">
  <input type="hidden" name="meta_id" value="#meta_id#">
  <input type="hidden" name="flags"   value="262144">
  <table width="40%" border="0" cellspacing="0">
	<tbody><tr bgcolor="#333366"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%" colspan="1"> 
		<div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b><font color="#ffffff">Varning!</font></b></font></div>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%" colspan="1">
             <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
	     Nedanst&aring;ende dokument &auml;r filer och g&aring;r tyv&auml;rr inte att kopiera.
	     </font>
          </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
                  <center>
			<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Dokument<br>
			<select name="select" size="7">#filedocs#</select>
			</font> 
		  </center>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td colspan="1">
		<input type="submit" name="back" value="Tillbaka">
          </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td colspan="1">&nbsp;</td>
	  <td width="5%">&nbsp;</td>
	</tr>
  </tbody></table>
</form>
</body></html>
