<!doctype html public "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head>
  <title><? sv/copy_file_warning.html/1 ?></title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff">
<table width="40%" border="0" cellspacing="0">
<form method="GET" action="AdminDoc">
<input type="hidden" name="meta_id" value="#meta_id#">
<input type="hidden" name="flags"   value="262144">
<tr> 
	<td><? sv/copy_file_warning.html/2 ?></td>
</tr>
<tr> 
	<td><? sv/copy_file_warning.html/3 ?></td>
</tr>
<tr> 
	<td><? sv/copy_file_warning.html/4 ?>
<select name="select" size="7"><? sv/copy_file_warning.html/5 ?></select></td>
</tr>
<tr> 
	<td><input type="submit" class="imcmsFormBtn" name="back" value="Tillbaka"></td>
</tr>
</form>
</table>
</body></html>
