<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<title><? templates/sv/existing_doc.html/1 ?></title>

<link rel="stylesheet" href="@imcmscssurl@/imcms_admin_ns.css" type="text/css">
<script src="@imcmsscripturl@/imcms_admin.js" type="text/javascript"></script>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(1,'existing_meta_id')">

<script>
imcmsGui("outer_start", null);
imcmsGui("head", null);
</script>
<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form method="post" action="GetExistingDoc">
<input type="HIDDEN" name="meta_id_value" value="#meta_id#">
<input type="HIDDEN" name="doc_menu_no" value="#doc_menu_no#">
<tr> 
	<td><input type="submit" class="imcmsFormBtn" value="<? templates/sv/existing_doc.html/2001 ?>" name="cancel"></td>
	<td>&nbsp;</td>
    <td><input type="button" value="<? templates/sv/existing_doc.html/2002 ?>" title="<? templates/sv/existing_doc.html/2003 ?>" class="imcmsFormBtn" onClick="openHelpW(82)"></td>
</tr>
</form>
</table>
<script>
imcmsGui("mid", null);
</script>
<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form method="post" action="GetExistingDoc">
<input type="HIDDEN" name="meta_id_value" value="#meta_id#">
<input type="HIDDEN" name="doc_menu_no" value="#doc_menu_no#">
<tr> 
	<td><script>imcHeading("<? templates/sv/existing_doc.html/4/1 ?>",656);</script></td>
</tr>
<tr> 
	<td>
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td>
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="imcmsAdmText"><? templates/sv/existing_doc.html/1001 ?> &nbsp; </td>
			<td><input type="TEXT" name="existing_meta_id" value="" size="5"></td>
		</tr>
		</table></td>
		<td align="right">
		<input type="submit" class="imcmsFormBtn" value="<? templates/sv/existing_doc.html/2004 ?>" name="addExistingDocs">
		<input type="reset" class="imcmsFormBtn" value="<? templates/sv/existing_doc.html/2005 ?>" name="RESET">
		<input type="submit" class="imcmsFormBtn" value="<? templates/sv/existing_doc.html/2006 ?>" name="cancel"></td>
	</tr>
	</table></td>
</tr>
</form>
</table><br><table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form method="post" action="GetExistingDoc">
<input type="HIDDEN" name="meta_id_value" value="#meta_id#">
<input type="HIDDEN" name="doc_menu_no" value="#doc_menu_no#">
<tr> 
	<td colspan="2"><script>imcHeading("<? templates/sv/existing_doc.html/5/1 ?>",656);</script></td>
</tr>
<tr> 
	<td colspan="2">
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="imcmsAdmText"><? templates/sv/existing_doc.html/1002 ?>&nbsp;&nbsp;</td>
		<td><script>
writeFormField("TEXT","searchstring",62,255,360,"#searchstring#");
</script></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><input type="radio" value="and" name="search_prep" #search_prep_check_and#></td>
		<td class="imcmsAdmText" nowrap>&nbsp;<? templates/sv/existing_doc.html/1003 ?> &nbsp;</td>
		<td><input type="radio" value="or" name="search_prep" #search_prep_check_or#></td>
		<td class="imcmsAdmText" nowrap>&nbsp;<? templates/sv/existing_doc.html/1004 ?></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td colspan="2"><script>hr("100%",656,"cccccc");</script></td>
</tr>
<tr> 
	<td colspan="2"> 
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr valign="top">
		<!-- left -->
		<td width="50%"> 
		<table border="0" cellspacing="0" cellpadding="1" width="100%">
		<tr> 
			<td colspan="2" class="imcmsAdmText" height="22"><? templates/sv/existing_doc.html/8 ?></td>
		</tr>
		<tr> 
			<td class="imcmsAdmText"><? templates/sv/existing_doc.html/9 ?></td>
			<td><input type="checkbox" name="doc_type" value="2" #checked_2#></td>
		</tr>
		<tr> 
			<td class="imcmsAdmText"><? templates/sv/existing_doc.html/10 ?></td>
			<td><input type="checkbox" name="doc_type" value="5" #checked_5#></td>
		</tr>
		<tr> 
			<td class="imcmsAdmText"><? templates/sv/existing_doc.html/11 ?></td>
			<td><input type="checkbox" name="doc_type" value="6" #checked_6#></td>
		</tr>
		<tr> 
			<td class="imcmsAdmText"><? templates/sv/existing_doc.html/12 ?></td>
			<td><input type="checkbox" name="doc_type" value="7" #checked_7#></td>
		</tr>
		<tr> 
			<td class="imcmsAdmText"><? templates/sv/existing_doc.html/13 ?></td>
			<td><input type="checkbox" name="doc_type" value="8" #checked_8#></td>
		</tr>
		<tr>
			<td class="imcmsAdmText"><? templates/sv/existing_doc.html/14 ?></td>
			<td><input type="checkbox" name="doc_type" value="104" #checked_104#></td>
		</tr>
		<tr>
			<td class="imcmsAdmText"><? templates/sv/existing_doc.html/15 ?></td>
			<td><input type="checkbox" name="doc_type" value="103" #checked_103#></td>
		</tr>
		<tr>
			<td class="imcmsAdmText"><? templates/sv/existing_doc.html/16 ?></td>
			<td><input type="checkbox" name="doc_type" value="102" #checked_102#></td>
		</tr>
		</table></td>
		<!-- right -->
		<td width="50%"> 
		<table border="0" cellspacing="0" cellpadding="1" width="100%">
		<tr> 
			<td colspan="2" class="imcmsAdmText" height="22"><? templates/sv/existing_doc.html/17 ?></td>
		</tr>
		<tr> 
			<td class="imcmsAdmText"><? templates/sv/existing_doc.html/18 ?></td>
			<td><script>
writeFormField("TEXT","start_date",18,16,95,"#start_date#");
</script></td>
		</tr>
		<tr> 
			<td class="imcmsAdmText"><? templates/sv/existing_doc.html/20 ?></td>
			<td><script>
writeFormField("TEXT","end_date",18,16,95,"#end_date#");
</script></td>
		</tr>
		<tr> 
			<td class="imcmsAdmText"><? templates/sv/existing_doc.html/22 ?></td>
			<td><input type="checkbox" name="include_doc" value="created" #include_check_created#></td>
		</tr>
		<tr> 
			<td class="imcmsAdmText"><? templates/sv/existing_doc.html/23 ?></td>
			<td><input type="checkbox" name="include_doc" value="changed" #include_check_changed#></td>
		</tr>
		</table></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td colspan="2"><script>hr("100%",656,"blue");</script></td>
</tr>
<tr>
	<td colspan="2">
	<table border="0" cellspacing="0" cellpadding="0" align="right">
	<tr> 
		<td class="imcmsAdmText" nowrap><? templates/sv/existing_doc.html/1005 ?> &nbsp;</td>
		<td>
		<select name="sortBy">
			#sortBy#
		</select></td>
		<td>&nbsp;&nbsp;</td>
		<td><input type="submit" class="imcmsFormBtn" name="search" value="<? templates/sv/existing_doc.html/2007 ?>"></td>
	</tr>
	</table><br clear="all">
	#searchResults#</td>
</tr>
</form>
</table>
<script>
imcmsGui("bottom", null);
imcmsGui("outer_end", null);
</script>

</body>
</html>