<form method="post" action="/servlet/GetExistingDoc">
<table cellpadding="2" cellspacing="0" align="center" border="1" width="631" height="1">
    <tr bgcolor="#333366"> 
      <td width="623" height="16"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><b>&nbsp;V&auml;lj 
        befintligt dokument 
        <input type="hidden" name="meta_id_value" value=#meta_id#>
        <input type="hidden" name="doc_menu_no" value=#doc_menu_no#>
        </b></font></td>
    </tr>
    <tr bgcolor="#333366"> 
      <td width="623" height="16"> <font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font> 
      </td>
    </tr>
    <tr valign="middle" bgcolor="#BABABA"> 
      
      <td width="623" height="132"> 
        <table width="100%" border="1" cellspacing="1" cellpadding="1">
          <tr bgcolor="#9999FF"> 
            <td width="21"> 
              <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">vald</font></b></div>
            </td>
            <td width="39" height="20"> 
              <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">meta 
                id</font></b></div>
            </td>
            <td width="147" height="20"> 
              <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">rubrik</font></b></div>
            </td>
            <td bgcolor="#9999FF" width="98" height="20"> 
              <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">text</font></b></div>
            </td>
            <td width="50" height="20"> 
              <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">dok 
                typ </font></b></div>
            </td>
            <td width="87" height="20"> 
              <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">skapad</font></b></div>
            </td>
            <td width="112" height="20"> 
              <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="1">&auml;ndrad</font></b></div>
            </td>
          </tr>
         	#searchResults#&nbsp;
          <tr bgcolor="#9999FF"> 
            <td colspan="10">&nbsp; </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr valign="middle"> 
      <td bgcolor="#BABABA" width="623" height="52"> 
        <p>&nbsp; 
          <input type=SUBMIT value="L&auml;gg till markerade dokument" name="addExistingDocs">
          <input type=SUBMIT value="Avbryt" name="cancel">
        </p>
      </td>
    </tr>
  </table>
</form>