  <tr> 
    <td width="15" height="20"><input type="checkbox" name="existing_meta_id" value="#meta_id#"></td>
    <td width="40" height="20"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="@servleturl@/GetDoc?meta_id=#meta_id#" target="_blank">#meta_id#</a></font></td>
    <td width="150" height="20"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">#meta_headline#</font></td>
    <td width="100" height="20"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">#meta_text#</font></td>
    <td width="50" height="20"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">#doc_type#</font></td>
    <td width="110" height="20"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">#date_created#</font></td>
    <td width="110" height="20"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">#date_modified#</font></td>
  </tr>
