
	<tr>
		<td colspan="7"><script><? sv/existing_doc_hit.html/1 ?></script></td>
	</tr>
	<tr valign="top"> 
		<td><input type="checkbox" name="existing_meta_id" value="#meta_id#"></td>
		<td class="imcmsAdmTextSmall"><? sv/existing_doc_hit.html/2 ?></td>
		<td class="imcmsAdmTextSmall"><? sv/existing_doc_hit.html/3 ?></td>
		<td class="imcmsAdmTextSmall"><? sv/existing_doc_hit.html/4 ?></td>
		<td class="imcmsAdmTextSmall"><? sv/existing_doc_hit.html/5 ?></td>
		<td class="imcmsAdmTextSmall"><? sv/existing_doc_hit.html/6 ?></td>
		<td class="imcmsAdmTextSmall"><? sv/existing_doc_hit.html/7 ?></td>
	</tr>
