<html>
<head>
<title><? sv/FileAdmin.html/1 ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<noscript><link rel="STYLESHEET" type="text/css" href="@cssurl@/imcms_win_ie.css"></noscript>
<script language="JavaScript">
<? sv/FileAdmin.html/2 ?>
</script>


</head>
<body bgcolor="#FFFFFF" onLoad="checkFileType(1); checkFileType(2); setSelectedFolder(1); setSelectedFolder(2);">

<form method="post" action="FileAdmin" enctype="multipart/form-data">

<input type="hidden" name="dir1" value="#dir1#">
<input type="hidden" name="dir2" value="#dir2#">
<input type="hidden" name="dir1w" value="#dir1#">
<input type="hidden" name="dir2w" value="#dir2#">
<table border="0" cellspacing="0" cellpadding="0" width="760" align="center" bgcolor="#BABABA">
<tr>
	<td colspan="8" height="24" bgcolor="#333366" class="heading">&nbsp;Filadministration</td>
</tr>
<tr>
  <td><img src="  /admin/1x1.gif" width="1" height="1"></td>
  <td colspan="2" class="small"><? sv/FileAdmin.html/3 ?></td>
  <td colspan="2">&nbsp;</td>
  <td colspan="2" align="right" class="small"><? sv/FileAdmin.html/4 ?></td>
  <td><img src="@imcmsimageurllang@/admin/1x1.gif" width="1" height="1"></td>
</tr>
<tr>
	<td colspan="8"><HR></td>
</tr>
<tr>
  <td><img src="@imcmsimageurllang@/admin/1x1.gif" width="1" height="1"></td>

  <td colspan="2">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="right"><input class="formBtn" height="22" type="submit" name="change1" value="Byt katalog"></td>
	</tr>
	<tr>
		<td align="right"><span class="formSmall">
		<select name="files1" id="fileSel_1" size="20" class="formSmall" style="width:330"
			onChange="checkFileType(1)"
			onDblClick="dblClickAction(1)" multiple>
	<? sv/FileAdmin.html/5 ?>
		</select></span></td>
	</tr>
	</table></td>

  <td colspan="2" align="center">
	<table border="0" cellpadding="2" cellspacing="0">
	<tr>
		<td colspan="2" align="center" class="small"><? sv/FileAdmin.html/6 ?></td>
	</tr>
	<tr>
		<td align="right"><input class="formBtnBlue" height="22" type="submit" name="delete1" value="&nbsp;&laquo;&nbsp;"></td>
		<td><input class="formBtnBlue" height="22" type="submit" name="delete2" value="&nbsp;&raquo;&nbsp;"></td>
	</tr>
	<tr>
		<td colspan="2" align="center" class="small">
		<img src="@imcmsimageurllang@/admin/line_hr2.gif" width="50" height="6"><? sv/FileAdmin.html/7 ?></td>
	</tr>
	<tr>
		<td align="right"><input class="formBtnBlue" height="22" type="submit" name="move2" value="&laquo;&laquo;"></td>
		<td><input class="formBtnBlue" height="22" type="submit" name="move1" value="&raquo;&raquo;"></td></td>
	</tr>
	<tr>
		<td colspan="2" align="center" class="small">
		<img src="@imcmsimageurllang@/admin/line_hr2.gif" width="50" height="6"><? sv/FileAdmin.html/8 ?></td>
	</tr>
	<tr>
		<td align="right"><input class="formBtnBlue" height="22" type="submit" name="copy2" value="&nbsp;&laquo;&nbsp;"></td>
		<td><input class="formBtnBlue" height="22" type="submit" name="copy1" value="&nbsp;&raquo;&nbsp;"></td>
	</tr>
	<tr>
		<td colspan="2" align="center" class="small">
		<img src="@imcmsimageurllang@/admin/line_hr2.gif" width="50" height="6"><br>
		<b>Ladda&nbsp;ner</b></td>
	</tr>
	<tr>
		<td align="right"><input class="formBtnBlue" height="22" type="submit" name="download1" value="&nbsp;&laquo;&nbsp;"></td>
		<td><input class="formBtnBlue" height="22" type="submit" name="download2" value="&nbsp;&raquo;&nbsp;"></td>
	</tr>
	<tr>
		<td colspan="2" align="center" class="small">
		<img src="@imcmsimageurllang@/admin/line_hr2.gif" width="50" height="6"><? sv/FileAdmin.html/9 ?></td>
	</tr>
	<tr>
		<td align="right"><input class="formBtnBlue" height="22" type="button" name="preview1" value="&nbsp;&laquo;&nbsp;" onClick="previewFile(1)"></td>
		<td><input class="formBtnBlue" height="22" type="button" name="preview2" value="&nbsp;&raquo;&nbsp;" onClick="previewFile(2)"></td>
	</tr>
	<tr>
		<td colspan="2" align="center" class="small">
		<img src="@imcmsimageurllang@/admin/line_hr2.gif" width="50" height="6"><? sv/FileAdmin.html/10 ?></td>
	</tr>
	<tr>
		<td align="right"><input class="formBtnBlue" height="22" type="button" name="edit1" value="&nbsp;&laquo;&nbsp;" onClick="editFile(1,0);"></td>
		<td><input class="formBtnBlue" height="22" type="button" name="edit2" value="&nbsp;&raquo;&nbsp;" onClick="editFile(2,0);"></td>
	</tr>
	</table></td>

  <td colspan="2" align="right">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td><input class="formBtn" height="22" type="submit" name="change2" value="Byt katalog"></td>
	</tr>
	<tr>
		<td>
		<span class="formSmall">
		<select name="files2" id="fileSel_2" size="20" class="formSmall" style="width:330"
			onChange="checkFileType(2)"
			onDblClick="dblClickAction(2)" multiple>
	<? sv/FileAdmin.html/11 ?>
		</select></span></td>
	</tr>
	</table></td>
  <td><img src="@imcmsimageurllang@/admin/1x1.gif" width="1" height="1"></td>
</tr>
<tr>
	<td colspan="8"><img src="@imcmsimageurllang@/admin/1x1.gif" width="1" height="8"></td>
</tr>
<tr>
  <td><img src="@imcmsimageurllang@/admin/1x1.gif" width="1" height="1"></td>
  <td><input class="formBtn" height="22" type="submit" name="upload1" value="Ladda upp"></td>
  <td colspan="4" align="center"><span class="formMid"><b>Ny fil:</b>&nbsp;
<script language="JavaScript">
<? sv/FileAdmin.html/12 ?>
</script><noscript><input type="file" name="file" class="formMid" size="20"></noscript></span></td>
  <td align="right"><input class="formBtn" height="22" type="submit" name="upload2" value="Ladda upp"></td>
  <td><img src="@imcmsimageurllang@/admin/1x1.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="8"><HR></td>
</tr>
<tr>
  <td><img src="@imcmsimageurllang@/admin/1x1.gif" width="1" height="1"></td>
  <td align="left">
	<input class="formBtn" height="22" type="submit" name="rename1" value="Byt namn"><br>
	<input class="formBtn" height="22" type="submit" name="mkdir1" value="Skapa katalog"></td>
  <td colspan="4" align="center"><? sv/FileAdmin.html/13 ?>
	<span class="formMid"><input type="text" name="name" class="formMid"></span></td>
  <td align="right">
	<input class="formBtn" height="22" type="submit" name="rename2" value="Byt namn"><br>
	<input class="formBtn" height="22" type="submit" name="mkdir2" value="Skapa katalog"></td>
  <td><img src="@imcmsimageurllang@/admin/1x1.gif" width="1" height="1"></td>
</tr>
<tr>
  <td colspan="8"><HR></td>
</tr>
<tr>
  <td><img src="@imcmsimageurllang@/admin/1x1.gif" width="1" height="1"></td>
  <td colspan="6" align="center">
	<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td><a href="GetDoc?meta_id=2" target="_blank" onClick="openHelp('2'); return false;"><img src="@imcmsimageurllang@/admin/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan" hspace="5"></a></td>
		<td><input class="formBtn" height="22" type="submit" name="cancel" value="Tillbaka"></td>
		<td><img src="@imcmsimageurllang@/admin/1x1.gif" width="19" height="1" hspace="5"></td>
	</tr>
	</table></td>
  <td><img src="@imcmsimageurllang@/admin/1x1.gif" width="1" height="1"></td>
</tr>
<tr>
  <td><img src="@imcmsimageurllang@/admin/1x1.gif" width="10" height="8"></td>
  <td><img src="@imcmsimageurllang@/admin/1x1.gif" width="150" height="1"></td>
  <td><img src="@imcmsimageurllang@/admin/1x1.gif" width="180" height="1"></td>
  <td colspan="2"><img src="@imcmsimageurllang@/admin/1x1.gif" width="80" height="1"></td>
  <td><img src="@imcmsimageurllang@/admin/1x1.gif" width="180" height="1"></td>
  <td><img src="@imcmsimageurllang@/admin/1x1.gif" width="150" height="1"></td>
  <td><img src="@imcmsimageurllang@/admin/1x1.gif" width="10" height="1"></td>
</tr>
</table>
</form>

<script language="JavaScript">
<? sv/FileAdmin.html/14 ?>
</script>

</body>
</html>
