<HTML><HEAD><TITLE>Admin</TITLE></HEAD><BODY  bgcolor="#FFFFFF"><H3>
<FORM METHOD=GET ACTION="@servleturl@/#back#">

<CENTER>    
      <TABLE BORDER="1" cellpadding="2" cellspacing="0" align="center" width="250">
        <TR bgcolor="#333366"> 
          <TD><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b><font color="#FFFFFF">Fel!</font></b></font></TD>
        </TR>
        <TR> 
          <TD bgcolor="#BABABA"> 
            <div align="center"> 
              <p>Filen existerar redan.<br>
                Byt namn p&aring; filen och f&ouml;rs&ouml;k igen.</p>
              </div>
            </TD>
        </TR>
        <TR> 
          <TD bgcolor="#BABABA"> 
            <CENTER>
              <INPUT TYPE=SUBMIT VALUE="OK" NAME="ok">
              <input type="hidden" name="meta_id" value="#meta_id#">
              <input type="hidden" name="img" value="#img_no#">
            </center>
          </TD>
        </TR></TABLE>
</center>
</FORM>
</h3></BODY></HTML>