<HTML><HEAD><TITLE><? sv/file_exists.html/1 ?></TITLE>

</HEAD><BODY  bgcolor="#FFFFFF"><H3>
<FORM METHOD="GET" ACTION="#back#">

<CENTER>    
      <TABLE BORDER="1" cellpadding="2" cellspacing="0" align="center" width="250">
        <TR bgcolor="#333366"> 
          <TD><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b><font color="#FFFFFF"><? sv/file_exists.html/2 ?></font></b></font></TD>
        </TR>
        <TR> 
          <TD bgcolor="#BABABA"> 
            <div align="center"> 
              <p><? sv/file_exists.html/3 ?></p>
              </div>
            </TD>
        </TR>
        <TR> 
          <TD bgcolor="#BABABA"> 
            <CENTER>
              <INPUT TYPE="SUBMIT" VALUE="OK" NAME="ok">
              <input type="HIDDEN" name="meta_id" value="#meta_id#">
              <input type="HIDDEN" name="img" value="#img_no#">&nbsp; <a href="@documentationurl@/GetDoc?meta_id=45" target="_blank"><img src="@imcmsimageurllang@/admin/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
              <input type="HIDDEN" name="label" value="#label#">
            </center>
          </TD>
        </TR></TABLE>
</center>
</FORM>
</h3></BODY></HTML>