<html>
<head><title>Browser capabilities test page</title></head>
<body bgcolor=white text=white>
<font color=black>
<h2>Browser Capabilities Test Page</h2>
The following is information on your web browser"s
capabilities<br>
as detected by BrowserHawk4J
<p> User agent: #USERAGENT#
<p>
</font>
<table bgcolor=""#336699"" BORDER="1" CELLPADDING="3" WIDTH="350">
  <TR> 
    <TD BGCOLOR=""#336699"" COLSPAN="2" ALIGN=CENTER> <FONT SIZE=+2>Browser: #BROWSERNAME#</FONT></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="663366"><B>&nbsp;<? sv/getBrowserInfo.html/1001 ?></B></TD>
    <TD BGCOLOR="663366"><B>&nbsp;<? sv/getBrowserInfo.html/1002 ?></B></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1003 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1004 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1005 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1006 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1007 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1008 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1009 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1010 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1011 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1012 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1013 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1014 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1015 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1016 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1017 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1018 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1019 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1020 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1021 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1022 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1023 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1024 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1025 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1026 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1027 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1028 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1029 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1030 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1031 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1032 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1033 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1034 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1035 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1036 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1037 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1038 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1039 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1040 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1041 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1042 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1043 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1044 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1045 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1046 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1047 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1048 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1049 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1050 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1051 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1052 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1053 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1054 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1055 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1056 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1057 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1058 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1059 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1060 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1061 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1062 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1063 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1064 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1065 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1066 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1067 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1068 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1069 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1070 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1071 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1072 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1073 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1074 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1075 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1076 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1077 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1078 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1079 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1080 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1081 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1082 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1083 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1084 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1085 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1086 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbspWAP</TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1087 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1088 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1089 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1090 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1091 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1092 ?></TD>
    <TD BGCOLOR="#663366">&nbsp;<? sv/getBrowserInfo.html/1093 ?></TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">WapSubscriberId</TD>
    <TD BGCOLOR="#336699">#WAPSUBSCRIBERID#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">Versionpos</TD>
    <TD BGCOLOR="#663366">#VERSIONPOS#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">HDML</TD>
    <TD BGCOLOR="#336699">#HDML#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#663366">AOLVersion</TD>
    <TD BGCOLOR="#663366">#AOLVER#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">MSN</TD>
    <TD BGCOLOR="#336699">#MSN#</TD>
  </TR>
  <TR>
    <TD BGCOLOR="#336699">PDA</TD>
    <TD BGCOLOR="#336699">#PDA#</TD>
  </TR>
  <TR> 
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1094 ?></TD>
    <TD BGCOLOR="#336699">&nbsp;<? sv/getBrowserInfo.html/1095 ?></TD>
  </TR>
</TABLE>
<P>
<font color=black>
Click <a href="GetBrowserInfo">here</a>
to test again.
<BR>
  </font> 
</body>
</html>