<html>
<head>
<title>Untitled Document</title>
<meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1'>
</head>
<body bgcolor='#FFFFFF'>
<form name='form1' method='POST' action='/imcms/servlet/ChangeImage'>
<select name='imglist' size='29'>
#options#
</select>
  #img_preview# 
  <p>
<INPUT TYPE=HIDDEN NAME="meta_id" VALUE="#meta_id#">
<INPUT TYPE=HIDDEN NAME="img_no" VALUE="#img_no#">
<INPUT TYPE=HIDDEN NAME="imglist" VALUE="#imglist#">

<p>
	Visar bild #img_startNr# till #img_stopNr# av #img_maxNr# <br>
	
    <input type='submit' name='OK' value='Anv&auml;nd markerad bild'>
    <input type='submit' name='preview' value='F&ouml;rhandsgranska markerad bild' target='_blank'>
</form>
<table width="300" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="150" nowrap>#previousButton#</td>
		<td width="150" nowrap>#nextButton#</td>
	</tr>
</table>
 

</body>
</html>
