<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<form method="post" action="SaveInPage">
  <table width="51%" border="0" height="164" cellspacing="0">
	<tr bgcolor="#333366"> 
	  <td width="3%">&nbsp;</td>
	  <td colspan="2"> 
		<div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF">Varning!</font></b></div>
	  </td>
	  <td width="2%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="3%">&nbsp;</td>
	  <td colspan="2"> Du gl&ouml;mde ange en mall. V&auml;nligen f&ouml;rs&ouml;k 
		igen. </td>
	  <td width="2%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="3%" height="44">&nbsp;</td>
	  <td colspan="2" height="44"> 
		<p> 
		  <input type="submit" name="change_group" value="Tillbaka">
		  <input type="HIDDEN" name="meta_id" value="#meta_id#">
		</p>
		</td>
	  <td width="2%" height="44">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="3%">&nbsp;</td>
	  <td colspan="2">&nbsp;</td>
	  <td width="2%">&nbsp;</td>
	</tr>
  </table>
</form>
</body>
</html>
