<FORM METHOD=POST ACTION="SaveInPage">
  <table BORDER="1" cellspacing="0" cellpadding="2">
	<tr bgcolor="#333366"> 
	  <td valign="top" colspan="2"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">&nbsp;Sortering 
		<!--input type=HIDDEN name=flags value="0"--> </font></b></td>
	</tr>
	<tr bgcolor="#333366"> 
	  <td valign="top" colspan="2"><B></B><font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF">Sortering:</font>&nbsp;&nbsp;&nbsp; 
		<font face="Verdana, Arial, Helvetica, sans-serif"><font size="1" color="#FFFFFF"> 
		<input type=RADIO name=sort_order value="1" #sortOrder1#>
		Bokst.ordn.</font></font> &nbsp; <font face="Verdana, Arial, Helvetica, sans-serif" size="1" color="#FFFFFF"> 
		<input type=RADIO name=sort_order value="2" #sortOrder2#>
		Manuell</font> &nbsp;<font color="#FFFFFF"> <font face="Verdana, Arial, Helvetica, sans-serif" size="1"> 
		<input type=RADIO name=sort_order value="3" #sortOrder3#>
		Datum</font></font></td>
	</tr>
  </table>
<input type=HIDDEN name=meta_id value="#getMetaId#">
</FORM>
