<form method="get" action="MetaAdmin">
  
<table width="40%" border="0" cellspacing="0">
  <tr bgcolor="#333366"> 
	<td width="10%">&nbsp;</td>
	<td width="80%" colspan="2"> 
	  <div align="center"><font size="2"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF">SiteMap</font></b></font></div>
	</td>
	<td width="10%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="10%">&nbsp;</td>
	<td width="40%"> 
	  <div align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Start: 
		</font></div>
	</td>
	<td width="40%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;#start#</font></td>
	<td width="10%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="10%">&nbsp;</td>
	<td width="40%"> 
	  <div align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Slut: 
		</font></div>
	</td>
	<td width="40%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;#end#</font></td>
	<td width="10%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="10%">&nbsp;</td>
	<td width="40%"> 
	  <div align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Start: 
		</font></div>
	</td>
	<td width="40%"> <font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp; 
	  <select name="start">
		#starts#
	     
	  </select>
	  </font></td>
	<td width="10%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="10%">&nbsp;</td>
	<td width="40%"> 
	  <div align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Intervall: 
		</font></div>
	</td>
	<td width="40%"> <font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp; 
	  <select name="interval">
		#intervals#
	     
	  </select>
	  </font></td>
	<td width="10%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="10%">&nbsp;</td>
	<td width="40%" colspan="2"> 
	  <center>
		<input type="submit" name="show" value="Lista">
		<!--form method="get" action="AdminManager">
			<input type="submit" name="cancel" value="Tillbaka">
		  </form--> 
	  </center>
	</td>
	<td width="10%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa">
	<td width="10%">&nbsp;</td>
	<td width="40%" colspan="2">&nbsp;</td>
	<td width="10%">&nbsp;</td>
  </tr>
</table>
</form>
