<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language=JavaScript>
<!--
function openHelp(id){
	window.open("GetDoc?meta_id=" + id,"help","scrollbars=yes,width=650,height=570");
}
//-->
</SCRIPT>

</head>

<body bgcolor="#FFFFFF">
<form METHOD="POST" action="SaveNewFrameset">
  <BR>
  <BR><div align="center">
    <table 0 cellspacing="0" width="450" cellpadding="2" align="center" border="1">
      <tr bgcolor="#333366" > 
        <td valign="TOP"><B><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">&nbsp;HTML-kod 
          </font></B></td>
      </tr>
      <tr bgcolor="#BABABA">
        <td valign="middle">M&aring;ste inledas och avslutas med &lt;HTML&gt; 
          resp &lt;/HTML&gt;</td>
      </tr>
      <tr bgcolor="#BABABA"> 
        <td valign="middle"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">&nbsp;<font color="#000000">HTML 
          </font></font> <BR>
          <textarea name="frame_set" cols="70" rows="16">
         
           </textarea>
        </td>
      </tr>
      <div align="center"> 
        <TR bgcolor="#BABABA"> 
          <TD valign="middle" align="center"> 
            <INPUT TYPE="SUBMIT" VALUE="OK" NAME="ok">
            <INPUT TYPE="RESET" VALUE="Rensa">
            <INPUT TYPE="SUBMIT" VALUE="Avbryt" NAME="cancel">&nbsp; <a href="GetDoc?meta_id=76" target="_blank" onClick="openHelp('76'); return false;"><img src="@imcmsimageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
          </TD>
        </TR>
        <INPUT TYPE="HIDDEN" NAME="meta_id" VALUE="#getMetaId#">
        <INPUT TYPE="HIDDEN" NAME="new_meta_id" VALUE="#new_meta_id#">
      </div>
    </table>
      
      
    </div>
  
  
</form>
</body>
</html>