<HTML><HEAD><TITLE>Admin - l&auml;gg till dokument</TITLE>

<SCRIPT language=JavaScript>
<!--
function openHelp(id){
	window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');
}
//-->
</SCRIPT>

</HEAD>
<BODY  bgcolor="#FFFFFF">
<FORM METHOD="POST" ACTION="SaveNewBrowserDoc">
  <CENTER>
    <table border = 1 cellspacing="0" cellpadding="2" width="430" align="center" >
	  <tr bgcolor="#333366" valign="middle"> 
		<td colspan="3"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">V&auml;lj 
		  browser / datormilj&ouml;</font></b></td>
	  </tr>
	  <tr> 
		<td valign="middle" bgcolor="#BABABA">
		  <div align="center"> 
			<center>
			  <select name="new_browsers" size="7" multiple>
				#new_browsers#
                 
			  </select>
			</center>
		  </div>
		</td>
		<td valign="middle" bgcolor="#BABABA">
		  <input type="submit" name="add_browsers" value="L&auml;gg till -->">
		</td>
		<td valign="middle" bgcolor="#BABABA">#browsers# </td>
	  </tr>
	  <tr> 
		<td colspan="3" valign="middle" bgcolor="#BABABA">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif"> 
		  <font size="1">Fyll i dokumentnummer f&ouml;r dokument som ska visas 
		  i resp milj&ouml;.</font></font> <br>
		  &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="1"> Ange 
		  alltid &ouml;vriga - visas i alla webbl&auml;sare som inte specificerats 
		  separat.</font></td>
	  </tr>
	  #getDocType# #DocMenuNo# 
	  <tr bgcolor="#BABABA"> 
		<td colspan="3" valign="middle" align="center"> 
		  <input TYPE="SUBMIT" value="OK" name="ok">
		  <input TYPE="RESET" value="Rensa" name="reset">
		  <input TYPE="SUBMIT" value="Avbryt" name="cancel">&nbsp; <a href="javascript:openHelp('46');"><img src="@imageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
		</td>
	  </tr>
	  <input TYPE="HIDDEN" NAME="meta_id" value="#getMetaId#">
	  <INPUT TYPE="HIDDEN" NAME="new_meta_id" VALUE="#new_meta_id#">
	</table>
  </CENTER>
</FORM>
</BODY></HTML>