<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html40/loose.dtd">
<html>
<head>
<title>L&ouml;senord via e-post</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language=JavaScript>
<!--
function openHelp(id){
	window.open("GetDoc?meta_id=" + id,"help","scrollbars=yes,width=650,height=570");
}
//-->
</SCRIPT>

</head>

<body bgcolor="#FFFFFF">
<div align="center"> <b><font face="Verdana, Arial, Helvetica, sans-serif">L&ouml;senord 
  via e-post</font></b> <br>
  <font face="Verdana, Arial, Helvetica, sans-serif" color="#FF0000" size="1">#errorininput#</font> 
  <form method="post" name="requset_password" action="PasswordMailReminder">
  <table border="1">
    <tr>
      <td>
        <table>
          <tr>
              <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;Anv&auml;ndarnamn:</font></td>
          </tr>
          <tr>
            <td><input type="text" name="login_name"></td>
          </tr>
        </table>
      </td>
	<tr>
      <td><input type="submit" value="Sänd">&nbsp; <a href="GetDoc?meta_id=52" target="_blank" onClick="openHelp('52'); return false;"><img src="@imageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a></td>
    </tr>
  </table>
</form>
<br>
  &nbsp; <font face="Verdana, Arial, Helvetica, sans-serif"><a href="StartDoc">Tillbaka 
  till startsidan</a></font> </div>
</body>
</html>
