<table width="100%" border="0" cellspacing="0" cellpadding="2" bgcolor="#FFFFFF">
  <tr> 
    <td width="561" colspan="2">
      <font face="Verdana, Arial, Helvetica, sans-serif" size="2">#HIT_NBR#&nbsp; 
        <b><a href="#SERVLET_URL#GetDoc?meta_id=#META_ID#">#META_HEADLINE#</a></b>
      </font>
    </td>
    <td width="106" colspan="2"> 
      <div align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">#MOD_DATE#</font></div>
    </td>
  </tr>
  <tr> 
    <td width="12">&nbsp;</td>
    <td width="549">
      <font face="Verdana, Arial, Helvetica, sans-serif" size="1">
        <i>
          #META_TEXT#
        </i>
      </font>
    </td>
    <td width="106" colspan="2">
      <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
        &nbsp;
      </font>
    </td>
  </tr>
</table> 

