<html>
<head>
<title>Varning!</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>

<body bgcolor="#FFFFFF">
<form method="post" action="TemplateChange">
  <table width="550" cellspacing="0" cellpadding="0" border="0">
	<tr bgcolor="#333366"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Varning!</font></b></div>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td colspan="3">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
		&Auml;r du s&auml;ker p&aring; att formatgruppen skall tas bort?<br>
		Formatgruppen inneh&aring;ller f&ouml;ljande mallar:</font></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<p align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">#templates#</font></p>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"><hr></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td><td width="90%"> 
		<input type="submit" name="group_delete" value="OK">
		<input type="submit" name="group_delete_cancel" value="Avbryt">
		<input type="HIDDEN" name="templategroup" value="#templategroup#">
		<input type="HIDDEN" name="group_delete_cancel" value="Avbryt">&nbsp; <a href="@documentationurl@GetDoc?meta_id=13" target="_blank"><img src="@imcmsimageurl@/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
	  </td><td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td colspan="3">&nbsp;</td>
	</tr>
  </table>
</form>
</body>
</html>
