<html>
<head>
<title>Administrera formatmallar / formatgrupper</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<form method="post" action="TemplateAdmin">
  <table width="40%" border="0" cellspacing="0">
	<tr bgcolor="#333366"> 
	  <td width="5%" valign="bottom">&nbsp;</td>
	  <td width="90%"> 
		<center>
		  <b><font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif" size="2">Administrera 
		  formatmallar / formatgrupper</font></b> 
		</center>
	  </td>
	  <td width="5%" valign="bottom">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%">Spr&aring;k: 
	   <select name="language">
	     #languages#
	   </select> 
	   <input type=hidden name="language" value="se">
	   &nbsp; </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<hr>
		<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Formatmallar:</font></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bordercolor="#000000" bgcolor="#bababa">
	  <td width="5%">&nbsp;</td>
	  <td width="90%"><font color="#000000"> 
		<input type="submit" name="add_template" value="L&auml;gg till">
		<input type="submit" name="delete_template" value="Ta bort">
		<input type="submit" name="rename_template" value="Byt namn">
		<input type="submit" name="get_template" value="H&auml;mta uppladdad">
		</font></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bordercolor="#000000" bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> <font color="#000000"> 
		<input type="submit" name="add_demotemplate" value="Ladda upp exempelmallar">
		<input type="submit" name="show_templates" value="Visa formatmallar">
		</font> 
		<hr>
		<font color="#000000"> </font> </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Formatgrupp: 
		</font></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<input type="submit" name="add_group" value="Skapa">
		<input type="submit" name="delete_group" value="Ta bort">
		<input type="submit" name="rename_group" value="Byt namn">
		<input type="submit" name="assign_group" value="Tilldela formatmallar">
		<hr>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<input type="submit" name="cancel" value="Tillbaka">
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%">&nbsp;</td>
	  <td width="5%">&nbsp;</td>
	</tr>
  </table>
</form>
</body>
</html>
