<html>
<head>
<title>Administrera formatmallar / formatgrupper</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<script language="JavaScript">
<!--
function openHelp(id){
	window.open("GetDoc?meta_id=" + id,"help","scrollbars=yes,width=650,height=570");
}
//-->
</script>

</head>
<body bgcolor="#FFFFFF">

<form name="TemplateAdmin" action="TemplateAdmin" method="post">
<input type="HIDDEN" name="language" value="se">
<table width="550" border="0" cellspacing="0" bgcolor="#bababa">
<tr bgcolor="#333366">
	<td width="5%">&nbsp;</td>
	<td colspan="2" align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#ffffff"><b>Administrera formatmallar / formatgrupper</b></font></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td width="5%">&nbsp;</td>
	<td colspan="2"><hr><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Formatmallar:</font></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td width="5%">&nbsp;</td>
	<td colspan="2">
	<input type="submit" name="add_template" value="L&auml;gg till">
	<input type="submit" name="delete_template" value="Ta bort">
	<input type="submit" name="rename_template" value="Byt namn">
	<input type="submit" name="get_template" value="H&auml;mta uppladdad"><br>
	<input type="submit" name="add_demotemplate" value="Ladda upp exempelmallar">
	<input type="submit" name="show_templates" value="Visa formatmallar" disabled></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td width="5%">&nbsp;</td>
	<td colspan="2"><hr><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Formatgrupp:</font></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td width="5%">&nbsp;</td>
	<td colspan="2">
	<input type="submit" name="add_group" value="Skapa">
	<input type="submit" name="delete_group" value="Ta bort">
	<input type="submit" name="rename_group" value="Byt namn">
	<input type="submit" name="assign_group" value="Tilldela formatmallar"></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td colspan="4">&nbsp;</td>
</tr>
</table>
</form>



<form name="TemplateChange" action="TemplateChange" method="post">
<input type="hidden" name="group_id" value="#group_id#">
<input type="hidden" name="language" value="#language#">
<table width="550" border="0" cellspacing="0" bgcolor="#bababa">
<tr bgcolor="#333366">
	<td width="5%">&nbsp;</td>
	<td colspan="2" align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#ffffff">
	<b>Visa formatmallar</b></font></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td width="5%">&nbsp;</td>
	<td colspan="2"><hr>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td width="45%" align="right"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Tillgängliga mallar:</font></td>
		<td>&nbsp;</td>
		<td width="45%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Sidor som använder mallen:</font></td>
	</tr>
	<tr>
		<td align="right">
		<select name="template" size="10" style="width:100%" multiple>
		#template_list#
		</select></td>
		<td align="center">
		&nbsp;<input type="submit" name="list_templates_docs" value="Lista &gt;&gt;" alt="Lista dokument som använder mallen" title="Lista dokument som använder mallen" style="width:70">&nbsp;</td>
		<td>
		<select name="templates_doc" size="10" style="width:100%" multiple>
		#templates_docs#
		</select></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
		<td width="45%"><input type="submit" name="show_doc" value="Visa markerad sida"></td>
	</tr>
	</table></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td width="5%">&nbsp;</td>
	<td colspan="2"><hr>
	<input type="submit" name="cancel" value="Tillbaka">&nbsp; <a href="GetDoc?meta_id=10" target="_blank" onClick="openHelp('10'); return false;"><img src="@imcmsimageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td colspan="4">&nbsp;</td>
</tr>
</table>
</form>

</body>
</html>