<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<title><? sv/template_delete.html/1 ?></title>

<link rel="stylesheet" href="@imcmscssurl@/imcms_admin_ns.css" type="text/css">
<script src="@imcmsscripturl@/imcms_admin.js" type="text/javascript"></script>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(1,'template')">

<script>
imcmsGui("outer_start", null);
imcmsGui("head", null);
</script>
<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form name="TemplateAdmin" action="TemplateAdmin" method="post">
<input type="HIDDEN" name="language" value="en">
<tr>
	<td colspan="2" class="imcmsAdmText"><? sv/template_delete.html/3 ?></td>
</tr>
<tr>
	<td colspan="2">
	<input type="submit" class="imcmsFormBtn" name="add_template" value="<? sv/template_delete.html/2001 ?>">
	<input type="submit" class="imcmsFormBtnDisabled" name="delete_template" value="<? sv/template_delete.html/2002 ?>" disabled="disabled">
	<input type="submit" class="imcmsFormBtn" name="rename_template" value="<? sv/template_delete.html/2003 ?>">
	<input type="submit" class="imcmsFormBtn" name="get_template" value="<? sv/template_delete.html/2004 ?>">
	<input type="submit" class="imcmsFormBtn" name="edit_template" value="<? sv/template_delete.html/2005 ?>"><br>
	<input type="submit" class="imcmsFormBtn" name="add_demotemplate" value="<? sv/template_delete.html/2006 ?>">
	<input type="submit" class="imcmsFormBtn" name="show_templates" value="<? sv/template_delete.html/2007 ?>"></td>
</tr>
<tr>
	<td colspan="2" class="imcmsAdmText"><? sv/template_delete.html/4 ?></td>
</tr>
<tr>
	<td colspan="2">
	<input type="submit" class="imcmsFormBtn" name="add_group" value="<? sv/template_delete.html/2008 ?>">
	<input type="submit" class="imcmsFormBtn" name="delete_group" value="<? sv/template_delete.html/2009 ?>">
	<input type="submit" class="imcmsFormBtn" name="rename_group" value="<? sv/template_delete.html/2010 ?>">
	<input type="submit" class="imcmsFormBtn" name="assign_group" value="<? sv/template_delete.html/2011 ?>"></td>
	<td>
	<input type="button" value="<? sv/template_delete.html/2012 ?>" title="<? sv/template_delete.html/2013 ?>" class="imcmsFormBtn" onClick="openHelpW(25)"></td>
</tr>
</form>
</table>
<script>
imcmsGui("mid", null);
</script>
<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form action="TemplateChange" method="post">
<input type="HIDDEN" name="language" value="#language#">
<tr>
	<td colspan="2"><script>imcHeading("<? sv/template_delete.html/6/1 ?>",656);</script></td>
</tr>
<tr>
	<td colspan="2">
	<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="80" height="24" class="imcmsAdmText" nowrap><? sv/template_delete.html/1001 ?> &nbsp;</td>
		<td>
		<select name="template">
		#templates#
		</select></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td colspan="2"><script>hr("100%",656,"blue");</script></td>
</tr>
<tr>
	<td colspan="2" align="right">
	<input type="submit" class="imcmsFormBtn" name="template_delete_check" value="<? sv/template_delete.html/2014 ?>">
	<input type="button" class="imcmsFormBtn" name="back" value="<? sv/template_delete.html/2015 ?>" onClick="document.location = 'TemplateAdmin';"></td>
</tr>
</form>
</table>
<script>
imcmsGui("bottom", null);
imcmsGui("outer_end", null);
</script>

</body>
</html>
