<html>
<head>
<title>Varning!</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<SCRIPT language=JavaScript>
<!--
function openHelp(id){
	window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');
}
//-->
</SCRIPT>

</head>

<body bgcolor="#FFFFFF">
<form method="post" action="TemplateChange">
  <table width="40%" border="0" cellspacing="0">
	<tr bgcolor="#333366"> 
	  <td width="5%">&nbsp;</td>
	  <td width="180%" colspan="2"> 
		<div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b><font color="#FFFFFF">Varning!</font></b></font></div>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="180%" colspan="2"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Formatmallen 
		används i nedanstående dokument. Ett dokument måste ha en formatmall! 
		Välj lämplig mall från listan som ersättning till dokumenten.</font></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="45%"> 
		<p> 
		  <center>
			<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Dokument<br>
			<select name="select" size="7">#docs#</select>
			</font> 
		  </center>
		</p>
	  </td>
	  <td width="45%"> 
		<center>
		  <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Mall: 
		  <select name="new_template">
			#templates#
		  </select>
		  </font> 
		</center>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td colspan="2"> <nobr> 
		<input type="submit" name="template_delete" value="OK">
		<input type="submit" name="template_delete_cancel" value="Avbryt">
		<input type="HIDDEN" name="template" value="#template#">
		<input type="HIDDEN" name="language" value="#language#">&nbsp; <a href="javascript:openHelp('26');"><img src="@imageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
		</nobr> </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td colspan="2">&nbsp;</td>
	  <td width="5%">&nbsp;</td>
	</tr>
  </table>
</form>
</body>
</html>
