<html>
<head>
<title>Varning!</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<form method="post" action="TemplateAdmin">
  <table width="550" cellspacing="0" cellpadding="0" border="0">
	<tr bgcolor="#333366"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<div align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><b><font color="#FFFFFF">Varning!</font></b></font></div>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td colspan="3">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Ett 
		fel uppstod vid uppladdningen. Kontakta systemadministrat&ouml;ren.</font></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa">
	  <td width="5%">&nbsp;</td>
	  <td width="90%"><hr></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<input type="submit" name="add_template" value="Tillbaka">
		<input type="HIDDEN" name="language" value="#language#">
		<input type="HIDDEN" name="add_template" value="Tillbaka">
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td colspan="3">&nbsp;</td>
	</tr>
  </table>
</form>
</body>
</html>
