<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<title><? sv/templatedemo_upload.html/1 ?></title>

<link rel="stylesheet" href="@imcmscssurl@/imcms_admin_ns.css" type="text/css">
<script src="@imcmsscripturl@/imcms_admin.js" type="text/javascript"></script>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(1,'file')">

<script>
<? sv/templatedemo_upload.html/2 ?>
</script>
<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form name="TemplateAdmin" action="TemplateAdmin" method="post">
<input type="HIDDEN" name="language" value="en">
<tr>
	<td colspan="2" class="imcmsAdmText"><? sv/templatedemo_upload.html/3 ?></td>
</tr>
<tr>
	<td colspan="2">
	<input type="submit" class="imcmsFormBtn" name="add_template" value="Lägg till">
	<input type="submit" class="imcmsFormBtn" name="delete_template" value="Ta bort">
	<input type="submit" class="imcmsFormBtn" name="rename_template" value="Byt namn">
	<input type="submit" class="imcmsFormBtn" name="get_template" value="Hämta uppladdad">
	<input type="submit" class="imcmsFormBtn" name="edit_template" value="Redigera"><br>
	<input type="submit" class="imcmsFormBtn" name="add_demotemplate" value="Ladda upp exempelmallar" disabled>
	<input type="submit" class="imcmsFormBtn" name="show_templates" value="Visa formatmallar"></td>
</tr>
<tr>
	<td colspan="2" class="imcmsAdmText"><? sv/templatedemo_upload.html/4 ?></td>
</tr>
<tr>
	<td colspan="1">
	<input type="submit" class="imcmsFormBtn" name="add_group" value="Skapa">
	<input type="submit" class="imcmsFormBtn" name="delete_group" value="Ta bort">
	<input type="submit" class="imcmsFormBtn" name="rename_group" value="Byt namn">
	<input type="submit" class="imcmsFormBtn" name="assign_group" value="Tilldela formatmallar"></td>
	<td>
    <input type="button" value="Hjälp" title="Öppna hjälpsidan" class="imcmsFormBtn" onClick="openHelpW(23)"></td>
</tr>
</form>
</table>
<script>
<? sv/templatedemo_upload.html/5 ?>
</script>
<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form method="post" action="TemplateAdd" enctype="multipart/form-data">
<input type="hidden" name="language" value="#language#">
<input type="hidden" name="demo" value="true">
<tr>
	<td colspan="2"><script><? sv/templatedemo_upload.html/6 ?></script></td>
</tr>
<tr>
	<td colspan="2">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td width="20%" class="imcmsAdmText" nowrap>Ange exempelmall &nbsp;</td>
		<td><script>
<? sv/templatedemo_upload.html/7 ?>
</script></td>
	</tr>
	<tr>
		<td height="24" class="imcmsAdmText" nowrap>Välj mall &nbsp;</td>
		<td>
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
			<select name="template">
			<? sv/templatedemo_upload.html/8 ?>
			</select></td>
			<td class="imcmsAdmText" nowrap>&nbsp; <b>*</b> = Exempelmall finns</td>
		</tr>
		</table></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td class="imcmsAdmText" height="22"><? sv/templatedemo_upload.html/9 ?></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td><input type="submit" class="imcmsFormBtnSmall" name="ok" value="Ladda upp" style="width:120"></td>
			<td>&nbsp;</td>
			<td><input type="submit" class="imcmsFormBtnSmall" name="view_demo" value="Visa exempelmall" style="width:120"></td>
			<td>&nbsp;</td>
			<td><input type="submit" class="imcmsFormBtnSmall" name="delete_demo" value="Ta bort exempelmall" style="width:120"></td>
		</tr>
		</table></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td colspan="2"><script><? sv/templatedemo_upload.html/10 ?></script></td>
</tr>
<tr>
	<td colspan="2" align="right">
	<input type="submit" class="imcmsFormBtn" name="cancel" value="Tillbaka"></td>
</tr>
</form>
</table>
<script>
<? sv/templatedemo_upload.html/11 ?>
</script>

</body>
</html>
