<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<title>Administrera formatmallar / formatgrupper</title>

<link rel="stylesheet" href="@imcmscssurl@/imcms_admin_ns.css" type="text/css">
<script src="@imcmsscripturl@/imcms_admin.js" type="text/javascript"></script>

<SCRIPT LANGUAGE="JavaScript">
<!--
function checkForName() {
	var theFile = document.forms.TemplateAdd.file.value;
	var sFileName = '';
	var re0 = /.(php|html?)$/gi;
	var re1 = /(\w+)\.(\w+)$/i;
	var re2 = /\"/g;
	sFileName = theFile.replace(re2, '');
	if (re0.test(sFileName)) {
		sFileName = sFileName.replace(re1, "$1");
		if (isMac && isIE) {
			arrFileName = sFileName.split("\/");
		} else if (isMac && isMoz) {
			arrFileName = sFileName.split(":");
		} else if (!isMac) {
			arrFileName = sFileName.split("\\");
		}
		sFileName = arrFileName[arrFileName.length-1];
		if (!/[:;\/\.\\]+/gi.test(sFileName)) {
			document.forms.TemplateAdd.name.value = sFileName;
			document.forms.TemplateAdd.overwrite.checked = 1;
		}
	}
}

function regExpTest(what,pattern) {
	var blnRetVal = (pattern.test(what)) ? true : false;
	return blnRetVal;
}

function setSize() {
    if(isGecko) {
        document.getElementById("sfile").style.width = 300;
		document.getElementById("sname").style.width = 200;
    }
	else if (moz) {
		document.getElementById("sfile").style.width = 400;
		document.getElementById("sname").style.width = 200;
	}
}

if (moz) {
	window.onload = setSize;
}

//-->
</SCRIPT>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(1,'file')">

<script>
imcmsGui("outer_start", null);
imcmsGui("head", null);
</script>
<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form name="TemplateAdmin" action="TemplateAdmin" method="post">
<input type="HIDDEN" name="language" value="en">
<tr>
	<td colspan="2" class="imcmsAdmText"><b class="white">Formatmallar:</b></td>
</tr>
<tr>
	<td colspan="2">
	<input type="submit" class="imcmsFormBtn" name="add_template" value="Lägg till" disabled>
	<input type="submit" class="imcmsFormBtn" name="delete_template" value="Ta bort">
	<input type="submit" class="imcmsFormBtn" name="rename_template" value="Byt namn">
	<input type="submit" class="imcmsFormBtn" name="get_template" value="Hämta uppladdad">
	<input type="submit" class="imcmsFormBtn" name="edit_template" value="Redigera"><br>

	<input type="submit" class="imcmsFormBtn" name="add_demotemplate" value="Ladda upp exempelmallar">
	<input type="submit" class="imcmsFormBtn" name="show_templates" value="Visa formatmallar"></td>
</tr>
<tr>
	<td colspan="2" class="imcmsAdmText"><b class="white">Formatgrupp:</b></td>
</tr>
<tr>
	<td colspan="1">
	<input type="submit" class="imcmsFormBtn" name="add_group" value="Skapa">
	<input type="submit" class="imcmsFormBtn" name="delete_group" value="Ta bort">
	<input type="submit" class="imcmsFormBtn" name="rename_group" value="Byt namn">
	<input type="submit" class="imcmsFormBtn" name="assign_group" value="Tilldela formatmallar"></td>
	<td>
    <input type="button" value="Hjälp" title="Öppna hjälpsidan" class="imcmsFormBtn" onClick="openHelpW(22)"></td>
</tr>
</form>
</table>
<script>
imcmsGui("mid", null);
</script>
<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form name="TemplateAdd" method="post" action="TemplateAdd" enctype="multipart/form-data">
<input type="HIDDEN" name="language" value="#language#">
<tr>
	<td colspan="2"><script>imcHeading("Ladda upp ny mall",656);</script></td>
</tr>
<tr>
	<td width="20%" class="imcmsAdmText" nowrap>Ange mallfil &nbsp;</td>
	<td><script>
writeFormField("FILE","file\" id=\"sfile",85,null,null,null);
</script></td>
</tr>
<tr>
	<td class="imcmsAdmText" nowrap>Välj namn &nbsp;</td>
	<td>
	<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td><script>
writeFormField("TEXT","name\" id=\"sname",45,255,null,null);
</script></td>
		<td>&nbsp;</td>
		<td nowrap>
		<script language="JavaScript">
		<!--
		if (isMoz || isNS) {
			document.write("<input type=\"button\" class=\"imcmsFormBtnSmall\" onClick=\"checkForName()\" value=\"&laquo\;&nbsp\;Kopiera&nbsp\;filnamnet\">");
		}
		//-->
		</script></td>
	</tr>
	</table></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><input type="checkbox" name="overwrite"></td>
		<td class="imcmsAdmText">Skriv över existerande</td>
	</tr>
	</table></td>
</tr>
<tr>
  <td class="imcmsAdmText">Tilldela till grupper</td>
  <td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
		<select name="templategroup" size="5" multiple>
		#templategroups#
		</select></td>
		<td>&nbsp;&nbsp;</td>
		<td class="imcmsAdmDim">Valfritt, men en mall måste tilldelas till<br>
		en grupp för att kunna användas.<br>
		Du kan även tilldela mallen till en grupp senare.</td>
	</tr>
	</table></td>
</tr>
<tr>
	<td colspan="2"><script>hr("100%",656,"blue");</script></td>
</tr>
<tr>
  <td colspan="2" align="right">
	<input type="submit" class="imcmsFormBtn" name="ok" value="Ladda upp">
	<input type="submit" class="imcmsFormBtn" name="cancel" value="Tillbaka"></td>
</tr>
</form>
</table>
<script>
imcmsGui("bottom", null);
imcmsGui("outer_end", null);
</script>

</body>
</html>
