<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<title><? sv/template_edit.html/1 ?></title>

<link rel="stylesheet" href="@imcmscssurl@/imcms_admin_ns.css" type="text/css">
<script src="@imcmsscripturl@/imcms_admin.js" type="text/javascript"></script>

<script language="JavaScript">
<!--
function editFile() {
	var f = document.forms.TemplateEdit;
	var sTemplateUrl  = "/WEB-INF/templates/text/" + f.template.options[f.template.selectedIndex].value + ".html";
	var sTemplateName = f.template.options[f.template.selectedIndex].text;
	popWinOpen(800,570,"@imcmsjspurl@/FileAdmin_edit.jsp?template=1&file=" + escape(sTemplateUrl) + "&templName=" + escape(sTemplateName),"templateEdit",0,0);
}
//-->
</script>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(1,'template')">

<script>
imcmsGui("outer_start", null);
imcmsGui("head", null);
</script>
<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form name="TemplateAdmin" action="TemplateAdmin" method="post">
<input type="HIDDEN" name="language" value="en">
<tr>
	<td colspan="2" class="imcmsAdmText"><? sv/template_edit.html/2 ?></td>
</tr>
<tr>
	<td colspan="2">
	<input type="submit" class="imcmsFormBtn" name="add_template" value="L&auml;gg till">
	<input type="submit" class="imcmsFormBtn" name="delete_template" value="Ta bort">
	<input type="submit" class="imcmsFormBtn" name="rename_template" value="Byt namn">
	<input type="submit" class="imcmsFormBtn" name="get_template" value="H&auml;mta uppladdad">
	<input type="submit" class="imcmsFormBtn" name="edit_template" value="Redigera" disabled><br>
	<input type="submit" class="imcmsFormBtn" name="add_demotemplate" value="Ladda upp exempelmallar">
	<input type="submit" class="imcmsFormBtn" name="show_templates" value="Visa formatmallar"></td>
</tr>
<tr>
	<td colspan="2" class="imcmsAdmText"><? sv/template_edit.html/3 ?></td>
</tr>
<tr>
	<td>
	<input type="submit" class="imcmsFormBtn" name="add_group" value="Skapa">
	<input type="submit" class="imcmsFormBtn" name="delete_group" value="Ta bort">
	<input type="submit" class="imcmsFormBtn" name="rename_group" value="Byt namn">
	<input type="submit" class="imcmsFormBtn" name="assign_group" value="Tilldela formatmallar"></td>
	<td>
  <input type="button" value="Hjälp" title="Öppna hjälpsidan" class="imcmsFormBtn" onClick="openHelpW(1)"></td>
</tr>
</form>
</table>
<script>
imcmsGui("mid", null);
</script>
<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form name="TemplateEdit">
<input type="HIDDEN" name="language" value="#language#">
<tr>
	<td colspan="2"><script>imcHeading("<? sv/template_edit.html/4 ?>",656);</script></td>
</tr>
<tr>
	<td colspan="2">
	<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="80" height="24" class="imcmsAdmText" nowrap>Formatmall &nbsp;</td>
		<td>
		<select name="template">
		#templates#
		</select></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td colspan="2"><script>hr("100%",656,"blue");</script></td>
</tr>
<tr>
	<td colspan="2" align="right">
	<input type="button" class="imcmsFormBtn" name="template_edit" value="Redigera" onClick="editFile(); return false">
	<input type="button" class="imcmsFormBtn" name="back" value="Tillbaka" onClick="document.location = 'TemplateAdmin'; return false"></td>
</tr>
</form>
</table>
<script>
imcmsGui("bottom", null);
imcmsGui("outer_end", null);
</script>

</body>
</html>
