<html>
<head>
<title><? templates/sv/template_no_langtemplates.html/1 ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<form method="post" action="TemplateChange">
  <table width="550" cellspacing="0" cellpadding="0" border="0">
	<tr bgcolor="#333366"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b><font color="#FFFFFF"><? templates/sv/template_no_langtemplates.html/2 ?></font></b></font></div>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td colspan="4">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
		<? templates/sv/template_no_langtemplates.html/3 ?> </font></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"><hr></td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
	  <td width="90%"> 
		<p> 
		  <input type="submit" name="cancel" value="<? templates/sv/template_no_langtemplates.html/2001 ?>">
		  <input type="HIDDEN" name="language" value="#language#">
		  <input type="HIDDEN" name="cancel" value="Tillbaka">
		</p>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	<tr bgcolor="#bababa"> 
	  <td colspan="4">&nbsp;</td>
	</tr>
  </table>
</form>
</body>
</html>
