<html>
<head>

</head>
<body>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><? sv/UrlDocTestHead.html/1 ?></font></p>
<form method="get" action="AdminManager" >
  <input type="submit" name="Submit" value="<? sv/UrlDocTestHead.html/2001 ?>">&nbsp; <a href="@documentationurl@/GetDoc?meta_id=18" target="_blank"><img src="@imcmsimageurl@/admin/btn_help_round_white-bg.gif" width="19" height="21" border="0" alt="<? sv/UrlDocTestHead.html/2002 ?>"></a>
</form>
<br><hr>
<table border="1" cellspacing="0" cellpadding="1" width="800">
  <tr bgcolor="#000099"> 
	<th width="80" nowrap><font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif" size="2"><? sv/UrlDocTestHead.html/2 ?></font></th>
	<th width="445" nowrap><font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif" size="2"><? sv/UrlDocTestHead.html/3 ?></font></th>
	<th width="90" nowrap><font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif" size="2"><? sv/UrlDocTestHead.html/4 ?></font></th>
	<th width="90" nowrap><font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif" size="2"><? sv/UrlDocTestHead.html/5 ?></font></th>
	<th width="95" nowrap><font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif" size="2"><? sv/UrlDocTestHead.html/6 ?></font></th>
  </tr>
</table>
