<html>
<head>
<title>Byt namn på roll</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<form method="post" action="UserChangePrefs" name="addIP">
  <table width="54%" border="0" cellspacing="0">
    <tr bgcolor="#333366"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"> 
        <center>
          <b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Dina 
          uppgifter sparades!</font></b> 
        </center>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"> &nbsp; </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Dina 
        uppgifter sparades.<br>
        <br>
        </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%">
        <input type="submit" name="changeUser" value="Tillbaka">
        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="StartDoc">Till 
        startsidan.</a></font> </td>
      <td width="5%">&nbsp;</td>
    </tr>
  </table>
  </form>
</body>
</html>
