<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<title><? sv/userprefs_change.htm/1 ?></title>

<link rel="stylesheet" href="@imcmscssurl@/imcms_admin_ns.css" type="text/css">
<script src="@imcmsscripturl@/imcms_admin.js" type="text/javascript"></script>

<script language="JavaScript">
<!--
function evalPrepareAdd() {
	var valFieldsOk 
	valFielsOk = true
	if( document.UserInfo.login_name.value == "" ) valFieldsOk = false  	
	if( document.UserInfo.first_name.value == "" ) valFieldsOk = false  	
	if( document.UserInfo.last_name.value == "" ) valFieldsOk = false  	
	if(valFieldsOk == "") {
		var msg = "Du har inte fyllt i ett obligatoriskt fält! Fyll i alla obligatoriska fält"
		alert(msg)
		return false	
	}
	return true
}
//-->
</script>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(1,'password1')">

<script>
<? sv/userprefs_change.htm/2 ?>
</script>
<table border="0" cellspacing="0" cellpadding="0">
<form action="StartDoc">
<tr>
	<td><input type="submit" class="imcmsFormBtn" value="<? sv/userprefs_change.htm/2001 ?>"></td>
</tr>
</form>
</table>
<script>
<? sv/userprefs_change.htm/3 ?>
</script>
<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form method="post" action="UserChangePrefs" name="UserInfo">
<input type="HIDDEN" name="CURR_USER_ID" value="#CURR_USER_ID#">
<input type="HIDDEN" name="adminTaskold" value="#ADMIN_TASK#">
<input type="HIDDEN" name="login_name" value="#LOGIN_NAME#">
<tr> 
	<td colspan="2"><script><? sv/userprefs_change.htm/4 ?></script></td>
</tr>
<tr> 
	<td colspan="2"><? sv/userprefs_change.htm/5 ?> </td>
</tr>
<tr> 
	<td colspan="2"><script><? sv/userprefs_change.htm/6 ?></script></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? sv/userprefs_change.htm/7 ?></td>
	<td><? sv/userprefs_change.htm/8 ?></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? sv/userprefs_change.htm/9 ?></td>
	<td><input type="password" name="password1" size="25" value="#PWD1#"></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? sv/userprefs_change.htm/10 ?></td>
	<td><input type="password" name="password2" size="25" value="#PWD2#"></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? sv/userprefs_change.htm/11 ?></td>
	<td><input type="text" name="first_name" size="25" value="#FIRST_NAME#"></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? sv/userprefs_change.htm/12 ?></td>
	<td><input type="text" name="last_name" size="25" value="#LAST_NAME#"></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? sv/userprefs_change.htm/13 ?></td>
	<td><input type="text" name="title" size="25" value="#TITLE#"></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? sv/userprefs_change.htm/14 ?></td>
	<td><input type="text" name="company" size="25" value="#COMPANY#"></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? sv/userprefs_change.htm/15 ?></td>
	<td><input type="text" name="address" size="25" value="#ADDRESS#"></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? sv/userprefs_change.htm/16 ?></td>
	<td><input type="text" name="zip" size="25" value="#ZIP#"></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? sv/userprefs_change.htm/17 ?></td>
	<td><input type="text" name="city" size="25" value="#CITY#"></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? sv/userprefs_change.htm/18 ?></td>
	<td><input type="text" name="country_council" size="25" value="#COUNTRY_COUNCIL#"></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? sv/userprefs_change.htm/19 ?></td>
	<td><input type="text" name="country" size="25" value="#COUNTRY#"></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? sv/userprefs_change.htm/20 ?></td>
	<td><input type="text" name="email" size="25" value="#EMAIL#"></td>
</tr>
<tr> 
	<td colspan="2">&nbsp;</td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? sv/userprefs_change.htm/21 ?></td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
		<select name="user_phones" multiple size="1">
			<? sv/userprefs_change.htm/22 ?>
		</select></td>
		<td>&nbsp;</td>
		<td><input type="submit" class="imcmsFormBtnSmall" name="edit_phones" value="<? sv/userprefs_change.htm/2002 ?>"></td>
	</tr>
	</table></td>
</tr>
<tr> 
	<td>&nbsp;</td>
	<td><? sv/userprefs_change.htm/23 ?> </td>
</tr>
<tr> 
	<td colspan="2"><script><? sv/userprefs_change.htm/24 ?></script></td>
</tr>
<tr>
	<td colspan="2" align="right">
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><input type="submit" class="imcmsFormBtn" name="SAVE_USER" value="<? sv/userprefs_change.htm/2003 ?>" onClick="if(evalPrepareAdd()==false)return false; return true;"></td>
		<td>&nbsp;</td>
		<td><input type="reset" class="imcmsFormBtn" name="Reset" value="<? sv/userprefs_change.htm/2004 ?>"></td>
		<td>&nbsp;</td>
		<td><input type="submit" class="imcmsFormBtn" name="GO_BACK" value="<? sv/userprefs_change.htm/2005 ?>"></td>
	</tr>
	</table></td>
</tr>
</form>
</table>
<script>
<? sv/userprefs_change.htm/25 ?>
</script>

</body>
</html>
