
	<tr>
		<td colspan="9">#gui_hr( "cccccc" )</td>
	</tr>
	<tr valign="top">
		<td><input type="checkbox" name="existing_meta_id" value="#meta_id#" title="#page_name#"></td>
        <td class="imcmsAdmTextSmall"><a href="$contextPath/#page_name#" target="_blank" title="#page_name#">#alias#</a></td>
        <td class="imcmsAdmTextSmall">#status#</td>
        <td class="imcmsAdmTextSmall"><a href="$contextPath/#page_name#" target="_blank" title="#page_name#">#meta_id#</a></td>
		<td class="imcmsAdmTextSmall"><a href="$contextPath/#page_name#" target="_blank" title="#page_name#">#meta_headline#</a></td>
		<td class="imcmsAdmTextSmall">#meta_text#</td>
		<td class="imcmsAdmTextSmall">#doc_type#</td>
		<td class="imcmsAdmTextSmall">#date_created#</td>
		<td class="imcmsAdmTextSmall">#date_modified#</td>
	</tr>
