# ImcServer.cfg

# A comma-separated list of the names of the serverobjects we want to make available.
# This creates one serverobject with the name 'server'
Servers = server

# Each serverobject has its own properties-file, indicated below.
server.properties = server.properties
