<table id="doc_search_basic" class="max-width">
    <tbody>
        <tr>
            <th>
                <div location="doc.basic.search.frm.lbl.range"></div>
            </th>
            <td colspan="2">
                <div location="doc.basic.search.frm.range"></div>
            </td>
        </tr>
        <tr>
            <th>
                <div location="doc.basic.search.frm.lbl.text"></div>
            </th>
            <td colspan="2">
                <div location="doc.basic.search.frm.txt.text"></div>
            </td>
        </tr>
        <tr>
            <th>
                <div location="doc.basic.search.frm.lbl.status"></div>
            </th>
            <td colspan="2">
                <div location="doc.basic.search.frm.status"></div>
            </td>
        </tr>
        <tr>
            <th class="custom">
                <div location="doc.basic.search.frm.lbl.advanced"></div>
            </th>
            <td class="max-width custom">
                <div location="doc.basic.search.frm.advanced"></div>
            </td>
            <td id="buttons">
                <div location="doc.basic.search.frm.buttons"></div>
            </td>
        </tr>
    </tbody>
</table>