<table border="5" bgcolor="#ffd700">
  <tr>
    <td>
      <table align="center">
        <tr>
          <td align="right">Id:</td>
          <td><div location="txtId"></div></td>
        </tr>
        <tr>
          <td align="right">Code:</td>
          <td><div location="txtCode"></div></td>
        </tr>
        <tr>
          <td align="right">Name:</td>
          <td><div location="txtName"></div></td>
        </tr>
        <tr>
          <td align="right">Native name:</td>
          <td><div location="txtNativeName"></div></td>
        </tr>
        <tr>
          <td align="right">Enabled:</td>
          <td><div location="chkEnabled"></div></td>
        </tr>
      </table>
    </td>
  </tr>
</table>