<tr>
	<td colspan="2">#gui_hr( "blue" )</td>
</tr>
<tr>
	<td class="imcmsAdmText"><? templates/sv/AdminUserResp_admin_part.htm/2 ?></td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><input type="checkbox" name="active" value="#ACTIVE#" #ACTIVE_FLAG#></td>
		<td class="imcmsAdmText" nowrap>&nbsp;<script language="JavaScript">
<!--
var sDate = "#USER_CREATE_DATE#" ;
if (/\d+/.test(sDate)) document.writeln(" &nbsp; <? templates/sv/AdminUserResp_admin_part.htm/9 ?> &nbsp; " + sDate);
//-->
</script></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td colspan="2">&nbsp;<br>#gui_heading( "<? templates/sv/AdminUserResp_admin_part.htm/3/1 ?>" )</td>
</tr>
<tr valign="top">
	<td class="imcmsAdmText" nowrap>
	<? templates/sv/AdminUserResp_admin_part.htm/1001 ?> &nbsp;</td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
		<select name="roles" size="5" multiple onchange="activateUseradmin_roles(); return true;">
		#ROLES_MENU#
		</select></td>
	</tr>
	<tr>
		<td class="imcmsAdmDim"><? templates/sv/AdminUserResp_admin_part.htm/8 ?></td>
	</tr>
	</table></td>
</tr>
#ROLES_MENU_USERADMIN#
	
