<select name="AdminTask">
	  <option value="No_Choice" selected><? templates/sv/AdminManager_adminTask_element.htm/1 ?></option>
		
	  <option value="UserStart">         <? templates/sv/AdminManager_adminTask_element.htm/2 ?></option>
	  <option value="AdminRoles">        <? templates/sv/AdminManager_adminTask_element.htm/11 ?></option>
	  <option value="IP-access">         <? templates/sv/AdminManager_adminTask_element.htm/7 ?></option>
		
	  <option value="No_Choice">-------------------------------------</option>
		
	  <option value="ListDocuments">     <? imcms/lang/jsp/document_list.jsp/title ?></option>
	  <option value="DeleteDocs">        <? templates/sv/AdminManager_adminTask_element.htm/15 ?></option>
		
	  <option value="No_Choice">-------------------------------------</option>
		
	  <option value="AddTemplates">      <? templates/sv/AdminManager_adminTask_element.htm/10 ?></option>
	  <option value="FileAdmin">         <? templates/sv/AdminManager_adminTask_element.htm/5 ?></option>
		
	  <option value="No_Choice">-------------------------------------</option>
		
	  <option value="AdminSearchTerms">  <? templates/sv/AdminManager_adminTask_element.htm/AdminSearchTerms ?></option>
	  <option value="LinkCheck">         <? web/imcms/lang/jsp/linkcheck/linkcheck.jsp/heading ?></option>
	  <option value="AdminSection">      <? templates/sv/AdminManager_adminTask_element.htm/3 ?></option>
	  <option value="AdminCategories">   <? templates/sv/AdminManager_adminTask_element.htm/17 ?></option>
	  <option value="AdminProfiles">     <? profile/headline ?></option>
	  <option value="CounterStart">      <? templates/sv/AdminManager_adminTask_element.htm/12 ?></option>
	  <option value="SystemMessage">     <? templates/sv/AdminManager_adminTask_element.htm/14 ?></option>
</select>