<html>
<head>
<title><? templates/sv/AdminListDocs_doclList.html/1 ?></title>

<link rel="stylesheet" type="text/css" href="$contextPath/imcms/css/imcms_admin.css.jsp">
<script src="$contextPath/imcms/$language/scripts/imcms_admin.js" type="text/javascript"></script>

</head>
<body bgcolor="#FFFFFF">


#gui_outer_start()
#gui_head( "<? templates/sv/AdminListDocs_doclList.html/1 ?>" )
<table border="0" cellspacing="0" cellpadding="0">
<form>
<tr>
	<td><input type="button" class="imcmsFormBtn" value="<? global/back ?>" onClick="history.go(-1);"></td>
</tr>
</form>
</table>
#gui_mid()

<table border="0" cellspacing="0" cellpadding="2" width="680">
<tr> 
	<td><b><? templates/sv/AdminListDocs_doclList.html/2 ?></b></td>
	<td><b><? templates/sv/AdminListDocs_doclList.html/3 ?></b></td>
	<td><b><? templates/sv/AdminListDocs_doclList.html/4 ?></b></td>
	<td><b><? templates/sv/AdminListDocs_doclList.html/5 ?></b></td>
	<td><b><? templates/sv/AdminListDocs_doclList.html/6 ?></b></td>
	<td><b><? templates/sv/AdminListDocs_doclList.html/7 ?></b></td>
</tr>
<tr> 
#LIST_DOCUMENT#
</tr>
</table>
#gui_bottom()
#gui_outer_end()


</body>
</html>
