<html>
<head>
<title><? templates/sv/AdminUserPhoneAdd.htm/1 ?></title>

</head>

<body bgcolor="#FFFFFF">
<form method="post" action="AdminUserPhones" name="addPhone">
  <table width="40%" border="0" cellspacing="0">
    <tr bgcolor="#333366"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"> 
        <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2"><? templates/sv/AdminUserPhoneAdd.htm/2 ?></font></b></div>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%">&nbsp; </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%">&nbsp;</td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%" height="23"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><? templates/sv/AdminUserPhoneAdd.htm/3 ?> </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"> 
        <table width="100%" border="0">
          <tr> 
            <td><? templates/sv/AdminUserPhoneAdd.htm/4 ?></td>
            <td><? templates/sv/AdminUserPhoneAdd.htm/5 ?></td>
            <td><? templates/sv/AdminUserPhoneAdd.htm/6 ?></td>
          </tr>
          <tr> 
            <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
              <input type="text" name="country_code" size="4">
              </font></td>
            <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
              <input type="text" name="area_code" size="8">
              </font></td>
            <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
              <input type="text" name="local_code" size="25">
              </font></td>
          </tr>
        </table>
        <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> </font></td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%">&nbsp;</td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%"> 
        <input type="submit" name="ADD_PHONE_NBR" value="<? templates/sv/AdminUserPhoneAdd.htm/2001 ?>">
        <input type="submit" name="CANCEL_ADD_PHONE" value="<? templates/sv/AdminUserPhoneAdd.htm/2002 ?>">
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td width="90%">&nbsp;</td>
      <td width="5%">&nbsp;</td>
    </tr>
  </table>
</form>
  </body>
</html>
