<html>
<head>
<title><? templates/sv/AdminCounter.htm/1 ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">


</head>

<body bgcolor="#FFFFFF">
<table width="40%" border="0" cellspacing="0">
  <tr bgcolor="#333366"> 
	<td width="5%">&nbsp;</td>
	<td> 
	  <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2"><? templates/sv/AdminCounter.htm/2 ?></font><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF"> 
		</font></b></div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td>&nbsp; </td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminCounter.htm/3 ?></font></td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminCounter.htm/4 ?></font></td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td> 
	  <form method="post" action="AdminCounter">
		<table width="100%" border="0">
		  <tr> 
			<td width="34%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminCounter.htm/5 ?></font></td>
			<td width="66%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#COUNTER_VALUE# 
			  </font></td>
		  </tr>
		  <tr> 
			<td width="34%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminCounter.htm/7 ?></font></td>
			<td width="66%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
			  <input type="text" name="counter_value" value="#COUNTER_VALUE#" maxlength="80" size="10">
			  <input type="submit" name="setCounter" value="<? templates/sv/AdminCounter.htm/2001 ?>">
			  </font></td>
		  </tr>
		</table>
	  </form>
	</td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <!--tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td colspan="2"><font size="2">&nbsp;</font> </td>
	<td width="5%"><font size="2">&nbsp;&nbsp;</font></td>
  </tr-->
  <tr bgcolor="#bababa"> 
	<td width="5%"><font size="2">&nbsp;</font></td>
	<td> 
	  <hr>
	</td>
	<td width="5%"><font size="2">&nbsp;</font></td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td><font size="2" color="red" face="Verdana, Arial, Helvetica, sans-serif">#ERRORMSG#</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminCounter.htm/8 ?></font></td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminCounter.htm/9 ?></font></td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td> 
	  <form method="post" action="AdminCounter">
		<table width="100%" border="0">
		  <tr> 
			<td width="40%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminCounter.htm/10 ?></font></td>
			<td width="60%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">#CURRENT_DATE_VALUE#
			  </font></td>
		  </tr>
		  <tr> 
			<td width="40%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminCounter.htm/12 ?></font></td>
			<td width="60%"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
			  <input type="text" name="date_value" value="#NEW_DATE_VALUE#" maxlength="80" size="10">
			  <input type="submit" name="setDate" value="<? templates/sv/AdminCounter.htm/2002 ?>">
			  </font></td>
		  </tr>
		</table>
	  </form>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa"> 
	<td width="5%">&nbsp;</td>
	<td> 
	  <div align="center"> 
		<hr>
		<form method="post" action="AdminCounter" name="Counter">
		  <div align="left"> 
			<input type="submit" name="CancelCounter" value="<? templates/sv/AdminCounter.htm/2003 ?>">&nbsp; <a href="@documentationurl@/GetDoc?meta_id=17" target="_blank"><img src="$contextPath/imcms/$language/images/admin/btn_help_round.gif" width="19" height="21" border="0" alt="<? templates/sv/AdminCounter.htm/2004 ?>"></a>
		  </div>
		</form>
	  </div>
	</td>
	<td width="5%">&nbsp;</td>
  </tr>
  <tr bgcolor="#bababa">
	<td width="5%">&nbsp;</td>
	<td>&nbsp;</td>
	<td width="5%">&nbsp;</td>
  </tr>
</table>
</body>
</html>
