<html>
<head>
<title><? templates/sv/AdminListDocs_doclList_created.html/1 ?></title>

<link rel="stylesheet" type="text/css" href="$contextPath/imcms/css/imcms_admin.css.jsp">
<script src="$contextPath/imcms/$language/scripts/imcms_admin.js" type="text/javascript"></script>

</head>
<body bgcolor="#FFFFFF">


#gui_outer_start()
#gui_head( "<? templates/sv/AdminListDocs_doclList_created.html/1 ?>" )
<table border="0" cellspacing="0" cellpadding="0">
<form>
<tr>
	<td><input type="button" class="imcmsFormBtn" value="<? global/back ?>" onClick="history.go(-1);"></td>
</tr>
</form>
</table>
#gui_mid()

<table border="0" cellspacing="0" cellpadding="0" width="400">
<tr>
	<td colspan="3"><? templates/sv/AdminListDocs_doclList_created.html/2 ?></td>
</tr>
<tr>
	<td colspan="3"><? templates/sv/AdminListDocs_doclList_created.html/3 ?>: &nbsp; #selectedDocTypes#</td>
</tr>
<tr>
	<td><? templates/sv/AdminListDocs_doclList_created.html/4 ?></td>
	<td><? templates/sv/AdminListDocs_doclList_created.html/5 ?>: &nbsp; #selectedStartDate#</td>
	<td><? templates/sv/AdminListDocs_doclList_created.html/6 ?>: &nbsp; #selectedEndDate#</td>
</tr>
</table>

#gui_hr( 'blue' )

<table border="0" cellspacing="0" cellpadding="2" width="680">
<tr>
	<td width="10%"><b><? templates/sv/AdminListDocs_doclList_created.html/1001 ?></b></td>
	<td width="50%"><b><? templates/sv/AdminListDocs_doclList_created.html/7 ?></b></td>
	<td width="20%"><b><? templates/sv/AdminListDocs_doclList_created.html/8 ?></b></td>
	<td width="20%" nowrap><b><? templates/sv/AdminListDocs_doclList_created.html/9 ?></b></td>
</tr>
#LIST_DOCUMENT#
</table>
#gui_bottom()
#gui_outer_end()


</body>
</html>
