#gui_start_of_page( "<? templates/sv/AdminManager_adminTask_element.htm/7 ?>" "AdminManager" "" "14" "" )

<table width="400">
<form method="post" action="AdminIpAccess" name="argumentForm">
    <tr>
        <td><? templates/sv/AdminIpAccess.htm/3 ?></td>
    </tr>
    <tr>
        <td>#ALL_IP_ACCESSES#</td>
    </tr>
    <tr>
        <td>
            <input type="submit" class="imcmsFormBtnSmall" name="ADD_IP_ACCESS" value="<? templates/sv/AdminIpAccess.htm/2001 ?>">
            <input type="submit" class="imcmsFormBtnSmall" name="RESAVE_IP_ACCESS" value="<? templates/sv/AdminIpAccess.htm/2002 ?>">
            <input type="submit" class="imcmsFormBtnSmall" name="IP_WARN_DELETE" value="<? templates/sv/AdminIpAccess.htm/2003 ?>">
        </td>
</form>
</table>

#gui_end_of_page()
