#gui_start_of_page( "<? templates/sv/AdminRoleBelongings_activate.html/1 ?>" "AdminRoleBelongings" "BELONGING_CANCEL" 3 "" )

<form method="post" action="AdminRoleBelongings" name="UserInfo">
<table width="400" border="0" cellspacing="0">
    <tr>
	   <td class="imcmsAdmText"><font face="Verdana, Arial, Helvetica, sans-serif">
        &nbsp;<? templates/sv/AdminRoleBelongings_activate.html/2 ?>:  <b>#CURENT_ROLE_NAME# </b></font>
        <input type="HIDDEN" name="CURENT_ROLE_ID" value="#CURENT_ROLE_ID#"></td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr>
	  <td>
        <table width="100%" border="0">
          <tr>
            <td width="20%" valign="top" class="imcmsAdmText"><font face="Verdana, Arial, Helvetica, sans-serif">
            <? templates/sv/AdminRoleBelongings_activate.html/3 ?></font></td>
            <td><font face="Verdana, Arial, Helvetica, sans-serif">
                <select name="USER_ID" size="10" multiple>
                #USER_MENU#
              </select>
              </font></td>
          </tr>
        </table>
      </td>
  	</tr>
  	<tr>
        <td width="5%">&nbsp; </td>
    </tr>
    <tr>
        <td colspan="2">#gui_hr( "blue" )</td>
    </tr>
    <tr>
        <td align="right">
	        <input type="submit" name="BELONGING_ACTIVATE" class="imcmsFormBtn" value="<? templates/sv/AdminRoleBelongings_activate.html/4 ?>">&nbsp;
            <input type="submit" name="BELONGING_DEACTIVATE" class="imcmsFormBtn" value="<? templates/sv/AdminRoleBelongings_activate.html/5 ?>">&nbsp;
            <input type="submit" name="BELONGING_CANCEL" class="imcmsFormBtn" value="<? global/cancel ?>">
      </td>
	</tr>
</table>
</form>
#gui_end_of_page()
