#gui_start_of_page( "<? templates/sv/AdminManager_adminTask_element.htm/15 ?>" "AdminManager" "" "85" "" )

<table width="350">
<form method="post" action="AdminDeleteDoc" name="DeleteDoc">
    <tr>
        <td>
            <? templates/sv/AdminDeleteDoc.htm/4 ?>
            <input type="text" name="delete_meta_id" maxlength="9" size="9">
            <input type="submit" class="imcmsFormBtn" name="DELETE_DOC" value="<? templates/sv/AdminDeleteDoc.htm/2001 ?>" onClick="if(confirmDeleteDoc()==false)return false; return true;">
            <script language="javascript">document.DeleteDoc.delete_meta_id.focus()</script>
        </td>
    </tr>
</form>
</table>

<script language="JavaScript">
<!--
function confirmDeleteDoc() {
    return confirm("<? templates/sv/AdminDeleteDoc.htm/2010 ?>") ;
}
//-->
</script>

#gui_end_of_page()
