#gui_start_of_page( "<? templates/sv/AdminManager_adminTask_element.htm/12 ?>" "AdminManager" "" "17" "" )

<table width="370">
    <form method="post" action="AdminCounter">
    <tr>
        <td><? templates/sv/AdminCounter.htm/7 ?></td>
        <td><input type="text" name="counter_value" value="#COUNTER_VALUE#" maxlength="80" size="10"></td>
        <td><input type="submit" class="imcmsFormBtnSmall" name="setSessionCounter" value="<? templates/sv/AdminCounter.htm/2001 ?>"></td>
    </tr>
    <tr>
        <td><? templates/sv/AdminCounter.htm/12 ?></td>
        <td><input type="text" name="date_value" value="#NEW_DATE_VALUE#" maxlength="80" size="10"></td>
        <td><input type="submit" class="imcmsFormBtnSmall" name="setDate" value="<? templates/sv/AdminCounter.htm/2001 ?>"></td>
    </tr>
    <tr>
        <td colspan="3">#ERRORMSG#</td>
    </tr>
    </form>
</table>

#gui_end_of_page()
