#gui_start_of_page( "<? templates/sv/AdminManager_adminTask_element.htm/6 ?>" "AdminManager" "" "2" "focusField(0, 'DOC_TYPES')" )

<form method="post" action="AdminListDocs">
<table border="0" cellspacing="0" cellpadding="2" width="400">
<tr>
	<td></td>
</tr>
<tr>
	<td>
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td><? templates/sv/AdminListDocs.html/3 ?><br><img
		src="$contextPath/imcms/$language/images/admin/1x1.gif" width="1" height="2"><br>
		<select name="DOC_TYPES" size="10" multiple>
			<option value="0" selected><? templates/sv/AdminListDocs.html/4 ?></option>
			#DOCUMENT_TYPES#
		</select></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td>
		<? global/Date ?> <? templates/sv/AdminListDocs.html/10 ?><br><br>
		<? templates/sv/AdminListDocs.html/11 ?>
		<input type="text" name="START_DATE" size="10" maxlength="10">&nbsp;&nbsp;
		<? templates/sv/AdminListDocs.html/12 ?>
		<input type="text" name="END_DATE" size="10" maxlength="10"><br><br>
		<span style="color:#999999">(<? templates/sv/AdminListDocs.html/1 ?>)</span>
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td colspan="4">&nbsp;</td>
		</tr>
		<tr>
			<td><input type="radio" name="LISTMOD" value="1" checked></td>
			<td>&nbsp;<? templates/sv/AdminListDocs.html/7 ?>&nbsp;&nbsp;</td>
			<td><input type="radio" name="LISTMOD" value="2"></td>
			<td>&nbsp;<? templates/sv/AdminListDocs.html/8 ?></td>
		</tr>
		</table></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td>#gui_hr( "blue" )</td>
</tr>
<tr>
	<td align="right">
	<input type="submit" class="imcmsFormBtn" name="LISTDOC_LIST" value="<? templates/sv/AdminListDocs.html/2001 ?>">
</tr>
</table>
</form>

#gui_end_of_page()
