#gui_start_of_page( "<? templates/sv/AdminManager_adminTask_element.htm/11 ?>" "AdminManager" "GO_BACK" "30" "" )

<form method="post" action="AdminRoles" name="">
<table width="400" align="center">
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <input type="submit" class="imcmsFormBtnSmall" name="VIEW_ADMIN_ROLES" value="<? templates/sv/AdminRoles.htm/1 ?>">&nbsp;
            <input type="submit" class="imcmsFormBtnSmall" name="VIEW_ADMIN_ROLE_BELONGINGS" value="<? templates/sv/AdminRoles.htm/2 ?>"></td>
    </tr>
</table>
</form>

#gui_end_of_page()
