#gui_start_of_page( "<? templates/sv/AdminUserPhoneAdd.htm/1 ?>" "AdminUserPhones" "CANCEL_ADD_PHONE" "71" "" )


<table border="0" cellspacing="0" cellpadding="0" width="500">
<form method="post" action="AdminUserPhones" name="addPhone">
<tr>
	<td>#gui_heading( "<? templates/sv/AdminUserPhoneAdd.htm/2 ?>" )</td>
</tr>
<tr>
	<td height="20"><? templates/sv/AdminUserPhoneAdd.htm/3 ?></td>
</tr>
<tr>
	<td> 
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr> 
		<td><? templates/sv/AdminUserPhoneAdd.htm/4 ?></td>
		<td><? templates/sv/AdminUserPhoneAdd.htm/5 ?></td>
		<td><? templates/sv/AdminUserPhoneAdd.htm/6 ?></td>
	</tr>
	<tr> 
		<td><input type="text" name="country_code" size="4"></td>
		<td><input type="text" name="area_code" size="8"></td>
		<td><input type="text" name="local_code" size="25"></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td>#gui_hr( "blue" )</td>
</tr>
<tr>
	<td align="right">
	<input type="submit" class="imcmsFormBtn" name="ADD_PHONE_NBR" value="<? templates/sv/AdminUserPhoneAdd.htm/2001 ?>">
	<input type="submit" class="imcmsFormBtn" name="CANCEL_ADD_PHONE" value="<? templates/sv/AdminUserPhoneAdd.htm/2002 ?>"></td>
</tr>
</form>
</table>

#gui_end_of_page()
