#gui_start_of_page( "<? templates/sv/AdminManager_adminTask_element.htm/11 ?>" "AdminManager" "" "30" "" )

<table width="400" align="center">
<form method="post" action="AdminRoles" name="AdminRoles">
    <tr>
        <td>#gui_heading( "<? templates/sv/AdminRoles.htm/1 ?>" )</td>
    </tr>
    <tr>
    <td>
        <input type="submit" class="imcmsFormBtnSmall" name="VIEW_ADMIN_ROLES" value="<? templates/sv/AdminRoles.htm/1 ?>">
        <input type="submit" class="imcmsFormBtnSmall" name="VIEW_ADMIN_ROLE_BELONGINGS" value="<? templates/sv/AdminRoles.htm/6 ?>">
    </td>
</form>
</table>

#gui_end_of_page()
