#gui_start_of_page( "<? templates/sv/AdminRoles_roles.htm/1 ?>" "AdminRoles" "CANCEL_ROLE_ADMIN" "89" "" )


<form method="post" action="AdminRoles" name="UserInfo">
<table border="0" cellspacing="0" cellpadding="2" width="400" align="center">
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="imcmsAdmText">
        <font face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/AdminRoles_roles.htm/2 ?>
          <select name="ROLE_ID" size="3">
          #ROLES_MENU#
          </select>
          </font>
      </td>
    </tr>
    <tr>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr>
      <td width="90%">
        <input type="submit" class="imcmsFormBtnSmall" name="VIEW_ADD_NEW_ROLE" value="<? templates/sv/AdminRoles_roles.htm/2001 ?>">
        <input type="submit" class="imcmsFormBtnSmall" name="VIEW_RENAME_ROLE" value="<? templates/sv/AdminRoles_roles.htm/2002 ?>">
        <input type="submit" class="imcmsFormBtnSmall" name="VIEW_EDIT_ROLE" value="<? templates/sv/AdminRoles_roles.htm/2003 ?>">
        <input type="submit" class="imcmsFormBtnSmall" name="VIEW_DELETE_ROLE" value="<? templates/sv/AdminRoles_roles.htm/2004 ?>">
      </td>

    </tr>
</table>
</form>

#gui_end_of_page()


