<html>
<head>

<title><? templates/sv/AdminManager.htm/1 ?></title>

<link rel="stylesheet" type="text/css" href="$contextPath/imcms/css/imcms_admin.css.jsp">
<script src="$contextPath/imcms/$language/scripts/imcms_admin.js" type="text/javascript"></script>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(1,'AdminTask')">

#gui_outer_start()
#gui_head( "<? templates/sv/AdminManager.htm/2/1 ?>" )
<table border="0" cellspacing="0" cellpadding="0">
<form action="StartDoc">
<tr>
	<td><input type="submit" class="imcmsFormBtn" value="<? templates/sv/AdminManager.htm/2001 ?>"></td>
	<td>&nbsp;</td>
    <td><input type="button" value="<? templates/sv/AdminManager.htm/2002 ?>" title="<? templates/sv/AdminManager.htm/2003 ?>" class="imcmsFormBtn" onClick="openHelpW(28)"></td>
</tr>
</form>
</table>
#gui_mid()

<form method="post" action="AdminManager" name="AdminManager">
<table border="0" cellspacing="0" cellpadding="2" width="400" align="center">
<tr>
	<td>#gui_heading( "<? templates/sv/AdminManager.htm/4/1 ?>" )</td>
</tr>
<tr>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>#ADMIN_TASK#</td>
		<td>&nbsp;</td>
		<td><input type="submit" class="imcmsFormBtnSmall" name="submit" value="<? templates/sv/AdminManager.htm/2004 ?>"></td>
	</tr>
	</table></td>
</tr>
</form>
</table>
#gui_bottom()
#gui_outer_end()


</body>
</html>
