<!--
Template: AdminUserResp.htm
-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<title><? templates/sv/AdminUserResp.htm/1 ?></title>

<link rel="stylesheet" href="@imcmscssurl@/imcms_admin_ns.css" type="text/css">
<script src="@imcmsscripturl@/imcms_admin.js" type="text/javascript"></script>

<script language=javascript>
<!--
function evalPrepareAdd() {
	// Lets check that those fields which are mandatory
	var valFieldsOk = true;
	if( document.forms[0].login_name.value == "" ) valFieldsOk = false
	//if( document.forms[0].password1.value == "" ) valFieldsOk = false
	//if( document.forms[0].password2.value == "" ) valFieldsOk = false
	if( document.forms[0].first_name.value == "" ) valFieldsOk = false
	if( document.forms[0].last_name.value == "" ) valFieldsOk = false	
	
	if(!valFieldsOk) {
		var msg = "<? templates/sv/AdminUserResp.htm/2/1 ?>"
		alert(msg)
		return false
	}
	
	if(document.forms[0].password1.value != document.forms[0].password2.value){
		var msg = "<? templates/sv/AdminUserResp.htm/2/2 ?>"
		document.forms[0].password1.value = "" 
		document.forms[0].password2.value = ""
		document.forms[0].password1.focus()
		alert(msg)		
		return false
	}
	var userType
	userType = document.forms[0].user_type.selectedIndex
	// Lets check if the user has make a choice
	if(userType == "-1") {
		var msg = "<? templates/sv/AdminUserResp.htm/2/3 ?>"
		alert(msg)
		return false
	}
	
	var userRole
	userRole = document.forms[0].roles.selectedIndex
	if(userRole == "-1") {
		var msg = "<? templates/sv/AdminUserResp.htm/2/4 ?>"
		msg += " "
		alert(msg)
		return false
	}

	// ( only neded for ns4) 
	if ( document.forms[0].useradmin_roles ){
		var index = document.forms[0].useradmin_roles.selectedIndex;
		if ( index > -1 ){
			var list = document.forms[0].roles;
			for ( i = 0 ; i < list.length ; i++ ){
				if ( list.options[i].text == "Useradmin"  &&  !list.options[i].selected ){
					var msg = "<? templates/sv/AdminUserResp.htm/2/5 ?>\n"; 
					msg += "<? templates/sv/AdminUserResp.htm/2/6 ?>" ;
					alert(msg); 
				}
			}
		}
	}

	return true
}

function activateUseradmin_roles(){
	if ( document.forms[0].useradmin_roles ){
		var list = document.forms[0].roles;
		document.forms[0].useradmin_roles.disabled = true;
		for ( i = 0 ; i < list.length ; i++ ){
			if ( list.options[i].text == "Useradmin"  && list.options[i].selected ){
				document.forms[0].useradmin_roles.disabled = false;
			}
		}
	}
}

//-->
</script>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(0,'login_name'); activateUseradmin_roles(); return true">


#gui_outer_start()
#gui_head( "<? global/imcms_administration ?>" )

<table border="0" cellspacing="0" cellpadding="0">
<form method="post" action="AdminUserProps">
<input type="HIDDEN" name="CURR_USER_ID" value="#CURR_USER_ID#">
<input type="HIDDEN" name="adminTask" value="#ADMIN_TASK#">
<input type="HIDDEN" name="phone_id" value="#PHONE_ID#">
<input type="HIDDEN" name="nextUrl" value="#NEXT_URL#">
<input type="HIDDEN" name="new_pwd1" value="#NEW_PWD1#">
<input type="HIDDEN" name="new_pwd2" value="#NEW_PWD2#">
<tr>
	<td><input type="submit" class="imcmsFormBtn" name="CANCEL" value="<? templates/sv/AdminUserResp.htm/2001 ?>"></td>
	<td>&nbsp;</td>
    <td><input type="button" value="<? templates/sv/AdminUserResp.htm/2002 ?>" title="<? templates/sv/AdminUserResp.htm/2003 ?>" class="imcmsFormBtn" onClick="openHelpW(71)"></td>
</tr>
</table>
#gui_mid()

<table border="0" cellspacing="0" cellpadding="0" width="660" align="center">
<tr> 
	<td colspan="2">#gui_heading( "<? templates/sv/AdminUserResp.htm/5/1 ?>" )</td>
</tr>
<tr> 
	<td colspan="2" class="imcmsAdmText">
	<? templates/sv/AdminUserResp.htm/6 ?></td>
</tr>
<tr> 
	<td colspan="2">#gui_hr( "cccccc" )</td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? templates/sv/AdminUserResp.htm/8 ?></td>
	<td><input type="text" name="login_name" size="25" maxlength="50" value="#LOGIN_NAME#"></td>
</tr>
<tr> 
	<td class="imcmsAdmText" nowrap><? templates/sv/AdminUserResp.htm/10 ?> <span class="imcmsAdmDim"><? templates/sv/AdminUserResp.htm/11 ?></span> &nbsp;</td>
	<td> 
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><input type="password" name="password1" size="16" maxlength="15" value="#PWD1#"></td>
		<td class="imcmsAdmText" nowrap>&nbsp; <? templates/sv/AdminUserResp.htm/1001 ?> &nbsp;</td>
		<td><input type="password" name="password2" size="16" maxlength="15" value="#PWD2#"></td>
	</tr>
	</table></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? templates/sv/AdminUserResp.htm/14 ?></td>
	<td><input type="text" name="first_name" size="25" maxlength="25" value="#FIRST_NAME#"></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? templates/sv/AdminUserResp.htm/16 ?></td>
	<td><input type="text" name="last_name" size="25" maxlength="30" value="#LAST_NAME#"></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? templates/sv/AdminUserResp.htm/18 ?></td>
	<td><input type="text" name="title" size="25" maxlength="30" value="#TITLE#"></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? templates/sv/AdminUserResp.htm/20 ?></td>
	<td><input type="text" name="company" size="25" maxlength="30" value="#COMPANY#"></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? templates/sv/AdminUserResp.htm/22 ?></td>
	<td><input type="text" name="address" size="25" maxlength="30" value="#ADDRESS#"></td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? templates/sv/AdminUserResp.htm/24 ?></td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><input type="text" name="zip" size="7" maxlength="30" value="#ZIP#"></td>
		<td>&nbsp;</td>
		<td><input type="text" name="city" size="25" maxlength="30" value="#CITY#"></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td class="imcmsAdmText"><? templates/sv/AdminUserResp.htm/27 ?></td>
	<td><input type="text" name="country_council" size="25" maxlength="30" value="#COUNTRY_COUNCIL#"></td>
</tr>
<tr>
	<td class="imcmsAdmText"><? templates/sv/AdminUserResp.htm/29 ?></td>
	<td><input type="text" name="country" size="25" maxlength="30" value="#COUNTRY#"></td>
</tr>
<tr>
    <td class="imcmsAdmText"><? templates/sv/AdminUserResp.htm/30 ?></td>
    <td><select name="lang_id">#LANG_TYPES#</select></td>
</tr>
<tr>
	<td colspan="2">#gui_hr( "cccccc" )</td>
</tr>
<tr> 
	<td class="imcmsAdmText"><? templates/sv/AdminUserResp.htm/32 ?></td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
	  <select name="phonetype" size="1" >
			#PHONETYPES_MENU#
	  </select></td>
		<td>&nbsp;</td>
		<td><input type="text" name="local_code" size="16" maxlength="25" value="#NUMBER#"></td>
		<td>&nbsp;</td>
		<td><input type="submit" class="imcmsFormBtnSmall" value="<? templates/sv/AdminUserResp.htm/2004 ?>" name="ok_phones"></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td class="imcmsAdmText">&nbsp;</td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
		<select size="1" name="user_phones">
		#PHONES_MENU#
		</select></td>
		<td>&nbsp;</td>
		<td><input type="submit" class="imcmsFormBtnSmall" name="edit_phones" value="<? templates/sv/AdminUserResp.htm/2005 ?>"></td>
		<td>&nbsp;</td>
		<td><input type="submit" class="imcmsFormBtnSmall" name="delete_phones" value="<? templates/sv/AdminUserResp.htm/2006 ?>"></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td class="imcmsAdmText"><? templates/sv/AdminUserResp.htm/36 ?></td>
	<td><input type="text" name="email" size="50" maxlength="50" value="#EMAIL#"></td>
</tr>
#ADMIN_PART#
<tr>
	<td colspan="2">#gui_hr( "blue" )</td>
</tr>
<tr>
	<td colspan="2">
	<table border="0" cellspacing="0" cellpadding="0" width="656">
	<tr>
		<td class="imcmsAdmComment"><? templates/sv/AdminUserResp.htm/40 ?></td>
		<td align="right">
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td><input type="submit" class="imcmsFormBtn" name="SAVE_USER" value="<? templates/sv/AdminUserResp.htm/2007 ?>" onClick="if( !evalPrepareAdd() ) return false;"></td>
			<td>&nbsp;</td>
			<td><input type="submit" class="imcmsFormBtn" name="RESET_FORM" value="<? templates/sv/AdminUserResp.htm/2008 ?>"></td>
			<td>&nbsp;</td>
			<td><input type="submit" class="imcmsFormBtn" name="CANCEL" value="<? templates/sv/AdminUserResp.htm/2009 ?>"></td>
		</tr>
		</table></td>
	</tr>
	</table></td>
</tr>
</form>
</table>
#gui_bottom()
#gui_outer_end()


</body>
</html>

