<script language="JavaScript" type="text/javascript">
<!--



function goback()
{
	window.history.go(-1);
}
// end hiding contents -->
</script>


<html>
<head>
<title><? templates/sv/Admin_Error2.htm/1 ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<table border=0 width="350" cellpadding="3" cellspacing="0" align="center">
  <tr bgcolor="#FFFFFF"> 
    <td valign=Top colspan="2"><font face="Verdana, Arial, Helvetica, sans-serif" size="5"><font size="3" color="#000000"><? templates/sv/Admin_Error2.htm/2 ?>
      </font></font></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td valign=Top height="25" colspan="2"> <br>
      <font face="Verdana, Arial, Helvetica, sans-serif" size="2"><br>
        <b><? templates/sv/Admin_Error2.htm/3 ?>: #ERROR_MESSAGE#</b> </font> </td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td colspan="2" height="28">&nbsp;</td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td> <font size="2"> <a href="#"><font face="Verdana, Arial, Helvetica, sans-serif" onClick="goback(); return false;"><? templates/sv/Admin_Error2.htm/4 ?> 
      </font> </a></font><a href="ConfLogin?login_type=login"><font size="3"><br>
      </font></a> 
      
    <td valign="bottom" align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">#ERROR_HEADER#</font><br>
      <font size="1" face="Verdana, Arial, Helvetica, sans-serif"><? templates/sv/Admin_Error2.htm/6 ?>: #ERROR_CODE#</font>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td colspan="2"> 
  </tr>
</table>
</body>
</html>