<html>
<head>
<title><? templates/sv/change_img.html/1 ?></title>



<link rel="stylesheet" type="text/css" href="$contextPath/imcms/css/imcms_admin.css.jsp">
<script src="$contextPath/imcms/$language/scripts/imcms_admin.js" type="text/javascript"></script>

<script language="JavaScript">
<!--
var re     = /[a-z0-9\(\)\[\]_-]/i ;     // ImageName check
var reInfo = "a-z A-Z 0-9 ( ) [ ] _ -" ; // For alertBox - If error

function doClear(){
	var f = document.forms.imgProp;
	f.imageref.value            = "";
	f.image_name.value          = "";
	f.image_width.value         = "";
	f.image_height.value        = "";
	f.image_border.value        = "";
	f.keepAspectRatio.checked   = 1;
	f.image_align.selectedIndex = 0;
	f.alt_text.value            = "";
	f.low_scr.value             = "";
	f.v_space.value             = "";
	f.h_space.value             = "";
	f.imageref_link.value       = "";
	f.target[0].selectedIndex   = 0;
	f.target[1].value           = "";
	if (hasGetElementById) {
		if (document.getElementById("imgTable")) document.getElementById("imgTable").style.display = "none";
	}
}

function setDef() {
	var f = document.forms.imgProp;
	if (!hasDocumentLayers && f.imageref.value == "") f.image_align.selectedIndex = 0;
	changeLinkType(1) ;
}

function checkFileName() {
	var f = document.forms.ImageUploadForm ;
	var thePath = f.file.value ;
	var theFile = thePath;
	var isValid = true ;
	theFile = theFile.substring(theFile.lastIndexOf("/") + 1) ;
	theFile = theFile.substring(theFile.lastIndexOf("\\") + 1) ;
	theFile = theFile.substring(0, theFile.lastIndexOf(".")) ;
	theFile = unescape(theFile) ;
	for (var i = 0; i < theFile.length; i++) {
		if (!re.test(theFile.charAt(i).toString())) {
			isValid = false ;
		}
	}
	if (theFile == "") {
		alert("<? templates/sv/change_img.html/3000 ?>") ;
		return false;
	} else if (!isValid) {
		var str = "<? templates/sv/change_img.html/3001 ?>" ;
		alert(str);
		return false;
	} else {
		return true;
	}
}

/* *******************************************************************************************
 *         Image-Link functions                                                              *
 ******************************************************************************************* */

var defValues = new Array("meta_id","http://") ;

function changeLinkType(idx) {
	var f   = document.forms.imgProp ;
	var rad = f.linkType ;
	var url = f.imageref_link ;
	var val = url.value ;
	var re  = /^GetDoc\?meta_id=(\d{4,5})$/ ;
	if (val == "" || val == defValues[0] || val == defValues[1]) {
		url.value = defValues[idx] ;
		rad[idx].checked = 1 ;
	} else if (re.test(val)) {
		url.value = val.replace(re, "$1") ;
		rad[0].checked = 1 ;
	}
}

function checkLinkType() {
	var f = document.forms.imgProp ;
	var url = f.imageref_link ;
	var val = url.value ;
	if (val == defValues[0] || val == defValues[1]) {
		url.value = "" ;
	} else if (/^\d{4,5}$/.test(val)) {
		url.value = "GetDoc?meta_id=" + val ;
	}
	return true ;
}

function checkLinkOnFocus() {
	var f = document.forms.imgProp ;
	var url = f.imageref_link ;
	var val = url.value ;
	if (val == defValues[0]) {
		url.value = "" ;
	}
}

function checkLinkOnBlur() {
	var f = document.forms.imgProp ;
	var rad = f.linkType ;
	var url = f.imageref_link ;
	var val = url.value ;
	if (val == "") {
		url.value = defValues[0] ;
		rad[0].checked = 1 ;
	}
}
//-->
</script>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField('ImageUploadForm','file'); setDef();">


#gui_outer_start()
#gui_head( "<? global/imcms_administration ?>" )

<table border="0" cellspacing="0" cellpadding="0">
<tr>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<form name="backForm" action="AdminDoc">
	<input type="hidden" name="meta_id" value="#getMetaId#">
	<input type="hidden" name="flags" value="131072">
	<tr>
		<td><input type="submit" class="imcmsFormBtn" value="<? templates/sv/change_img.html/2001 ?>"></td>
	    <td>&nbsp;</td>
        <td><input type="button" value="<? templates/sv/change_img.html/2002 ?>" title="<? templates/sv/change_img.html/2003 ?>" class="imcmsFormBtn" onClick="openHelpW(72)"></td>

	</tr>
	</form>
	</table></td>
	<td>&nbsp;</td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<form name="imgbr" method="get" action="ImageBrowse">
	<input type="hidden" name="caller" value="ChangeImage">
	<input type="hidden" name="meta_id" value="#getMetaId#">
	<input type="hidden" name="img_no" value="#img_no#">
	<input type="hidden" name="label" value="#label#">
	<tr>
		<td><input type="submit" class="imcmsFormBtn" value="<? templates/sv/change_img.html/2004 ?>"></td>
	</tr>
	</form>
	</table></td>
</tr>
</table>
#gui_mid()

<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form name="ImageUploadForm" action="ImageUpload" enctype="multipart/form-data" method="POST" onSubmit="return (checkFileName()); return false">
<input type="HIDDEN" name="meta_id" value="#getMetaId#">
<input type="HIDDEN" name="img_no" value="#img_no#">
<input type="hidden" name="label" value="#label#">
<tr>
	<td colspan="2">#gui_heading( "<? templates/sv/change_img.html/4/1 ?>" )</td>
</tr>
<tr>
	<td><? templates/sv/change_img.html/5 ?></td>
	<td>
        <input type="file" name="file" id="theFile" size="54">
    </td>
</tr>
<tr>
	<td><? templates/sv/change_img.html/7 ?></td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td>
		<select name="folder" size="1">
			#folders#
		</select></td>
		<td align="right"><input type="submit" class="imcmsFormBtnSmall" name="ok" value="<? templates/sv/change_img.html/2005 ?>" style="width:110"></td>
	</tr>
	</table></td>
</tr>
</form>
<form name="imgProp" method="POST" action="SaveImage" onSubmit="return checkLinkType(); return false">
<input type="HIDDEN" name="meta_id" value="#getMetaId#">
<input type="HIDDEN" name="img_no" value="#img_no#">
<input type="HIDDEN" name="origW" value="#origW#">
<input type="HIDDEN" name="origH" value="#origH#">
<input type="HIDDEN" name="oldW" value="#imgWidth#">
<input type="HIDDEN" name="oldH" value="#imgHeight#">
<input type="hidden" name="label" value="#label#">
<tr>
	<td colspan="2">&nbsp;<br>
	#gui_heading( "<? templates/sv/change_img.html/9/1 ?>" )<div id="theLabel" class="imcmsAdmText"><i>#label#</i></div></td>
</tr>
<tr>
	<td colspan="2">
<script language="JavaScript">
<!--
var sUrl = "#imgUrl#"+"#imgRef#";
var str  = "";
if (sUrl.indexOf(".") < 0) {
	str += "<img src=\"$contextPath/imcms/$language/images/admin/1x1.gif\" width=\"1\" height=\"1\" border=\"0\" style=\"display:none\">";
} else {
	str += "<table id=\"imgTable\" border=\"0\" cellspacing=\"0\" cellpadding=\"5\" width=\"100%\">\n";
	str += "<tr>\n";
	str += "	<td align=\"center\" bgcolor=\"#ffffff\">\n";
	str += "	<img src=\"#imgUrl#"+"#imgRef#\" width=\"#imgWidth#\" height=\"#imgHeight#\" border=\"#imgBorder#\"></td>\n";
	str += "</tr>\n";
	str += "</table>";
}
document.write(str);
//-->
</script></td>
</tr>
<tr>
	<td nowrap><? templates/sv/change_img.html/12 ?></td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td><input type="text" name="imageref" size="50" maxlength="255" style="width: 350" value="#imgRef#"></td>
		<td align="right"><input type="SUBMIT" class="imcmsFormBtnSmall" name="show_img" value="<? templates/sv/change_img.html/2006 ?>" style="width:110"></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td nowrap><? templates/sv/change_img.html/14 ?></td>
	<td><input type="text" name="image_name" size="50" maxlength="255" style="width: 350" value="#imgName#"></td>
</tr>
<tr>
	<td nowrap><? templates/sv/change_img.html/16 ?></td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><? templates/sv/change_img.html/17 ?></td>
		<td>&nbsp;</td>
		<td><? templates/sv/change_img.html/18 ?></td>
		<td>&nbsp;</td>
		<td><? templates/sv/change_img.html/19 ?></td>
		<td colspan="3">&nbsp;</td>
	<tr>
		<td height="20">&nbsp;<? templates/sv/change_img.html/1001 ?></td>
		<td>&nbsp;<? templates/sv/change_img.html/1002 ?>&nbsp;</td>
		<td>&nbsp;<? templates/sv/change_img.html/1003 ?></td>
		<td>&nbsp;</td>
		<td>&nbsp;<? templates/sv/change_img.html/1004 ?></td>
		<td>&nbsp;</td>
		<td colspan="2"><? templates/sv/change_img.html/20 ?></td>
	</tr>
	<tr>
		<td><input type="text" name="image_width" size="4" maxlength="4" value="#imgWidth#"></td>
		<td>&nbsp;<? templates/sv/change_img.html/1005 ?>&nbsp;</td>
		<td><input type="text" name="image_height" size="4" maxlength="4" value="#imgHeight#"></td>
		<td>&nbsp;</td>
		<td><input type="text" name="image_border" size="4" maxlength="4" value="#imgBorder#"></td>
		<td>&nbsp;</td>
		<td><input type="checkbox" name="keepAspectRatio" value="yes" #keep_aspect#></td>
		<td> <? templates/sv/change_img.html/24 ?></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td nowrap><? templates/sv/change_img.html/25 ?></td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><input type="text" name="v_space" size="4" maxlength="4" value="#imgVerticalSpace#"></td>
		<td>&nbsp;</td>
		<td><? templates/sv/change_img.html/27 ?></td>
		<td>&nbsp; &nbsp;</td>
		<td><input type="text" name="h_space" size="4" maxlength="4" value="#imgHorizontalSpace#"></td>
		<td>&nbsp;</td>
		<td><? templates/sv/change_img.html/29 ?></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td nowrap><? templates/sv/change_img.html/30 ?></td>
	<td>
	<select name="image_align" size="1">
		<option value="none" #none_selected#><? templates/sv/change_img.html/31 ?>
		<option value="baseline" #baseline_selected#><? templates/sv/change_img.html/32 ?>
		<option value="top" #top_selected#><? templates/sv/change_img.html/33 ?>
		<option value="middle" #middle_selected#><? templates/sv/change_img.html/34 ?>
		<option value="bottom" #bottom_selected#><? templates/sv/change_img.html/35 ?>
		<option value="texttop" #texttop_selected#><? templates/sv/change_img.html/36 ?>
		<option value="absmiddle" #absmiddle_selected#><? templates/sv/change_img.html/37 ?>
		<option value="absbottom" #absbottom_selected#><? templates/sv/change_img.html/38 ?>
		<option value="left" #left_selected#><? templates/sv/change_img.html/39 ?>
		<option value="right" #right_selected#><? templates/sv/change_img.html/40 ?>
	</select></td>
</tr>
<tr>
	<td nowrap><? templates/sv/change_img.html/41 ?></td>
	<td><input type="text" name="alt_text" size="92" maxlength="255" style="width: 100%" value="#imgAltText#"></td>
</tr>
<tr>
	<td colspan="2">&nbsp;<br>#gui_heading( "<? templates/sv/change_img.html/43/1 ?>" )</td>
</tr>
<tr>
	<td nowrap>
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td rowspan="2" nowrap><? templates/sv/change_img.html/44 ?></td>
		<td><input type="radio" name="linkType" id="linkType0" value="0" onClick="changeLinkType(0);"></td>
		<td><label for="linkType0"><? templates/sv/change_img.html/4000 ?></label></td>
	</tr>
	<tr>
		<td><input type="radio" name="linkType" id="linkType1" value="1" onClick="changeLinkType(1);"></td>
		<td><label for="linkType1"><? templates/sv/change_img.html/4001 ?></label></td>
	</tr>
	</table></td>
	<td><input type="text" name="imageref_link" size="92" maxlength="255" style="width: 100%" value="#imgRefLink#" onFocus="checkLinkOnFocus()" onBlur="checkLinkOnBlur()"></td>
</tr>
<tr>
	<td nowrap><? templates/sv/change_img.html/46 ?></td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
		<select name="target" size="1">
			<option value="_top" #top_checked#><? templates/sv/change_img.html/47 ?>
			<option value="_blank" #blank_checked#><? templates/sv/change_img.html/48 ?>
			<option value="_parent" #parent_checked#><? templates/sv/change_img.html/49 ?>
			<option value="_self" #self_checked#><? templates/sv/change_img.html/50 ?>
			<option #other_checked#><? templates/sv/change_img.html/51 ?>
		</select></td>
		<td>&nbsp;&nbsp;</td>
		<td><input type="text" name="target" size="10" maxlength="20" value="#target_name#"></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td colspan="2">#gui_hr( "blue" )</td>
</tr>
<tr>
	<td colspan="2" align="right">
	<input type="SUBMIT" class="imcmsFormBtn" name="ok" value="  <? templates/sv/change_img.html/2007 ?>  ">
	<input type="button" class="imcmsFormBtn" name="Rensa" value="  <? templates/sv/change_img.html/2009 ?>  " onClick="doClear();">
	<input type="SUBMIT" class="imcmsFormBtn" name="cancel" value=" <? templates/sv/change_img.html/2008 ?> "></td>
</tr>
<tr>
	<td><img src="$contextPath/imcms/$language/images/admin/1x1.gif" width="156" height="1"></td>
	<td><img src="$contextPath/imcms/$language/images/admin/1x1.gif" width="1" height="1"></td>
</tr>
<input type="hidden" name="low_scr" value="#imgLowScr#">
</form>
</table>
#gui_bottom()
#gui_outer_end()


</body>
</html>
