<html>
<head>
<title>Error</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<table border=0 width="400" cellpadding="3" cellspacing="0" align="center">
  <tr bgcolor="#FFFFFF"> 
    <td valign=Top><font face="Verdana, Arial, Helvetica, sans-serif" size="+3"><? templates/sv/Error.html/2 ?></font></td>
  </tr>
  <tr> 
    <td valign=Top bgcolor="#FFFFFF"> <font face="Verdana, Arial, Helvetica, sans-serif"><br>
      &nbsp;<font size="2"><b>#ERROR_HEADER# </b></font></font></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td valign="top"><font face="Verdana, Arial, Helvetica, sans-serif"><br>
      <font size="2">&nbsp;<? templates/sv/Error.html/1001 ?>
      <I>&nbsp;<? templates/sv/Error.html/1002 ?></I></font><br>
      </font></td>
  </tr>
  <tr bgcolor="#FFFFFF"> 
    <td> <font face="Verdana, Arial, Helvetica, sans-serif">&nbsp;<? templates/sv/Error.html/1003 ?>
      </font>
  </tr>
</table>
</body>
</html>
