
<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form method="post" action="GetExistingDoc">
<input type="HIDDEN" name="meta_id_value" value="#meta_id#">
<input type="HIDDEN" name="doc_menu_no" value="#doc_menu_no#">
<tr> 
	<td><script>imcHeading("<? templates/sv/existing_doc_res.html/1/1 ?>",656);</script></td>
</tr>
<tr>
	<td>
	<table border="0" cellspacing="0" cellpadding="2" width="100%">
	<tr> 
		<td class="imcmsAdmText"><? templates/sv/existing_doc_res.html/2 ?></td>
		<td class="imcmsAdmText"><? templates/sv/existing_doc_res.html/3 ?></td>
		<td class="imcmsAdmText"><? templates/sv/existing_doc_res.html/4 ?></td>
		<td class="imcmsAdmText"><? templates/sv/existing_doc_res.html/5 ?></td>
		<td class="imcmsAdmText"><? templates/sv/existing_doc_res.html/6 ?></td>
		<td class="imcmsAdmText"><? templates/sv/existing_doc_res.html/7 ?></td>
		<td class="imcmsAdmText"><? templates/sv/existing_doc_res.html/8 ?></td>
	</tr>#searchResults#
	</table></td>
</tr>
<tr> 
	<td><script>hr("100%",656,"blue");</script></td>
</tr>
<tr>
	<td align="right">
	<input type="submit" class="imcmsFormBtn" value="<? templates/sv/existing_doc_res.html/2001 ?>" name="addExistingDocs">
	<input type="submit" class="imcmsFormBtn" value="<? templates/sv/existing_doc_res.html/2002 ?>" name="cancel"></td>
</tr>
</form>
</table>
