#gui_start_of_page( "<? templates/sv/existing_doc.html/1 ?>" "GetExistingDoc?meta_id_value=#meta_id#&doc_menu_no=#doc_menu_no#&page=#page#" "cancel" "LinkInternal" "" )


<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form method="post" action="GetExistingDoc">
<input type="HIDDEN" name="meta_id_value" value="#meta_id#">
<input type="HIDDEN" name="doc_menu_no" value="#doc_menu_no#">
<input type="HIDDEN" name="page" value="#page#">
</form>
</table><br><table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form method="post" action="GetExistingDoc">
<input type="HIDDEN" name="meta_id_value" value="#meta_id#">
<input type="HIDDEN" name="doc_menu_no" value="#doc_menu_no#">
<input type="HIDDEN" name="page" value="#page#">
<tr>
	<td colspan="2">#gui_heading( "<? templates/sv/existing_doc.html/5/1 ?>" )</td>
</tr>
<tr>
	<td colspan="2">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="imcmsAdmText"><? templates/sv/existing_doc.html/1002 ?>&nbsp;&nbsp;</td>
                <td><input type="text" name="searchstring" size="62" maxlength="255" style="width: 360" value="#searchstring#">&nbsp;<input type="submit" class="imcmsFormBtn" name="search" value="<? templates/sv/existing_doc.html/2007 ?>"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="imcmsAdmText" nowrap>
	              <input type="radio" id="searchPrep0" value="and" name="search_prep" #search_prep_check_and#><label for="searchPrep0">&nbsp;<? templates/sv/existing_doc.html/1003 ?></label>&nbsp;
	              <input type="radio" id="searchPrep1" value="or" name="search_prep" #search_prep_check_or#><label for="searchPrep1">&nbsp;<? templates/sv/existing_doc.html/1004 ?></label></td>
            </tr>
        </table>
    </td>
</tr>
<tr>
	<td colspan="2">#gui_hr( "cccccc" )</td>
</tr>
<tr>
	<td colspan="2">
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr valign="top">
		<!-- left -->
		<td width="50%">
		<table border="0" cellspacing="0" cellpadding="1" width="100%">
		<tr>
			<td colspan="2" class="imcmsAdmText" height="22"><? templates/sv/existing_doc.html/8 ?></td>
		</tr>
		<tr>
			<td class="imcmsAdmText"><? document_type/name/text ?>:</td>
			<td><input type="checkbox" name="doc_type" value="2" #checked_2#></td>
		</tr>
		<tr>
			<td class="imcmsAdmText"><? document_type/name/url ?>:</td>
			<td><input type="checkbox" name="doc_type" value="5" #checked_5#></td>
		</tr>
		<tr>
			<td class="imcmsAdmText"><? document_type/name/browser ?>:</td>
			<td><input type="checkbox" name="doc_type" value="6" #checked_6#></td>
		</tr>
		<tr>
			<td class="imcmsAdmText"><? document_type/name/html ?>:</td>
			<td><input type="checkbox" name="doc_type" value="7" #checked_7#></td>
		</tr>
		<tr>
			<td class="imcmsAdmText"><? document_type/name/file ?>:</td>
			<td><input type="checkbox" name="doc_type" value="8" #checked_8#></td>
		</tr>
		</table></td>
		<!-- right -->
		<td width="50%">
		<table border="0" cellspacing="0" cellpadding="1" width="100%">
		<tr>
			<td colspan="2" class="imcmsAdmText" height="22"><? templates/sv/existing_doc.html/17 ?></td>
		</tr>
		<tr>
			<td class="imcmsAdmText"><? templates/sv/existing_doc.html/18 ?></td>
			<td><input type="text" name="start_date" size="18" maxlength="16" style="width: 95" value="#start_date#"></td>
		</tr>
		<tr>
			<td class="imcmsAdmText"><? templates/sv/existing_doc.html/20 ?></td>
			<td><input type="text" name="end_date" size="18" maxlength="16" style="width: 95" value="#end_date#"></td>
		</tr>
		<tr>
			<td class="imcmsAdmText"><? templates/sv/existing_doc.html/22 ?></td>
			<td><input type="checkbox" name="include_doc" value="created" #include_check_created#></td>
		</tr>
		<tr>
			<td class="imcmsAdmText"><? templates/sv/existing_doc.html/23 ?></td>
			<td><input type="checkbox" name="include_doc" value="changed" #include_check_changed#></td>
		</tr>
		</table></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td colspan="2">#gui_hr( "blue" )</td>
</tr>
<tr>
	<td colspan="2">
	<table border="0" cellspacing="0" cellpadding="0" align="right">
	<tr>
		<td class="imcmsAdmText" nowrap><? templates/sv/existing_doc.html/1005 ?> &nbsp;</td>
		<td>
		<select name="sortBy">
			#sortBy#
		</select></td>
		<td>&nbsp;&nbsp;</td>
		<td><input type="submit" class="imcmsFormBtn" name="search" value="<? templates/sv/existing_doc.html/2007 ?>"></td>
	</tr>
	</table><br clear="all">
	#searchResults#</td>
</tr>
</form>
</table>
#gui_end_of_page()