
	<tr>
		<td colspan="7">#gui_hr( "cccccc" )</td>
	</tr>
	<tr valign="top">
		<td><input type="checkbox" name="existing_meta_id" value="#meta_id#"></td>
		<td class="imcmsAdmTextSmall"><a href="$contextPath/servlet/GetDoc?meta_id=#meta_id#" target="_blank">#meta_id#</a></td>
		<td class="imcmsAdmTextSmall"><a href="$contextPath/servlet/GetDoc?meta_id=#meta_id#" target="_blank">#meta_headline#</a></td>
		<td class="imcmsAdmTextSmall">#meta_text#</td>
		<td class="imcmsAdmTextSmall">#doc_type#</td>
		<td class="imcmsAdmTextSmall">#date_created#</td>
		<td class="imcmsAdmTextSmall">#date_modified#</td>
	</tr>
