<html>
<head>
<title><? templates/sv/file_exists.html/1 ?></title>

<link rel="stylesheet" type="text/css" href="$contextPath/imcms/css/imcms_admin.css.jsp">
<script src="$contextPath/imcms/$language/scripts/imcms_admin.js" type="text/javascript"></script>

</head>
<body bgcolor="#FFFFFF">
#gui_outer_start()
#gui_head( "<? templates/sv/file_exists.html/1 ?>" )


<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td><input type="button" value="<? global/help ?>" title="<? global/openthehelppage ?>" class="imcmsFormBtn" onClick="openHelpW(45)"></td>
    </tr>
</table>

#gui_mid()

<form METHOD="GET" ACTION="#back#">
    <input type="HIDDEN" name="meta_id" value="#meta_id#">
    <input type="HIDDEN" name="img" value="#img_no#">
    <input type="HIDDEN" name="label" value="#label#">
    <center>
    <table BORDER="0" cellpadding="0" cellspacing="0" align="center" width="400">
        <tr>
          <td align="center" class="imcmsAdmText"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="red"><? templates/sv/file_exists.html/2 ?></font></TD>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td>#gui_hr( "blue" )</td>
        </tr>
        <tr>
            <td align="right">
                <input type="SUBMIT" class="imcmsFormBtn" value="<? global/OK ?>" name="ok">
            </td>
        </tr>
    </table>
    </center>
</form>
#gui_end_of_page()