<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title><? templates/sv/no_page.html/1 ?></title>


<link rel="stylesheet" type="text/css" href="$contextPath/imcms/css/imcms_admin.css.jsp" />



</head>
<body bgcolor="#FFFFFF">

#gui_outer_start()
#gui_head( "<? templates/sv/no_page.html/1 ?>" )
<table border="0" cellspacing="0" cellpadding="0">
<tr>
	<td>
	<form action="$contextPath/servlet/StartDoc">
	<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td><input type="Submit" value="<? templates/Startpage ?>" class="imcmsFormBtn" /></td>
	</tr>
	</table>
	</form></td>
	<td>&nbsp;</td>
	<td>
	<form action="$contextPath/servlet/BackDoc">
	<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td><input type="Submit" value="<? templates/Back ?>" class="imcmsFormBtn" /></td>
	</tr>
	</table>
	</form></td>
</tr>
</table>
#gui_mid()

<table border="0" cellspacing="0" cellpadding="2" width="310">
<tr>
	<td align="center" class="imcmsAdmText"><b><? templates/sv/no_page.html/2 ?></b><br></td>
</tr>
</table>
#gui_bottom()
#gui_outer_end()


<script type="text/javascript">
<!--
if (document.forms[1]) {
	var f = document.forms[1]
	if (f.elements[0]) {
		f.elements[0].blur();
	}
}
//-->
</script>

</body>
</html>
