<html>
<head>

<title><? templates/sv/password_no_email.html/1 ?></title>

<link rel="stylesheet" href="$contextPath/imcms/css/imcms_admin.css" type="text/css">
<script src="$contextPath/imcms/$language/scripts/imcms_admin.js" type="text/javascript"></script>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(1,'name')">

#gui_outer_start()
#gui_head( "" )
<table border="0" cellspacing="0" cellpadding="0" width="310">
<form>
<tr>
	<td>
	<input type="button" class="imcmsFormBtn" style="width:90" name="Tillbaka" value="<? templates/sv/password_no_email.html/2001 ?>" onClick="top.location='StartDoc';">
	<input type="button" class="imcmsFormBtn" style="width:90" name="loginBtn" value="<? templates/sv/password_no_email.html/2002 ?>" onClick="top.location='../login/';"></td>
</tr>
</form>
</table>
#gui_mid()

<table border="0" cellspacing="0" cellpadding="2" width="310">
<tr>
	<td><? templates/sv/password_no_email.html/4 ?></td>
</tr>
</table>
#gui_bottom()
#gui_outer_end()


</body>
</html>

