<html>
<head>
<title><? templates/sv/search_doc.html/1 ?></title>

<script language="vbscript">
<!--
Sub Document_onKeyPress()
if (window.event.keyCode = 13) Then
call IEkeyDown(13)
End If
End Sub

</script>

<script language="javascript">
<!-- Original:  Ronnie T. Moore -->
<!-- Web Site:  The JavaScript Source -->

<!-- This script and many more are available free online at -->
<!-- The JavaScript Source!! http://javascript.internet.com -->

<!-- Begin
var nextfield = "question_field"; // name of first box on page
netscape = "";
ver = navigator.appVersion; len = ver.length;
for(iln = 0; iln < len; iln++) if (ver.charAt(iln) == "(") break;
netscape = (ver.charAt(iln+1).toUpperCase() != "C");

function keyDown(DnEvents) { // handles keypress
// determines whether Netscape or Internet Explorer
	k = (netscape) ? DnEvents.which : window.event.keyCode;
	//window.status = k;
	if (k == 13){ // enter key pressed
		if(!alreadySubmitted) {
		 	document.forms[0].submit();
			alreadySubmitted = true;
///alert("Subit");
		 	return true; // submit, we finished all fields
			}
		}	
}

function IEkeyDown(k) { // handles keypress
		if(!alreadySubmitted) {
		 	document.forms[0].submit();
			alreadySubmitted = true;
alert("Submit");
		 	return true;
		}
}


if (window.document.captureEvents!="null)" 
 window.document.captureEvents(Event.KEYPRESS);
 window.document.onkeypress = keyDown;

//  End -->
</script>
</head>
<body bgcolor="#FFFFFF" link="#333399" vlink="#333399" alink="#999999" leftmargin="15" topmargin="0" marginwidth="15" marginheight="0">

<table border="0" width="500" cellpadding="2" cellspacing="0">
<form method="POST" action="SearchDocuments" name="form1">
<input type="HIDDEN" name="start" value="#START#">
<tr> 
	<td><img src="$contextPath/imcms/$language/images/admin/sok.gif" width="500" height="27" align="top"></td>
</tr>
</table>
<table border="1" width="450" cellpadding="2" cellspacing="0">
<tr> 
	<td><? templates/sv/search_doc.html/2 ?></td>
</tr>
<tr> 
	<td height="46"> 
	<input type="text" name="question_field" size="65">
	<input type="submit" class="imcmsFormBtn" name="search" value="<? templates/sv/search_doc.html/2001 ?>">
	<br></td>
</tr>
<tr> 
	<td> 
	<input type="radio" name="search_prep" value="or">
	<? templates/sv/search_doc.html/3 ?></td>
</tr>
<tr> 
	<td> 
	<input type="radio" name="search_prep" value="and" checked>
	<? templates/sv/search_doc.html/4 ?></td>
</tr>
<tr> 
	<td>  
	<input type="checkbox" name="search_type" value="atc_icd10">
	<? templates/sv/search_doc.html/5 ?></td>
</tr>
<tr> 
	<td> 
	<input type="checkbox" name="string_match" value="match">
	<? templates/sv/search_doc.html/6 ?></td>
</tr>
<tr> 
	<td><br> 
	<select name="search_area" size="1">
		<option value="all" selected><? templates/sv/search_doc.html/7 ?></option>
		<option value="not_archived"><? templates/sv/search_doc.html/8 ?></option>
		<option value="archived"><? templates/sv/search_doc.html/9 ?></option>
	</select>
	<? templates/sv/search_doc.html/10 ?></td>
</tr>
</table>
<? templates/sv/search_doc.html/11 ?> 
</form>

  
<script language="javascript">
<!--
var alreadySubmitted = false;
//-->
</script>

</body>
</html>