<html>
<head>


<title><? templates/sv/AdminManager_adminTask_element.htm/10 ?></title>

<link rel="stylesheet" type="text/css" href="$contextPath/imcms/css/imcms_admin.css.jsp">
<script src="$contextPath/imcms/$language/scripts/imcms_admin.js.jsp" type="text/javascript"></script>

<script language="JavaScript">
<!--
function setSize() {
	if(isGecko) {
		document.getElementById("file").size = 85;
	} else if (hasGetElementById) {
		document.getElementById("file").style.width = 450;
	}
}
//-->
</script>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(2,'file'); setSize();">

#gui_outer_start()
#gui_head( "<? templates/sv/AdminManager_adminTask_element.htm/10 ?>" )

<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form action="AdminManager">
<tr>
	<td>
	<input type="submit" value="<? global/back ?>" title="<? global/back ?>" class="imcmsFormBtn">
	<input type="button" value="<? global/help ?>" title="<? global/help ?>" class="imcmsFormBtn" onClick="openHelpW('TemplateDemoUpload')"></td>
</tr>
</form>
<tr>
	<td class="imcmsAdmText"><? templates/sv/templatedemo_upload.html/3 ?></td>
</tr>
<form name="TemplateAdmin" action="TemplateAdmin" method="post">
<input type="HIDDEN" name="language" value="<? templates/default_lang ?>">
<tr>
	<td>
	<input type="submit" class="imcmsFormBtnSub" name="add_template" value="<? templates/sv/templatedemo_upload.html/2001 ?>">
	<input type="submit" class="imcmsFormBtnSub" name="delete_template" value="<? templates/sv/templatedemo_upload.html/2002 ?>">
	<input type="submit" class="imcmsFormBtnSub" name="rename_template" value="<? templates/sv/templatedemo_upload.html/2003 ?>">
	<input type="submit" class="imcmsFormBtnSub" name="get_template" value="<? templates/sv/templatedemo_upload.html/2004 ?>">
	<input type="submit" class="imcmsFormBtnSub" name="edit_template" value="<? templates/sv/templatedemo_upload.html/2005 ?>"><br>
	<img src="$contextPath/imcms/$language/images/admin/1x1.gif" width="1" height="2"><br>
	<input type="submit" class="imcmsFormBtnSubDisabled" name="add_demotemplate" value="<? templates/sv/templatedemo_upload.html/2006 ?>" disabled="disabled">
	<input type="submit" class="imcmsFormBtnSub" name="show_templates" value="<? templates/sv/templatedemo_upload.html/2007 ?>"></td>
</tr>
<tr>
	<td class="imcmsAdmText"><? templates/sv/templatedemo_upload.html/4 ?></td>
</tr>
<tr>
	<td>
	<input type="submit" class="imcmsFormBtnSub" name="add_group" value="<? templates/sv/templatedemo_upload.html/2008 ?>">
	<input type="submit" class="imcmsFormBtnSub" name="delete_group" value="<? templates/sv/templatedemo_upload.html/2009 ?>">
	<input type="submit" class="imcmsFormBtnSub" name="rename_group" value="<? templates/sv/templatedemo_upload.html/2010 ?>">
	<input type="submit" class="imcmsFormBtnSub" name="assign_group" value="<? templates/sv/templatedemo_upload.html/2011 ?>"></td>
</tr>
</form>
</table>
#gui_mid()

<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form method="post" action="TemplateAdd" enctype="multipart/form-data">
<input type="hidden" name="language" value="#language#">
<input type="hidden" name="demo" value="true">
<tr>
	<td colspan="2">#gui_heading( "<? templates/sv/templatedemo_upload.html/6/1 ?>" )</td>
</tr>
<tr>
	<td colspan="2">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td width="20%" class="imcmsAdmText" nowrap><? templates/sv/templatedemo_upload.html/1001 ?> &nbsp;</td>
		<td><input type="file" name="file" size="35"></td>
	</tr>
	<tr>
		<td height="24" class="imcmsAdmText" nowrap><? templates/sv/templatedemo_upload.html/1002 ?> &nbsp;</td>
		<td>
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
			<select name="template">
			#templates#
			</select></td>
			<td class="imcmsAdmText" nowrap>&nbsp; <? templates/sv/templatedemo_upload.html/1003 ?></td>
		</tr>
		</table></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td class="imcmsAdmText" height="22"><? templates/sv/templatedemo_upload.html/9 ?></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td><input type="submit" class="imcmsFormBtnSmall" name="ok" value="<? templates/sv/templatedemo_upload.html/2014 ?>" style="width:120"></td>
			<td>&nbsp;</td>
			<td><input type="submit" class="imcmsFormBtnSmall" name="view_demo" value="<? templates/sv/templatedemo_upload.html/2015 ?>" style="width:120"></td>
			<td>&nbsp;</td>
			<td><input type="submit" class="imcmsFormBtnSmall" name="delete_demo" value="<? templates/sv/templatedemo_upload.html/2016 ?>" style="width:120"></td>
		</tr>
		</table></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td colspan="2">#gui_hr( "blue" )</td>
</tr>
<tr>
	<td colspan="2" align="right">
	<input type="submit" class="imcmsFormBtn" name="cancel" value="<? templates/sv/templatedemo_upload.html/2017 ?>"></td>
</tr>
</form>
</table>
#gui_bottom()
#gui_outer_end()


</body>
</html>
