<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<title><? templates/sv/templatedemo_upload.html/1 ?></title>

<link rel="stylesheet" href="@imcmscssurl@/imcms_admin_ns.css" type="text/css">
<script src="@imcmsscripturl@/imcms_admin.js" type="text/javascript"></script>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(1,'file')">

#gui_outer_start()
#gui_head( "<? global/imcms_administration ?>" )

<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form name="TemplateAdmin" action="TemplateAdmin" method="post">
<input type="HIDDEN" name="language" value="<? templates/default_lang ?>">
<tr>
	<td colspan="2" class="imcmsAdmText"><? templates/sv/templatedemo_upload.html/3 ?></td>
</tr>
<tr>
	<td colspan="2">
	<input type="submit" class="imcmsFormBtn" name="add_template" value="<? templates/sv/templatedemo_upload.html/2001 ?>">
	<input type="submit" class="imcmsFormBtn" name="delete_template" value="<? templates/sv/templatedemo_upload.html/2002 ?>">
	<input type="submit" class="imcmsFormBtn" name="rename_template" value="<? templates/sv/templatedemo_upload.html/2003 ?>">
	<input type="submit" class="imcmsFormBtn" name="get_template" value="<? templates/sv/templatedemo_upload.html/2004 ?>">
	<input type="submit" class="imcmsFormBtn" name="edit_template" value="<? templates/sv/templatedemo_upload.html/2005 ?>"><br>
	<input type="submit" class="imcmsFormBtnDisabled" name="add_demotemplate" value="<? templates/sv/templatedemo_upload.html/2006 ?>" disabled="disabled">
	<input type="submit" class="imcmsFormBtn" name="show_templates" value="<? templates/sv/templatedemo_upload.html/2007 ?>"></td>
</tr>
<tr>
	<td colspan="2" class="imcmsAdmText"><? templates/sv/templatedemo_upload.html/4 ?></td>
</tr>
<tr>
	<td colspan="1">
	<input type="submit" class="imcmsFormBtn" name="add_group" value="<? templates/sv/templatedemo_upload.html/2008 ?>">
	<input type="submit" class="imcmsFormBtn" name="delete_group" value="<? templates/sv/templatedemo_upload.html/2009 ?>">
	<input type="submit" class="imcmsFormBtn" name="rename_group" value="<? templates/sv/templatedemo_upload.html/2010 ?>">
	<input type="submit" class="imcmsFormBtn" name="assign_group" value="<? templates/sv/templatedemo_upload.html/2011 ?>"></td>
	<td>
    <input type="button" value="<? templates/sv/templatedemo_upload.html/2012 ?>" title="<? templates/sv/templatedemo_upload.html/2013 ?>" class="imcmsFormBtn" onClick="openHelpW(23)"></td>
</tr>
</form>
</table>
#gui_mid()

<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form method="post" action="TemplateAdd" enctype="multipart/form-data">
<input type="hidden" name="language" value="#language#">
<input type="hidden" name="demo" value="true">
<tr>
	<td colspan="2"><script>imcHeading("<? templates/sv/templatedemo_upload.html/6/1 ?>",656);</script></td>
</tr>
<tr>
	<td colspan="2">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td width="20%" class="imcmsAdmText" nowrap><? templates/sv/templatedemo_upload.html/1001 ?> &nbsp;</td>
		<td><input type="file" name="file" size="85"></td>
	</tr>
	<tr>
		<td height="24" class="imcmsAdmText" nowrap><? templates/sv/templatedemo_upload.html/1002 ?> &nbsp;</td>
		<td>
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
			<select name="template">
			#templates#
			</select></td>
			<td class="imcmsAdmText" nowrap>&nbsp; <? templates/sv/templatedemo_upload.html/1003 ?></td>
		</tr>
		</table></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td class="imcmsAdmText" height="22"><? templates/sv/templatedemo_upload.html/9 ?></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
		<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td><input type="submit" class="imcmsFormBtnSmall" name="ok" value="<? templates/sv/templatedemo_upload.html/2014 ?>" style="width:120"></td>
			<td>&nbsp;</td>
			<td><input type="submit" class="imcmsFormBtnSmall" name="view_demo" value="<? templates/sv/templatedemo_upload.html/2015 ?>" style="width:120"></td>
			<td>&nbsp;</td>
			<td><input type="submit" class="imcmsFormBtnSmall" name="delete_demo" value="<? templates/sv/templatedemo_upload.html/2016 ?>" style="width:120"></td>
		</tr>
		</table></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td colspan="2"><script>hr("100%",656,"blue");</script></td>
</tr>
<tr>
	<td colspan="2" align="right">
	<input type="submit" class="imcmsFormBtn" name="cancel" value="<? templates/sv/templatedemo_upload.html/2017 ?>"></td>
</tr>
</form>
</table>
#gui_bottom()
#gui_outer_end()


</body>
</html>
