<html>
<head>


<title><? templates/sv/template_upload.html/1 ?></title>

<link rel="stylesheet" href="$contextPath/imcms/css/imcms_admin.css" type="text/css">
<script src="$contextPath/imcms/scripts/imcms_admin.js" type="text/javascript"></script>

<SCRIPT LANGUAGE="JavaScript">
<!--
function checkForName() {
	var theFile = document.forms.TemplateAdd.file.value;
	var sFileName = '';
	var re0 = /.(php|html?)$/gi;
	var re1 = /(\w+)\.(\w+)$/i;
	var re2 = /\"/g;
	sFileName = theFile.replace(re2, '');
	if (re0.test(sFileName)) {
		sFileName = sFileName.replace(re1, "$1");
		if (isMac && isIE) {
			arrFileName = sFileName.split("\/");
		} else if (isMac && isMoz) {
			arrFileName = sFileName.split(":");
		} else if (!isMac) {
			arrFileName = sFileName.split("\\");
		}
		sFileName = arrFileName[arrFileName.length-1];
		if (!/[:;\/\.\\]+/gi.test(sFileName)) {
			document.forms.TemplateAdd.name.value = sFileName;
			document.forms.TemplateAdd.overwrite.checked = 1;
		}
	}
}

function regExpTest(what,pattern) {
	var blnRetVal = (pattern.test(what)) ? true : false;
	return blnRetVal;
}

function setSize() {
	if(isGecko) {
		document.getElementById("sfile").style.width = 300;
		document.getElementById("sname").style.width = 200;
	} else if (isMoz) {
		document.getElementById("sfile").style.width = 400;
		document.getElementById("sname").style.width = 200;
	}
}

if (isMoz) {
	window.onload = setSize;
}

//-->
</SCRIPT>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(1,'file')">

#gui_outer_start()
#gui_head( "<? global/imcms_administration ?>" )

<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form name="TemplateAdmin" action="TemplateAdmin" method="post">
<input type="HIDDEN" name="language" value="<? templates/default_lang ?>">
<tr>
	<td colspan="2" class="imcmsAdmText"><? templates/sv/template_upload.html/3 ?></td>
</tr>
<tr>
	<td colspan="2">
	<input type="submit" class="imcmsFormBtnDisabled" name="add_template" value="<? templates/sv/template_upload.html/2001 ?>" disabled="disabled">
	<input type="submit" class="imcmsFormBtn" name="delete_template" value="<? templates/sv/template_upload.html/2002 ?>">
	<input type="submit" class="imcmsFormBtn" name="rename_template" value="<? templates/sv/template_upload.html/2003 ?>">
	<input type="submit" class="imcmsFormBtn" name="get_template" value="<? templates/sv/template_upload.html/2004 ?>">
	<input type="submit" class="imcmsFormBtn" name="edit_template" value="<? templates/sv/template_upload.html/2005 ?>"><br>

	<input type="submit" class="imcmsFormBtn" name="add_demotemplate" value="<? templates/sv/template_upload.html/2006 ?>">
	<input type="submit" class="imcmsFormBtn" name="show_templates" value="<? templates/sv/template_upload.html/2007 ?>"></td>
</tr>
<tr>
	<td colspan="2" class="imcmsAdmText"><? templates/sv/template_upload.html/4 ?></td>
</tr>
<tr>
	<td colspan="1">
	<input type="submit" class="imcmsFormBtn" name="add_group" value="<? templates/sv/template_upload.html/2008 ?>">
	<input type="submit" class="imcmsFormBtn" name="delete_group" value="<? templates/sv/template_upload.html/2009 ?>">
	<input type="submit" class="imcmsFormBtn" name="rename_group" value="<? templates/sv/template_upload.html/2010 ?>">
	<input type="submit" class="imcmsFormBtn" name="assign_group" value="<? templates/sv/template_upload.html/2011 ?>"></td>
	<td>
    <input type="button" value="<? templates/sv/template_upload.html/2012 ?>" title="<? templates/sv/template_upload.html/2013 ?>" class="imcmsFormBtn" onClick="openHelpW(22)"></td>
</tr>
</form>
</table>
#gui_mid()

<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form name="TemplateAdd" method="post" action="TemplateAdd" enctype="multipart/form-data">
<input type="HIDDEN" name="language" value="#language#">
<tr>
	<td colspan="2">#gui_heading( "<? templates/sv/template_upload.html/6/1 ?>" )</td>
</tr>
<tr>
	<td width="20%" class="imcmsAdmText" nowrap><? templates/sv/template_upload.html/1001 ?> &nbsp;</td>
	<td><input type="file" name="file" id="sfile" size="85"></td>
</tr>
<tr>
	<td class="imcmsAdmText" nowrap><? templates/sv/template_upload.html/1002 ?> &nbsp;</td>
	<td>
	<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td><input type="text" name="name" id="sname" size="45" maxlength="255"></td>
		<td>&nbsp;</td>
		<td nowrap>
		<script language="JavaScript">
		<!--
		if (isMoz || isNS) {
			document.write("<input type=\"button\" class=\"imcmsFormBtnSmall\" onClick=\"checkForName()\" value=\"&laquo;&nbsp;<? templates/sv/template_upload.html/2020 ?>\">");
		}
		//-->
		</script></td>
	</tr>
	</table></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><input type="checkbox" name="overwrite"></td>
		<td class="imcmsAdmText"><? templates/sv/template_upload.html/10 ?></td>
	</tr>
	</table></td>
</tr>
<tr>
  <td class="imcmsAdmText"><? templates/sv/template_upload.html/11 ?></td>
  <td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
		<select name="templategroup" size="5" multiple>
		#templategroups#
		</select></td>
		<td>&nbsp;&nbsp;</td>
		<td class="imcmsAdmDim"><? templates/sv/template_upload.html/13 ?></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td colspan="2">#gui_hr( "blue" )</td>
</tr>
<tr>
  <td colspan="2" align="right">
	<input type="submit" class="imcmsFormBtn" name="ok" value="<? templates/sv/template_upload.html/2014 ?>">
	<input type="submit" class="imcmsFormBtn" name="cancel" value="<? templates/sv/template_upload.html/2015 ?>"></td>
</tr>
</form>
</table>
#gui_bottom()
#gui_outer_end()


</body>
</html>
