<html>
<head>
<title>Redigera readrunner-inställningar för användare</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff">

<form method="POST" action="AdminUserReadrunner">
<input type="hidden" name="user_id" value="#user_id#">
<table width="550" border="0" cellspacing="0" bgcolor="#bababa">
<tr bgcolor="#333366">
	<td width="5%">&nbsp;</td>
	<td colspan="2" align="center"><font face="Verdana, Arial, Helvetica, sans-serif" color="#ffffff" size="2"><b>Redigera readrunner-inställningar för användare</font></b></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td colspan="4">&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>Förbrukat antal användningar:</td>
	<td><input type="text" name="uses" value="#uses#" size="6"></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>Max antal användningar:</td>
	<td><input type="text" name="max_uses" value="#max_uses#" size="6"></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>Skicka varnings-e-post när följande antal procent återstår:</td>
	<td><input type="text" name="max_uses_warning_threshold" value="#max_uses_warning_threshold#" size="6">%</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td colspan="2"><hr></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>Sista tillåtna användningsdag (ÅÅÅÅ-MM-DD):</td>
	<td><input type="text" name="expiry_date" value="#expiry_date#" size="10" maxlength="10"></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>Skicka varnings-e-post när följande antal dagar återstår:</td>
	<td><input type="text" name="expiry_date_warning_threshold" value="#expiry_date_warning_threshold#" size="3"></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td colspan="2"><hr></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td colspan="2">
	  <input type="submit" name="ok"     value="Spara">
	  <input type="submit" name="cancel" value="Avbryt">
	</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td colspan="4">&nbsp;</td>
</tr>
</table>
</form>
</body>
</html>
