<html>
<head>
<title><? sv/readrunner/adminreadrunneruser_user.html/1 ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#ffffff">

<form method="POST" action="AdminUserReadrunner">
<input type="hidden" name="user_id" value="#user_id#">
<input type="hidden" name="expiry_date_warning_sent" value= "#expiry_date_warning_sent#">
<table width="550" border="0" cellspacing="0" bgcolor="#bababa">
<tr bgcolor="#333366">
	<td width="5%">&nbsp;</td>
	<td colspan="2" align="center"><font face="Verdana, Arial, Helvetica, sans-serif" color="#ffffff" size="2"><? sv/readrunner/adminreadrunneruser_user.html/2 ?></font></b></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td colspan="4">&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><? sv/readrunner/adminreadrunneruser_user.html/3 ?></td>
	<td><input type="text" name="uses" value="#uses#" size="6" readonly></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><? sv/readrunner/adminreadrunneruser_user.html/4 ?></td>
	<td><input type="text" name="max_uses" value="#max_uses#" size="6" readonly></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><? sv/readrunner/adminreadrunneruser_user.html/5 ?></td>
	<td><input type="text" name="max_uses_warning_threshold" value="#max_uses_warning_threshold#" size="6" readonly><? sv/readrunner/adminreadrunneruser_user.html/6 ?></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td colspan="2"><hr></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><? sv/readrunner/adminreadrunneruser_user.html/7 ?></td>
	<td><input type="text" name="expiry_date" value="#expiry_date#" size="10" maxlength="10" readonly></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><? sv/readrunner/adminreadrunneruser_user.html/8 ?></td>
	<td><input type="text" name="expiry_date_warning_threshold" value="#expiry_date_warning_threshold#" size="3" readonly></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td colspan="2"><hr></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td colspan="2">
	  <input type="submit" name="cancel" value="<? sv/readrunner/adminreadrunneruser_user.html/2001 ?>">
	</td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td colspan="4">&nbsp;</td>
</tr>
</table>
</form>
</body>
</html>
