<html>
<!-- template: readrunner/AdminUserResp.htm  -->
<head>
<title><? sv/readrunner/AdminUserResp.htm/1 ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language=javascript>
<? sv/readrunner/AdminUserResp.htm/2 ?>
</script>
</head>
<body bgcolor="#ffffff" onload="activateUseradmin_roles(); return true">


<form method="post" action="AdminUserProps">
<input type="HIDDEN" name="CURR_USER_ID" value="#CURR_USER_ID#">
<input type="HIDDEN" name="adminTask" value="#ADMIN_TASK#">
<input type="HIDDEN" name="phone_id" value="#PHONE_ID#">
<input type="HIDDEN" name="nextUrl" value="#NEXT_URL#">
<input type="HIDDEN" name="new_pwd1" value="#NEW_PWD1#">
<input type="HIDDEN" name="new_pwd2" value="#NEW_PWD2#">

<table width="550" border="0" cellspacing="0" bgcolor="#bababa">
<tr bgcolor="#333366">
	<td width="5%">&nbsp;</td>
	<td colspan="3" align="center">
	<font face="Verdana, Arial, Helvetica, sans-serif" color="#ffffff" size="2"><? sv/readrunner/AdminUserResp.htm/3 ?></font></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td colspan="5">&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td colspan="3"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/readrunner/AdminUserResp.htm/4 ?></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td colspan="3"><hr></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/readrunner/AdminUserResp.htm/5 ?></font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/readrunner/AdminUserResp.htm/6 ?></font></td>
	<td nowrap><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><input name="login_name" size="25" value="#LOGIN_NAME#" maxlength="50"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/readrunner/AdminUserResp.htm/7 ?></font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/readrunner/AdminUserResp.htm/8 ?></font></td>
	<td nowrap><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><input type="password" name="password1" size="25" value="#PWD1#" maxlength="15">
	&nbsp;<? sv/readrunner/AdminUserResp.htm/1001 ?></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/readrunner/AdminUserResp.htm/9 ?></font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/readrunner/AdminUserResp.htm/10 ?></font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><input type="password" name="password2" size="25" value="#PWD2#" maxlength="15"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/readrunner/AdminUserResp.htm/11 ?></font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/readrunner/AdminUserResp.htm/12 ?></font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><input name="first_name" size="25" value="#FIRST_NAME#" maxlength="25"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/readrunner/AdminUserResp.htm/13 ?></font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/readrunner/AdminUserResp.htm/14 ?></font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><input name="last_name" size="25" value="#LAST_NAME#" maxlength="30"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/readrunner/AdminUserResp.htm/15 ?></font></td>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><input name="title" size="25" value="#TITLE#" maxlength="30"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/readrunner/AdminUserResp.htm/16 ?></font></td>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><input name="company" size="25" value="#COMPANY#" maxlength="30"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/readrunner/AdminUserResp.htm/17 ?></font></td>
	<td><font size="2">&nbsp;</font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><input name="address" size="25" value="#ADDRESS#" maxlength="40"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/readrunner/AdminUserResp.htm/18 ?></font></td>
	<td><font size="2">&nbsp;</font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><input name="zip" size="25" value="#ZIP#" maxlength="30"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/readrunner/AdminUserResp.htm/19 ?></font></td>
	<td><font size="2">&nbsp;</font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><input name="city" size="25" value="#CITY#" maxlength="30"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif" ><? sv/readrunner/AdminUserResp.htm/20 ?></font></td>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif" >
	<select name="phonetype" size="1" >
	<? sv/readrunner/AdminUserResp.htm/21 ?>
</select>
	<input name="local_code" size="16" value="#NUMBER#" maxlength="25">
	<input type="submit" value="<? sv/readrunner/AdminUserResp.htm/2001 ?>" name="ok_phones"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
	<select size="1" name="user_phones">
	<? sv/readrunner/AdminUserResp.htm/22 ?>
	</select></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><input type="submit" name="edit_phones" value="<? sv/readrunner/AdminUserResp.htm/2002 ?>">
	<input type="submit" value="<? sv/readrunner/AdminUserResp.htm/2003 ?>" name="delete_phones"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/readrunner/AdminUserResp.htm/23 ?></font></td>
	<td><font size="2">&nbsp;</font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><input name="country_council" size="25" value="#COUNTRY_COUNCIL#" maxlength="30"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/readrunner/AdminUserResp.htm/24 ?></font></td>
	<td><font size="2">&nbsp;</font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><input name="country" size="25" value="#COUNTRY#" maxlength="30"></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? sv/readrunner/AdminUserResp.htm/25 ?></font></td>
	<td><font size="2">&nbsp;</font></td>
	<td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><input name="email" size="25" value="#EMAIL#" maxlength="50"></font></td>
	<td>&nbsp;</td>
</tr>

	<? sv/readrunner/AdminUserResp.htm/26 ?>

<tr>
	<td>&nbsp;</td>
	<td width="449" colspan="3"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">
	&nbsp;<? sv/readrunner/AdminUserResp.htm/1002 ?></font></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td colspan="3"><hr></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td colspan="3">
	<input type="submit" name="SAVE_USER" value="<? sv/readrunner/AdminUserResp.htm/2004 ?>" onClick="if( !evalPrepareAdd() ) return false;">
	<input type="submit" name="RESET_FORM" value="<? sv/readrunner/AdminUserResp.htm/2005 ?>">
	<input type="submit" name="CANCEL" value="<? sv/readrunner/AdminUserResp.htm/2006 ?>">&nbsp; <a href="@documentationurl@/GetDoc?meta_id=71" target="_blank"><img src="@imcmsimageurllang@/admin/btn_help_round.gif" width="19" border="0" alt="<? sv/readrunner/AdminUserResp.htm/2007 ?>"></a>
	<input type="submit" name="READRUNNER_SETTINGS" value="<? sv/readrunner/AdminUserResp.htm/2008 ?>"></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td colspan="5">&nbsp;</td>
</tr>
</table>
</form>
<p></p>
</body>
</html>

