@import "variables";

@font-face {
    font-family: "Source Sans Pro";
    src: url("#{$context-path}/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("#{$context-path}/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("#{$context-path}/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf") format("truetype");
    font-weight: 700;
}
