@import "variables";

.imcms-editor-area__text-toolbar .text-toolbar-wrapper,
.mce-tinymce.mce-tinymce-inline.mce-container.mce-panel {
    border: 0 !important; /* this should be important, inline styles need to be overwritten */
    width: 100% !important; /* this should be important, inline styles need to be overwritten */
}

.mce-btn-group {
    float: left;
    border-left: 0 !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    border-right: 1px;
    padding-right: 3px;
    margin-right: 3px;
}

.imcms-editor-area__text-toolbar {
    border-radius: 5px 5px 0 0;
}

.imcms-editor-area__text-toolbar .text-toolbar__button {
    display: inline-block;
    width: 24px;
    margin-right: 2px;
}

.imcms-editor-area__text-toolbar .text-toolbar__button--active {
    cursor: not-allowed;
    background-color: #ebebeb;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    border-color: #ccc;
}

.imcms-editor-area__text-toolbar .text-toolbar__button--active,
.imcms-editor-area__text-toolbar .text-toolbar__button--disabled {
    opacity: .4;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:focus:-moz-placeholder {
    opacity: 0;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
    opacity: 0;
}

/* FF 19+ */
input:focus:-ms-input-placeholder {
    opacity: 0;
}

/* IE 10+ */
.imcms-editor-area__text-toolbar .text-toolbar__button .text-toolbar__icon {
    height: 100%;
    width: 100%;
}

.text-toolbar-wrapper {
    background-color: white;
    display: none;
    padding: 5px 0 5px 1px;
    height: 25px;
	/*bootstrap conflicts with imcms styles so we need this style*/
	box-sizing: content-box;
}

.text-toolbar__button {
    cursor: pointer;
    border: 1px solid transparent;
	/*bootstrap conflicts with imcms styles so we need this style*/
	background-color: white;
}

.text-toolbar__button:hover {
    background-color: #f2f2f2;
    border-color: #ccc;
}

.imcms-editor-area--active .text-toolbar-wrapper {
    display: inline-flex;
}

.imcms-editor-area__text-toolbar .mce-i-imcms-image--in-text-editor-icon {
    background: url("#{$context-path}/imcms/images/text_editor/ic_images.png") no-repeat;
}

.imcms-editor-area__text-toolbar .mce-i-switch-to-html-mode-icon,
.imcms-editor-area__text-toolbar .mce-i-imcms-w3c-text-validation-icon {
    padding-top: 2px;
}

.imcms-editor-area__text-toolbar .text-toolbar__button .html-validation-button__icon.imcms-w3c-text-validation-processing-icon,
.imcms-editor-area__text-toolbar .mce-i-imcms-w3c-text-validation-processing-icon {
    background: url("#{$context-path}/imcms/images/ic_loader.gif") no-repeat center;
}

.imcms-editor-area__text-toolbar .text-toolbar__button .html-validation-button__icon.imcms-w3c-text-validation-valid-icon,
.imcms-editor-area__text-toolbar .mce-i-imcms-w3c-text-validation-valid-icon {
    background: url("#{$context-path}/imcms/images/text_editor/ic_valid.png") no-repeat center;
}

.imcms-editor-area__text-toolbar .text-toolbar__button .html-validation-button__icon.imcms-w3c-text-validation-invalid-icon,
.imcms-editor-area__text-toolbar .mce-i-imcms-w3c-text-validation-invalid-icon {
    background: url("#{$context-path}/imcms/images/text_editor/ic_invalid.png") no-repeat center;
}

.text-editor-fullscreen-button__icon {
    background: url("#{$context-path}/imcms/images/text_editor/ic_fullscreen.png") no-repeat center;
}

.imcms-editor-area__text-toolbar .mce-i-imcms-discard-changes-icon,
.imcms-editor-area__text-toolbar .text-editor-discard-changes-button__icon {
    background: url("#{$context-path}/imcms/images/text_editor/ic_cancel.png") no-repeat center;
}

.imcms-editor-area__text-toolbar .mce-i-html-filtering-policy-icon,
.imcms-editor-area__text-toolbar .html-filtering-policy-button__icon {
    background: url("#{$context-path}/imcms/images/text_editor/ic_filter.png") no-repeat center;
}

.imcms-editor-area__text-toolbar .mce-i-imcms-discard-changes-icon {
    margin-top: 1px;
}

.text-editor-save-button__icon {
    background: url("#{$context-path}/imcms/images/text_editor/ic_save.png") no-repeat center;
}

.imcms-editor-area__text-toolbar .text-history-button__icon,
.imcms-editor-area__text-toolbar .mce-i-imcms-text-history-icon {
    background: url("#{$context-path}/imcms/images/text_editor/text_history.png") no-repeat center;
}

.imcms-editor-area__text-toolbar .switch-to-plain-text-button__icon,
.imcms-editor-area__text-toolbar .mce-i-switch-to-plain-text-icon {
    background: url("#{$context-path}/imcms/images/text_editor/ic_plain_text.png") no-repeat center;
}

.imcms-editor-area__text-toolbar .switch-to-html-mode-button__icon,
.imcms-editor-area__text-toolbar .mce-i-switch-to-html-mode-icon {
    background: url("#{$context-path}/imcms/images/text_editor/ic_html.png") no-repeat center;
}

.imcms-editor-area__text-toolbar .switch-to-text-editor-button__icon,
.imcms-editor-area__text-toolbar .mce-i-switch-to-text-editor-icon {
    background: url("#{$context-path}/imcms/images/text_editor/ic_text_editor.png") no-repeat center;
}

.imcms-editor-area__text-toolbar .mce-i-switch-to-text-editor-icon,
.imcms-editor-area__text-toolbar .mce-i-switch-to-plain-text-icon,
.imcms-editor-area__text-toolbar .text-toolbar__button .text-toolbar__icon,
.imcms-editor-area__text-toolbar .mce-i-imcms-image--in-text-editor-icon,
.imcms-editor-area__text-toolbar .mce-i-imcms-w3c-text-validation-processing-icon,
.imcms-editor-area__text-toolbar .mce-i-imcms-w3c-text-validation-valid-icon,
.imcms-editor-area__text-toolbar .mce-i-imcms-w3c-text-validation-invalid-icon,
.imcms-editor-area__text-toolbar .mce-i-imcms-discard-changes-icon,
.imcms-editor-area__text-toolbar .mce-i-html-filtering-policy-icon,
.imcms-editor-area__text-toolbar .text-history-button__icon,
.imcms-editor-area__text-toolbar .mce-i-imcms-text-history-icon {
    padding-top: 2px;
    background-size: 16px;
	/*bootstrap conflicts with imcms styles so we need this style*/
	border: 0;
}

.imcms-editor-area__text-toolbar .text-toolbar__button .html-validation-button__icon.imcms-w3c-text-validation-valid-icon,
.imcms-editor-area__text-toolbar .text-toolbar__button .html-validation-button__icon.imcms-w3c-text-validation-invalid-icon {
    background-size: 20px;
}

.imcms-editor-area__text-toolbar .text-toolbar__button .html-validation-button__icon,
.imcms-editor-area__text-toolbar .mce-i-imcms-w3c-text-validation-icon {
    background: url("#{$context-path}/imcms/images/text_editor/ic_w3c.png") no-repeat center;
    background-size: 24px;
}

.w3c-validation-result .imcms-pop-up-modal__body {
	overflow-y: auto;
    height: 85%;
    background-color: ghostwhite;
}

.w3c-validation-result .imcms-pop-up-modal__footer {
    padding:0 !important;
    width: 100%;
    height: 10%;
}


.w3c-validation-result .imcms-footer__buttons{
	padding: 0.5% 5% 0 0;
}

.w3c-validation-result .imcms-w3c-errors {
    padding: 20px;
}

.w3c-validation-result .imcms-w3c-errors h2 {
    padding-bottom: 10px;
    font-size: 30px;
}

.w3c-validation-result .imcms-w3c-error > div:first-child {
    font-weight: bold;
}

.w3c-validation-result .imcms-w3c-error > div:last-child,
.w3c-validation-result .imcms-w3c-error code {
    padding: 10px !important;
}

.w3c-validation-result {
    z-index: 65536;
}

.w3c-validation-result + .imcms-modal-layout {
    z-index: 65535;
}

.mce-tooltip {
    margin-left: 6px;
    margin-top: 8px;
}

.imcms-mce-fullscreen-inline {
    background-color: white;
    position: fixed !important;
    top: 82px !important;
    left: 0 !important;
    width: 100% !important;
    height: calc(100% - 33px) !important;
    z-index: 9400 !important;
    padding: 2% !important;
    overflow: auto !important;
    outline: none;
}

.title-url-text-editor {
    display: block;
    color: #fff !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px 5px 30px;

    max-width: 100%;
    white-space: nowrap;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-decoration: underline;
}

.mce-fullscreen-toolbar {
    height: 33px !important;
    position: fixed !important;
    top: 50px !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 9500 !important;
}

.mce-fullscreen-toolbar .mce-tinymce.mce-tinymce-inline.mce-container.mce-panel {
    top: -1px !important;
    height: 30px !important;
    display: block !important;
}

.mce-fullscreen-toolbar .mce-tinymce.mce-tinymce-inline.mce-container.mce-panel .mce-container-body.mce-abs-layout,
.mce-fullscreen-toolbar .mce-tinymce.mce-tinymce-inline.mce-container.mce-panel .mce-container-body.mce-abs-layout .mce-toolbar-grp.mce-container.mce-panel.mce-abs-layout-item.mce-first.mce-last,
.mce-fullscreen-toolbar .mce-tinymce.mce-tinymce-inline.mce-container.mce-panel .mce-container-body.mce-abs-layout .mce-toolbar-grp.mce-container.mce-panel.mce-abs-layout-item.mce-first.mce-last .mce-container-body.mce-stack-layout {
    height: 30px !important;
    width: 100% !important;
}

.mce-panel,
.text-toolbar-wrapper {
    background-color: #8bc7e4 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

textarea.imcms-editor-content--text,
input.imcms-editor-content--text {
    resize: none;
    border: none;
    width: 100%;
    overflow: hidden;
}

div.imcms-editor-content--text {
	padding-top: 1px;
}

.imcms-editor-content--text:focus {
    outline: 1px dotted #333;
}

.imcms-editor-content--text.mce-content-body {
    position: sticky;
}

.filtering-policies {
    z-index: 65536;
    margin-top: 2px;
    position: absolute;
    background-color: aliceblue;
    border: 1px solid #2faef4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
}

.filtering-policies .settings-section__setting {
    margin: 1px;
}

.mce-container-body.mce-abs-layout {
    overflow: unset;
}

.mce-container .filtering-policies {
    margin-top: 1px;
}

.mce-container .settings-section__setting--enabled {
    margin-left: 1px;
    background-color: #f0f0f0;
}

.filtering-policies__policy {
    display: flex;
}

.mce-container .settings-section__setting {
    padding: 5px;
    cursor: pointer;
}

.mce-floatpanel {
    position: absolute !important;
}

.imcms-editor-toolbar__fullscreen {
    background-color: #389ecf;
    display: none;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 9500 !important;
}
