@import "variables";

.standalone-editor-body .imcms-editor-window {
    top: 50px;
    height: calc(100% - 50px);
}

.standalone-editor-body .mce-fullscreen-toolbar {
    top: 50px !important;
}

.standalone-editor-body .imcms-editor-content--text{
    top: 80px !important;
    height: calc(100% - 80px) !important;
}

.imcms-editor-toolbar {
    height: 50px;
    background-color: #389ECF;
}

.imcms-editor-toolbar-panel__item {
    display: block;
    float: left;
    margin-right: 30px;
    height: 40px;

    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 3;
}

.imcms-editor-toolbar-panel__item .imcms-flag {
    margin-right: 53px;
}

.imcms-editor-toolbar-panel__item .imcms-select .imcms-flag{
	margin-right: 0;
}

.imcms-editor-toolbar-panel__item .imcms-select .imcms-flag{
	margin-right: 0;
}

.imcms-editor-toolbar-panel__item .imcms-flag--en:after,
.imcms-editor-toolbar-panel__item .imcms-flag--sw:after {
    display: block;
}

.imcms-editor-toolbar-panel--small .imcms-panel__item,
.imcms-editor-toolbar-panel--small .imcms-editor-toolbar-panel__item,
.imcms-editor-toolbar-panel--small .imcms-editor-toolbar-panel__item .imcms-flag {
    margin-top: 0;
    margin-bottom: 0;
}

.imcms-editor-toolbar-panel--close-button{
    float: right;
    margin-right: 5px;
}

.imcms-standalone-editor-toolbar__logo {
  background: url("#{$context-path}/imcms/images/icon_logo_main_black.png") no-repeat 0 0;
  background-size: contain;
  text-indent: -99999px;
  display: block;
  width: 115px;
  margin: 5px 0 0 5px;
}

@media screen and (max-width: 1800px) {
    .imcms-editor-toolbar-panel__item .imcms-flag {
        margin-right: 35px;
    }
}

@media screen and (max-width: 1300px) {
    .imcms-editor-toolbar-panel__item .imcms-flag {
	    overflow: hidden;
	    margin-right: 0;
    }

	.imcms-editor-toolbar-panel__item .imcms-select .imcms-flag {
		overflow: visible;
		margin-right: 0;
	}

    .imcms-editor-toolbar-panel__item .imcms-flag:after {
        display: none;
    }
}

@media screen and (max-width: 910px) {	.imcms-editor-toolbar-panel__item{
	margin-right: 5px;
}
    .imcms-editor-toolbar-panel__item .imcms-flag {
    }
}

@media screen and (max-width: 830px) {
	.imcms-editor-toolbar-panel__item .imcms-flag {
	}
}
