.imcms-document-profile-select-window {
    -webkit-box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    overflow: hidden;
    position: fixed;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -180px;
    height: auto;
    width: 400px;
    z-index: 10005;
}

.imcms-document-profile-select-window__body {
    background-color: #f3f5f7;
    display: block;
    padding: 25px 20px 0 20px;
    width: 100%;
}

.imcms-document-profile-select-window__head .imcms-head__logo {
    display: none;
}

.imcms-document-profile-select-window__body .imcms-document-profile__parent-select .imcms-parent-select__text-box {
    padding: 10px 0;
}

.imcms-document-profile-select-window__footer {
    width: 100%;
    background-color: #f3f5f7;
    display: block;
    padding-top: 17px;
}

.imcms-document-profile-select-window__body .imcms-document-profile__parent-select .imcms-parent-select__text-box .imcms-input {
    width: 100%;
}

.imcms-document-profile-select-window__body .imcms-document-profile__choose-the-way .new-doc-parent-options__title {
    padding-bottom: 15px;
    word-break: break-word;
}
