.imcms-pop-up-modal {
    -webkit-box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    display: none;
    overflow: hidden;
    position: fixed;
    top: -webkit-calc(50% - 360px);
    top: -moz-calc(50% - 360px);
    top: -ms-calc(50% - 360px);
    top: -o-calc(50% - 360px);
    top: calc(50% - 360px);
    left: -webkit-calc(50% - 475px);
    left: -moz-calc(50% - 475px);
    left: -ms-calc(50% - 475px);
    left: -o-calc(50% - 475px);
    left: calc(50% - 475px);
    z-index: 10003;
    height: 720px;
    width: 950px;
    transition: 0.12s;
}

@media screen and (max-width: 950px) {
    .imcms-pop-up-modal {
        left: -webkit-calc(50% - 425px);
        left: -moz-calc(50% - 425px);
        left: -ms-calc(50% - 425px);
        left: -o-calc(50% - 425px);
        left: calc(50% - 425px);
        height: 720px;
        width: 850px;
    }
}

@media screen and (max-width: 850px) {
    .imcms-pop-up-modal {
        left: -webkit-calc(50% - 375px);
        left: -moz-calc(50% - 375px);
        left: -ms-calc(50% - 375px);
        left: -o-calc(50% - 375px);
        left: calc(50% - 375px);
        height: 720px;
        width: 750px;
    }

    .imcms-pop-up-modal .imcms-link-button .imcms-link-icon{
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .imcms-pop-up-modal {
        left: calc(50% - 335px);
        height: 700px;
        width: 670px;
    }

    .imcms-pop-up-modal__footer{
        padding: 27px 5px !important;
    }
}

@media screen and (max-width: 675px) {
    .imcms-pop-up-modal {
        transform: scale(0.9);
    }
}

@media screen and (max-width: 600px) {
    .imcms-pop-up-modal {
        transform: scale(0.85);
    }
}

@media screen and (max-width: 570px) {
    .imcms-pop-up-modal {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 535px) {
    .imcms-pop-up-modal {
        transform: scale(0.75);
    }
}

@media screen and (max-width: 500px) {
    .imcms-pop-up-modal {
        transform: scale(0.7);
    }
}

.imcms-head__toolbar .imcms-buttons__button{
    margin-top: 0;
}

.imcms-head__toolbar .imcms-button--close:after,
.imcms-head__toolbar .imcms-button--close:before{
    width: 1px;
}

.imcms-modal-size--auto {
    top: 5vh;
    left: 5vw;
    height: 90vh;
    width: 90vw;
    transition: 0.12s;
}

.imcms-modal-size--maximize {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: 0.12s;
}

.imcms-pop-up-modal__left-side {
    background-color: #fff;
    position: relative;
}

.imcms-pop-up-modal__right-side {
    background-color: #f3f5f7;
}

.imcms-pop-up-modal__footer {
    background-color: #f3f5f7;
}

.imcms-pop-up-modal__footer .loading-animation {
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
    float: right;
    margin-left: 8px;
}

.imcms-pop-up-modal__footer .loading-animation::before{
    left: 0;
    top: 0;
    width: 75%;
    height: 75%;
}

@media screen and (max-width: 750px){
    .imcms-pop-up-modal__footer .imcms-button--save{
        max-width: 249px;
    }
}

.imcms-modal-window__modal-body .imcms-checkbox__label {
    width: auto;
    left: 25%;
    margin-top: 50px;
}
