/* Custom reset */
body {
    position: relative;
    -webkit-transition: top .3s;
    -moz-transition: top .3s;
    -ms-transition: top .3s;
    -o-transition: top .3s;
    transition: top .3s .1s;
}

*[class^="imcms-"],
*[class^="imcms-"]:before,
*[class^="imcms-"]:after {
    box-sizing: border-box;
}

.imcms-originally-img-area > img {
    max-width: none;
}

a[class^="imcms"],
a[class^="imcms"]:hover,
a[class^="imcms"]:focus,
a[class^="imcms"]:visited,
a[class^="imcms"]:active {
    color: #2f4047;
    cursor: pointer;
    text-decoration: none;
}

ul[class^="imcms-"] {
    margin: 0;
    padding: 0;
    list-style: none;
}