@import "variables";

.imcms-flag {
    border: none;
    border-radius: 0;
    cursor: pointer;
    opacity: 0.5;
    outline: none;
    display: inline-block;
    padding: 0 0 0 40px;
    position: relative;
    width: 29px;
    height: 17px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-transform: uppercase;
    color: #2e3f47;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
}

.imcms-flag--en {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_en_active.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--sv {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_sw_active.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--se {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_sme.png") no-repeat left top;
    background-size: 29px 17px;
}


.imcms-flag--be {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_be.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--bs {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_ba.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--bg {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_bg.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--zh {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_cn.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--hr {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_hr.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--cs {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_cz.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--da {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_dk.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--nl {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_nl.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--et {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_ee.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--fi {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_fi.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--fr {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_fr.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--de {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_de.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--el {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_gr.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--hu {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_hu.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--ga {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_ie.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--is {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_is.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--it {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_it.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--ja {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_jp.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--kk {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_kz.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--lb {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_lu.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--lt {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_lt.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--lv {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_lv.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--mn {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_mn.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--no {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_no.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--pl {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_pl.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--pt {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_pt.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--ro {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_ro.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--ru {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_ru.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--sr {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_rs.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--gb {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_gb-sct.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--sk {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_sk.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--sl {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_si.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--es {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_es.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--tr {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_tr.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--uk {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_ua.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--sma {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_sma.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--smj {
    background: url("#{$context-path}/imcms/images/lang_flags/icon_flag_smj.png") no-repeat left top;
    background-size: 29px 17px;
}

.imcms-flag--active {
    opacity: 1;
}

