.loading-animation {
    position: relative;
    left: 7px;
    top: 19px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 14px;
}

.loading-animation::before {
    content: '';
    position: absolute;
    left: -7px;
    top: -19px;
    width: 100%;
    height: 100%;
    border: 6px solid #d4d4d4;
    border-top: 6px solid #0b94d8;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.success-animation {
    position: relative;
    min-width: 40px;
    height: 40px;
    border: 5px solid green;
    border-radius: 50%;
}

.success-animation::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 15px;
    top: 17px;
    left: 8px;
    background: green;
    transform: rotate(-45deg);
    animation: 1s leftSuccessPart linear;
}

@keyframes leftSuccessPart {
    0% {
        height: 0;
    }
    50% {
        height: 15px;
    }
}

.success-animation::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 30px;
    top: 4px;
    left: 21px;
    background: green;
    transform: rotate(45deg);
    animation: 1s rightSuccessPart linear;
}

@keyframes rightSuccessPart {
    0% {
        height: 0;
    }
    50% {
        height: 30px;
    }
}