.imcms-flex--d-flex {
    display: flex !important;
}

.imcms-flex--justify-content-center {
    justify-content: center !important;
}

.imcms-flex--align-items-center {
    align-items: center !important;
}

.imcms-flex--align-items-flex-end {
    align-items: flex-end !important;
}

.imcms-flex--align-items-flex-start {
    align-items: flex-start !important;
}

.imcms-flex--m-auto {
    margin: auto !important;
}

.imcms-flex--ml-auto {
    margin-left: auto !important;
}

.imcms-flex--p-0 {
    padding: 0 !important;
}

.imcms-flex--px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.imcms-flex--pr-0 {
    padding-right: 0 !important;
}

.imcms-flex--pl-0 {
    padding-left: 0 !important;
}

.imcms-flex--m-0 {
    margin: 0 !important;
}

.imcms-flex--mb-0 {
    margin-bottom: 0 !important;
}

.imcms-flex--w-10 {
    width: 10% !important;
}

.imcms-flex--w-15 {
    width: 15% !important;
}

.imcms-flex--w-25 {
    width: 25% !important;
}

.imcms-flex--w-40 {
    width: 40% !important;
}

.imcms-flex--w-50 {
    width: 50% !important;
}

.imcms-flex--w-70 {
	width: 70% !important;
}

.imcms-flex--w-100 {
    width: 100% !important;
}

.imcms-flex--flex-1 {
    flex: 1 !important;
}

.imcms-flex--flex-2 {
    flex: 2 !important;
}

.imcms-flex--flex-3 {
    flex: 3 !important;
}
