.imcms-date-picker {
    background-color: #fff;
    border: 1px solid #d3d8de;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    display: block;
    padding: 10px;
    position: relative;
    max-width: 130px;
    min-width: 94px;
}

.imcms-date-picker__current-date {
    display: block;
    position: relative;
    width: 100%;
}

.imcms-current-date__input {
    border: none;
    color: #2f4047;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    display: block;
    width: 100%;
}

.imcms-current-date__input[readonly] {
    cursor: not-allowed;
}

.imcms-currrent-date__input--error {
    background-color: #fff;
    border-color: #da1a1a;
    color: #da1a1a;
}

.imcms-date-picker__current-day,
.imcms-date-picker__current-month {
    width: 16px;
}

.imcms-date-picker__current-day {
    text-align: left;
}

.imcms-date-picker--active {
    border-bottom: none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.imcms-date-picker--active .imcms-date-picker__current-date:after {
    content: "";
    background-color: #d3d8de;
    display: block;
    position: absolute;
    bottom: -7px;
    left: 5%;
    width: 90%;
    height: 1px;
}

.imcms-date-picker .imcms-calendar {
    display: none;
}

.imcms-date-picker--active .imcms-calendar {
    display: block;
}

.imcms-date-picker__error {
    display: none;
}

.imcms-date-time__date-picker.imcms-date-picker {
    border: 0;
    padding: 0;
    max-width: 150px;
}
