.imcms-input {
    background-color: #fff;
    border: 1px solid #d3d8de;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #2f4047;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    outline: none;
}

.imcms-input[disabled] {
    cursor: not-allowed;
}

.imcms-input[readonly] {
    cursor: not-allowed;
}

.imcms-input:focus {
    border-color: #0b94d8;
}

.imcms-input-search {
    position: relative;
}

.imcms-input-search__button {
    position: absolute;
    top: 9px;
    right: 5px;
    z-index: 55;
}

.imcms-field .imcms-input.imcms-input--wide {
    padding: 8px 15px;
    width: 100%;
}
