@import "variables";

.imcms-editor-area,
.imcms-editor-area__text-label {
    border: 0;
    font-size: 14px;
    line-height: 25px;
}

.imcms-editor-area,
.imcms-editor-area--small,
.imcms-editor-area *,
.imcms-editor-area--small *{
    border-radius: 0;
}

.imcms-editor-area,
.imcms-editor-area--small {
	display: inline-block;
	width: 100%;
}

.imcms-editor-body{
    padding: 10px 25px 10px 10px;
    position:relative;
}

.imcms-editor-area,
.imcms-editor-area--small:hover,
.imcms-editor-area--small.imcms-editor-area--text .imcms-image-in-text:hover{
	background-color: white;
	-webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.07);
	box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.07);
}

.imcms-editor-area--small {
	min-width: 60px;
	min-height: 30px;
}

.imcms-editor-area__text-label {
    display: block;
    padding: 3px 5px;
    color: white;
    font: 400 14px/16px 'Play', Verdana, sans-serif;
    background-color: #b9d3df;
}

.imcms-editor-area__text-toolbar {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}

.imcms-editor-area__text-label::before,
.imcms-toolbar-label::before {
    content: ' ';
    display: inline-block;
    width: 36px;
    height: 14px;
    margin-right: 5px;
    background: transparent url("#{$context-path}/imcms/images/icon_logo_main_white.png") 0 0 no-repeat;
    background-size: cover;
}

.imcms-editor-area--small > .imcms-editor-area__text-label{
	display: none;
}

.imcms-editor-area--active > .imcms-editor-area__text-label,
.imcms-editor-area:hover > .imcms-editor-area__text-label,
.imcms-editor-area:focus > .imcms-editor-area__text-label,
.imcms-editor-area:active > .imcms-editor-area__text-label,
.imcms-editor-area--text:hover > .imcms-editor-area__text-label,
.imcms-editor-area--text:focus > .imcms-editor-area__text-label,
.imcms-editor-area--text:active > .imcms-editor-area__text-label {
    background-color: #389ecf;
}

.imcms-editor-area--active,
.imcms-editor-area:hover,
.imcms-editor-area:focus,
.imcms-editor-area:active {
    background-color: #8bc7e4;
}

.imcms-editor-content.imcms-editor-content--text {
    background-color: white;
}

.imcms-editor-area--image {
    width: min-content;
}

.imcms-editor-area--image > .imcms-editor-area__text-label{
    word-break: break-word;
}

.imcms-editor-area--image > .imcms-editor-area__text-label + .imcms-editor-area__content{
    min-width: 130px;
}

.imcms-editor-area__content-wrap,
.imcms-editor-area__content {
    width: 100%;
    display: block;
}

.imcms-editor-area__control-wrap {
    position: absolute;
    top: 3px;
    right: 5px;
}

.imcms-editor-area__control-wrap--small {
	background: white;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 1px;
	padding: 1px;
}

.imcms-editor-area__control-edit {
    display: none;
    float: right;
}

.imcms-editor-area__control-title {
    padding: 15px 5px;
    background: #2e3f47;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    display: none;
    position: absolute;
    top: -47px;
    left: -46px;
    width: 130px;
    z-index: 1;
}

.imcms-editor-area__control-title:before {
    content: '';
    background: #2e3f47;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 51px;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.imcms-editor-area__control-title--top:before {
    bottom: auto;
    top: -5px;
}

.imcms-editor-area__control-title--right:before {
    left: auto;
    right: 5px;
}

.imcms-editor-area__control-title--left:before {
    right: auto;
    left: 5px;
}

.imcms-editor-area--text .imcms-image-in-text {
    padding: 5px 26px 5px 5px;
}

.imcms-editor-area--text .imcms-image-in-text:hover {
    background-color: rgba(0, 149, 217, 0.58);
}

.imcms-image-in-text {
    position: relative;
    padding-right: 26px;
}

.imcms-editor-area__control-wrap{
	display: block;
}


.imcms-image-in-text .imcms-editor-content {
    display: inline-block;
}

.imcms-editor-area--text:hover .imcms-editor-area__control-edit,
.imcms-editor-area--active .imcms-editor-area__control-edit {
    display: block;
}

.imcms-editor-area--loop {
    margin-top: 30px;
}

.imcms-editor-area--small.imcms-editor-area--text {
	min-width: 120px;
}

.imcms-editor-area--small.imcms-editor-area--text .imcms-editor-content.imcms-editor-content--text{
	background-color: unset;
}

.imcms-editor-area--small.imcms-editor-area--text .imcms-editor-content.imcms-editor-content--text:focus{
	background-color: white;
}

.imcms-editor-area--small.imcms-editor-area--active:hover{
	background-color: #8bc7e4;
}
