.imcms-error-msg {
    color: #da1a1a;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
}

.imcms-info-msg {
    color: #b35100;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
}

.imcms-secondary-msg {
    color: #808080de;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
}

.imcms-title {
    color: #2f4047;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    word-break: break-all;
}

.imcms-form__field .imcms-title {
}
