.imcms-calendar {
    background-color: #fff;
    border: 1px solid #d3d8de;
    border-top: none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 0 0 4px 4px;
    display: block;
    padding: 10px 5px;
    position: absolute;
    top: 42px;
    left: -1px;
    width: -webkit-calc(100% + 2px);
    width: -moz-calc(100% + 2px);
    width: -ms-calc(100% + 2px);
    width: -o-calc(100% + 2px);
    width: calc(100% + 2px);
    max-width: 130px;
    min-width: 120px;
    z-index: 50;
}

.imcms-calendar__button {
    padding: 10px;
    position: absolute;
    top: -7px;
}

.imcms-calendar__button.imcms-button--prev {
    left: 0;
}

.imcms-calendar__button.imcms-button--next {
    right: 0;
}

.imcms-calendar__title {
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
}

.imcms-calendar__body {
    display: block;
    position: relative;
    width: 100%;
    max-height: 118px;
}

.imcms-calendar__day-names {
    display: block;
    position: relative;
    width: 100%;
    height: 8px;
}

.imcms-calendar__day-name {
    color: #0b94d8;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 8px;
    line-height: 8px;
    text-align: center;
    text-transform: uppercase;
    float: left;
    width: 14%;
    height: 8px;
}

.imcms-calendar__weeks {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.imcms-calendar__week {
    display: block;
    margin-top: 8px;
    position: relative;
    width: 100%;
    height: 11px;
}

.imcms-calendar__day {
    color: #2f4047;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    float: left;
    width: 14%;
    height: 11px;
}

.imcms-day--outer-prev,
.imcms-day--outer-next {
    color: #587380;
}

.imcms-calendar__day:hover,
.imcms-day--today {
    background-color: #0b94d8;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
}
