.imcms-buttons::after {
    content: '';
    display: block;
    clear: both;
}

.imcms-buttons__button {
    text-align: center;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

.buttons__button:last-child {
    margin-right: 0;
}

.imcms-buttons .imcms-button--neutral {
    line-height: 40px;
    margin: 0 10px;
}

.imcms-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 21px;
}

.imcms-icon-button .imcms-button:last-child {
    background: none;
    padding: 0;
    border: none;
}

.imcms-icon-button:hover .imcms-button {
    color: inherit;
    transition: none;
}

.imcms-menu-list-titles__title--remove {
	border-radius: 10px;
	background-color: #ff4b45;
	border-color: #ff4b45;
	color: #fff;
	width: 78px;
}

.imcms-menu-list-titles__title--remove:hover {
	background-color: transparent;
	color: #ed4337;
}

.imcms-menu-editor-head .imcms-switch-block__button {
	margin-right: 7%;
}

@media screen and (max-width: 2000px) {
	.imcms-menu-editor-head .imcms-switch-block__button {
		margin-right: 8%;
	}
}
@media screen and (max-width: 1700px) {
	.imcms-menu-editor-head .imcms-switch-block__button {
		margin-right: 10%;
	}
}

@media screen and (max-width: 1400px) {
	.imcms-menu-editor-head .imcms-switch-block__button {
		margin-right: 8%;
	}
}

@media screen and (max-width: 1100px) {
	.imcms-menu-editor-head .imcms-switch-block__button {
		margin-right: 7%;
	}
}