@import url("imcms-reset.css");
@import url("grid/imcms-grid.css");
@import url("page-info/imcms-life-cycle_page_info.css");
@import url("page-info/imcms-appearance_page_info.css");
@import url("page-info/imcms-access_page_info.css");
@import url("page-info/imcms-status_page_info.css");
@import url("page-info/imcms-cache_page_info.css");
@import url("page-info/imcms-properties_page_info.css");
@import url("page-info/imcms-all-data_page_info.css");
@import url("page-info/imcms-metadata_page_info.css");
@import url("page-info/imcms-template_page_info.css");
@import url("imcms-button.css");
@import url("imcms-buttons.css");
@import url("imcms-calendar.css");
@import url("imcms-checkboxes.css");
@import url("imcms-checkbox.css");
@import url("imcms-choose_image.css");
@import url("imcms-date_picker.css");
@import url("imcms-time_picker.css");
@import url("imcms-date_time.css");
@import url("imcms-input.css");
@import url("imcms-field.css");
@import url("imcms-flag.css");
@import url("imcms-flags.css");
@import url("imcms-fonts.css");
@import url("imcms-form.css");
@import url("imcms-messages.css");
@import url("imcms-head.css");
@import url("imcms-loading.css");
@import url("imcms-keyword.css");
@import url("imcms-label.css");
@import url("imcms-number_box.css");
@import url("imcms-placeholder.css");
@import url("imcms-pop_up_modal.css");
@import url("imcms-radio.css");
@import url("imcms-radios.css");
@import url("imcms-scrollbar.css");
@import url("imcms-select.css");
@import url("imcms-space-around-inputs.css");
@import url("imcms-switch.css");
@import url("imcms-switches.css");
@import url("imcms-tabs.css");
@import url("imcms-text_area.css");
@import url("imcms-text_box.css");
@import url("imcms-grid.css");
@import url("imcms-sides.css");
@import url("imcms-text_editor.css");
@import url("imcms-overlays.css");
@import url("admin/imcms-admin_panel.css");
@import url("admin/imcms_admin_panel_settings.css");
@import url("choose_img/imcms-image-metadata.css");
@import url("choose_img/imcms-content_manager.css");
@import url("choose_img/imcms-folders.css");
@import url("choose_img/imcms-folder.css");
@import url("choose_img/imcms-choose_img.css");
@import url("imcms-controls.css");
@import url("imcms-control.css");
@import url("imcms-flex.css");
@import url("image_editor/imcms-image_editor.css");
@import url("image_editor/imcms-image-toolbar.css");
@import url("image_editor/imcms-editable-img.css");
@import url("image_editor/imcms-crop-area.css");
@import url("image_editor/imcms-editable-controls-area.css");
@import url("image_editor/imcms-history-mode.css");
@import url("image_editor/imcms-image-common-info.css");
@import url("image_editor/imcms-editable-img-controls.css");
@import url("image_editor/imcms-edit-size.css");
@import url("image_editor/imcms-edit-image.css");
@import url("image_editor/imcms-advanced-mode.css");
@import url("image_editor/imcms-image-editor-MEDIA.css");
@import url("modal_window/imcms-modal_window.css");
@import url("menu_editor/imcms-menu_editor.css");
@import url("menu_editor/imcms-menu_items.css");
@import url("menu_editor/imcms-menu_item.css");
@import url("menu_editor/imcms-menu_list.css");
@import url("document_editor/imcms-document-editor.css");
@import url("document_editor/imcms-document-editor-head.css");
@import url("imcms-editor_window.css");
@import url("loop_editor/imcms-loop_editor.css");
@import url("loop_editor/imcms-loop_item.css");
@import url("loop_editor/imcms-loop_items.css");
@import url("loop_editor/imcms-loop_list.css");
@import url("imcms-editor_area.css");
@import url("imcms-editor_toolbar.css");
@import url("imcms-select-new-doc-type.css");
@import url("imcms-select-document-profile.css");
@import url("imcms-files_tab_page_info.css");
@import url("imcms-text_history_window.css");

@import url("../../node_modules/tippy.js/dist/tippy.css");
