.imcms-select {
    display: inline-block;
}

.imcms-select__label {
    display: block;
}

.imcms-drop-down-list {
    background: #fff;
    border: 1px solid #d3d8de;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
}

.imcms-select__drop-down-list--active {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.imcms-drop-down-list__button {
    right: 0;
    top: 0;
}

.imcms-select[disabled] .imcms-drop-down-list__select-item {
    cursor: default;
    opacity: 0.6;
}

.imcms-select[disabled] .imcms-select__label {
    cursor: default;
}

.imcms-select[disabled] .imcms-drop-down-list__button {
    display: none;
}

.imcms-drop-down-list__select-item {
    cursor: pointer;
    position: relative;
    padding: 8px 20px 8px 15px;
    display: block;
    line-height: 19px;
}

.imcms-select__drop-down-list--active .imcms-drop-down-list__select-item:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 1%;
    height: 1px;
}

.imcms-drop-down-list__select-item-value {
    color: #587380;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    display: inline-block;
	overflow-wrap: anywhere;
}

.imcms-drop-down-list__items {
	background: #fff;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border: 1px solid #d3d8de;
	border-top-color: #fff;
	overflow-y: visible;
	overflow-x: hidden;
	max-height: 220px;
	height: fit-content;
	display: none;
	position: absolute;
	left: -1px;
	z-index: 10004;
	width: -webkit-calc(100% + 2px);
	width: -moz-calc(100% + 2px);
	width: -ms-calc(100% + 2px);
	width: -o-calc(100% + 2px);
	width: calc(100% + 2px);
}

.imcms-select__drop-down-list--active .imcms-drop-down-list__items {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-color: transparent;
    display: block;
}

.imcms-drop-down-list__item {
    color: #587380;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 15px;
    padding: 5px 15px 5px 15px;
}

.imcms-drop-down-list__item:hover {
    color: #2f4047;
}

.imcms-drop-down-list__item:first-child {
    padding-top: 10px;
}

.imcms-flag.imcms-drop-down-list__item{
	padding-top: 0;
}

.imcms-drop-down-list__item:last-child {
    padding-bottom: 10px;
}

.imcms-checkbox.imcms-drop-down-list__item {
    cursor: default;
}
