@import "variables";

.imcms-main-folders-controls {
    cursor: pointer;
	border: 2px transparent solid;
    border-bottom: 2px solid #d3d8de;
    display: block;
    overflow: hidden;
    padding: 25px 25px;
    width: 100%;
}

.imcms-main-folders-controls__control {
    float: right;
}

.imcms-folder__controls {
    display: none;
    float: right;
    position: relative;
}

.imcms-menu-list .imcms-document-items__document-item > .imcms-document-item__controls,
.imcms-menu-list .imcms-document-items__document-item > .imcms-document-item__multi-remove-controls {
    right: auto;
    left: 0;
}

.imcms-menu-list .imcms-document-item__controls:last-child,
.imcms-menu-list .imcms-document-item__multi-remove-controls:last-child {
    padding: 14px 5px;
    left: auto;
    right: 0;
}

.imcms-controls__control {
    display: block;
    float: right;
    margin-left: 10px;
}

.imcms-panel-named {
    background-color: #545c6f;
    display: block;
    height: 74px;
    width: 100%;
    overflow: hidden;
    padding-left: 70px;
    padding-top: 18px;
}

.imcms-panel-named__input {
    display: inline-block;
    width: 70%;
    margin-right: 10px;
    padding: 8px 15px;
}

.imcms-panel-named__input:focus {
    border-color: #d3d8de;
}

.imcms-panel-named__button {
    display: inline-block;
    color: #fff;
}

.imcms-panel-named__button:hover {
    color: #0b94d8;
}

.imcms-panel-named__control-close{
    display: inline-block !important;
    vertical-align: middle;
    margin-left: 10px;
}

.imcms-panel-named__close:hover {
    background-image: url("#{$context-path}/imcms/images/controls/icon_folder_controll_remove_hover.png");
}

.imcms-main-folders-controls__name {
    padding-left: 45px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    text-align: left;
    float: left;
}

.imcms-main-folders-controls .imcms-main-folders-controls__name{
	user-select: none;
}
