@import "variables";

.imcms-head {
	background-color: #389ecf;
	-webkit-box-shadow: 0 0 31px 4px rgba(47, 58, 144, 0.16);
	-moz-box-shadow: 0 0 31px 4px rgba(47, 58, 144, 0.16);
	box-shadow: 0 0 31px 4px rgba(47, 58, 144, 0.16);
	text-align: center;
	display: block;
	position: relative;
	width: 100%;
	height: 42px;
	z-index: 20;
}

.imcms-head__logo {
	background: url("#{$context-path}/imcms/images/icon_logo_main_white.png") no-repeat 0 0;
	background-size: contain;
	text-indent: -99999px;
	display: block;
	position: absolute;
	top: 7px;
	left: 20px;
	height: 100%;
	width: 69px;
}

.imcms-head__title {
	color: #fff;
	line-height: 42px;
	height: 42px;
	text-transform: uppercase;
	width: 94%;
	display: inline-flex;
	justify-content: center;
}

.imcms-head__toolbar,
.imcms-head__button {
	position: absolute;
	top: 13px;
	right: 13px;
}
