.files-container__head > div {
    text-align: center;
    text-transform: uppercase;
    display: block;
    float: left;
}

.files-container__head .files-container-head__id {
    width: 30%;
    text-align: left;
}

.files-container__head .files-container-head__name {
    width: 51%;
    text-align: left;
}

.files-container__head .files-container-head__default {
    width: 13%;
}

.files-container-body__file-row {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.files-container-body__file-row * {
    float: left;
    text-align: right;
}

.files-container-body__file-row .file-row__id {
    width: 28%;
}

.files-container-body__file-row .file-row__name {
    width: 51%;
    text-align: left;
    line-height: 1;
    margin: auto 0 auto 2%;
    word-break: break-all;
}

.files-container-body__file-row .file-row__default {
    display: flex;
    place-content: center;
    width: 13%;
    margin-top: 1.5%;
}

.files-container-body__file-row .file-row__delete {
    width: 16px;
    margin-top: 1.5%;
    margin-left: auto;
}
