.imcms-tabs__tab,
.imcms-tabs__advanced-tab,
.imcms-tabs__advanced-button{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    padding: 27px 35px;
    position: relative;
    word-break: break-word;
}

.imcms-tabs__advanced-button{
    background-image: url(/imcms/images/icon_several_arrows_down.png);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 50%;
    background-size: 12px;
}

.imcms-tabs__advanced-button--enabled{
    background-image: url(/imcms/images/icon_several_arrows_up.png);
    background-color: #fbfbfb;
    -webkit-box-shadow: inset 0px 0px 10px #e5e5e566;
    -moz-box-shadow: inset 0px 0px 10px #e5e5e566;
    box-shadow: inset 0px 0px 10px #e5e5e566;
}

.imcms-tabs__tab--disabled {
    cursor: default;
}

.imcms-tabs__tab:not(.imcms-tabs__tab--disabled):hover,
.imcms-tabs__advanced-tab:not(.imcms-tabs__tab--disabled):hover {
    border-color: #ebedef;
}

.imcms-tabs__tab:not(.imcms-tabs__tab--disabled):hover:after,
.imcms-tabs__advanced-tab:not(.imcms-tabs__tab--disabled):hover:after,
.imcms-title--active:not(.imcms-tabs__tab--disabled):after {
    content: "";
    background-color: #389ecf;
    display: block;
    position: absolute;
    top: -1px;
    right: 0;
    width: 3px;
    height: -webkit-calc(100% + 2px);
    height: -moz-calc(100% + 2px);
    height: -ms-calc(100% + 2px);
    height: -o-calc(100% + 2px);
    height: calc(100% + 2px);
}

.imcms-tabs__tab--disabled.imcms-title {
    opacity: 0.5;
}

.imcms-title--active {
    border-color: #ebedef;
}

.imcms-title--col-3 {
    display: inline-block;
    width: 36%;
}

.imcms-title--col-2-3 {
    display: inline-block;
    width: 60%;
}
