@import "imcms-info-page";

.imcms-info-head__login {

}

.imcms-info-body__login {
    padding-left: 60px;
    padding-right: 60px;
}

.imcms-login__error-msg {
    font-weight: 700;
    font-size: 15px;
}

.imcms-login__footer {
    padding-bottom: 15%;
}

.imcms-info-body__providers {
    border-top: solid 1px #c9d3d8;
}

.auth-provider-button:first-of-type {
    margin-left: 15px;
}

.info-block {
    padding-bottom: 15px;
    padding-top: 15px;
}

.imcms-info-footer__message {
    display: inline-block;
    line-height: 30px;
    vertical-align: top;
}

.auth-provider-button__icon {
    opacity: .7;
    width: 30px;
}

.auth-provider-button__icon:hover {
    opacity: 1;
}

.imcms-button--positive {
    position: absolute;
    right: 8%;
}

.imcms-button--save {
    position: absolute;
    left: 8%;
}

.imcms-button--neutral {
    float: right;
}

.imcms-info-body__login-buttons {
    margin: 10px 10px 0 10px;
	display: inline-block;
	width: 100%;
}

.imcms-info-body__login-buttons .imcms-field{
	padding-bottom: 0;
}

.imcms-info-body__login-buttons .imcms-flags {
	float: left;
}

.imcms-info-body__login-buttons .imcms-start-page--link {
	float: right;
	padding-top: 20px;
}

.imcms-info-body__login-buttons .imcms-flag{
	margin: 10px 30px 0 0;
}

.imcms-info-body__login-buttons .imcms-select .imcms-flag{
	margin: 5px 0 5px 15px;
}

.imcms-info-body__login-buttons  .imcms-drop-down-list__select-item-value.imcms-flag{
	margin: 0;
}
