.imcms-select {
    display: inline-block;
}

.imcms-select__label {
    display: block;
}

.imcms-drop-down-list {
    background: #fff;
    border: 1px solid #d3d8de;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    height: 100%;
}

.imcms-select__drop-down-list--active {
    border-color: #0b94d8;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.imcms-drop-down-list__button {
    right: 0;
    top: 0;
}

.imcms-select[disabled] .imcms-drop-down-list__button {
    display: none;
}

.imcms-drop-down-list__select-item {
    cursor: pointer;
    position: relative;
    padding: 10px 20px 10px 15px;
    display: block;
}

.imcms-select__drop-down-list--active .imcms-drop-down-list__select-item:after {
    content: "";
    background-color: #b8bec2;
    display: block;
    position: absolute;
    bottom: 0;
    left: 1%;
    height: 1px;
}

.imcms-drop-down-list__select-item-value {
    color: #587380;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 15px;
}

.imcms-drop-down-list__items {
    background: #fff;
    border: 1px solid #0b94d8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: none;
    position: absolute;
    left: -1px;
    z-index: 100;
    width: -webkit-calc(100% + 2px);
    width: -moz-calc(100% + 2px);
    width: -ms-calc(100% + 2px);
    width: -o-calc(100% + 2px);
    width: calc(100% + 2px);
}

.imcms-select__drop-down-list--active .imcms-drop-down-list__items {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-color: transparent;
    display: block;
}

.imcms-drop-down-list__item {
    color: #587380;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 15px;
    padding: 5px 15px 5px 15px;
}

.imcms-drop-down-list__item:hover {
    color: #2f4047;
}

.imcms-drop-down-list__item:first-child {
    padding-top: 10px;
}

.imcms-drop-down-list__item:last-child {
    padding-bottom: 10px;
}
