.imcms-tabs__tab {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    padding: 27px 35px;
    position: relative;

}

.imcms-tabs__tab:hover {
    border-color: #ebedef;
}

.imcms-tabs__tab:hover:after,
.imcms-title--active:after {
    content: "";
    background-color: #389ecf;
    display: block;
    position: absolute;
    top: -1px;
    right: 0;
    width: 3px;
    height: -webkit-calc(100% + 2px);
    height: -moz-calc(100% + 2px);
    height: -ms-calc(100% + 2px);
    height: -o-calc(100% + 2px);
    height: calc(100% + 2px);
}

.imcms-title--active {
    border-color: #ebedef;
}

.imcms-title--col-3 {
    display: inline-block;
    width: 36%;
}

.imcms-title--col-2-3 {
    display: inline-block;
    width: 60%;
}
