.imcms-time-picker {
    background-color: #fff;
    border: 1px solid #d3d8de;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    display: block;
    overflow: visible;
    padding: 10px;
    position: relative;
    max-width: 70px;
    /*min-width: 58px;*/
}

.imcms-time-picker__current-time {
    position: relative;
}

.imcms-current-time__input {
    border: none;
    color: #2f4047;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    display: block;
    width: 100%;
}

.imcms-current-time__input[readonly] {
    cursor: not-allowed;
}

.imcms-time-picker--active {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
}

.imcms-time-picker--active .imcms-time-picker__current-time:after {
    content: "";
    background-color: #d3d8de;
    display: block;
    position: absolute;
    bottom: -10px;
    left: 5%;
    width: 90%;
    height: 1px;
}

.imcms-time-picker--active .imcms-time-picker__time {
    display: block;
}

.imcms-time-picker__time {
    background-color: #fff;
    border: 1px solid #d3d8de;
    border-top: none;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    display: none;
    margin-top: 10px;
    position: absolute;
    top: 31px;
    left: -1px;
    width: -webkit-calc(100% + 2px);
    width: -moz-calc(100% + 2px);
    width: -ms-calc(100% + 2px);
    width: -o-calc(100% + 2px);
    width: calc(100% + 2px);
    z-index: 50;
    min-width: 50px;
}

.imcms-time-picker__hours {
    position: relative;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    width: 50%;
}

.imcms-time-picker__hour {
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #587380;
}

.imcms-time-picker__minutes {
    position: relative;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    width: 50%;
}

.imcms-time-picker__minute {
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #587380;
}

.imcms-time-picker__minutes:before {
    content: "";
    position: absolute;
    top: 5%;
    left: -1px;
    display: block;
    height: 90%;
    width: 1px;
    background-color: #d3d8de;
}

.imcms-time-picker__hours .imcms-time-picker__button.imcms-button--increment {
    top: 0;
    left: -webkit-calc(50% - 3px);
    left: -moz-calc(50% - 3px);
    left: -ms-calc(50% - 3px);
    left: -o-calc(50% - 3px);
    left: calc(50% - 3px);
}

.imcms-time-picker__hours .imcms-time-picker__button.imcms-button--decrement {
    bottom: 0;
    left: -webkit-calc(50% - 3px);
    left: -moz-calc(50% - 3px);
    left: -ms-calc(50% - 3px);
    left: -o-calc(50% - 3px);
    left: calc(50% - 3px);
}

.imcms-time-picker__minutes .imcms-time-picker__button.imcms-button--increment {
    top: 0;
    left: -webkit-calc(50% - 3px);
    left: -moz-calc(50% - 3px);
    left: -ms-calc(50% - 3px);
    left: -o-calc(50% - 3px);
    left: calc(50% - 3px);
}

.imcms-time-picker__minutes .imcms-time-picker__button.imcms-button--decrement {
    bottom: 0;
    left: -webkit-calc(50% - 3px);
    left: -moz-calc(50% - 3px);
    left: -ms-calc(50% - 3px);
    left: -o-calc(50% - 3px);
    left: calc(50% - 3px);
}

.imcms-date-time__time-picker.imcms-time-picker {
    border: 0;
    padding: 0;
    max-width: 150px;
}

.imcms-time-picker__hour--choose,
.imcms-time-picker__minute--choose {
    color: #fff;
    background-color: #0b94d8;
}

.imcms-time-picker__hour--choose {
    border-radius: 10px 0 0 10px;
}

.imcms-time-picker__minute--choose {
    border-radius: 0 10px 10px 0;
}

.imcms-current-time__input--error {
    background-color: #fff;
    border-color: #da1a1a;
    color: #da1a1a;
}