.imcms-pop-up-modal {
    -webkit-box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    display: none;
    overflow: hidden;
    position: fixed;
    top: -webkit-calc(50% - 360px);
    top: -moz-calc(50% - 360px);
    top: -ms-calc(50% - 360px);
    top: -o-calc(50% - 360px);
    top: calc(50% - 360px);
    left: -webkit-calc(50% - 475px);
    left: -moz-calc(50% - 475px);
    left: -ms-calc(50% - 475px);
    left: -o-calc(50% - 475px);
    left: calc(50% - 475px);
    z-index: 10003;
    height: 720px;
    width: 950px;
}

.imcms-pop-up-modal__head {
    background-color: #389ecf;
}

.imcms-pop-up-modal__left-side {
    background-color: #fff;
    max-width: 250px;
    position: relative;
}

.imcms-pop-up-modal__right-side {
    background-color: #f3f5f7;
}

.imcms-pop-up-modal__footer {
    background-color: #f3f5f7;
}

.imcms-pop-up-modal .imcms-pop-up-modal__head .imcms-button.imcms-button--close.imcms-head__button {
    position: absolute;
    top: 13px;
    right: 13px;
}

.imcms-modal-window__modal-body .imcms-checkbox__label {
    width: auto;
    left: 25%;
    margin-top: 50px;
}
