@import "../variables";

.admin-panel-settings-list {
    position: absolute;
    top: 90px;
    right: 0px;
    background-color: whitesmoke;
    border-left: 2px solid #abacad;
    border-bottom: 2px solid #abacad;
    border-right: 2px solid #abacad;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 200px;
    text-align: left;
    cursor: default;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
}

.admin-panel-settings-list__setting {
    padding: 5px;
}

.admin-panel-settings-list__setting:hover {
    background-color: #389ECF;
}

.admin-panel-settings-list__section {
    border-top: 1px solid #abacad;
}

.settings-section__section-name {
    background-color: white;
    border-bottom: 1px solid #d9d9d9;
    padding: 5px;
}

.settings-section__setting {
    padding: 5px;
    cursor: pointer;
}

.settings-section__setting:hover {
    background-color: #d0e9f9;
    margin-left: 1px;
}

.settings-section__setting--enabled {
    margin-left: 1px;
    background-color: #f0f0f0;
}

.settings-section__setting--enabled:after {
    width: 20px;
    height: 20px;
    display: block;
    float: right;
    content: "";
    background: url("#{$context-path}/imcms/images/admin_panel/icon_check.png") no-repeat center center;
    position: relative;
    top: -2px;
    background-size: contain;
}
