@import "../variables";

.imcms-admin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    z-index: 1000;
}

.imcms-admin-panel {
    background-color: #fff;
    -webkit-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.25);
    display: block;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    min-height: 90px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: absolute;
    /*z-index: 2;*/
    border-bottom: 0 solid #ccc;
}

.imcms-admin-panel__item {
    display: block;
    float: left;
    margin: 17px 17px 17px 0;
    height: 56px;
}

.imcms-admin-panel__logo {
    background: url("#{$context-path}/imcms/images/icon_logo_main_black.png") no-repeat 0 0;
    background-size: contain;
    text-indent: -99999px;
    display: block;
    height: 100%;
    width: 115px;
}

.imcms-admin-panel__title {
    color: #587380;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 56px;
    text-transform: uppercase;
}

.imcms-admin-panel__meta {
    display: inline-block;
    color: #587380;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 56px;
    text-transform: uppercase;
}

.imcms-admin-panel__item .imcms-control--trash {
    margin-left: 5px;
    height: 13px;
}

.imcms-admin-panel__item .imcms-flag {
    margin: 19px 53px 19px 0;
}

.imcms-drop-down-list__select-item-value.imcms-flag{
	margin: 0;
}

.imcms-flag.imcms-drop-down-list__item{
	margin: 5px 0 5px 15px;
}

.imcms-admin-panel__item .imcms-lang-flag--select {
	padding-top: 8px;
}

.imcms-admin-panel__item .imcms-flag--en:after,
.imcms-admin-panel__item .imcms-flag--sw:after {
    display: block;
}

.imcms-panel {
    display: block;
    float: right;
}

.imcms-panel__items {
    display: block;
    height: 100%;
    min-width: 880px;
    width: 100%;
    text-align: right;
}

.imcms-panel__item {
    background-position-x: 50%;
    background-position-y: 11px;
    background-size: initial;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    color: #2f4047;
    cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding-top: 41px;
    position: relative;
    min-width: 110px;
    height: 100%;
    vertical-align: middle;
}

.imcms-panel__item--logout {
    background: none;
    cursor: default;
    text-align: center;
    padding-top: 0;
}

.imcms-panel__item--active:before,
.imcms-panel__item:hover:before {
    content: "";
    background-color: #0b94d8;
    display: block;
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 100%;
    height: 3px;
}

.imcms-panel__item--logout:hover:before {
    display: none;
}

.imcms-panel__item--specific {
    background-image: url('#{$context-path}/imcms/images/admin_panel/icon_edit.png');
}

.imcms-panel__item--publish-of:after,
.imcms-panel__item--page-info:after,
.imcms-panel__item--document:after,
.imcms-panel__item--specific:after,
.imcms-panel__item--admin:after {
    content: "";
    background-color: #d3d8de;
    display: block;
    position: absolute;
    top: -17px;
    right: -1px;
    height: 90px;
    width: 1px;
}

.imcms-panel__item--logout button {
    margin: 5px 10px 5px 10px;
}

.imcms-panel__item--versioning-off {
    display: none;
}

.imcms-panel__item--publish-of.imcms-panel__item--has-newer-version {
    opacity: 1;
    cursor: pointer;
}

.imcms-panel__item.imcms-panel__item--has-newer-version:before,
.imcms-panel__item.imcms-panel__item--has-newer-version:hover:before {
    content: "";
    background-color: #FF756F;
    display: block;
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 100%;
    height: 3px
}

#imcmsAdminSpecial {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.25), inset 0 -23px 30px 0 rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.25), inset 0 -23px 30px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.25), inset 0 -23px 30px 0 rgba(0, 0, 0, 0.04);
}

#imcmsAdminSpecial.imcms-collapsible {
    padding-top: 90px;
    max-height: 10000px; /*dummy value*/
    border-bottom: 1px solid #ccc;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#imcmsAdminSpecial.imcms-collapsible.imcms-collapsible-hidden {
    display: none;
}

#imcmsAdminSpecialInner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

.imcms-panel__item--settings {
    background-image: url("#{$context-path}/imcms/images/admin_panel/icon_settings.png");
    min-width: 25px;
    background-position-y: center;
}

.imcms-panel__item--admin {
    background-image: url("#{$context-path}/imcms/images/admin_panel/icon_admin.png");
}

.imcms-panel__item--document {
    background-image: url("#{$context-path}/imcms/images/admin_panel/icon_doc.png");
}

.imcms-panel__item--page-info {
    background-image: url("#{$context-path}/imcms/images/admin_panel/icon_pageinfo.png");
}

.imcms-panel__item--publish-of {
    opacity: 0.4;
    cursor: not-allowed;
    background-image: url("#{$context-path}/imcms/images/admin_panel/icon_publish.png");
}

.imcms-panel__item--preview {
    background-image: url("#{$context-path}/imcms/images/admin_panel/icon_preview.png");
}

.imcms-panel__item--edit {
    background-image: url("#{$context-path}/imcms/images/admin_panel/icon_edit.png");
}

.imcms-panel__item--public {
    background-image: url("#{$context-path}/imcms/images/admin_panel/icon_public.png");
}

.imcms-admin-panel__item:last-of-type {
    margin-right: 0;
}

.imcms-panel__item--settings:hover {
    background-image: url("#{$context-path}/imcms/images/admin_panel/icon_settings_active.png");
}

.imcms-panel__item--admin:hover {
    background-image: url("#{$context-path}/imcms/images/admin_panel/icon_admin_active.png");
}

.imcms-panel__item--document:hover {
    background-image: url("#{$context-path}/imcms/images/admin_panel/icon_doc_active.png");
}

.imcms-panel__item--page-info:hover {
    background-image: url("#{$context-path}/imcms/images/admin_panel/icon_pageinfo_active.png");
}

.imcms-panel__item--publish-of:hover {
    background-image: url("#{$context-path}/imcms/images/admin_panel/icon_publish_active.png");
}

.imcms-panel__item--preview:hover {
    background-image: url("#{$context-path}/imcms/images/admin_panel/icon_preview_active.png");
}

.imcms-panel__item--edit:hover {
    background-image: url("#{$context-path}/imcms/images/admin_panel/icon_edit_active.png");
}

.imcms-panel__item--public:hover {
    background-image: url("#{$context-path}/imcms/images/admin_panel/icon_public_active.png");
}

/* small panel mode */

.imcms-admin-panel--small .imcms-admin-panel__item:first-of-type,
.imcms-admin-panel--small .imcms-admin-panel__item:nth-of-type(2) {
    max-height: 30px;
}

.imcms-admin-panel--small .imcms-admin-panel__item:nth-of-type(3) {
    padding-top: 5px;
}

.imcms-admin-panel--small .imcms-admin-panel__item:first-of-type {
    top: -2px;
    max-width: 50px;
}

.imcms-admin-panel--small .imcms-admin-panel__title {
    padding-top: 5px;
    line-height: 15px;
}

.imcms-admin-panel--small .imcms-admin-panel__meta {
    padding-top: 5px;
    line-height: 15px;
}

.imcms-admin-panel--small .imcms-panel__item {
    text-indent: -15000px;
    background-position-y: 5px;
    padding-top: 0;
}

.imcms-admin-panel--small .imcms-panel__item,
.imcms-admin-panel--small .imcms-admin-panel__item,
.imcms-admin-panel--small .imcms-admin-panel__item .imcms-flag {
    margin-top: 0;
    margin-bottom: 0;
}

.imcms-admin-panel--small .imcms-panel__item.imcms-panel__item--has-newer-version:before,
.imcms-admin-panel--small .imcms-panel__item.imcms-panel__item--has-newer-version:hover:before,
.imcms-admin-panel--small .imcms-panel__item--active:before,
.imcms-admin-panel--small .imcms-panel__item:hover:before {
    bottom: 0;
}

.imcms-admin-panel--small .imcms-panel__item--publish-of:after,
.imcms-admin-panel--small .imcms-panel__item--page-info:after,
.imcms-admin-panel--small .imcms-panel__item--document:after,
.imcms-admin-panel--small .imcms-panel__item--specific:after,
.imcms-admin-panel--small .imcms-panel__item--admin:after {
    height: 35px;
    top: -5px;
}

.imcms-admin-panel--small .imcms-admin-panel__item {
    max-height: 30px;
}

.imcms-admin-panel.imcms-admin-panel--small {
    min-height: 35px;
    max-height: 40px;
    padding-top: 5px;
}

.imcms-admin-panel--small .imcms-panel__item--logout button {
    margin-top: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}

/* panel "visible" */

.imcms-panel-visible {
    position: sticky;
}

.imcms-panel-visible .imcms-admin-panel {
    position: relative;
}

/* "show panel" button */

#imcms-switch-panel-visibility-button {
    position: absolute;
    height: 15px;
    z-index: 10000;
    display: none;
}

#imcms-switch-panel-visibility-button.imcms-button--up {
    top: 80px;
    height: 40px;
    left: 10px;
    opacity: 0.7;
}

#imcms-switch-panel-visibility-button.imcms-button--up:hover {
    opacity: 1;
}

.imcms-admin-panel--small #imcms-switch-panel-visibility-button.imcms-button--up {
    top: 25px;
}

.imcms-admin-panel--small #imcms-switch-panel-visibility-button.imcms-button--locked {
    top: 20px;
}

#imcms-switch-panel-visibility-button.imcms-button--locked {
    top: 75px;
    opacity: 0.4;
    background-position-y: 15px;
    background-size: 14px;
    width: 21px;
    height: 21px;
    left: 10px;
}

#imcms-switch-panel-visibility-button.imcms-button--locked:hover {
    opacity: 0.7;
    background-repeat: no-repeat;
    background-position-x: center;
    background-image: url("#{$context-path}/imcms/images/admin_panel/icon_unlocked.png");
    background-color: #0b94d8;
}

/* media */

@media screen and (max-width: 1800px) {
    .imcms-panel__items {
        min-width: 0;
    }

    .imcms-panel__item {
        background-position: 50% 0;
        background-size: 15px;
        padding-top: 23px;
        min-width: 60px;
        font-size: 8px;
    }

    .imcms-panel__item--logout {
        width: 100px;
        padding-top: 0;
    }

    .imcms-panel__item--settings {
        min-width: 25px;
        background-position-y: center;
    }

    .imcms-admin-panel__item:last-of-type {
        width: 55%;
    }

    .imcms-panel__item--logout button {
        margin: 0 0 0 5px;
        padding: 10px 20px;
        font-size: 10px;
    }

    #imcmsAdminSpecial.imcms-collapsible {
        padding-top: 70px;
    }

    .imcms-admin-panel {
        min-height: 69px;
    }

    #imcms-switch-panel-visibility-button.imcms-button--up {
        top: 55px;
    }

    #imcms-switch-panel-visibility-button.imcms-button--locked {
        top: 54px;
    }

    .imcms-panel__item--publish-of:after,
    .imcms-panel__item--page-info:after,
    .imcms-panel__item--document:after,
    .imcms-panel__item--specific:after,
    .imcms-panel__item--admin:after {
        max-height: 69px;
    }

    .imcms-admin-panel__item {
        height: 35px;
        margin-right: 17px;
    }

    .imcms-admin-panel__logo {
        width: 69px;
    }

    .imcms-admin-panel__title {
        line-height: 35px;
    }

    .imcms-admin-panel__meta {
        line-height: 35px;
    }

    .imcms-admin-panel__item .imcms-flag {
        margin: 10px 35px 0 0;
    }

	.imcms-drop-down-list__select-item-value.imcms-flag{
		margin: 0;
	}

	.imcms-flag.imcms-drop-down-list__item{
		margin: 5px 0 5px 15px;
	}

	.imcms-admin-panel__item .imcms-lang-flag--select {
		padding-top: 0;
	}
}

@media screen and (max-width: 1310px) {
    .imcms-admin-panel__item:last-of-type {
        width: 60%;
    }

    .imcms-admin-panel__item .imcms-flag {
        margin: 10px 30px 0 0;
    }

    .imcms-admin-panel__item .imcms-flag:after {
        display: none;
    }

	.imcms-drop-down-list__select-item-value.imcms-flag{
		margin: 0;
	}

	.imcms-flag.imcms-drop-down-list__item{
		margin: 5px 0 5px 15px;
	}

    .imcms-admin-panel__title {
        display: none;
    }
}

@media screen and (max-width: 1090px) {
    .imcms-admin-panel__item:last-of-type {
        width: 61%;
    }

    .imcms-panel__item--logout {
        width: 86px;
    }
}

@media screen and (max-width: 1050px) {
    .imcms-admin-panel__item:first-of-type {
        display: none;
    }

    .imcms-admin-panel__item:nth-of-type(2) {
        display: none;
    }

    .imcms-admin-panel__item:last-of-type {
        width: 69%;
    }
}

@media screen and (max-width: 960px) {
    .imcms-admin-panel__item:last-of-type {
        width: 68%;
    }
}

@media screen and (max-width: 935px) {
    .imcms-admin-panel__item .imcms-flag {
        overflow: hidden;
        margin: 10px 0 0 0;
    }

	.imcms-drop-down-list__select-item-value.imcms-flag{
		overflow: unset;
		margin: 0;
	}

	.imcms-flag.imcms-drop-down-list__item{
		margin: 5px 0 5px 15px;
	}

    .imcms-admin-panel__item:last-of-type {
        width: 75%;
    }
}

@media screen and (max-width: 860px) {
    #imcms-switch-panel-visibility-button.imcms-button--up {
        top: 40px;
    }

    #imcms-switch-panel-visibility-button.imcms-button--locked {
        top: 36px;
    }

    .imcms-panel__item--logout button {
        font-size: 10px;
        padding: 5px 10px;
    }

    .imcms-admin-panel,
    .imcms-admin-panel__item {
        max-height: 50px;
        min-height: 50px;
    }

    .imcms-admin-panel--small .imcms-admin-panel__item {
        min-height: 25px;
        padding-top: 0;
        max-height: 30px;
    }

    .imcms-admin-panel__item .imcms-flag {
        margin: 0;
    }

	.imcms-drop-down-list__select-item-value.imcms-flag{
		margin: 0;
	}

	.imcms-flag.imcms-drop-down-list__item{
		margin: 5px 0 5px 15px;
	}

	.imcms-flags.imcms-flags-container.imcms-admin-panel__item{
		padding-top: 5px;
	}

    .imcms-admin-panel__item {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 15px;
    }

    .imcms-panel__item--publish-of:after,
    .imcms-panel__item--page-info:after,
    .imcms-panel__item--document:after,
    .imcms-panel__item--specific:after,
    .imcms-panel__item--admin:after {
        max-height: 52px;
    }

    .imcms-panel__item.imcms-panel__item--has-newer-version:before,
    .imcms-panel__item.imcms-panel__item--has-newer-version:hover:before,
    .imcms-panel__item--active:before,
    .imcms-panel__item:hover:before {
        bottom: 0;
    }

    .imcms-admin-panel__meta {
        line-height: 20px;
    }

    .imcms-panel__item--settings {
        background-position-y: 5px;
        padding-top: 34px;
    }

    #imcmsAdminSpecial.imcms-collapsible {
        padding-top: 50px;
    }

    .imcms-panel__item--logout {
        width: unset;
    }
}

@media screen and (max-width: 835px) {

    .imcms-panel__item {
        background-size: 12px;
        padding-top: 18px;
        min-width: 50px;
        font-size: 7px;
    }

    .imcms-panel__item--logout {
        max-width: 80px;
        padding-top: 0;
    }

    .imcms-panel__item--settings {
        min-width: 25px;
    }
}

@media screen and (max-width: 810px) {
    .imcms-admin-panel__item:last-of-type {
        width: 70%;
    }
}

@media screen and (max-width: 770px) {
    .imcms-panel__item {
        background-size: 10px;
        padding-top: 16px;
        min-width: 40px;
        font-size: 6px;
    }

    .imcms-panel__item--logout {
        max-width: 70px;
        padding-top: 0;
    }

    .imcms-panel__item--settings {
        min-width: 25px;
    }
}

@media screen and (max-width: 680px) {
    .imcms-admin-panel__item:last-of-type {
        width: 68%;
    }
}

@media screen and (max-width: 670px) {
    .imcms-admin-panel__item {
        margin-right: 0;
    }

    .imcms-admin-panel__item {
        margin-right: 0;
    }

    .imcms-admin-panel__item:last-of-type {
        width: 72%;
    }
}

@media screen and (max-width: 635px) {
    .imcms-panel__item--publish-of:after,
    .imcms-panel__item--page-info:after,
    .imcms-panel__item--document:after,
    .imcms-panel__item--specific:after,
    .imcms-panel__item--admin:after,
    .imcms-panel__item:nth-of-type(4):after,
    .imcms-panel__item:nth-of-type(5):after,
    .imcms-panel__item:nth-of-type(6):after,
    .imcms-panel__item:nth-of-type(7):after {
        display: none;
    }

    .imcms-panel__items {
        width: 100%;
    }

    .imcms-panel__item {
        background-size: 7px;
        padding-top: 16px;
        min-width: 31px;
        font-size: 6px;
    }

    .imcms-panel__item--logout {
        padding-top: 0;
    }

    .imcms-panel__item--logout button {
        font-size: 9px;
        padding: 3px 5px;
    }

    .imcms-admin-panel__meta {
        line-height: 20px;
    }
}

@media screen and (max-width: 600px) {

    .imcms-admin-panel__item:last-of-type {
        width: 68%;
    }
}

@media screen and (max-width: 560px) {
    .imcms-panel__item--logout button {
        font-size: 8px;
        padding: 3px 5px;
    }

    .imcms-panel__item {
        min-width: 25px;
        font-size: 5px;
    }

    .imcms-admin-panel__item:last-of-type {
        width: 65%;
    }
}

@media screen and (max-width: 490px) {

    .imcms-panel__item--logout button {
        font-size: 6px;
        padding: 3px 5px;
    }

    .imcms-panel__item {
        min-width: 21px;
        font-size: 4px;
    }

    .imcms-admin-panel__item:last-of-type {
        width: 60%;
    }

}
