@import "../imcms-info-page";
@import "../variables";

* {
    font-family: 'Source Sans Pro', sans-serif;
}

.imcms-info-page {
    margin: 0;
    left: 15%;
    width: 70%;
    top: 2%;
}

@media screen and (max-width: 1600px) {
    .imcms-info-page {
        left: 12%;
        width: 76%;
    }
}

@media screen and (max-width: 1400px) {
    .imcms-info-page {
        left: 7%;
        width: 86%;
    }
}

@media screen and (max-width: 1200px) {
    .imcms-info-page {
        left: 1%;
        width: 98%;
    }
}

@media screen and (max-height: 1200px){
    .sections-container .sections-container__edit-area{
        height: 68%;
    }

    .sections-container .sections-container__edit-area.references{
        height: 88%;
    }
}

@media screen and (max-height: 970px){
    .sections-container .sections-container__edit-area{
        height: 63%;
    }

    .sections-container .sections-container__edit-area.references{
        height: 84%;
    }
}

.imcms-head__exit {
    position: absolute;
    top: 13px;
    right: 20px;
}

.imcms-pop-up-super-admin-modal {
    height: 96%;
}

.category-admin .imcms-buttons,
.roles-editor .imcms-buttons,
.rules-editor .imcms-buttons,
.group-editor .imcms-buttons,
.profiles-editor .imcms-buttons {
    display: flex;
    justify-content: flex-end;
}

.category-admin .imcms-buttons *:nth-child(2),
.roles-editor__role-view-buttons *:nth-child(2),
.group-editor__default-buttons *:nth-child(2) {
    margin-left: auto;
}

.imcms-search-row > * {
    width: 25%;
    display: inline-block;
    padding-right: 15px;
    min-width: 180px;
}

.imcms-search-row > :first-child {
    padding-left: 0;
}

.imcms-pop-up-super-admin-modal__right-side {
    width: 80%;
    padding: 30px 60px;
    height: calc(95% - 43px);
}

.imcms-pop-up-super-admin-modal__footer {
    height: 5%;
    width: 80%;
    padding: 0 60px;
}

@media screen and (max-width: 1040px){
    .imcms-pop-up-super-admin-modal__right-side {
        width: 80%;
        padding: 20px 30px;
    }

    .imcms-pop-up-super-admin-modal__footer{
        width: 80%;
        padding: 0 30px;
    }
}

@media screen and (max-width: 900px){
    .imcms-pop-up-super-admin-modal__right-side {
        width: 80%;
        padding: 20px 20px;
    }

    .imcms-pop-up-super-admin-modal__footer{
        width: 80%;
        padding: 0 20px;
    }
}

@media screen and (max-width: 800px){
    .imcms-pop-up-super-admin-modal__right-side {
        width: 82%;
        padding: 10px 10px;
    }

    .imcms-pop-up-super-admin-modal__footer{
        width: 82%;
        padding: 0 10px;
    }
}

@media screen and (max-width: 700px){
    .imcms-pop-up-super-admin-modal__right-side {
        width: 85%;
        padding: 10px 10px;
    }

    .imcms-pop-up-super-admin-modal__footer{
        width: 85%;
        padding: 0 10px;
    }
}

.imcms-search-row__users-list-button{
    margin-top: 10px;
}

.imcms-search-row__users-list-button .imcms-button {
    float: none;
    white-space: nowrap;
}

.imcms-search-row__users-activity-filter label {
    margin: 0;
}

.imcms-search-row__users-activity-filter {
    margin-bottom: 10px !important;
    min-width: 185px;
}

.imcms-form__field .imcms-user-title-row.imcms-title {
    margin-bottom: 0;
}

.imcms-user-info-row,
.imcms-user-title-row {
    padding: 2px;
    border-bottom: solid 1px #dad5d5;
}

.imcms-user-info-row__user-id,
.imcms-user-title-row__user-id{
    padding: 5px;
}

.imcms-user-info-row__last-name,
.imcms-user-info-row__first-name,
.imcms-user-info-row__user-name,
.imcms-user-info-row__email,
.imcms-user-title-row__last-name,
.imcms-user-title-row__first-name,
.imcms-user-title-row__user-name,
.imcms-user-title-row__email {
    padding: 5px;
    word-break: break-word;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;
}

@media screen and (min-width: 840px){
    .imcms-user-info-row .imcms-control {
        margin: 5px;
    }
}

.imcms-user-info-row__user-id,
.imcms-user-title-row__user-id {
    width: 5%;
}

.imcms-user-info-row__first-name,
.imcms-user-title-row__first-name {
    width: 13%;
}

.imcms-user-info-row__last-name,
.imcms-user-title-row__last-name {
    width: 18%;
}

.imcms-user-info-row__user-name,
.imcms-user-info-row__email,
.imcms-user-title-row__user-name,
.imcms-user-title-row__email {
    width: 27%;
}

.imcms-user-info-row > *,
.imcms-user-title-row > * {
    display: inline-block;
}

.imcms-user-info-row__archive {
    background-size: contain;
    width: 21px;
    height: 21px;
    font-size: 14px;
}

.imcms-users-search-result {
    height: 600px;
    overflow-y: auto;
    background-color: #ececec;
    border: solid 1px #d1d2c6;
}

.imcms-pop-up-super-admin-modal__left-side {
    max-width: none;
    width: 20%;
}

.imcms-pop-up-super-admin-modal__left-side .imcms-tabs__advanced-button--enabled{
    background-color: #ebeef1e0;
    -webkit-box-shadow: inset 0 0 10px #c1c1c180;
    -moz-box-shadow: inset 0 0 10px #c1c1c180;
    box-shadow: inset 0 0 10px #c1c1c180;
}

@media screen and (max-width: 800px){
    .imcms-pop-up-super-admin-modal__left-side {
        width: 18%;
    }

    .imcms-pop-up-super-admin-modal__left-side .imcms-tabs .imcms-title{
        padding: 27px 25px;
    }
}

@media screen and (max-width: 700px){
    .imcms-pop-up-super-admin-modal__left-side {
        width: 15%;
    }

    .imcms-pop-up-super-admin-modal__left-side .imcms-tabs .imcms-title{
        padding: 27px 15px;

    }
}

.imcms-user-info-row--archived {
    background-color: lightgray;
}

.imcms-drop-down-list__item .imcms-label {
    margin-bottom: 0;
}

.roles-table {
    width: 40%;
    max-height: 400px;
    overflow-y: auto;
    background-color: ghostwhite;
    border: 1px solid gainsboro;
    display: inline-block;
	overflow-wrap: anywhere;
}

.roles-table__role-row {
    padding: 5px;
    cursor: pointer;
}

.roles-table__role-row:hover {
    background-color: #dfedff;
}

.roles-table__role-row.roles-table__role-row--active {
    background-color: #c3d9f5;
}

.roles-editor {
    width: 50%;
    margin-left: 2%;
    vertical-align: top;
}

.versions-container {
    background-color: ghostwhite;
    border: 1px solid gainsboro;
    display: inline-flex;
    width: 80%;
}

@media screen and (max-width: 1000px){
    .versions-container {
        width: 90%;
    }
}

@media screen and (max-width: 800px){
    .versions-container {
        width: 100%;
    }
}

.data-versions__imcms-version,
.data-versions__java-version,
.data-versions__server-info,
.data-versions__db-version,
.data-versions__db-name-version {
    margin: 10px;
    font-size: 18px;
}

.files-table {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.files-table * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.templates-table {
    width: 100%;
    display: inline-flex;
    margin-top: 15px;
}

.files-table > *,
.templates-table > * {
    width: 50%;
}

.group-editor > *:not(.group-editor__create-button) {
    width: 98%;
}

.group-editor__create-button {
    margin-bottom: 10px;
}

.group-editor .imcms-select__drop-down-list,
.group-editor .imcms-text-box__input {
    width: 100%;
}

.templates-data,
.documents-data {
    overflow-y: auto;
    border: 1px solid gainsboro;
}

.templates-data {
    height: 150px;
}

.documents-data {
    height: 322px;
}

.doc-info-row,
.template-info-row {
    display: flex;
    padding: 5px;
    cursor: pointer;
}

.title-doc-row {
    display: flex;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 5px;
}

.group-editor__name-row{
    padding: 0;
}

.group-editor__template-group-title{
    margin-bottom: 10px;
}

.group-editor__templates-data-title {
    margin: 10px 0;
}

.table-documents__loading-animation {
    margin: 0 50%;
}

.templates-radios-container {
    padding: 5px 10px;
    margin: 5px 15px;
    border: none;
}

.text-preview {
    padding: 0;
}

.text-preview textarea {
    width: 100%;
    height: 100%;
}

.first-files .root-dir,
.first-sub-files{
    border: 1px solid #abacad;
}

.second-files .root-dir,
.second-sub-files{
    border-color: #abacad;
    border-style: solid;
    border-width: 1px 1px 1px 0;
}

.first-sub-files,
.second-sub-files {
    height: 200px;
    overflow-y: auto;
    justify-content: space-between;
    background-color: #dcdada;
}

.file-row,
.directory-row,
.root-directory-row,
.path-row {
    padding: 5px;
    cursor: pointer;
    display: flex;
    place-items: center;
}

.path-row{
    margin-top: 30px;
    background-color: #ffffad;
    border-color: #abacad;
    border-style: solid;
    border-width: 1px 1px 0 1px;
}

.second-files .path-row{
    border-width: 1px 1px 0 0;
}

.path-row__path{
    word-break: break-all;
    margin-right: auto;
}

.path-row__count {
    margin-right: 1%;
    min-width: 33px;
    text-align: right;
}

.files-table__directory-row--selected,
.files-table__root-directory-row--selected {
    background-color: #FFCC99;
}

.file-row:hover,
.directory-row:hover,
.doc-info-row:hover,
.root-directory-row:hover,
.template-info-row:hover {
    background-color: #dfedff;
}

.doc-info-row{
    justify-content: space-around;
}

.doc-info-row__document-view,
.doc-info-row__document-edit{
    font-size: 15px;
}

.root-directory-row__delete {
    margin-right: 1%;
    min-width: 16px;
}

.file-row *,
.root-directory-row *,
.directory-row * {
    place-self: center;
}

.file-row__add-to-group,
.file-row__download,
.file-row__edit,
.file-row__file-size,
.file-row__amount-docs,
.directory-row__edit{
    margin-right: 1%;
    min-width: 20px;
    text-align: right;
}

.directory-row__delete,
.file-row__delete{
    min-width: 20px;
}

.file-row__file-size{
    min-width: 40px !important;
}

.file-row__amount-docs{
    min-width: 35px !important;
}

.directory-row__file-name,
.file-row__file-name,
.template-info-row__template-name,
.root-directory-row__file-name {
    margin-right: auto;
    word-break: break-all;
}

.files-table__file-row--selected,
.files-table__file-row--selected {
    background-color: #59a5e1;
}

.file-row.files-table__file-row--active {
    background-color: #00a607;
}

.buttons-action {
    display: inline-flex;
    width: 100%;
	margin-top: 10px;
}

.buttons-move,
.buttons-copy {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 3%;
}

.title-move,
.title-copy {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.buttons-action__first-action {
    width: 50%;
}

.buttons-action__second-action {
    width: 50%;
    direction: rtl;
}

.buttons-copy > *,
.buttons-move > *,
.buttons-action__second-action > *,
.buttons-action__first-action > * {
    width: 25px;
}

.second-files-action,
.first-files-action {
    display: flex;
}

.title-profile-row.table-title {
    display: flex;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

.title-profile-row__name {
    width: 45%;
}

.title-profile-row__doc-name {
    width: 45%;
}

.profiles-table {
    width: 45%;
    background-color: ghostwhite;
    border: 1px solid gainsboro;
    display: inline-block;
}

.table-links,
.sections-container__edit-area{
    width: 100%;
    background-color: ghostwhite;
    border: 1px solid gainsboro;
    word-break: break-word;
}

.sections-container__edit-area {
    display: none;
    height: 74%;
	overflow: auto;
    margin: 0 5px 0 5px;
}

.sections-container__edit-area.edit-documents{
    height: 84%;
}

.sections-container__edit-area.references{
    height: 89%;
}

.sections-container__edit-area.import{
    height: 82%;
}

.link-title-row.link-title,
.basic-import-document-titles{
    display: flex;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
}

.link-info-row,
.basic-import-document-info-row{
    display: flex;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
}

.link-params-block.imcms-form__field {
    display: inline-flex;
}

.imcms-number.link-params-block__links-field-end,
.imcms-number.link-params-block__links-field-start,
.imcms-number.link-params-block__button-validation{
    padding-right: 10px;
}

.link-params-block__loading-animation {
    margin-top: 30px;
    margin-right: 15px;
    min-width: 40px;
}

.basic-import-document-info-row__metaId{
	width: 20%;
}

.basic-import-document-info-row__id{
	width: 30%;
}

.basic-import-document-info-row__status {
	width: 50%;
}

.basic-import-document-titles__id{
	width: 30%;
}
.basic-import-document-titles__metaId{
	width: 20%;
}
.basic-import-document-titles__status{
	width: 50%;
}

.link-title-row__page-alias,
.link-info-row__link-page-alias {
    width: 10%;
}
.link-title-row__status,
.link-title-row__admin{
    width: 10%;
}

.link-title-row__status,
.link-info-row__link-status{
    width: 10%;
}

.link-title-row__type,
.link-info-row__link-type {
    width: 10%;
}

.link-title-row__admin,
.link-info-row__link-admin {
    width: 14%;
}

.link-title-row__link,
.link-info-row__link-name {
    width: 30%;
}

.link-params-block__button-validation {
    align-self: flex-end;
}

.imcms-checkbox {
    margin-top: 10px;
}

.link-title-row__host-found,
.imcms-control.imcms-control--remove.link-info-row__link-host-found,
.imcms-control.imcms-control--check.link-info-row__link-host-found {
    width: 8%;
}

.link-title-row__host-reachable,
.imcms-control.imcms-control--remove.link-info-row__link-host-reachable,
.imcms-control.imcms-control--check.link-info-row__link-host-reachable {
    width: 10%;
}

.link-title-row__page-found,
.imcms-control.imcms-control--remove.link-info-row__link-page-found,
.imcms-control.imcms-control--check.link-info-row__link-page-found {
    width: 8%;
}

.imcms-control.imcms-control--check.link-info-row__link-host-found,
.imcms-control.imcms-control--check.link-info-row__link-host-reachable,
.imcms-control.imcms-control--check.link-info-row__link-page-found {
    background-image: url("#{$context-path}/imcms/images/controls/icon_folder_controll_check_hover.svg");
}

.imcms-control.imcms-control--remove.link-info-row__link-host-reachable,
.imcms-control.imcms-control--remove.link-info-row__link-page-found,
.imcms-control.imcms-control--remove.link-info-row__link-host-found {
    background-image: url("#{$context-path}/imcms/images/controls/icon_folder_controll_remove_hover.png");
}

.category-type-editor,
.category-editor {
    width: 50%;
}

.category-type-editor{
    margin-right: 30px;
}

.category-admin {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1000px){
    .category-admin {
        display: block;
    }

    .category-type-editor,
    .category-editor {
        width: 75%;
    }
}

@media screen and (max-width: 900px){
    .category-type-editor,
    .category-editor {
        width: 85%;
    }
}

@media screen and (max-width: 850px){
    .category-type-editor,
    .category-editor {
        width: 90%;
    }
}

@media screen and (max-width: 750px){
    .category-type-editor,
    .category-editor {
        width: 100%;
    }
}

.categories,
.category-type {
    display: flex;
    width: 100%;
}

.category-type__type-drop-list {
    width: 65%;
    min-width: 200px;
}

.categories__select-categories {
    width: 65%;
}

.categories__category-create-button {
    margin-top: 32px;
    margin-left: 15px;
}

.category-type__type-create-button {
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 15px;
}

.category-create-block__row-description {
    width: 65%;
}

.type-create-block__field-name {
    width: 65%;
}

.type-create-block__ctg-type-edit-button,
.category-create-block__edit-buttons{
    width: 90%;
}

.category-create-block__row-name {
    width: 65%;
}

.category-selection-block {
    flex-basis: 50%;
}

.types-editor-block {
    flex-basis: 50%;
}

.categories-block__select-categories {
    width: 55%;
}

.profile-info-row {
    padding: 5px;
    cursor: pointer;
    display: flex;
    text-align: center;
}

.profile-info-row:hover {
    background-color: #dfedff;
}

.profile-info-row.profiles-table__profile-row--active {
    background-color: #c3d9f5;
}

.profile-info-row__profile-name {
    width: 45%;
}

.profile-info-row__profile-doc-name {
    width: 45%;
}

.imcms-control.imcms-control--remove.profile-info-row__delete {
    width: 10%;
}

.profiles-editor {
    width: 40%;
    margin-left: 10%;
    vertical-align: top;
}

.profiles-editor__profile-name-row {
    margin-bottom: 20px;
}

.imcms-buttons.profiles-editor__profile-button-edit {
    padding: 10px;
    display: flex;
    place-content: center
}

.imcms-settings-row {
    margin-top: 25px;
    width: 400px;
}

.imcms-settings-row:first-child{
    margin-top: 10px;
}

.imcms-settings-row > .imcms-buttons {
    float: right;
    margin-top: 10px;
}

.page-number > * {
    display: inline-block;
}

.page-number > .imcms-buttons {
    margin-top: 20px;
}

.system-message__settings-input > .imcms-text-area__input {
    height: 110px;
    width: 100%;
}

.server-master > .imcms-text-box > *,
.web-master > .imcms-text-box > * {
    display: inline-block;
    width: 60%;
}

.server-master > .imcms-text-box > .imcms-label,
.web-master > .imcms-text-box > .imcms-label {
    width: 40%;
    color: #0b4b89;
}

.imcms-content-action-row {
    margin-top: 25px;
}

.imcms-content-action-row:first-child {
    margin-top: 10px;
}

.imcms-content-action-row > .imcms-title {
}

.imcms-content-action-row__actions {
    height: 50px;
    display: flex;
}

.imcms-content-action-row button{
    min-width: 136px;
}

.actions__date,
.actions__time {
    margin: auto 40px;
    font-weight: normal;
    cursor: auto;
}

.auth-provider-icon {
    width: 30px;
    padding-left: 10px;
    vertical-align: middle;
}

.external-role {
    padding-bottom: 0;
}

.external-role__name {
    display: inline-block;
    padding: 5px;
    width: 250px;
}

.external-role__linked-local-roles {
    display: inline-block;
    width: 230px;
}

.external-role__linked-local-roles .imcms-select {
    width: 230px;
}

.external-role__controls {
    display: inline-block;
}

.external-role__controls .imcms-button {
    display: inline-block;
    margin-left: 5px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.delete-document-row__input,
.delete-document-row__confirm,
.imcms-doc-version-block__doc-row > * {
    display: inline-block;
}

.delete-document-row__confirm,
.imcms-doc-basket-block__put-button,
.imcms-doc-version-block__doc-row .imcms-button{
    margin-left: 15px;
}

.delete-document-row .imcms-number__error-msg,
.imcms-doc-version-block__doc-row .imcms-error-msg{
    position: absolute;
}

.delete-document-row .imcms-number,
.imcms-doc-basket-block .imcms-number{
    width: 280px;
}

.imcms-doc-basket-block {
    margin-top: 10px;
}

.imcms-doc-basket-block__put-row > * {
    display: inline-block;
}

.imcms-doc-basket-block__put-row .imcms-error-msg {
    position: absolute;
}

.imcms-doc-basket-block__title {
    margin: 20px 0 10px 0;
}

.imcms-doc-basket-table-block__table {
    height: 480px;
    overflow-y: auto;
    background-color: #ececec;
    border: solid 1px #d1d2c6;
}

.imcms-doc-basket-title-row > *,
.imcms-doc-basket-info-row > * {
    display: inline-block;
    padding: 5px;
    text-align: center;
    vertical-align: bottom;
}

.imcms-doc-basket-title-row{
    padding: 6px 2px !important;
}

.imcms-doc-basket-title-row,
.imcms-doc-basket-info-row {
    padding: 2px;
    border-bottom: solid 1px #dad5d5;
}

.imcms-doc-basket-info-row {
    cursor: pointer;
}

.imcms-doc-basket-title-row__meta-id,
.imcms-doc-basket-info-row__meta-id{
    width: 10%;
}

.imcms-doc-basket-title-row__headline,
.imcms-doc-basket-info-row__headline{
    width: 30%;
}

.imcms-doc-basket-title-row__user-login,
.imcms-doc-basket-info-row__user-login,
.imcms-doc-basket-title-row__added-date,
.imcms-doc-basket-info-row__added-date{
    width: 25%;
}

.imcms-doc-basket-title-row__checkbox,
.imcms-doc-basket-info-row__checkbox{
    width: 10%;
    margin: 0;
}

.imcms-doc-basket-info-row__headline,
.imcms-doc-basket-info-row__user-login {
    text-overflow: ellipsis;
    overflow: hidden;
}

.imcms-doc-basket-title-row__checkbox .imcms-checkbox__label,
.imcms-doc-basket-info-row__checkbox .imcms-checkbox__label {
    width: 0;
}

.imcms-doc-basket-buttons > * {
    display: inline-block;
    float: right;
    margin: 10px 0 0 10px;
}

.imcms-doc-version-table {
    height: 500px;
    overflow-y: auto;
    background-color: #ececec;
    border: solid 1px #d1d2c6;
    margin-top: 10px;
}

.imcms-doc-version-title-row > *,
.imcms-doc-version-info-row > * {
    display: inline-block;
    padding: 5px;
    text-align: center;
    vertical-align: bottom;
}

.imcms-doc-version-title-row{
    padding: 6px 2px !important;
}

.imcms-doc-version-title-row,
.imcms-doc-version-info-row {
    padding: 2px;
    border-bottom: solid 1px #dad5d5;
}

.imcms-doc-version-title-row__version-id,
.imcms-doc-version-info-row__version-id{
    width: 20%;
}

.imcms-doc-version-title-row__user-login,
.imcms-doc-version-info-row__user-login{
    width: 30%;
}

.imcms-doc-version-title-row__public-date,
.imcms-doc-version-info-row__public-date{
    width: 30%;
}

.imcms-doc-version-title-row__review,
.imcms-doc-version-info-row__review{
    width: 10%;
}

.imcms-doc-version-title-row__reset,
.imcms-doc-version-info-row__reset{
    width: 10%;
}

.imcms-doc-version-info-row__user-login {
    text-overflow: ellipsis;
    overflow: hidden;
}

.roles-editor__role-permissions {
    padding-left: 40px;
}

.document-editor-link--inactive {
    display: none;
}

.document-editor-link--active {
    display: block;
}

.rules-table {
    height: 400px;
    background-color: #ececec;
    border: solid 1px #d1d2c6;
    word-break: break-word;
}

.rule-title-row {
    height: 12%;
    border-bottom: solid 1px #d1d2c6;
}

.rules-table-elements{
    overflow-y: scroll;
    height: 88%;
}

.rule-title-row__rule-enabled,
.rule-title-row__rule-restricted,
.rule-title-row__rule-ip-range,
.rule-title-row__rule-role,
.rule-title-row__rule-user {
    text-align: center;
}

.rule-row{
    min-height: 35px;
    cursor: pointer;
}

.rule-row__rule-enabled,
.rule-row__rule-restricted,
.rule-row__rule-ip-range,
.rule-row__rule-role,
.rule-row__rule-user {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.rule-row__rule-delete .imcms-control .imcms-control--remove {
    margin: 5px;
    width: 5%;
}

.rule-row__rule-delete {
    width: 5%;
}

.rule-row__rule-enabled,
.rule-row__rule-restricted,
.rule-title-row__rule-enabled,
.rule-title-row__rule-restricted {
    width: 11%;
}

.rule-row__rule-enabled > .imcms-checkbox__label,
.rule-row__rule-restricted > .imcms-checkbox__label {
    width: 0;
}

.rule-row .imcms-checkbox {
    margin: 0;
}

.rule-row__rule-ip-range,
.rule-title-row__rule-ip-range {
    width: 47%;
}

.rule-row__rule-role,
.rule-row__rule-user,
.rule-title-row__rule-role,
.rule-title-row__rule-user {
    width: 12%;
}

.rule-row > *,
.rule-title-row > * {
    display: inline-block;
}

.rules-editor {
    width: 100%;
    padding-bottom: 10px;
}

.rules-editor > * {
    padding: 10px;
}

.ip-range__ip-range1,
.ip-range__ip-range2,
.rules-editor__rule-user-row,
.rules-editor__rule-role-row {
    width: 49%;
}

.ip-range__ip-range1,
.ip-range__ip-range2{
    min-height: 90px;
}

.rules-editor__rule-range-row > div {
    float: left;
}

.ip-range__ip-range-divider {
    margin-top: 35px;
    width: 2%;
    text-align: center;
}

.rules-editor__rule-user-row {
    padding-right: 0;
}

.rules-editor__rule-role-row {
    float: right;
    padding-left: 0;
}

.rules-editor__rule-range-error-row:after {
    content: "";
    clear: both;
    display: table;
}

.rules-table .rule-row,
.rules-table .rule-title-row{
    display: flex;
    align-items: center;
}



.templates-select-container > button {
	display: inline-block;
}

.templates-css-edit-area-container {
	position: relative;
	height: 600px;
	background-color: #ececec;
	border: solid 1px #d1d2c6;
	margin: 0.8em 0;
}

.templates-css-edit-area-container__edit-area{
	cursor: not-allowed;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0.5em;
	white-space: pre;
	resize: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	line-height: 15px;
	color: #2f4047;
}

.templates-css-edit-area-container,
.templates-css-edit-area-container__edit-area:focus-visible,
.templates-css-edit-area-container__loading-animation,
.loading-animation{
	outline: none;
}

.templates-css-controls {
	display: block;
}

.templates-css-controls > button {
	display: inline-block;
}

.imcms-right-side .imcms-right-side__templates-css-history-view {
	padding-top: 10px;
	overflow: auto;
}

.imcms-pop-up-modal.template-css-history .imcms-pop-up-modal__head {
	height: 6%;
}

.imcms-pop-up-modal.template-css-history .imcms-pop-up-modal__right-side {
	background-color: #f3f3fc;
	height: 84%;
	padding: 0 10px;
	position: relative;
}

.imcms-right-side .imcms-right-side__template-css-history-view {
	padding-top: 10px;
	overflow: auto;
}

.imcms-pop-up-modal.template-css-history .template-css-history-list.imcms-pop-up-modal__left-side {
	padding: 5px 0 5px 0;
	overflow: auto;
	height: 94%;
}

.imcms-pop-up-modal.template-css-history .imcms-pop-up-modal__footer {
		border-top: solid 1px #d3d8de;
		padding: 8px;
		height: 10%;
}

.template-css-history .template-css-history-list .template-css-history-date-unit .template-css-history-date-unit__date .template-css-history-date-container__date {
	padding-top: 10px;
	padding-left: 10px;
	font-weight: bold;
	cursor: default;
}

.template-css-history .template-css-history-list .template-css-history-date-unit .template-css-history-date-unit__date .template-css-history-date-container__separator {
	border-bottom: solid 1px #d3d8de;
}

.template-css-history .template-css-history-list .template-css-history-date-unit .template-css-history-date-unit__unit {
	padding: 5px 0 5px 15px;
	cursor: pointer;
	word-break: break-all;
}

.template-css-history .template-css-history-list .template-css-history-date-unit .template-css-history-date-unit__unit.template-history-date-unit__unit--active {
	background-color: #4ca9d82e;
}

.template-css-history .template-css-history-list .template-css-history-date-unit .template-css-history-date-unit__unit:hover {
	background-color: #d3d8de61;
}

.template-css-history {
	z-index: 65536;
}

.template-css-history + .imcms-modal-layout {
	z-index: 65535;
}

.imcms-import-entity-reference-manager {
	z-index: 65536;
}

.imcms-import-entity-reference-manager + .imcms-modal-layout {
	z-index: 65535;
}

.templates-select-container .imcms-select {
	width: 25%;
}

.templates-select-container .imcms-select .imcms-drop-down-list{
	width: 100%;
}

.templates-select-container__controls > button {
	display: inline-block;

}

.templates-select-container .controls__load-history-button {
	display: none;
	padding: 15px 28px;
}

.templates-select-container .templates-select-container__controls {
	display: inline-block;
	width: 25%;
	margin-left: 15px;
}

.templates-css-controls-left-side,
.templates-css-controls-right-side,
.templates-css-controls-left-side > *,
.templates-css-controls-right-side > * {
	display: inline-block;
}

.templates-css-controls-left-side,
.templates-css-controls-right-side {
	display: none;
}

.templates-css-controls-left-side {
	float: left;
}

.templates-css-controls-right-side {
	float: right;
}

.templates-css-controls-left-side .templates-css-controls-left-side__working {
	margin-left: 5px;
}

.templates-css-controls-right-side > button {
	padding: 15px 28px;
	margin-left: 5px;
	margin-right: 5px;
}

.templates-css-controls .templates-css-controls-left-side .imcms-button--neutral.active {
	text-decoration: underline;
}

.templates-css-edit-area-container__loading-animation,
.imcms-pop-up-modal.template-css-history .imcms-pop-up-modal__right-side .imcms-right-side__loading-animation {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.templates-css-edit-area-container__loading-animation .loading-animation,
.imcms-right-side__loading-animation .loading-animation{
	left: 46%;
	top: 50%;
}

.templates-select-container{
	height: 72px;
}

.imcms-import-entity-reference-manager-body__container{
	overflow: auto;
	background-color: white;
	height: 100%;
}
.imcms-import-entity-reference-manager-body{
	height: 80%;
}

.imcms-import-entity-reference-manager .imcms-footer{
	border-top: solid 1px #d3d8de;
	width: 100%;
}

.imcms-import-entity-reference-manager-row{
	padding: 1.5% 4% 1.5% 4%;
}

.imcms-import-entity-reference-manager-row__text{
	width: 68%;
}

.imcms-import-entity-reference-manager-row__text > input{
	width: 100%;
}

.imcms-import-entity-reference-manager-row__select{
	float: right;
	width: 30%;
}

.imcms-import-entity-reference-manager-row__select .imcms-drop-down-list{
	width: 100%;
}

.imcms-import-entity-reference-manager-row__select .imcms-drop-down-list__select-item-value{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.imcms-import-documents-tab{
	padding-top: 1%;
}

.imcms-import-documents-tab__import-button{
	width: 20%;
	display: inline-block;
}
.imcms-import-documents-tab__import-fields-block{
	width: 80%;
	display: inline-block;
}

.import-fields-block__field-start,
.import-fields-block__field-end{
	display: inline-block;
	width: 18%;
	padding: 1% 1% 1% 1%;
}

.import-fields-block__basic-import-documents-info-filter{
	width: 20%;
}

.import-fields-block__basic-import-documents-info-filter .imcms-drop-down-list{
	width: 100%;
}

.import-fields-block__list-button,
.import-fields-block__import-button{
	display: inline-block;
	width: 20%;
	margin-left: 1%;
}

.imcms-import-entity-reference-buttons{
	display: inline-block;
	width: 100%;
	height: 5%;
}

.imcms-import-entity-reference-buttons__role,
.imcms-import-entity-reference-buttons__template,
.imcms-import-entity-reference-buttons__category,
.imcms-import-entity-reference-buttons__category-type{
	padding: 1% 1% 1% 1%;
	display: inline-block;
}

#middle-circle{
	position: absolute;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	background-color: rgb(248, 248, 248);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: smaller;
	font-weight: bold;
}

#progress-spinner{
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.basic-import-document-info-row__status .imcms-drop-down-list,
.basic-import-document-info-row__status > input{
	width: 40%;
}

.basic-import-document-info-row__status > input {
	text-align: center;
	margin: 0 30% 0 30%;
	color: #587380;
	padding: 8px 13px;
}

.imcms-upload-button-container__upload-filename {
	display: inline-block;
	margin-left: 10px;
}

.imcms-import-documents-tab__field-start{
	display: inline-block;
	width: 15%;
	margin: 0 5px 0 0;
}

.imcms-import-documents-tab__field-end{
	display: inline-block;
	width: 15%;
	margin: 0 5px 0 0;
}

.imcms-import-documents-tab__basic-import-documents-info-filter{
	width: 15%;
	margin: 0 5px 0 0;
	min-width: 105px;
}

.imcms-import-documents-tab__basic-import-documents-info-filter .imcms-select__drop-down-list{
	width: 100%;
}

.imcms-import-documents-tab__list-button,
.imcms-import-documents-tab__import-button{
	display: inline-block;
	width: 15%;
	min-width: 100px;
}

.imcms-import-documents-tab__import-button{
	margin-left: 5px;
}

.selection-window-container{
    text-align: center;
    width: auto;
    margin: 0 auto;
    padding: 200px 0 0 0;
}

.selection-window-container .upload-documents-card,
.selection-window-container .edit-documents-card,
.selection-window-container .alias-control-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
    width: 200px;
    height: 100px;
    border: 2px solid #0b94d8;
    border-radius: 5px;
    margin: 10px 20px 10px 20px;
    cursor: pointer;
}

.selection-window-container .upload-documents-card:hover,
.selection-window-container .edit-documents-card:hover,
.selection-window-container .alias-control-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.upload-documents-card .upload-documents-card__title,
.edit-documents-card .edit-documents-card__title,
.selection-window-container .alias-control-card__title{
    padding: 2px 16px;
}

.upload-documents-card .upload-documents-card__icon,
.edit-documents-card .edit-documents-card__icon,
.selection-window-container .alias-control-card__icon {
    width: 100%;
    height: 50px;
    margin-top: 5px;
}

.upload-documents-card .upload-documents-card__icon {
    background: url("#{$context-path}/imcms/images/import_documents/upload_icon.svg") no-repeat center;
    background-size: 50px 50px;
}

.edit-documents-card .edit-documents-card__icon {
    background: url("#{$context-path}/imcms/images/import_documents/edit_icon.svg") no-repeat center;
    background-size: 50px 50px;
}

.alias-control-card .alias-control-card__icon {
    background: url("#{$context-path}/imcms/images/import_documents/document_edit_icon.svg") no-repeat center;
    background-size: 50px 50px;
}

.sections-container{
    position: relative;
    height: 100%;
}

.sections-container .control-buttons .disable{
    cursor: not-allowed;
    opacity: .5;
}

.sections-container .control-buttons{
    display: inline-block;
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
}

.sections-container .control-buttons .control-buttons__previous-button,
.sections-container .control-buttons .control-buttons__next-button{
    display: inline-block;
}

.upload-documents-section .upload-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    max-width: 50%;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.upload-documents-section .upload-area.highlight{
    border-color: #0b94d8;
}

.upload-documents-section.section,
.edit-imported-documents-section.section,
.import-entity-references-section.section,
.import-section.section.section,
.alias-control-section.section{
    height: fit-content;
}

.upload-documents-section .upload-area .upload-area__upload-button,
.upload-documents-section .upload-area .upload-area__filename{
    display: inline-block;
}
.upload-documents-section .upload-area .upload-area__filename{
    margin: 0 0 0 15px;
}
.sections-container .sections-container__back-button{
    float: right;
}

.edit-imported-documents-section .range-input .range-input__start-id,
.import-section .range-input .range-input__start-id,
.alias-control-section .range-input .range-input__start-id,
.edit-imported-documents-section .range-input .range-input__end-id,
.import-section .range-input .range-input__end-id,
.alias-control-section .range-input .range-input__end-id,
.edit-imported-documents-section .range-input .range-input__filters,
.import-section .range-input .range-input__filters,
.alias-control-section .range-input .range-input__filters,
.edit-imported-documents-section .range-input .range-input__list-button,
.import-section .range-input .range-input__list-button,
.alias-control-section .range-input .range-input__list-button,
.import-section .import-section__container{
    display: inline-block;
    margin: 0 5px 0 5px;
}

.import-section .import-section__container .imcms-checkbox{
    display: table-cell;
}

.import-section .import-section__container .imcms-checkbox .imcms-label.imcms-checkbox__label{
    margin-bottom: 0;
}

.edit-imported-documents-section .range-input .range-input__start-id,
.import-section .range-input .range-input__start-id,
.alias-control-section .range-input .range-input__start-id{
    width: 20%;
}

.edit-imported-documents-section .range-input .range-input__end-id,
.import-section .range-input .range-input__end-id,
.alias-control-section .range-input .range-input__end-id{
    width: 20%;
}

.edit-imported-documents-section .range-input .range-input__filters,
.import-section .range-input .range-input__filters,
.alias-control-section .range-input .range-input__filters{
    width: 20%;
}

.import-section .range-input .range-input__filters,
.alias-control-section .range-input .range-input__filters{
    display: none;
}

.edit-imported-documents-section .edit-imported-documents-section__list-button,
.import-section .import-section__list-button,
.import-section .import-section__import-button {
    /*add buttons to alias-control-section*/
    width: 25%;
    display: inline;
    margin-bottom: 10px;
    margin-left: 10px;
}

.edit-imported-documents-section .edit-imported-documents-section__switch-input-type-button,
.import-section .import-section__switch-input-type-button,
.alias-control-section .alias-control-section__switch-input-type-button{
    margin-bottom: 5px;
}

.edit-imported-documents-section .range-input,
.import-section .range-input,
.alias-control-section .range-input{
    display: none;
}
.edit-imported-documents-section .list-input{
    /*display: none;*/
}

.edit-imported-documents-section .range-input .imcms-select__drop-down-list,
.import-section .range-input .imcms-select__drop-down-list,
.alias-control-section .range-input .imcms-select__drop-down-list{
    width: 100%;
}

.edit-imported-documents-section .list-input .list-input__list-button {
    width: 25%;
    display: inline-block;
    float: right;
    margin: 0 5px 0 5px;
}

.edit-imported-documents-section .list-input .meta-id-input,
.import-section .list-input .meta-id-input,
.alias-control-section .list-input .meta-id-input{
    float: left;
}

.edit-imported-documents-section .list-input .list-input__meta-id-list-select,
.import-section .list-input .list-input__meta-id-list-select,
.alias-control-section .list-input .list-input__meta-id-list-select{
    width: 100px;
    height: 150px;
    margin: 0 5px 10px 5px;
    float: left;
    background-color: #fff;
    border: 1px solid #d3d8de;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #2f4047;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    outline: none;

}

.import-section .list-input .list-input__meta-id-list-select{
    margin: 0 5px 0 5px;
}

.list-input__meta-id-list-select > option{
    text-align: center;
}

.edit-imported-documents-section .list-input .list-input__meta-id-list-select:focus,
.import-section .list-input .list-input__meta-id-list-select:focus,
.alias-control-section .list-input .list-input__meta-id-list-select:focus {
    border-color: #0b94d8;
}

.sections-container .control-buttons .control-buttons__previous-button{
    float: left;
}

.sections-container .control-buttons .control-buttons__next-button{
    float: right;
}

.edit-imported-documents-section .list-input .meta-id-input .controls .imcms-button,
.import-section .list-input .meta-id-input .controls .imcms-button,
.alias-control-section .list-input .meta-id-input .controls .imcms-button{
    display: inline-block;
    margin: 0 5px 0 5px;
}

.import-section .import-section__progress-bar,
.alias-control-section .import-section__progress-bar{
    margin: 0 5px 0 5px;
}

.alias-control-section .alias-control-section__remove-aliases-button,
.alias-control-section .alias-control-section__replace-aliases-button{
    display: inline-block;
    margin: 0 5px 0 5px;
}

.sections-container__edit-area .imcms-import-entity-reference-manager-row .imcms-import-entity-reference-manager-row__text>input{
    opacity: 0.7;
}

.sections-container__edit-area .titles{
    padding: 1% 4% 0 4%;
}

.sections-container__edit-area .titles .imcms-title {
    display: inline;
}
.sections-container__edit-area .titles .titles__imcms-rb6-entities{
    display: inline;
    float: right;
    width: 30%;
}
