
<hr align="center">
<div align="center">
  <form method="post" action="CalenderManager">
  <font face="Garamond, Exocet, Arial"><b><font color="#993333">Administrator</font></b></font> 
    <table width="100" border="3">
      <tr> 
        <td> 
          <input type="submit" name="addPlayer" value="Add new player">
        </td>
      </tr>
      <tr> 
        <td> 
          <input type="submit" name="removePlayer" value="Remove player">
        </td>
      </tr>
      <tr> 
        <td> 
          <input type="submit" name="editTitle" value="Edit Title">
        </td>
      </tr>
    </table>    <input type="hidden" name="action" value="view">
    <input type="hidden" name="view" value="admin">
  </form>
</div>
