
<div align="center">
  <table width="136" align="center" cellpadding="0" cellspacing="0">
    <tr> 
      <td width="52"> 
        <div align="center"><font color="#993333"><b><font face="Garamond, Exocet, Arial" size="+1">
		<a href="#MONTHVIEW#">Månad</a></font></b></font></div>
      </td>
      <td width="14"><font color="#993333"></font> </td>
      <td width="54"> 
        <div align="center"><font color="#993333"><b><font face="Garamond, Exocet, Arial" size="+1"><a href="#DAYVIEW#">Dag</a></font></b></font></div>
      </td>
    </tr>
  </table>
  <table border="3" cellpadding="0" cellspacing="0" align="center">
    <tr> 
      <td> 
        <table width="133" border="0" height="118" cellpadding="0" cellspacing="0" bgcolor="#333333" align="center">
          <tr> 
            <th nowrap><font face="Garamond, Arial, Courier" size="-1" color="#FF0000"></font></th>
            <th nowrap><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000">M</font></th>
            <th nowrap><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000">T</font></th>
            <th nowrap><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000">W</font></th>
            <th nowrap><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000">T</font></th>
            <th nowrap><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000">F</font></th>
            <th nowrap><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000">S</font></th>
            <th nowrap><font face="Garamond, Exocet, Arial" size="-1" color="#FF0000">S</font></th>
          </tr>
          <tr> 
            <th nowrap><font face="Garamond, Arial, Courier" size="-1" color="#FF0000">#w1#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#1#</font></th>
            <th nowrap><font face="Garamond, Arial, Courier" size="-1">#2#</font></th>
            <th nowrap><font face="Garamond, Arial, Courier" size="-1">#3#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#4#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#5#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#6#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#7#</font></th>
          </tr>
          <tr> 
            <th nowrap><font face="Garamond, Arial, Courier" size="-1" color="#FF0000">#w2#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#8#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#9#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#10#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#11#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#12#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#13#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#14#</font></th>
          </tr>
          <tr> 
            <th nowrap><font face="Garamond, Arial, Courier" size="-1" color="#FF0000">#w3#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#15#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#16#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#17#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#18#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#19#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#20#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#21#</font></th>
          </tr>
          <tr> 
            <th nowrap><font face="Garamond, Arial, Courier" size="-1" color="#FF0000">#w4#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#22#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#23#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#24#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#25#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#26#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#27#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#28#</font></th>
          </tr>
          <tr> 
            <th nowrap><font face="Garamond, Arial, Courier" size="-1" color="#FF0000">#w5#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#29#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#30#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#31#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#32#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#33#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#34#</font></th>
            <th nowrap><font size="-1" face="Garamond, Arial, Courier">#35#</font></th>
          </tr>
          <tr> 
            <th nowrap><font size="-1" color="#FF0000" face="Garamond, Arial, Courier">#w6#</font></th>
            <th nowrap><font face="Garamond, Arial, Courier" size="-1">#36#</font></th>
            <th nowrap><font face="Garamond, Arial, Courier" size="-1">#37#</font></th>
            <th nowrap><font face="Garamond, Arial, Courier" size="-1">#38#</font></th>
            <th nowrap><font face="Garamond, Arial, Courier" size="-1">#39#</font></th>
            <th nowrap><font face="Garamond, Arial, Courier" size="-1">#40#</font></th>
            <th nowrap><font face="Garamond, Arial, Courier" size="-1">#41#</font></th>
            <th nowrap><font face="Garamond, Arial, Courier" size="-1">#42#</font></th>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table width="100" border="0" align="center" cellpadding="0" cellspacing="1">
    <tr> 
      <td width="24"> 
        <div align="center"><a href="#BACKLINK#"><img src="#BACKPIC#" width="15" border="0" height="15"></a></div>
      </td>
      <th width="47"> 
        <div align="center"><font face="Garamond, Exocet, Arial">#MONTH#</font></div>
      </th>
      <td width="25"> 
        <div align="center"><a href="#NEXTLINK#"><img src="#NEXTPIC#" width="15" border="0" height="15"></a></div>
      </td>
    </tr>
    <tr> 
      <td width="24">&nbsp;</td>
      <th width="47"> 
        <div align="center">#YEAR#</div>
      </th>
      <td width="25">&nbsp;</td>
    </tr>
  </table>
</div>
<p align="center">&nbsp; 
  <form method="POST" action="CalenderManager">
<p align="center"><font face="Courier New, Courier, mono">
	#NEW_APPOINTMENT#
    </font>
</p>
</form>
  
<form method="post" action="CalenderManager">
  <p align="center"><font face="Garamond, Exocet, Arial" color="#993333"><b>Users<br>
    <select name="players_menu" "#SIZE#>
#SELECTBOX#
    </select>
    <input type="hidden" name="action" value="view">
    <input type="hidden" name="view" value="month">
    </b></font></p>
<p align="center"><font face="Garamond, Exocet, Arial"><font face="Garamond, Exocet, Arial" color="#993333"><b> 
    <input type="submit" name="btn_updateAll" value="Change user">
  </b></font></font> </p>
</form>
<div align="center">
<p>&nbsp;</p>
</div>

