
<p align="center"><font face="Garamond, Arial, Courier"><b><font size="+5" color="#9999FF">V&auml;lkommen</font></b></font></p>
<p align="center"><font face="Garamond, Arial, Courier" size="+2">Var sn&auml;ll 
  och v&auml;lj en anv&auml;ndare du vill titta p&aring;</font></p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<table width="75%" align="right">
  <tr align="right"> 
    <td><font face="Garamond, Arial, Courier">Detta &auml;r default sidan</font></td>
  </tr>
</table>
<p align="center">&nbsp;</p>
