/* Normal fonts */


.rrTopLogo { position:absolute; left:12; top:0; }
.rrTopLogoText { font: 18px Arial Black; color:#999999; text-decoration:none; }
.rrTopText { font: bold 12px Verdana, sans-serif; color:#999999; }
#rrTopTextLay { position:absolute; left:12; top:2; }

#RRcontentDiv { position:relative; left:-5; top:-5; font: 13px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #000000; }

/* Forms */

INPUT, SELECT, TEXTAREA { font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif; color: #000000; }

/* Links */

A:link { color: #003399; text-decoration: underline; }
A:visited { color: #003399; text-decoration: underline; }
A:active { color: #009933; text-decoration: underline; }
A:hover { color: #009933; text-decoration: underline; }

/* Misc */

B { font-weight: bold; }
I { font-style: italic; }
U { text-decoration: underline; }

/* for the imCMS label */

A.imcms_label:link, A.imcms_label:visited { font: 10px Verdana; color:#c00000; background-color:#ffffcc; text-decoration:none; }
A.imcms_label:active, A.imcms_label:hover { font: 10px Verdana; color:#000099; background-color:#ffffcc; text-decoration:underline; }



/* Application Specific */

#RRpanelDiv {
	position:absolute; left:0; top:0; width:100%; height:29; background-color: buttonface; z-index:1;
	border-bottom: 1px solid threedshadow;
	border-left: 1px solid buttonface;
}

#paperDiv { position:relative; left:-5; top:-5; width:700; height:100%; background-color: #ffffff; padding: 50 85 50 130; }
#paperShadowDiv { position:relative; width:700; height:100%; background-color: #999999; z-index:5; }

#textDiv {
	font: 11px Verdana, sans-serif; color:#000000; background-color: #ffffff;
	border: 1px inset buttonface; padding:5;
	overflow:auto;
}

#stop, #start, #reset, #save { position:relative; width:100; height:26; background-color: transparent; cursor:hand; }
#menu { position:relative; width:100; height:26; background-color: transparent; cursor:hand; }

BUTTON.btnNorm { border: 1px solid buttonface; }
BUTTON.btnNorm IMG { filter: gray; }
BUTTON.btnUp { border: 1px solid; border-color: threedhighlight threedshadow threedshadow threedhighlight; }
BUTTON.btnDown { border: 1px solid; border-color: threedshadow threedhighlight threedhighlight threedshadow; }

BUTTON SPAN { font: bold 11px sans-serif; text-align:center; cursor:hand; }

SPAN.resetCont { color:#000099; }
SPAN.resetContAct { color:#0000FF; }
SPAN.stopCont { color:#c00000; }
SPAN.stopContAct { color:#FF0000; }
SPAN.startCont { color:#009900; }
SPAN.startContAct { color:#00CC00; }
SPAN.menuCont { color:#990099; }
SPAN.menuContAct { color:#FF00FF; }
SPAN.saveCont { color:#998800; }
SPAN.saveContAct { color:#CCBB00; }
SPAN.btnDim { color:#999999; }
