.imcms-edit-image {
    display: contents;
    align-items: center;
    justify-content: center;
}

.imcms-editable-img-controls button{
    margin-left: 15px;
}

.imcms-image-toolbar__toolbar > button:first-child{
    margin-left: 0;
    margin-right: 15px;
}

.imcms-edit-image__button:hover {
    border-color: #0b94d8;
}

.imcms-image-toolbar__toolbar {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: auto;
}

.imcms-edit-image__proportions{
    text-align: -webkit-center;
}

.imcms-edit-image__proportions .imcms-button{
    margin: 0;
}