.imcms-editable-controls-area {
    overflow-y: scroll;
    width: 100%;
    padding: 15px 42px;
    border-left: 1px solid #d3d8de;
}

@media screen and (max-width: 1500px) {
    .imcms-editable-controls-area {
        padding: 15px 20px;
    }
}

@media screen and (max-width: 1400px) {
    .imcms-editable-controls-area {
        padding: 15px 10px;
    }
}

.imcms-editable-controls-area__buttons {
    display: flex;
    place-content: center;
    overflow: hidden;
}

.imcms-editable-controls-area__buttons .imcms-buttons__button {
    margin-top: 20px;
}

.imcms-editable-controls-area__buttons .imcms-icon-button:hover .imcms-control {
    filter: invert(60%);
}

.imcms-editable-controls-area__buttons .imcms-button--neutral {
    float: right;
}

.imcms-editable-controls-area__text-box,
.imcms-editable-controls-area__select,
.imcms-editable-controls-area__flags {
    margin-bottom: 15px;
}

.imcms-editable-controls-area__buttons {
    margin-bottom: 10px;
}

.imcms-editable-controls-area__text-box .imcms-text-box__input {
    width: 100%;
}

.imcms-editable-controls-area__select {
    display: block;
}

.imcms-editable-controls-area__select .imcms-drop-down-list {
    display: block;
    width: 100%;
}

.imcms-editable-controls-area__flags {
    float: left;
}

.imcms-editable-controls-area__checkboxes {
    float: right;
}

.imcms-editable-controls-area__buttons {
    clear: both;
}

.imcms-editable-controls-area__buttons .imcms-button--negative {
    width: 150px;
    float: none;
    display: block;
}

@media screen and (max-width: 1300px) {
    .imcms-editable-controls-area__buttons .imcms-button--negative {
        width: 130px;
    }
}

.imcms-editable-controls-area__buttons .imcms-image-advanced-button{
    margin-right: 10px;
}

.imcms-editable-controls-area__buttons .imcms-image-history-button{
    padding: 15px;
}

.imcms-editable-controls-area__checkboxes .imcms-checkbox__label {
    padding-right: 20px;
    padding-left: 0;
}

.imcms-editable-controls-area__checkboxes .imcms-checkbox__label:before {
    right: 0;
    left: unset;
}

.action-alt-text-container__alt-suggest-btn {
    margin: 10px auto;
}

.action-alt-text-container {
    margin-top: 10px;
}

.imcms-advanced-mode__file-format {
    float: left;
    width: 40%;
}

.imcms-advanced-mode__file-format .imcms-drop-down-list {
    display: block;
    width: 100%;
}

.imcms-advanced-mode__file-format .imcms-select {
    display: block;
}

.imcms-advanced-mode__button {
    padding-top: 30px;
    float: right;
    line-height: 40px;
}
