.imcms-edit-image {
    display: contents;
    align-items: center;
    justify-content: center;
}

.imcms-edit-image .imcms-button {
    margin-left: 15px;
}

.imcms-edit-image__button {
    display: inline-block;
    margin-right: 5px;
}

.imcms-edit-image__button:hover {
    border-color: #0b94d8;
}

.imcms-edit-image__button:last-child {
    margin-right: 0;
}

.imcms-image-toolbar__toolbar {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: auto;
}
