.imcms-image_editor {
    background-color: #f3f3fc;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: auto;
}

.common-info-image {
    width: 50%;
    display: contents;
}

.imcms-image_editor__image-characteristics {
    display: flex;
    border-bottom: 1px solid #d3d8de;
    padding: 0;
    height: 64px;
}

.imcms-image_editor__image-characteristics:after {
    content: "";
    display: block;
    clear: both;
}

.imcms-image_editor__left-side {
    float: left;
    position: relative;
    width: 74%;
    height: 88%;
    height: -webkit-calc(100% - 106px);
    height: -moz-calc(100% - 106px);
    height: -o-calc(100% - 106px);
    height: calc(100% - 106px);
}

.imcms-image_editor__right-side {
    display: inline-block;
    position: relative;
    width: 26%;
    height: 88%;
    height: -webkit-calc(100% - 110px);
    height: -moz-calc(100% - 110px);
    height: -o-calc(100% - 110px);
    height: calc(100% - 110px);
    overflow: auto;
}

.imcms-image_editor__footer {
    border-top: 1px solid #d3d8de;
    border-left: 1px solid #d3d8de;
    display: block;
    position: relative;
    height: 5%;
    width: 100%;
}

.imcms-image_editor__footer button {
    position: absolute;
    top: 25%;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    width: 45%;
}

.imcms-image_editor__footer .imcms-button--negative {
    left: 3%;
}

.imcms-image_editor__footer .imcms-button--save {
    left: 52%;
}

.image-exif-window {
    z-index: 10004;
}

.image-exif-window .imcms-pop-up-modal__body {
    height: 100%;
    background-color: #f3f3fc;
}

.imcms-pop-up-modal__body .image-exif-window__row {
    padding: 6px 15px;
}

.imcms-editable-img-area__img {
    overflow: hidden;
}

@media screen and (max-width: 790px) {
    .imcms-image_editor__image-characteristics {
        padding: 0 20px;
    }
}

.image-editor-info {
    display: -webkit-inline-box;
    display: ruby-base-container;
    text-transform: lowercase;
    margin-left: 38%;
}

.imcms-image-info {
    background-color: #2fcccf;
}

#data-link-image {
    color: #fff2f9;
}

.imcms-control--permalink {
    margin-top: 14px;
}
