.imcms-restricted-style {
    background-color: #e2b40cb8;
    padding: 10px;
}

.imcms-info-edit-image {
    background-color: #6fbde2;
    padding: 10px;
}

.image-exif-info {
    width: 100%;
    margin-top: 20px;
    height: 55px;
    float: left;
    text-align: -webkit-center;
    text-align: -moz-center;
}
