.imcms-resolution-inputs {
    display: flex;
    align-items: center;
    place-content: center;
}

.imcms-original-size {
    display: inline-block;
    height: 100%;
}

.imcms-display-size,
.imcms-edit-size {
    display: flex;
    width: 100%;
    margin-top: 25px;
}

.imcms-edit-size__title,
.imcms-display-size__title {
    display: block;
    width: 45%;
    line-height: 28px;
}

.imcms-original-size__title {
    display: block;
    width: 100%;
    line-height: 28px;
    text-align: center;
}

.imcms-resolution-inputs__block-x {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 5px;
}

.imcms-resolution-inputs__number {
    display: flex;
    width: 100px;
}

.imcms-resolution-inputs__number {
    width: auto;
}

.imcms-resolution-inputs__number .imcms-number__label {
    margin-right: 5px;
    margin-top: 0;
}

.imcms-resolution-inputs__number .imcms-number-box {
    display: inline-block;
}

.imcms-resolution-inputs__number .imcms-number-box__input {
    width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 18px;
}

.imcms-editable-img-controls__control-size .imcms-number-box__input {
    width: 70px;
}

.imcms-resolution-inputs__number .imcms-button--increment {
    height: 10px;
    margin-top: 4px;
}

.imcms-resolution-inputs__number .imcms-button--decrement {
    height: 10px;
    margin-bottom: 4px;
}
