.imcms-originally-img-area {
    background-color: #9b9b9b;
    display: block;
	overflow: auto;
    position: relative;
    z-index: 15;
    width: 100%;
    height: 100%;
}

.image-cropping-block {
    background-color: #9b9b9b;
    position: absolute;
    z-index: 10;
}

.imcms-originally-img {
    background: 0 0 no-repeat;
    display: block;
    position: relative;
    z-index: 20;
}

.image-cropping-wrap {
    position: relative;
}

.image-cropping-wrap__layout {
    background: rgba(37, 34, 34, .5);
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: 30;
    top: 0;
    left: 0;
}

.imcms-preview-img-area {
    background-color: #9b9b9b;
    display: none;
    overflow: auto;
    position: absolute;
    z-index: 10;
}

.imcms-preview-img-container {
    position: absolute;
    z-index: 10003;
}

.image-cropping-block,
.imcms-original-img-container,
.imcms-preview-img-container,
.imcms-preview-img-area {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.imcms-preview-img {
    max-width: none;
    display: block;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
}

.imcms-preview-img:not(.image-cropping-wrap__img),
.image-cropping-wrap,
.imcms-originally-img {
    background: no-repeat center;
    transform-origin: top left;
	box-sizing: content-box;
	margin:1%;
}
