.imcms-image-characteristic {
    padding: 0 5px;
}

.imcms-image-toolbar__img-title {
    float: left;
}

.imcms-image-toolbar__img-origin-size {
    font-weight: 400;
    float: right;
    margin-right: 42px;
}

.imcms-img-origin-size {
    font-weight: 400;
    line-height: 64px;
    float: left;
    margin-left: 5px;
}

.imcms-image-characteristic__origin-size {
    float: right;
}

.imcms-image-characteristic__origin-size * {
    font-weight: 400;
}

.imcms-image-toolbar__img-url {
    font-weight: 400;
    float: right;
    height: 64px;
}

.imcms-image-toolbar__img-url span {
    margin-left: 5px;
}

.imcms-image-toolbar__button {
    display: none;
}

.imcms-image-toolbar__button--toolbar {
    float: left;
    margin-right: 2%;
}

