.imcms-editable-img-controls {
    display: inline-block;
    overflow: hidden;
    padding-left: 20px;
    width: 74%;
}

.imcms-editable-img-controls__control-button {
    display: inline-block;
}

.imcms-editable-img-controls__control-size,
.imcms-editable-img-controls__control-button,
.imcms-editable-img-controls__control-scale-n-rotate,
.imcms-editable-img-controls__control-view {
    display: inline-block;
    vertical-align: top;
}

.imcms-editable-img-controls__control-size .imcms-edit-size__number {
    padding-right: 10px;
}

.imcms-editable-img-controls__control-scale-n-rotate {
    width: 50%;
}

.imcms-editable-img-control-tabs {
    margin: auto 0 0 auto;
}

.imcms-editable-img-control-tabs__tab {
    cursor: pointer;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    float: right;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    /*width: 50%;*/
}

.imcms-editable-img-control-tabs__tab:after {
    content: "";
    background-color: #0b94d8;
    display: none;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
}

.imcms-editable-img-control-tabs__tab--active:after {
    display: block;
}

.imcms-editable-img-control-tabs__tab:hover:after {
    display: block;
}

.imcms-image-crop-proportions-info {
    display: inline-block;
    padding-left: 15px;
}

.percentage-image-info {
    box-sizing: border-box;
    text-align: center;
    width: 70px;
    height: 2em;
    line-height: 2em;
    padding: 0;
    margin-left: 15px;
}

.percentage-image-info:hover {
    border-color: #d3d8de !important;
}

.select-image-button {
    display: flex !important;
    width: 26%;
    flex-direction: column;
    align-items: center;
    place-self: center;
}
.select-image-button > div{
    margin: 0;
    height: 45px;
}