.imcms-editable-controls-area {
    overflow: auto;
    width: 100%;
    height: 70%;
    height: -webkit-calc(86% - 130px);
    height: -moz-calc(86% - 130px);
    height: -o-calc(86% - 130px);
    height: calc(86% - 130px);
    padding: 20px 42px;
    border-left: 1px solid #d3d8de;
}

.imcms-editable-controls-area__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.imcms-editable-controls-area__buttons .imcms-buttons__button {
    margin-top: 20px;
}

.imcms-editable-controls-area__buttons .imcms-icon-button:hover .imcms-control {
    filter: invert(60%);
}

.imcms-editable-controls-area__buttons .imcms-button--neutral {
    float: right;
}

.imcms-editable-controls-area__text-box,
.imcms-editable-controls-area__select,
.imcms-editable-controls-area__flags {
    margin-bottom: 18px;
}

.imcms-editable-controls-area__text-box .imcms-text-box__input {
    width: 100%;
}

.imcms-editable-controls-area__select {
    display: block;
}

.imcms-editable-controls-area__select .imcms-drop-down-list {
    display: block;
    width: 100%;
}

.imcms-editable-controls-area__flags {
    float: left;
}

.imcms-editable-controls-area__checkboxes {
    float: right;
}

.imcms-editable-controls-area__buttons {
    clear: both;
}

.imcms-editable-controls-area__buttons .imcms-button--negative {
    width: 60%;
    float: none;
    display: block;
    margin: 0 auto 10px;
}

.imcms-editable-controls-area__checkboxes .imcms-checkbox__label {
    padding-right: 20px;
    padding-left: 0;
}

.imcms-editable-controls-area__checkboxes .imcms-checkbox__label:before {
    right: 0;
    left: unset;
}

.action-alt-text-container__alt-suggest-btn {
    margin: 10px auto;
}

.action-alt-text-container {
    margin-top: 10px;
}

.imcms-advanced-mode__file-format {
    float: left;
    width: 40%;
    height: 125px;
}

.imcms-advanced-mode__file-format .imcms-drop-down-list {
    display: block;
    width: 100%;
}

.imcms-advanced-mode__file-format .imcms-select {
    display: block;
}

.imcms-advanced-mode__button {
    padding-top: 30px;
    float: right;
    line-height: 40px;
}
