@media screen and (max-width: 1300px) {
    .imcms-image-toolbar button:not(.imcms-button--switch-on):not(.imcms-button--switch-off){
        padding: 15px;
    }
}

@media screen and (max-width: 1200px) {
    .imcms-image_editor {
        overflow: hidden;
        position: relative;
    }

    .imcms-image_editor__right-side {
        background-color: #f3f3fc;
        position: absolute;
        top: 106px;
        right: -350px;
        width: 350px;
        z-index: 999;
    }

    .imcms-image_editor__left-side {
        width: 100%;
    }

    .imcms-image-characteristics__button {
        display: block;
    }

    .imcms-image-toolbar__button {
        display: block;
        width: 8%;
        min-width: 105px;
        padding: 0 !important;
    }

    .imcms-originally-img-area {
        height: 100%;
    }

    .select-image-button {
        width: 15%;
    }

    .imcms-editable-img-controls{
        width: 100%;
    }

    .imcms-image-toolbar .select-image-button .imcms-button .imcms-button--positive__icon{
        display: none;
    }

}

@media screen and (max-width: 965px) {
        .percentage-image-info,
        .select-image-button,
        .imcms-editable-img-controls button {
            margin-left: 10px;
        }

        .imcms-image-crop-proportions-info{
            padding-left: 10px;
        }

        .imcms-image-toolbar__toolbar > button:first-child {
         margin-right: 10px;
        }

        .imcms-edit-image .imcms-button--negative{
            padding: 15px 10px !important;
        }
}

@media screen and (max-width: 912px) {
    .imcms-edit-image .imcms-button--negative{
        padding: 10px !important;
    }

    .imcms-image-toolbar .select-image-button .imcms-button .imcms-button--positive__icon{
        display: block;
    }

    .imcms-image-toolbar .select-image-button .imcms-button .imcms-button--positive__button{
        display: none;
    }

    .imcms-image-toolbar .select-image-button .imcms-button{
        padding: 10px 15px;
    }

    .select-image-button {
        width: 10%;
        margin-right: 5px;
    }

    .imcms-editable-img-control-tabs__tab{
        line-height: 16px;
    }
}

@media screen and (max-width: 900px) {
    .image-editor-info {
        width: calc(90% - 420px);
    }
}

@media screen and (max-width: 715px) {
    .percentage-image-info,
    .select-image-button,
    .imcms-editable-img-controls button {
        margin-left: 5px;
    }

    .imcms-image-toolbar__toolbar,
    .imcms-image-crop-proportions-info {
        padding-left: 5px;
    }

    .imcms-image-toolbar__toolbar > button:first-child {
        margin-right: 5px;
    }

    .imcms-editable-img-controls .imcms-resolution-inputs__number .imcms-number-box__input{
        width: 60px;
        line-height: 20px;
        padding: 0 0 0 10px;
    }

    .imcms-editable-img-control-tabs{
        margin: 0;
    }
}

@media screen and (max-width: 680px) {
    .imcms-image-toolbar button:not(.imcms-button--switch-on):not(.imcms-button--switch-off) {
        padding: 10px;
    }
}

@media screen and (max-width: 645px) {
    .imcms-image-editor--revert-to-original{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .imcms-editable-img-control-tabs__tab {
        line-height: 12px;
        padding-top: 3px;
    }
}