@import "../reindeer/styles.css";

.v-select-optiongroup-horizontalgroup .v-select-option {
    display: inline-block;
}

.max-width {
    width: 100%;
}

table#user_search,
table#doc_search_basic,
table#doc_search_advanced {
    border: solid 1px #a9a9a9;
    border-collapse: collapse;
}

table#user_search,
table#doc_search_basic {
    background: #fffff0;
    margin-bottom: 1px;
}

table#doc_search_advanced {
    background: #e0ffff;
    margin-top: -1px;
}

table#user_search th,
table#doc_search_basic th,
table#doc_search_advanced th {
    text-align: left;
    width: 100px;
}

table#user_search th,
table#doc_search_basic th {
    background: #f5f5dc;
}

table#doc_search_advanced th {
    background: #add8e6;
}

table#user_search td,
table#user_search th,
table#doc_search_basic td,
table#doc_search_basic th,
table#doc_search_advanced td,
table#doc_search_advanced th {
    padding: 0.3em;
    border: solid 1px #a9a9a9;
    border-left: none;
    border-right: none;
}


table#doc_search_basic th.advanced {
    background: #add8e6;
}

table#doc_search_basic td.advanced {
    background: #e0ffff;
}

table#user_search #buttons,
table#doc_search_basic #buttons {
    border-left: solid 1px #a9a9a9;
}

