@import url(../reindeer/legacy-styles.css);

.v-loading-indicator,
.v-loading-indicator-delay,
.v-loading-indicator-wait {
   -ms-filter: alpha(opacity=80);
   filter: alpha(opacity=80);
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
}

.v-select-optiongroup-horizontalgroup .v-select-option {
    display: inline-block;
}

.max-width {
    width: 100%;
}

/* workaround - used only for status separation in doc lifecycle editor */
/* todo: remove, fixed in vaadin-7*/
.im-border-top-doc_lifecycle {
    border-top: solid 1px #a9a9a9;
    padding-top: 5px;
}

.im-border-bottom {
    border-bottom: 1px solid #a9a9a9;
}

.im-fieldset {
    border: none;
}

.im-fieldset legend {
    background: lightgray;
    width: 100%;
}

/* copied form runo. */
.v-button-small .v-button-wrap, .v-disabled .v-button-small .v-button-wrap {
    font-size: 11px;
    line-height: 13px;
    padding: 1px 12px;
    min-height: 13px;
}


table#users_projection,
table#docs_projection_basic_filter,
table#docs_projection_extended_filter {
    border: none;
    border-collapse: collapse;
}

table#docs_projection_basic_filter {
    border-top: solid 1px #a9a9a9;
}

table#users_projection,
table#docs_projection_basic_filter {
    background: #fffff0;
}

table#docs_projection_extended_filter {
    background: #e0ffff;
    width: 100%;
}

table#users_projection th,
table#docs_projection_basic_filter th,
table#docs_projection_extended_filter th {
    text-align: left;
    width: 100px;
}

table#users_projection th,
table#docs_projection_basic_filter th {
    background: #f5f5dc;
}

table#docs_projection_extended_filter th {
    background: #add8e6;
}

table#users_projection td,
table#users_projection th,
table#docs_projection_basic_filter td,
table#docs_projection_basic_filter th,
table#docs_projection_extended_filter td,
table#docs_projection_extended_filter th {
    padding: 0.3em;
    border: none;
    border-bottom: solid 1px #a9a9a9;
}


table#docs_projection_basic_filter th.extended {
    background: #add8e6;
}

table#docs_projection_basic_filter td.extended {
    background: #e0ffff;
}

table#users_projection #buttons,
table#docs_projection_basic_filter #buttons {
    border-left: solid 1px #a9a9a9;
}

.v-menubar-in-tab {
    margin-top: 2px;
}

.v-verticallayout-sysadmin-menu {
    padding: 2px 2px 2px 0;
}

.v-verticallayout-manager {
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

.v-tabsheet-tabitem-selected .v-captiontext {
    font-weight: bold;
}


.v-verticallayout-doc_editor {
    /*padding-top: 1px;*/
    /*padding-left: 1px;*/
    /*padding-right: 1px;*/
}

.v-tabsheet {
    padding: 1px 1px 0 1px;
}

.v-tabsheet-user-editor {
    border-bottom: 1px solid;
}

.dialog-buttons {
    padding-top: 4px;
}

.v-accordion {
    border: none;
}

.v-table {
    border: none;
}

.v-table-cell-content {
    vertical-align: middle;
}
