@import url(../chameleon/legacy-styles.css);

.v-loading-indicator,
.v-loading-indicator-delay,
.v-loading-indicator-wait {
   -ms-filter: alpha(opacity=80);
   filter: alpha(opacity=80);
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
}

.v-select-optiongroup-horizontalgroup .v-select-option {
    display: inline-block;
}

.max-width {
    width: 100%;
}

/* workaround - used only for status separation doc lifecycle editor */
/* todo: remove, fixed in vaadin-7*/
.im-border-top-doc_lifecycle {
    border-top: solid 1px #a9a9a9;
    /*padding-left: 5px;*/
    padding-top: 5px;
}

.im-border-bottom {
    border-top: solid 1px #a9a9a9;
    /*padding-top: 5px;*/
}

.im-fieldset {
    border: solid 1px #a9a9a9;
}

/* copied form runo. */
.v-button-small .v-button-wrap, .v-disabled.v-button-small .v-button-wrap {
    font-size: 11px;
    line-height: 13px;
    padding: 1px 12px;
    min-height: 13px;
}


table#users_projection,
table#docs_projection_basic_filter,
table#docs_projection_advanced_filter {
    border: solid 1px #a9a9a9;
    border-collapse: collapse;
}

table#users_projection,
table#docs_projection_basic_filter {
    background: #fffff0;
    margin-bottom: 1px;
}

table#docs_projection_advanced_filter {
    background: #e0ffff;
    margin-top: -1px;
}

table#users_projection th,
table#docs_projection_basic_filter th,
table#docs_projection_advanced_filter th {
    text-align: left;
    width: 100px;
}

table#users_projection th,
table#docs_projection_basic_filter th {
    background: #f5f5dc;
}

table#docs_projection_advanced_filter th {
    background: #add8e6;
}

table#users_projection td,
table#users_projection th,
table#docs_projection_basic_filter td,
table#docs_projection_basic_filter th,
table#docs_projection_advanced_filter td,
table#docs_projection_advanced_filter th {
    padding: 0.3em;
    border: solid 1px #a9a9a9;
    border-left: none;
    border-right: none;
}


table#docs_projection_basic_filter th.advanced {
    background: #add8e6;
}

table#docs_projection_basic_filter td.advanced {
    background: #e0ffff;
}

table#users_projection #buttons,
table#docs_projection_basic_filter #buttons {
    border-left: solid 1px #a9a9a9;
}

