<html>
<head>
<title><? sv/sections/admin_section_delete_confirm.html/1 ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>

<body bgcolor="#ffffff">
<form method="post" action="AdminSection">
<input type="hidden" name="delete_section" value="#delete_section#">
  <table width="40%" border="0" cellspacing="0">
  
	<tr bgcolor="#333366">
	  <td width="5%">&nbsp;</td> 	  
	  <td colspan="2"> 
		<div align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#ffffff"><? sv/sections/admin_section_delete_confirm.html/2 ?></font></B>&nbsp;</div>
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>

	<tr bgcolor="#bababa">
      <td width="5%">&nbsp;</td> 
	  <td colspan="2">
      <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
	  <? sv/sections/admin_section_delete_confirm.html/3 ?></font><hr></td>
	  <td width="5%">&nbsp;</td>
	</tr>

	<tr bgcolor="#bababa">
	  <td width="5%">&nbsp;</td> 	
	  <td width="30%" align="right"><? sv/sections/admin_section_delete_confirm.html/4 ?></td>
	  <td width="60%"> 
		  <font face="Verdana, Arial, Helvetica, sans-serif" size="2">
		  <select name="new_section_confirm">
		  	<option value="-1" selected><? sv/sections/admin_section_delete_confirm.html/5 ?></option>
			#section_list#&gt;
		  </select></font> 
		  <input type="submit" name="delete_section_confirm" value="<? sv/sections/admin_section_delete_confirm.html/2001 ?>">
	  </td>
	  <td width="5%">&nbsp;</td>
	</tr>
	
	<tr bgcolor="#bababa"> 
	  <td colspan="4">&nbsp;</td>
	</tr>
	
	<tr bgcolor="#bababa">
	  <td width="5%">&nbsp;</td> 
	  <td colspan="2">		
		<input type="submit" name="submit" value="<? sv/sections/admin_section_delete_confirm.html/2002 ?>">
		&nbsp; <a href="@documentationurl@/GetDoc?meta_id=94" target="_blank"><img src="@imcmsimageurl@/admin/btn_help_round.gif" width="19" height="21" border="0" alt="<? sv/sections/admin_section_delete_confirm.html/2003 ?>"></a>
	  </td>	 
	  <td width="5%">&nbsp;</td>
	</tr>
	
	<tr bgcolor="#bababa"> 
	  <td colspan="4">&nbsp;</td>
	</tr>	
	
  </table>

</form>
</body>
</html>

