<html>
<head>
<title>Ta bort formatmall</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<SCRIPT language=JavaScript>
<!--
function openHelp(id) {
	window.open("GetDoc?meta_id=" + id,"help","scrollbars=yes,width=650,height=570");
}
//-->
</SCRIPT>
</head>
<body bgcolor="#FFFFFF">
<form method="post" action="AdminSection">
  <table width="236" border="0" cellspacing="0">
  
	<tr bgcolor="#333366"> 
	   <td width="8">&nbsp;</td>
	   <td colspan="2" width="209"> 
		<div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">Ta bort avdelning</font></b></div>
	  </td>
	  <td width="7">&nbsp;</td>
	</tr>
	
	<tr bgcolor="#bababa">
	  <td colspan="4" width="232">&nbsp;</td>
	</tr>
	
	<tr bgcolor="#bababa">
	  <td width="8">&nbsp;</td>	  
	  <td width="68" align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Avdelningar: </font></td>
	  <td width="137" align="left"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">
		<select name="section_list">
			#section_list#
        </select>
		</font></td>
	  <td width="7">&nbsp;</td>	 
	</tr>
		
	<tr bgcolor="#bababa"> 
	  <td width="8">&nbsp;</td>	  
	  <td colspan="2" align="center" width="209">
		<input type="submit" name="delete_section" value="Ta bort">
	  </td>	 
	  <td width="7">&nbsp;</td> 
	</tr>
	<tr bgcolor="#bababa">
	 <td width="8">&nbsp;</td> 	  
	  <td colspan="2" width="209">
		<input type="submit" name="cancel" value="Tillbaka">
		&nbsp; <a href="GetDoc?meta_id=93" target="_blank" onClick="openHelp('93'); return false;"><img src="@imageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
	  </td>	
	  <td width="7">&nbsp;</td>  
	</tr>
	
	<tr bgcolor="#bababa"> 	  
	  <td colspan="4" width="232">&nbsp;</td>	  
	</tr>
	
  </table>
</form>
</body>
</html>

