<html>
<head>
<title>imCMS Adminstrat&ouml;rsida</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<SCRIPT language=JavaScript>
<!--
function openHelp(id) {
	window.open("GetDoc?meta_id=" + id,"help","scrollbars=yes,width=650,height=570");
}
//-->
</SCRIPT>

</head>
<body bgcolor="#ffffff">
<form method="post" action="AdminSection">
  <table width="40%" border="0" cellspacing="0">
  <TBODY>
	<tr bgcolor="#333366"> 
      <td width="5%">&nbsp;</td>
      <td colspan="2"> 
        <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#ffffff" size="2">Administrera avdelningar</font></b></div>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
	<tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td colspan="2" nowrap align="middle"><br> 		
        <input type="submit" name="add_section" value="Lägg till">&nbsp;&nbsp;
		<input type="submit" name="delete_section" value="Ta bort">&nbsp;&nbsp;
		<input type="submit" name="edit_section" value="Byt namn">
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
	</form>	 
	<form method="post" action="AdminManager">   
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td colspan="2">&nbsp;&nbsp; 	<br>	
        <input type="submit" name="submit" value="Tillbaka">
		&nbsp; <a href="GetDoc?meta_id=91" target="_blank" onClick="openHelp('91'); return false;"><img src="@imcmsimageurl@/se/helpimages/btn_help_round.gif" width="19" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td colspan="2">&nbsp;</td>
      <td width="5%">&nbsp;</td>
    </tr></TBODY></TABLE>
  <p><A href="StartDoc">Tillbaka till startsidan</A></p>
  </form>
</body>
</html>



