<html>
<head>
<title><? sv/sections/admin_section_add.html/1 ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>
<body bgcolor="#ffffff">
<form method="post" action="AdminSection">
  <table width="40%" border="0" cellspacing="0">
	<tr bgcolor="#333366">
	  <td width="5%">&nbsp;</td>
      <td colspan="6"> 
        <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#ffffff" size="2"><? sv/sections/admin_section_add.html/2 ?></font></b>&nbsp;</div>
      </td>
	  <td width="5%">&nbsp;</td>
    </tr>
	<tr bgcolor="#bababa"> 
      <td colspan="8">&nbsp;</td>      
    </tr>
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
      <td colspan="2" nowrap><? sv/sections/admin_section_add.html/3 ?></td>      
      <td colspan="2"><input name="new_section_name" size="30" 
     ></td>
	  <td colspan="2"><input type="submit" name="add_section" value="<? sv/sections/admin_section_add.html/2001 ?>"> </td>
      <td width="5%">&nbsp;</td>
    </tr>
	<tr bgcolor="#bababa"> 
      <td colspan="8"><hr size="3"></td>      
    </tr>
	
	<tr bgcolor="#bababa"> 
	  <td width="5%">&nbsp;</td>
      <td colspan="3" align="right" width="200"><? sv/sections/admin_section_add.html/4 ?></td>
	  <td colspan="3" align="left" width="200">
	  		<select name="section_list">
	  				#section_list#
	  		</select>	  
	  </td>
	  <td width="5%">&nbsp;</td>
    </tr>
	
	<tr bgcolor="#bababa"> 
      <td colspan="8"><hr size="3"></td>      
    </tr>
	    
    <tr bgcolor="#bababa">
	  <td width="5%">&nbsp;</td> 
      <td colspan="6"><input type="submit" name="submit" value="<? sv/sections/admin_section_add.html/2002 ?>">
	  &nbsp; <a href="@documentationurl@/GetDoc?meta_id=92" target="_blank"><img src="@imcmsimageurl@/admin/btn_help_round.gif" width="19" height="21" border="0" alt="<? sv/sections/admin_section_add.html/2003 ?>"></a>
	  </td> 
	  <td width="5%">&nbsp;</td>     
    </tr>
	<tr bgcolor="#bababa"> 
      <td colspan="8">&nbsp;</td>      
    </tr>
  </table>
  
  </form>
</body>
</html>



