<html>
<head>
<title><? templates/sv/sections/admin_section.html/1 ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>
<body bgcolor="#ffffff">
<form method="post" action="AdminSection">
  <table width="40%" border="0" cellspacing="0">
  <TBODY>
	<tr bgcolor="#333366"> 
      <td width="5%">&nbsp;</td>
      <td colspan="2"> 
        <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#ffffff" size="2"><? templates/sv/sections/admin_section.html/2 ?></font></b></div>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
	<tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td colspan="2" nowrap align="middle"><br> 		
        <input type="submit" name="add_section" value="<? templates/sv/sections/admin_section.html/2001 ?>">&nbsp;&nbsp;
		<input type="submit" name="delete_section" value="<? templates/sv/sections/admin_section.html/2002 ?>">&nbsp;&nbsp;
		<input type="submit" name="edit_section" value="<? templates/sv/sections/admin_section.html/2003 ?>">
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
	</form>	 
	<form method="post" action="AdminManager">   
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td colspan="2">&nbsp;&nbsp; 	<br>	
        <input type="submit" name="submit" value="<? templates/sv/sections/admin_section.html/2004 ?>">
		&nbsp; <a href="@documentationurl@/GetDoc?meta_id=91" target="_blank"><img src="@imcmsimageurl@/admin/btn_help_round.gif" width="19" height="21" border="0" alt="<? templates/sv/sections/admin_section.html/2005 ?>"></a>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="5%">&nbsp;</td>
      <td colspan="2">&nbsp;</td>
      <td width="5%">&nbsp;</td>
    </tr></TBODY></TABLE>
  <p><? templates/sv/sections/admin_section.html/3 ?></p>
  </form>
</body>
</html>



