<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" alink="#999999" vlink="#333399" link="#333399" leftmargin="5" marginwidth="5">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td> 
      <div align="left"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif"><b><font size="2" face="Verdana, Arial, Helvetica, sans-serif">Conference user help page</font></b><br>
          </font></p>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr> 
            <td width="100%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="#tips"><b>Tips and suggestions</b></a></font></td>
          </tr>
          <tr> 
            <td width="100%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b><a href="#Forum">Change forum</a></b></font></td>
          </tr>
          <tr> 
            <td width="100%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b><a href="#Read_discs">Read discussions</a></b></font></td>
          </tr>
          <tr> 
            <td width="100%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b><a href="#Read_replies">Read contributions</a></b></font></td>
          </tr>
          <tr> 
            <td width="100%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b><a href="#Create_comment">Create discussions/contributions</a></b></font></td>
          </tr>
          <tr> 
            <td width="100%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><b><a href="#Update_discs">Update discussions</a></b> </font></td>
          </tr>
          <tr> 
            <td width="100%"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><b><a href="#Navigate_discs">Browsing</a></b></font></td>
          </tr>
          <tr> 
            <td width="100%"><font face="Verdana, Arial, Helvetica, sans-serif"><b><font size="2"><a href="#Update_replies">Update own contributions</a></font></b></font></td>
          </tr>
          <tr> 
            <td width="100%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b><a href="#Search_conf">Search</a></b></font></td>
          </tr>
          <tr> 
            <td colspan="2">&nbsp;</td>
          </tr>
        </table>
        <p>
          
        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> <a name="tips"><b>Tips and suggestions</b></a> 
        <p> To highlight a word with <b> bold</b>, type ‹b› before the word and ‹/b› after the word. To <i>italicise</i> a word, write ‹i› before the word and ‹/i› after the word. To start a new paragraph, write ‹p› at the beginning of the paragraph and ‹/p› at the end.</p>
		  
        <p> <a name="Forum"><b>To change forum</b></a> 
        <p> Each conference has at least one forum, with ongoing discussions. Choose a forum and click OK. 
        </p>
		
        <p> <a name="Read_discs"><b>To read discussions</b></a></p>
        <p> <img src="#IMAGE_URL#ConfDiscNew.gif"> <font color="#0000FF"><u>This is the header </u></font> 03-20 16:59 [4]</p>
        <p> The header shown in the left part of the window under  <b>CURRENT CONTRIBUTION </b> is the initial contribution submitted to each respective discussion.</p>
		  
        <p>The symbol <img src="#IMAGE_URL#ConfDiscNew.gif"> shown in front of the header informs that there is either a new discussion or that new contributions have been submitted since you last visited the conference.</p>
		  
        <p> After the "New" symbol, the discussion header is displayed with the publication date and time as well as the number of contributions to the discussion.</p>
		  
        <p> By clicking the discussion header, all contributions will be shown in the right part of the window.</p>
		  
        <p> <a name="Read_replies"><b>To read contributions</b></a></p>
        <p> <img src="#IMAGE_URL#ConfExpert.gif"> Header: [<b> The header of the contribution</b> 
          ] <br>
          In my opinion  ...<br>
          Written by<b> John Brown</b> 2000-03-21 15:47 (yyyy-mm-dd, time) </p>
		  
        <p>All contributions to the discussion are presented to the right of the window. The symbol X shown in front of the header implies that the contribution is written by a user who takes part in this conference in an expert capacity.</p>
		  
        <p> After an "expert symbol" follows the header, text, author, and date of publication.</p>
		
        <p>Sort: Choice of sorting order of contributions. "Reverse chronological order" shows the latest contribution first, and "Chronological order" shows the latest contributions last.</p>
		  
        <p><a name="Create_comment"><b>To create discussions / comments</b></a> 
        <p> To create a discussion, click "New discussion"; write a title or headline in the HEADER field and the body in the TEXT field. To close, click "Submit" button. Use "Reset" button to terminate without saving your contribution.</p>
		  
        <p> To make a contribution to a discussion, click "Contribute"; write your message in the TEXT field and close by clicking the "Submit" button. Use the "Reset" button to terminate without saving your contribution.</p>
		  
        <p> Other: To include a  <font color="#0000FF"><u>link</u></font> 
          or <font color="#0000FF"><u>mail</u></font> click these. A dialogue box will open where the web address or mail address for the text field is written. When "OK" button is pressed, the HTML code needed to insert the link is automatically created. </p>
		  
        <p> <a name="Update_discs"><b>To update discussions</b></a> 
        <p> To show contributions to discussions added since your latest log-in, use the "Update" button. New contributions are noted with the symbol <img src="#IMAGE_URL#ConfDiscNew.gif"></p>
		  
        <p> <b><a name="Navigate_discs">To browse</a></b> 
        <p> Discussions shown in discussion box are the latest additions. To search for earlier discussions, use buttons "Earlier" and "Later" which enables you to browse through all discussions.</p>
		  
        <p> <a name="Update_replies"><b>To update contributions</b></a> 
        <p> To show contributions added since your latest login, use "Update" button</p>
		  
        <p> <b><a name="Search_conf">To search</a></b> 
        <p>Search maybe made among text headers, contribution text and users of a specific forum. Type in the search word and press button "Search". The search may be limited by stating start and end dates. A date is written as year-month-day (yyyy-mm-dd), or as "yesterday" and "today". Example of search date: 2000-04-02.</p>
        </font> </div>
    </td>
    
  </tr>
</table>
</body>
</html>
