  <tr valign="middle"> 
	<td width="5%" bgcolor="#BABABA" valign="middle"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;</font></td>
	<td width="40%" bgcolor="#BABABA"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">R&auml;tt 
	  att &auml;ndra menyer<br>
	  </font></td>
	<td width="20%" bgcolor="#BABABA"> 
	  <input type="checkbox" name="permissions" value="262144" #check_262144#>
	  <br>
	  <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Till&aring;tna 
	  dokumenttyper:</font></td>
	<td width="30%" bgcolor="#BABABA"> 
	  <select name="permissions_ex" size="6" multiple>
		#doctypes#
	    
	  </select>&nbsp;
	</td>
	<td width="5%" valign="middle" bgcolor="#BABABA"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;</font></td>
  </tr>