<tr valign="middle"> 
	<td width="5%" bgcolor="#BABABA" valign="middle"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;</font></td>
	<td width="40%" bgcolor="#BABABA" valign="middle"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">R&auml;tt 
	  att &auml;ndra bilder<br>
	  </font></td>
	<td valign="middle" bgcolor="#BABABA" colspan="2"> 
	  <input type="checkbox" name="permissions" value="131072" #check_131072#>
	  &nbsp; </td>
	<td width="5%" valign="middle" bgcolor="#BABABA"> <font face="Verdana, Arial, Helvetica, sans-serif" size="2">&nbsp;</font></td>
  </tr>