<table border="0" cellspacing="0" cellpadding="0" width="90%">
<tr align="center"> 
	<td class="imcmsAdmText" colspan="2" align="left"><? templates/sv/permissions/roles_rights_table_head.html/1 ?></td>
	<td class="imcmsAdmText" width="15%"><? templates/sv/permissions/roles_rights_table_head.html/2 ?></td>
	<td class="imcmsAdmText" width="15%"><? templates/sv/permissions/roles_rights_table_head.html/3 ?></td>
	<td class="imcmsAdmText" width="15%"><? templates/sv/permissions/roles_rights_table_head.html/4 ?></td>
	<td class="imcmsAdmText" width="15%"><? templates/sv/permissions/roles_rights_table_head.html/5 ?></td>
	<td class="imcmsAdmText" width="15%"><? templates/sv/permissions/roles_rights_table_head.html/6 ?></td>
</tr>
