<tr align="center"> 
	<td height="22" class="imcmsAdmText" align="left"><? sv/permissions/roles_rights_table_row.html/1001 ?>&nbsp;</td>
	<td class="imcmsAdmText" align="left"><? sv/permissions/roles_rights_table_row.html/1002 ?>&nbsp;</td>
	<td><? sv/permissions/roles_rights_table_row.html/1 ?></td>
	<td><? sv/permissions/roles_rights_table_row.html/2 ?></td>
	<td><? sv/permissions/roles_rights_table_row.html/3 ?></td>
	<td><? sv/permissions/roles_rights_table_row.html/4 ?></td>
	<td><? sv/permissions/roles_rights_table_row.html/5 ?></td>
</tr>
