<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   <display-name>imCMS</display-name>

   <filter>
      <filter-name>ImcmsSetupFilter</filter-name>
      <description>Setting up objects in request for api usage</description>
      <filter-class>com.imcode.imcms.servlet.ImcmsSetupFilter</filter-class>
   </filter>

<!-- Filter that generates HttpUnit code for requests to a log4j category named "httpunit"
    <filter>
        <filter-name>HttpUnitGeneratingFilter</filter-name>
        <description>Generates HttpUnit code for all requests</description>
        <filter-class>com.imcode.imcms.test.http.HttpUnitGeneratingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>HttpUnitGeneratingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
-->

    <filter-mapping>
        <filter-name>ImcmsSetupFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

   <servlet>
      <servlet-name>init</servlet-name>
      <servlet-class>MainInitServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet>
      <servlet-name>RD</servlet-name>
      <servlet-class>ReDirecter</servlet-class>
   </servlet>

   <servlet-mapping>
      <servlet-name>RD</servlet-name>
      <url-pattern>/RD/*</url-pattern>
   </servlet-mapping>

   <session-config>
      <session-timeout>
         30
      </session-timeout>
   </session-config>

   <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>index.htm</welcome-file>
      <welcome-file>index.html</welcome-file>
   </welcome-file-list>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/imcms/jsp/internalerrorpage.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/imcms/jsp/internalerrorpage.jsp</location>
    </error-page>
</web-app>
