.imcms-document-type-select-window {
    -webkit-box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    overflow: hidden;
    position: absolute;
    top: -webkit-calc(50% - 200px);
    top: -moz-calc(50% - 200px);
    top: -ms-calc(50% - 200px);
    top: -o-calc(50% - 200px);
    top: calc(50% - 200px);
    left: -webkit-calc(50% - 130px);
    left: -moz-calc(50% - 130px);
    left: -ms-calc(50% - 130px);
    left: -o-calc(50% - 130px);
    left: calc(50% - 130px);
    height: 400px;
    width: 260px;
    z-index: 10005;
}

.imcms-document-type-select-window__body {
    background-color: #f3f5f7;
    display: block;
    width: 100%;
    height: 100%;
}

.imcms-document-type-select-window__head {
    background-color: #389ecf;
}

.imcms-document-type-select-window__body .imcms-button {
    margin: 5%;
}
