.imcms-switch__input {
    display: none;
}

.imcms-switch__label {
    background-color: #fff;
    border: 1px solid #d3d8de;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: block;
    position: relative;
    height: 15px;
    width: 30px;
}

.imcms-switch__label:before {
    content: "";
    background-color: #b8bec2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: block;
    position: absolute;
    left: 1px;
    top: 0;
    width: 15px;
    height: 15px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.imcms-switch__input:checked + .imcms-switch__label:before {
    background-color: #42b070;
    left: 14px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
