<HTML>
<TITLE>Login</TITLE>
<BODY bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="743" border="0" cellspacing="0" cellpadding="0" height="100%">
      <tr> 
        <td valign=top align="center">
	<BR> 
          <FORM ACTION="@servleturl@/VerifyUser" METHOD=POST>
	    <TABLE BORDER=1 cellpadding="0" cellspacing="0" width="200">
    	      <TR bgcolor="#333366"> 
        	<TD COLSPAN=2 align="center"> <font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif" size="3"><b>V&auml;lkommen !</b></font>  </TD>
          </TR>
	 <TR bgcolor="#333366"> 
    	    <TD COLSPAN=2 align="center"><font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif" size="2">
        	Ange ditt namn och l&ouml;senord<br>f&ouml;r att logga in.</font>
    	    </TD>
	</TR>
	<TR>
            <TD bgcolor="#bababa" valign="middle"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Namn:</font><b> 
              </b> </TD>
            <TD bgcolor="#bababa" valign="middle" align="center"> 
              <INPUT TYPE=TEXT NAME="name" VALUE="" SIZE=15>
            </TD>
      </TR>
<TR>
            <TD bgcolor="#bababa" valign="middle"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">L&ouml;senord:</font> 
            </TD>
            <TD bgcolor="#bababa" valign="middle" align="center"> 
              <INPUT TYPE=PASSWORD NAME="passwd" VALUE="" SIZE=15>
            </TD>
      </TR>

      <TR bgcolor="#bababa" valign="middle"> 
        <TD COLSPAN=2> 
          <CENTER>
            <INPUT TYPE=SUBMIT VALUE="  OK   ">
          </CENTER>
</TD></TR>
</TABLE>
</form><br><br>

	<div align="center"> <a href="/servlet/PasswordMailReminder">Glömt ditt lösenord? Klicka här.</a></div>

</td>
      </tr>
    </table>
<SCRIPT language=JavaScript1.2>
<!--

document.forms[0].elements["name"].focus();
//-->
</SCRIPT>
</BODY></HTML>
