<html>
<head>
<title><? loggedout.html/1 ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>
<body bgcolor="#FFFFFF">

<table width="550" border="0" cellspacing="0" bgcolor="#bababa">
<tr bgcolor="#333366">
	<td width="5%">&nbsp;</td>
	<td colspan="2" align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF"><? loggedout.html/2 ?></font></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td colspan="4">&nbsp;</td>
</tr>
<tr>
	<td colspan="4" align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><? loggedout.html/3 ?></font></td>
</tr>
<tr>
	<td colspan="4">&nbsp;</td>
</tr>
<tr>
	<td width="5%">&nbsp;</td>
	<td width="45%" align="right">
	<table border="0" cellpadding="0" cellspacing="0">
	<form action="@servleturl@/StartDoc">
	<tr>
		<td><input type="Submit" value="Startsidan"></td>
		<td>&nbsp;</td>
	</tr>
	</form>
	</table></td>
	<td width="45%">
	<table border="0" cellpadding="0" cellspacing="0">
	<form action="@rooturl@/login/">
	<tr>
		<td>&nbsp;</td>
		<td><input type="Submit" name="Logga in" value="Logga in"></td>
	</tr>
	</form>
	</table></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td colspan="4">&nbsp;</td>
</tr>
</table>

</body>
</html>
