<html>
<head>
<title>Du &auml;r utloggad</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>
<body bgcolor="#FFFFFF" onLoad="document.forms[0].name.focus()">

<table width="550" border="0" cellspacing="0" bgcolor="#bababa">
<tr bgcolor="#333366">
	<td width="5%">&nbsp;</td>
	<td colspan="2" align="center"><font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF"><b>V&auml;lkommen!</b></font></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td colspan="4">&nbsp;</td>
</tr>
<tr>
	<td colspan="4" align="center">
	<font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#cc0000">Du har inte beh&ouml;righet till det h&auml;r dokumentet!</font></td>
</tr>
<tr>
	<td colspan="4">&nbsp;</td>
</tr>
<tr>
	<td width="5%">&nbsp;</td>
	<td colspan="2" align="center">
	<table border="0" cellpadding="1" cellspacing="0">
	<form action="@servleturl@/VerifyUser" method="post">
	<tr>
		<td><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Namn:</font></td>
		<td><input type="text" name="name" size="15"></td>
	</tr>
	<tr>
		<td><font face="Verdana, Arial, Helvetica, sans-serif" size="2">L&ouml;senord:&nbsp;</font></td>
		<td><input type="password" name="passwd" size="15"></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><input type="submit" name="Logga in" value="Logga in">&nbsp;<a href="javascript:openHelp('54');"><img alt="&Ouml;ppna hj&auml;lpsidan" border="0" height="21" src="@imageurl@/se/helpimages/btn_help_round.gif" width="19"></a></td>
	</tr>
	</form>
	</table></td>
	<td width="5%">&nbsp;</td>
</tr>
<tr>
	<td colspan="4">&nbsp;</td>
</tr>
</table>

</body>
</html>
