<html>
<head>
<title>Logga in</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#FFFFFF">
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<h2 align="center">Du har inte beh&ouml;righet</h2>
<h2 align="center">till det h&auml;r dokumentet!</h2>
<form action="@servleturl@/VerifyUser" method=POST>
	<center>
    <table border=1 cellpadding="0" cellspacing="0" width="200">
	  <tr bgcolor="#333366"> 
		<td colspan=2 align="center"><font color="#FFFFFF" face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
		  Ange ditt namn och l&ouml;senord<br>
		  f&ouml;r att logga in.</font> </td>
	  </tr>
	  <tr> 
		<td bgcolor="#bababa" valign="middle"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">Namn:</font><b> 
		  </b> </td>
		<td bgcolor="#bababa" valign="middle" align="center"> 
		  <input type=TEXT name="name" value="" size=15>
		</td>
	  </tr>
	  <tr> 
		<td bgcolor="#bababa" valign="middle"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2">L&ouml;senord:</font> 
		</td>
		<td bgcolor="#bababa" valign="middle" align="center"> 
		  <input type=PASSWORD name="passwd" value="" size=15>
		</td>
	  </tr>
	  <tr bgcolor="#bababa" valign="middle"> 
		<td colspan=2> 
		  <center>
			<input type=SUBMIT value="  OK   " name="SUBMIT">
		  </center>
		</td>
	  </tr>
	</table>
  </center>
</form>
<SCRIPT language="JavaScript1.2">
<!--
document.forms[0].elements["name"].focus();
//-->
</SCRIPT>
</body>
</html>
