<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	 
  <tx:annotation-driven transaction-manager="txManager"/>
	 
  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="org.gjt.mm.mysql.Driver"/>
    <property name="url" value="@db-url@"/>
    <property name="username" value="@db-user@"/>
    <property name="password" value="@db-pass@"/>
    <property name="testOnBorrow" value="true"/>
    <property name="validationQuery" value="select 1"/>    
    <property name="defaultAutoCommit" value="false"/>
    <property name="maxActive" value="@db-maxconnections@"/>
  </bean> 
  
  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
    <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
    <!--  
    <property name="dataSource" ref="dataSource"/>
    -->
  </bean>  
  
  
  
  <bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>  
  
  <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
  	<property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  
  <bean id="metaDao" class="com.imcode.imcms.dao.MetaDaoImpl" scope="prototype">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  
  <bean id="languageDao" class="com.imcode.imcms.dao.LanguageDaoImpl" scope="prototype">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>  
  
  <bean id="imageDao" class="com.imcode.imcms.dao.ImageDaoImpl" scope="prototype">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>  
  
</beans>