.preview-template-css-container {
    position: relative;
}

.preview-template-css-container .preview-template-css-container__preview-btn {
    display: inline-block;
}

.preview-template-css-container .preview-template-css-container__description-icon {
    position: absolute;
    bottom: 13px;
    width: 12px;
    height: 12px;
}