.imcms-all-data-text-container,
.imcms-all-data-menu-container,
.imcms-all-data-category-container,
.imcms-all-data-loop-container,
.imcms-all-data-image-container{
    padding-top: 10px;
}

.imcms-all-data-title{
    margin-bottom: 12px !important;
    font-size: 16px !important;
    text-transform: uppercase;
}

.info-text{
    word-break: break-all;
    color: #2f4047 !important;
    font-size: 15px !important;
    margin: 0 10px 2px 0;
}

.all-data-edit-button{
    align-self: center;
}
.imcms-text-data{
    margin-top: 12px;
}

.imcms-text-data__info{
    display: flex;
    width: 85%;
    place-content: space-around;
}

@media screen and (max-width: 750px) {
    .imcms-text-data__info{
        width: auto;
    }
}

.imcms-text-data__content{
    display: flex;
    place-content: space-between;
}

.text-content{
    display: contents;
}

.text-content-input{
    width: 90%;
    height: 70px;
    margin: 0 10px 0 0;
}

.imcms-menu-data,
.imcms-category-data,
.all-data-loop-title,
.imcms-image-data{
    display: flex;
    margin: 0 0 20px 0;
}

.imcms-menu-data__info,
.imcms-image-data__info{
    width: 165px;

}

.all-data-menu,
.all-data-loop,
.all-data-image{
    display: flex;
    flex-wrap: wrap;
    place-content: space-between;
}
.imcms-loop-data__text,
.all-data-text,
.imcms-loop-data{
    margin: 0 0 20px 0;
    width: 100%;
}

.all-data-loop-title{
    place-content: space-between;
    align-items: center;
}