.cache-settings__title,
.init-data__title {
    padding: 10px 0;
}

.cache-remove-document-row {
    display: flex;
}

.cache-remove-document-row__loading,
.cache-remove-document-row__success {
    margin-left: 60px;
    margin-top: 30px;
}