.imcms-document-editor__head {
    background-color: #fff;
    -webkit-box-shadow: 0 0 31px 4px rgba(47, 58, 144, 0.16);
    -moz-box-shadow: 0 0 31px 4px rgba(47, 58, 144, 0.16);
    box-shadow: 0 0 31px 4px rgba(47, 58, 144, 0.16);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.imcms-document-editor__head button {
    position: absolute;
    top: 13px;
    right: 13px;
}

.imcms-document-editor__head .imcms-head__title {
    color: #0b94d8;
}

.imcms-document-editor__head span {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.imcms-document-editor-body {
    height: 100%;
}

.imcms-document-editor__body {
    background-color: #f3f3fc;
    overflow: hidden;
    padding-top: 42px;
    width: 100%;
    height: 95%;
}

.imcms-document-list__titles {
    padding: 0 27px 0 70px;
    width: 100%;
    border-bottom: 1px solid #d3d8de;
}

.imcms-document-list__title,
.imcms-document-list-titles__title--active,
.imcms-document-list-titles__title:hover {
    background-color: #ededed;
}

.imcms-document-list__title,
.imcms-document-list-titles__title {
    cursor: pointer;
    color: #2e3f47;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

.imcms-document-editor-head__tools {
    width: 100%;
}

.imcms-document-editor-head__tools:after {
    content: "";
    display: block;
    clear: both;
}

.imcms-document-list__titles:after {
    content: "";
    display: block;
    clear: both;
}

.imcms-document-items {
    display: block;
    position: relative;
    width: 100%;
}

.imcms-document-items--is-drag {
    background: #858585;
    opacity: .5;
}

.imcms-menu-editor-body__right-side .imcms-document-list {
    height: 92%;
    height: -webkit-calc(100% - 55px);
    height: -moz-calc(100% - 55px);
    height: -ms-calc(100% - 55px);
    height: -o-calc(100% - 55px);
    height: calc(100% - 55px);
}

.imcms-document-items:before {
    content: "";
    display: block;
    clear: both;
}

.imcms-document-item {
    display: block;
    overflow: hidden;
    padding-left: 70px;
    padding-right: 20px;
    position: relative;
    width: 100%;
}

.imcms-document-item__info {
    line-height: 45px;
    text-transform: none;
    text-align: left;
    float: left;
    height: 45px;
    text-overflow: ellipsis;
    overflow: inherit;
}

.imcms-document-item__controls {
    display: none;
    padding: 14px 0;
    position: absolute;
    top: 0;
    right: 15px;
    float: right;
}

.imcms-document-items-list__document-items .imcms-document-items__document-item:hover {
    background: #d0e9f9;
}

.imcms-document-item:after {
    content: "";
    display: block;
    clear: both;
}

.imcms-document-list__items .imcms-document-items-list__document-items .imcms-document-items__document-item > .imcms-document-item__controls:first-child {
    right: auto;
    left: 0;
}

.imcms-document-item:hover .imcms-document-item__controls {
    display: block;
}

.imcms-document-list {
    display: block;
    width: 100%;
    height: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.imcms-document-list__items {
    display: block;
    padding-top: 12px;
    overflow: auto;
    width: 100%;
}

.imcms-document-items__document-item--published-waiting,
.imcms-menu-items__menu-item--published-waiting {
    background-color: #90ee902b;
}

.imcms-document-items__document-item--published-waiting .imcms-document-item__info--status,
.imcms-menu-items__menu-item--published-waiting .imcms-menu-item__status {
    color: darkgreen;
}

.imcms-document-items__document-item--in-process,
.imcms-menu-items__menu-item--in-process {
    background-color: #fafad2c7;
}

.imcms-document-items__document-item--in-process .imcms-document-item__info--status,
.imcms-menu-items__menu-item--in-process .imcms-menu-item__status {
    color: darkgoldenrod;
}

.imcms-document-items__document-item--disapproved,
.imcms-document-items__document-item--passed,
.imcms-menu-items__menu-item--disapproved,
.imcms-menu-items__menu-item--passed {
    background-color: #ff000017;
}

.imcms-document-items__document-item--disapproved .imcms-document-item__info--status,
.imcms-document-items__document-item--passed .imcms-document-item__info--status,
.imcms-menu-items__menu-item--disapproved .imcms-menu-item__status,
.imcms-menu-items__menu-item--passed .imcms-menu-item__status {
    color: red;
}

.imcms-document-items__document-item--archived,
.imcms-menu-items__menu-item--archived {
    background-color: #d0e9f961;
}

.imcms-document-items__document-item--archived .imcms-document-item__info--status,
.imcms-menu-items__menu-item--archived .imcms-menu-item__status {
    color: blue;
}

.imcms-menu-editor__body .imcms-document-list__items {
    height: -webkit-calc(100% - 63px);
    height: -moz-calc(100% - 63px);
    height: -ms-calc(100% - 63px);
    height: -o-calc(100% - 63px);
    height: calc(100% - 63px);
}

.imcms-document-editor .imcms-document-list__items {
    height: -webkit-calc(100% - 118px);
    height: -moz-calc(100% - 118px);
    height: -ms-calc(100% - 118px);
    height: -o-calc(100% - 118px);
    height: calc(100% - 118px);
}

.imcms-document-editor__footer {
    background-color: #f3f3fc;
    width: 100%;
    height: 5%;
    border-top: 1px solid #d3d8de;
}

@media screen and (max-height: 800px) {
    .imcms-document-editor__footer {
        padding: 15px 27px;
    }
}

@media screen and (max-height: 650px) {
    .imcms-document-editor__footer {
        padding: 10px 27px;
    }
}

@media screen and (max-height: 570px) {
    .imcms-document-editor__footer {
        padding: 5px 27px;
    }
}

@media screen and (max-height: 515px) {
    .imcms-document-editor__footer {
        padding: 0 27px;
    }
}

@media screen and (max-height: 460px) {
    .imcms-document-editor {
        min-height: 460px;
    }
}
