.imcms-document-editor-head {
    width: 100%;
	height: 11%;
}

.imcms-document-editor-head-tools__tool {
	margin-left: 2%;
}

.imcms-document-editor-head-tool__button {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: 30px;
}

.imcms-input-search__text-box {
    width: 100%;
}

.imcms-document-editor-head-tool__select {
    display: block;
    width: 100%;
}

.imcms-document-editor-head-tool__load {
    display: inline-table;
	visibility: hidden;
	margin-top: 10px;
	text-align: -webkit-center;
}

.imcms-document-editor-head-tool__load .loading-animation{
	left: 0;
	width: 25px;
	height: 25px;
}

.imcms-document-editor-head-tool__remove{
	max-width: 60px;
	margin-top: 10px;
	float: right;
	text-align: -webkit-center;
}

.animation-copying__text {
    margin-bottom: 5px;
}

.imcms-document-editor-head-tool__select .imcms-drop-down-list {
    display: block;
}

.imcms-document-editor-head__tools .imcms-document-editor-head-tool__button {
    margin-top: 31px;
}

.imcms-document-editor-head__tools .imcms-document-editor-head-tool__search .imcms-input-search__button {
    top: 40px;
}

.imcms-document-editor-head__tools .imcms-document-editor-head-tool__search .imcms-text-box__label,
.imcms-document-editor-head__tools .imcms-document-editor-head-tool__select .imcms-select__label {
    margin-bottom: 5px;
}

@media screen and (max-width: 1800px){
	.imcms-document-editor-head-tool__remove{
		align-items: start;
		flex-direction: column;
	}
}

@media screen and (max-width: 1500px){
	.imcms-document-editor-head__tools {
		margin-bottom: 0;
	}
	.imcms-document-editor-head-tools__tool {
		margin-left: 2%;
	}
}
@media screen and (max-width: 900px){
	.imcms-document-editor-head-tools__tool{
		margin-left: 1%;
	}
	.imcms-document-editor-head-tools__tool--grid-col-1{
		width: 7%;
	}
}
@media screen and (max-width: 700px){
	.imcms-document-editor-head-tools__tool{
		margin-left: 0;
	}
	.imcms-document-editor-head-tools__tool--grid-col-1{
		width: 9%;
	}
}