.imcms-document-editor__head {
    position: absolute;
}

.imcms-document-editor-body {
    height: 100%;
}

.imcms-document-editor__body {
    background-color: #f3f3fc;
    overflow: hidden;
    padding-top: 42px;
    width: 100%;
    height: 95%;
}

.imcms-document-list__titles {
    display: flex;
    padding: 0 0 0 35px;
    width: 100%;
    border-bottom: 1px solid #d3d8de;
}

.imcms-document-list-titles__title .imcms-control--sort-asc,
.imcms-document-list-titles__title .imcms-control--sort-desc {
    opacity: 0.2;
}

.imcms-document-list-titles__title--active .imcms-control--sort-asc,
.imcms-document-list-titles__title--active .imcms-control--sort-desc {
    opacity: 1;
}

.imcms-document-list-titles__title {
    cursor: pointer;
    color: #2e3f47;
    background: rgba(56, 158, 207, 0.2);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 29px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3px;
    padding: 0 5px;
}

.imcms-document-list-titles__title--active,
.imcms-document-list-titles__title:hover {
    background-color: rgba(56, 158, 207, 0.5);
}

.imcms-document-list-titles__actions {
    width: 88px;
    margin-right: 5px;
}

.imcms-document-list-titles__actions .imcms-field{
    padding: 0;
}

.imcms-document-list-titles__actions .imcms-drop-down-list__select-item{
    padding: 4px 15px;
}

.imcms-document-list-titles__actions .imcms-drop-down-list {
    border-color: #ff4b45;
}

.imcms-document-list-titles__actions .imcms-drop-down-list__items {
    border-color: #ff4b45;
    border-top-color: transparent;
}

.imcms-document-editor-head__tools {
    width: 100%;
}

.imcms-document-editor-head__tools:after {
    content: "";
    display: block;
    clear: both;
}

.imcms-document-list__titles:after {
    content: "";
    display: block;
    clear: both;
}

.imcms-document-items {
    display: block;
    position: relative;
    width: 100%;
}

.imcms-document-items--frame {
    background-color: #e9e9f5;
    position: absolute;
    z-index: 11001;
    width: 40%;
}

.imcms-document-items--frame .imcms-document-item:hover .imcms-document-item__controls {
    right: auto;
    left: 0;
}

.imcms-document-items--frame .imcms-document-item:hover .imcms-document-item__controls:last-child {
    display: none;
}

.imcms-document-items--is-drag {
    background: #858585;
    opacity: .5;
}

.imcms-menu-editor-body__right-side .imcms-document-list {
    height: 89%;
}

.imcms-document-items:before {
    content: "";
    display: block;
    clear: both;
}

.imcms-document-item {
    display: flex;
    overflow: hidden;
    padding-left: 35px;
    position: relative;
    width: 100%;
}

.imcms-document-item__info {
    line-height: 45px;
    text-transform: none;
    text-align: left;
    float: left;
    height: 45px;
    padding-left: 5px;
    margin-right: 3px;
    text-overflow: ellipsis;
    overflow: inherit;
    font-weight: normal;
}

.imcms-document-item__controls {
    width: 78px;
    margin-right: 10px;
    place-self: center;
}

.imcms-document-editor .imcms-document-item__controls > *,
.imcms-document-editor .imcms-document-item__multi-remove-controls > * {
    margin-right: 10px;
    margin-left: 0;
}

.imcms-document-item__multi-remove-controls {
    visibility: visible;
    display: block;
    width: 88px;
    place-self: center;
    margin-right: 0;
}

.imcms-document-item:hover {
    background: #d0e9f9;
}

.imcms-document-items-list__document-items .imcms-document-items__document-item a {
    color:#0b94d8;
    text-decoration:none;
}

.imcms-document-items-list__document-items .imcms-document-items__document-item a:hover {
    text-decoration:underline;
}

.imcms-document-item:after {
    content: "";
    display: block;
    clear: both;
}

.imcms-document-item:hover .imcms-document-item__controls {
    visibility: visible;
}

.imcms-document-list {
    display: block;
    width: 100%;
    height: 89%;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.imcms-document-list__items {
    display: block;
    overflow: auto;
    width: 100%;
}

.imcms-document-item__info--id {
    text-align: right;
}

.imcms-document-items__document-item--published-waiting,
.imcms-menu-items__menu-item--published-waiting {
    background-color: #90ee902b;
}

.imcms-document-items__document-item--published-waiting .imcms-document-item__info--status,
.imcms-menu-items__menu-item--published-waiting .imcms-menu-item__status {
    color: darkgreen;
}

.imcms-document-items__document-item--in-process,
.imcms-menu-items__menu-item--in-process {
    background-color: #fafad2c7;
}

.imcms-document-items__document-item--in-process .imcms-document-item__info--status,
.imcms-menu-items__menu-item--in-process .imcms-menu-item__status {
    color: darkgoldenrod;
}

.imcms-document-items__document-item--disapproved,
.imcms-document-items__document-item--passed,
.imcms-menu-items__menu-item--disapproved,
.imcms-menu-items__menu-item--passed {
    background-color: #ff000017;
}

.imcms-document-items__document-item--waste-basket .imcms-document-item__info--status,
.imcms-menu-items__menu-item--waste-basket .imcms-menu-item__status,
.imcms-document-items__document-item--disapproved .imcms-document-item__info--status,
.imcms-document-items__document-item--passed .imcms-document-item__info--status,
.imcms-menu-items__menu-item--disapproved .imcms-menu-item__status,
.imcms-menu-items__menu-item--passed .imcms-menu-item__status {
    color: red;
}

.imcms-document-items__document-item--archived,
.imcms-menu-items__menu-item--archived {
    background-color: #d0e9f961;
}

.imcms-document-items__document-item--archived .imcms-document-item__info--status,
.imcms-menu-items__menu-item--archived .imcms-menu-item__status {
    color: blue;
}

.imcms-document-list__items {
	height: -webkit-calc(100% - 25px);
	height: -moz-calc(100% - 25px);
	height: -ms-calc(100% - 25px);
	height: -o-calc(100% - 25px);
	height: calc(100% - 25px);
}

.imcms-document-editor__footer {
    background-color: #f3f3fc;
    width: 100%;
    height: 5%;
    border-top: 1px solid #d3d8de;
}

.imcms-document-list-titles__title--sort-order,
.imcms-document-item__sort-order {
    width: 5.5rem;
}

.imcms-document-item__info--id,
.imcms-document-list-titles__title--id {
    min-width: 30px;
}

.imcms-document-item__info--notShownTitle {
    text-decoration: unset !important;
    cursor: default !important;
    color: red !important;
}

.imcms-document-item__info--date,
.imcms-document-list-titles__title--date,
.imcms-document-list-titles__title--modified-date,
.imcms-document-list-titles__title--published-date{
    min-width: 5em;
}

.imcms-document-item__info--currentVersion,
.imcms-document-list-titles__title--currentVersion {
    min-width: 30px;
}

.imcms-document-item__info--type,
.imcms-document-list-titles__title--type {
    min-width: 45px;
}

.imcms-document-item__info--status,
.imcms-document-list-titles__title--status {
    min-width: 3.9em;
}

.imcms-document-item__info--currentVersion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imcms-document-item__info--currentVersion .imcms-control {
    cursor: auto;
    width: 18px;
    height: 18px;
}
@media screen and (max-width: 1210px) {
	.imcms-flex--flex-3.imcms-title.imcms-document-item__info--title.imcms-document-item__info{
		max-width: 23%;
	}
	.imcms-flex--flex-2.imcms-title.imcms-document-item__info--alias.imcms-document-item__info{
		max-width: 20%;
	}
}
@media screen and (max-width: 950px) {
	.imcms-document-list__titles, .imcms-document-item{
		padding: 0 0 0 25px;
	}
}

@media screen and (max-width: 850px) {
}

@media screen and (max-width: 750px) {
	.imcms-document-list-titles__button button, .imcms-document-list-titles__title{
		margin: 0 1px 0 0;
		padding: 0;
		min-width: 40px;
	}
	.imcms-document-item .imcms-text-box .imcms-text-box__input{
		padding:8px 8px;
	}

	.imcms-document-list-title-row.imcms-flex--flex-3.imcms-document-list-titles__title--title.imcms-document-list-titles__title,
	.imcms-flex--flex-3.imcms-title.imcms-document-item__info--title.imcms-document-item__info{
		min-width: 65px;
	}

	.imcms-document-list-titles__title--modified-date,
	.imcms-document-list-titles__title--published-date{
		min-width: 5em;
	}
}

	@media screen and (max-height: 800px) {
    .imcms-document-editor__footer {
        padding: 15px 27px;
    }
}

@media screen and (max-height: 650px) {
    .imcms-document-editor__footer {
        padding: 10px 27px;
    }
}

@media screen and (max-height: 570px) {
    .imcms-document-editor__footer {
        padding: 5px 27px;
    }
}

@media screen and (max-height: 515px) {
    .imcms-document-editor__footer {
        padding: 0 27px;
    }
}

@media screen and (max-height: 460px) {
    .imcms-document-editor {
        min-height: 460px;
    }
}
