<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<center><font face="Verdana, Arial, Helvetica, sans-serif" size="2">ID: #getMetaId#&nbsp;Type: #doc_type#</font>&nbsp; <a href="GetDoc?meta_id=255" target="_blank" onClick="openHelpW('255'); return false;"><img src="@imcmsimageurl@/en/helpimages/btn_help_round_white-bg.gif" width="19" height="21" border="0" alt="Open help page" align="absmiddle"></a> 
			<br>
				<a href="BackDoc"><img src="@adminbuttonsurl@/en/foregaende.gif" border="0"></a>#doc_buttons##1##4#<a href="LogOut"><img src="@adminbuttonsurl@/en/loggaut.gif" border="0"></a>#superadmin# 
			</center>
		</td>
	</tr>
</table>
<SCRIPT language=JavaScript>  
   <!--  
   function openHelpW(id){  
           window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');  
   }  
   //-->  
   </SCRIPT>  
