
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="4">Administration 
	page for the billboard.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif">Regarding the buttons below:</font></p>
<ul>
	<li><font face="Verdana, Arial, Helvetica, sans-serif"><b>Normal</b> allows 
		you to visit the billboard where there are other administration possibilities.</font></li>

	<li><font face="Verdana, Arial, Helvetica, sans-serif"><b>Back</b> takes you 
		back to the last text web page visited. </font></li>
</ul>
<p><font face="Verdana, Arial, Helvetica, sans-serif">The other buttons work as 
	usual.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif"><b>NB! If you wish to return 
	to this administration page later on, click on New links and then on the small 
	red arrow by the link to this document.</b></font></p>
