<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE hibernate-configuration PUBLIC-->
        <!--"-//Hibernate/Hibernate Configuration DTD 3.0//EN"-->
        <!--"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->
<hibernate-configuration>

    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.connection.driver">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql:///test?useUnicode=yes&amp;characterEncoding=UTF-8</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.archive.autodetection"/>

        <mapping class="com.imcode.imcms.mapping.orm.DocMeta"/>
        <mapping class="com.imcode.imcms.mapping.orm.DocLanguage"/>
        <mapping class="com.imcode.imcms.mapping.orm.DocVersion"/>
        <mapping class="com.imcode.imcms.mapping.orm.DocProperty"/>
        <mapping class="com.imcode.imcms.mapping.orm.DocCommonContent"/>
        <mapping class="com.imcode.imcms.mapping.orm.DocCategory"/>
        <mapping class="com.imcode.imcms.mapping.orm.DocCategoryType"/>

        <mapping class="com.imcode.imcms.mapping.orm.User"/>
        <mapping class="com.imcode.imcms.mapping.orm.SystemProperty"/>

        <mapping class="com.imcode.imcms.mapping.orm.TextDocLoop"/>
        <mapping class="com.imcode.imcms.mapping.orm.TextDocText"/>
        <mapping class="com.imcode.imcms.mapping.orm.TextDocImage"/>
        <mapping class="com.imcode.imcms.mapping.orm.TextDocMenu"/>

        <mapping resource="com/imcode/imcms/hbm/DocVersion.hbm.xml"/>
    </session-factory>

</hibernate-configuration>