<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE hibernate-configuration PUBLIC-->
        <!--"-//Hibernate/Hibernate Configuration DTD 3.0//EN"-->
        <!--"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->
<hibernate-configuration>

    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.connection.driver">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql:///test?useUnicode=yes&amp;characterEncoding=UTF-8</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.archive.autodetection"/>

        <mapping class="com.imcode.imcms.mapping.jpa.doc.Meta"/>
        <mapping class="com.imcode.imcms.mapping.jpa.doc.Language"/>
        <mapping class="com.imcode.imcms.mapping.jpa.doc.DocVersion"/>
        <mapping class="com.imcode.imcms.mapping.jpa.doc.Property"/>
        <mapping class="com.imcode.imcms.mapping.jpa.doc.content.CommonContent"/>
        <mapping class="com.imcode.imcms.mapping.jpa.doc.Category"/>
        <mapping class="com.imcode.imcms.mapping.jpa.doc.CategoryType"/>

        <mapping class="com.imcode.imcms.mapping.jpa.User"/>
        <mapping class="com.imcode.imcms.mapping.jpa.SystemProperty"/>

        <mapping class="com.imcode.imcms.mapping.jpa.doc.content.textdoc.Loop"/>
        <mapping class="com.imcode.imcms.mapping.jpa.doc.content.textdoc.Text"/>
        <mapping class="com.imcode.imcms.mapping.jpa.doc.content.textdoc.Image"/>
        <mapping class="com.imcode.imcms.mapping.jpa.doc.content.textdoc.Menu"/>

        <mapping resource="com/imcode/imcms/hbm/DocVersion.hbm.xml"/>
    </session-factory>

</hibernate-configuration>