<?xml version="1.0"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">

    <appender name="stdout-appender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c{1}: %m%n"/>
        </layout>
    </appender>

    <appender name="sql-timing-appender" class="org.apache.log4j.FileAppender">
        <param name="File" value="build/test-logs/sqltiming.log"/>
        <param name="Append" value="false"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="-----> %d{yyyy-MM-dd HH:mm:ss.SSS} %m%n%n"/>
        </layout>
    </appender>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="${log4j.console-appender.threshold}"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p %c - %m%n"/>
        </layout>
    </appender>

    <appender name="TESTFILE" class="org.apache.log4j.FileAppender">
        <param name="file" value="build/test-logs/test.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p %c - %m%n"/>
        </layout>
    </appender>


    <!-- log4jdbc option log the jdbc results as a table -->
    <logger name='jdbc.resultsettable' additivity='false'>
        <level value='info'/>
        <appender-ref ref='CONSOLE'/>
    </logger>

    <!-- log SQL (pre-execution) plus exceptions caused by SQL -->
    <logger name="jdbc.sqlonly" additivity="false">
        <level value="OFF"/>
    </logger>

    <!-- log SQL with timing information, post execution -->
    <logger name="jdbc.sqltiming" additivity="false">
        <level value='info'/>
        <appender-ref ref="sql-timing-appender"/>
        <appender-ref ref='CONSOLE'/>
    </logger>

    <!-- log all jdbc calls except ResultSet calls -->
    <logger name="jdbc.audit" additivity="false">
        <level value="OFF"/>
    </logger>

    <!-- log the jdbc ResultSet calls -->
    <logger name="jdbc.resultset" additivity="false">
        <level value="OFF"/>
    </logger>

    <!-- log connection open/close events and dump of all open connection numbers -->
    <logger name="jdbc.connection" additivity="false">
        <level value='info'/>
        <appender-ref ref='CONSOLE'/>
    </logger>

    <!-- this log is for internal debugging of log4jdbc, itself -->
    <!-- debug logging for log4jdbc itself -->
    <logger name="log4jdbc.debug" additivity="false">
        <level value='info'/>
        <appender-ref ref="stdout-appender"/>
        <appender-ref ref='CONSOLE'/>
    </logger>

    <category name="org" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="TESTFILE"/>
    </category>
    <category name="com" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="TESTFILE"/>
    </category>
    <category name="net" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="TESTFILE"/>
    </category>

    <root>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="TESTFILE"/>
    </root>

</log4j:configuration>
