.imcms-modal-layout {
    background-color: rgba(42, 42, 42, 0.8);
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10002;
}

.imcms-modal-layout--front {
    z-index: 65534;
}

.imcms-modal-window,
.imcms-edit-modal-window,
.imcms-create-modal-window,
.imcms-modal-view-window,
.imcms-modal-optional-window,
.imcms-create-properties-modal-window,
.imcms-modal-buttons-window {
    position: fixed;
    -webkit-box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    z-index: 65535;
}

.imcms-modal-window {
    overflow: hidden;
    top: -webkit-calc(50% - 250px);
    top: -moz-calc(50% - 250px);
    top: -ms-calc(50% - 250px);
    top: -o-calc(50% - 250px);
    top: calc(50% - 250px);
    left: -webkit-calc(50% - 130px);
    left: -moz-calc(50% - 130px);
    left: -ms-calc(50% - 130px);
    left: -o-calc(50% - 130px);
    left: calc(50% - 130px);
    height: 200px;
    width: 260px;
}

.imcms-edit-directory-window.imcms-edit-directory-window,
.imcms-create-modal-window{
    top: -webkit-calc(50% - 250px);
    top: -moz-calc(50% - 250px);
    top: -ms-calc(50% - 250px);
    top: -o-calc(50% - 250px);
    top: calc(50% - 250px);
    left: -webkit-calc(50% - 180px);
    left: -moz-calc(50% - 180px);
    left: -ms-calc(50% - 180px);
    left: -o-calc(50% - 180px);
    left: calc(50% - 180px);
    height: 200px;
    width: 360px;
}

.imcms-create-modal-window .imcms-modal-body,
.imcms-create-modal-window .imcms-modal-footer {
    background-color: #d9edf7;
}

.imcms-edit-modal-window {
    top: -webkit-calc(50% - 400px);
    top: -moz-calc(50% - 400px);
    top: -ms-calc(50% - 400px);
    top: -o-calc(50% - 400px);
    top: calc(50% - 400px);
    left: -webkit-calc(50% - 500px);
    left: -moz-calc(50% - 500px);
    left: -ms-calc(50% - 500px);
    left: -o-calc(50% - 500px);
    left: calc(50% - 500px);
    width: 1000px;
    background-color: #d9edf7;
}

.imcms-modal-view-window,
.imcms-modal-optional-window {
    overflow: hidden;
    top: -webkit-calc(50% - 300px);
    top: -moz-calc(50% - 300px);
    top: -ms-calc(50% - 300px);
    top: -o-calc(50% - 300px);
    top: calc(50% - 300px);
    left: -webkit-calc(50% - 400px);
    left: -moz-calc(50% - 400px);
    left: -ms-calc(50% - 400px);
    left: -o-calc(50% - 400px);
    left: calc(50% - 400px);
    width: 800px;
    background-color: #d9edf7;
}

@media screen and (max-width: 1000px) {
    .imcms-edit-modal-window {
        left: -webkit-calc(50% - 450px);
        left: -moz-calc(50% - 450px);
        left: -ms-calc(50% - 450px);
        left: -o-calc(50% - 450px);
        left: calc(50% - 450px);
        width: 900px;
        background-color: #d9edf7;
    }
}

@media screen and (max-width: 900px) {
    .imcms-edit-modal-window {
        left: -webkit-calc(50% - 400px);
        left: -moz-calc(50% - 400px);
        left: -ms-calc(50% - 400px);
        left: -o-calc(50% - 400px);
        left: calc(50% - 400px);
        width: 800px;
        background-color: #d9edf7;
    }
}

@media screen and (max-width: 800px){
    .imcms-edit-modal-window {
        left: -webkit-calc(50% - 350px);
        left: -moz-calc(50% - 350px);
        left: -ms-calc(50% - 350px);
        left: -o-calc(50% - 350px);
        left: calc(50% - 350px);
        width: 700px;
        background-color: #d9edf7;
    }

    .imcms-modal-view-window,
    .imcms-modal-optional-window {
        left: -webkit-calc(50% - 350px);
        left: -moz-calc(50% - 350px);
        left: -ms-calc(50% - 350px);
        left: -o-calc(50% - 350px);
        left: calc(50% - 350px);
        width: 700px;
    }
}

@media screen and (max-width: 700px){
    .imcms-edit-modal-window {
        left: -webkit-calc(50% - 300px);
        left: -moz-calc(50% - 300px);
        left: -ms-calc(50% - 300px);
        left: -o-calc(50% - 300px);
        left: calc(50% - 300px);
        width: 600px;
        background-color: #d9edf7;
    }

    .imcms-modal-view-window,
    .imcms-modal-optional-window {
        left: -webkit-calc(50% - 300px);
        left: -moz-calc(50% - 300px);
        left: -ms-calc(50% - 300px);
        left: -o-calc(50% - 300px);
        left: calc(50% - 300px);
        width: 600px;
    }
}

@media screen and (max-width: 600px){
    .imcms-edit-modal-window {
        left: -webkit-calc(50% - 250px);
        left: -moz-calc(50% - 250px);
        left: -ms-calc(50% - 250px);
        left: -o-calc(50% - 250px);
        left: calc(50% - 250px);
        width: 500px;
        background-color: #d9edf7;
    }

    .imcms-modal-view-window,
    .imcms-modal-optional-window {
        left: -webkit-calc(50% - 250px);
        left: -moz-calc(50% - 250px);
        left: -ms-calc(50% - 250px);
        left: -o-calc(50% - 250px);
        left: calc(50% - 250px);
        width: 500px;
    }
}

.imcms-modal-buttons-window {
    overflow: hidden;
    top: -webkit-calc(50% - 250px);
    top: -moz-calc(50% - 250px);
    top: -ms-calc(50% - 250px);
    top: -o-calc(50% - 250px);
    top: calc(50% - 250px);
    left: -webkit-calc(50% - 130px);
    left: -moz-calc(50% - 130px);
    left: -ms-calc(50% - 130px);
    left: -o-calc(50% - 130px);
    left: calc(50% - 130px);
    width: auto;
    background-color: #f3f5f7;
}

.imcms-edit-modal-window .imcms-modal-body__content {
    margin: 0;
    width: 100%;
}

#content {
    height: 500px;
}

.imcms-modal-body__name {
    width: 100%;
}

.imcms-modal-body__view-box,
.imcms-modal-body__optional-box {
    height: 400px;
    margin: 15px;
    border: 1px solid gainsboro;
    overflow-y: auto;
    overflow-x: auto;
}

.imcms-modal-window--warning,
.imcms-modal-window--error {
    height: auto;
    min-height: 140px;
    max-height: 600px;
}

.imcms-modal-window__modal-head,
.imcms-edit-modal-window__modal-head,
.imcms-create-modal-window__modal-head,
.imcms-modal-optional-window__modal-head,
.imcms-modal-buttons-window__modal-head {
    background-color: #389ecf;
}

.imcms-modal-window--warning .imcms-modal-window__modal-head {
    background-color: #ffc107;
}

.imcms-modal-window--error .imcms-modal-window__modal-head {
    background-color: #ed4337;
}

.imcms-modal-window__modal-body {
    background-color: #f3f5f7;
    display: block;
    width: 100%;
    height: 100px;
}

.imcms-create-modal-window__modal-body,
.imcms-create-properties-modal-window__modal-body {
    background-color: #f3f5f7;
}

.imcms-create-modal-window__modal-body,
.imcms-edit-modal-window__modal-body {
    display: block;
    width: 100%;
    padding: 0 20px 5px 20px;
}

.imcms-edit-modal-window .edit-image-file{
    background-color: white;
    background-image: linear-gradient(45deg, #b0b0b0 25%, transparent 25%),
                      linear-gradient(-45deg, #b0b0b0 25%, transparent 25%),
                      linear-gradient(45deg, transparent 75%, #b0b0b0 75%),
                      linear-gradient(-45deg, transparent 75%, #b0b0b0 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0;

    position: relative;
    height: 550px;
}

.imcms-edit-modal-window .edit-image-file img{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    max-width: 95%;
    max-height: 95%;
}

.imcms-create-properties-modal-window__modal-head{
    display: block;
}

.imcms-create-properties-modal-window__modal-body {
    height: 85%;
}

.imcms-field__update-btn {
    display: block;
}

.imcms-field__save-btn {
    padding: 10px 8px;
    display: none;
    line-height: 10%;
}

.imcms-create-properties-modal-window__modal-footer {
    background-color: #f3f5f7;
    text-align: right;
    height: calc(15% - 42px);
}

.imcms-create-modal-window__modal-footer {
    background-color: #f3f5f7;
    text-align: center;
    width: 100%;
}

.imcms-edit-modal-window__modal-footer {
    margin: 5px 10px 15px 10px;
    text-align: right;
}

.imcms-modal-view-window__modal-footer {
    display: flex;
    justify-content: center;
}

.imcms-modal-window--warning .imcms-modal-window__modal-body,
.imcms-modal-window--error .imcms-modal-window__modal-body {
    height: auto;
}

.imcms-modal-body__text {
    line-height: 25px;
    font-size: 15px;
    text-align: center;
    padding: 5px 15px;
}

.imcms-modal-window__modal-footer {
    background-color: #f3f5f7;
    text-align: center;
    display: block;
    width: 100%;
    height: 58px;
}

.imcms-modal-footer__button {
    display: inline-block;
    margin: 15px 10px;
    padding: 10px 18px;
}

.imcms-modal-optional-window .imcms-title{
    width: 100%;
}

.imcms-modal-optional-window__modal-footer{
    float: right;
}
