@import "../variables";

.imcms-modal-admin {
    background-color: #f3f5f7;
    -webkit-box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 29px 13px rgba(0, 0, 0, 0.07);
    display: block;
    margin-left: -320px;
    overflow: hidden;
    position: fixed;
    width: 640px;
    min-height: 250px;
    top: 100px;
    left: 50%;
    z-index: 10005;
}

.imcms-modal-admin-head {
    background-color: #389ecf;
    text-align: center;
    display: block;
    position: relative;
    width: 100%;
    height: 42px;
}

.imcms-login__logo {
    background: url("#{$context-path}/imcms/images/icon_logo_main_white.png") no-repeat 0 0;
    background-size: contain;
    text-indent: -99999px;
    display: block;
    position: absolute;
    top: 7px;
    left: 20px;
    height: 100%;
    width: 69px;
}

.imcms-modal-admin-body {
    display: block;
    padding: 20px 20px 0;
    width: 100%;
}

.imcms-modal-admin__error-msg {
    font-weight: 700;
    font-size: 15px;
}

.imcms-modal-admin form {
    margin: 0;
}

.imcms-modal-admin-footer {
    text-align: right;
    display: block;
    padding: 20px;
    width: 100%;
}

.imcms-modal-admin-footer__button {
    display: inline-block;
    margin: 0 10px;
}
