<html>

<head>

<title>imCMS Adminstrat&ouml;rsida</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>

<body bgcolor="#FFFFFF">

<form method="post" action="AdminQuestions" name="AdminQuestions">

  <table width="46%" border="0" cellspacing="0">
    <tr bgcolor="#333366"> 
      <td width="2%">&nbsp;</td>
      <td colspan="2"> 
        <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Administrera 
          enk&auml;tfr&aring;gor </font></b></div>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="2%">&nbsp;</td>
      <td colspan="3"> 
        <hr>
      </td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="2%">&nbsp;</td>
      <td colspan="2"> 
        <div align="left"><font size="2" face="Verdana, Arial, Helvetica, sans-serif">V&auml;lj 
          fil att administrera:</font></div>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="2%">&nbsp;</td>
      <td colspan="2" nowrap>  
        <select name="AdminFile">
          #options#
        </select>
        &nbsp; 
        <input type="submit" name="edit" value="Redigera">
        <input type="submit" name="result" value="Visa Enk&auml;tresultat">
         </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="2%" rowspan="2">&nbsp;</td>
      <td colspan="3"> 
        <hr>
      </td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td colspan="2" align="right"> 
        <input type="submit" name="back" value="Tillbaka">
        <a href="@documentationurl@GetDoc?meta_id=96" target="_blank"><img src="@imcmsimageurl@/btn_help_round.gif" width="21" height="21" border="0" alt="&Ouml;ppna hj&auml;lpsidan"></a>
      </td>
      <td width="5%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="2%">&nbsp;</td>
      <td colspan="2">&nbsp;</td>
      <td width="5%">&nbsp;</td>
    </tr>
  </table>

  <p>&nbsp;</p>

  </form>

</body>

</html>

