<html>

<head>

<title><? sv/fortunes/admin_random_texts_file.html/1 ?></title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<script language="JavaScript">
<? sv/fortunes/admin_random_texts_file.html/2 ?>
</script>

</head>

<body bgcolor="#FFFFFF">

<form method="post" action="AdminRandomTextsFile" name="AdminRandomTextsFile">

  <table width="300" border="0" cellspacing="0">
    <tr bgcolor="#333366"> 
      <td width="1%">&nbsp;</td>
      <td colspan="2" idth="98%"> 
        <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2"><? sv/fortunes/admin_random_texts_file.html/3 ?> </font></b></div>
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="1%">&nbsp;</td>
      <td colspan="2" > 
        <div align="left"> 
          <hr>
        </div>
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="1%">&nbsp;</td>
      <td colspan="2" ><? sv/fortunes/admin_random_texts_file.html/4 ?> 
        <input type="text" name="date1" size="6" value="#date1#">
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="1%">&nbsp;</td>
      <td colspan="2" ><? sv/fortunes/admin_random_texts_file.html/1001 ?>  
        <input type="text" name="date2" size="6" value="#date2#">
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="1%" rowspan="3">&nbsp;</td>
      <td colspan="2" ><? sv/fortunes/admin_random_texts_file.html/5 ?> 
	  <textarea cols="40" rows="5" name="text"><? sv/fortunes/admin_random_texts_file.html/6 ?></textarea>
      </td>
      <td width="1%">&nbsp;

</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td colspan="2" align="right" > 
<input type="Hidden" name="add" Value="">
        <input type="button" name="addButton" value="<? sv/fortunes/admin_random_texts_file.html/2001 ?>" onclick="checkInput()">
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td colspan="2" align="center" > 
        <hr>
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="1%">&nbsp;</td>
      <td colspan="2" > 
        <select name="AdminFile" size="5" multiple>
          <? sv/fortunes/admin_random_texts_file.html/7 ?>
        </select>
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="1%">&nbsp;</td>
      <td align="left" >&nbsp; </td>
      <td align="right" nowrap> 
        <input type="submit" name="edit" value="<? sv/fortunes/admin_random_texts_file.html/2002 ?>">
        <input type="submit" name="remove" value="<? sv/fortunes/admin_random_texts_file.html/2003 ?>">
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="1%">&nbsp;</td>
      <td colspan="2" align="center" > 
        <hr>
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="1%">&nbsp;</td>
      <td align="center" colspan="2" >        
        <input type="submit" name="save" value="<? sv/fortunes/admin_random_texts_file.html/2004 ?>">
		<input type="submit" name="back" value="<? sv/fortunes/admin_random_texts_file.html/2005 ?>"><a href="@documentationurl@/GetDoc?meta_id=99" target="_blank">
		<img src="@imcmsimageurllang@/admin/btn_help_round.gif" width="17" height="22" border="0" alt="<? sv/fortunes/admin_random_texts_file.html/2006 ?>"></a>&nbsp;
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="1%">&nbsp;</td>
      <td colspan="2" >&nbsp;</td>
      <td width="1%">&nbsp;</td>
    </tr>
  </table>

  

  </form>

</body>

</html>

