
<html>
<head>
<title>MaBraFragan</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>

<body bgcolor="#999966" text="#000000">

<table border="0" bgcolor="#999966" cellpadding="0" cellspacing="0" width="100%" height="100%">
	<tr align="left" valign="top" bgcolor="#999966"> 

		<td colspan="3"><img src="@imageurl@/rub_veckan.gif" width="200" height="77" alt="Veckans fr&aring;ga"></td>

	</tr>
	<tr align="left" valign="top" bgcolor="#999966"> 

		<td><img src="@imageurl@/transpix.gif" width="6" height="6"></td>
		<td>#question#<br><img src="@imageurl@/transpix.gif" width="5" height="10"> 

			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr align="left" valign="top"> 
					<td >JA&nbsp; #yesProcent#</td>
				</tr>
				<tr align="left" valign="top"> 

					<td><img src="@imageurl@/transpix.gif" width="1" height="5"></td>

				</tr>
				<tr align="left" valign="top"> 
					<td >NEJ #noProcent#</td>
				</tr>
				<tr align="left" valign="top"> 

					<td><img src="@imageurl@/transpix.gif" width="1" height="5"></td>

				</tr>
				<tr align="left" valign="top"> 
					<td>Antal svarande: #total#</td>
				</tr>
			</table>
			<br>

			<img src="@imageurl@/transpix.gif" width="5" height="10"><br>
			<a href="javascript:window.close();"><img src="@imageurl@/kn_stang.gif" width="49" height="15" border="0" alt="St&auml;ng"></a> 

		</td>

		<td><img src="@imageurl@/transpix.gif" width="6" height="6"></td>

	</tr>
	<tr align="left" valign="top" bgcolor="#999966"> 

		<td><img src="@imageurl@/transpix.gif" width="6" height="6"></td>
		<td><img src="@imageurl@/transpix.gif" width="123" height="6"></td>
		<td><img src="@imageurl@/transpix.gif" width="6" height="6"></td>

	</tr>
</table>

</body>
	</html>
