<table border="0" cellspacing="0" cellpadding="0">
     <tr align="center" valign="top" bgcolor="#999966"> 
         <td colspan="3"><img src="@imcmsimages@/te_veckans.gif" width="135" height="46"></td>
     </tr>
	<form name="weeklyQ" style="background-color:#999966">
	<tr align="left" valign="top" bgcolor="#999966"> 
         <td><img src="@imcmsimages@/transpix.gif" width="6" height="6"></td>
         <td> <p><span class="vitbrodtext"><? sv/fortunes/QuestionError.htm/1 ?></span></p>
			  <input type="hidden" name="question" value="#question#">
			  <input type="hidden" name="infile" value="#file#">
		 </td>
         <td><img src="@imcmsimages@/transpix.gif" width="6" height="6"></td>
    </tr>
	</form>
	<tr align="left" valign="top" bgcolor="#999966"> 
         <td><img src="@imcmsimages@/transpix.gif" width="6" height="6"></td>
         <td><img src="@imcmsimages@/transpix.gif" width="123" height="6"></td>
         <td><img src="@imcmsimages@/transpix.gif" width="6" height="6"></td>
    </tr>
</table>
