.imcms-crop-area {
    cursor: move;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10003;
}

.layout {
    background: rgba(37, 34, 34, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
}

.imcms-crop-area__crop-img {
    max-width: none;
    display: block;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
}

.imcms-angle {
    border: 2px solid #fff;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 10003;
}

.imcms-angle--top-left {
    border-bottom-width: 0;
    border-right-width: 0;
    cursor: nw-resize;
}

.imcms-angle--top-right {
    border-bottom-width: 0;
    border-left-width: 0;
    cursor: ne-resize;
}

.imcms-angle--bottom-left {
    border-top-width: 0;
    border-right-width: 0;
    cursor: sw-resize;
}

.imcms-angle--bottom-right {
    border-top-width: 0;
    border-left-width: 0;
    cursor: se-resize;
}
