.document-viewer .imcms-content table {
    border-left: none;
    border-right: none;
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
}

.document-viewer .imcms-content table tr th,
.document-viewer .imcms-content table tr td {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}

.document-viewer .imcms-content table tr th {
    background: #0091e1;
    color: white;
    /*border-bottom: 3px solid #dcdcf0;*/
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0 20px;
    vertical-align: middle;
    text-align: center;
}

.document-viewer .imcms-content table tr td {
    border-bottom: 1px solid #f0f0ff;
    padding: 7.5px 20px;
    vertical-align: middle;
    text-align: center;
}

.document-viewer .imcms-content table tr.clicked td {
    background: #0091e1;
    color: white;
}

.document-viewer .imcms-content table tr:hover td {
    background: #ffff64;
}

.document-viewer .imcms-content table tr td.buttons {
    margin: 0;
}

.document-viewer .imcms-content table tr td.buttons button,
.document-viewer .imcms-content table tr td.buttons .button {
    font-size: 13px;
    line-height: 25px;
    visibility: hidden;
    padding: 0 10px;
}

.document-viewer .imcms-content table tr:hover td.buttons button,
.document-viewer .imcms-content table tr:hover td.buttons .button {
    visibility: visible;
}

.document-viewer .imcms-content table input[type=radio] {
    width: 20px;
    height: 20px;
}

.document-viewer .imcms-content .field input[type=checkbox] {
    float: left;
    height: 20px;
    width: 20px;
    padding: 10px;
}

.document-viewer .imcms-content .field .label {
    padding: 5px 10px;
    height: 20px;
}

.document-viewer .imcms-content .keywords-page .field > * {
    float: left;
}
.document-viewer .imcms-content .keywords-page .field > label {
    float: none;
}

.document-viewer .imcms-content .access-page tr button {
    visibility: hidden; background: #dc0000 url("/images/remove.png") no-repeat center;
    line-height: 20px;
    padding: 0;
    width: 20px;
    height: 20px;
}

.document-viewer .imcms-content .access-page tr:hover button {

    visibility: visible;
}