.editor-frame {
    cursor: pointer;
    padding: 0;
    position: absolute;
    left: -5px;
    top: -25px;
    width: auto;
    height: 20px;
    opacity: 0.2;
}

.editor-frame:hover {
    opacity: 1;
}

.editor-frame .header-ph {
    display: block;
    width: auto;
    overflow: hidden;
}

.editor-frame .header-ph .header {
    position: relative;
    overflow: hidden;
    width: auto;
}

.editor-frame .header-ph .header .title {
    background: #0091e1;
    color: #fff;
    line-height: 20px;
    font-size: 10px;
    text-transform: uppercase;
    float: left;
    padding: 0 10px;
    height: 20px;
}