.loop-viewer .imcms-content table tr td {
    border-bottom: 1px solid #f0f0ff;
    padding: 7.5px 20px;
}

.loop-viewer .imcms-content table tr.clicked td {
    background: #0091e1;
    color: white;
}

.loop-viewer .imcms-content table tr:hover td {
    background: #ffff64;
    color: black;
}

.loop-viewer .imcms-content table tr td.buttons {
    margin: 0;
}

.loop-viewer .imcms-content table tr td.buttons button,
.loop-viewer .imcms-content table tr td.buttons .button {
    font-size: 13px;
    line-height: 25px;
    visibility: hidden;
    padding: 0 10px;
}

.loop-viewer .imcms-content table tr:hover td.buttons button,
.loop-viewer .imcms-content table tr:hover td.buttons .button {
    visibility: visible;
}
