.editor-form .header,
.pop-up-form .header {
    height: 20px;
    width: 100%;
    border-bottom: solid #eee 3px;
    background-color: #fff;
    padding: 11px 0;
}

.editor-form .header .title,
.pop-up-form .header .title {
    background-color: transparent;
    font-size: 15px;
    padding: 0 20px;
    color: #0091e1;
    line-height: 20px;
    text-transform: uppercase;
    float: left;
    height: 20px;
}

.editor-form .footer,
.pop-up-form .footer {
    height: 30px;
    padding: 10px;
    background-color: #eee;
}

.editor-form .positive,
.pop-up-form .positive {
    background: #649b00;
    border: none;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    padding: 0 20px;
    height: 30px;
}

.editor-form .positive:hover,
.pop-up-form .positive:hover {
    background: #6eaf00;
}

.editor-form .negative,
.pop-up-form .negative {
    background: #dc0000;
    border: none;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    padding: 0 10px;
    height: 30px;
}

.editor-form .negative:hover,
.pop-up-form .negative:hover {
    background: #e60000;
}

.editor-form .neutral,
.pop-up-form .neutral {
    background: rgba(0, 0, 0, 0.2);
    border: none;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    padding: 0 20px;
    height: 30px;
}

.editor-form .neutral:hover,
.pop-up-form .neutral:hover {
    background: rgba(0, 0, 0, 0.1);
}

.editor-form .footer .neutral,
.pop-up-form .footer .neutral {
    background: #323232;
}

.editor-form .footer .neutral:hover,
.pop-up-form .footer .neutral:hover {
    background: #484848;
}

.editor-form .header .close-button,
.pop-up-form .header .close-button {
    cursor: pointer;
    float: right;
    margin: 0 20px;
    padding: 0;
    border: none;
    width: 20px;
    height: 20px;
    background: rgba(220, 0, 0, 0) url("/images/close_button.png") no-repeat center;
}

.editor-form .footer .save-and-close {
    float: right;
}

.editor-form .header .close-button:focus,
.pop-up-form .header .close-button:focus {
    border: none;
    outline: none;
}

.document-viewer .footer:before {
    content: "";
    display: block;
    float: left;
    width: 180px;
    height: 100%;
    background-color: #0091e1;
    padding: 10px;
    margin: -10px 20px 0 -10px;
}

.pop-up-form .content {
    position: relative;
    padding: 20px;
}

.pop-up-form .with-tabs {
    padding-left: 220px;
}

.pop-up-form .content .tabs {
    background: #0091e1;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
}

.pop-up-form .content .tabs .tab {
    color: #fff;
    line-height: 30px;
    padding: 0 20px;
}

.pop-up-form .content .pages .page {
    height: 300px;
    overflow-y: auto;
    display: none;
}

.pop-up-form .content .pages .page.active {
    display: block;
}

.pop-up-form .content .tabs .tab:hover {
    background: #484848;
}

.pop-up-form .content .tabs .active {
    background: #fff !important;
    color: #000 !important;
}

.pop-up-form .footer .positive {
    margin-right: 20px;
}

.pop-up-form .footer .neutral {
    background: #323232;
}

.pop-up-form .footer .neutral:hover {
    background: #484848;
}

.pop-up-form {
    -webkit-box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.5);
    box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.5);
}
