.editor-form .imcms-header,
.pop-up-form .imcms-header {
    height: 20px;
    width: 100%;
    border-bottom: solid #eee 3px;
    background-color: #fff;
    padding: 11px 0;
}

.editor-form .imcms-header .imcms-title,
.pop-up-form .imcms-header .imcms-title {
    background-color: transparent;
    font-size: 15px;
    padding: 0 20px;
    color: #0091e1;
    line-height: 20px;
    text-transform: uppercase;
    float: left;
    height: 20px;
}

.editor-form .imcms-footer,
.pop-up-form .imcms-footer {
    height: 30px;
    padding: 10px;
    background-color: #eee;
}

.editor-form .imcms-positive,
.pop-up-form .imcms-positive {
    background: #649b00;
    border: none;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    padding: 0 20px;
    height: 30px;
}

.pop-up-form .imcms-positive span {
    color: #fff;
}

.editor-form .imcms-positive:hover,
.pop-up-form .imcms-positive:hover {
    background: #6eaf00;
}

.editor-form .imcms-negative,
.pop-up-form .imcms-negative {
    background: #dc0000;
    border: none;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    padding: 0 10px;
    height: 30px;
}

.pop-up-form .imcms-negative span {
    color: #fff;
}

.editor-form .imcms-negative:hover,
.pop-up-form .imcms-negative:hover {
    background: #e60000;
}

.editor-form .imcms-neutral,
.pop-up-form .imcms-neutral {
    background: rgba(0, 0, 0, 0.2);
    border: none;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    padding: 0 20px;
    height: 30px;
}

.pop-up-form .imcms-neutral span {
    color: #fff;
}

.editor-form .imcms-neutral:hover,
.pop-up-form .imcms-neutral:hover {
    background: rgba(0, 0, 0, 0.1);
}

.editor-form .imcms-footer .imcms-neutral,
.pop-up-form .imcms-footer .imcms-neutral {
    background: #323232;
}

.editor-form .imcms-footer .imcms-neutral:hover,
.pop-up-form .imcms-footer .imcms-neutral:hover {
    background: #484848;
}

.editor-form .imcms-header .imcms-close-button,
.pop-up-form .imcms-header .imcms-close-button {
    cursor: pointer;
    float: right;
    margin: 0 20px;
    padding: 0;
    border: none;
    width: 20px;
    height: 20px;
    background: rgba(220, 0, 0, 0) url("/images/close_button.png") no-repeat center;
}

.editor-form .imcms-footer .imcms-save-and-close {
    float: right;
}

.editor-form .imcms-header .imcms-close-button:focus,
.pop-up-form .imcms-header .imcms-close-button:focus {
    border: none;
    outline: none;
}

.document-viewer .imcms-footer:before {
    content: "";
    display: block;
    float: left;
    width: 180px;
    height: 100%;
    background-color: #0091e1;
    padding: 10px;
    margin: -10px 20px 0 -10px;
}

.pop-up-form .imcms-content {
    position: relative;
    padding: 20px;
}

.pop-up-form .with-tabs {
    padding-left: 220px;
}

.pop-up-form .imcms-content .imcms-tabs {
    background: #0091e1;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
}

.pop-up-form .imcms-content .imcms-tabs .imcms-tab {
    color: #fff;
    line-height: 30px;
    padding: 0 20px;
}

.pop-up-form .imcms-content .imcms-pages .imcms-page {
    height: 300px;
    overflow-y: auto;
    display: none;
}

.pop-up-form .imcms-content .imcms-pages .imcms-page.active {
    display: block;
}

.pop-up-form .imcms-content .imcms-tabs .imcms-tab:hover {
    background: #484848;
}

.pop-up-form .imcms-content .imcms-tabs .active {
    background: #fff !important;
    color: #000 !important;
}

.pop-up-form .imcms-footer .imcms-positive {
    margin-right: 20px;
}

.pop-up-form .imcms-footer .imcms-neutral {
    background: #323232;
}

.pop-up-form .imcms-footer .imcms-neutral:hover {
    background: #484848;
}

.pop-up-form {
    -webkit-box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.5);
    box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.5);
}
