<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="imCMS"
         version="3.0"
         metadata-complete="true">


    <display-name>imCMS</display-name>

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>com.imcode.imcms.config.MainConfig</param-value>
    </context-param>

    <listener>
        <listener-class>com.imcode.imcms.servlet.ImcmsLog4j2ConfigListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

    <!-- Reads request input using UTF-8 encoding -->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter>
        <display-name>CSRF Protection Filter</display-name>
        <filter-name>CSRFProtectionFilter</filter-name>
        <filter-class>com.imcode.imcms.filters.CSRFProtectionFilter</filter-class>
    </filter>

    <filter>
        <display-name>XSS Protection Filter</display-name>
        <filter-name>XSSProtectionFilter</filter-name>
        <filter-class>com.imcode.imcms.filters.xss.XSSProtectionFilter</filter-class>
    </filter>

    <filter>
        <display-name>Imcms Setup Filter</display-name>
        <filter-name>ImcmsSetupFilter</filter-name>
        <filter-class>com.imcode.imcms.servlet.ImcmsSetupFilter</filter-class>
    </filter>

    <filter>
        <filter-name>PublicDocCachingFilter</filter-name>
        <filter-class>com.imcode.imcms.filters.PublicDocumentCacheFilter</filter-class>
        <init-param>
            <param-name>suppressStackTrace</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>cacheName</param-name>
            <param-value>PublicDocumentsCache</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>UrlHandlerFilter</filter-name>
        <filter-class>com.imcode.imcms.filters.UrlHandlerFilter</filter-class>
    </filter>

    <filter>
        <description>
            Restricts access to mapped resources to users who are in the superadmin role.
            Currently API samples only.
        </description>

        <filter-name>SuperAdminFilter</filter-name>
        <filter-class>com.imcode.imcms.servlet.SuperAdminFilter</filter-class>
    </filter>

    <filter>
        <description>
            Restricts access to mapped resources to users with the "Access to admin pages" permission.
            Currently API samples only.
        </description>

        <filter-name>UserAdminFilter</filter-name>
        <filter-class>com.imcode.imcms.servlet.UserAdminFilter</filter-class>
    </filter>

    <filter>
        <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CSRFProtectionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>XSSProtectionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ImcmsSetupFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>PublicDocCachingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UrlHandlerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SuperAdminFilter</filter-name>
        <url-pattern>/api/properties/*</url-pattern>
        <url-pattern>/api/ip-rules/*</url-pattern>
        <url-pattern>/api/files/*</url-pattern>
        <url-pattern>/api/template-group/*</url-pattern>
        <url-pattern>/api/sessions/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserAdminFilter</filter-name>
        <url-pattern>/api/category-types/*</url-pattern>
        <url-pattern>/api/images/files/*</url-pattern>
        <url-pattern>/api/links/*</url-pattern>
        <url-pattern>/api/temporal-data/*</url-pattern>
        <url-pattern>/api/user/*</url-pattern>
        <url-pattern>/api/version/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
        <url-pattern>/archive/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>web</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>RD</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.ReDirecter</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminCategories</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.superadmin.AdminCategories</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminCounter</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.superadmin.AdminCounter</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminDeleteDoc</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.superadmin.AdminDeleteDoc</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.admin.AdminDoc</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.admin.AdminDoc</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminIpAccess</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.superadmin.AdminIpAccess</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminManager</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.superadmin.AdminManager</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminRoles</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.superadmin.AdminRoles</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminSearchTerms</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.superadmin.AdminSearchTerms</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminSystemInfo</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.superadmin.AdminSystemInfo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminUser</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.superadmin.AdminUser</servlet-class>
    </servlet>

    <!--
    fixme: remove???
    -->

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.admin.DocumentPageFlowDispatcher</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.admin.DocumentPageFlowDispatcher</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.superadmin.FileAdmin</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.superadmin.FileAdmin</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.GetDoc</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.GetDoc</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.LogOut</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.LogOut</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.superadmin.ListDocuments</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.superadmin.ListDocuments</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.admin.PageDispatcher</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.admin.PageDispatcher</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.RebuildIndex</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.RebuildIndex</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.ReDirecter</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.ReDirecter</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.Restart</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.Restart</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.SearchDocuments</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.SearchDocuments</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.StartDoc</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.StartDoc</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.superadmin.TemplateAdd</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.superadmin.TemplateAdd</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.superadmin.TemplateAdmin</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.superadmin.TemplateAdmin</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.superadmin.TemplateChange</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.superadmin.TemplateChange</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.superadmin.LinkCheck</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.superadmin.LinkCheck</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.admin.UserBrowser</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.admin.UserBrowser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.VerifyUser</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.VerifyUser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.Version</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.Version</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.XmlDoc</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.XmlDoc</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.ImageFetcher</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.ImageFetcher</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.ImageHandling</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.ImageHandling</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminProfiles</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.superadmin.AdminProfiles</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.superadmin.EncryptPasswords</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.superadmin.EncryptPasswords</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.PasswordReset</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.PasswordReset</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.RegisterUser</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.RegisterUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.superadmin.DocumentReferences</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.superadmin.DocumentReferences</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.imcode.imcms.servlet.InternalError</servlet-name>
        <servlet-class>com.imcode.imcms.servlet.InternalError</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>web</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminProfiles</servlet-name>
        <url-pattern>/imcms/admin/profile/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RD</servlet-name>
        <url-pattern>/RD/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminCategories</servlet-name>
        <url-pattern>/servlet/AdminCategories</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminCounter</servlet-name>
        <url-pattern>/servlet/AdminCounter</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.superadmin.DocumentReferences</servlet-name>
        <url-pattern>/servlet/DocumentReferences</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminDeleteDoc</servlet-name>
        <url-pattern>/servlet/AdminDeleteDoc</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.admin.AdminDoc</servlet-name>
        <url-pattern>/servlet/AdminDoc</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminIpAccess</servlet-name>
        <url-pattern>/servlet/AdminIpAccess</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminManager</servlet-name>
        <url-pattern>/servlet/AdminManager</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminRoles</servlet-name>
        <url-pattern>/servlet/AdminRoles</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminSearchTerms</servlet-name>
        <url-pattern>/servlet/AdminSearchTerms</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminSystemInfo</servlet-name>
        <url-pattern>/servlet/AdminSystemInfo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.superadmin.AdminUser</servlet-name>
        <url-pattern>/servlet/AdminUser</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.admin.DocumentPageFlowDispatcher</servlet-name>
        <url-pattern>/servlet/DocumentPageFlowDispatcher</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.superadmin.FileAdmin</servlet-name>
        <url-pattern>/servlet/FileAdmin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.GetDoc</servlet-name>
        <url-pattern>/servlet/GetDoc</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.GetDoc</servlet-name>
        <url-pattern>/GetDoc</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.LogOut</servlet-name>
        <url-pattern>/servlet/LogOut</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.superadmin.ListDocuments</servlet-name>
        <url-pattern>/servlet/ListDocuments</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.admin.PageDispatcher</servlet-name>
        <url-pattern>/servlet/PageDispatcher</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.PasswordReset</servlet-name>
        <url-pattern>/servlet/PasswordReset</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.RebuildIndex</servlet-name>
        <url-pattern>/servlet/RebuildIndex</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.ReDirecter</servlet-name>
        <url-pattern>/servlet/ReDirecter</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.Restart</servlet-name>
        <url-pattern>/servlet/Restart</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.ImageFetcher</servlet-name>
        <url-pattern>/image/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.ImageHandling</servlet-name>
        <url-pattern>/imagehandling/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.superadmin.EncryptPasswords</servlet-name>
        <url-pattern>/servlet/EncryptPasswords</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.SearchDocuments</servlet-name>
        <url-pattern>/servlet/SearchDocuments</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.StartDoc</servlet-name>
        <url-pattern>/servlet/StartDoc</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.superadmin.TemplateAdd</servlet-name>
        <url-pattern>/servlet/TemplateAdd</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.superadmin.TemplateAdmin</servlet-name>
        <url-pattern>/servlet/TemplateAdmin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.superadmin.TemplateChange</servlet-name>
        <url-pattern>/servlet/TemplateChange</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.superadmin.LinkCheck</servlet-name>
        <url-pattern>/servlet/LinkCheck</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.admin.UserBrowser</servlet-name>
        <url-pattern>/servlet/UserBrowser</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.VerifyUser</servlet-name>
        <url-pattern>/servlet/VerifyUser</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.Version</servlet-name>
        <url-pattern>/servlet/Version</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.XmlDoc</servlet-name>
        <url-pattern>/servlet/XmlDoc</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.RegisterUser</servlet-name>
        <url-pattern>/servlet/RegisterUser</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.imcode.imcms.servlet.InternalError</servlet-name>
        <url-pattern>/servlet/InternalError</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <mime-mapping>
        <extension>dot</extension>
        <mime-type>application/msword</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>ppt</extension>
        <mime-type>application/vnd.ms-powerpoint</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>xls</extension>
        <mime-type>application/vnd.ms-excel</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>odt</extension>
        <mime-type>application/vnd.oasis.opendocument.text</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>ott</extension>
        <mime-type>application/vnd.oasis.opendocument.text-template</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>oth</extension>
        <mime-type>application/vnd.oasis.opendocument.text-web</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>odm</extension>
        <mime-type>application/vnd.oasis.opendocument.text-master</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>odg</extension>
        <mime-type>application/vnd.oasis.opendocument.graphics</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>otg</extension>
        <mime-type>application/vnd.oasis.opendocument.graphics-template</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>odp</extension>
        <mime-type>application/vnd.oasis.opendocument.presentation</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>otp</extension>
        <mime-type>application/vnd.oasis.opendocument.presentation-template</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>ods</extension>
        <mime-type>application/vnd.oasis.opendocument.spreadsheet</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>ots</extension>
        <mime-type>application/vnd.oasis.opendocument.spreadsheet-template</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>odc</extension>
        <mime-type>application/vnd.oasis.opendocument.chart</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>odf</extension>
        <mime-type>application/vnd.oasis.opendocument.formula</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>odb</extension>
        <mime-type>application/vnd.oasis.opendocument.database</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>odi</extension>
        <mime-type>application/vnd.oasis.opendocument.image</mime-type>
    </mime-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>


    <error-page>
        <exception-type>com.imcode.imcms.api.exception.NoAvailableCommonContentException</exception-type>
        <location>/imcms/404.jsp</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/servlet/InternalError</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/imcms/404.jsp</location>
    </error-page>

    <error-page>
        <error-code>503</error-code>
        <location>/imcms/503.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/imcms/500.jsp</location>
    </error-page>
</web-app>
