<!--
Template: adv_new_meta.html
--><html>
<head>
<title><? sv/docinfo/adv_new_meta.html/1 ?></title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<link rel="stylesheet" href="@imcmscssurl@/imcms_admin_ns.css" type="text/css">
<script src="@imcmsscripturl@/imcms_admin.js" type="text/javascript"></script>

<script language="JavaScript">
<!--
var publDateDef, publTimeDef, archDateDef, archTimeDef, archCheckDef ;
var datePast   = "2000-01-01" ;
var timePast   = "00:00" ;
var dateFuture = "2099-12-31" ;
var timeFuture = "23:59" ;

/* Set & get default values */

function getDefaultPubl(el) {
	var f = document.forms.mainForm ;
	if (el != null) {
		/* Return default value */
		var retStr       = eval(el + "Def") ;
		//alert(retStr);
		return retStr ;
	} else {
		var archCbox = /checked/i.test("#archive#") ;
		/* Get the default values */
		publDateDef  = f.activated_date.value ;
		publTimeDef  = f.activated_time.value ;
		archDateDef  = f.archived_date.value ;
		archTimeDef  = f.archived_time.value ;
		archCheckDef = (archCbox) ? 1 : 0 ;
		f.archive.value = archCheckDef ;
	}
	/* set default radio button */
	if (archCheckDef) {
		f.publish[3].checked = 1 ;
		showDate(false) ;
	} else if (publDateDef == "" && publTimeDef == "" && archDateDef == "" && archTimeDef == "") {
		f.publish[0].checked = 1 ;
		showDate(false) ;
	} else {
		f.publish[2].checked = 1 ;
		showDate(true) ;
	}
}

function setPubl() {
	var f            = document.forms.mainForm ;

	/* Initiate field-elements */
	var elPublDate   = f.activated_date ;
	var elPublTime   = f.activated_time ;
	var elArchDate   = f.archived_date ;
	var elArchTime   = f.archived_time ;
	var elArchCheck  = f.archive ;

	/* Get new values */
	var publDate     = elPublDate.value ;
	var publTime     = elPublTime.value ;
	var archDate     = elArchDate.value ;
	var archTime     = elArchTime.value ;
	var archCheck    = (elArchCheck.checked == 1) ? 1 : 0 ;

	/* Get old values */
	var publDateOld  = getDefaultPubl("publDate") ;
	var publTimeOld  = getDefaultPubl("publTime") ;
	var archDateOld  = getDefaultPubl("archDate") ;
	var archTimeOld  = getDefaultPubl("archTime") ;
	var archCheckOld = (getDefaultPubl("archCheck")) ? 1 : 0 ;

	if (f.publish[1].checked) { // No
		elPublDate.value  = dateFuture ;
		elPublTime.value  = timeFuture ;
		elArchDate.value  = "" ;
		elArchTime.value  = "" ;
		elArchCheck.value = 0 ;
		showDate(false) ;
	} else if (f.publish[2].checked) { // Time
		elPublDate.value  = publDateOld ;
		elPublTime.value  = publTimeOld ;
		elArchDate.value  = archDateOld ;
		elArchTime.value  = archTimeOld ;
		elArchCheck.value = 0 ;
		showDate(true) ;
	} else if (f.publish[3].checked) { // Archive
		elPublDate.value  = "" ;
		elPublTime.value  = "" ;
		elArchDate.value  = datePast ;
		elArchTime.value  = timePast ;
		elArchCheck.value = 1 ;
		showDate(false) ;
	} else { // Yes
		elPublDate.value  = datePast ;
		elPublTime.value  = timePast ;
		elArchDate.value  = "" ;
		elArchTime.value  = "" ;
		elArchCheck.value = 0 ;
		showDate(false) ;
	}
}

function showDate(show) {
	if (isMoz) {
		if (document.getElementById("dateHide")) {
			document.getElementById("dateHide").style.display = (show) ? "block" : "none" ;
		}
	}
}
//-->
</script>

</head>
<body bgcolor="#FFFFFF" onLoad="focusField(1,'meta_headline'); getDefaultPubl(null);">

<script>
imcmsGui("outer_start", null);
imcmsGui("head", null);
</script>
<table border="0" cellspacing="0" cellpadding="0">
<form>
<tr>
	<td><input type="BUTTON" class="imcmsFormBtn" value="<? sv/docinfo/adv_new_meta.html/2001 ?>" onClick="document.forms.abortForm.submit(); return false"></td>
	<td>&nbsp;</td>
    <td><input type="button" value="<? sv/docinfo/adv_new_meta.html/2002 ?>" title="<? sv/docinfo/adv_new_meta.html/2003 ?>" class="imcmsFormBtn" onClick="openHelpW(90)"></td>
</tr>
</form>
</table>
<script>
imcmsGui("mid", null);
</script>
<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form name="mainForm" method="POST" action="SaveNewMeta">
<input type="hidden" name="doc_type" value="#doc_type#">
<input type="hidden" name="doc_menu_no" value="#doc_menu_no#">
<input type="hidden" name="parent_meta_id" value="#parent_meta_id#">
<input type="hidden" name="description" value="" oldvalue="#description#">
<input type="hidden" name="current_section_id" value="#current_section_id#">
<input type="hidden" name="archive" value="0">
<tr>
	<td class="imcmsAdmText"><? sv/docinfo/adv_new_meta.html/1001 ?>
	&nbsp;</td>
</tr>
<tr>
	<td>#checks#<script>imcHeading("<? sv/docinfo/adv_new_meta.html/5/1 ?>","656");</script></td>
</tr>
<tr>
	<td>
	<table border="0" cellspacing="0" cellpadding="0" width="656">
	<tr>
		<td class="imcmsAdmText" nowrap><? sv/docinfo/adv_new_meta.html/6 ?><sup class="imNote">1</sup></td>
		<td>
<script>
writeFormField("TEXT","meta_headline",105,255,"100%","");
</script></td>
	</tr>
	<tr>
		<td class="imcmsAdmText" nowrap><? sv/docinfo/adv_new_meta.html/9 ?></td>
		<td class="imcmsAdmForm">
		<textarea name="meta_text" class="imcmsAdmForm" cols="47" rows="3" wrap="virtual" style="width:100%">
</textarea></td>
	<tr>
		<td class="imcmsAdmText" nowrap><? sv/docinfo/adv_new_meta.html/10 ?></td>
		<td>
		<table border="0" cellspacing="0" cellpadding="0" width="560">
		<tr>
			<td>
<script>
writeFormField("TEXT","meta_image",85,255,450,"#meta_image#");
</script></td>
			<td align="right">
                <input type="hidden" name="caller" value="AddDoc">
                <input type="submit" class="imcmsFormBtnSmall" name="ImageBrowse" value=" <? sv/docinfo/adv_change_meta.html/11/1 ?> ">
            </td>
		</tr>
		</table></td>
	</tr>
	<tr>
		<td colspan="2"><script>hr("100%",656,"cccccc");</script></td>
	</tr>
	<tr>
		<td class="imcmsAdmText"><? sv/docinfo/adv_new_meta.html/13 ?></td>
		<td>
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td><input type="radio" name="publish" value="1" onClick="setPubl()" onChange="setPubl()" checked></td>
			<td class="imcmsAdmText">&nbsp;<? sv/docinfo/adv_new_meta.html/1002 ?> &nbsp; &nbsp;</td>
			<td><input type="radio" name="publish" value="2" onClick="setPubl()" onChange="setPubl()"></td>
			<td class="imcmsAdmText">&nbsp;<? sv/docinfo/adv_new_meta.html/1003 ?> &nbsp; &nbsp;</td>
			<td><input type="radio" name="publish" value="3" onClick="setPubl()" onChange="setPubl()"></td>
			<td class="imcmsAdmText">&nbsp;<? sv/docinfo/adv_new_meta.html/1004 ?> &nbsp; &nbsp;</td>
			<td><input type="radio" name="publish" value="4" onClick="setPubl()" onChange="setPubl()"></td>
			<td class="imcmsAdmText">&nbsp;<? sv/docinfo/adv_new_meta.html/1005 ?></td>
		</tr>
		</table></td>
	</tr>
	<tr>
		<td><img src="@imcmsimageurl@/admin/1x1.gif" width="96" height="1"></td>
		<td><img src="@imcmsimageurl@/admin/1x1.gif" width="556" height="1"></td>
	</tr>
	</table>
	<table border="0" cellspacing="0" cellpadding="0" width="656" id="dateHide">
	<tr>
		<td colspan="2"><script>hr("100%",656,"cccccc");</script></td>
	</tr>
	<tr>
		<td class="imcmsAdmText"><? sv/docinfo/adv_new_meta.html/15 ?></td>
		<td>
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td><script>
writeFormField("TEXT","activated_date",11,10,'7em',"#activated_date#");
</script></td>
			<td class="imcmsAdmText">&nbsp;<? sv/docinfo/adv_new_meta.html/1006 ?></td>
			<td><script>
writeFormField("TEXT","activated_time",5,5,'4em',"#activated_time#");
</script></td>
			<td class="imcmsAdmDim">&nbsp;<? sv/docinfo/adv_new_meta.html/1007 ?></td>
		</tr>
		</table></td>
	</tr>
	<tr>
		<td class="imcmsAdmText"><? sv/docinfo/adv_new_meta.html/18 ?></td>
		<td>
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td><script>
writeFormField("TEXT","archived_date",11,10,'7em',"");
</script></td>
			<td class="imcmsAdmText">&nbsp;<? sv/docinfo/adv_new_meta.html/1008 ?></td>
			<td><script>
writeFormField("TEXT","archived_time",5,5,'4em',"");
</script></td>
			<td class="imcmsAdmDim">&nbsp;<? sv/docinfo/adv_new_meta.html/1009 ?></td>
		</tr>
		</table></td>
	</tr>
	<tr>
		<td><img src="@imcmsimageurl@/admin/1x1.gif" width="96" height="1"></td>
		<td><img src="@imcmsimageurl@/admin/1x1.gif" width="556" height="1"></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td>&nbsp;<br><script>imcHeading("<? sv/docinfo/adv_new_meta.html/21/1 ?>","656");</script></td>
</tr>
<tr>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="imcmsAdmText"><? sv/docinfo/adv_new_meta.html/22 ?></td>
		<td class="imcmsAdmText">
		<select name="change_section" size="5" multiple>
			<? sv/docinfo/adv_new_meta.html/1010 ?>
		</select>
		&nbsp; <? sv/docinfo/adv_new_meta.html/1011 ?></td>
	</tr>
	<tr>
		<td colspan="2"><script>hr("100%",656,"cccccc");</script></td>
	</tr>
	<tr>
		<td class="imcmsAdmText"><? sv/docinfo/adv_new_meta.html/26 ?></td>
		<td class="imcmsAdmText">
		<select name="lang_prefix" size="1">
			#lang_prefix#
		</select>
		&nbsp; <? sv/docinfo/adv_new_meta.html/1012 ?></td>
	</tr>
	<tr>
		<td colspan="2"><script>hr("100%",656,"cccccc");</script></td>
	</tr>
	<tr>
		<td class="imcmsAdmText"><? sv/docinfo/adv_new_meta.html/29 ?></td>
		<td class="imcmsAdmText">#categories#</td>
	</tr>
	<tr>
		<td colspan="2"><script>hr("100%",656,"cccccc");</script></td>
	</tr>
	<tr>
		<td class="imcmsAdmText"><? sv/docinfo/adv_new_meta.html/32 ?></td>
		<td class="imcmsAdmText">
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td><input type="CHECKBOX" name="show_meta" value="1" #show_meta#></td>
			<td class="imcmsAdmText">&nbsp;<? global/pageinfo/ShowLinkToUnuthorizedUser ?></td>
   		</tr>
        <tr>
			<td><input type="CHECKBOX" name="shared" value="1" #shared#></td>
			<td class="imcmsAdmText">&nbsp;<? global/pageinfo/share ?></td>
		</tr>
		</table></td>
	</tr>
	<tr>
		<td colspan="2"><script>hr("100%",656,"cccccc");</script></td>
	</tr>
	<tr>
		<td class="imcmsAdmText"><? sv/docinfo/adv_new_meta.html/35 ?></td>
		<td class="imcmsAdmText">
<script>
writeFormField("TEXT","classification",105,200,"100%","#classification#");
</script><br>
		<span class="imcmsAdmDim"><? sv/docinfo/adv_new_meta.html/1013 ?></span><br>
		<input type="CHECKBOX" name="disable_search" value="1" #disable_search#> <? sv/docinfo/adv_new_meta.html/37 ?></td>
	</tr>
	<tr>
		<td colspan="2"><script>hr("100%",656,"cccccc");</script></td>
	</tr>
	<tr>
		<td class="imcmsAdmText"><? sv/docinfo/adv_new_meta.html/39 ?></td>
		<td class="imcmsAdmText" nowrap>
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td><input type="radio" name="target" value="_self" #_self#></td>
			<td class="imcmsAdmText">&nbsp;<? sv/docinfo/adv_new_meta.html/1014 ?> &nbsp;</td>
			<td><input type="radio" name="target" value="_blank" #_blank#></td>
			<td class="imcmsAdmText">&nbsp;<? sv/docinfo/adv_new_meta.html/1015 ?> &nbsp;</td>
			<td><input type="radio" name="target" value="_top" #_top#></td>
			<td class="imcmsAdmText">&nbsp;<? sv/docinfo/adv_new_meta.html/1016 ?> &nbsp;</td>
			<td><input type="radio" name="target" value="_other" #_other#></td>
			<td class="imcmsAdmText">&nbsp;<? sv/docinfo/adv_new_meta.html/1017 ?>&nbsp;</td>
			<td><script>
writeFormField("TEXT","frame_name",20,20,null,"#frame_name#");
</script></td>
		</tr>
		</table></td>
	</tr>
	<tr>
		<td class="imcmsAdmText"><? sv/docinfo/adv_new_meta.html/41 ?></td>
		<td class="imcmsAdmText">
		<select name="publisher_id" size="1">
			#publisher_id#
		</select>
		&nbsp; <? sv/docinfo/adv_new_meta.html/1018 ?></td>
	</tr>
	<tr>
		<td colspan="2"><script>hr("100%",656,"blue");</script></td>
	</tr>
	<tr>
		<td colspan="2">
		<table border="0" cellspacing="0" cellpadding="0" width="100%">
		<tr>
			<td class="imNoteComment"><sup class="imNote">1</sup>
			<? sv/docinfo/adv_new_meta.html/45 ?></td>
			<td align="right">
			<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td><input type="SUBMIT" class="imcmsFormBtn" value=" <? sv/docinfo/adv_new_meta.html/2004 ?> " name="ok"></td>
				<td>&nbsp;</td>
				<td><input type="RESET" class="imcmsFormBtn" value="<? sv/docinfo/adv_new_meta.html/2005 ?>" name="reset"></td>
				<td>&nbsp;</td>
				<td>
				<table border="0" cellspacing="0" cellpadding="0">
				</form>
				<form name="abortForm" action="AdminDoc">
				<input type="hidden" name="meta_id" value="#parent_meta_id#">
				<input type="hidden" name="flags" value="262144">
				<tr>
					<td><input type="BUTTON" class="imcmsFormBtn" value="<? sv/docinfo/adv_new_meta.html/2006 ?>" onClick="document.forms.abortForm.submit(); return false"></td>
				</tr>
				<!-- input type="CHECKBOX" name="shared" value="1" #shared# -->
				</form>
				</table></td>
			</tr>
			</table></td>
		</tr>
		</table></td>
	</tr>
	<tr>
		<td><img src="@imcmsimageurl@/admin/1x1.gif" width="98" height="1"></td>
		<td><img src="@imcmsimageurl@/admin/1x1.gif" width="558" height="1"></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td>&nbsp;</td>
</tr>
</table>
<script>
imcmsGui("bottom", null);
imcmsGui("outer_end", null);
</script>

</body>
</html>
