<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<title><? sv/docinfo/change_meta_rights.html/1 ?></title>

<link rel="stylesheet" href="@imcmscssurl@/imcms_admin_ns.css" type="text/css">
<script src="@imcmsscripturl@/imcms_admin.js" type="text/javascript"></script>

</head>
<body bgcolor="#FFFFFF">

<script>
<? sv/docinfo/change_meta_rights.html/2 ?>
</script>
<table border="0" cellspacing="0" cellpadding="0">
<form name="backForm" action="AdminDoc">
<input type="hidden" name="meta_id" value="#meta_id#">
<tr>
	<td><input type="submit" class="imcmsFormBtn" value="Tillbaka"></td>
	<td>&nbsp;</td>
    <td><input type="button" value="Hjälp" title="Öppna hjälpsidan" class="imcmsFormBtn" onClick="openHelpW(84)"></td>
</tr>
</form>
</table>
<script>
<? sv/docinfo/change_meta_rights.html/3 ?>
</script>
<table border="0" cellspacing="0" cellpadding="2" width="660" align="center">
<form method="POST" action="SaveMeta">
<input type="hidden" name="doc_type" value="#doc_type#">
<input type="hidden" name="parent_meta_id" value="#parent_meta_id#">
<input type="hidden" name="meta_id" value="#meta_id#">
<input type="hidden" name="meta_headline" value="#meta_headline#"><? sv/docinfo/change_meta_rights.html/4 ?>
<tr>
	<td colspan="2"><script><? sv/docinfo/change_meta_rights.html/5 ?></script></td>
</tr>
<tr>
	<td class="imcmsAdmText"><? sv/docinfo/change_meta_rights.html/1001 ?></td>
	<td class="imcmsAdmText"><? sv/docinfo/change_meta_rights.html/6 ?></td>
</tr>
<tr>
	<td class="imcmsAdmText"><? sv/docinfo/change_meta_rights.html/7 ?></td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><input type="submit" class="imcmsFormBtnSmall" name="add_roles" value="^ Lägg till / Uppdatera ^" style="width:130"></td>
		<td class="imcmsAdmDim">&nbsp; <? sv/docinfo/change_meta_rights.html/1002 ?></td>
	</tr>
	</table>
	<select name="roles_no_rights" size="4" multiple>
		<? sv/docinfo/change_meta_rights.html/8 ?>
	</select></td>
</tr>
<tr>
	<td colspan="2">&nbsp;<br><script><? sv/docinfo/change_meta_rights.html/9 ?></script></td>
</tr>
<? sv/docinfo/change_meta_rights.html/10 ?>
<tr>
	<td colspan="2"><script><? sv/docinfo/change_meta_rights.html/11 ?></script></td>
</tr>
<tr>
	<td class="imcmsAdmText"><? sv/docinfo/change_meta_rights.html/12 ?></td>
	<td>
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td>
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td><input type="CHECKBOX" name="show_meta" value="1" #show_meta#></td>
			<td class="imcmsAdmText">&nbsp;<? sv/docinfo/change_meta_rights.html/1003 ?></td>
		</tr>
		</table></td>
		<td class="imcmsAdmText" nowrap><? sv/docinfo/change_meta_rights.html/1004 ?></td>
	</tr>
	</table></td>
</tr>
<tr>
	<td colspan="2"><script><? sv/docinfo/change_meta_rights.html/13 ?></script></td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td align="right">
	<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td><input type="SUBMIT" name="ok" class="imcmsFormBtn" value="Spara"></td>
		<td>&nbsp;</td>
		<td><input type="RESET" name="reset" class="imcmsFormBtn" value="Återställ"></td>
		<td>&nbsp;</td>
		<td>
		<table border="0" cellspacing="0" cellpadding="0">
		<!-- input type="CHECKBOX" name=shared value="1" #shared# -->
		</form>
		<form name="abortForm" action="AdminDoc">
		<input type="hidden" name="meta_id" value="#meta_id#">
		<tr>
			<td><input type="submit" class="imcmsFormBtn" value="Avbryt"></td>
		</tr>
		</form>
		</table></td>
	</tr>
	</table></td>
</tr>
</table>
<script>
<? sv/docinfo/change_meta_rights.html/14 ?>
</script>

<div align="center"><? sv/docinfo/change_meta_rights.html/15 ?></div>

</body>
</html>
