IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'Conf_test3')
	DROP DATABASE [Conf_test3]
GO

CREATE DATABASE [Conf_test3]  ON (NAME = N'Conf_test3_dat', FILENAME = N'C:\Mssql7\Data\Conf_test3.MDF' , SIZE = 1, FILEGROWTH = 10%) LOG ON (NAME = N'Conf_test3_log', FILENAME = N'C:\Mssql7\Log\Conf_test3.LDF' , SIZE = 3, FILEGROWTH = 10%)
GO

exec sp_dboption N'Conf_test3', N'autoclose', N'false'
GO

exec sp_dboption N'Conf_test3', N'bulkcopy', N'false'
GO

exec sp_dboption N'Conf_test3', N'trunc. log', N'false'
GO

exec sp_dboption N'Conf_test3', N'torn page detection', N'false'
GO

exec sp_dboption N'Conf_test3', N'read only', N'false'
GO

exec sp_dboption N'Conf_test3', N'dbo use', N'false'
GO

exec sp_dboption N'Conf_test3', N'single', N'false'
GO

exec sp_dboption N'Conf_test3', N'autoshrink', N'false'
GO

exec sp_dboption N'Conf_test3', N'ANSI null default', N'false'
GO

exec sp_dboption N'Conf_test3', N'recursive triggers', N'false'
GO

exec sp_dboption N'Conf_test3', N'ANSI nulls', N'false'
GO

exec sp_dboption N'Conf_test3', N'concat null yields null', N'false'
GO

exec sp_dboption N'Conf_test3', N'cursor close on commit', N'false'
GO

exec sp_dboption N'Conf_test3', N'default to local cursor', N'false'
GO

exec sp_dboption N'Conf_test3', N'quoted identifier', N'false'
GO

exec sp_dboption N'Conf_test3', N'ANSI warnings', N'false'
GO

exec sp_dboption N'Conf_test3', N'auto create statistics', N'true'
GO

exec sp_dboption N'Conf_test3', N'auto update statistics', N'true'
GO

use [Conf_test3]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_conf_users_crossref_conf_users]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[conf_users_crossref] DROP CONSTRAINT FK_conf_users_crossref_conf_users
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_replies_conf_users]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[replies] DROP CONSTRAINT FK_replies_conf_users
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_conference_forum_conference]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[conf_forum] DROP CONSTRAINT FK_conference_forum_conference
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_conf_selfreg_crossref_conference]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[conf_selfreg_crossref] DROP CONSTRAINT FK_conf_selfreg_crossref_conference
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_conf_templates_crossref_conference]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[conf_templates] DROP CONSTRAINT FK_conf_templates_crossref_conference
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_conf_users_crossref_conference]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[conf_users_crossref] DROP CONSTRAINT FK_conf_users_crossref_conference
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_conference_forum_forum]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[conf_forum] DROP CONSTRAINT FK_conference_forum_forum
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_discussion_forum]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[discussion] DROP CONSTRAINT FK_discussion_forum
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_discussion_replies]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[discussion] DROP CONSTRAINT FK_discussion_replies
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_conf_selfreg_crossref_selfreg_roles]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[conf_selfreg_crossref] DROP CONSTRAINT FK_conf_selfreg_crossref_selfreg_roles
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_conf_templates_crossref_templates]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[conf_templates] DROP CONSTRAINT FK_conf_templates_crossref_templates
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddNewConf]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddNewConf]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddNewDisc]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddNewDisc]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddNewForum]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddNewForum]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddNewTemplateLib]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddNewTemplateLib]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddReply]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddReply]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AddTemplateLib]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AddTemplateLib]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AdminStatistics1]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AdminStatistics1]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AdminStatistics2]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[AdminStatistics2]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CheckUserId]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[CheckUserId]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ConfUsersAdd]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ConfUsersAdd]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ConfUsersGetReplyDate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ConfUsersGetReplyDate]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ConfUsersGetReplyOrder]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ConfUsersGetReplyOrder]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ConfUsersGetReplyOrderSel]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ConfUsersGetReplyOrderSel]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ConfUsersGetUserLevel]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ConfUsersGetUserLevel]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ConfUsersSetReplyOrder]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ConfUsersSetReplyOrder]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ConfUsersSetUserLevel]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ConfUsersSetUserLevel]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ConfUsersUpdate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ConfUsersUpdate]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ConfUsersUpdateLoginDate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ConfUsersUpdateLoginDate]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ConvertReplyDate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[ConvertReplyDate]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[DelForum]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[DelForum]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[DeleteDiscussion]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[DeleteDiscussion]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[DeleteForum]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[DeleteForum]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[DeleteReply]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[DeleteReply]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FindForumName]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[FindForumName]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FindMetaId]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[FindMetaId]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FindTemplateLib]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[FindTemplateLib]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAllConfUsersInList]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAllConfUsersInList]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAllDiscsInForum]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAllDiscsInForum]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAllDiscussions]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAllDiscussions]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAllForum]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAllForum]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAllNbrOfDiscsToShow]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAllNbrOfDiscsToShow]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAllNewDiscussions]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAllNewDiscussions]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAllOldDiscussions]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAllOldDiscussions]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAllRepliesInDisc]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAllRepliesInDisc]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAllRepliesInDiscAdmin]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAllRepliesInDiscAdmin]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAllTemplateLibs]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAllTemplateLibs]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetAllUsersInList]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetAllUsersInList]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetConfLoginNames]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetConfLoginNames]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetDiscussionDate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetDiscussionDate]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetDiscussionHeader]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetDiscussionHeader]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetFirstForum]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetFirstForum]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetForumName]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetForumName]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetLastDiscussionId]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetLastDiscussionId]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetLastLoginDate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetLastLoginDate]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetLastLoginDate2]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetLastLoginDate2]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetNbrOfDiscs]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetNbrOfDiscs]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetNbrOfDiscsToShow]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetNbrOfDiscsToShow]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetTemplateIdFromName]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetTemplateIdFromName]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetTemplateLib]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetTemplateLib]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetTemplateLibName]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetTemplateLibName]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetTime]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetTime]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetUserNames]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetUserNames]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[InsertFirstReply]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[InsertFirstReply]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[LinkForumToConf]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[LinkForumToConf]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[MemberInConf]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[MemberInConf]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[RenameForum]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[RenameForum]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SearchText]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[SearchText]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SelfRegRoles_AddNew]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[SelfRegRoles_AddNew]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SelfRegRoles_Delete]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[SelfRegRoles_Delete]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SelfRegRoles_GetAll]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[SelfRegRoles_GetAll]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SelfRegRoles_GetAll2]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[SelfRegRoles_GetAll2]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SetNbrOfDiscsToShow]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[SetNbrOfDiscsToShow]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SetTemplateLib]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[SetTemplateLib]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[TestConfDb]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[TestConfDb]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UpdateDiscussionModifyDate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[UpdateDiscussionModifyDate]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UpdateReply]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[UpdateReply]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[deleteConf]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[deleteConf]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[getArchiveDate]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[getArchiveDate]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[getConference_metaId]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[getConference_metaId]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[conf_forum]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[conf_forum]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[conf_selfreg_crossref]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[conf_selfreg_crossref]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[conf_templates]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[conf_templates]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[conf_users]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[conf_users]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[conf_users_crossref]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[conf_users_crossref]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[conference]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[conference]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[discussion]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[discussion]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[forum]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[forum]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[replies]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[replies]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[selfreg_roles]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[selfreg_roles]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[templates]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[templates]
GO

CREATE TABLE [dbo].[conf_forum] (
	[conf_id] [int] NOT NULL ,
	[forum_id] [int] NOT NULL ,
	[sort_number] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[conf_selfreg_crossref] (
	[meta_id] [int] NOT NULL ,
	[selfreg_id] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[conf_templates] (
	[conf_id] [int] NOT NULL ,
	[template_id] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[conf_users] (
	[user_id] [int] NOT NULL ,
	[first_name] [varchar] (50) NULL ,
	[last_name] [varchar] (50) NULL ,
	[last_login_date_OLD] [datetime] NULL ,
	[replies_order_OLD] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[conf_users_crossref] (
	[conf_id] [int] NOT NULL ,
	[user_id] [int] NOT NULL ,
	[user_level] [int] NOT NULL ,
	[last_login_date] [datetime] NULL ,
	[replies_order] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[conference] (
	[meta_id] [int] NOT NULL ,
	[name] [varchar] (255) NULL ,
	[sort_type] [char] (1) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[discussion] (
	[discussion_id] [int] IDENTITY (1, 1) NOT NULL ,
	[forum_id] [int] NOT NULL ,
	[reply_id] [int] NOT NULL ,
	[count_replies] [int] NULL ,
	[create_date] [datetime] NULL ,
	[last_mod_date] [datetime] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[forum] (
	[forum_id] [int] IDENTITY (1, 1) NOT NULL ,
	[archive_time] [int] NOT NULL ,
	[forum_name] [varchar] (255) NULL ,
	[archive_mode] [char] (1) NOT NULL ,
	[discs_to_show] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[replies] (
	[reply_id] [int] IDENTITY (1, 1) NOT NULL ,
	[user_id] [int] NULL ,
	[parent_id] [int] NULL ,
	[create_date] [datetime] NULL ,
	[headline] [varchar] (255) NULL ,
	[text] [text] NULL ,
	[reply_level] [int] NOT NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [dbo].[selfreg_roles] (
	[selfreg_id] [int] IDENTITY (1, 1) NOT NULL ,
	[role_id] [int] NULL ,
	[role_name] [char] (25) NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[templates] (
	[template_id] [int] IDENTITY (1, 1) NOT NULL ,
	[template_lib] [varchar] (50) NOT NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[conf_forum] WITH NOCHECK ADD 
	CONSTRAINT [PK_conference_forum] PRIMARY KEY  NONCLUSTERED 
	(
		[conf_id],
		[forum_id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[conf_selfreg_crossref] WITH NOCHECK ADD 
	CONSTRAINT [PK_conf_selfreg_crossref] PRIMARY KEY  NONCLUSTERED 
	(
		[meta_id],
		[selfreg_id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[conf_templates] WITH NOCHECK ADD 
	CONSTRAINT [PK_conf_templates_crossref] PRIMARY KEY  NONCLUSTERED 
	(
		[conf_id],
		[template_id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[conf_users] WITH NOCHECK ADD 
	CONSTRAINT [DF_conf_users_replies_order] DEFAULT (1) FOR [replies_order_OLD],
	CONSTRAINT [PK_systemusers] PRIMARY KEY  NONCLUSTERED 
	(
		[user_id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[conf_users_crossref] WITH NOCHECK ADD 
	CONSTRAINT [DF_conf_users_crossref_user_type] DEFAULT (0) FOR [user_level],
	CONSTRAINT [DF_conf_users_crossref_replies_order] DEFAULT (1) FOR [replies_order],
	CONSTRAINT [PK_conf_users_crossref] PRIMARY KEY  NONCLUSTERED 
	(
		[conf_id],
		[user_id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[conference] WITH NOCHECK ADD 
	CONSTRAINT [DF_conference_sort_type] DEFAULT ('B') FOR [sort_type],
	CONSTRAINT [PK_conference] PRIMARY KEY  NONCLUSTERED 
	(
		[meta_id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[discussion] WITH NOCHECK ADD 
	CONSTRAINT [PK_discussion] PRIMARY KEY  NONCLUSTERED 
	(
		[discussion_id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[forum] WITH NOCHECK ADD 
	CONSTRAINT [DF_forum_archive_time] DEFAULT (30) FOR [archive_time],
	CONSTRAINT [DF_forum_archive_mode] DEFAULT ('A') FOR [archive_mode],
	CONSTRAINT [DF_forum_discs_to_show] DEFAULT (20) FOR [discs_to_show],
	CONSTRAINT [PK_forum] PRIMARY KEY  NONCLUSTERED 
	(
		[forum_id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[replies] WITH NOCHECK ADD 
	CONSTRAINT [DF_replies_reply_level] DEFAULT (0) FOR [reply_level],
	CONSTRAINT [PK_replies] PRIMARY KEY  NONCLUSTERED 
	(
		[reply_id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[selfreg_roles] WITH NOCHECK ADD 
	CONSTRAINT [PK_selfreg_roles] PRIMARY KEY  NONCLUSTERED 
	(
		[selfreg_id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[templates] WITH NOCHECK ADD 
	CONSTRAINT [PK_templates] PRIMARY KEY  NONCLUSTERED 
	(
		[template_id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[conf_forum] ADD 
	CONSTRAINT [FK_conference_forum_conference] FOREIGN KEY 
	(
		[conf_id]
	) REFERENCES [dbo].[conference] (
		[meta_id]
	),
	CONSTRAINT [FK_conference_forum_forum] FOREIGN KEY 
	(
		[forum_id]
	) REFERENCES [dbo].[forum] (
		[forum_id]
	)
GO

ALTER TABLE [dbo].[conf_selfreg_crossref] ADD 
	CONSTRAINT [FK_conf_selfreg_crossref_conference] FOREIGN KEY 
	(
		[meta_id]
	) REFERENCES [dbo].[conference] (
		[meta_id]
	),
	CONSTRAINT [FK_conf_selfreg_crossref_selfreg_roles] FOREIGN KEY 
	(
		[selfreg_id]
	) REFERENCES [dbo].[selfreg_roles] (
		[selfreg_id]
	)
GO

ALTER TABLE [dbo].[conf_templates] ADD 
	CONSTRAINT [FK_conf_templates_crossref_conference] FOREIGN KEY 
	(
		[conf_id]
	) REFERENCES [dbo].[conference] (
		[meta_id]
	),
	CONSTRAINT [FK_conf_templates_crossref_templates] FOREIGN KEY 
	(
		[template_id]
	) REFERENCES [dbo].[templates] (
		[template_id]
	)
GO

ALTER TABLE [dbo].[conf_users_crossref] ADD 
	CONSTRAINT [FK_conf_users_crossref_conf_users] FOREIGN KEY 
	(
		[user_id]
	) REFERENCES [dbo].[conf_users] (
		[user_id]
	),
	CONSTRAINT [FK_conf_users_crossref_conference] FOREIGN KEY 
	(
		[conf_id]
	) REFERENCES [dbo].[conference] (
		[meta_id]
	)
GO

ALTER TABLE [dbo].[discussion] ADD 
	CONSTRAINT [FK_discussion_forum] FOREIGN KEY 
	(
		[forum_id]
	) REFERENCES [dbo].[forum] (
		[forum_id]
	),
	CONSTRAINT [FK_discussion_replies] FOREIGN KEY 
	(
		[reply_id]
	) REFERENCES [dbo].[replies] (
		[reply_id]
	)
GO

ALTER TABLE [dbo].[replies] ADD 
	CONSTRAINT [FK_replies_conf_users] FOREIGN KEY 
	(
		[user_id]
	) REFERENCES [dbo].[conf_users] (
		[user_id]
	)
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE AddNewConf
/* Lets add a new Conference. Observe that were not using the sorttype for the moment,
so were just gonna add a default value*/
 @meta_id int,
 @confName varchar(255)
AS
-- Lets check if theres already such an meta_id in the conference
DECLARE @returnVal int
SELECT @returnVal = meta_id
FROM conference
WHERE meta_id = @meta_id
IF NOT @returnVal IS NULL BEGIN
	RETURN
END
-- Ok, there was no such meta_id in the database, Lets insert it	
INSERT INTO conference (meta_id, name)
VALUES (@meta_id, @confName)
-- Lets create the templates library path as well
EXEC AddNewTemplateLib @meta_id



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE AddNewDisc
/*
Lets add a new discussion to  a forum
*/
 @forum_id int,
 @user_id int,
 @headline varchar(255),
 @text text ,
 @replyLevel int
AS
--  Lets create the first reply 
DECLARE @firstReplyId int
Exec @firstReplyId = insertFirstReply @user_id,  @headline, @text, @replyLevel , @firstReplyId
 
-- Lets insert into discussion *
INSERT INTO discussion (forum_id, reply_id, create_date, last_mod_date, count_replies )
VALUES  (@forum_id, @firstReplyId , GETDATE() , GETDATE() , 1)
DECLARE @thisDiscussionId int
SELECT @thisDiscussionId = @@identity 
-- Lets update the first reply, its parent_id shall point us out 
UPDATE replies
SET replies.parent_id = @thisDiscussionId
WHERE replies.reply_id = @firstReplyId



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE AddNewForum
/*
Adds a new forum to a conferences
*/
 @meta_id int,   
 @forum_name varchar(255),
 @archive_mode char,
 @archive_time int
AS
/* Lets insert into forum */
INSERT INTO forum (archive_time, forum_name, archive_mode )
VALUES  (@archive_time, @forum_name, @archive_mode )

/* Lets get the forum_id from the inserted forum */
DECLARE @newForumId int
SELECT @newForumId  = @@identity

EXEC linkForumToConf @meta_id, @newForumId
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE AddNewTemplateLib 
/*
 Lets add the templatelibrary where all the templates is situated on hd. This 
function is used when the administrator adds a new conference. Used from sp
AddNewConf
*/
	@meta_id int 
AS
DECLARE @thisTemplateId int
DECLARE @template_lib varchar(50)
SET @template_lib = 'Original'
INSERT INTO templates ( template_lib )
VALUES  ( @template_lib )
/* Lets get the template_id id for the just created template */ 
SELECT  @thisTemplateId = @@identity
INSERT INTO conf_templates ( conf_id , template_id )
VALUES (@meta_id, @thisTemplateId )



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE AddReply
/* 
This procedure is the one which actually adds replies to a discussion.
*/
	@user_id int,
	@theDiscussionId int,
	@headline varchar(255),
	@text text ,
	@reply_level int
AS
/* Lets get today's date */
DECLARE @toDay datetime
SELECT @toDay = GETDATE()
INSERT INTO replies (user_id, parent_id, create_date, headline, text, reply_level)
VALUES ( @user_id, @theDiscussionId, @toDay, @headline, @text, @reply_level )
/* Lets increment the discussions counter */
Declare @nbrOfRepliesInDisc int
SELECT @nbrOfRepliesInDisc  = max(count_replies) + 1 FROM discussion
WHERE discussion.discussion_id = @theDiscussionId
UPDATE discussion 
SET count_replies =  @nbrOfRepliesInDisc
WHERE discussion.discussion_id = @theDiscussionId
-- Lets update the discussions lastModified date 
EXEC UpdateDiscussionModifyDate @theDiscussionId



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE AddTemplateLib
/*
This function is used when an admin creates a new templateset.
*/
	@newTemplateLib varchar(50)
AS
INSERT INTO TEMPLATES (template_lib)
VALUES  ( @newTemplateLib)



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE AdminStatistics1
	@meta_id int,
	--@forum_id int,
	@fromDate varchar(10),
	@toDate varchar(20),
	@listMode int
AS

-- Get all forums in a conference which has discussions which modified date is in between two dates
--DECLARE @fromDate datetime , @toDate datetime
--SELECT @fromDate = '2000-10-31 09:17:30'
--SELECT @toDate = '2000-10-31 11:17:30'


-- Lets verify date
IF ( @fromDate = '0' ) 
	SET @fromDate = '1990-01-01'
IF ( @toDate = '0' ) BEGIN
	SET @toDate = '2070-01-01'
END ELSE BEGIN
-- Listdate fix 
	SET @toDate = @toDate + ' 23:59:59'
	PRINT @toDate
END

-- LISTMODE = 1 , LOOK FOR THE DISCUSSIONS CREATE DATE
IF( @listMode = 1 ) BEGIN
	SELECT DISTINCT  forum.forum_id,  forum.forum_name
	FROM conf_forum, forum, discussion disc, replies, conf_users usr
	WHERE conf_forum.conf_id = @meta_id 
	AND conf_forum.forum_id  = forum.forum_id 
	-- AND forum.forum_id = @forum_id
	AND forum.forum_id = disc.forum_id
	AND disc.reply_id = replies.reply_id
	AND disc.create_date >@fromDate AND disc.create_date < @toDate	
	GROUP BY forum.forum_id, forum.forum_name
END
-- LISTMODE = 1 , LOOK FOR THE DISCUSSIONS LAST MODIFIED DATE
IF ( @listMode  = 2 ) BEGIN
	-- SELECT DISTINCT disc.discussion_id, SUBSTRING( CONVERT(char(20), disc.last_mod_date,20),1, 20) AS 'updated_date', replies.headline
	SELECT DISTINCT  forum.forum_id,  forum.forum_name
	FROM conf_forum, forum, discussion disc, replies, conf_users usr
	WHERE conf_forum.conf_id = @meta_id 
	AND conf_forum.forum_id  = forum.forum_id 
	--AND forum.forum_id = @forum_id
	AND forum.forum_id = disc.forum_id
	AND disc.reply_id = replies.reply_id
	AND disc.last_mod_date >@fromDate AND disc.last_mod_date < @toDate	
	GROUP BY forum.forum_id, forum.forum_name
END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE AdminStatistics2
	@meta_id int,
	@forum_id int,
	@fromDate varchar(10),
	@toDate varchar(20),
	@listMode int
AS


-- Lets verify date
IF ( @fromDate = '0' ) 
	SET @fromDate = '1990-01-01'
IF ( @toDate = '0' ) BEGIN
	SET @toDate = '2070-01-01'
END ELSE BEGIN
-- Listdate fix 
	SET @toDate = @toDate + ' 23:59:59'
	PRINT @toDate
END
-- Get all discussions in a conference which modified date is in between two dates
--DECLARE @fromDate datetime , @toDate datetime
--SELECT @fromDate = '2000-10-31 09:17:30'
--SELECT @toDate = '2000-10-31 11:17:30'

-- LISTMODE = 1 , LOOK FOR THE DISCUSSIONS CREATE DATE
IF( @listMode = 1 ) BEGIN
	SELECT DISTINCT disc.discussion_id,  replies.headline, SUBSTRING( CONVERT(char(20), disc.last_mod_date,20),1, 20) AS 'Created_date'
	FROM conf_forum, forum, discussion disc, replies, conf_users usr
	WHERE conf_forum.conf_id = @meta_id 
	AND conf_forum.forum_id  = forum.forum_id 
	AND forum.forum_id = @forum_id
	AND forum.forum_id = disc.forum_id
	AND disc.reply_id = replies.reply_id
	AND disc.create_date >@fromDate AND disc.create_date < @toDate	
END
-- LISTMODE = 1 , LOOK FOR THE DISCUSSIONS LAST MODIFIED DATE
IF ( @listMode  = 2 ) BEGIN
	SELECT DISTINCT disc.discussion_id,  replies.headline, SUBSTRING( CONVERT(char(20), disc.last_mod_date,20),1, 20) AS 'Created_date'
	FROM conf_forum, forum, discussion disc, replies, conf_users usr
	WHERE conf_forum.conf_id = @meta_id 
	AND conf_forum.forum_id  = forum.forum_id 
	AND forum.forum_id = @forum_id
	AND forum.forum_id = disc.forum_id
	AND disc.reply_id = replies.reply_id
	AND disc.last_mod_date >@fromDate AND disc.last_mod_date < @toDate	
END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



/* 
Lets check if the user_id exists in the user_names
*/

CREATE PROCEDURE CheckUserId
	@meta_id int,
	@wanted_user_id int
AS
SELECT  usr.user_id
FROM CONF_USERS usr, conference c
WHERE usr.user_id = @wanted_user_id
--AND usr.conf_id = c.meta_id
--AND c.meta_id = @meta_id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



/* 
This procedure is used when we shall add a new user to the  conf_users table
*/
CREATE PROCEDURE ConfUsersAdd
	@user_id int,
	@conf_id int,
	@aFirstName char(25),
	@aLastName char(30)
AS

-- Lets check if the user is a member of any other conference or if this is the first one
IF (NOT EXISTS 	( SELECT user_id
			FROM conf_users
			WHERE user_id = @user_id )   ) 
BEGIN
-- Ok, Lets add him to the conference
	INSERT INTO CONF_USERS(  user_id, first_name, last_name )
	VALUES (@user_id, @aFirstName, @aLastName )
END

-- Lets link tthe user to the conference in CONF_USERS_CROSSREF
INSERT INTO CONF_USERS_CROSSREF ( conf_id,  user_id, last_login_date )
VALUES ( @conf_id, @user_id,  GETDATE() )




/*
CREATE PROCEDURE ConfUsersAdd
 
This procedure is used when we shall add a new user to the  conf_users table

	@user_id int,
	@conf_id int,
	@aFirstName char(25),
	@aLastName char(30)
AS
-- Lets check if the user is a member of any other conference or if this is the first one
IF (NOT EXISTS 	( SELECT user_id
			FROM conf_users
			WHERE user_id = @user_id )   ) 
BEGIN
-- Ok, Lets add him to the conference
	INSERT INTO CONF_USERS(  user_id, first_name, last_name )
	VALUES (@user_id, @aFirstName, @aLastName )
END
-- Lets link tthe user to the conference in CONF_USERS_CROSSREF
INSERT INTO CONF_USERS_CROSSREF ( conf_id,  user_id, last_login_date )
VALUES ( @conf_id, @user_id,  GETDATE() )
*/



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE ConfUsersGetReplyDate AS


SELECT * FROM conf_users


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE ConfUsersGetReplyOrder
/* 
This procedure is used when we shall get a users personal replyorder. Used when
we shall show the replies for the user. This function is used when executed from another
stored procedure. Takes a return value.
*/
	@meta_id int,
	@user_id int,
	@retVal int = 0 OUTPUT 
AS
SELECT @retVal = crossref.replies_order
FROM conf_users_crossref crossref
WHERE crossref.user_id = @user_id 
AND crossref.conf_id = @meta_id
return @retVal



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE ConfUsersGetReplyOrderSel
/* 
This procedure is used when we shall get a users personal replylevelsetting.So we know
how were gonna present the replies for him
*/
	@meta_id int,
	@user_id int
AS
DECLARE @retVal int 
SELECT @retVal = crossref.replies_order
FROM conf_users_crossref crossref
WHERE crossref.user_id = @user_id 
AND crossref.conf_id = @meta_id
SELECT @retVal =  ISNULL( @retVal , 0) 
SELECT @retVal AS 'UserLevel'



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE ConfUsersGetUserLevel 
/*
Returns the users user_level. 1 if he is an expert in this conference,
zero if hes an ordinary user.
Used when were adding a new reply to set the replies reply_level.
*/
	@meta_id int,
	@user_id int
AS
DECLARE @returnVal int
-- Lets get a users usertype, if hes an expert or not 
SELECT @returnVal = userCross.user_level
FROM conf_users_crossref userCross
WHERE userCross.user_id = @user_id
AND userCross.conf_id = @meta_id
SELECT @returnVal =  ISNULL(@returnVal, -1) 
SELECT @returnVal AS 'UserLevel'



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



/* 
This procedure is used to update the users sortorder preference
*/
CREATE PROCEDURE ConfUsersSetReplyOrder
	@meta_id int,
	@user_id int,
	@newSortOrder int
AS
UPDATE CONF_USERS_CROSSREF 
SET
	replies_order =  @newSortOrder
WHERE conf_users_crossref.user_id = @user_id
AND conf_users_crossref.conf_id = @meta_id



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE ConfUsersSetUserLevel 
/*
Sets a users level. 1 if its an expert. 0 if its an normal user. Changes a users
replylevel to the appropriate level and updates all his current replies in the
conference to this new level
*/
	@meta_id int,
	@user_id int,
	@newLevel int
AS
-- Lets set a users usertype, if hes an expert or not 
UPDATE conf_users_crossref
SET user_level = @newLevel
WHERE conf_users_crossref.user_id = @user_id
AND conf_users_crossref.conf_id = @meta_id
-- Ok, Lets update all his old replies, so that their level will be the right one
UPDATE replies
SET reply_level = @newLevel
FROM replies r, discussion d, forum f, conf_forum cf
WHERE r.user_id = @user_id 
AND r.parent_id = d.discussion_id
AND d.forum_id = f.forum_id
AND f.forum_id = cf.forum_id
AND cf.conf_id  = @meta_id
-- conf_id = @meta_id



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE ConfUsersUpdate
/* 
This procedure is used when we shall update a users name and last_logindate
to the  conf_users table. This function will run everytime a user comes in to the 
conference
*/
	@meta_id int,
	@user_id int,
	@aFirstName char(25),
	@aLastName char(30)
AS
-- Ok, Lets update the name
UPDATE CONF_USERS 
SET  first_name = @aFirstName,
         last_name = @aLastName
WHERE conf_users.user_id = @user_id
-- Lets update conf_users_crossref
UPDATE conf_users_crossref
	SET  conf_users_crossref.last_login_date = GETDATE()
WHERE conf_users_crossref.user_id = @user_id
AND conf_users_crossref.conf_id = @meta_id



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE ConfUsersUpdateLoginDate
/* 
This procedure is used when we shall update a users last_logindate
to the  conf_users_crossref table. This function will run everytime a user starts a discussion / 
or replies in a discussion
*/
 @meta_id int,
 @user_id int
 
AS
UPDATE CONF_USERS_CROSSREF
SET  
 last_login_date = GETDATE()
FROM CONF_USERS, CONF_USERS_CROSSREF , CONFERENCE
WHERE conf_users_crossref.user_id = @user_id
AND conf_users_crossref.conf_id = conference.meta_id
AND conference.meta_id = @meta_id
--WHERE conf_users.user_id = @user_id
--AND conf_users.user_id = conf_users_crossref.user_id
--AND conf_users_crossref.conf_id = conference.meta_id
--AND conference.meta_id = @meta_id



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE ConvertReplyDate
/*
This func is used to convert a full date to the format wich will be shown
for when each reply were created
*/
	@aFullDate dateTime
AS
DECLARE @year varchar(4)
SELECT @year = DATEPART(yy, @aFullDate )
DECLARE @month varchar(2)
SELECT @month = DATEPART(mm, @aFullDate )
DECLARE @day varchar(2)
SELECT @day = DATEPART(dd, @aFullDate)
/* Lets get the TIME */
DECLARE @hh varchar(2)
SELECT @hh = DATEPART(hh, @aFullDate)
DECLARE @mm varchar(2)
SELECT @mm = DATEPART(mm, @aFullDate)
DECLARE @ss varchar(2)
SELECT @ss = DATEPART(ss, @aFullDate)
SELECT @year +'-'+ @month +'-'+ @day + ' ' +@hh + ':' + @mm + ':' + @ss
/* SELECT 'Datum: ', @year +'-'+ @month +'-'+ @day */



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE DelForum
 @aForumId int
AS
/*
Lets delete from conf_forum. Observe that as conforum is the link between
conference and forum, that link must be removed before the forum can be deleted
*/
 DELETE 
 FROM conf_Forum
 WHERE forum_id = @aForumId
/*  Lets delete from forum*/
 DELETE
 FROM forum
 WHERE forum_id = @aForumId


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE DeleteDiscussion
	@aDiscId int
/*
Lets delete from discussion. Observe that as conforum is the link between
conference and forum, that link must be removed before the forum can be deleted
This function is used when an admin wants to delete a discussion
*/
AS
-- Lets delete the discussion
DELETE FROM DISCUSSION
WHERE discussion.discussion_id = @aDiscId
-- Lets delete all replies for the discussion
DELETE FROM REPLIES
WHERE replies.parent_id = @aDiscId



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE DeleteForum
/*
Lets delete a forum from the conference
*/
 @aForumId int
AS
 DELETE 
 FROM conf_Forum
 WHERE forum_id = @aForumId
/*  Lets delete from forum*/
 DELETE
 FROM forum
 WHERE forum_id = @aForumId



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE DeleteReply
/*
 Deletes a reply  except if its the first reply in a discussion. Delete the discussion
instead if so. Admin function
*/
	@discId int,
	@replyId int
AS
-- Lets check how many replies in the discussion there are
DECLARE @nbrOfReplies int
SELECT @nbrOfReplies = COUNT(rep.reply_id) FROM replies rep WHERE rep.parent_id = @discId
-- Lets get the first reply_id in the discussion
DECLARE @firstReply int
SELECT @firstReply = 	r.reply_id
			FROM replies r
			WHERE r.parent_id = @discId
			ORDER BY r.create_date DESC
--PRINT 'ANTAL INLÄGG: ' + CONVERT(CHAR(3), @nbrOfReplies)
--PRINT 'Första inläggets id: ' + CONVERT(CHAR(3), @firstReply)
IF( @firstReply != @replyId AND @nbrOfReplies > 1 ) BEGIN
-- Ok, lets delete the reply
	DELETE FROM replies
	WHERE replies.reply_id = @replyId
	AND replies.parent_id = @discId
	
	-- Lets decrease the counter with one
	UPDATE discussion 
	SET count_replies = count_replies -1
	WHERE discussion.discussion_id = @discId	
	RETURN
END ELSE  IF( @firstReply = @replyId AND @nbrOfReplies > 1 ) BEGIN
	PRINT 'VI KAN INTE TA BORT FÖRSTA INLÄGGET'
END ELSE BEGIN
	PRINT 'VI KAN INTE TA BORT FÖRSTA OCH ENDA INLÄGGET!' 
END



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE FindForumName
/*
Checks if a forum  with such a name exists, if it exists, the
id for that forum is returned. If not found -1 is returned. Used when an admin
shall add a new forum Checks if there already exists such a forum 
*/
	@meta_id int,
	@newforumName varchar(50)
AS
DECLARE @returnVal int
SELECT @returnVal = f.forum_id
FROM forum f , conf_forum cf
WHERE f.forum_name = @newforumName
AND f.forum_id = cf.forum_id
AND cf.conf_id = @meta_id
SELECT @returnVal =  ISNULL(@returnVal, -1) 
SELECT @returnVal AS 'forum'



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE FindMetaId
/*
This function is used by servlet ConfAdd to check if the meta_id argument
already exists in the database. Thas because a db can be used from
different servers, and a meta_id can be used twice to be added in the 
database
*/
	@newMetaId int
 AS
DECLARE @returnVal int
SELECT @returnVal = meta_id
FROM conference
WHERE meta_id = @newMetaId
SELECT @returnVal = ISNULL(@returnVal, 1) 
SELECT @returnVal AS 'FoundMetaId'



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE FindTemplateLib
/*
Checks if a template set with such a name exists, if it exists, the
id for that template is returned. If not found -1 is returned. Used when an admin
shall add a new templatelib. Checks if there already exists such a templateset 
*/
	@newLibName varchar(50)
AS
DECLARE @returnVal int
SELECT @returnVal = template_id
FROM templates
WHERE template_lib = @newLibName
SELECT @returnVal =  ISNULL(@returnVal, -1) 
SELECT @returnVal AS 'TemplateLib'



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetAllConfUsersInList
/*
Get All Conference users in a list for a certain meta id. Used by the ConfAdminUsers
function to get all the users in a conference
*/
	@meta_id int
AS
SELECT cu.user_id, cu.last_name + ', ' + cu.first_name 
FROM conf_users cu , conf_users_crossref crossref
WHERE cu.user_id = crossref.user_id
AND crossref.conf_id = @meta_id
ORDER BY last_name



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE [GetAllDiscsInForum]
/*
Returns all discussions for a certain forum.
Used when an admin wants to get a list with all discussions in a forum. Used when
the admin wants to delete a forum but first needs to delete all discussions.
*/
	@aForumId int
AS
SELECT d.discussion_id
FROM discussion d
WHERE d.forum_id = @aForumId



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetAllDiscussions 
/*
Get all discussions, sorted by the the newest first, and the older later. Used 
when the user shall see all the discussions in a forum
*/
	@meta_id int,
	@forum_id int,
	@lastLoginDate datetime 
AS
-- GET ALL NEW DISCUSSIONS
SELECT '1' as 'newFlag', disc.discussion_id, SUBSTRING( CONVERT(char(16), replies.create_date,120), 6, 16) AS 'create_date' , replies.headline, disc.count_replies, usr.first_name, usr.last_name, SUBSTRING( CONVERT(char(20), disc.last_mod_date,20),1, 20) AS 'updated_date'
FROM conf_forum, forum, discussion disc, replies, conf_users usr
WHERE conf_forum.conf_id =  @meta_id 
AND conf_forum.forum_id  = forum.forum_id 
AND forum.forum_id = @forum_id
AND Forum.forum_id = disc.forum_id
AND disc.reply_id = replies.reply_id
AND usr.user_id = replies.user_id
AND ( DATEDIFF( ss , disc.last_mod_date , @lastLoginDate ) < 0 )
UNION  -- GET OLD DISCUSSIONS
SELECT '0' as 'newFlag', disc.discussion_id, SUBSTRING( CONVERT(char(16), replies.create_date,120), 6, 16) AS 'create_date' , replies.headline, disc.count_replies, usr.first_name, usr.last_name, SUBSTRING( CONVERT(char(20), disc.last_mod_date,20), 1, 20) AS 'updated_date'
FROM conf_forum, forum, discussion disc, replies, conf_users usr
WHERE conf_forum.conf_id =  @meta_id 
AND conf_forum.forum_id  = forum.forum_id 
AND forum.forum_id = @forum_id
AND Forum.forum_id = disc.forum_id
AND disc.reply_id = replies.reply_id
AND usr.user_id = replies.user_id
AND ( DATEDIFF( ss , disc.last_mod_date , @lastLoginDate ) > 0 )
ORDER BY disc.discussion_id DESC



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetAllForum 
/*
Returns all forums for a certain meta id. Used almost everywhere
*/
 @meta_id int
AS
/* Lets get all forums for a certain conference meta_id*/
SELECT forum.forum_id, forum.forum_name 
FROM forum, conf_forum
WHERE conf_forum.conf_id = @meta_id 
AND conf_forum.forum_id  = forum.forum_id 

ORDER BY forum.forum_name




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetAllNbrOfDiscsToShow
/*
Returns the number of discussions to show for a certain forum. Used in admin mode
to return the list with the nbr of discs to show in a forum inside parentheses.
*/
	@meta_id int
AS
SELECT f.forum_id , f.forum_name + ' ('+ RTRIM(CONVERT(char(10), f.discs_to_show) ) +')' 
FROM forum f,  conf_forum cf
WHERE f.forum_id = cf.forum_id
AND cf.conf_id = @meta_id



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetAllNewDiscussions
/*
Returns all new discussions. Used in adminmode for retrieving all the new 
discussions since The admin was logged in the last time. Used in combination 
with GetallOldDiscussions to retrieve all discussions in a forum
*/
	@meta_id int,
	@forum_id int,
	@lastLoginDate datetime
	--@nbrOfRowsToGet int
AS
-- Lets check how many rows we should get, if null, then set 20 as default value
--SELECT ISNULL( @nbrOfRowsToGet  , 20 )
SELECT disc.discussion_id, SUBSTRING( CONVERT(char(16), replies.create_date,20), 6, 16) AS 'create_date' , replies.headline, disc.count_replies, usr.first_name, usr.last_name
--SELECT disc.discussion_id,  replies.create_date , replies.headline, disc.count_replies, usr.first_name, usr.last_name
FROM conf_forum, forum, discussion disc, replies, conf_users usr
WHERE conf_forum.conf_id =  @meta_id 
AND conf_forum.forum_id  = forum.forum_id 
AND forum.forum_id = @forum_id
AND Forum.forum_id = disc.forum_id
AND disc.reply_id = replies.reply_id
AND usr.user_id = replies.user_id
AND ( DATEDIFF( ss , disc.last_mod_date , @lastLoginDate ) < 0 )
ORDER BY disc.create_date DESC



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetAllOldDiscussions
/*
Returns all old discussions. Used in adminmode for retrieving all the old 
discussions since The admin was logged in the last time. Used in combination 
with GetallNewDiscussions to retrieve all discussions in a forum
*/
	@meta_id int,
	@forum_id int,
	@lastLoginDate datetime
AS
SELECT disc.discussion_id, SUBSTRING( CONVERT(char(16), replies.create_date,20), 6, 16) AS 'create_date', replies.headline, disc.count_replies, usr.first_name, usr.last_name
FROM conf_forum, forum, discussion disc, replies, conf_users usr
WHERE conf_forum.conf_id =  @meta_id 
AND conf_forum.forum_id  = forum.forum_id 
AND forum.forum_id = @forum_id
AND Forum.forum_id = disc.forum_id
AND disc.reply_id = replies.reply_id
AND usr.user_id = replies.user_id
--AND ( DATEDIFF( ss , replies.create_date , @lastLoginDate ) > 0 )
AND ( DATEDIFF( ss , disc.last_mod_date , @lastLoginDate ) > 0 )
ORDER BY disc.create_date DESC



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetAllRepliesInDisc
/*
  This proc is used when you want to see all replies in a discussion. It asks
  the user what preferences he has for this conference and  returns the replies
  in the sortorder he wants it in
*/
 @discussion_id int,
 @user_id int
AS
/* Lets get the meta_id for this discussion id */
DECLARE @meta_id int
SELECT @meta_id = cf.conf_id
FROM CONF_FORUM cf, DISCUSSION d, FORUM f
WHERE d.discussion_id = @discussion_id
AND d.forum_id = f.forum_id
AND f.forum_id = cf.forum_id
/* Lets get the users sortorder preference*/
DECLARE @userOrder int
-- EXEC @userOrder = ConfUsersGetReplyOrder @meta_id, @user_id ,0
EXEC @userOrder = ConfUsersGetReplyOrder @meta_id, @user_id 
IF( @userOrder = 1 )
BEGIN
	SELECT CONVERT(char(16), rep.create_date,20), usr.first_name, usr.last_name, rep.headline, rep.text, rep.reply_level
	--SELECT  rep.create_date, usr.first_name, usr.last_name, rep.headline, rep.text, rep.reply_level
	FROM REPLIES rep, DISCUSSION disc, CONF_USERS usr 
	WHERE disc.discussion_id = @discussion_id
 	AND rep.parent_id = disc.discussion_id 
 	AND usr.user_id = rep.user_id 
	ORDER BY rep.create_date ASC
END
ELSE BEGIN
	 SELECT CONVERT(char(16), rep.create_date,20), usr.first_name, usr.last_name, rep.headline, rep.text, rep.reply_level
	--SELECT  rep.create_date, usr.first_name, usr.last_name, rep.headline, rep.text, rep.reply_level
	FROM REPLIES rep, DISCUSSION disc, CONF_USERS usr 
	WHERE disc.discussion_id = @discussion_id
 	AND rep.parent_id = disc.discussion_id 
 	AND usr.user_id = rep.user_id 
	ORDER BY rep.create_date DESC
END
/*
CREATE PROCEDURE GetAllRepliesInDisc
--  This proc is used when you want to see all replies in a discussion. It asks
--  the user what preferences he has for this conference and  returns the replies
--  in the sortorder he wants it in
 @discussion_id int,
 @user_id int
AS
-- Lets get the meta_id for this discussion id 
DECLARE @meta_id int
SELECT @meta_id = cf.conf_id
FROM CONF_FORUM cf, DISCUSSION d, FORUM f
WHERE d.discussion_id = @discussion_id
AND d.forum_id = f.forum_id
AND f.forum_id = cf.forum_id
-- Lets get the users sortorder preference
DECLARE @userOrder int
-- EXEC @userOrder = ConfUsersGetReplyOrder @meta_id, @user_id ,0
EXEC @userOrder = ConfUsersGetReplyOrder @meta_id, @user_id 
IF( @userOrder = 1 )
BEGIN
	SELECT CONVERT(char(16), rep.create_date,20), usr.first_name, usr.last_name, rep.headline, rep.text, rep.reply_level
	--SELECT  rep.create_date, usr.first_name, usr.last_name, rep.headline, rep.text, rep.reply_level
	FROM REPLIES rep, DISCUSSION disc, CONF_USERS usr 
	WHERE disc.discussion_id = @discussion_id
 	AND rep.parent_id = disc.discussion_id 
 	AND usr.user_id = rep.user_id 
	ORDER BY rep.create_date ASC
END
ELSE BEGIN
	 SELECT CONVERT(char(16), rep.create_date,20), usr.first_name, usr.last_name, rep.headline, rep.text, rep.reply_level
	--SELECT  rep.create_date, usr.first_name, usr.last_name, rep.headline, rep.text, rep.reply_level
	FROM REPLIES rep, DISCUSSION disc, CONF_USERS usr 
	WHERE disc.discussion_id = @discussion_id
 	AND rep.parent_id = disc.discussion_id 
 	AND usr.user_id = rep.user_id 
	ORDER BY rep.create_date DESC
END
*/



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetAllRepliesInDiscAdmin
/*
  This proc is used when you want to see all replies in a discussion. It asks
  the user what preferences he has for this conference and  returns the replies
  in the sortorder he wants it in
*/
	@discussion_id int,
	@user_id int
AS
/* Lets get the meta_id for this discussion id */
DECLARE @meta_id int
SELECT @meta_id = cf.conf_id
FROM CONF_FORUM cf, DISCUSSION d, FORUM f
WHERE d.discussion_id = @discussion_id
AND d.forum_id = f.forum_id
AND f.forum_id = cf.forum_id
/* Lets get the users sortorder preference*/
DECLARE @userOrder int
EXEC @userOrder = ConfUsersGetReplyOrder @meta_id, @user_id , 0
IF( @userOrder = 1 )
BEGIN
	SELECT  CONVERT(char(16), rep.create_date,20) as 'create_date', usr.first_name, usr.last_name, rep.headline, rep.text, rep.reply_level, rep.reply_id
	--SELECT  rep.create_date, usr.first_name, usr.last_name, rep.headline, rep.text, rep.reply_level
	FROM REPLIES rep, DISCUSSION disc, CONF_USERS usr 
	WHERE disc.discussion_id = @discussion_id
 	AND rep.parent_id = disc.discussion_id 
 	AND usr.user_id = rep.user_id 
	ORDER BY rep.create_date ASC
END
ELSE BEGIN
	 SELECT CONVERT(char(16), rep.create_date,20) as 'create_date', usr.first_name, usr.last_name, rep.headline, rep.text, rep.reply_level,  rep.reply_id
	--SELECT  rep.create_date, usr.first_name, usr.last_name, rep.headline, rep.text, rep.reply_level
	FROM REPLIES rep, DISCUSSION disc, CONF_USERS usr 
	WHERE disc.discussion_id = @discussion_id
 	AND rep.parent_id = disc.discussion_id 
 	AND usr.user_id = rep.user_id 
	ORDER BY rep.create_date DESC
END



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetAllTemplateLibs  AS
/*
Returns all the templatelibs which exists for all conferences. Used in adminmode
to create the list where the admin can choose among current templatelibs
*/
-- Get all templatelibs for all confernences
SELECT DISTINCT t.template_lib , t.template_lib
FROM templates t



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetAllUsersInList AS
/*
This function is used from AdminIpAcces servlet to generate a list
*/
SELECT user_id, last_name + ', ' + first_name from users
ORDER BY last_name



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetConfLoginNames 
/*
Returns different variants on the Users name depending on the third argument.
Valid parameters are:
	1 = the firstname
	2= the lastname
	all else returns the firstname + the lastname
*/
	@meta_Id int,
	@user_Id int,
	@argument int
AS
-- Lets get the firstname
IF (@argument = 1 ) BEGIN 
	SELECT cu.first_name
	FROM conf_users cu, conf_users_crossref crossref, conference c
	WHERE cu.user_id = @user_id
	AND cu.user_id = crossref.user_id 
	AND crossref.conf_id = @meta_id
END 
-- Lets get the lastname
ELSE IF (@argument = 2 ) BEGIN 
	SELECT cu.last_name
	FROM conf_users cu, conf_users_crossref crossref, conference c
	WHERE cu.user_id = @user_id
	AND cu.user_id = crossref.user_id 
	AND crossref.conf_id = @meta_id
END
-- Lets get both firstname and lastname
ELSE IF (@argument = 3 ) BEGIN 
	SELECT cu.first_Name + ' ' + cu.last_name
	FROM conf_users cu, conf_users_crossref crossref, conference c
	WHERE cu.user_id = @user_id
	AND cu.user_id = crossref.user_id 
	AND crossref.conf_id = @meta_id
END



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetDiscussionDate
AS
DECLARE @year varchar(4)
SELECT @year = DATEPART(yy,GETDATE())
DECLARE @month varchar(2)
SELECT @month = DATEPART(mm,GETDATE())
DECLARE @day varchar(2)
SELECT @day = DATEPART(dd,GETDATE())
/* Lets get the TIME */
DECLARE @hh varchar(2)
SELECT @hh = DATEPART(hh,GETDATE())
DECLARE @mm varchar(2)
SELECT @mm = DATEPART(mm,GETDATE())
DECLARE @ss varchar(2)
SELECT @ss = DATEPART(ss,GETDATE())
SELECT @year +'-'+ @month +'-'+ @day + ' ' +@hh + ':' + @mm + ':' + @ss
/* SELECT 'Datum: ', @year +'-'+ @month +'-'+ @day */


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO




/****** Object:  Stored Procedure dbo.GetDiscussionHeader    Script Date: 2000-12-05 09:40:09 ******/

/****** Object:  Stored Procedure dbo.GetDiscussionHeader    Script Date: 2000-10-27 17:39:26 ******/
CREATE PROCEDURE GetDiscussionHeader
/*
  This proc is used when the user should add a reply to an existing discussion.
  The proc returns the headers for the discussion and suggest it to the user in
  the form where you post your commment. The servlet grabs the first header.
*/
	@discussion_id int
AS

-- Bugfix, to prevent when were creating a new conference and the sent discussion_id is -1, then return an empty string
IF (@discussion_id = -1 ) BEGIN
	SELECT  ' '
END ELSE BEGIN
	SELECT r.headline 
	FROM REPLIES r 
	WHERE r.parent_id = @discussion_id
	ORDER BY reply_id
END





GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetFirstForum
/*
 This method is used to get the first conference id for the meta_id. It will be used
later to show all messages for this conference by default
*/
	@meta_id int
AS
/* Lets get the forum with the lowest id for this meta_id*/
DECLARE @returnVal int

--SELECT  @returnVal  = min( f.forum_id ) 
SELECT TOP 1 f.forum_id AS 'FirstForumId'
FROM forum f, conf_forum cf
WHERE cf.conf_id = @meta_id  
AND cf.forum_id  = f.forum_id 
ORDER BY f.forum_name

IF ( @@ROWCOUNT =  0 ) BEGIN
	SELECT -1 AS 'FirstForumId'
END









/*CREATE PROCEDURE GetFirstForum

 This method is used to get the first conference id for the meta_id. It will be used
later to show all messages for this conference by default

	@meta_id int
AS
-- Lets get the forum with the lowest id for this meta_id
DECLARE @returnVal int
SELECT  @returnVal  = min( f.forum_id ) 
FROM forum f, conf_forum cf
WHERE cf.conf_id = @meta_id  
AND cf.forum_id  = f.forum_id 
SELECT @returnVal =  ISNULL(@returnVal, -1) 
SELECT @returnVal AS 'FirstForumId'
*/



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetForumName
/*
Returns the name the forum. Used in admin mode to display the currently
selected forum
*/
	@forum_id int
AS
DECLARE @returnVal varchar(255)
SELECT  @returnVal = forum_name 
FROM forum f
WHERE f.forum_id = @forum_id
SELECT @returnVal =  ISNULL(@returnVal, 'Not found') 
SELECT @returnVal AS 'Forum_name'



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetLastDiscussionId
/*
This function is used the first time the user starts his session to the conference.
It will fetch the latest discussionid and which will be put in the users session
object, so the latest replies can be retrieved later. if no discussion id is found, -1 will be returned
*/
	@meta_id int,
	@forum_id int
AS
DECLARE @returnVal int
SELECT @returnVal=  MAX( disc.discussion_id)
FROM conf_forum, forum, discussion disc, replies, conf_users usr
WHERE conf_forum.conf_id =  @meta_id 
AND conf_forum.forum_id  = forum.forum_id 
AND forum.forum_id = @forum_id
AND Forum.forum_id = disc.forum_id
AND disc.reply_id = replies.reply_id
SELECT @returnVal =  ISNULL(@returnVal, -1) 
SELECT @returnVal AS 'LastDiscussionId'



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetLastLoginDate
/* 
This procedure is used when we shall get a users FULL last logindate
*/
	@meta_id int,
	@user_id int
AS
SELECT DISTINCT crossref.last_login_date
FROM CONF_USERS cu, CONF_USERS_CROSSREF crossref
WHERE crossref.user_id = @user_id
AND crossref.conf_id = @meta_id
-- The old style
--SELECT DISTINCT cu.last_login_date
--FROM CONF_USERS cu, CONFERENCE c , CONF_USERS_CROSSREF crossref
--WHERE cu.user_id = @user_id
--AND cu.user_id = crossref.user_id 
--AND crossref.conf_id = @meta_id



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetLastLoginDate2
/* 
This procedure is used when we shall get a users last logindate in the format
as it will appear in the discussion list
*/
	@meta_id int,
	@user_id int
AS
SELECT  DISTINCT CONVERT(char(19), crossref.last_login_date ,20)
FROM CONF_USERS cu,  CONF_USERS_CROSSREF crossref
WHERE crossref.user_id = @user_id
AND crossref.conf_id = @meta_id
--SELECT  DISTINCT CONVERT(char(16), cu.last_login_date ,20)
--FROM CONF_USERS cu, CONFERENCE c, CONF_USERS_CROSSREF crossref
--WHERE cu.user_id = @user_id
--AND cu.user_id = crossref.user_id 
--AND crossref.conf_id = @meta_id



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetNbrOfDiscs 
/*
Returns the number of discussions in a forum. Used to determind how many
discussions to show
*/
	@forum_id int
AS
SELECT COUNT (DISTINCT discussion_id)
FROM discussion
WHERE discussion.forum_id = @forum_id



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetNbrOfDiscsToShow
/*
Returns the number of discussions to show for a certain forum. By default 20 will be 
returned.
*/
	@forum_id int
AS
DECLARE @returnVal int
SELECT @returnVal = f.discs_to_show
FROM forum f
WHERE f.forum_id = @forum_id
SELECT @returnVal =  ISNULL(@returnVal, 20) 
SELECT @returnVal AS 'FirstForumId'



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetTemplateIdFromName
/*
 Lets get the folder library id for the passed name, if nothing is found, -1 will be returned.
This function is used when the admin wants change the templateset for a conference.
*/
	@aTemplateLibName varchar(50)
AS
DECLARE @returnVal int
SELECT @returnVal = t.template_id
FROM templates t
WHERE t.template_lib = @aTemplateLibName
-- Lets validate for null
SELECT @returnVal = ISNULL(  @returnVal , -1 )
SELECT @returnVal AS 'TemplateId'



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetTemplateLib
/*
 Lets get the folder library where all the templates are situated. if nothing is found for that
meta id , 'Original' is returned instead
*/
	@meta_id int
AS
DECLARE @returnVal varchar(50)
SELECT @returnVal = t.template_lib
FROM conference c , conf_templates ct , templates t
WHERE t.template_id = ct.template_id
AND ct.conf_id = c.meta_id
AND c.meta_id = @meta_id
SELECT @returnVal =  ISNULL(@returnVal, 'Original') 
SELECT @returnVal AS 'TemplateLib'



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetTemplateLibName
/*
 Lets get the folder library name for a certain templateId
*/
	@meta_id int,
	@template_id int
AS
SELECT  t.template_lib
FROM conference c , conf_templates ct , templates t
WHERE t.template_id = @template_id 
AND t.template_id = ct.template_id
AND ct.conf_id = c.meta_id
AND c.meta_id = @meta_id



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO


/****** Object:  Stored Procedure dbo.GetTime    Script Date: 2000-10-27 17:39:27 ******/
CREATE PROCEDURE GetTime AS

SELECT SUBSTRING( CONVERT(char(20),GETDATE(),20),1, 20) AS 'Now'
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE GetUserNames
/* 
This procedure is used to retrieve a users full name (first name + last name
concateneted.
*/
	@user_id int,
	@what int
AS
	DECLARE @returnVal char(25)
IF(@what = 1) BEGIN
	SELECT @returnVal = RTRIM(first_name) 
	FROM conf_users
	WHERE conf_users.user_id = @user_id 
END ELSE BEGIN  
	SELECT @returnVal =  RTRIM(last_name) 
	FROM conf_users
	WHERE conf_users.user_id = @user_id 
END
SELECT @returnVal =  ISNULL(@returnVal, -1) 
SELECT @returnVal AS 'UserName'



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE InsertFirstReply
/*
Inserts the first reply into the newly created discussion
*/
 @user_id int,
 @headline varchar(255),
 @text text,
 @reply_level int,
 @returnReplyId int
 
AS
/* Lets get today's date */
DECLARE @toDay datetime
SELECT @toDay = GETDATE()
/* Lets insert into replies */
INSERT INTO replies (user_id, create_date, headline, text, reply_level)
VALUES ( @user_id, @toDay, @headline, @text, @reply_level)
/* Lets get the reply id for just inserted reply */ 
SELECT  @returnReplyId = @@identity
/* Lets return the reply_id */
RETURN @returnReplyId



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE LinkForumToConf
/* Links a forum to a conference. Used when a forum is created
*/
 @conf_id int,
 @forum_id int
AS
INSERT INTO conf_forum (conf_id, forum_id, sort_number )
VALUES  (@conf_id, @forum_id, 1 )



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE MemberInConf
/* Used to check if a user exists as a member in a conference.
Used when a user tries to log in to a conference
*/
	@meta_id int,
	@user_id int
AS
-- Lets check if a user is a member of a particular conference
SELECT DISTINCT cu.user_id 
FROM conf_users cu, conf_users_crossref crossref, conference c
WHERE cu.user_id = @user_id
AND cu.user_id = crossref.user_id 
AND crossref.conf_id = @meta_id



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE RenameForum
/*
 Changes the name on a forum. Used through the admin interface
*/
	@forum_id int,
	@forum_name varchar(255)
AS
UPDATE forum
SET forum.forum_name = @forum_name
WHERE forum.forum_id = @forum_id



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE SearchText
/* This procedure is the one which is used to search among the 
headlines, text, and user
The argument category will come as an integer. 0 = header, 1 = text
*/
	@meta_id int,
	@forum_id int,
	@category int,
	@sWord char(100),
	@fromDate datetime,
	@toDate datetime
AS
-- Lets build a '%Computer%' string
SET @sWord =  '%' + RTRIM(@sWord) + '%' 
--prINT 'Sökord: ' + @sWord
IF( @category = 0)
BEGIN
	/* Lets search  among The replies HEADERS*/ 
	SELECT DISTINCT '0' as 'newflag' , disc.discussion_id, SUBSTRING( CONVERT(char(16), rep.create_date,20), 6, 16) AS 'create_date' , rep.headline, disc.count_replies, usr.first_name, usr.last_name, SUBSTRING( CONVERT(char(20), disc.last_mod_date,20),1, 20) AS 'updated_date' 
	FROM replies rep, discussion disc, conf_users usr, conference conf, conf_forum cf, forum, conf_users_crossref crossref
	WHERE rep.headline LIKE RTRIM(@sWord)
	AND cf.conf_id = @meta_id 
	AND cf.forum_id = forum.forum_id 
	AND forum.forum_id = @forum_id
	AND Forum.forum_id = disc.forum_id
	AND disc.reply_id = rep.reply_id
-- Lets check for the date
	AND rep.create_date >@fromDate AND rep.create_date < @toDate	
-- Lets tie to the meta_id
	AND rep.user_id = usr.user_id
	AND usr.user_id = crossref.user_id 
	AND crossref.conf_id = @meta_id
END
-- LETS SEARCH AMONG TEXT
ELSE IF( @category = 1 )
BEGIN
	/* Lets search  among The replies TEXT */ 
	SELECT DISTINCT '0' as 'newflag' ,disc.discussion_id, SUBSTRING( CONVERT(char(16), rep.create_date,20), 6, 16) AS 'create_date' , rep.headline, disc.count_replies, usr.first_name, usr.last_name , SUBSTRING( CONVERT(char(20), disc.last_mod_date,20),1, 20) AS 'updated_date'
	FROM replies rep, discussion disc, conf_users usr, conference conf, conf_forum cf, forum,  conf_users_crossref crossref
	WHERE rep.text LIKE RTRIM(@sWord) 
	AND rep.parent_id = disc.discussion_id
	AND disc.forum_id = forum.forum_id
	AND forum.forum_id = @forum_id
	AND forum.forum_id = cf.forum_id
	AND cf.conf_id = @meta_id 	
-- Lets check for the date
	AND rep.create_date >@fromDate AND rep.create_date < @toDate	
-- Lets tie to the meta_id
	AND rep.user_id = usr.user_id
	AND usr.user_id = crossref.user_id 
	AND crossref.conf_id = @meta_id
END
/*
CREATE PROCEDURE SearchText
 This procedure is the one which is used to search among the 
headlines, text, and user
The argument category will come as an integer. 0 = header, 1 = text
	@meta_id int,
	@forum_id int,
	@category int,
	@sWord char(100),
	@fromDate datetime,
	@toDate datetime
AS
-- Lets build a '%Computer%' string
SET @sWord =  '%' + RTRIM(@sWord) + '%' 
PRINT 'Sökord: ' + @sWord
IF( @category = 0)
BEGIN
	-- Lets search  among The replies HEADERS 
	SELECT DISTINCT '0' as 'newflag' , disc.discussion_id, SUBSTRING( CONVERT(char(16), rep.create_date,20), 6, 16) AS 'create_date' , rep.headline, disc.count_replies, usr.first_name, usr.last_name 
	FROM replies rep, discussion disc, conf_users usr, conference conf, conf_forum cf, forum, conf_users_crossref crossref
	WHERE rep.headline LIKE RTRIM(@sWord)
	AND cf.conf_id = @meta_id 
	AND cf.forum_id = forum.forum_id 
	AND forum.forum_id = @forum_id
	AND Forum.forum_id = disc.forum_id
	AND disc.reply_id = rep.reply_id
-- Lets check for the date
	AND rep.create_date >@fromDate AND rep.create_date < @toDate	
-- Lets tie to the meta_id
	AND rep.user_id = usr.user_id
	AND usr.user_id = crossref.user_id 
	AND crossref.conf_id = @meta_id
END
-- LETS SEARCH AMONG TEXT
ELSE IF( @category = 1 )
BEGIN
	-- Lets search  among The replies TEXT  
	SELECT DISTINCT '0' as 'newflag' ,disc.discussion_id, SUBSTRING( CONVERT(char(16), rep.create_date,20), 6, 16) AS 'create_date' , rep.headline, disc.count_replies, usr.first_name, usr.last_name 
	FROM replies rep, discussion disc, conf_users usr, conference conf, conf_forum cf, forum,  conf_users_crossref crossref
	WHERE rep.text LIKE RTRIM(@sWord) 
	AND rep.parent_id = disc.discussion_id
	AND disc.forum_id = forum.forum_id
	AND forum.forum_id = @forum_id
	AND forum.forum_id = cf.forum_id
	AND cf.conf_id = @meta_id 	
-- Lets check for the date
	AND rep.create_date >@fromDate AND rep.create_date < @toDate	
-- Lets tie to the meta_id
	AND rep.user_id = usr.user_id
	AND usr.user_id = crossref.user_id 
	AND crossref.conf_id = @meta_id
END
*/



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE SelfRegRoles_AddNew
	@theMetaId int , 
	@new_role_id int ,
	@role_name char(25)

/*
-- Lets add a new role which a member will have when he is selfregistereing.
*/

AS

-- Lets check if the role already exists in our selfreg role list
DECLARE @foundRole int
SELECT @foundRole = 0

SELECT @foundRole = sr.selfreg_id
FROM 	selfreg_roles sr , conf_selfreg_crossref ref, conference c
WHERE sr.role_id = @new_role_id
	AND sr.selfreg_id = ref.selfreg_id
	AND ref.meta_id = c.meta_id
	AND c.meta_id = @theMetaId


-- PRINT @foundRole
IF ( @foundRole = 0  ) BEGIN	
	 PRINT 'Rollen fanns inte'
	-- Lets start to add the classification
	INSERT INTO selfreg_roles( role_id , role_name ) 
	VALUES ( @new_role_id , @role_name )
	SELECT @foundRole = @@identity

	-- Lets insert the new crossreferences to the new role
	INSERT INTO conf_selfreg_crossref (meta_id,selfreg_id)
	VALUES (  @theMetaId , @foundRole )
END ELSE BEGIN	
	PRINT 'Rollen fanns - gör ingenting'
END



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE SelfRegRoles_Delete
	@meta_id int ,
	@selfRegId int 

/*
Deletes a selfregistered role in a conference. Used by ConfAdmin servlet
*/

AS


DELETE 
FROM conf_selfreg_crossref 
WHERE conf_selfreg_crossref.meta_id = @meta_id
AND conf_selfreg_crossref.selfreg_id = @selfRegId

DELETE
FROM selfreg_roles
WHERE selfreg_roles.selfreg_id = @selfRegId



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE SelfRegRoles_GetAll 
	@theMetaId int
AS

-- Lets get all roles in a conference a selfregistered member will get when his selfregistering

SELECT sr.selfreg_id, sr.role_name 
FROM selfreg_roles sr , conf_selfreg_crossref ref, conference c
WHERE sr.selfreg_id = ref.selfreg_id
AND ref.meta_id = c.meta_id
AND c.meta_id = @theMetaId



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE SelfRegRoles_GetAll2 
	@theMetaId int
AS

-- Lets get all roles a user will get when he is selfregistereing
-- Returns the ROLE_ID instead of selfregId which the original does
-- Used by the ConfLogin servlet

SELECT sr.role_id, sr.role_name 
FROM selfreg_roles sr , conf_selfreg_crossref ref, conference c
WHERE sr.selfreg_id = ref.selfreg_id
AND ref.meta_id = c.meta_id
AND c.meta_id = @theMetaId




GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE SetNbrOfDiscsToShow
/*
Sets the number of discussions to show for a certain forum.
*/
	@forum_id int,
	@newNbrToShow int
AS
UPDATE forum 
SET discs_to_show = @newNbrToShow
WHERE forum_id = @forum_id



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE SetTemplateLib
/*
 Used when an admin wants to change the conferences template set to another one
Lets set a template lib name for a meta id
*/
	@meta_id int , 
	 @newLibName varchar(50) 
AS
UPDATE TEMPLATES
SET template_lib = @newLibName
FROM conference c , conf_templates ct , templates t
WHERE t.template_id = ct.template_id
AND ct.conf_id = c.meta_id
AND c.meta_id = @meta_id



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE TestConfDb
AS
select 'Hurra Conferensen db svarar!'



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE UpdateDiscussionModifyDate
/* Updates the date when a discussion has had a new reply added to it.
*/
	@theDiscussionId int
AS
-- Lets start with calculate the archive date 
DECLARE @archive_days int
DECLARE @toDay datetime
DECLARE @archiveDay datetime
SELECT @toDay = GETDATE()
-- Lets get the nbr of days to archive
UPDATE DISCUSSION 
SET  discussion.last_mod_Date = GETDATE()
WHERE discussion.discussion_id =  @theDiscussionId



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE UpdateReply
/*
This function is used to update a replys header and text. used by  an administrator
*/
	@reply_id int,
	@header varchar(255),
	@text text
AS
UPDATE replies
	SET headline = @header , text = @text
	FROM replies rep
WHERE rep.reply_id = @reply_id



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE deleteConf
 @meta_id int 
AS
DELETE  from conference WHERE meta_id  = @meta_id



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE getArchiveDate
 @forum_id int,
 @retVal int
AS
 SELECT @retVal = archive_time
 FROM forum
 WHERE forum_id = @forum_id   
 RETURN @retVal



GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO



CREATE PROCEDURE getConference_metaId
 @meta_id int
AS
 SELECT meta_id
 FROM conference
 WHERE meta_id = @meta_id


GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

