<html>

<head>

<title>imCMS Adminstration Page</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">



<SCRIPT language=JavaScript>

<!--

function openHelp(id) {

	window.open('GetDoc?meta_id=' + id,'help','scrollbars=yes,width=650,height=570');

}

//-->

</SCRIPT >
<script language="JavaScript">
				<!--
				function checkInput(){
				var f = document.forms[0];
				var date1 = f.date1.value;
				var date2 = f.date2.value;
				var text = f.text.value;
  				if(date1>date2){
  					alert('Fel datum!') ;
  				}
else
{
f.add.value='add';
f.submit();

}
				}
				//-->
			  </script>

</head>



<body bgcolor="#FFFFFF">

<form method="post" action="AdminRandomTextsFile" name="AdminRandomTextsFile">

  <table width="300" border="0" cellspacing="0">
    <tr bgcolor="#333366"> 
      <td width="1%">&nbsp;</td>
      <td colspan="2" idth="98%"> 
        <div align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF" size="2">Administrate 
          #file# </font></b></div>
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="1%">&nbsp;</td>
      <td colspan="2" > 
        <div align="left"> 
          <hr>
        </div>
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="1%">&nbsp;</td>
      <td colspan="2" >Starting date (yymmdd) 
        <input type="text" name="date1" size="6" value="#date1#">
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="1%">&nbsp;</td>
      <td colspan="2" >Ending date &nbsp;(yymmdd)  
        <input type="text" name="date2" size="6" value="#date2#">
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="1%" rowspan="3">&nbsp;</td>
      <td colspan="2" >Text: 
	  <textarea cols="40" rows="5" name="text">#text#</textarea>
      </td>
      <td width="1%">&nbsp;

</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td colspan="2" align="right" > 
<input type="Hidden" name="add" Value="">
        <input type="button" name="addButton" value="Add" onclick="checkInput()">
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td colspan="2" align="center" > 
        <hr>
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="1%">&nbsp;</td>
      <td colspan="2" > 
        <select name="AdminFile" size="5" multiple>
          #options#
        </select>
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="1%">&nbsp;</td>
      <td align="left" >&nbsp; </td>
      <td align="right" nowrap> 
        <input type="submit" name="edit" value="Edit">
        <input type="submit" name="remove" value="Remove">
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="1%">&nbsp;</td>
      <td colspan="2" align="center" > 
        <hr>
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="1%">&nbsp;</td>
      <td align="center" colspan="2" >        
        <input type="submit" name="save" value="OK">
		<input type="submit" name="back" value="Cancel"><a href="GetDoc?meta_id=299" target="_blank" onClick="openHelp('299'); return false;">
		<img src="@imcmsimageurl@/se/helpimages/btn_help_round.gif" width="17" height="22" border="0" alt="Open help page"></a>&nbsp; 
      </td>
      <td width="1%">&nbsp;</td>
    </tr>
    <tr bgcolor="#bababa"> 
      <td width="1%">&nbsp;</td>
      <td colspan="2" >&nbsp;</td>
      <td width="1%">&nbsp;</td>
    </tr>
  </table>

  

  </form>

</body>

</html>

