<html>
<head>
<title>Question of the Day</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/imcms/css/mabra.css" type="text/css">
</head>

<body bgcolor="#999966" text="#000000">

<table border="0" bgcolor="#999966" cellpadding="0" cellspacing="0" width="100%" height="100%">
	<tr align="left" valign="top" bgcolor="#999966"> 
		<td colspan="3"><img src="/imcms/resource/rub_veckan.gif" width="200" height="77" alt="Question of the Day"></td>
	</tr>
	<tr align="left" valign="top" bgcolor="#999966"> 
		<td><img src="/imcms/resource/transpix.gif" width="6" height="6"></td>
		<td><span class="vitbrodtext">#question#</span><br><img src="/imcms/resource/transpix.gif" width="5" height="10"> 
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr align="left" valign="top"> 
					<td class="vitrubbe">YES #yesProcent#</td>
				</tr>
				<tr align="left" valign="top"> 
					<td><img src="/imcms/resource/transpix.gif" width="1" height="5"></td>
				</tr>
				<tr align="left" valign="top"> 
					<td class="vitrubbe">NO #noProcent#</td>
				</tr>
				<tr align="left" valign="top"> 
					<td><img src="/imcms/resource/transpix.gif" width="1" height="5"></td>
				</tr>
				<tr align="left" valign="top"> 
					<td class="vitbrodtext">Total number surveyed: #total#</td>
				</tr>
			</table>
			<br>
			<img src="/imcms/resource/transpix.gif" width="5" height="10"><br>
			<a href="#" onclick="parent.close();"><img src="/imcms/resource/kn_stang.gif" width="49" height="15" border="0" alt="Close"></a> 
		</td>
		<td><img src="/imcms/resource/transpix.gif" width="6" height="6"></td>
	</tr>
	<tr align="left" valign="top" bgcolor="#999966"> 
		<td><img src="/imcms/resource/transpix.gif" width="6" height="6"></td>
		<td><img src="/imcms/resource/transpix.gif" width="123" height="6"></td>
		<td><img src="/imcms/resource/transpix.gif" width="6" height="6"></td>
	</tr>
</table>

</body>
	</html>
