<html>
<head>
<title>Dagens Fråga</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#996666" text="#000000">

<table border="0" bgcolor="#996666" cellpadding="0" cellspacing="0" width="100%" height="100%">
	<tr align="left" valign="top" bgcolor="#996666"> 
		<td colspan="3"><img src="../../sv/fortunes/@imageurl@/question_mark.gif" width="200" height="77" alt="Veckans fr&aring;ga"></td>
	</tr>
	<tr align="left" valign="top" bgcolor="#996666"> 

		<td><img src="../../sv/fortunes/@imageurl@/transpix.gif" width="6" height="6"></td>
		<td>#question#<br><img src="../../sv/fortunes/@imageurl@/transpix.gif" width="5" height="10"> 

			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr align="left" valign="top"> 
					<td >JA&nbsp; #yesProcent#</td>
				</tr>
				<tr align="left" valign="top"> 

					<td><img src="../../sv/fortunes/@imageurl@/transpix.gif" width="1" height="5"></td>

				</tr>
				<tr align="left" valign="top"> 
					<td >NEJ #noProcent#</td>
				</tr>
				<tr align="left" valign="top"> 

					<td><img src="../../sv/fortunes/@imageurl@/transpix.gif" width="1" height="5"></td>

				</tr>
				<tr align="left" valign="top"> 
					<td>Antal svarande: #total#</td>
				</tr>
			</table>
			<br>

			<img src="../../sv/fortunes/@imageurl@/transpix.gif" width="5" height="10"><br>
      <a href="javascript:window.close();"><img src="../../sv/fortunes/@imageurl@/kn_close.gif" width="49" height="15" border="0" alt="St&auml;ng"></a> 
    </td>

		<td><img src="../../sv/fortunes/@imageurl@/transpix.gif" width="6" height="6"></td>

	</tr>
	<tr align="left" valign="top" bgcolor="#996666"> 

		<td><img src="../../sv/fortunes/@imageurl@/transpix.gif" width="6" height="6"></td>
		<td><img src="../../sv/fortunes/@imageurl@/transpix.gif" width="123" height="6"></td>
		<td><img src="../../sv/fortunes/@imageurl@/transpix.gif" width="6" height="6"></td>

	</tr>
</table>

</body>
	</html>
