<table border="0" cellspacing="0" cellpadding="0">
     <tr align="center" valign="top" bgcolor="#996666"> 
         <td colspan="3"><img src="../../sv/fortunes/@imcmsimageurl@/question_mark.gif" width="135" height="46"></td>
     </tr>
	<form name="weeklyQ" method="GET" action="../../sv/fortunes/@servleturl@/QuestionResult" target="_blank" style="background-color:#996666" onSubmit="checkChecked(); return false">
			  <script language="JavaScript">
				<!--
				function checkChecked() {
				  var f = document.forms.weeklyQ;
				  var text = f.question.value;
				  var thefile = f.infile.value;
				  for (var i = 0 ; i < f.answer.length ; ++i) {
				    if ( f.answer[i].checked ) {
  				      window.open('@servleturl@/QuestionResult?answer=' + f.answer[i].value + '&file=' + thefile ,'visa','width=250,height=300');
				      return ;
				    }
				  }
				  alert('You forgot to make a selection!') ;
				  return ;
				}
				//-->
			  </script>
	<tr align="left" valign="top" bgcolor="#996666"> 
         <td><img src="../../sv/fortunes/@imcmsimageurl@/transpix.gif" width="6" height="6"></td>
         <td> <p><span class="vitbrodtext">#question#<br></span></p>
			  <input type="hidden" name="question" value="#question#">
			  <input type="hidden" name="infile" value="#file#">
              <table width="100" border="0" cellspacing="0" cellpadding="0">
                	<tr align="left" valign="top"> 
                    	<td><span class="vitbrodtext">Yes</span>&nbsp; 
                        	<input type="radio" name="answer" value="yes" style="background-color:#996666">
                      	</td>
                        <td> <span class="vitbrodtext">No</span> 
                          	<input type="radio" name="answer" value="no" style="background-color:#996666">
                      	</td>
                    </tr>
			   </table>
               <br>
               
        <input type="image" src="kn_show_result.gif" width="104" height="15" border="0" alt="Display results"> 
         </td>
         <td><img src="../../sv/fortunes/@imcmsimageurl@/transpix.gif" width="6" height="6"></td>
    </tr>
	</form>
	<tr align="left" valign="top" bgcolor="#996666"> 
         <td><img src="../../sv/fortunes/@imcmsimageurl@/transpix.gif" width="6" height="6"></td>
         <td><img src="../../sv/fortunes/@imcmsimageurl@/transpix.gif" width="123" height="6"></td>
         <td><img src="../../sv/fortunes/@imcmsimageurl@/transpix.gif" width="6" height="6"></td>
    </tr>
</table>
<p>&nbsp;</p>